[2018-07-18 07:14] #1066 closed

[2018-07-18 07:17] gyllen commented on #972
Downloads of whole sequence are now possible through mailing support@mapillary.com

[2018-07-18 07:17] #972 closed

[2018-07-18 07:18] gyllen commented on #986
The way our system is now setup this is not possible. To achieve anonymity you can chose to upload through an Organization.

[2018-07-18 07:18] #986 closed

[2018-07-18 07:20] gyllen commented on #830
I added this to our idea box.

[2018-07-18 07:20] #830 closed

[2018-07-18 07:20] gyllen commented on #762
Sequence splitting is now done automatically

[2018-07-18 07:20] #762 closed

[2018-07-18 07:21] gyllen commented on #251
This is now fixed, closing

[2018-07-18 07:21] #251 closed

[2018-07-18 07:22] gyllen commented on #122
Check out the new mapillary_tools, they are better optimized https://github.com/mapillary/mapillary_tools

[2018-07-18 07:22] #122 closed

[2018-07-18 07:23] gyllen commented on #110
Filter is now implemented in the users profile

[2018-07-18 07:23] #110 closed

[2018-07-18 07:29] gyllen commented on #1578
GPX is no longer available. Please open a thread at http://forum.mapillary.com if this is still something that you want.

[2018-07-18 07:29] #1578 closed

[2018-07-18 07:30] gyllen commented on #1540
We now have a nearly `100%` accurate blurring algorithm. Eliminating needs for any game and mass reviewing of images. Checkout the detections games though, they are fun!

[2018-07-18 07:30] #1540 closed

[2018-07-18 07:31] gyllen commented on #1526
We are actively scoping this out, in the lab at the moment. But if it proves successful we will release it.

[2018-07-18 07:31] #1526 closed

[2018-07-18 07:32] gyllen commented on #1508
The new mapillary_tools should be much easier to use -> https://github.com/mapillary/mapillary_tools

[2018-07-18 07:32] #1508 closed

[2018-07-18 07:33] gyllen commented on #1407
Borders and lookups are tricky, we are improving them all the time but images on a border continuous to be a problem. At the moment (due to simplification of shapes) we do not have a great solution.

[2018-07-18 07:33] #1407 closed

[2018-07-18 07:34] gyllen commented on #1388
We have now removed this feature and are using automatic cuts instead.

[2018-07-18 07:34] #1388 closed

[2018-07-18 07:34] gyllen commented on #1332
`v2` is no longer in use. `v3` does not have the random feature though. Open a thread in https://forum.mapillary.com/ is you are still interested.

[2018-07-18 07:34] #1332 closed

[2018-07-18 07:35] gyllen commented on #1292
Currently not on the roadmap. The idea is to replace the whole oauth solution at some point and when we do we will mosdef add this feature.

[2018-07-18 07:35] #1292 closed

[2018-07-18 07:36] gyllen commented on #1279
We still have problems with borders and are working on improving, but due to simplification this might never be solved in full.

[2018-07-18 07:36] #1279 closed

[2018-07-18 07:38] gyllen commented on #1172
HTTPS has been redone from scratch and should now be better. Closing.

[2018-07-18 07:38] #1172 closed

[2018-07-18 07:41] gyllen commented on #2080
Closing this, since no great solution at hand. Zooming in helps though, it will give you the accurate image.

[2018-07-18 07:41] #2080 closed

[2018-07-18 07:42] gyllen commented on #1999
We no longer have this issue.

[2018-07-18 07:42] #1999 closed

[2018-07-18 07:45] gyllen commented on #1951
Now fixed.

[2018-07-18 07:45] #1951 closed

[2018-07-18 07:45] gyllen commented on #1894
We no longer have this profile view

[2018-07-18 07:45] #1894 closed

[2018-07-18 07:46] gyllen commented on #1889
The only email we send at the moment is now when the images are fully processed.

[2018-07-18 07:46] #1889 closed

[2018-07-18 07:46] gyllen commented on #1870
We no longer have this view.

[2018-07-18 07:46] #1870 closed

[2018-07-18 07:48] gyllen commented on #1851
This is fixed since a long time ago (we even have a new interface now :) )

[2018-07-18 07:48] #1851 closed

[2018-07-18 07:49] gyllen commented on #1839
We now have a solid traffic sign detection. Checkout this blog post of the latest and greatest https://blog.mapillary.com/update/2018/06/15/global-sign.html

[2018-07-18 07:49] #1839 closed

[2018-07-18 07:50] gyllen commented on #1837
`v2` is no longer an active version of the API

[2018-07-18 07:50] #1837 closed

[2018-07-18 07:50] gyllen commented on #1824
This is now fixed (since long)

[2018-07-18 07:50] #1824 closed

[2018-07-18 07:51] gyllen commented on #1805
To make it easy for everyone we now store everything in lowercase and also lowercase your input before its compared.

[2018-07-18 07:51] #1805 closed

[2018-07-18 07:52] gyllen commented on #1781
`v2` is no longer an active API. Closing.

[2018-07-18 07:52] #1781 closed

[2018-07-18 07:52] gyllen commented on #1760
`v2` is no longer an active API. Check out the new documentation at https://www.mapillary.com/developer

[2018-07-18 07:52] #1760 closed

[2018-07-18 07:53] gyllen commented on #1758
Closing since open in public repository mapillary_tools.

[2018-07-18 07:53] #1758 closed

[2018-07-18 07:54] gyllen commented on #1753
`v2` is no longer active, `v3` should solve this problem for you.

[2018-07-18 07:54] #1753 closed

[2018-07-18 07:57] gyllen commented on #1747
We adopted the `click-move-click` in the tagging editor and will probably do so for the new blur editor too (it's currently disabled since we redid how blurring works, but very few complaints since it seems to be performing really well). The blur editor will come back though since we still need the ability to blur.

[2018-07-18 07:57] #1747 closed

[2018-07-18 07:58] gyllen commented on #1721
`v2` are no longer in use. Check out mapillary-js for viewing images easily.

[2018-07-18 07:58] #1721 closed

[2018-07-18 07:58] gyllen commented on #1684
@nickplesha Reassigning to you for check.

[2018-07-18 07:59] gyllen commented on #1665
Traffic signs are now completely redone. This issue is no longer valid.

[2018-07-18 07:59] #1665 closed

[2018-07-18 08:01] gyllen commented on #1644
This request now returns a `401`

[2018-07-18 08:01] #1644 closed

[2018-07-18 08:04] gyllen commented on #1645
@ptpt If applicable please file internally.

[2018-07-18 08:05] gyllen commented on #2081
@Skippern New mapillary_tools should be much better at handling this.

[2018-07-18 08:05] #2081 closed

[2018-07-18 08:07] gyllen commented on #2079
@pbb72 The behavior on the website has by now changed to something that is much closer to what you suggested.

[2018-07-18 08:07] #2079 closed

[2018-07-18 08:07] gyllen commented on #2050
@martinskans Reassigning to you for decision

[2018-07-18 08:08] gyllen commented on #2028
This is no longer an issue. Since 2016 the notifications settings system has been updated.

[2018-07-18 08:08] #2028 closed

[2018-07-18 08:09] gyllen commented on #2228
@nickplesha Reassigned to you for decision

[2018-07-18 08:11] gyllen commented on #2227
Deduplication is on our list, but not on the roadmap. Closing here, but please know that its still on our radar.

[2018-07-18 08:11] #2227 closed

[2018-07-18 08:12] gyllen commented on #2223
Aaand we now have full pano support (since a couple of years back). The viewer will now load higher resolution tiles when you zoom in.

[2018-07-18 08:12] #2223 closed

[2018-07-18 08:13] gyllen commented on #2221
Algorithms are improved and search now works as intended

[2018-07-18 08:13] #2221 closed

[2018-07-18 08:14] gyllen commented on #2220
No plans for an URL shortener. Please open a thread in https://forum.mapillary.com if this is still an issue to you.

[2018-07-18 08:14] #2220 closed

[2018-07-18 08:15] gyllen commented on #2204
Closing since blurring is being redesigned. We will take this issue into account.

[2018-07-18 08:15] #2204 closed

[2018-07-18 08:16] gyllen commented on #2199
@nickplesha Reassigning to you for decision

[2018-07-18 08:16] ptpt commented on #1645
Thanks, @nicolas17. This is very useful. Filed internally.

[2018-07-18 08:16] #1645 closed

[2018-07-18 08:17] gyllen commented on #2189
We do now offer the ability to switch to OSM as basemap. If this does not solve your issue consider opening up a thread in https://forum.mapillary.com

[2018-07-18 08:17] #2189 closed

[2018-07-18 08:18] gyllen commented on #2188
@nickplesha Reassigning to you for decision.

[2018-07-18 08:18] gyllen commented on #2143
HTTPS is now everywhere

[2018-07-18 08:18] #2143 closed

[2018-07-18 08:21] gyllen commented on #2104
Links are now fixed

[2018-07-18 08:21] #2104 closed

[2018-07-18 08:22] gyllen commented on #2098
At the moment we have no plans to adding this feature. If you still miss it please open a thread in https://forum.mapillary.com

[2018-07-18 08:22] #2098 closed

[2018-07-18 08:35] gyllen commented on #2253
Warning is added

[2018-07-18 08:35] #2253 closed

[2018-07-18 08:36] gyllen commented on #2304
The messages should now be clearer.

[2018-07-18 08:36] #2304 closed

[2018-07-18 08:37] gyllen commented on #2356
@nickplesha Reassigning to you for checking

[2018-07-18 08:38] gyllen commented on #2947
@pbb72 This is intended

[2018-07-18 08:38] #2947 closed

[2018-07-18 09:22] nickplesha commented on #2356
This has been fixed, thanks for reporting!

[2018-07-18 09:22] #2356 closed

[2018-07-18 09:24] martinskans commented on #2050
Looking into this a bit I find that we have some limitations - we are using Amazon's elastic load balancers which do not have support for adding headers so we have to add the headers for all underlying service endpoints (external domains) as it is now. I started by adding HSTS to the https://mapillary.com entrypoint which is basically just a redirect to www and I'm working on at least getting that

[2018-07-18 09:29] nickplesha commented on #2228
We've made some performance improvements to the uploader, hopefully this makes the performance not an issue anymore.

[2018-07-18 09:29] #2228 closed

[2018-07-18 09:32] nickplesha commented on #2188
This idea has been reported a few times and is on our list of future improvements for the uploader. We're tracking the issue internally so please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s complete.

[2018-07-18 09:32] #2188 closed

[2018-07-18 09:37] nickplesha commented on #2199
I think it would be difficult to change that part of the upload at this time so we'll keep the behaviour as it is now.

[2018-07-18 09:37] #2199 closed

[2018-07-18 10:35] martinskans commented on #2050
The api (a.mapillary.com) has hsts enabled now and I've talked to the web team about adding it to www so this should be resolved shortly for the main public entry points.

[2018-07-18 11:37] gyllen commented on #2050
Closing since moved internaly

[2018-07-18 11:37] #2050 closed

[2018-07-18 14:55] ulikoehler commented on #122
@gyllen Yes, I didnt encounter any of those issues with recent versions of these tools. They work well for me.

[2018-07-19 06:20] ybkuang commented on #2784
The [update](https://blog.mapillary.com/update/2018/06/15/global-sign.html) has been deployed.

[2018-07-19 06:20] #2784 closed

[2018-07-19 06:29] ybkuang commented on #97
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 06:29] #97 closed

[2018-07-19 06:30] #210 closed

[2018-07-19 06:33] ybkuang commented on #224
@Lesko987 As @richlv suggested, [Meili](http://blog.mapillary.com/update/2016/07/14/meili.html) is one of our efforts to address this issue. Let us know if you have more ideas on this.

This is a similar issue as https://github.com/mapillary/mapillary_issues/issues/97.

Also an update, mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will impo

[2018-07-19 06:33] #224 closed

[2018-07-19 06:36] ybkuang commented on #315
@sabas as you may seen, we have changed our way of displaying the transitions between the images. I will close this issue. Let us know if you have more suggestions.

[2018-07-19 06:36] #315 closed

[2018-07-19 06:37] ybkuang commented on #320
We added `sequence_bot` etc. now.

[2018-07-19 06:37] #320 closed

[2018-07-19 06:38] ybkuang commented on #341
The blurring algorithm is much better now with our latest [release](https://blog.mapillary.com/update/2018/04/19/accurate-privacy-blurring-at-scale.html).

[2018-07-19 06:38] #341 closed

[2018-07-19 06:43] ybkuang commented on #439
@GITNE Thanks for the suggestions. We will consider this as feature for the future release. Sorry about the delay.

mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 06:47] ybkuang commented on #506
I will close this now since the issue has been resolved in the discussions. Thanks!

[2018-07-19 06:47] #506 closed

[2018-07-19 06:55] ybkuang commented on #531
We've implemented a rotation classification algorithm in our backend. It is a feature request to connect the results with a change request for user approval.

mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 06:57] ybkuang commented on #547
We have decided to disabled reverse geocoding. One will need to use other tools to solve this.

[2018-07-19 06:57] #547 closed

[2018-07-19 06:57] ybkuang commented on #555
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 06:58] ybkuang commented on #611
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 07:00] ybkuang commented on #635
With the new [release](https://blog.mapillary.com/update/2018/04/19/accurate-privacy-blurring-at-scale.html), the blurring has been improved. I will close this now. If you find more issues, let's continue discussing in the forum.

[2018-07-19 07:00] #635 closed

[2018-07-19 07:03] ybkuang commented on #638
Thanks for the suggestion @de-vries. Let's continue the discussions in the forum.

mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 07:05] ybkuang commented on #639
There is a [paper](https://arxiv.org/pdf/1606.07415.pdf) on this recently.

mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 07:07] ybkuang commented on #648
@Stefal The sequence bot does not correct the angles anymore. Please report back if the issue remains.

[2018-07-19 07:07] #648 closed

[2018-07-19 07:08] ybkuang commented on #722
Referring this to #531

[2018-07-19 07:08] #722 closed

[2018-07-19 07:09] ybkuang commented on #751
This should be resolved by the latest [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html). Please let us know if the issue persists.

[2018-07-19 07:09] #751 closed

[2018-07-19 07:38] ybkuang commented on #770
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 07:43] ybkuang commented on #1104
This should be improved by the new [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection.

[2018-07-19 07:43] #1104 closed

[2018-07-19 11:35] paulinus commented on #579
Small update on this: since we started segmenting the images with semantic labels, we now know what areas of the images are covered by the dashboards, car hoods and such.

Because we are already finding and tagging these areas I'll close this issue.

The issue of hiding those parts in the viewer is still unsolved though. We have no plans on cropping the images but we could tell the viewer to start

[2018-07-19 11:35] #579 closed

[2018-07-19 11:39] paulinus commented on #982
Closing this issue now that mapillary_issues is no longer an active repository and that the problem is related to an, now old, version of firefox.

[2018-07-19 11:39] #982 closed

[2018-07-19 11:46] paulinus commented on #1143
mapillary_issues is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 12:10] paulinus commented on #1178
We have not done important changes in the video uploader in a long while. It is still running on the legacy site. We have no plans for updating it until we do a newer version.

Having more synchronization points will be a great addition to a newer version. We will keep track of the suggestion internally now that mapillary_issues is no longer an active repository. Thanks for the patience.

[2018-07-19 12:10] #1178 closed

[2018-07-19 12:19] paulinus commented on #1234
Closing this since the SfM algorithms that we run have changed since then. Many of the reported problems have been solved or improved even if some remain. We continue to improve and rerun the reconstruction algorithms globally to progressively reduce the number of misalignments.

[2018-07-19 12:19] #1234 closed

[2018-07-19 12:20] paulinus commented on #1260
You got it!

https://blog.mapillary.com/update/2017/12/11/mapillaryjs-sequence-playback-speed-direction.html

[2018-07-19 12:20] #1260 closed

[2018-07-19 12:38] paulinus commented on #1354
Some time ago we started [filtering out clouds and other potentially moving objects](https://blog.mapillary.com/tech/2017/07/26/improving-3d-reconstruction-with-semantic-understanding.html) when doing reconstructions.

This fixed the random orientations problem and you no longer get side-way arrows when you are actually moving forward.

Kansas is still a challenging place for visual reconstruction

[2018-07-19 12:38] #1354 closed

[2018-07-19 12:39] #1306 closed

[2018-07-19 12:41] paulinus commented on #1462
We got to do this, and it improved the reconstructions in many places. It was a good idea and i'm very happy that we got to implement it. Thanks @nicolas17
https://blog.mapillary.com/tech/2017/07/26/improving-3d-reconstruction-with-semantic-understanding.html

[2018-07-19 12:41] #1462 closed

[2018-07-19 12:44] paulinus commented on #1496
The arrows improved with the latest reconstruction algorithms; no wrong directions anymore. Still, some missing when the distance between images is large but that is to be expected.

[2018-07-19 12:44] #1496 closed

[2018-07-19 12:52] paulinus commented on #1659
With the latest reconstruction algorithms, the reversing of the direction does not happen anymore. Previous versions were too optimistic finding correspondences and interpreting the motion. We are now more strict which results in no motion prediction for this sequence, since the overlap between the images is very small.

I agree that seeing the interpreted position and orientation of the images wo

[2018-07-19 12:52] #1659 closed

[2018-07-19 12:58] paulinus commented on #1782
With the latest reconstruction algorithms, we are ignoring sky, clouds and other potentially moving objects. This improved the transitions in all sequences mentioned here.

The viewer, mapillary-js, already supports a mode without transitions but we have decided not to add such option to the web for now.

[2018-07-19 12:58] #1782 closed

[2018-07-19 13:14] paulinus commented on #1908
I'm going to close this since mapillary_issues is no longer an active repository.

As of now, the reconstruction in the underground is still not good enough. I'll keep track of the issue internally since we are reviewing the calibrations for many cameras and this is a good test for the Yi camera.

[Other captures](https://www.mapillary.com/app/?focus=photo&pKey=QP3sg3t0nMx4TQJV2OsYXw&lat=47.083006

[2018-07-19 13:14] #1908 closed

[2018-07-19 13:21] paulinus commented on #1944
As @echeloni2p mentioned, there is a compromise to be made between requiring enough GPS precision and getting enough images.
The apps record the GPS precision so we can always discard the images with bad GPS latter.
When aligning images, we use the reported GPS accuracy to give more weight to the images with good GPS.

[2018-07-19 13:21] #1944 closed

[2018-07-19 13:21] paulinus commented on #1911
solved

[2018-07-19 13:21] #1911 closed

[2018-07-19 13:33] paulinus commented on #2009
Different cameras seem to be handling the metadata in different ways which make it hard for us to rectify the image based on the metadata.

We are currently working on detecting the alignment directly by having a neural network look at them.

Also worth noting that the problem exists also for regular, non-360 images. As of now, the viewer aligns the view to the current picture's position. Once we

[2018-07-19 13:33] paulinus commented on #2009
mapillary_issues is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 13:40] paulinus commented on #2138
With the current reconstruction method that [ignores sky and moving objects](https://blog.mapillary.com/tech/2017/07/26/improving-3d-reconstruction-with-semantic-understanding.html) the navigation now works great for this sequence.

[2018-07-19 13:40] #2138 closed

[2018-07-19 13:46] paulinus commented on #2255
Yes, every time new images arrive, we match them against existing images and this can create new connections and improve the navigation of the previous images.

You can now see that after adding more sequences to the same corner, you can properly navigate between them.

[2018-07-19 13:46] #2255 closed

[2018-07-19 13:47] nicolas17 commented on #1462
I hadn't seen that blog post. The results are even better than I expected :heart:

[2018-07-19 14:03] paulinus commented on #2938
@GITNE the traffic signs on that sequence are online now. We are in the middle of a worldwide rerun of traffic sign detection which might have caused the delay. Sorry for the inconvenience.

I'll keep track of the offset sign that you reported. Need to investigate what happened there.

I'll also investigate the reading of the focal length metadata. I've tested opensfm and it does not read any foca

[2018-07-19 14:03] #2938 closed

[2018-07-19 14:54] #1143 closed

[2018-07-19 14:54] #638 closed

[2018-07-19 14:54] #611 closed

[2018-07-19 14:55] #439 closed

[2018-07-19 16:42] ybkuang commented on #788
This has now been fixed with the new [release ](https://blog.mapillary.com/update/2017/12/11/mapillaryjs-sequence-playback-speed-direction.html). Thanks for the suggestions.

[2018-07-19 16:42] #788 closed

[2018-07-19 16:43] ybkuang commented on #811
This is related to https://github.com/mapillary/mapillary_issues/issues/770. Closing this one.

[2018-07-19 16:43] #811 closed

[2018-07-19 16:44] ybkuang commented on #857
Windows phone app is no longer maintained. @oscarlorentzon Let's revisit in the future ; ) Good old days

[2018-07-19 16:44] #857 closed

[2018-07-19 16:47] ybkuang commented on #854
We have now change the validation interface in this [release](https://blog.mapillary.com/update/2017/10/12/human-in-the-loop.html), which resolves this issue.

[2018-07-19 16:47] #854 closed

[2018-07-19 16:49] ybkuang commented on #883
Most of these signs are added in the latest [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html). You can file more requests in the future and we need to find a better way to group such request together.

[2018-07-19 16:49] #883 closed

[2018-07-19 16:50] ybkuang commented on #894
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 16:50] ybkuang commented on #906
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 19:47] PeeWeeOSM commented on #788
Hi  Yubin

If I look at this sequence and use the play function it still goes the
wrong way. So I don't think it is fixed.

https://www.mapillary.com/app/?lat=52.44880150003394&lng=9.92972975007524&z=19.68796007924884&focus=photo&pKey=iI2D0uP_N_Y8DPWa2WmaNA

2018-07-19 18:42 GMT+02:00 Yubin Kuang <notifications@github.com>:

[2018-07-19 21:30] ybkuang commented on #1028
I will close for now. If this issue persists, please report back to us @pyrog!

[2018-07-19 21:30] #1028 closed

[2018-07-19 21:33] ybkuang commented on #1041
@it4workflow @AllenGraetz I have opened an internal issues to reprocess images with wrong timestamps. We will bundle it with other processing later on to ensure that it is cost effective. Sorry for the delay.

[2018-07-19 21:33] #1041 closed

[2018-07-19 21:39] ybkuang commented on #1037
@trolleway We cannot do much to fix this since the data is wrong. I will close this for now. Please report back if you have similar issues again.

[2018-07-19 21:39] #1037 closed

[2018-07-19 21:41] ybkuang commented on #1036
@eugensim mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 21:43] ybkuang commented on #1067
@atpl-pilot This looks good now. Closing

[2018-07-19 21:43] #1067 closed

[2018-07-19 21:45] ybkuang commented on #1070
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 21:45] ybkuang commented on #1084
This should be fixed now. Closing.

[2018-07-19 21:45] #1084 closed

[2018-07-19 21:47] ybkuang commented on #1108
@shlublu closing this since it has been resolved and we have improved on our notification system.

[2018-07-19 21:47] #1108 closed

[2018-07-19 21:48] ybkuang commented on #1109
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-19 21:51] ybkuang commented on #1116
@AllenGraetz
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

mapillary_issues is no longer an active repository.

[2018-07-19 21:51] #1116 closed

[2018-07-19 21:52] ybkuang commented on #1136
This should be resolved now. Closing

[2018-07-19 21:52] #1136 closed

[2018-07-19 21:54] ybkuang commented on #1192
@de-vries we no longer do undistorion on the images directly. We're working on enabling distortion in the viewer instead. Closing this.

[2018-07-19 21:54] #1192 closed

[2018-07-19 21:55] ybkuang commented on #1319
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-19 21:55] #1319 closed

[2018-07-19 22:06] ybkuang commented on #1323
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-19 22:06] #1323 closed

[2018-07-19 22:08] ybkuang commented on #1331
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-19 22:08] #1331 closed

[2018-07-19 23:56] ybkuang commented on #1343
@richlv It is nice idea to have simple supervision/feedback like a simple click. However, implementing will requires further research from our side. Given that the current blurring has been improved a lot with the recent release, I will mark this as an idea and revisit later. Thanks for the suggestion.

[2018-07-19 23:56] #1343 closed

[2018-07-19 23:57] ybkuang commented on #1425
I will close this for now. If you encounter this again, please let us know @pnorman!

[2018-07-19 23:57] #1425 closed

[2018-07-19 23:58] ybkuang commented on #1413
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-19 23:59] ybkuang commented on #1363
This has been resolved in the new website. Closing.

[2018-07-19 23:59] #1363 closed

[2018-07-19 23:59] #1413 closed

[2018-07-20 00:00] ybkuang commented on #1440
This should be improved by the new [release](https://blog.mapillary.com/update/2018/04/19/accurate-privacy-blurring-at-scale.html) for privacy blurring. Please let us know if the issues persists.

[2018-07-20 00:00] #1440 closed

[2018-07-20 00:01] ybkuang commented on #1441
This should be resolved by the new [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:01] #1441 closed

[2018-07-20 00:02] ybkuang commented on #1465
This has been fixed in the new release. Closing.

[2018-07-20 00:02] #1465 closed

[2018-07-20 00:02] ybkuang commented on #1522
This has been resolved by the new [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:02] #1522 closed

[2018-07-20 00:07] ybkuang commented on #1551
In the new tool release, there is an option to cut sequence based on time as well. Closing

[2018-07-20 00:07] #1551 closed

[2018-07-20 00:08] ybkuang commented on #1687
I just checked and it looks ok now I think. Please let us know if it is not the case @pbb72

[2018-07-20 00:08] #1687 closed

[2018-07-20 00:13] ybkuang commented on #1741
This is an issue related to the app which should be fixed now. Please report back if you encounter similar issues.

[2018-07-20 00:13] #1741 closed

[2018-07-20 00:13] ybkuang commented on #1728
@kaitu I think there is no issue of transitioning back/forth between the two sequences. But it is a bit tricky to find out why the sequence is cut anymore. Please let us know you encounter similar issues later.

[2018-07-20 00:13] #1728 closed

[2018-07-20 00:14] ybkuang commented on #1800
We have decided to disabled undistorting images directly. We are currently working on a way to enable undistortion in the viewer instead. Closing this.

[2018-07-20 00:14] #1800 closed

[2018-07-20 00:16] ybkuang commented on #1833
@JLZIMMERMANN It is difficult for us (in the backend) to choose the perfered datetime from multiple fields in exif without additional information. I will close this for now.

[2018-07-20 00:16] #1833 closed

[2018-07-20 00:16] ybkuang commented on #1898
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:16] #1898 closed

[2018-07-20 00:16] ybkuang commented on #1903
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:16] #1903 closed

[2018-07-20 00:18] ybkuang commented on #1843
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:18] #1843 closed

[2018-07-20 00:18] ybkuang commented on #1971
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:18] #1971 closed

[2018-07-20 00:20] ybkuang commented on #2074
This has been resolved by the new [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:20] #2074 closed

[2018-07-20 00:20] #2016 closed

[2018-07-20 00:22] ybkuang commented on #2076
Related to https://github.com/mapillary/mapillary_issues/issues/531 on better UI/proposals for rotation detection.

mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:22] #2076 closed

[2018-07-20 00:22] ybkuang commented on #2142
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:22] #2142 closed

[2018-07-20 00:23] #2213 closed

[2018-07-20 00:24] ybkuang commented on #2235
Should be fixed now. We are also working on making the sequence splitting process more robust. I will close this for now. Please let us know if the issues reappears.

[2018-07-20 00:24] #2235 closed

[2018-07-20 00:26] ybkuang commented on #2237
We currently cut the sequences if the distance is large than 300 meters. We will revisit if we should use a small threshold.

mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:26] #2237 closed

[2018-07-20 00:27] ybkuang commented on #2256
This has been resolved by the new [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:27] #2256 closed

[2018-07-20 00:28] ybkuang commented on #2261
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:28] #2261 closed

[2018-07-20 00:33] ybkuang commented on #2318
@eugensim We unfortunately cannot prioritize this in the near feature. But thanks for the suggestions. I made a note so that we can revisit later.

[2018-07-20 00:33] #2318 closed

[2018-07-20 00:33] ybkuang commented on #2351
This has been resolved by the recent [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:33] #2351 closed

[2018-07-20 00:34] ybkuang commented on #531
Related to https://github.com/mapillary/mapillary_issues/issues/531

mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:34] #531 closed

[2018-07-20 00:37] ybkuang commented on #2652
This should be improved by the recent [release](https://blog.mapillary.com/update/2018/04/19/accurate-privacy-blurring-at-scale.html) for privacy blurring. Please let us know if the issues persists.

You can see that the manual blurs help with the improvement of our algorithm.

[2018-07-20 00:37] #2652 closed

[2018-07-20 00:37] ybkuang commented on #2463
This has been resolved by the recent [release](https://blog.mapillary.com/update/2017/10/12/human-in-the-loop.html) for human in the loop.

[2018-07-20 00:37] #2463 closed

[2018-07-20 00:38] ybkuang commented on #2620
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:38] #2620 closed

[2018-07-20 00:38] ybkuang commented on #2365
Related to https://github.com/mapillary/mapillary_issues/issues/531..

mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:38] #2365 closed

[2018-07-20 00:39] ybkuang commented on #2679
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:39] #2679 closed

[2018-07-20 00:40] ybkuang commented on #2730
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-20 00:40] #2730 closed

[2018-07-20 00:41] ybkuang commented on #2733
This has been resolved by the recent [release](https://blog.mapillary.com/update/2018/06/15/global-sign.html) for traffic sign detection. Please let us know if the issues persists.

[2018-07-20 00:41] #2733 closed

[2018-07-20 01:24] ybkuang commented on #2749
@gregoryng Thanks for the suggestions. I am moving this issue to mapillary_tools https://github.com/mapillary/mapillary_tools/issues/264 and will work on a hotfix soon.

[2018-07-20 01:25] #2749 closed

[2018-07-20 01:29] ybkuang commented on #788
@PeeWeeOSM You can actually now play the sequence backwards in time. With that, the direction will be ok. Take a look at the [blogpost](https://blog.mapillary.com/update/2017/12/11/mapillaryjs-sequence-playback-speed-direction.html).

[2018-07-20 01:31] ybkuang commented on #788
![image](https://user-images.githubusercontent.com/5370656/42978458-37e23392-8bcd-11e8-83f4-99387ea0750b.png)

Click the rabbit, and choose the double arrows on the far left will enable reverse play order.

[2018-07-20 07:19] gyllen commented on #2316
Added to idea box for improvements of edits

[2018-07-20 07:19] #2316 closed

[2018-07-20 07:19] gyllen commented on #2299
Since no answer closing

[2018-07-20 07:19] #2299 closed

[2018-07-20 07:21] gyllen commented on #2406
Changesets should now go through when they are approved

[2018-07-20 07:21] #2406 closed

[2018-07-20 07:21] gyllen commented on #2390
Fixed

[2018-07-20 07:21] #2390 closed

[2018-07-20 07:21] #2377 closed

[2018-07-20 07:22] gyllen commented on #2367
Splitting are now a solid feature, closing

[2018-07-20 07:22] #2367 closed

[2018-07-20 07:23] gyllen commented on #2128
Added to idea box on how to show dates

[2018-07-20 07:23] #2128 closed

[2018-07-20 07:24] gyllen commented on #2455
@nickplesha Moving to you for decision

[2018-07-20 07:24] gyllen commented on #2364
@nickplesha Moving to you for investigation (if fixed or now)

[2018-07-20 07:25] gyllen commented on #2592
Adding a client_id box is now redesigned

[2018-07-20 07:25] #2592 closed

[2018-07-20 07:25] gyllen commented on #2524
.io is no longer a domain that we use

[2018-07-20 07:25] #2524 closed

[2018-07-20 08:04] martinskans commented on #2419
This is probably an old issue that no longer applied (since the api.mapillary.com domain given doesn't even exist anymore), but I've made sure the cert for images.mapillary.com is correctly updated in any case.

[2018-07-20 08:04] #2419 closed

[2018-07-20 08:40] nickplesha commented on #2364
The uploaded image filename still contains the original filename (with some metadata added) and can be used during processing.

[2018-07-20 08:40] #2364 closed

[2018-07-20 08:47] nickplesha commented on #2455
We're continually improving the performance and memory usage of the uploader. This is an issue we're tracking internally and we will be working on it in the future.

[2018-07-20 08:47] #2455 closed

[2018-07-20 09:27] peterneubauer commented on #2858
Florida is now working, looking at Norway ...

[2018-07-20 09:31] #1933 closed

[2018-07-20 09:31] peterneubauer commented on #2176
Closing. Too old.

[2018-07-20 09:31] #2176 closed

[2018-07-20 09:31] peterneubauer commented on #1995
Let's continue the discussion on the Forum and close this.

[2018-07-20 09:31] #1995 closed

[2018-07-20 09:32] #657 closed

[2018-07-20 09:32] peterneubauer commented on #219
closing, done.

[2018-07-20 09:32] #219 closed

[2018-07-20 09:33] peterneubauer commented on #627
This should be done.

[2018-07-20 09:33] #627 closed

[2018-07-20 09:33] peterneubauer commented on #1959
Should not be a problem anymore.

[2018-07-20 09:33] #1959 closed

[2018-07-20 09:33] peterneubauer commented on #1942
Done.

[2018-07-20 09:33] #1942 closed

[2018-07-20 09:35] peterneubauer commented on #2262
Let's move the discussion to the forum.

[2018-07-23 03:08] katrinhumal commented on #2863
...And we've actually just pushed an update so hopefully, the message is clearer now. :)

[2018-07-24 14:33] ybkuang commented on #2741
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 14:33] ybkuang commented on #2429
I will close this for now since it is related to the metadata of the images.

[2018-07-24 14:33] #2429 closed

[2018-07-24 14:35] ybkuang commented on #2276
I will close this now. Please report back if it reappears.  Thanks @jotpe @nicolas17

[2018-07-24 14:35] #2276 closed

[2018-07-24 14:45] ybkuang commented on #2250
@jotpe The direction of the image is dependent on the compass angle in the metadata of the images. Once our processing is run, it will be replaced with the data derived from our 3D reconstruction pipeline. However, the derived data from 3D reconstruction might not always been correct, so there can be some errors in case where the image sets are difficult for 3D reconstruction to work (i.e. when th

[2018-07-24 14:45] #2250 closed

[2018-07-24 14:46] ybkuang commented on #2239
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 14:47] ybkuang commented on #2148
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 14:47] ybkuang commented on #2121
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 14:47] ybkuang commented on #2065
Closing this in favor of maillary-js.

[2018-07-24 14:47] #2065 closed

[2018-07-24 14:49] ybkuang commented on #2010
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-24 14:49] #2010 closed

[2018-07-24 14:51] ybkuang commented on #1910
Closing this in favor of the mapillary-js issue.

[2018-07-24 14:51] #1910 closed

[2018-07-24 14:51] ybkuang commented on #1829
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 14:53] ybkuang commented on #1451
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-24 14:53] #1451 closed

[2018-07-24 15:14] ybkuang commented on #1338
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-24 15:14] #1338 closed

[2018-07-24 15:14] ybkuang commented on #1247
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-24 15:14] #1247 closed

[2018-07-24 15:14] ybkuang commented on #1278
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-07-24 15:14] #1278 closed

[2018-07-24 15:15] ybkuang commented on #1326
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-07-24 15:33] pbb72 commented on #1687
More than 2 years after reporting, yeah by now I have manually corrected that sequence. (All photos are almost perfectly positioned, in 2015 I did not have a phone with so good GPS reception, so it is clear to me I have repositioned them.)

[2018-07-24 15:48] pbb72 commented on #811
Not really related. #770 is about photos that are not perfectly horizontal (like 5-10 degrees off). The issue here is about incorrect rotation of the photo itself, in multiples of 90 degrees. (Most probably because of incorrect EXIF tags.) Two very different issues.

[2018-07-24 15:53] pbb72 commented on #2947
Then why not just replace them with one "Continue" button? This is confusing.

[2018-07-24 15:56] gyllen commented on #1687
@pbb72 Yeah sorry about that, at least we got to checking it huh, ;). BTW thanks for reporting all of the issues here over the years. It has really helped us in the development team!

[2018-07-24 15:58] gyllen commented on #2947
@pbb72 Yeah its just what we decided on after user testing, problem was that some people were not comfortable with continue if they did not want to make the changes.

[2018-07-24 16:19] pbb72 commented on #2080
@gyllen No probs, this issue was really with the old interface. Should have been closed when the new interface launched :-)

[2018-07-24 19:38] gyllen commented on #2831
@nickplesha Reassigned to you for decision

[2018-07-24 19:39] gyllen commented on #2832
Added to feedback box for redesign of upload API

[2018-07-24 19:39] #2832 closed

[2018-07-24 19:39] gyllen commented on #2868
Closing since `implicit` should be used (for now)

[2018-07-24 19:39] #2868 closed

[2018-07-24 19:41] gyllen commented on #2935
This will improve after our latests database upgrade, we are currently working on recovering. After that the goal for this quarter is that _all_ images should be processed within 30 minutes leading to much less emails.

[2018-07-24 19:41] #2935 closed

[2018-07-24 19:41] #2941 closed

[2018-07-24 19:41] gyllen commented on #2948
Closing since duplicate

[2018-07-24 19:43] gyllen commented on #2925
@ybkuang Reassigning to you for explaining

[2018-07-24 19:44] gyllen commented on #2290
@nickplesha Reassigning to you for decision

[2018-07-24 19:44] gyllen commented on #2249
old issue, closing

[2018-07-24 19:44] #2249 closed

[2018-07-24 19:45] gyllen commented on #2124
Added to idea box around filtering

@angelday FYI

closing

[2018-07-24 19:45] #2124 closed

[2018-07-24 19:46] gyllen commented on #1974
Added to idea box of better profiles

@angelday FYI

closing

[2018-07-24 19:46] #1974 closed

[2018-07-24 19:46] gyllen commented on #1244
@ptpt Can you add this as an issue internally (if its not already in `V3`) and close when thats done

[2018-07-24 19:47] gyllen commented on #1184
Added to idea box around better profile

@angelday FYI

closing

[2018-07-24 19:47] #1184 closed

[2018-07-24 19:47] gyllen commented on #2274
@peterneubauer Should be in `V3` by now

closing

[2018-07-24 19:47] #2274 closed

[2018-07-24 19:51] gyllen commented on #2298
No other changes on this, for larger uploads `mapillary_tools` is the recommendation.

[2018-07-24 19:51] #2298 closed

[2018-07-24 19:51] gyllen commented on #2301
Added to idea box for video uploads

[2018-07-24 19:51] #2301 closed

[2018-07-24 19:53] gyllen commented on #2425
This is API related, we are currently working on throttling our backend so you will not experience this

Closing

[2018-07-24 19:53] #2425 closed

[2018-07-24 19:59] gyllen commented on #2643
Closing since these are updated over time

@peterneubauer Still make a note

[2018-07-24 19:59] #2643 closed

[2018-07-24 20:00] gyllen commented on #2676
Closing since `v1` is no longer in use

@martinskans FYI

[2018-07-24 20:00] #2676 closed

[2018-07-24 20:00] gyllen commented on #2711
closing since no answer

[2018-07-24 20:00] #2711 closed

[2018-07-24 20:02] gyllen commented on #2722
Closing since image now seems to be removed

[2018-07-24 20:02] #2722 closed

[2018-07-24 20:02] gyllen commented on #2724
Closing since this is _not_ yet a documented feature

Using `mapillary_tools` is currently the best bet

[2018-07-24 20:02] #2724 closed

[2018-07-24 20:03] gyllen commented on #2809
@ybkuang Reassigning to you

[2018-07-24 20:13] gyllen commented on #2575
Closing since no answer

[2018-07-24 20:13] #2575 closed

[2018-07-25 04:42] nickplesha commented on #2445
We have turned off the map centering when dragging images so it should now be easier to edit image positions.

[2018-07-25 04:42] #2445 closed

[2018-07-25 08:16] abitrolly commented on #2941
I wanted both to rotate and to offset imageset. Are there topic created at forum? Why forum doesn't reuse Mapillary login?

[2018-07-25 09:02] madelenarnesdotter commented on #2941
For rotating the images, please use [this form](https://docs.google.com/forms/d/e/1FAIpQLSfKTaxX9wDl9gyfmaFR4jm1kqhWrzX1C1xyfypw0tnRBwAcog/viewform) (this is the same one as the one I shared in my previous comment!)

If you want to set offset you do this with the help of the editor:
https://help.mapillary.com/hc/en-us/articles/115001638129-Editing-sequences

You'll have to create a new login for t

[2018-07-26 07:30] abitrolly commented on #2941
https://forum.mapillary.com/t/edit-offset-for-all-images-in-a-sequence-category/1807

[2018-07-26 12:54] angelday commented on #2950
The sequence editor is the intended place for working with directions.

<img width="777" alt="screen shot 2018-07-26 at 14 53 40" src="https://user-images.githubusercontent.com/50189/43263508-bd98454c-90e3-11e8-9c23-9c9315a1a4cd.png">

[2018-07-26 12:59] angelday commented on #2949
This is a bug.

The indication should be a white border around the currently selected image. I'll file a ticket.

[2018-07-26 13:02] angelday commented on #2946
This is a bug.

"Exit without submitting" should be a ghost button. I'll file an issue.

[2018-07-26 13:03] angelday commented on #2945
This is according to the original design intent and wontfix at the moment.

Most probably will be changed when we redo the UI.

[2018-07-26 13:03] #2945 closed

[2018-07-26 13:06] angelday commented on #2943
This is a serious accessibility problem, thanks for reporting. We've already filed the issue. Will close this now, you'll see this eventually land.

[2018-07-26 13:06] #2943 closed

[2018-07-26 13:08] #2387 closed

[2018-07-26 13:09] angelday commented on #2297
Thanks @polarbearing and @gyllen I missed this note in October 2016. This was a good feedback though, but right now I feel like we're going to address this when we redo web uploader. Closing.

[2018-07-26 13:09] #2297 closed

[2018-07-26 13:11] angelday commented on #2295
Good idea, but would be an initiative on it's own to fix quickly.

How does this work Nuno?

[2018-07-26 13:12] angelday commented on #2233
We addressed this actually, closing. https://github.com/mapillary/mapillary_issues/issues/2079#issuecomment-405846585

[2018-07-26 13:12] #2233 closed

[2018-07-26 16:00] ybkuang commented on #2900
Closing this in favor of the issue in mapillary_tools

[2018-07-26 16:00] #2900 closed

[2018-07-26 16:52] voschix commented on #2950
I also have requested this feature.
It is not only useful in the context of editing, but also in any situation
where you plan your picture taking in advance to complete Mapillary
coverage. In most cases it is useful to have photos in forward and backward
direction (unless you use 360° cameras) .
I often plan may local trips also with the aim of "completing the map"
Mapillary-wise. I try to select

[2018-07-26 17:05] pbb72 commented on #2950
Agreed, this is not about _working_ with directions, this is about getting a good overview over the covered directions. In a dense urban area, sideways (90 degrees) photography is often more valuable than simply forwards, showing store fronts, side streets, etc. Being able to see all directions in an area, helps to plan new photo sessions. (Note also that the sequence editor ONLY shows the directi

[2018-07-26 17:09] pbb72 commented on #2387
All positive feedback for a week, then 1,5 years of nothing, and then closed without comment. You guys do project an image of struggling with the whole concept of public issue tracking...

[2018-07-26 20:31] angelday commented on #2950
Ok, thanks guys for the insight.

I'm flagging this as a discussion that we'll keep open and move to the forum. (I'm sure you're aware, but if you're not, then here is the thing: we'll be sunsetting this Github repository.)

[2018-07-26 20:39] angelday commented on #2387
@pbb72 There is a reason for everything. We'll be sunsetting the repo and closing these issues or moving them to the forum.

If you'd like I can have this part opened in the forum, just say so. I cannot promise that we'll implement this, but what I can promise is that we will keep this in mind once we revisit map styling and markers.

This describes https://github.com/mapillary/mapillary_issues/is

[2018-07-27 07:17] nickplesha commented on #2946
This should now be fixed and deployed, thanks for reporting!

[2018-07-27 07:17] #2946 closed

[2018-07-27 07:21] nickplesha commented on #2380
@eugensim To compare any two images use this URL: `https://www.mapillary.com/app/time-travel?pKey=${First image key}&cKey=${Second image key}&focus=photo`. Sorry that there's no UI to create this comparison but it should look exactly like the usual time travel experience.

[2018-07-27 07:21] #2380 closed

[2018-07-27 07:23] nickplesha commented on #2949
Thanks for reporting, we're tracking this issue internally, it has been requested a couple of times already.

[2018-07-27 07:23] #2949 closed

[2018-07-27 07:30] nickplesha commented on #2067
Implented a while ago, closing.

[2018-07-27 07:30] #2067 closed

[2018-07-27 07:33] nickplesha commented on #1749
The new, recently updated, traffic sign filter now have a searchable list of all traffic signs so they should be easy to find.

[2018-07-27 07:33] #1749 closed

[2018-07-27 07:34] nickplesha commented on #2030
Closing as this is resolved.

[2018-07-27 07:34] #2030 closed

[2018-07-27 07:35] nickplesha commented on #1481
It's now possible to choose which emails/notifications you want to receive in your user profile: https://www.mapillary.com/app/settings/notifications

[2018-07-27 07:35] #1481 closed

[2018-07-27 07:36] nickplesha commented on #1053
The ability to delete whole sequences has been added to the editor.

[2018-07-27 07:36] #1053 closed

[2018-07-27 07:39] nickplesha commented on #869
The viewer now has a tool for quickly moving through a sequence and it's an easy way to get to the start or end of a sequence quickly.

Expand the menu next to sequence navigation to access it:
![sequence](https://user-images.githubusercontent.com/3823786/43308177-f4965582-9180-11e8-9e34-92bb2e9a2603.png)

[2018-07-27 07:39] #869 closed

[2018-07-27 07:42] nickplesha commented on #971
This should now be resolved.

[2018-07-27 07:42] #971 closed

[2018-07-27 07:47] nickplesha commented on #2133
This has been implemented.

[2018-07-27 07:47] #2133 closed

[2018-07-27 07:47] nickplesha commented on #2053
This has been implemented and deployed.

[2018-07-27 07:47] #2053 closed

[2018-07-27 07:50] nickplesha commented on #2047
Drawing rectangles is now done by click+dragging and panning is done with the `Ctrl` modifier key. This refers to the tag editor as the blur editor is currently disabled.

[2018-07-27 07:50] #2047 closed

[2018-07-27 07:52] nickplesha commented on #2044
This has been implemented and deployed, see my comment here: https://github.com/mapillary/mapillary_issues/issues/869#issuecomment-408338721

[2018-07-27 07:52] #2044 closed

[2018-07-27 07:54] nickplesha commented on #2187
This has been resolved using an icon background.

[2018-07-27 07:54] #2187 closed

[2018-07-27 07:55] nickplesha commented on #2149
This page has been deprecated and removed.

[2018-07-27 07:55] #2149 closed

[2018-07-27 07:56] nickplesha commented on #2084
The new loading indicator has been made more visible to stand out against any background color, hope it solves this issue.

[2018-07-27 07:56] #2084 closed

[2018-07-27 15:29] angelday commented on #2944
Yes it's only functioning as long as the sidebar is opened. This is the expected behaviour. We have plans to make working with layers better. For now this won't get fixed.

[2018-07-27 15:29] #2944 closed

[2018-07-27 15:30] angelday commented on #2160
This is now implemented, closing.

[2018-07-27 15:30] #2160 closed

[2018-07-27 15:33] angelday commented on #1761
We intend to keep the community forums functionality separate from the static website, closing.

[2018-07-27 15:33] #1761 closed

[2018-07-27 15:35] angelday commented on #780
Keeping this as a feature request.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:36] angelday commented on #2161
Keeping it as blur editor improvements. (Note: blur editor is currently offline.)

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:37] angelday commented on #2230
Keeping it opened as this is a recurring issue. Will move discussion over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:38] angelday commented on #2295
Keeping it as feature request and moving over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:38] angelday commented on #2268
Keeping it as feature request and moving over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:40] angelday commented on #2267
Definitely something to considered when we're improving the editor. Keeping it as feature request and moving over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:42] angelday commented on #2169
Discarding changes should discard them immediately. I'll file this as a bug.

_mapillary_issues is no longer an active repository._

_This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!_

[2018-07-27 15:42] #2169 closed

[2018-07-27 15:44] angelday commented on #2159
@richlv We have some kick back effect in place now, closing.

[2018-07-27 15:44] #2159 closed

[2018-07-27 15:44] pbb72 commented on #2944
In this case we have a difference between "intended" and "expected". This behaviour may well be intended, but at least for me it wasn't expected 😁

[2018-07-27 15:44] angelday commented on #2110
Keyboard shortcuts are a good idea. Moving issue over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:45] angelday commented on #2103
Keeping this opened for discussing editor features and moving over to the forum.

_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:46] angelday commented on #2101
We fixed editor markers to be better, closing.

[2018-07-27 15:46] #2101 closed

[2018-07-27 15:47] angelday commented on #2097
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:48] angelday commented on #2070
_mapillary_issues is no longer an active repository._

_This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!_

[2018-07-27 15:48] #2070 closed

[2018-07-27 15:48] angelday commented on #1978
The original issue has been fixed, closing.

[2018-07-27 15:48] #1978 closed

[2018-07-27 15:49] angelday commented on #1766
We have a new template, closing.

[2018-07-27 15:49] #1766 closed

[2018-07-27 15:49] angelday commented on #1516
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:51] angelday commented on #1487
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:51] angelday commented on #1081
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 15:51] angelday commented on #818
This has been released, closing.

[2018-07-27 15:51] #818 closed

[2018-07-27 15:52] angelday commented on #637
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-07-27 16:32] ptpt commented on #1244
Yes, it's added in v3. See `camera_make` and `camera_model` https://www.mapillary.com/developer/api-documentation/#the-image

[2018-07-27 16:32] #1244 closed

[2018-07-28 15:50] pbb72 commented on #2949
That's why it is nice to track issues publicly, it helps preventing reporting the same issue multiple times :wink: (though many people don't search first, probably me including...)

[2018-07-28 16:03] pbb72 commented on #2946
Confirmed, thanks!

[2018-07-28 16:11] pbb72 commented on #2387
Well, judging by the feedback ("...we need some discussion...", "I like this idea...", "I really like this idea...") I would say that the case should be discussed further...

[2018-07-30 08:16] AnkEric commented on #2831
First step: it's OK.

- Open https://www.mapillary.com/app/user/ankeric
- Select [Map style] = OpenStreetMap
- Close https://www.mapillary.com
- Re-Open https://www.mapillary.com/app/user/ankeric
- [Map style] = OpenStreetMap is still selected **and** Rendered Map style = @ OpenStreetMap
- OK!

![image](https://user-images.githubusercontent.com/20150550/43384543-a5fc7e00-93de-11e8-8494-7ffc183d983

[2018-07-30 18:42] pbb72 commented on #2948
This is one of a set of issues with the web uploader, but I don't believe it is a duplicate? Or did I report this issue before?

[2018-07-31 16:30] gyllen commented on #2948
@pbb72 Yes my wrong

@angelday Valid design feedback that makes sense, add to improvement box

[2018-08-02 04:11] eneerhut commented on #1966
Closing this as the pages in question are no longer active and have been replaced with the [help section](http://help.mapillary.com).

[2018-08-02 04:11] #1966 closed

[2018-08-02 04:12] eneerhut commented on #1965
Closing this as the pages in question are no longer active and have been replaced with the [help section](https://github.com/mapillary/mapillary_issues/issues/1966).

[2018-08-02 04:12] #1965 closed

[2018-08-02 04:15] eneerhut commented on #2357
Closing as support for Panoramio is no longer available. Also, mapillary_issues is no longer an active repository.

Let’s continue discussing features in our [forum](https://forum.mapillary.com).

[2018-08-02 04:15] #2357 closed

[2018-08-04 12:35] tordans commented on #210
@ybkuang this sequence should be cut https://www.mapillary.com/app/user/tordans?lat=52.23552115802797&lng=5.946042647072156&z=17&pKey=Lqt0AKlI3ttUcVA-H7TveQ&focus=map - do I still need to wait for the bot or did something go wrong?

It would be great to have a "cut manually" feature (again), so we can take more control about the way the pictures are presented.

I have this issue a lot when taking

[2018-08-06 07:09] ybkuang commented on #210
@tordans we recently updated the database. There is a minor issue that causes delays in sequence cut. We are working on it.  I will open a separate internal issue about the split on our app. If you have any more details on it, can you send it to support@mapillary.com? we are closing mapillary_issues in favor of our forum and support channel.

[2018-08-08 13:12] nickplesha commented on #2831
@GITNE @AnkEric This should be fixed now, the selected map style will be used in the uploader and the map selector will show the correct value. Thanks for your patience!

[2018-08-08 13:12] #2831 closed

[2018-08-08 14:15] GITNE commented on #2831
@nickplesha Thank you!

[2018-08-09 12:04] peterneubauer commented on #1858
@ptpt just make these sequences dirty in PSQL, and Gudrun will pick them up and recalculate them, including the geometry.

[2018-08-09 13:28] peterneubauer commented on #1858
So, these sequences are now correctly rendered right @ramapongithub @andrewpmk @de-vries ?

[2018-08-13 11:07] angelday commented on #2948
Agree with @pbb72 on this, moving over to the forums for the time being.

[2018-08-13 15:42] gyllen commented on #2948
@angelday Added to idea box no need to move to forum, closing

[2018-08-13 15:42] #2948 closed

[2018-08-21 17:36] GITNE commented on #2196
@peterneubauer What about the website? Would be nice to have too. :wink:

[2018-08-22 09:50] ramapongithub commented on #1858
@peterneubauer  Sorry for the late reply. Was on holiday and had to capture new pictures in some european countries.

First the good news: the sequences are rendered.
Bad news: there seem to be a lot of gaps in them, as if missing some pictures. But could also be an rendering problem.
Like here: [https://www.mapillary.com/app/?pKey=szDuFvLyurE6HBp5grcz-Q&lat=50.443438888888885&lng=9.32364722222222

[2018-08-23 09:04] peterneubauer commented on #2858
Norway is now also working, please confirm the rest. We had to check explicitly for validity of the WOF shapes, and use a little hack (shapely.buffer(0) ) to make some of them valid. https://www.mapillary.com/app/stats/85633341?lat=36.69653718786422&lng=12.262098500000093&z=1.6319280293872382

[2018-08-23 09:04] #2858 closed

[2018-08-23 11:03] ovivoda commented on #2196
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-08-23 11:04] ovivoda commented on #1399
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-08-23 11:07] ovivoda commented on #2440
_mapillary_issues is no longer an active repository._

_Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!_

[2018-08-23 11:07] ovivoda commented on #2675
@nickplesha please check this one and let me know if it make sense to be assigned to you

[2018-08-23 11:29] nickplesha commented on #2675
Thanks! @GITNE We've since updated the uploader to clear the upload list after exiting. Let us know if you encounter similar errors.

[2018-08-23 11:29] #2675 closed

[2018-08-24 13:00] #401 closed

[2018-08-24 13:00] peterneubauer commented on #401
too old. this is possible in the backend now though.

[2018-08-24 13:00] #402 closed

[2018-08-24 13:01] peterneubauer commented on #399
this is done in the background, but no user UX planned. closing.

[2018-08-24 13:01] #399 closed

[2018-08-24 13:01] peterneubauer commented on #166
implemented.

[2018-08-24 13:01] #166 closed

[2018-08-24 13:02] peterneubauer commented on #318
closing this. too old.

[2018-08-24 13:02] #318 closed

[2018-08-27 10:00] #400 closed

[2018-08-27 10:00] peterneubauer commented on #485
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-27 10:01] peterneubauer commented on #572
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-27 10:01] peterneubauer commented on #819
This should be working.

[2018-08-27 10:01] #819 closed

[2018-08-27 10:02] peterneubauer commented on #1373
Via tags you can mark pictures now, this is what a lot of OSM contributors is doing, so I'm closing this.

[2018-08-27 10:02] #1373 closed

[2018-08-27 10:03] peterneubauer commented on #1402
We dropped the reverse geocoding from the platform due to this being a moving target, so I'm closing this for now.

[2018-08-27 10:03] #1402 closed

[2018-08-27 10:04] peterneubauer commented on #1424
This should be solved now.

[2018-08-27 10:04] #1424 closed

[2018-08-27 10:04] peterneubauer commented on #1316
This should be working now.

[2018-08-27 10:04] #1316 closed

[2018-08-27 10:05] peterneubauer commented on #2337
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-27 10:06] peterneubauer commented on #466
This should be working now. Please let me know if not.

[2018-08-27 10:06] #466 closed

[2018-08-27 10:09] peterneubauer commented on #515
closing this, as I don't think we will expose a UX for manually editing several sequences right now.

[2018-08-27 10:09] #515 closed

[2018-08-27 10:09] peterneubauer commented on #443
You can do this via the manual webuploader or the tools with scripts, closing for now.

[2018-08-27 10:09] #443 closed

[2018-08-27 10:10] peterneubauer commented on #397
Closing this since the python tools should work correctly now with offsets.

[2018-08-27 10:10] #397 closed

[2018-08-27 10:13] peterneubauer commented on #373
Looks like everything is working now, closing.

[2018-08-27 10:13] #373 closed

[2018-08-27 10:13] peterneubauer commented on #342
Closing this for now, as the python scripts do this.

[2018-08-27 10:13] #342 closed

[2018-08-27 10:14] peterneubauer commented on #511
This is working now, closing.

[2018-08-27 10:14] #511 closed

[2018-08-27 10:14] peterneubauer commented on #560
closing this, please let us know if this is still relevant.

[2018-08-27 10:14] #560 closed

[2018-08-27 10:14] #567 closed

[2018-08-27 10:17] peterneubauer commented on #860
Closing this, as I don't think the image is in our system.

[2018-08-27 10:17] #860 closed

[2018-08-27 10:17] peterneubauer commented on #642
closing this, without a contributor stepping up we are not going to have the means to do this.

[2018-08-27 10:17] #642 closed

[2018-08-27 10:18] peterneubauer commented on #814
closing this. Please let us know if this is still relevant @mike1s

[2018-08-27 10:18] #814 closed

[2018-08-27 10:26] peterneubauer commented on #1137
This should be solved now. Closing.

[2018-08-27 10:26] #1137 closed

[2018-08-27 10:27] peterneubauer commented on #1287
This is done now. Closing.

[2018-08-27 10:27] #1287 closed

[2018-08-27 10:28] peterneubauer commented on #1310
This should be solved now right? Closing for now.

[2018-08-27 10:28] #1310 closed

[2018-08-27 10:29] peterneubauer commented on #1050
mapillary_issues is no longer an active repository.
Let’s continue discussing features in our forum! We will import this issue as topic to the Mapillary Forum in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-27 12:25] peterneubauer commented on #1095
This should be working now, closing.

[2018-08-27 12:25] #1095 closed

[2018-08-27 12:26] peterneubauer commented on #1334
Working now, closing.

[2018-08-27 12:26] #1334 closed

[2018-08-27 12:27] peterneubauer commented on #1382
Closing this for now as the issue is probably not up to date with the web uploader.

[2018-08-27 12:27] #1382 closed

[2018-08-27 12:27] peterneubauer commented on #1410
Closing this for now - we don't have bandwidth for handling IRC, sorry :/

[2018-08-27 12:27] #1410 closed

[2018-08-27 12:28] peterneubauer commented on #1474
I believe this is fixed.

[2018-08-27 12:28] #1474 closed

[2018-08-27 12:28] peterneubauer commented on #1430
This was a limitation of the number of images displayed in iD, should be fixed now there.

[2018-08-27 12:28] #1430 closed

[2018-08-27 12:28] #1340 closed

[2018-08-27 12:31] peterneubauer commented on #1543
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-27 12:32] peterneubauer commented on #1483
This should be fixed now.

[2018-08-27 12:32] #1483 closed

[2018-08-27 12:33] peterneubauer commented on #1506
We re-imported the shapes now, should be better.

[2018-08-27 12:33] #1506 closed

[2018-08-27 12:33] peterneubauer commented on #1584
We updated the file size limit, this should be working now in S3 uploads.

[2018-08-27 12:33] #1584 closed

[2018-08-27 12:33] #1585 closed

[2018-08-28 13:49] peterneubauer commented on #1667
Just checked - the NULL island image is not having any lat/lon info. Closing this for now as I think the issue is outdated by now.

[2018-08-28 13:49] #1667 closed

[2018-08-28 13:50] peterneubauer commented on #2075
IMHO, just go in and edit the locations of these images in the editor, or delete them? Closing this for now.

[2018-08-28 13:50] #2075 closed

[2018-08-28 13:52] peterneubauer commented on #2205
So, the WOF shapes have been updated, searching should work much better now, closing this for now.

[2018-08-28 13:52] #2205 closed

[2018-08-28 13:52] peterneubauer commented on #2225
closing this for now, the issue is quite old and not relevant anymore.

[2018-08-28 13:52] #2225 closed

[2018-08-28 13:58] peterneubauer commented on #2147
I just submitted sequences for re-calculation, let's see how things look tomorrow.

[code]

[2018-08-29 07:44] peterneubauer commented on #2147
After re-caching, these sequences look ok to me now, closing.

[2018-08-29 07:44] #2147 closed

[2018-08-29 09:46] jesolem commented on #2201
Closing and please continue the conversation on the forum if there is anything to add. https://forum.mapillary.com/

[2018-08-29 09:46] #2201 closed

[2018-08-29 09:56] peterneubauer commented on #1555
Closing, is fixed.

[2018-08-29 09:56] #1555 closed

[2018-08-29 09:57] peterneubauer commented on #1558
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-29 09:58] peterneubauer commented on #1670
Closing this, as changeset support for the API is working. anything else is a JOSM issue.

[2018-08-29 09:58] #1670 closed

[2018-08-29 09:58] peterneubauer commented on #1947
We have disabled area notification for the time being, closing this.

[2018-08-29 09:58] #1947 closed

[2018-08-29 09:59] peterneubauer commented on #1969
THis is an underlying map issue, we are using ESRI/Mapbox/OSM maps and the issue should be addressed there. closing here.

[2018-08-29 09:59] #1969 closed

[2018-08-29 10:01] peterneubauer commented on #1768
This problem should be minimized now, closing.

[2018-08-29 10:01] #1768 closed

[2018-08-29 10:03] peterneubauer commented on #1994
I believe this is now solved as we cleaned up one of our backends. Closing.

[2018-08-29 10:03] #1994 closed

[2018-08-29 10:04] peterneubauer commented on #2258
Closing this, please let us know in the Forum if you have problems @ltog .

[2018-08-29 10:04] #2258 closed

[2018-08-29 10:04] peterneubauer commented on #2288
This should be solved now, Closing. Please let u know if not @Andblue

[2018-08-29 10:04] #2288 closed

[2018-08-29 10:06] peterneubauer commented on #2305
Closing this, https://www.mapillary.com/app/?focus=photo&pKey=zfuoUCpCySYbsNUFk3phNQ&lat=27.8995306&lng=-82.33007&z=17 seems to be ok now.

[2018-08-29 10:06] #2305 closed

[2018-08-29 10:07] peterneubauer commented on #2384
Fixed now, closing.

[2018-08-29 10:07] #2384 closed

[2018-08-29 10:07] peterneubauer commented on #2437
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-29 10:08] peterneubauer commented on #2323
Closing this for now, most of the issues are fixed now.

[2018-08-29 10:08] #2323 closed

[2018-08-29 10:09] peterneubauer commented on #2438
This should be fixed now. Closing.

[2018-08-29 10:09] #2438 closed

[2018-08-29 10:10] peterneubauer commented on #2502
This should be fixed now, the app should go to the last position viewed, or the position of the image.

[2018-08-29 10:10] #2502 closed

[2018-08-29 10:15] peterneubauer commented on #2795
This should be working now, let us know if not. Closing.

[2018-08-29 10:15] #2795 closed

[2018-08-29 10:16] peterneubauer commented on #2715
This is fixed now, the images are correct. https://www.mapillary.com/app/?pKey=yWn3HOBVdCIyZJvhb_NCHg&lat=46.65678500000001&lng=10.19416666666666&z=17

[2018-08-29 10:16] #2715 closed

[2018-08-29 10:18] peterneubauer commented on #2713
Indeed, something to fix. https://www.mapillary.com/app/stats/85633793?user=microsoft

_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-08-29 10:30] peterneubauer commented on #2595
I'm closing this for now. The python tools should be more stable now, and the disconnected image is due to the sequence cutter - let us know in the forum if anything pops up again.

[2018-08-29 10:30] #2595 closed

[2018-08-29 10:32] peterneubauer commented on #2567
This problem should be fixed with better shapes imported, closing for the time being.

[2018-08-29 10:32] #2567 closed

[2018-08-29 10:32] peterneubauer commented on #1968
Closing this for now, should be fixed.

[2018-08-29 10:32] #1968 closed

[2018-08-29 10:33] #2603 closed

[2018-08-29 10:35] peterneubauer commented on #2535
This looks fixed, closing.

[2018-08-29 10:35] #2535 closed

[2018-08-29 10:36] peterneubauer commented on #2666
Future dates are now fixed, closing this for now.

[2018-08-29 10:36] #2666 closed

[2018-08-29 10:39] peterneubauer commented on #2670
related to https://github.com/mapillary/mapillary_issues/issues/1107

[2018-08-29 10:44] peterneubauer commented on #2313
This is most probably a bug that has been fixed since. The UUID for both sequence and image was not taken into account when harvesting. This is fixed now, closing for now as we can't dedup automatically (lacking uuid). Please delete the duplicate sequences manually.

[2018-08-29 10:44] #2313 closed

[2018-08-29 10:46] jesolem commented on #388
The gpx api is now added to API v3. Will be added to the API documentation.

Closing this and please continue any discussion on the forum
https://forum.mapillary.com/

[2018-08-29 10:46] #388 closed

[2018-08-29 10:47] peterneubauer commented on #2635
This bug should be fixed, closing for now.

[2018-08-29 10:47] #2635 closed

[2018-08-29 10:52] jesolem commented on #1390
I flagged this for forum import and let's continue discussing there. Thank you everyone for sharing your opinions.
https://forum.mapillary.com/

[2018-08-29 10:52] #1390 closed

[2018-08-29 11:55] jesolem commented on #388
And the link
https://www.mapillary.com/developer/api-documentation/#sequence-in-the-gpx-format

[2018-08-29 14:30] oscarlorentzon commented on #1768
Thanks @peterneubauer.

[2018-08-30 11:06] ovivoda commented on #2813
Same issue as

https://app.zenhub.com/workspace/o/mapillary/mapillary_elva/issues/4067

@gyllen Should we close one or merge somehow?

[2018-08-30 11:13] peterneubauer commented on #2226
Closing this for now, should be working.

[2018-08-30 11:13] #2226 closed

[2018-09-01 16:58] peterneubauer opened #2963 "Scheduling not catching images in weird state"
GET mapimages/_doc/qXAA9RUr4uAtFd6xpWe-tA seems not to be rescheduled but has no lat/lon etc info. This stops the sequence from getting clean.

[code]

[2018-09-01 17:04] #2963 closed

[2018-09-01 17:04] peterneubauer commented on #2963
Issue moved to [mapillary/mapillary_elva #5366](https://github.com/mapillary/mapillary_elva/issues/5366) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-10 09:54] peterneubauer commented on #2705
This should be the other sequence right? Closing for now. https://www.mapillary.com/app/?lat=54.26325&lng=11.078998&z=17&username%5B%5D=chuck&mapStyle=mapbox_streets&focus=map&pKey=cPuHiMaIOPJEz_E4y_AYVQ

[2018-09-10 09:54] #2705 closed

[2018-09-10 10:33] pbb72 commented on #2795
Yes, it is working well now. Thanks for the follow-up.

[2018-09-10 10:35] pbb72 commented on #2225
Indeed

[2018-09-10 12:15] peterneubauer commented on #2557
So, I'm going to close this as we have an internal issue to start using GPS timestamp at least as a fallback. This should be then working correctly.

[2018-09-10 12:15] #2557 closed

[2018-09-10 12:50] peterneubauer commented on #2291
So,
yes, the original problem is that the order of the images was incorrect. Now, the sequence cutter went in and split the sequences, so they look a bit weird. Going forward, we are going to factor in  GPS timestamp, and the ordering errors should be fixed now. Not going to reprocess these sequences as most of it has been removed and the rest looks ok ...

[2018-09-10 12:50] #2291 closed

[2018-09-10 12:53] peterneubauer commented on #1107
These sequences are now reprocessed and look correct. Sorry for taking so long - this was an extremely long standing bug to fix. Closing this now.

[2018-09-10 12:53] #1107 closed

[2018-09-10 12:55] peterneubauer commented on #2670
So, images taking with Android 3.86 have now been reprocessed, most of these sequences look good now. Closing, let me know if anything is popping up.

[2018-09-10 12:55] #2670 closed

[2018-09-10 12:56] peterneubauer commented on #2809
I'm closing this, since GPS timestamp support for date extraction is now on our internal tasklist and will come out soon.

[2018-09-10 12:56] #2809 closed

[2018-10-12 07:52] Kaldea commented on #339
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:54] Kaldea commented on #941
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:55] Kaldea commented on #973
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:55] Kaldea commented on #974
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:56] Kaldea commented on #1064
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:56] Kaldea commented on #1073
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:57] Kaldea commented on #1101
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:57] Kaldea commented on #1329
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:57] Kaldea commented on #1604
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:58] Kaldea commented on #1631
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:58] Kaldea commented on #1755
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:58] Kaldea commented on #1796
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:59] Kaldea commented on #1912
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:59] Kaldea commented on #2122
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 07:59] Kaldea commented on #2272
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 08:00] Kaldea commented on #2332
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 08:00] Kaldea commented on #2358
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 08:01] Kaldea commented on #2393
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 08:01] Kaldea commented on #2434
_mapillary_issues_ is no longer an active repository.

Let’s continue discussing features in our forum! We will import this issue as topic to the [Mapillary Forum](http://forum.mapillary.com) in the coming weeks. We’ll notify here once it’s been done. See you there!

[2018-10-12 08:02] Kaldea commented on #2612
mapillary_issues is no longer an active repository.
This issue has been moved over to our internal task list. Please send an email to support@mapillary.com with a reference to this issue if you want to add more information, or want to be notified once it’s been fixed!

[2018-10-12 08:02] #2612 closed

[2018-10-17 06:41] nickplesha commented on #2236
This is an issue we're tracking internally and we will be working on it in the future as we improve the editor.

[2018-10-17 06:41] #2236 closed

[2018-10-17 06:41] nickplesha commented on #2245
This should be fixed now, thanks for reporting!

[2018-10-17 06:41] #2245 closed

[2018-10-17 06:41] #2234 closed

[2018-10-17 06:41] #2190 closed

[2018-10-17 06:42] nickplesha commented on #2186
This should be fixed now, thanks for reporting!

[2018-10-17 06:42] #2186 closed

[2018-10-17 06:42] nickplesha commented on #2170
This should be fixed now, thanks for reporting!

[2018-10-17 06:42] #2170 closed

[2018-10-17 06:43] nickplesha commented on #2139
This should work now regardless of the size of the sequence. Thanks for reporting!

[2018-10-17 06:43] #2139 closed

[2018-10-17 06:46] nickplesha commented on #2113
Thanks for reporting, we're tracking this issue internally and should resolve it soon. You can check status by emailing support@mapillary.com

[2018-10-17 06:46] #2113 closed

[2018-10-17 06:46] #2092 closed

[2018-10-17 06:48] nickplesha commented on #2082
The uploader should be able to handle any images with valid exif data, if you encounter problems uploading in the future, contact us at support@mapillary.com

[2018-10-17 06:48] #2082 closed

[2018-10-17 06:48] nickplesha commented on #2073
Thanks for reporting, this should be fixed now.

[2018-10-17 06:48] #2073 closed

[2018-10-17 06:50] nickplesha commented on #1957
We're constantly working on improving our upload tools and we'll be making uploading videos easier with new tools in the future. Contact support@mapillary.com if you'd like more info.

[2018-10-17 06:50] #1957 closed

[2018-10-17 06:51] nickplesha commented on #1520
Confirming. :)

[2018-10-17 06:51] #1520 closed

[2018-10-17 06:52] nickplesha commented on #1029
Image angles can be set in the web editor now.

[2018-10-17 06:52] #1029 closed

[2018-10-17 06:52] nickplesha commented on #1003
Image angles can be set in the web editor now.

[2018-10-17 06:52] #1003 closed

[2018-10-17 06:53] nickplesha commented on #217
Image compass angles can be "normalized" for the whole sequence simultaneously in the web editor now.

[2018-10-17 06:53] #217 closed

[2018-10-17 06:54] nickplesha commented on #177
I think this is related to an older version of an editor and does not apply anymore.

[2018-10-17 06:54] #177 closed

[2018-10-28 15:47] mrAceT commented on #807
Thought it would be there, couldn't find it.. So that is correct.. because it isn't there ;)

Would appreciate the option :)

[2018-11-01 21:52] utack commented on #2326
Well I guess this can be closed soon, as Google Play now forces you to support it with the next update?

[2018-11-12 17:01] majkaz commented on #2925
I would like to have the possibility to edit as well. There are some traffic signs that gets interpreted constantly wrong (maxweight 6t -> maxspeed 60). Some maxspeed signs on cars are still there (checked today, 12.11.2018)

But what I would love to avoid are the temporary traffic signs - for example [here](https://www.mapillary.com/app/?focus=photo&pKey=slE8zUiV-wt4fLVEtdw9xw&signs=true&lat=49.0

[2018-11-24 04:14] F1F1 commented on #2669
"Trojan-Spy:Android/Smforw variants silently forward incoming SMS messages on an infected device to a remote server."

File name | Screen.Rotation_.Android_.TV-7_.9_.apk
Other known file names | Screen.Rotation_.Android_.TV_[7_.9]_.apk
MD5 hash | 7173ac30364aac1dfbb26f88e387b08a
SHA256 hash | cc92648ec31363ba31e28729e563561bd1acd631f6c9f8eff45dfd26da1c89db
File size | 583.78 KB
Worker | NVISO_API_