[2016-08-30 16:36] voschix commented on #1892
I see the rotated sequences frequently in my car with Mapillary car mount.
I looked into the EXIF data and found that they consisent with the problem:
The smartphone (Sony Xperia Z5 Compact) is used upside down (lens bottom right, looking in the direction of the camera). The photos that are OK have the _correct_ EXIF tag "Orientation=Bottom Right"); the upside-down ones do have the _wrong_ EXIF ta

[2016-08-30 17:59] danbjoseph opened #2231 "images size on GoPro exceeds iPhone memory - transfer/upload problem"
iPhone 5S 16GB & GoPro Hero 4

- Captured 4336 images while riding my bike for 1h20m.
- Transferring photos to the phone, the phone memory filled up.
- Switched to wifi (broke connection with GoPro) and uploaded 4248 photos.
- Switched wifi connection back to the GoPro and agree to transfer photos.
- Queue says 4333 to transfer, completes and get the "Transfer complete - You can now review and upl

[2016-08-30 19:57] octanebaby opened #2232 "Some individual traffic sign filters not working!"
### Basic information
- Platform: `Web`
- Version: `52.0.2743.116`
- System/Browser: `Chrome`
### Steps to reproduce behavior
1.  Search for Phoenix
2.   Turn on filters for traffic signs
3.   Zoom in until you see `RXR` rail crossing signs or `12-6` height restriction signs, among others
4.  FIlter for just those to signs (under `regulatory`)
   5   All signs disappear!!
### Expected behavior

Wh

[2016-08-30 21:59] gyllen commented on #1367
@shlublu No need all changesets have now been approved *phew* :)

(closing)

[2016-08-30 21:59] #1367 closed

[2016-08-30 22:00] gyllen commented on #2205
@de-vries Aha so the search is wrong!

[2016-08-30 22:03] gyllen commented on #2221
@pkoby Thanks for reporting, we will look into the search algo. I see the same results as you do and it makes no sense.

[2016-08-30 22:04] gyllen commented on #2222
This has to be a spelling mistake, thanks for reporting @pbb72

[2016-08-30 22:06] gyllen commented on #2041
@GITNE I will add internal ticket to skip cloudflare (this is actually really annoying)

[2016-08-30 22:08] gyllen commented on #2057
@Andblue we made some majot updates to the editor today, can you see if you can repeat?

[2016-08-30 22:08] gyllen commented on #2225
@peterneubauer see above ^^^

[2016-08-30 22:10] gyllen commented on #2227
@mxa Its hard for us to detected the same image clientside, however what we should do is, to ignore these images when we try to process them and notify you as a user.

[2016-08-30 22:11] gyllen commented on #2028
@mxa Have you disabled all emails under settings. We are working on the notification system at the moment. So all feedback is welcome.

[2016-08-30 22:12] gyllen commented on #2228
@blaueente We just pushed some fixes to the uploader. Can you see if these helped?

[2016-08-30 22:14] gyllen commented on #2223
@iav Yes as @nicolas17 points out we are working on full res pano support at the moment. I will report back when finished.

[2016-08-30 22:15] gyllen commented on #2230
@voschix Does this have anything todo with the size of your browser window?

[2016-08-30 22:16] gyllen commented on #2232
@octanebaby All different types or just these types?

[2016-08-31 05:58] shlublu commented on #1367
Oooh, that's great ! I checked a few of them and it seems it's all fine. I received no notification and no email though. Well done, congrats and thanks guys!

[2016-08-31 06:09] voschix commented on #2230
No, it does not dependent on the browser window. I changed the size from minimum to maximum (on a dual monitor arrangement with extended monitor mode)
The missing vertical scroll bar applies to three different sidebars:
1) From the main Mapillary.com page, click the big green "Explore the World", then click the three stripes (between "Mapillary" and the filter icon): the left side menu, hat shows

[2016-08-31 06:12] rsahlin commented on #2193
Hi @rausk and thanks for reporting

Yes, there are usually multiple triggers when a sequence is started - this will be fixed in near future.
At the moment we are working on new UI which will be a huge improvement UX and design wise :-)

Best regards
/Richard

[2016-08-31 06:12] mxa commented on #2028
Confirming that I have everything switched off and still get emails. https://www.mapillary.com/app/settings/notifications

"You requested 1 new edits"

[2016-08-31 06:48] peterneubauer commented on #1367
Yeah,
some of the old changesets were acting on deleted images and broke the
feed, so I disabled notifications for them temporarily. Should be all fine
going forward. Really excited that this is finally in place. Thanks for
waiting it out!

On Wed, Aug 31, 2016 at 7:58 AM, shlublu <notifications@github.com> wrote:

[2016-08-31 06:52] peterneubauer commented on #2225
If this is the "approved/created" changeset comment - the link actually refers to a changeset, but you are seeing the old feed that thinks this is a comment on an image. We will change that soon going forward. Since the links refer to changesets, the correct link is e.g. https://www.mapillary.com/app/?changeset=OmXmLn419lT0X83yUXLQiQ

[2016-08-31 07:54] voschix commented on #1892
Please rotate by 180 degrees the following sequences:

lzL2suNu6a_-t_sxnZjoBw
YwtwQ3esRau52t2WRkn3rQ
J-O-a6PNnpIaHWLsKePlAw
dnwcAgO5MNO5V5Wck9OuGg
lNGvCsgJHvngkI5YtZCjRQ
kpZQaBtEqI4I61eOsNwfLA
-Mdj1qyz7H7AbptK13CojQ
hn5FSl1y2IhblK1cVLutcQ
DmynyZqLthevtgsUtykYhg
bDXPoiZaKSF_-hvcQcnlLQ
ml5zt5fHcFEWjLUQ3TGTMQ
udOG4qKIfBAWyV5YulmX_w
4XYdnfdt7TGN8tk8Z80vJg
189q58lfJgZE2gYcxUH5Cw
HUaT4owipU2XcUGjwd7BiA

[2016-08-31 08:01] millenbop commented on #2231
You are doing it correctly, i.e. sync, upload, and synch again. But it sounds like there's a bug with how we save the download history (i.e. even if the download fails it saves it to the history), I'll look into it this week.

[2016-08-31 12:31] spatialhast commented on #2221
@gyllen the same error when searching by name 'hast'

[2016-08-31 12:55] bhousel opened #2233 "Please don't adjust the zoom when recentering on a marker"
### Basic information
- Platform: `Web`
- System/Browser: `Chrome 52`
### Steps to reproduce behavior
1.  Zoom to z20
2.  Click a marker or use the navigation buttons
### Expected behavior

Map stays at z20
### Actual behavior

Map eases to z17
### Additional information

If I'm looking in detail at something, I'd prefer to keep the zoom where it is, rather than easing back to z17.

![mapillary_re

[2016-08-31 15:09] peterneubauer commented on #2233
+1 on this.

[2016-08-31 16:12] de-vries commented on #2233
duplicate of #2079

[2016-08-31 16:32] gyllen commented on #2233
Agree, we are tracking this issue and will report back when fixed.

[2016-08-31 16:35] gyllen commented on #2028
@mxa Is it just the edits email you receive or is it other ones too? Trying to narrow this down.....

[2016-08-31 16:36] gyllen commented on #2230
@knikel Can you do a quick investigation into this?

[2016-08-31 19:10] thoschu96 opened #2234 "Upload on Map not showing correct Preview"
### Basic information
- Platform: `Web`
- Version: `...`
- System/Browser: `Opera/Firefox`
### Steps to reproduce behavior
1. Selecting pictures
2. Wait for Preview..
### Expected behavior

Should showing all GPS Points
### Actual behavior

Not Showing all Positions
### Additional information

Checked with GeoSetter.. GPS Data's are inside the Picture. So it should not be an issue on the Pictures/

[2016-08-31 19:26] jfburke3 commented on #2216
By the way, from my perspective, this is a very very very low priority problem.

[2016-08-31 19:27] jfburke3 commented on #2233
+1 from me, too.

[2016-08-31 19:58] HolgerJeromin commented on #1995
But only on the same wifi. For example I do not want to upload on the wifi of my work.
And at home only if I don't need the bandwidth

[2016-08-31 21:44] jfburke3 commented on #2210
Nope, if y'all are satisfied, then I'll leave it alone.  I was just confused by the behavior of the new settings.  Might be worth noting in the instructions/manual the next time it's updated that even a small GPS update will result in a new picture being take (since I'm sure that even when stopped, my phone's GPS data changes slightly).

[2016-09-01 08:17] mxa commented on #2028
"You got 3 edits approved"
"You requested 5 new changesets"

[2016-09-01 09:17] Andblue commented on #2057
@gyllen Tried the updated version to edit one sequence so far. It is off to a good start, at least 10 times snappier and none of that grinding to a halt stuff. Will try some more in the coming days.

[2016-09-01 10:56] GITNE commented on #2079
@gyllen Sounds like a nice feature for advanced users but the expected default behavior should get fixed first.

[2016-09-01 11:02] angelday commented on #2079
Short answer: it helps with orientation in the viewer.

Long answer:

I think anyone who is opening up Mapillary more than once a week might end up finding this annoying. This functionality caters for the average user who just sees Mapillary for the first time or to a very casual user.

The zoom is set to a level where it makes sense to display traversing with our typical sampling intervals. No ma

[2016-09-01 11:28] GITNE commented on #2079
@angelday Zooming in to a reasonable level on the first click is indeed the expected behavior. However, once you have adjusted the zoom level manually and start traversing the sequence or navigating, the expected behavior is to not change the zoom level automatically.

[2016-09-01 11:35] gthia opened #2235 "Non realistic geometry stretching across Europe"
### Basic information
- Platform: `Web`
- Version: `...`
- System/Browser: `Google Chrome'
### Steps to reproduce behavior
1. Go to Southern Europe
2. Zoom in z=6.1 to 6.9
3. See a line is drawn across the continent
### Expected behavior

Should not be there. Its highly impossible to have a straight line.
...
### Actual behavior

...
### Additional information

...

![2016-09-01 13_32_23-mapillary

[2016-09-01 18:03] yopaseopor commented on #2186
I have the same problem in https://www.mapillary.com/app/?focus=map&pKey=5XsmwrKfADa-rxBGMRk6BQ&lat=43.35598130510752&lng=-5.853377611926078&z=19.369607517853648 . It is impossible to keep working with latest Firefox 48.0.2 and Win 7 (Chrome does not work no more due to false WebGL issue)

[2016-09-02 07:22] millenbop commented on #1970
Out in the latest version released yesterday. Thanks @simonmikkelsen for creating the issue!

[2016-09-02 07:22] #1970 closed

[2016-09-02 07:24] millenbop commented on #1989
I have upgraded the Mapbox library and did a test on my bike and it seems to fine work for me. Out in the latest version released yesterday. Let me know if you still experience problems and we'll reopen!

[2016-09-02 07:24] #1989 closed

[2016-09-02 08:02] echeloni2p commented on #2235
Hi

Thats just a track not divided in parts, on both ends a user uploaded pictures (I guess manually) in one track, and so the process did draw a line between both pictures.
Needs to be cut in 2 or more tracks.

echelon

[2016-09-02 08:12] mxa commented on #2227
@gyllen shouldn't it be possible to detect if you are going to upload an image that has identical GPS location, time and compass data to one of the images in the database?

[2016-09-02 08:13] ybkuang commented on #2235
@ghtia @echeloni2p the line should be gone now? can you double check? we have a post-processing every two days to cut these lines (so there will be some delay)

[2016-09-02 08:41] plago73 commented on #1989
Which version? 4.4.10?

[2016-09-02 11:18] simonmikkelsen commented on #2235
Just cutting the lines is not the best solution. I have seen such errors occur due to GPS errors. Cutting the lines will leave a pretty world map, but you end up with some images in completely wrong locations.

Often it is just a few images in a sequence, so it is easy to see which images to delete (you could even automatically delete up to a number of images in the beginning of a serquence) and y

[2016-09-02 11:21] simonmikkelsen opened #2236 "New location editor: Not able to see direction for images on same location"
### Basic information
- Platform: `Web`
- System/Browser: Windows 8.1, Chrome
### Steps to reproduce behavior
1. Go to https://www.mapillary.com/app/index/tryl?lat=55.3827433511278&lng=10.445149981264365&z=20&pKey=iirCPLh8ifP11zBymeRSLQ&focus=map and see there are a lot of images taken at the same location but with different directions.
2. Try to edit the sequence.
### Expected behavior

When I cl

[2016-09-02 15:27] millenbop commented on #2231
I can confirm the bug. I have added a storage space check so it stops the transfer if there is too little space left to save the file.

Will be available in next release. Thanks for reporting!

[2016-09-02 15:27] #2231 closed

[2016-09-02 15:50] plago73 commented on #1989
👍

[2016-09-02 16:16] pbb72 commented on #2079
I agree that we need to zoom in when the user is in low zoom levels, but being able to see the navigational context is very much dependent on the situation. In some places level 14 gives the best context, in others you need level 20.

Maybe we can connect this to the display of individual photo dots? This means, on zooms below 14, then you're automatically taken to zoom 17 when clicking, on higher

[2016-09-03 08:11] smsm1 commented on #2186
Here is a video showing the flickering of the map and the editor becoming unusable. https://www.dropbox.com/s/uf9v5crjx2655kx/screencast%202016-09-03%2008-47-08.mp4?dl=0

This track I've had to submit as a series of small edits due to the editor hanging. https://www.mapillary.com/app/index/smsm1?lat=51.52015277777778&lng=-0.09394444444444616&z=17&pKey=jeHCrM2l7R7Fk5fCPvXTDQ&focus=map

[2016-09-03 16:46] richlv commented on #2192
i assume this is still tracking a valid problem.
for me, the interface sometimes stops loading blurs. if i'm editing blurs in a sequence, the blurs from the last successful load sort of get laid over other pictures- but they actually float "in space", and centre circles get disconnected from the blur rectangles like this :
![mapillary-blur-breakage](https://cloud.githubusercontent.com/assets/11288

[2016-09-03 18:35] richlv opened #2237 "broken sequences"
here are a few sequences that would benefit from a bit of cleanup.
first, a few that connect images across huge distances - and also over several years. it might be enough to properly split them (but i couldn't find a way to do that in the interface).
- http://mapillary.com/map/im/-efScemyPMW6FSe_eLzeoA
- http://mapillary.com/map/im/pFWQd5bxaCSwiciz4rb8pA
- http://mapillary.com/map/im/D4zoADI7KcCm

[2016-09-03 18:39] HolgerJeromin commented on #2235
A user could have manually uploaded a bunch of images which are correct tagged but does not belong together in a sequence... Just deleting a runaway without checking by human is a bad idea

[2016-09-04 02:42] Caboosey commented on #1625
Yes. Please give me this option or someway to have the ability hide the cross hairs. The Mapillary app has started to burn into my Samsung Galaxy S5 which has an OLED screen.

[2016-09-04 03:17] Caboosey commented on #627
Only workarounds that I did to keep my Samsung Galaxy S5 (SM-G900P) in white color in my 1998 Toyota Camry from overheating:
1. Have A/C vent or fan blowing into phone. Close or turn off  other vents if not needed for comfort . Note: My A/C usually set at coolest and fan level to 2 or higher on hot days. Normally just at 1.
2. Turn off Bluetooth and NFC. WiFi is ok to leave on and helps with geolo

[2016-09-05 09:54] richlv opened #2238 "ios app getting terribly slow"
yesterday i was using the ios app quite a lot - driving, walking, manual sequences. was keeping it open throughout the day. by the end of the day, the app became terribly slow - reacting to exposure point setting in the driving mode took either a terribly long time or many attempts (not quite sure which one, kept on tapping it :) ), and even pictures were taken very rarely - having the interval se

[2016-09-05 09:57] millenbop commented on #2238
I wonder if it's the new Mapbox library that I added in the latest app that causes this. Even though the map is hidden we add annotations to it so that showing/hiding the map is fast. Might have to stop doing that.

What phone are you using?

[2016-09-05 09:59] richlv commented on #2238
iphone6. i was actually enabling the map (both from the main menu and during the shooting) quite a lot at some point.

[2016-09-05 10:06] millenbop commented on #2238
An iPhone 6 should def be able to handle 1 fps well!

Did you notice the slowdown just in this version or is it something you have seen in older versions as well?

I have been thinking about actually destroying the map when it's hidden to free up resources rather than just hiding it. It will make the map switching slower, but I think that's worth it.

[2016-09-05 10:10] richlv commented on #2238
absolutely, it does handle 1s just fine - the slowdown was an exception. you can see the sequence right after that, http://mapillary.com/map/im/K10pbK_a6E96APjCRahHmg
it's a few seconds after i closed & restarted the app.
i have noticed that the exposure point changing was not responding properly sometimes, but i don't recall seeing such a slowdown in earlier versions.

[2016-09-05 10:11] richlv commented on #2238
is there maybe some debug log that could be created by the app, recording memory usage and whatever else could cause this ? otherwise you might be removing a convenience function that might not be the cause of this :)

[2016-09-05 10:13] richlv commented on #2235
ah, that's the same as #2237
i've listed a few specific sequences there. as you can see, users have uploaded old geotagged photos there, and that resulted in sequences that spans years.
nevertheless, they should all be reviewed manually, and an automated process should flag all suspicious sequences for review.

[2016-09-05 10:16] millenbop commented on #2238
I don't have anything built-in, so no not really. Only way right now is to connect it to debug tools. I'll do some long-running tests this week to see if I can observe some slowdowns and observe memory consumption etc.

Soon I want to enable faster capture than 1 fps now that we have separated the meta data and the photo. 2 fps should def be possible and stable on iPhone 6, perhaps even 3 fps.

[2016-09-05 13:58] gerhardneuhold commented on #1925
I am also encountering rotated images which is 100% reproducible on my One Plus 2 with OxygenOS 3.0.2 which is based on Android 6.0.1. In particular, the whole sequence which is recorded after step 5. (see below) is rotated 90 degrees clockwise in the Review Sequence screen when I proceed as follows:

[Hold smartphone landscape orientated]
1. start sequence
2. stop sequence
3. press power button (

[2016-09-05 16:35] drkludge commented on #627
@jaakkoh [I started to map covered parking in the metro Phoenix area because of the extreme temperatures.  I parked in the shade of McDonald's when I was going next door to the smoke house.](https://www.mapillary.com/app/?focus=photo&pKey=v_Co11MZaME6c7qrpUA_hQ&lat=33.4955045&lng=-112.0121881&z=17) Some of @Caboosey's recommendations help. [If you have to use the defroster, then you will still hav

[2016-09-05 17:45] gyllen commented on #2028
@peterneubauer Do we check for notifications settings before we send this email out?

[2016-09-05 17:46] gyllen commented on #2057
@Andblue AWESOME! Closing this issues then. Please open new if you have more feedback.

[2016-09-05 17:46] #2057 closed

[2016-09-05 17:47] gyllen commented on #2227
@mxa It would be possible, however we do not know if its a duplicate or if it is in fact another image.

[2016-09-05 17:49] gyllen commented on #2186
@retro See feedback above ^^^

[2016-09-05 18:31] peterneubauer commented on #2028
Yes this is probably not honoring the notification settings, eill change that. Sorry!

[2016-09-05 22:49] yopaseopor opened #2239 "indoor: Track jumps between different floors"
Hi ! A friend of mine has this sequence done at Biblioteca Les Voltes https://www.mapillary.com/app/?lat=41.39309960188896&lng=2.011534416285201&z=20&pKey=21aYiN0AxroWw_0h3MGa-w&focus=map . This is a library with two floors and the main floor. The problem comes when you try to navigate by one floor, and , because of proximity of points (I think pics are well-geolocated, well-ordered, and the Exif

[2016-09-06 07:04] simonmikkelsen opened #2240 "Have /v1/u/uploadhashes refer to "new" site for hashes"
### Basic information
- Platform: `Web`
- System/Browser: Win 8.1 / Chrome
### Steps to reproduce behavior
1.  Go to https://github.com/mapillary/mapillary_tools/tree/master/python
2.  Follow the link to http://blog.mapillary.com/technology/2014/07/21/upload-scripts.html
3.  Follow the link to http://api.mapillary.com/v1/u/uploadhashes
### Expected behavior

See the hashes for uploading.
OR
Have t

[2016-09-06 08:46] Caboosey opened #2241 "HDR feature"
### Basic information
* Platform: `Android`
* Version: `6.0.1`
* Device: `Samsung Galaxy S5 (SM-G900P)`

### Actual behavior

Currently no options within mapillary app to enablle HDR support.

### Additional information

The Samsung Galaxy S5 (SM-G900P) and others support taking photos in HDR. I would like to see this as feature.

[2016-09-06 08:48] Caboosey commented on #2241
Here you go @rsahlin

[2016-09-06 11:20] oscarlorentzon commented on #2239
We do not support separation of navigation for multilevel indoor spaces right now. The navigation algorithm "thinks" that all photos were taken on the same level (street level), therefor the spatial navigation just use the GPS values to calculate the navigation directions and when navigating with the spatial arrows it is possible that you will jump between the two floors.

As you said, when naviga

[2016-09-06 12:30] trolleway opened #2242 "Font for tagline text should be same for ascii and cyrillic symbold"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Use in tagline cyrilic symbols with numbers or ASCII symbols.

### Expected behavior

Font should be same

### Actual behavior

Fonts are different
![image](https://cloud.githubusercontent.com/assets/4630662/18273601/c0e17f04-7446-11e6-88b9-d17adf3f4144.png)

[2016-09-06 12:46] pkoby opened #2243 "Changing basemap resets filters"
### Basic information
* Platform: Web
* System/Browser: Ubuntu/Chrome

### Steps to reproduce behavior

 1. Apply user filter
 2. Change basemap

### Expected behavior

Filters remain the same after basemap switches.

### Actual behavior

The filters reset, showing the default view of the sequences (that is, all of them).

### Additional information

The same thing happens for time filtering and s

[2016-09-06 19:42] blaueente commented on #2228
Yes, the situation has improved very much. Usage is still somewhat laggy (at least in firefox, haven't tested chrome), and sometimes one has to click twice on the ring to make it react, so not perfect, but overall ok.

[2016-09-06 20:04] trolleway commented on #2242
This problem appears only in Ubuntu, in Windows everything letters are same.
![image](https://cloud.githubusercontent.com/assets/4630662/18289018/48f83420-7486-11e6-8fe2-4437e385df91.png)

[2016-09-07 03:28] kudarisenmon opened #2244 "Pictures have wrong location"
### Basic information
- Platform: `iOS`
- Version: `4.4.11`
### Steps to reproduce behavior

I'm using version 4.4.11 app with iPhone4. I took pictures with Driving mode last weekend, but many of pictures has wrong location.

https://www.mapillary.com/app/index/tryl?lat=35.105448&lng=138.226062&z=17&pKey=UlWm4V2nzJKdi8eLH7xewA&focus=photo
https://www.mapillary.com/app/index/tryl?lat=35.097883&lng=

[2016-09-07 05:49] pbb72 opened #2245 ""Normalize sequence" doesn't set last photo's direction"
### Steps to reproduce behavior

Use the "Normalize sequence" function in the sequence editor.
### Expected behavior

All photos should turn to the sequence direction at that point.
### Actual behavior

The direction of the last photo is not changed.
### Additional information

The last photo should point in the same direction of the sequence segment preceding the photo. (I.e., the same direction

[2016-09-07 07:03] katrinhumal opened #2246 "Upload stalls frequently on Android"
Issue from member `procrastigator`
### Basic information
- Platform: `Android`
- Version: `2.39`
### Steps to reproduce behavior

Start upload after having captured photos
### Expected behavior

Photos will be uploaded without interruptions
### Actual behavior

Uploads tend to stall frequently and it's necessary to force restart them repeatedly
### Additional information

An example:
- Launched up

[2016-09-07 07:21] jotpe opened #2247 "blur editor get confused with wrong blur overlay"
After editing some blurs on a track, the editor sometime load wrong blur overlays (from a different picture?).
See unedited photo in screenshot
![bildschirmfoto von 2016-09-07 09 14 12](https://cloud.githubusercontent.com/assets/3539168/18303246/6bebd6ca-74dc-11e6-834e-e569940cbb93.png)

### Basic information
* Platform: `Web`
* Version: Firefox 45.3.0, Chromium 53.0.2785.89 (64-bit)
* System/Brow

[2016-09-07 18:09] rausk opened #2248 "Mapillary Android app crash"
### Basic information
- Platform: Android
- Version: `4.4.2`
- System/Browser: `...`
### Steps to reproduce behavior
1. not applicable/not known
   2.
   3.
### Expected behavior

no crash
### Actual behavior

from time to time the Mapillary app crashes
### Additional information

the app shows:

![20160907_195552_resized](https://cloud.githubusercontent.com/assets/19711616/18323117/6cbe8d36-7536-

[2016-09-07 23:03] pbb72 opened #2249 "Request: add sequence editor functionality to uploader"
I think it would be useful to have the functionality of the sequence editor (especially the direction functions) in the uploader, at the point where you review the upload.

That way it will be easy to correct badly aligned compass directions, for example.

[2016-09-08 09:59] knikel commented on #2205
@de-vries: I‘ve looked into the issue and this is what‘s happening:
* We have a single result for the `netherlands` query in the system
* There are two results if you [do a search on Mapzen](https://mapzen.com/products/search/?query=netherlands&endpoint=autocomplete&lng=-73.98073&lat=40.72606&zoom=12). We‘re missing the second result on our side.
* The first result will give you the correct shape,

[2016-09-08 10:25] knikel commented on #2230
This is correct behaviour, we want to hide scroll bars where it makes sense and have written specific styles for it. Unfortunately support for that is patchy across browsers, so we have styles that do hide it in all webkit browsers. Doing this in other browsers requires introducing extra offset for the element that is being scrolled and hiding the overflow-y of it. However when the scrollbar is hi

[2016-09-08 11:12] de-vries commented on #2205
@knikel Thanx for looking into this.
btw, in the legacy site it's working. http://legacy.mapillary.com/map/stats?p=the%20netherlands

[2016-09-08 12:43] #2222 closed

[2016-09-08 20:24] HolgerJeromin commented on #2248
Same here on Fairphone2. "explore" reproducible crashes/does not end loading.
Hitting "back" button on the phone does not work.

Often the above image is not loaded, right not it is on my phone.

[code]

[2016-09-08 20:41] peterneubauer commented on #2248
Yup, I'm on that. Thanks for reporting!

[2016-09-09 05:52] jotpe opened #2250 "navigation arrows pointing in the wrong direction"
On the first image there is an arrow pointing to the right direction. But it leads to the image in left direction... Same on the other image.

https://www.mapillary.com/app/index/0m05YYyXAsdNYVJb3QoI6X?lat=50.901918&lng=7.021059&z=17&focus=photo&pKey=VH7PCL48_D9fufcQ7a_khg&menu=false
![bildschirmfoto von 2016-09-09 07 47 07](https://cloud.githubusercontent.com/assets/3539168/18376725/ca2f81ce-7661

[2016-09-09 12:19] Caboosey commented on #2193
This is issue is also related to issue#2013.

[2016-09-09 12:28] Caboosey commented on #627
I also use time based mode instead of distance based to avoid overheating  since distance based settings is too long between photos on slower speeds and too quick at faster apeeds. It appears the app ignores the minimum delay set unlike previous versions of the app prior to v2.34 as references in issue #2013

[2016-09-10 07:14] RafalR commented on #1725
I do not know I have to change this setting in Google Chrome but I noticed that in my case it helps to add a "pitch: 0.01", as in this case: https://jsfiddle.net/kngpteyj/

At the moment do not see map. The problem may involve a greater number of users.

[2016-09-10 07:46] Zverik opened #2251 "Lost photos"
Hi,

Yesterday I was photomapping with Mapillary app, giving it a test drive. It worked mainly okay, but in the [resulting sequences](https://www.mapillary.com/app/user/zverik?lat=40.250206247635134&lng=23.253018471593663&z=17&pKey=u5gwHW1y2hAgW7nJIFegQg&focus=map&menu=false) I see a missing road. After Avenue 6 I walked though Avenue 5 and then to the start of the next sequence on Avenue 3.

Is i

[2016-09-10 07:50] Zverik opened #2252 "Uploaded via web interface, can't see it now"
I've uploaded ~200 photos yesterday [around here](https://www.mapillary.com/app/user/zverik?lat=40.25034067119054&lng=23.247950543925754&z=16.634394533880794&pKey=4g-_Ar8rcR0ECzsngdgm6g&focus=map&menu=false) (Avenue 1 thorough Avenue 4), but today I cannot find it. Where are the photos?

(good thing I didn't delete these locally)

[2016-09-10 09:33] Zverik commented on #2251
Sorry, they were just slowly processing, I see them now.
Turns out mapillary is great for photomapping :)

[2016-09-10 09:33] #2251 closed

[2016-09-10 11:09] peterneubauer commented on #2251
Sorry, there were 440000 images coming in during the last 24h so it takes a few hours more right now ☺

[2016-09-10 13:04] jotpe commented on #1630
What is the status of the new changesets?

[2016-09-10 13:17] peterneubauer commented on #1630
Blurs requests should be approved within a day. If you have more than 200 approved, they will get through automatically. Edit location changesets are working, and also deletion requests are working, we just need to make the administration interface for them working. I'm working on a reasoner that checks if all changes in a changeset are on your own images and in that case automatically approves. W

[2016-09-10 13:20] peterneubauer commented on #1630
Blurs requests should be approved within a day. If you have more than 200 approved, they will get through automatically. Edit location changesets are working, and also deletion requests are working, we just need to make the administration interface for them working. I'm working on a reasoner that checks if all changes in a changeset are on your own images and in that case automatically approves. W

[2016-09-10 14:18] de-vries opened #2253 "Traffic signs only show at high zoomlevels"
The traffic signs only show at high zoomlevels, This behavior is fine I guess, but also confusing. When the zoomlevel is low please show a warning like: "Zoom in to view traffic sign data".

[2016-09-10 14:32] de-vries opened #2254 "Traffic signs sprite is broken"
All traffic signs are represented by the left top corner of this sprite: https://www.mapillary.com/homebrew-streets-v8/sprites.png

![selectie_150](https://cloud.githubusercontent.com/assets/1449609/18411254/270459fc-7774-11e6-9094-052945f52e7d.png)

[2016-09-10 15:37] jotpe commented on #1630
Yes.

[2016-09-10 15:55] jotpe opened #2255 "effect of new sequences on same area."
Is there a recalculation of the smooth transition (struction for motion) when I change the location of images?
Are the positions of the images recalculated? Is there a kind of status viewable, like depending changes of neighbour images or something like that?

For example I have a smooth transition around the corner and a sequence without transition. The angle and motiv looks equal, but it seems t

[2016-09-10 16:05] jotpe opened #2256 "does blur requests help for detection"
Do approved blur requests make the detection better? Are they used as training data for the algorithm?
If not this would be a bad user experience.

[2016-09-10 16:32] de-vries commented on #2256
yes: http://forum.mapillary.com/t/does-mapillary-team-use-the-blur-requests-for-training/545

[2016-09-10 18:40] pkoby commented on #2254
It's working normally for me, under the same conditions (EU, prohibitory).

[2016-09-10 18:42] pkoby commented on #2252
Did you push the upload to publish at the end? If you visit https://legacy.mapillary.com/map/upload/im, you should see if there is an open upload.

[2016-09-10 20:31] wimh commented on #2252
I had the same problem with one upload from yesterday, and one upload from earlier today. The uploads also did not show up in the activity feed. But now they show up, both dated 2-3 hours ago. So it seems something was stuck, but it seems to be fixed for me. (they are not yet on the map, but I know that it takes some time).

[2016-09-10 20:39] jotpe commented on #2256
Are there some statistics available about the improvement?

[2016-09-10 22:07] Zverik commented on #2252
Yes, the reason was the big queue of photos to be processed. I've seen my photos in JOSM, not on the website yet, but I guess it's a matter of time. Thanks everyone.

[2016-09-10 22:07] #2252 closed

[2016-09-11 09:01] jotpe opened #2257 "sequence and blur editor hangs on next photo"
Blur editing this sequence https://www.mapillary.com/app/?lat=50.910309&lng=7.023926&z=17&focus=photo&pKey=oLTUUyfWI-SjDQEucanbKQ&menu=false
often does not load the next image. The loading circle is rotating all the time.

Chromium Version 53.0.2785.89 Built on 8.5, running on Debian 8.5 (64-bit)

[2016-09-11 09:05] jotpe commented on #2257
Maybe related to #1472 ?

[2016-09-11 20:21] utack commented on #1175
Shouldn't this be easy with the new Camera API?
On my device it still uses ISO 100 in the early evening and starts blurring, which is completely ridiculous, because up to ISO800 is a totally fine value to use with it's sensor.

[2016-09-12 05:13] ltog opened #2258 ""Normalize sequence" feature produces unwanted email notifications"
### Basic information

Changing image directions based on the "Normalize sequence" feature produces email notifications, which I can't seem to disable.
### Steps to reproduce behavior
1. Use "Normalize sequence" feature on a sequence
2. Receive two email notifications: "You requested x new edits" and "You got 3 edits approved"
3. Wonder why you got these notifications.
### Expected behavior

I hav

[2016-09-12 05:41] ltog opened #2259 "Crosshair not centered on camera picture on Fairphone 2"
### Basic information
- Platform: Android
- App Version: 2.39
- Device: Fairphone 2 (Fairphone Opensource OS version 16.07.1 (this is not the default OS with which Fairphone 2s are sold))
### Steps to reproduce behavior
1. Try to capture images using the Android app
### Expected behavior

The crosshair should be centered inside the camera image.
### Actual behavior

The crosshair is not centered i

[2016-09-12 06:45] HolgerJeromin commented on #2259
Same Phone, same App Version, Fairphone stock rom (build date Aug 15; yes fairphone has monthly security updates :-)

![image](https://cloud.githubusercontent.com/assets/2410353/18426904/1eb1e600-78c5-11e6-888c-90c8c0907255.png)

[2016-09-12 08:48] ltog commented on #2259
Note that the crosshair ist NOT centered in the picture of @HolgerJeromin :

![crossed](https://cloud.githubusercontent.com/assets/4726277/18429911/5eb68718-78d6-11e6-9e1e-b7979a7c2401.png)

[2016-09-12 09:34] angelday commented on #2151
@ToeBee we released Filters which basically sets "your traces only" as a filter. Does this resolve your issue?

[2016-09-12 10:58] baffioso commented on #2009
+1

[2016-09-12 11:19] ClockEnd commented on #2009
+1

[2016-09-12 13:19] ToeBee commented on #2151
Yes, this seems to be working correctly now.

[2016-09-12 13:19] #2151 closed

[2016-09-12 22:27] gyllen commented on #2258
@peterneubauer We need to make it possible to turn off this notification

[2016-09-12 22:29] gyllen commented on #2257
I think this has todo more with the length of the sequence then the blur functionality. At the moment we are not handling long sequences correctly. We are working on making this much faster though.

[2016-09-12 22:30] gyllen commented on #2254
This should be fixed with latest deploy of website.

[2016-09-12 22:30] #2254 closed

[2016-09-12 22:31] gyllen commented on #2255
Yes an update of position and bearing should affect the smooth transition.

[2016-09-12 22:34] gyllen commented on #2249
@pbb72 At the moment you can edit position but not bearing.

[2016-09-12 22:39] gyllen commented on #2242
@trolleway Thanks for reporting

@angelday Thoughts on this?

[2016-09-12 22:40] gyllen commented on #2228
Ok I will keep this open as a general performance ticket of the uploder.

[2016-09-12 22:41] gyllen commented on #2243
@pkoby Thanks for reporting. We will track this issue internally. Don't expect to be solved in the next couple of weeks. though.

[2016-09-12 22:43] gyllen commented on #2240
@simonmikkelsen We are working on adding hashes to your settings page on new site. I think thats there is where they belong.

[2016-09-13 07:53] angelday commented on #2242
I checked it in Firefox/Chrome/Safari on the Mac and they all render 1px bigger than the English text. Unfortunately we cannot resolve this since it seems like a browser/font based issue. We see that some browsers render it correctly and we're not setting the font size differently in that tag.

I tried system defaults, @trolleway do you see a difference there?

![screen shot 2016-09-13 at 9 53 06]

[2016-09-13 12:38] RafalR opened #2260 "Almost empty map canvas"
### Basic information
- Platform: `Web`
- Version: `...`
- System/Browser: see below
### Steps to reproduce behavior
1. Open https://www.mapillary.com/app
   ![image](https://cloud.githubusercontent.com/assets/659513/18471319/8bbe3f68-79b1-11e6-9ab1-2bf61ce91eda.png)
## My GPU (chrome://gpu/)
### Graphics Feature Status
-   Canvas: Hardware accelerated
-   Flash: Hardware accelerated
-   Flash Sta

[2016-09-13 15:47] pkoby opened #2261 "Some panoramas that have no business being such"
### Basic information
- Platform: `Web`

So using the awesome new Pano filter, I found a bunch of really long sequences in Romania. I was impressed that someone took such long pano sequences, but on viewing them, I found that they were weirdly distorted.

Here's the start of one such sequence: https://www.mapillary.com/app/?lat=45.13112683805556&lng=24.00534098027778&z=17&pKey=B917nxh6D1l_PeWOLhRe

[2016-09-13 17:05] oscarlorentzon commented on #2257
Tracked in mapillary/mapillary-js#191.

[2016-09-13 17:19] ybkuang commented on #2261
@pkoby Good find! That's one set of photos that we need to fix. We will reprocess them so that they will appear correctly.

[2016-09-13 17:39] talllguy commented on #2114
@ybkuang FWIW, though closed, these photos are still in the [wrong position](https://www.mapillary.com/app/user/talllguy?lat=39.292197789163794&lng=76.59418018051781&z=12.268845649854269&pKey=7M3eSVC2r1VtU5TAXEuv3w)

![image](https://cloud.githubusercontent.com/assets/1827881/18484338/ffaeafb2-79b5-11e6-80dc-b90c760aa2ee.png)

[2016-09-13 17:40] ybkuang commented on #2114
@talllguy can you list all the affected sequences here? I will do a manual clean up for these sequences.

[2016-09-13 17:47] millenbop commented on #2114
Yeah I was gonna move them myself, but then I realized we don't have a selection tool in the editor :/

[2016-09-13 18:17] thoschu96 opened #2262 "Restore deleted pictures ?"
### Basic information
* Platform: `iOS` |
* Version: 9.x
* System/Browser: `...`

### Steps to reproduce behavior

 1. deketed by exident an sequence.
Is there a way to restore it
 2.
 3.

### Expected behavior

maybe a trashfolder would be nice

### Actual behavior

Cant find a way to get the pictures back

### Additional information

...

[2016-09-13 19:22] nickplesha commented on #2247
@jotpe Thanks for reporting this bug! This might happen sometimes when the server is slow to respond and the blurs from the previous image are still there until the fresh blurs are loaded.

Can you still reproduce this issue? If so, could you please add some more detail about what actions lead to this result? Thanks!

[2016-09-13 19:42] das-g opened #2263 "Can't log in on Android without GMS: "Value <!DOCTYPE of type java.lang.String cannot be converted to JSONObject""
### Basic information
- Platform: `Android`
- Android version: `5.1`
- App version: Whatever the ["Latest APK" link](http://android-releases.mapillary.io/app-release_current.apk) on https://www.mapillary.com/ pointed to at `2016-09-13T10:47:00+0200`
- System: [`Fairphone Open 16.07.1`](code.fairphone.com/projects/fp-osos/) (i.e. an Android 5.1 without Google Mobile Services / Google Play Services)

[2016-09-14 05:29] mxa commented on #2227
@gyllen I think it's virtually impossible to have two different images with identical GPS location, time and compass data.

[2016-09-14 05:35] mxa commented on #2028
Please do! I don't like my email to be easily associated with my mapillary username and I don't need the notifications in my email inbox.

[2016-09-14 06:12] ToeBee commented on #2259
I've had this on my Galaxy S7 for a while now. I just never got around to reporting an issue. It is centered on the screen but not in the picture viewfinder.

![2016-09-14 04 38 20](https://cloud.githubusercontent.com/assets/348948/18501726/1e8cdd98-7a18-11e6-9736-7965303699c2.png)

[2016-09-14 06:38] mxa commented on #2028
Desktop notifications on the other hand could be useful. Emails are not.
https://forum.mapillary.com/t/feature-proposal-website-notifications/662

[2016-09-14 08:05] millenbop commented on #2262
There are some tools out there that claim they can recover deleted files. I haven't tried them myself on iOS though (but I have on memory cards for my DSLR). Normally when a file is deleted it isn't actually deleted. Normally a file system just marks the space on the hard drive or memory card as available, which is faster than actually deleting the file. That's why these tools can work.

In your c

[2016-09-14 09:18] thoschu96 commented on #2262
Ok. will have a look.

a confirmation popup would have stopped me, for deleting it by exident.

maybe moving the stuff first to a trashbin and then in a second step , push a button for recycle .

cheers

Am 14.09.2016 um 10:38 schrieb Anders M?rtensson <notifications@github.com<mailto:notifications@github.com>>:

There are some tools out there that claim they can recover deleted files. I haven't t

[2016-09-14 14:09] knikel commented on #2243
@nickplesha fixed that, will be visible soon.

[2016-09-14 14:09] #2243 closed

[2016-09-14 14:17] knikel commented on #1946
We've released a new incarnation of [filters](http://blog.mapillary.com/update/2016/08/31/view-what-interests-you-most-introducing-filters.html). Hope you like them!

[2016-09-14 14:17] #1946 closed

[2016-09-14 14:19] knikel commented on #1795
We've updated the [filters](http://blog.mapillary.com/update/2016/08/31/view-what-interests-you-most-introducing-filters.html). We have persisting them in the URL in the pipline.

[2016-09-14 14:19] #1795 closed

[2016-09-14 14:24] knikel commented on #1080
It's possible to filter out non-panorama photos. Check out the filters menu.

[2016-09-14 14:24] #1080 closed

[2016-09-14 14:32] grinapo commented on #1892
Have I mentioned that mapillary actually _changes_ the phone (android) orientation [to upside down] upon entering the camera view? It's visibly due to the "top" menu bar going down upside-down.

[2016-09-14 14:36] gyllen commented on #2028
@mxa We just did and update to the Feed on the web, this is a good step towards desktop notifications

[2016-09-14 15:15] millenbop commented on #2262
I have added a popup for the next release. Trashbin thingy might come later, low prio though.

[2016-09-14 18:04] pkoby commented on #2261
Might as well mention another thing. This sequence has some panoramas, but some normal photos. The whole sequence is tagged as a panoramic sequence, and the normal photos are displayed in the viewer at a much smaller scale (click next from this photo): https://www.mapillary.com/app/?lat=44.271419683333335&lng=-71.30101318333332&z=17&pKey=V7zmDamqpiOvoIcHFQt65w&focus=photo&menu=false

Also, this is

[2016-09-15 15:36] millenbop commented on #2224
Fixed, will be out in the next release

[2016-09-15 15:36] #2224 closed

[2016-09-15 16:07] jotpe opened #2264 "delete requests are not processed"
I requested to delete some of my sequences from last year, because there was a gps offset in the mapillary app. But none of my delete requests get succeded.

[2016-09-15 16:21] peterneubauer commented on #2264
When did you request them?

[2016-09-15 17:20] jotpe commented on #2264
I think the first about two weeks ago.

[2016-09-15 17:59] gyllen commented on #2264
@peterneubauer Will you check and see what we have in the database.

@jotpe Also now that we are working on making your requested, approved and rejected changesets more visible so you can know exactly the state of stuff you are working on.

[2016-09-15 18:25] jotpe commented on #2250
Same road, two other sequences:

https://www.mapillary.com/app/index/oFFKpT51LkbLLKVekWD3VY?lat=50.902744&lng=7.021994&z=17&pKey=VJhfXzSgDjUaQZFGgJEbhA&focus=photo
![bildschirmfoto von 2016-09-15 20 23 17](https://cloud.githubusercontent.com/assets/3539168/18562006/63d1d758-7b82-11e6-98aa-4be34b9deb5c.png)

https://www.mapillary.com/app/index/oFFKpT51LkbLLKVekWD3VY?lat=50.902713&lng=7.022235&z=17&

[2016-09-15 22:25] richlv opened #2265 "ios app stops capturing when losing focus"
the ios app (latest version, iphone6) sometimes stops capturing when losing the focus.

in older versions, this happened very frequently - for example, receiving the call wouldn't resume capturing after the call was over.
in recent versions this is much better, but the app still often stops capturing when manually switching between mapillary and other apps (navigation etc).

the driving mode is st

[2016-09-16 09:13] millenbop commented on #2265
Sorry to hear about the problems.

Just to clarify. Do you mean that you start capture, switch to another app, then switch back to Mapillary and that then capture is weird?

Or that you start capture, stop capture but leave camera view open, switch to another app, then switch back to Mapillary and that then capture is weird after starting it again?

[2016-09-16 09:26] richlv commented on #2265
start capture; switch to another app; switch back.
sometimes capturing auto-resumes, sometimes it does not - even though the app shows the "orange button"

[2016-09-16 09:29] millenbop commented on #2265
Thanks, I'll look into it and hopefully I can replicate it and fix it. This is using the internal camera right?

[2016-09-16 09:54] richlv commented on #2265
yep, the internal camera. only observed in the 'driving' mode (but not really tested in the 'walking' mode)

[2016-09-16 09:57] millenbop commented on #2265
The only difference is that we check the speed (from GPS) and start/stop capture based on that. But that could be the problem, that speed is reported as slow.

So far I have been trying to reproduce it using walking mode but it seems to work.

[2016-09-16 10:19] richlv commented on #2265
is there a way to enable detail view like in the android app ? if the reported speed would be displayed onscreen all the time, i could try to test that possibility.

[2016-09-16 10:28] millenbop commented on #2265
Nope, not at the moment sorry, but that might be useful in the future. Not sure that's the problem though, just a possibility :)

[2016-09-16 18:13] jotpe commented on #2264
Cool. When do you plan to release that feature?

[2016-09-16 18:15] jotpe opened #2266 "approved changeset is unchanged"
Another strange example: I edit this very small sequence, because their locations were in the opposite order. In my dashboard it is listed as approved at September 12, 2016 08:24, but it is unchanged...

https://www.mapillary.com/app/edit/gOsHYXdXphGasRUEGXET8h?lat=50.8991499285022&lng=7.0307165470968584&z=19.138384970180816&pKey=cpyHuADLABAAsdyKEhcnWg&focus=map&menu=false

Maybe related to #2264

[2016-09-16 18:19] jotpe opened #2267 "display scale in edit sequence dialog"
Can you implement a little scale panel in die sequence editor?
This would help to move image locations in high zoom levels.

Or maybe a distance tooltip to the previous location of the current image?

[2016-09-16 18:40] jotpe opened #2268 "improve compass angle change"
Entering the number of degree of the compass angle is not easy when you have to do it a lot.
I think this GeoLocator tool has a nice feature. If you press shift you see the direction (red line), even while you are zooming. What do you think?

![bildschirmfoto von 2016-09-16 20 37 04](https://cloud.githubusercontent.com/assets/3539168/18597310/acc56788-7c4d-11e6-9d7d-0f903e399dbe.png)

[2016-09-16 18:42] jotpe commented on #2247
I blurred a lot since then, but I could not procedure it.

[2016-09-16 18:47] jotpe opened #2269 "shortcuts for the blur editor"
If you are doing mass blur requests, it is exhausting to click the buttons, which are on different edges on the browser window. Maybe it is possible to provide additional shortcuts for the button: next image, last image, request change, delete all blurs?
This would accelerate blur editing.

[2016-09-17 03:22] nicolas17 commented on #2265
Related: #1882.

I haven't seen this problem happen again since #1882 was fixed; but that doesn't mean I tested and confirmed it doesn't happen, maybe it did and I didn't notice.

[2016-09-17 03:27] nicolas17 commented on #2262
I would expect iOS to use TRIM on the flash memory, which would make deleted files really deleted and not recoverable...

+1 to trash bin. But I think I wouldn't make it an explicit 'trash bin' folder visible to the user, just an "undo delete" button (or the shake gesture?) that internally works by having a trash bin folder.

[2016-09-17 04:03] nicolas17 opened #2270 "GPSTimeStamp doesn't have actual GPS time"
### Basic information
- Platform: `iOS`
- Version: 4.4.12
- System: iPhone 6, iOS 9.0.2
### Details

In the past, when taking photos with the iPhone internal camera, the `GPSTimeStamp` and `GPSDateStamp` keys in the EXIF of the photos were from the actual location timestamp:

[code]

Which didn't necessarily match the timestamp of the picture, since the app could have lagged when saving the pictur

[2016-09-17 05:44] richlv commented on #2265
yes, that's pretty much that issue, just happening much less frequently now

[2016-09-18 07:45] jotpe opened #2271 "Change password doesn't send instructions"
Clicking the button _send me instructions_ for password reset does not deliver an email to me. My email adress is correct.

[2016-09-18 07:48] jotpe opened #2272 "ios app uploads changesets as previous user"
After login with another user account, the uploaded changeset is assigned to the previous user account.
I guess this is not intended.

[2016-09-18 08:18] millenbop commented on #2271
Thanks for reporting!

Is this for web or iOS or Android?

[2016-09-18 08:22] millenbop commented on #2272
Do you mean that you
1) take photos with user A
2) logout, login and upload with user B
3) and that uploaded photos are tagged from user A?

That is the intended behavior, but can be of course discussed if that's the way we want it.

[2016-09-18 09:41] jotpe commented on #2271
Sorry, via website ( clicked...)

[2016-09-18 09:43] jotpe commented on #2272
Yes, I mean that.
I think most people don't expect this behavior.

[2016-09-18 12:53] peterneubauer commented on #2264
@jotpe I can't find any changesets that you requested. Can you please submit one and forward the email you get back to me?

[2016-09-19 09:02] kdudzik commented on #2271
I can confirm that - fortunately the "Having trouble signing in? Click here." option works so that's the only way to change your password now.

[2016-09-19 12:42] talllguy commented on #2114
@ybkuang these are the three I found to be affected

* DLNrQuigxROSAdJR7thv2Q
* 5DsViWGL_ZQ5Irnl15HGBw
* rSVjMu05ziBiC8mY37m9qA

This one was a test, just delete it

* UG1VTZBcZyU0SbSLyW1-sw

[2016-09-19 12:49] gyllen commented on #2266
@peterneubauer Can we investigate why this changeset was NOT apllied?

[2016-09-19 12:50] gyllen commented on #2267
I like the idea

[2016-09-19 12:51] gyllen commented on #2247
Closing, reopen if it reoccurs

[2016-09-19 12:51] #2247 closed

[2016-09-19 12:52] gyllen commented on #2269
Duplicate of #2161

[2016-09-19 12:52] #2269 closed

[2016-09-19 12:54] gyllen commented on #2271
Thanks for reporting, we are fixing.

[2016-09-19 19:51] jotpe commented on #2264
I received 3 emails with 15, 4 and 2 with edits approved subjects this afternoon. The links of last 2 emails don't load sequences, so I guess that are responses to my delete requests. Having a look at the map, it seems really that they have been deleted. Thanks.

What was the problem?

[2016-09-19 19:52] jotpe commented on #2266
Now this changeset is applied.

[2016-09-19 20:37] jotpe opened #2273 "sequence editor renders the wrong (old) image position"
I catched this error before, but now if done a screenshot.
I edited image locations within a sequence.
Normal behaviour: Hovering an image position (blue circle) shows a black hand with forefinger pointer, default is an open white hand pointer.

![bildschirmfoto vom 2016-09-19 22 36 12](https://cloud.githubusercontent.com/assets/3539168/18648140/9ad58fa8-7eb9-11e6-954f-d69103cdc3c1.png)
![bildschi

[2016-09-19 21:42] peterneubauer commented on #2264
Problem was that we hadn't really started approving deletion changesets. Now things should be working. Thanks!

[2016-09-19 21:42] #2264 closed

[2016-09-20 09:21] gyllen commented on #2273
@jotpe Thanks for reporting

[2016-09-20 09:23] gyllen commented on #2266
Perfect, closing

[2016-09-20 09:23] #2266 closed

[2016-09-20 12:34] knikel commented on #733
This is no longer an issue, the filters are applied after navigating between editor and viewer and between style changes too. Thanks for the feedback!

[2016-09-20 12:34] #733 closed

[2016-09-20 12:37] knikel commented on #877
We have an updated naming convention, in the near feature we’ll be updating the classification naming conventions too; you can find source of truth for everything related to Mapillary‘s traffic signs: https://github.com/mapillary/mapillary_sprite_source this is also the place where that will happen. Thanks for the feedback!

[2016-09-20 12:37] #877 closed

[2016-09-20 12:41] knikel commented on #1353
This is fixed, all the signs that we detect are in https://github.com/mapillary/mapillary_sprite_source now, based on the contents of that repository we generate list of available signs.

[2016-09-20 12:41] #1353 closed

[2016-09-20 12:42] knikel commented on #1414
It's possible to add signs to https://github.com/mapillary/mapillary_sprite_source as svg images. There‘s a [how to guide](https://github.com/mapillary/mapillary_sprite_source/blob/master/docs/adding.md), feel free to skip the `.eps` related parts 😉

[2016-09-20 12:42] #1414 closed

[2016-09-20 12:51] knikel commented on #1437
We have same behaviour in current filters. We should make sure the we have 23:59 on the `toDate`, since setting the `fromDate` and `toDate` to the same day will filter out everything.  Is that possible @nickplesha?

[2016-09-20 12:54] knikel commented on #1582
We have a repository where we host all the traffic signs we have detected, I‘m not sure how hard would it be to implement in JOSM, but we do generate a `.png` sprite and accompanying mapping to data in JSON format. Pinging JOSM devs 👍

[2016-09-20 12:54] #1582 closed

[2016-09-20 12:58] knikel commented on #1906
Since then we've got many iterations of the viewer. Do you still have similar problems @aborruso? It seems that must've been a server hiccup at the time. Please reopen if something similar happens in the new viewer.

[2016-09-20 12:59] knikel commented on #1918
This should be fixed in the new viewer.

[2016-09-20 12:59] #1918 closed

[2016-09-20 18:21] nicolas17 commented on #2272
The author information (and even authentication!) is stored inside the photo itself, that's why it works like that. If you send me a photo you took with the app, and I upload it, it will appear in your account (I actually tested this).

[2016-09-20 20:02] nicolas17 opened #2274 "API used by JOSM to submit changesets doesn't reply"
The Mapillary plugin for JOSM allows moving and rotating photos, and submitting it as a changeset to Mapillary. But the Submit button just hangs.

I found what HTTP request it was trying to do, and tried doing the same from the command line:

[code]

This gets stuck waiting for a response for about five minutes, and then finally responds with "504 Gateway Time-out".

Making edits from the web app

[2016-09-20 20:53] ToeBee commented on #1353
Now you just need to re-enable sign detection and editing so that we can see the fix in action! :)

[2016-09-21 07:11] simonmikkelsen commented on #2261
@ybkuang Sequence Cc46yZEwXnXhtfqjQfbB1A (https://www.mapillary.com/app/?lat=56.07841226036089&lng=10.117729068282728&z=15.355823249249145&pKey=y0rnwBVsSjN7upJEyuIt4w&focus=map) seems to be a variation: It shows when the 360 filter is enabled and the image is rendered curved, but they are just normal images.

[2016-09-21 07:44] aborruso commented on #1906
@knikel It's the same. I have opened an anonymous session of chrome in Windows 10, and I have always a gray map.
Without any error in console.

![image](https://cloud.githubusercontent.com/assets/30607/18701975/e6ebc6ce-7fdf-11e6-91fb-0c2e0f095d5d.png)

[2016-09-21 08:00] knikel commented on #1906
Thanks @aborruso for the feedback. Does this happen in non incognito mode as well?

Could you post a screenshot of whether you have some failed requests in the network tab after opening the DevTools?

Open DevTools -> Click _Network_ -> Refresh page

[2016-09-21 08:06] aborruso commented on #1906
@knikel yes the same also when not in incognito mode.

Here a screencasting http://somup.com/cDQrjhCYi

[2016-09-21 08:12] knikel commented on #1906
Thanks, I'm looking into that!

[2016-09-21 10:30] simonmikkelsen opened #2275 "Image editor freezes randomly"
### Basic information
- Platform: `Web`
- Version: `Windows 8.1`
- System/Browser: `Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36`
### Steps to reproduce behavior
1. Select a sequence and edit it.
2. Move pictures to other locations.
3. At random point (roughly every 20th edit) the site becomes non reactive.
4. The error message

[2016-09-21 21:11] floscher commented on #2095
The problem is now fixed. Thanks!

[2016-09-21 21:11] #2095 closed

[2016-09-24 10:09] jotpe opened #2276 "blur editor shows little black gaps in the image"
I edited blurs on a few hundred images and then this small little gaps appear. Moving to the next image flush them away.

![bildschirmfoto von 2016-09-24 12 01 53](https://cloud.githubusercontent.com/assets/3539168/18807745/ad154dea-824f-11e6-9de5-3442632452ce.png)

Chromium Version 53.0.2785.113 Built on 8.5, running on Debian 8.6 (64-bit)

[2016-09-24 10:16] jotpe commented on #2247
It happens again, two minutes ago.
![unbenannt](https://cloud.githubusercontent.com/assets/3539168/18807789/bda667ba-8250-11e6-8924-72b0a7e26f81.png)

[2016-09-24 15:30] paulb20 opened #2277 "Android app won't record sequences."
### Basic information
- Platform: `Android`
- Version: `2.40`
- System/Browser: `4.1.2`
### Steps to reproduce behaviour
1. Fix phone to bike
2. Open Mapillary
3. press Camera
4. Press button to start
### Expected behaviour

 Starts taking pictures
...
### Actual behaviour

Only takes pictures when hit a bump and the phone is shaken strongly
...
### Additional information

Phone is Samsung Galaxy

[2016-09-25 04:02] jfburke3 commented on #1260
Actually...I kinda think it's slightly too slow now.  But I'd rather have too slow than too fast.

[2016-09-25 04:44] jfburke3 commented on #2241
Same for Samsung Galaxy S7 on Android 6.0.1, as well as Samsung Galaxy S5 on Android 5.0.

[2016-09-25 11:45] yopaseopor commented on #1260
Why we don't have a speed slider? It would be useful and funny also.

[2016-09-25 18:30] AnkEric commented on #1925
No more Pictures being rotated during the last two months...
Or do I get sloppy in doing wrong?
One thing is certain: I always mount my phone in the right orientation before starting Mapillary.

[2016-09-25 19:21] AnkEric opened #2278 "Capture stopping (some sequences are one image only)"
### Basic information
- Galaxy S5 Neo
- Android 6.0.1
- Mapillary 2.40

### Expected behavior

Mapillary 2.39
- Fix for capture stopping, please report of you still experience

### Actual behavior

5 sequences having one image only.
Automatic mode, Red button showing, so Mapillary claims sequence is running. It's not!

### Steps to reproduce behavior

Today (2016/09/25) first time using Mapillary

[2016-09-25 19:36] peterneubauer commented on #2278
Ah so there is occasionally a bug in the state machine in automatic mode? Can you get around it by restarting the app?

[2016-09-25 20:04] AnkEric commented on #2278
Sorry, first time experience.
I noticed the empty sequences (except for the one image) when I came home. By then it was too late for trying to resolve during our cycletour.
I assume I did not restart the app today. Again: only 80% sure of that. I was not in investigating mode; -))
If I had known, I would have watched my screen (although not allowed to do so during cycling).  I didn't.

[2016-09-25 21:30] HolgerJeromin commented on #2278
I have this problem, too. Restarting the capture with the start stop button is sometimes successful sometimes not.

[2016-09-27 06:23] pbb72 commented on #1437
Settings the time stamp to 23:59 on the end date, feels like it could cause all kinds of mayhem with time zones.

The time evaluator simply needs to be made non-inclusive for the end date. In pseudo-code:

`... where (date >= start_date and date < end_date) ...`

instead of:

`... where (date >= start_date and date <= end_date) ...`

[2016-09-27 06:33] knikel commented on #1437
Yes, that was just a joking/silly suggestion; the fundamental the problem is both `fromDate` and `toDate` currently are the same (as in stringified date YYYY-MM-DD) and filter out everything when applied to dates from vector tiles after conversion to milis.

[2016-09-27 07:45] nickel715 opened #2279 "Openstreetmap login broken in iOS app on iOS 10"
### Basic information
* Platform: `iOS`
* Version: `latest` I don't know, the version is [not shown](https://cloud.githubusercontent.com/assets/148483/18866220/43ebdb16-849f-11e6-8f56-6e02c51a8945.PNG) in the app nor the app settings
* System/Browser: `iOS 10.0.1 | iPhone 6`

### Steps to reproduce behavior

 1. download app from app store
 2. tap login
 3. choose openstreetmap

### Expected behav

[2016-09-27 08:36] millenbop commented on #2279
Thanks for reporting! Have you created an Mapillary account first, as in registered using OSM?

[2016-09-27 08:38] das-g commented on #2263
With the APK [app_release_current.apk](http://android-releases.mapillary.io/app_release_current.apk) downloaded 2016-09-25 (which was not the same as the [app-release_current.apk](http://android-releases.mapillary.io/app-release_current.apk) linked as "Latest APK" on the frontpage; note `-` vs. `_`), I'm getting a different, more comprehensible error message already on app startup:

![screenshot_2

[2016-09-27 08:38] nickel715 commented on #2279
Yes. First I tried to register in the app using osm, after this also doesn't work, I created an maillary account using my osm account on the website

[2016-09-27 08:40] millenbop commented on #2279
Thanks! We'll have a look asap!

[2016-09-27 08:45] nickel715 commented on #2279
Thank you!
Btw: I also uploaded a [screenshot](https://cloud.githubusercontent.com/assets/148483/18866220/43ebdb16-849f-11e6-8f56-6e02c51a8945.PNG) of the settings panel which also looks broken

[2016-09-27 08:59] millenbop commented on #2279
Thanks! I don't think it's related, but more info is always better!

For the time being until I have solved the OSM issue, you can still use the app. Just use email and password you used on the website when registering.

[2016-09-27 09:54] millenbop commented on #2279
Ok, have found and fixed the problem now. It appears that the OSM website stores a cookie and if you try to give an application access more than once and the cookie exists (which happens every time you login to OSM, which is not common practice...), it will fail. So solution is to either clear the browser cache every time or save the token for future use. Option B is better.

So now I store the ac

[2016-09-27 12:06] retro commented on #2234
@thoschu96 Would it be possible for you to upload this photo set somewhere so I can test it out?

[2016-09-28 12:24] descilla opened #2280 "Sequence editor isn't responding anymore after changing basemap-layer"
### Basic information
- Platform: `Web`
- System/Browser: `Ubuntu 16.04/Google Chrome 53.0.2785.101 (64-bit)`
### Steps to reproduce behavior
1. Start sequence editor
2. Move a few points around
3. Change basemap-layer
4. Try to move further points
### Expected behavior

After changing basemap-layer the sequence editor should still working.
### Actual behavior

Can't drag any point after changing

[2016-09-28 12:29] descilla commented on #2100
I've noticed this problem, too. The problem seems to occur since the "mapillary-metadata" isn't written during capturing anymore but is written during upload process into the image files.

[2016-09-28 12:33] millenbop commented on #2100
The old/current background upload implementation hasn't really worked that well ever, but I will implement proper background upload soon, perhaps using what @nicolas17 suggested above.

[2016-09-28 13:13] descilla opened #2281 "iOS app feature request: Change basemap-layer"
Changing the basemap-layer like possible on the website would be very useful for mapping. Especially  the default OSM (mapnik) layer has a lot of more details than the Mapbox Streets layer. For example driveways and tracks looks the same on Mapbox Streets.

[2016-09-28 13:14] millenbop commented on #2281
Good suggestion, thanks!

[2016-09-28 13:16] Caboosey commented on #2241
It appears some of the newer iOS and/or iPhones also support HDR. @gyllen Could you add the tag "affects-ios"

[2016-09-28 17:05] pbb72 commented on #1437
Oh dear, I see my suggested code is very wrong, what I suggested is actually close to what is already being done at the moment.

It should be more something like this:

`... where (date >= start_date && date < (end_date + one_day)) ...`

Your suggestion was actually quite good :-)

[2016-09-28 18:53] HolgerJeromin commented on #2117
This is solved, isn't it?

[2016-09-28 18:54] HolgerJeromin commented on #1596
Still open :-)

[2016-09-28 21:12] jesolem commented on #1596
This has been fixed and deployed per #509. See https://www.mapillary.com/app/settings/developers

[2016-09-28 21:12] #1596 closed

[2016-09-28 22:04] nickel715 commented on #2279
I downloaded the new version today. The osm login works instant (without redirecting to safari). Thanks a lot!

[2016-09-28 22:04] #2279 closed

[2016-09-28 22:09] Caboosey commented on #2117
Yup.

[2016-09-28 22:09] #2117 closed

[2016-09-29 08:46] millenbop commented on #2279
Happy to hear :)

[2016-09-29 08:47] peterneubauer commented on #2278
So,
we have been able to recreate something similar to this using a Galaxy S6. It seems the camera is crashing deep down in the Samsung Android code and not even giving any callbacks back to the application. This is most probably related to the annoying memory leak problems both Samsung and Android have had in the last releases, that there is not much we can do about it :/

https://www.google.se/w

[2016-09-29 08:54] HolgerJeromin commented on #2278
I have this (or similar) problem with fairphone with android 5.1

[2016-09-29 08:58] peterneubauer commented on #2278
@HolgerJeromin is there any chance you could record a capture session with the `adb logcat` and send me the output? https://developer.android.com/studio/command-line/adb.html#commandsummary

[2016-09-29 08:59] HolgerJeromin commented on #1596
I think you mean #2117.
But this issue is not about showing the hashes as naked strings but about having them in a convenient way.

[2016-09-29 09:03] HolgerJeromin commented on #2278
I have this issue only with 1 of 20-40 sequence starts. So it is not easy reproducible with a computer available.

[2016-09-29 09:11] jesolem commented on #1596
Oops, wrong issue link. Yes, that's the one I mean.

You can click the "+" sign next to the hashes and that copies to your clipboard. I think this is a very reasonable convenient way.

Make a copy with `export ...` directly is platform dependent and you don't set env variables like that on all platforms.

[2016-09-29 09:30] peterneubauer commented on #2278
yeah, these bugs are hard to reproduce. It highly depends on the quality of the underlying camera implementation under the quite heavy load of fast image capture.

[2016-09-29 11:53] nickplesha commented on #2271
@jotpe The "send me instructions" button is now working as expected. Thank you for reporting this!

[2016-09-29 11:53] #2271 closed

[2016-09-29 11:56] nickplesha commented on #2154
@talllguy A part of the small window was blocking interaction with the mini-map. This was fixed a while ago, sorry for not getting back to you sooner. Thanks for reporting!

[2016-09-29 11:56] #2154 closed

[2016-09-29 12:02] nickplesha commented on #1568
New blur mode should offer to save blurs only when there are any new ones to be saved.

The "Clear all + >" button is now always on as it simply removes everything saved or not. (Behind the scenes, it will not send a delete request if no previously present blurs were removed).

[2016-09-29 12:02] #1568 closed

[2016-09-29 12:05] peterneubauer commented on #2277
@paulb20 what happens if you disable the shake detector in the settings?

[2016-09-29 12:12] simonmikkelsen opened #2282 "Search API returns "more" when there are no more pages"
### Basic information
- Platform: `Web`
### Steps to reproduce behavior
1. Fetch https://a.mapillary.com/v2/search/s?max_lat=55.13&max_lon=10.81&min_lat=55.10&min_lon=10.76&limit=50&page=0&client_id=**** with a proper API key.
2. 6 sequences are returned.
3. Returns is also "more": true, which means that there is data on the next page.
4. Fetch page 1.
### Expected behavior

More data.
### Actual

[2016-09-29 14:12] peterneubauer commented on #2274
This is a REST API since the normal Falcor API does not have a Java Client (yet). Will investigate with @gyllen .

[2016-09-29 18:19] ArAge67 commented on #2278
Hi,

I ran into this problem immediately after installation of Mapillary. I haven't been able to record a sequence of let say 100 pictures in a row. My samsung galaxy S2 suddenly stops recording every time, sometimes just after one shot, sometimes it takes tens of shots before it stops.

It doesn't matter if I enable 'Low resolution pictures' or "High resolution pictures' it always stops spontaneo

[2016-09-29 21:47] gyllen commented on #2282
@simonmikkelsen This is clearly wrong (will investigate). Just a heads up though we are gonna start deprecating these APIs and encourage use of vector tiles instead. I want to know how you feel about that as an API user.

[2016-09-29 21:55] gyllen commented on #2275
Thanks for reporting we are investigating

[2016-09-29 21:57] gyllen commented on #1353
@ToeBee Sign detection is running in many areas now and you can turn it on in the filters view. Hold tight for editing :) (thats all I can say for now)

[2016-09-30 09:30] peterneubauer commented on #2258
Yes,
these are new notifications, wanted to wait until we get the refactored notification service out which will handle this much better.

[2016-09-30 09:37] ltog commented on #2258
Thanks @peterneubauer , looking forward to seeing this being fixed...

[2016-09-30 12:33] nickplesha commented on #1437
@pbb72 Thanks for reporting this, the issue is now fixed.

The date filter applied was `date >= startDate and date <= endDate` but the problem was that dates both had `0:00:00` as `h:mm:ss` so the filter excluded everything. Now, the `endDate` has `23:59:59` so filtering by a specific day should show the images taken on that day correctly.

[2016-09-30 12:33] #1437 closed

[2016-09-30 13:50] bhousel commented on #118
Just would like to bump this issue - it would be really helpful to be able to delete my own sequences quickly in situations when I need to reprocess them.

I do know that I can delete a sequence from the web editor - but it enters a review queue and then I need to wait a while.

I think a user should be able to delete a sequence immediately _without review_ if it is their own sequence.  Then the u

[2016-09-30 16:36] gyllen commented on #118
@bhousel I agree on this. We are working on making the editing steps faster and more intuitive, the backend is there just not yet the frontend. Thanks for bumping.

[2016-09-30 16:42] tuliogit commented on #1875
It`s been working.

[2016-09-30 17:18] tuliogit opened #2283 "Accept simultaneous connections from more than one device"
### Basic information
- Platform: Android 4.4.4
- Version: 2.40
### Steps to reproduce behavior
1. Take sequences with one phone
2. Take other sequences with another phone
3. When arriving home, try to upload all of your sequences from both phones.
### Expected behavior

I expect a smooth simultaneous upload from both phones.
### Actual behavior

It seems that only the first phone that gets connec

[2016-09-30 20:29] HolgerJeromin commented on #2278
Today i had the problem again. But have only the trace log:
[code]

Even with the `ERROR: Interrupted waiting for capture to finish - null` the capture button still showed that sequence is running.

[2016-09-30 22:01] HolgerJeromin commented on #1006
Not relevant anymore imo

[2016-09-30 22:01] #1006 closed

[2016-09-30 22:09] HolgerJeromin opened #2284 "Android review click tolerance"
### Basic information
* Platform:  `Android`
* Version: `240`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Review a sequence in full image view
 2. Tab on the right button to view next image
 3. Tab a few pixel beneath the round button
4. Now the image is hit and Android asks me which app should open the image.
5. Because I was reviewing I tabbed the screen  and selected a random

[2016-10-02 05:58] nicolas17 opened #2285 "Title text hard to read in Solutions page"
In the [Solutions](https://www.mapillary.com/solutions) webpage, there is a background photo with a building under construction. This has sharp, light-colored details from the tube scaffolding around the building, and it makes the white text hard to read.

![Screenshot of Solutions page](https://cloud.githubusercontent.com/assets/101955/19018949/6d0c112e-884a-11e6-9a08-ed53dbde28ea.png)

The reada

[2016-10-02 05:59] nicolas17 commented on #2276
I have seen this happen in the normal viewer, outside the blur editor, during a SfM transition. But it happened rarely, and when it happened it was brief (less than 1 second).

[2016-10-02 06:16] nicolas17 commented on #2272
I think the best short-term change is to warn the user if he logs out while having photos pending upload, letting him know that those photos will still be attached to the 'old' account.

[2016-10-02 17:51] drkludge opened #2286 "Sequence is not complete. Photos exist but route along photos are missing."
[This photo](https://www.mapillary.com/map/im/Kg4KIj44FTKHNSrktT9EWg) is missing the mote of the sequence trace.  I tried to reset the sequence.  [Right now the sequence dead ends here.](https://www.mapillary.com/app/?focus=photo&pKey=Kg4KIj44FTKHNSrktT9EWg&lat=33.60910678947293&lng=-112.00929044401288&z=19.461058338669265)  I would expect the trace to show up [here](https://www.mapillary.com/app/

[2016-10-03 08:45] peterneubauer commented on #2286
It seems the photos are on exactly the same spot. Maybe the GPS stopped working or so? Also, we will cluster photos on the same spot better so you can see this. Try editing them and move them part to see it.

[2016-10-03 08:45] #2286 closed

[2016-10-03 09:20] richlv commented on #2283
what happens with the images on the second phone ? are you able to upload them after the first one has finished, or are they lost ?

[2016-10-03 09:22] richlv opened #2287 "don't show spinner after submitting blurs for the last image"
edit blurs on the last image on a sequence, submit them - spinner is shown, as if mapillary was trying to load something else.
this is misleading, and ideally a message "last image in the sequence reached" would be displayed instead

[2016-10-03 09:45] Andblue opened #2288 "Are all edits gone or is approval just lagging?"
Edits done between summer last year and the launch of the new system this summer, are they gone forever or does it  just take time to approve them?

[2016-10-03 09:45] peterneubauer commented on #2283
Hi there,
the upload is really just happening to Amazon S3 without any authentication involved from Mapillary (the upload token in the image description is constant and transferred at login time)

Are you sure that the second phone is not refusing upload for other reasons like slow network because the first one took all bandwidth or so?

[2016-10-03 13:44] HolgerJeromin opened #2289 "Max sequence length in apps"
To be able to easier review the images on device and later in web editor i try to keep the sequence length under 200 images.
Monitoring the count and stop/start capturing while driving seems dangerous.
So we should have in both apps a settings for starting a new sequence after X images. Same as we have for Max distance.

[2016-10-03 14:15] aborruso commented on #1725
I do not see the map in chrome 54.0.2840.41 beta-m in win 10 :(
I have tried with all chrome webgl related settings.

![image](https://cloud.githubusercontent.com/assets/30607/19040443/5df41980-8984-11e6-951b-5a04a4be32dd.png)

I see it in Firefox 48.02, in the same PC.

Thank you

[2016-10-03 16:26] gyllen commented on #1725
@knikel Is this something we have seen lately?

[2016-10-03 16:27] tuliogit commented on #2283
@richlv They're not lost. They are uploaded, but never in two simultaneous threads. What always happened in the few times I did use both phones is that the one that got connected first got it going, and the other one didn't start neither prompted me with any error message.

@peterneubauer I'm not really sure it doesn't upload for other reasons. But I can say that I never saw them uploading simulta

[2016-10-03 16:29] gyllen commented on #2289
I think this is a great idea. Longer sequences causes havoc in the system in many cases. Maybe 200 is a bit small though. I would suggest 1000.

[2016-10-03 16:30] gyllen commented on #2288
@peterneubauer At this point all old changesets should have been approved right?

[2016-10-03 16:58] HolgerJeromin commented on #2289
OK, put into a setting and default it to 1000 8-)

[2016-10-03 18:03] peterneubauer commented on #2289
However, that doesn't take care of manual uploads etc. I think we need to have the cut on the server side to be really effective. Also, auto-cut sequences would result in a LOT of review work if you get like 10x as many seuences per capture?

[2016-10-04 03:59] angelday commented on #2285
Yup! Pinging @octanebaby and @madelenarnesdotter let's see if they have some ideas regarding a less busy header image.

[2016-10-04 05:07] nicolas17 commented on #2287
It's almost certainly a bug, there is a Javascript error in the console when this happens.

[2016-10-04 09:44] HolgerJeromin commented on #2289
I always view all my sequences before upload. But I have not always time for review very large sequences, because you can not have a break while doing one. That is why I prefer a length which is reviewable in a small time frame.

[2016-10-04 12:15] echeloni2p commented on #2288
They should have been approved, but there is no real way to check, as there is no list of changesets and approved date.

echelon

[2016-10-04 12:42] kaitu commented on #2289
@peterneubauer: I oppose the auto-cut server side of the manually uploaded sequences, since I'm afraid that would make tracking sequence review work a big mess. Also, I regard the automatic cutting sequences at arbitrary points, based only on sequence lenght, as suboptimal. If you want to limit the sequence lenght, better to do so at upload time, so that the user is aware of the limitation and can

[2016-10-04 12:45] Andblue commented on #2288
When I am looking at my edited sequences it looks like most of them have not been approved. In the old system they where locked waiting to be approved, but in the new system the lock is gone.

I am not sure to what extent, I am mostly basing it on parts of the map that I visit often.

[2016-10-04 16:17] iav opened #2290 "On website, in user uploads list, no scrollbar"
On website, in user uploads list, no scrollbar. Unable to view more than 4 last uploads.
I see no way to look to my uploads at all.
(https://cloud.githubusercontent.com/assets/325961/19082412/b8789e34-8a66-11e6-8989-d0203a225a7e.png)

[2016-10-04 16:22] peterneubauer commented on #2288
I agree, we need to surface the changesets that are currently affecting an image, and for a user to see the list of audited/pending changesets.

The locking can be re-arranged, we were thinking of adding the info non-locking in edit mode (like "this image is part of 2 pending changesets" or something similar). WDYT @gyllen ?

[2016-10-04 16:27] ToeBee opened #2291 "Adjusting images in manual uploader results in out of sequence pictures"
### Basic information
- Platform: `Web`
- System/Browser: `Chromium` (probably v52 but not 100% sure - don't have laptop with me right now)
### Steps to reproduce behavior
1. Use the manual upload page at https://www.mapillary.com/app/uploader
2. Adjust the location of a few pictures before uploading
### Expected behavior

Pictures should remain in proper sequence after uploaded.
### Actual behavi

[2016-10-04 16:28] iav opened #2292 "No position marker on a review sreen"
### Basic information
- Platform:  `Web`
- System/Browser: `windows 7, chrome 53`

After upload a picture with drop into browser window there no marker of position on card - impossible to correct position, nothing to drag
![mapillary crowdsourced street photos1](https://cloud.githubusercontent.com/assets/325961/19082827/6e3461da-8a68-11e6-9f76-e7ad529d6bf1.png)

Javascript console contain errors (

[2016-10-04 17:11] gyllen commented on #2287
@nicolas17 Thanks for looking deeper into this, issue is tracked as bug and will be fixed shortly.

[2016-10-04 17:57] ToeBee opened #2293 "Scrambled labels on the map"
### Basic information
* Platform: `Web`
* System/Browser: `Chromium 52`

At least twice now I've noticed scrambled labels on the map. Reloading the page fixes it. The font being scrambled is the most obvious but it looks like highway shields and other graphical features are also affected. Screenshot:

![mapillary_font_scrambled](https://cloud.githubusercontent.com/assets/348948/19085976/eb82ba92-8

[2016-10-04 20:21] habi opened #2294 "iOS app: Nicer zoom level when starting map view"
### Basic information
- Platform: `iOS`
- Version: `4.4.15`
### Steps to reproduce behavior
1. Think about mapping some more streets in my hometown
2. Start the app
3. Click the 'Map' button to the left of the 'Camera' button
4. Gaze at a very broad overview of my hometown
### Expected behaviour

The zoom level when starting the map view should show a higher zoom level, so that I can see the cover

[2016-10-04 20:57] jfburke3 commented on #2293
I noticed that today, too.

[2016-10-04 20:59] iamnunocaldeira opened #2295 "a cluster count when theres more than one photo at the exact same position"
in `editing mode` would be useful to have either a cluster count (with an offset so when you have max zoom it doesnt obstruct the photo icon) or a different icon colour so the editor could easily spot when theres more than one photo at the exact same location. Nowadays its difficult to detect, if the heading is the same when theres two or more photos in the same position.

Would also be good to im

[2016-10-05 03:19] govvin commented on #2268
I agree.  A more basic improvement, like adding a spinner to change the compass angle values could be helpful, too.

![image](https://cloud.githubusercontent.com/assets/5821688/19099933/526fb71c-8aed-11e6-8894-498087924bb8.png)

[2016-10-05 03:29] govvin opened #2296 "blurred plate number becomes visible when reviewing sequences"
### Basic information
* Platform: `Web`
* System/Browser: `Chrommium`

### Steps to reproduce behavior

 1. Check out this sequence: https://www.mapillary.com/app/?lat=14.5921563&lng=121.0377441&z=17&pKey=06CqED3p6ry659k4NTQ_Jg&focus=photo
 2. If you move through the sequence (arrow keys on top of the screen) once, then back again, any user can read the blurred car plate number

### Expected behav

[2016-10-05 06:47] nicolas17 commented on #2296
Did you manually blur it? Maybe your browser (or the CDN server) is still caching the old image without the blur.

[2016-10-05 07:19] polarbearing opened #2297 "web uploader progress bar needs to be labelled"
Web uploader performs a scan of the images first, followed by review and full upload.

The progress bar in the scanning phase is not labelled appropriately, the user gets the impression that this is the upload already, and goes for a coffee before the images are actually uploaded.

Please label it, e.g. "scanning images for review".

[2016-10-05 07:28] polarbearing opened #2298 "web uploader needs better sequence handling"
I tried to upload three sequences with the web uploader. (Mozilla Seamonkey/MacOS)
(captured on Android/app v.2.38)

While the file selector lets me select multiple files, it does not allow to select multiple folders, in this case the three sequence folders. However I did not intend to babysit three separate uploads and wanted them to perform when I leave.

Thus I dumped all files in a single fold

[2016-10-05 07:46] polarbearing commented on #2298
In the map view, the sequences are still connected in the graph. Watch [here](https://www.mapillary.com/map/im/wSIH8qysrvqtD9C_x8X1tw) and see the long line pointing westwards.

[2016-10-05 07:48] angelday commented on #2268
Visual compass angle editing is on our todo list, thanks for reinforcing the importance. If you have more thoughts regarding this or you feel like you wanted to share improvements regarding workflow let us know here.

[2016-10-05 10:00] AnkEric commented on #2298
Me too... (upload multiple folders and split into separated sequences).

I did enhance my separated track sequences (Setting: "New sequence min distance = [max. 1500] meter") by a manual upload of a dozen series of private pictures (better quality).
But this manual upload is now visible on the map as one - bird's eye view - sequence.

I was assuming a Manual upload to be split by "New sequence min

[2016-10-05 12:31] AnkEric commented on #2278
Quote peterneubauer: _"yeah, these bugs are hard to reproduce. It highly depends on the quality of the underlying camera implementation under the quite heavy load of fast image capture"._

In my opinion, experience:
If software is ordering hardware to "do something", the software has to always validate if the command/request was successful. If not: Retry (for a limited number of times).
_'Assuming

[2016-10-05 12:51] AnkEric commented on #1698
Finally, I succeeded in finding a bug that's reproducible en simple to resolve.
But, search for "Delete" issues and I found out it would be a duplicated issue.
But also, this simple issue is now open for 8 months and does not have a "Bug" status.
I agree, it’s not the most important issue. However, a fix would be appreciated! One line of code will do.

![screenshot_20161005-143507](https://cloud.g

[2016-10-05 20:05] gyllen commented on #2293
I have a feeling that this is a bug in the latest verison of `mapbox-gl`. Thanks for reporting we are looking into it.

[2016-10-05 20:06] gyllen commented on #2296
@govvin Yes it takes some time for the caches to be cleared. Can you check back now and report?

[2016-10-05 20:07] gyllen commented on #2297
@angelday WDYT?

[2016-10-05 20:08] gyllen commented on #2298
I agree on this. In general the uploader should split the sequences for you. We are looking into this. Thanks for reporting.

[2016-10-05 20:11] govvin commented on #2296
Hello. The blurring was automatic, and the video was uploaded 4 days ago.

@gyllen , the plate number is still visible between the animated sequences.

[2016-10-05 20:29] nicolas17 commented on #2296
Okay, I looked at the sequence in question. This has nothing to do with the animation or with switching between photos. The photo you linked has the license plate blurred, but the [next one](https://www.mapillary.com/app/?pKey=ZV8oMLuaJzA98vFF39-1DA&focus=photo) doesn't, the license plate is plainly visible. It's possible that on a 16:9 monitor with the browser maximized, when you look at that pho

[2016-10-07 13:30] Akaveeti opened #2299 "When uploaded photos in that time Decreased sequence photos total automatically"
Hai, Actually my total photos count is 16,449 .Today I uploaded minimum 1000+ photos. Present total is 15703. why photos count is decreased ??  This is very disappointed BUG. Please fix this bug fastly. I lose 1000+ photos count :-( . How can I recovery that count again ??

[2016-10-07 19:35] hob-gob-lin commented on #1981
I don't know if I should open a new post, but I am experiencing a similar problem.  I have a Samsung Galaxy S6 phone and the Mapillary app randomly stops taking photos after 10-20 pictures.  Sometimes it stops after only one picture.  I can hit the STOP button, then start it again, so it has not crashed.  After reaching ~30 pictures, it will go on to take many hundreds without any further problems

[2016-10-07 20:30] gyllen commented on #2296
@nicolas17 Thanks for explaining and fixing 👍

[2016-10-07 20:30] #2296 closed

[2016-10-07 20:35] gyllen commented on #2299
@Akaveeti Hi and thanks for reporting this bug. The nature of our database is that it at some points (during extreme load) will do a little sloppy counting on the number of images you uploaded.

It should only happen in very rare cases. Rest assure though that none of your uploads in anyway has disappeared (its only the count thats sometimes gets it wrong).

We are working on a permanent solution

[2016-10-08 16:28] sb12 commented on #1981
The original problem hasn't occurred again for me since about end of July. Currently taking pictures works without problems.

[2016-10-08 19:11] AnkEric commented on #2278
Update October 4: Mapillary 2.42. No issues. Also no Manual sequences.
Update October 8: Mapillary 2.42. No issues. Also Manual sequences.

[2016-10-08 19:37] peterneubauer commented on #2278
Do, things are working better now in the latest updates?

On Oct 8, 2016 9:12 PM, "AnkEric" <notifications@github.com> wrote:

[2016-10-08 20:21] AnkEric commented on #2278
Since Mapillary 2.42 two runs.
1x incomplete test (no Manual sequences) = OK.
1x complete test (including Manual sequences) = OK.
So at least some optimism is justified

[2016-10-08 20:21] #2278 closed

[2016-10-09 08:43] AnkEric opened #2300 ""Your upload is on the map": incorrect bookkeeping email notifications"
### Basic information
- Platform: `Android`
### Steps to reproduce behavior

Upload photos in several sequences.
Upload will fail several times ("network connection error") and has to be restarted.

Email notifications:

We have successfully registered your upload:
- za 08-10-2016 17:36: We have successfully registered 1623 photos uploaded from you.
- **za 08-10-2016 20:52: We have successfully re

[2016-10-09 08:49] ligfietser opened #2301 "Video upload request"
Feature request:
Please add the ability to set the direction in which the camera is recording/viewing.
Sometimes I take videos from my rear bicycle rack, the camera is viewing backwards, other times I take videos from the handlebars, front facing.

[2016-10-09 19:00] paulb20 commented on #2277
Tried that this morning. Didn't work. Got 1 picture (of my hedge) which is practically useless.

Did use up all my battery in under 30 minutes though (may be having problems with GPS).

Waiting for new phone to arrive (Samsung exploding variety) and will see what that does.

[2016-10-09 19:26] eugensim opened #2302 "Video upload freeze at 100% - no upload"
Webupload 1.5+GB videos
Windows 10
Chrome last version
Upload using https://legacy.mapillary.com/map/upload/vi

[2016-10-09 22:08] Akaveeti opened #2303 "Kilometers is not updated in profile"
Hi team,

Today I uploaded 3000+ pictures but kilometers is not updated in profile . I think again server issue. please fix it fastly.

[2016-10-10 07:33] knikel commented on #961
@pbb72: Does the new sequence editor solve this issue for you?

[2016-10-10 07:36] knikel commented on #1183
We've rolled out new components which reflect the recent activity so much better. Closing.

[2016-10-10 07:36] #1183 closed

[2016-10-10 07:42] knikel commented on #1801
We have rolled out new way of logging/signing up with Facebook. Should work correctly 👍

[2016-10-10 07:42] #1801 closed

[2016-10-10 07:44] knikel commented on #1906
@aborruso: I've added a possible fix for that last week. It seems for some reason your laptop doesn't play well with `mapbox-gl-js`. Could you check if it helped?

Details: I've added `pitch: 0.01` to the map as described in https://github.com/mapillary/mapillary_issues/issues/1725

[2016-10-10 07:48] knikel commented on #2140
@rausk: Is this still an issue for you?

[2016-10-10 08:24] Caboosey commented on #2013
@peterneubauer heres the ticket about the overheating.

[2016-10-10 12:04] mschwendener commented on #2290
Newbie here, coming from Panoramio.
In my case (desktop and mac book), I see the scrollbar, but it doesn't let me scroll all the way down. There is a difference in behaviour if I look at my own 'Uploads' tab or the one of another user: works fine if I look at a stranger's uploads (endless scrolling).

![scrolling](https://cloud.githubusercontent.com/assets/4497705/19235511/672acdc8-8ef2-11e6-8b3f-

[2016-10-10 14:46] mschwendener commented on #2268
In the web interface, let me change the direction of the angle of view by dragging it around the dot with the mouse.

[2016-10-10 15:03] mschwendener commented on #2148
Yes please.

[2016-10-10 16:08] rausk commented on #2140
Not at the moment, since I killed Win10 on my PC. It was very unstable.

[2016-10-10 16:08] #2140 closed

[2016-10-10 18:50] pbb72 commented on #961
Yes thank you, very good now! I like being able to switch between big photo and big map.

[2016-10-10 18:50] #961 closed

[2016-10-10 19:54] gyllen commented on #2300
@AnkEric We are rewriting the notification process at the moment and that will make things better. For example the visible notifications will be replaced with an message when your images are fully processed. Im keeping this ticket open for feedback so we can close when better notifications are in place.

Thanks for reporting.

[2016-10-10 19:55] gyllen commented on #2301
@ligfietser Yes we do need this, thanks for reporting!

[2016-10-10 19:56] gyllen commented on #2302
@knikel Is this a known issue?

[2016-10-10 19:57] gyllen commented on #2303
@Akaveeti The `km` number gets updated once a day, (since its a heavy operation). Can you check if it has updated now? If it has please close this ticket.

Thanks for reporting!

[2016-10-10 19:59] gyllen commented on #2290
@mschwendener Thanks for feedback, we are currently working on better ways to explore yours (and others) images, in a better way. All input is welcome.

[2016-10-10 20:00] gyllen commented on #2148
@mschwendener This will not be valid for 360 images though.

[2016-10-10 20:01] gyllen commented on #961
@pbb72 @knikel Im always happy when we manage to close really old issues like this 🎉

[2016-10-10 20:03] mschwendener commented on #2148
That's ok for me, most of my photos aren't 360° panos.

[2016-10-10 20:10] mschwendener commented on #2290
If this scrolling issue could be fixed, that would be really good: I'm in the process of moving from Panoramio to mapillary - not being able to see all my mapillary pictures is making it hard to see which pictures uploaded correctly and which are missing.

[2016-10-10 21:16] jfburke3 commented on #1892
I have a sequence that is upside-down, too.  I decided to do simultaneous forward and side sequences yesterday.

In my case, the upside down sequence was shot to my right as I was driving, using my Galaxy S5 running Android 5.0, Mapillary 2.40.  Due to power cable length, I had to rotate my phone to the right instead of my usual left to take the sequence.

S5 upside down sequence:
https://www.mapi

[2016-10-10 21:22] jfburke3 commented on #2293
FYI, the labels look good today, at several different zoom levels.

[2016-10-11 05:19] oscarlorentzon commented on #2148
@gyllen MapillaryJS is run with the `Fill` render mode on mapillary.com. MapillaryJS also has a `Letterbox` mode which lets you see the whole photo. Switching modes is possible at any time. Would a render mode switch make sense on mapillary.com.

[2016-10-11 07:29] peterneubauer commented on #2013
Thanks @Caboosey , much appreciated!

[2016-10-11 07:48] mschwendener commented on #2148
[same request here, btw https://github.com/mapillary/mapillary_issues/issues/2159]

[2016-10-11 07:55] Caboosey commented on #2013
FYI for documentation:

Device: Samsung Galaxy S5 (SM-G900P)
Device Physical Color: White
Andriod: 6.0.1
Mapillary versions affected: 2.35 thru 2.42 (current)
Bluetooth: Disabled
NFC: Disabled
WiFi: Enabled
Airplane Mode: Disabled
Location Accuracy Level: High
Bluetooth Scanning: Enabled
WiFi Scanning: Enabled

Using time based mode set at 1.3 second per picture or more works without overheating a

[2016-10-11 08:28] oscarlorentzon commented on #2148
#2159 is regarding having functionality to get back to a zoomed out position looking at the center of the image after looking around or zooming. Related to this one but not the same.

[2016-10-11 09:53] pbb72 commented on #732
As there is no option anymore now for sequence cutting, I guess I'll just close this...

[2016-10-11 09:53] #732 closed

[2016-10-11 10:00] pbb72 commented on #918
Thanks for linking to changesets!

[2016-10-11 10:00] #918 closed

[2016-10-11 10:04] pbb72 commented on #1012
As the processing of changes seems to be more reliable now, the need for feedback is not as important anymore. I'll close this issue. I'll open new issues if I find specific problems with change requests.

[2016-10-11 10:04] #1012 closed

[2016-10-11 10:06] pbb72 commented on #1041
@it4workflow @AllenGraetz did you run into the problem any more in the last year? It seems to me this bug is properly solved.

[2016-10-11 10:08] pbb72 commented on #1064
This would still be a very nice feature in the new interface, since the process of uploading and publishing sequences is interrupted several times by requests for user interaction.

[2016-10-11 10:10] pbb72 commented on #1401
Closing this because I haven't had any more problems being unable to load stuff. Sometimes things can take a long time, but it seems I always get my requested content.

[2016-10-11 10:10] #1401 closed

[2016-10-11 10:12] pbb72 commented on #1454
Since there is no more option to cut sequences in the new interface, I will close this bug.

[2016-10-11 10:12] #1454 closed

[2016-10-11 10:46] knikel commented on #1401
Thanks @pbb72. We're much smarter now about using vector tiles and interpolating at zoom levels,  403/404 errors on vector tiles should only happen when there is an actual tile missing. In 90% of the cases we can interpolate data from _above_ zoom levels (and we do that).

[2016-10-11 10:48] knikel commented on #1064
@sandrauddback is working on the titles. This will be implemented across the whole app when we're done with content 👍

[2016-10-11 13:32] it4workflow commented on #1041
@pbb72 since I have not uploaded so many pictures last year, I can't say anything

[2016-10-11 17:59] gyllen commented on #2290
@mschwendener Yeah agree, I just want to make it a little more accessible, maybe more image in a row. Wider and also sorted by dates. WDYT?

[2016-10-11 18:00] gyllen commented on #2290
(also welcome ;) )

[2016-10-11 18:00] gyllen commented on #2293
@nickplesha you have any idea if this started showing up after latest maobox upgrade. Have you seen any bugs reported yet in their repo?

[2016-10-11 18:06] mschwendener commented on #2290
I'd need a profile/gallery page with its own URL, like http://www.panoramio.com/user/manuschwendener :-)

[2016-10-11 20:35] danbjoseph commented on #2237
Would be nice to have a way to split sequences once uploaded. Or even have some server process to do it automatically when there is some vast distance between images? I used the python tools to split action camera pics into folders by sequence but sometimes something didn't work or I messed something up such as with sequence `I-TsxHoBQt00SnwoXw--Ww`

[2016-10-11 21:36] ToeBee opened #2304 "Other user's activity to my photos showing up in my activity feed"
I have been busy at my day job all afternoon and haven't touched Mapillary. Yet when I just pulled up my activity feed it claims that I submitted several blur requests and edited a picture. I also just got an email saying that user `gitne` blurred some of my photos. It looks like his activity is being assigned to me in my news feed.

I did none of these things:
![image](https://cloud.githubusercon

[2016-10-11 21:49] gyllen commented on #2304
I think the messages are misrepresented in the feed. What they should say is that `gitne` has blurred some of your images and also edited some of your images. We are currently working on a big notification update that will straighten these things out.

[2016-10-11 23:00] mschwendener commented on #971
As I understand it, this _is_ the desktop uploader: "uploading them with the web uploader merges them randomly"

[2016-10-12 05:56] ToeBee commented on #2293
Not sure if this is related or not. When reviewing pictures before uploading, I noticed a little bit of weirdness as well. The highway shields are wrong and when a picture is selected, there are weird artifacts around the selected picture.
![review_scramble](https://cloud.githubusercontent.com/assets/348948/19298837/3bfe7bc0-9016-11e6-8c9f-c629aab0c8ad.png)

[2016-10-12 06:16] ToeBee commented on #2293
Ok, the manual upload page definitely has something to do with it. Going into the upload page has a high chance of triggering this problem. Yay for reproducibility at least!

[2016-10-12 08:58] nickplesha commented on #2293
@gyllen Yes, it seems this effect can occur in Mapbox GL 0.23 with similar behaviour to our window focus switching. It looks like it's fixed in the latest version: https://github.com/mapbox/mapbox-gl-js/issues/3086 so updating should resolve this.

[2016-10-12 15:41] mschwendener commented on #2298
That would be very useful for me.

[2016-10-12 16:29] mschwendener commented on #2290
For what it's worth: scrollbar behaving correctly when I'm logged out.

[2016-10-12 16:56] gyllen commented on #2237
@danbjoseph We should have a bot that does the splitting. Need to look into if its doing its job properly though.

However it would be nice if the manual uploader automatically splitted the sequences too.

[2016-10-12 16:58] gyllen commented on #971
@mschwendener Yes a problem right now is that `one upload in the manual uploader` == `one sequence`. So single images will be connected by a line no matter how far away they are from each other in the order of capture date.

I think this is something we need to look into for the manual uploader.

[2016-10-12 16:59] gyllen commented on #2293
@ToeBee We are upgrading `mapbox-gl`

@nickplesha Close this ticket once update is done and changes are deployed.

[2016-10-12 17:28] mschwendener commented on #971
move to _bug_ instead of _feature_?

[2016-10-12 17:40] gyllen commented on #971
Well it works as intended so in our label scope considered a new feature not a bug :)

But yes it needs to bed fixed. Thanks for giving all of this feedback.

[2016-10-12 20:43] danbjoseph commented on #2237
Here's another example where the last two photos in the sequence are way off.

adjacent in sequence: `Sk3Ap7txp5k3wh3UGnwIfA` the photo `TKs9wWtZyMfnR5zqso239Q` is an hour before photo `5n-a9vjp3zpZ5PrEqdb-HA` and separated by significant distance

i've been using sequence_split.py and not specifying cutoff distance or time because i thought both had defaults (though I'm not seeing that in the rea

[2016-10-12 20:45] danbjoseph commented on #2237
also not sure why the python scripts broke apart sequence `cg3XJSgElJJSOd-MiwarfA` and `Sk3Ap7txp5k3wh3UGnwIfA`

[2016-10-12 20:57] richlv commented on #2237
i just thought that the new interface doesn't have splitting options in the editor so was ignoring broken sequences for some time :)

here's another recent one that is weirdly connected : https://www.mapillary.com/map/im/XNUbR57-aWJE2QB5iX02aA

[2016-10-12 22:49] jfburke3 opened #2305 ""You deleted 349 photos" Wait, what????"
I just noticed in my feed that there's a message saying I deleted photos.

I didn't delete any photos.....

![image](https://cloud.githubusercontent.com/assets/11140831/19330465/89edc7c8-90ac-11e6-871e-3cc9a5013d3c.png)
### Basic information
- Platform: Web
- Version: `...`
- System/Browser: `...`

[2016-10-12 22:50] jfburke3 commented on #2304
I know that gitne has done a lot of blurring on quite a few of my images, and yes, they are mine.

[2016-10-12 22:52] jfburke3 commented on #2283
I'm somewhat certain that I've been able to upload from 2 phones at the same time, but I'll re-try this when I get a chance to be sure.

[2016-10-13 06:40] #2303 closed

[2016-10-13 11:21] HolgerJeromin commented on #2305
Same as #2304 ?

[2016-10-13 12:49] jfburke3 commented on #2305
I'm not sure. When I tried clicking on some of the image ID numbers to locate where they were, the map never took me anywhere and I just got the spinny circle indicating it was trying to load an image, but nothing ever happened after that.

[2016-10-13 15:35] GITNE commented on #2304
@ToeBee Yes, I have been blurring quite a bit. Not only your photos. I have also been requesting delete edits where photos have been shot on private property or photos that depict nothing but the ground.

I am sure once Mapillary developers revamp the notification system things will get into proper perspective again. Since the relaunch of the website Mapillary is making visibly positive progress.

[2016-10-13 15:47] Caboosey opened #2306 "Mapillary v2.43 crashes at Settings>Uploading"
### Basic information
* Platform:  `Android`
* Version: `2.43`
* System/Browser: `Samsung Galaxy S5 (SM-G900P)`
* Android version: `6.0.1`

### Steps to reproduce behavior

 1. Launch app.
 2. Click/touch Settings
 3. Click/touch Uploading

### Expected behavior

No crashing.

### Actual behavior

"Unfortunately, Mapillary has stopped."

[2016-10-13 15:58] Caboosey commented on #2306
Copy of debug logs.
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/527603/mapillary_trace.txt)

[2016-10-13 20:26] peterneubauer commented on #2306
Found the problem, fixed in the next release, please reopen if it reappears.

[2016-10-13 20:26] #2306 closed

[2016-10-13 22:21] gyllen commented on #2305
@peterneubauer Do you have time to check on this changeset?

[2016-10-14 11:10] peterneubauer commented on #2305
@jfburke3 you did get a mail notification too right? Can you forward that to me? peter@mapillary.com

[2016-10-14 14:55] jfburke3 commented on #2305
@peterneubauer I don't think I did.  I'm looking for it, but haven't found one yet.

[2016-10-15 12:26] jacobbraeutigam opened #2307 "No distinction between singular and plural."
### Basic information
- Platform:  `Android` | `Mail`
- Version: `2.42` |..
### Expected behavior

String depends on count of photos.
### Actual behavior

String is in the plural form.
### Additional information

![mail](https://cloud.githubusercontent.com/assets/6759694/19410082/34431b5a-92e3-11e6-9fac-c73ccba4e2a6.png)
![android](https://cloud.githubusercontent.com/assets/6759694/19410083/37171d

[2016-10-15 17:00] naoliv opened #2308 "FATAL EXCEPTION in AsyncTask"
### Basic information
* Platform: `Android 6.0`
* Version: `2.44`
* System/Browser: `Motorola Moto G 2`

### Steps to reproduce behavior

 1. Closed mapillary
 2. Opened it again

### Expected behavior

Open

### Actual behavior

Crashed

### Additional information

In the log I can see this:

[code]

[2016-10-15 17:02] naoliv opened #2309 "Can't get GPS lock when using Google Mobile Services"
### Basic information
- Platform: `Android 6.0`
- Version: `2.44`
- System/Browser: `Motorola Moto G 2`
### Steps to reproduce behavior
1. Open mapillary
2. Try to start the capture
### Expected behavior

Get a GPS lock and start capturing pictures
### Actual behavior

Wait forever for a GPS lock
### Additional information

I was trying to capture a sequence. No matter what I did, mapillary just d

[2016-10-15 19:34] HolgerJeromin opened #2310 "Review problems with Android app 244"
### Basic information
- Platform:  `Android`
- Version: `301`
- System: `Fairphone 2`

I have problems with the new review gui.
1: On the upload tab a full sequence is too easy deleted. Swipe to the side is too easy.

3: I can only upload one sequence. I want to review a few or all sequences and after that upload all. Now while the upload the review is blocked by a popup.

[2016-10-15 23:38] ToeBee opened #2311 "Wrong images shown when reviewing second sequence on android"
### Basic information
- Platform: `Android`
- Version: `2.44`
### Steps to reproduce behavior
1. Review a sequence
2. Go to review a second sequence
3. Tap on first picture in sequence to bring up full resolution
4. Image on screen is from first sequence

The x/y counter at the bottom of the review screen correctly reflects the second sequence but the picture being displayed is not right.

[2016-10-16 14:50] GITNE commented on #2291
I have experienced a similar problem. Please have a look at sequence ```bE3Ur3XDvSpF9kvzgpX8sQ```. The last three photos have been improperly reordered. See here: https://www.mapillary.com/app/?pKey=QNG_r5F05HAWNe7bJzpnfQ
I have also repositioned the photos before hitting the upload button. Everything looked fine before upload. The reordering has only become noticeable after the sequence has been

[2016-10-16 14:59] GITNE commented on #2291
Oh, and the navigation in space too! :worried:

[2016-10-17 08:19] knikel commented on #2307
This will be fixed when we roll out new notifications in the following weeks, I'll close this issue then. Thanks for reporting!

[2016-10-17 10:30] rsahlin commented on #2308
Fixed, please re-test when next version is out and re-open if problem persists.

[2016-10-17 10:30] #2308 closed

[2016-10-17 16:11] jfburke3 opened #2312 "After uploading, sequence stays "open""
### Basic information
- Platform: Android
- Version: Mapillary 2.44, Android 6.0.1 & 5.0, Samsung Galaxy S7 & S5
- System/Browser: n/a
### Steps to reproduce behavior
1.  Go into the Upload function, and open a sequence.
2.  Press the Upload button to begin uploading with the sequence open on screen.
3.  When uploading completes, the sequence thumbnails remains on-screen, even if you let it sit fo

[2016-10-17 16:22] jfburke3 commented on #2312
Update:  I did just see it exit out of an uploaded sequence.  However, that seems to be the exception rather than the rule.

[2016-10-17 18:17] AnkEric opened #2313 "Webuploader: same upload is shown as duplicate upload"
Basic information

[code]

Steps to reproduce behavior

[code]

Expected behavior

[code]

Actual behavior

[code]

Uploads are not real duplicates, as I found out the hard way: I requested one sequence to be deleted and no sequence is left.
All yesterday carried uploads are considered as duplicate.

![two uploads_2960_5000](https://cloud.githubusercontent.com/assets/20150550/19450403/8baf86a4-94a

[2016-10-17 19:57] gyllen commented on #2305
@peterneubauer Can we find the images in the mapimages_deleted struct?

[2016-10-17 20:01] gyllen commented on #2291
@GITNE The cool groovy transitions :) are based on both the position and also a "3D reconstruction" of the area (correct me if I am wrong here @paulinus

Not sure about the rewrite of the EXIF before upload (is this something you can take a look at @nickplesha )

[2016-10-17 20:08] gyllen commented on #2313
@peterneubauer It feels like we have seen this before. It feels like one image is getting assigned to multi sequences.

@AnkEric Thanks for reporting, and really sorry for this hickup.

[2016-10-17 20:30] naoliv commented on #2308
With version 2.45 it's even worse (it crashes all the time).

[code]

[code]

I can also see this:

[code]

And this:
[code]

[2016-10-17 20:50] HolgerJeromin commented on #2284
Not valid in redesign anymore.

[2016-10-17 20:50] #2284 closed

[2016-10-17 20:51] HolgerJeromin commented on #2207
Not valid in redesign anymore. Thanks

[2016-10-17 20:51] #2207 closed

[2016-10-17 20:54] HolgerJeromin commented on #2312
Related or the same as  #1533

[2016-10-18 00:53] mnalis commented on #1791
Has there been any movement on this front (releasing the open source version of Android app, as mentioned also in #469,  and nowdays broken #1124 - archived at http://archive.is/kLbe7) ?

[2016-10-18 08:45] AnkEric commented on #2313
To be honest: I did see something strange on my side!
Cross-linked images, one image on smartphone was copied to other sequence folder on PC. Same filename, but different image!
Only twice in 8 sequences so I do think this does not explain the issue. But also: twice!
Must be my system error? Or Mapillary, together with Galaxy and Android did write those files as cross-linked files?
I have preserve

[2016-10-18 18:46] GITNE commented on #2291
Reordering is more severe than I have initially assumed. My next sequence ```CnBJy5B-Z9pQrs8lR4fZxg``` uploaded via the web uploader got reordered improperly: https://www.mapillary.com/app/?pKey=ospVD_Fw83OYW1DX4hZh5Q
This time, the first and fifth photo have been swapped. I have **not** touched the sequence before upload.

I suppose the backend is computing the GPS date time stamp incorrectly, pr

[2016-10-18 22:23] nicolas17 opened #2314 "Blur editor can get stuck with profile panel open"
### Basic information
- Platform: Web
- System/Browser: Firefox 45.4
### Steps to reproduce behavior
1. Open the panel/menu on the left, select Leaderboard.
2. Click on a user. The profile panel opens on the right.
3. Click one of the user's uploads. This opens the first photo of the sequence.
4. Click (...) and then Edit blurs.

The left panel closes, but the right panel remains open. I can't clo

[2016-10-19 10:15] eneerhut opened #2315 "No confirmation when changing profile bio/description"
- Platform: `Web`
- System/Browser: `Sierra/Safari`
### Steps to reproduce behavior
1. When adding information into your bio and saving, nothing happens.
### Expected behavior

A little dialogue confirming that the changes have been saved.
### Actual behavior

Nothing happens.

...
### Additional information

Props to Panoramio superstar Manuela for mentioning.

![screen shot 2016-10-19 at 12 12 3

[2016-10-19 13:36] angelday commented on #2315
We will be improving this one while adding functionality to the settings, thanks for reporting.

[2016-10-19 20:11] gyllen commented on #2313
@AnkEric Thanks for more detailed report we are continuing to investigate this issue.

[2016-10-19 20:12] gyllen commented on #2291
@nickplesha Can you try to repeat this bug?

[2016-10-19 20:14] gyllen commented on #2314
@nicolas17 Thanks for reporting, will report back when solved

[2016-10-19 23:16] ptpt opened #2316 "Improve sequence editing"
To update a photo's location, we have to click on the photo, and drag it to the new location. This set of operations is inefficient, especially for editing a sequence with a large number of photos:
1. sometimes it's hard to click on the right photo (especially when many photos gather together)
2. dragging is slow on slow computers
3. when you drag too fast, the photo will not follow the mouse

(th

[2016-10-20 02:32] Caboosey opened #2317 "Add 1.5s as a choice for timed mode"
### Basic information
- Platform: `Android`
- Version: `2.48`
- System/Browser: `SM-G900P`
- Android version: `6.0.1`
### Steps to reproduce behavior
1. Launch Mapillary app
2. Click/touch Menu icon at top left
3. Click/touch `Settings`
4. Click/touch `Capture`
5. Click/touch `Timed Capture`
### Expected behavior

Have a custom entry or a 1.5s as a choice.
### Actual behavior

No option to choose

[2016-10-20 09:43] GITNE commented on #2291
Unfortunately, further sequences got reordered. :unamused:
https://www.mapillary.com/app?focus=map&pKey=uHk1ASnkkBL-coZGDqEbwA
https://www.mapillary.com/app?focus=map&pKey=A2s9X1Y-lrR8M1IJO-4xww

Can you put them into the correct order? Uploading these photos again is way too time consuming. This bug is very annoying. You should really fix this **asap** because it messes up the database and the na

[2016-10-21 10:43] nickplesha commented on #2292
@iav Thanks for reporting! Have you been able to upload your images in the meantime?
I've been trying but I'm unable to reproduce this exact error and looking at the message it seems the problem occurred in on of the external libraries we use, possibly caused by the `403` response there in the error list. If you can reproduce this consistently, let us know so we can take a better look.

[2016-10-21 13:30] nickplesha commented on #2275
@simonmikkelsen We've updated to the latest version of `mapbox-gl` and made some changes with map performance in mind. Can you check if you can still reproduce this behaviour?

[2016-10-21 13:42] nickplesha commented on #2293
@ToeBee Updated to the latest version of `mapbox-gl`. Let us know if this issue reappears by reopening this issue.

[2016-10-21 13:42] #2293 closed

[2016-10-21 13:45] nickplesha commented on #2273
@jotpe We update `mapbox-gl` to the latest version and updated our map-handling code as well. We can't reproduce this error, can you please check if it still occurs for you?

[2016-10-21 21:03] iav commented on #2292
Just now:
open and clead console
open "upload" tab,
press "uloader" button
drop into browser jpg
press "review" button on popup
make some zooms
drag red circle from popup to map

circle drags, but lost on drop.
then I send you a log:
`mapillary-js.min.js:15 THREE.WebGLRenderer 80
3zone-2222385….js:260 Uncaught TypeError: node.getElementsByTagName is not a function(anonymous function) @ VM429:45Zon

[2016-10-22 18:37] mikini commented on #1892
@gyllen, did the solution using computer vision run into problems? Would users be notified of suspected rotations on upload? I have recorded some more rotated sequences since. Could they please be flipped?

bOfotEzEaRsRy1-p8lOmHQ
jnP2QtIzCZxz2sHMQwZ6mw
TY0kUgl9qMHvWwxb2uES1g
EQzzpoG4TjZYo_nv-sKP5g
v-y4ENpM39EiUtmSDZApNQ
dDHu_2HdfdI-HY6A4Wwhyg
0Mk9Dhnzv5gBAY2zk954kw
HBTIG4O_9n-_yI4jlmcOVA
ilEh8LYID

[2016-10-22 19:18] gyllen commented on #2291
@GITNE We are looking into this and tracking the bug. I might take a couple for us to get back to you though. Some big upgrades going on.

It looks to me that the order is right on the map though. So this might be some caching issue.

[2016-10-22 21:49] rudolfmayer commented on #515
So, not much progress on this yet..
What about providing a python small script as part of the mapillary tools as a first option? I anyway copy my pictures from off the card to a HDD for checking image quality before uploading. On that occasion, I also group sequences that are broken into one folder.

If you'd provide a script that takes a folder, finds all files (non-recursive or recursive, as the

[2016-10-23 02:45] GITNE commented on #2291
@gyllen Hmm, I do not see any cdn caching effects you are referring to, even after clearing the browser cache and reloading the page after days. Hence, I have deleted the first affected sequence and are going to upload it again. I would like to find out if this may be an issue with the uploading process because some sequences turn out fine after upload. Unfortunately, I will not be able to test if

[2016-10-23 16:53] GITNE commented on #2291
@gyllen I have reuploaded the photos of sequence https://www.mapillary.com/app/?pKey=ospVD_Fw83OYW1DX4hZh5Q&focus=map. Fortunately, the new sequence has been ordered correctly. :smile: As I mentioned before, because the replacement sequence's photos are not bit identical this does not say anything about any possible cause that might have disrupted the correct order of the first sequence.

[2016-10-23 16:58] eugensim opened #2318 "Improving image quality (optionally)"
I would be great and very useful if we have an option to improve to image quality before the upload. Personally, when I'm using the webuploader, after the gps sync, I used to upload the images on Google+ (using the [old/classic version](https://www.youtube.com/watch?v=zH5YNBCcdxE)), where I have an option to improve quality for an entire album by a click
![quality](https://cloud.githubusercontent.

[2016-10-23 21:27] de-vries opened #2319 "spelling error in android app"
go to the upload section of the app.
swipe to delete a sequence
the 'are you sure' pop up says "delet" on the delete button.

I just installed release_301-SNAPSHOT.apk

[2016-10-24 00:46] pkoby opened #2320 "Uploaded image icon is misaligned?"
### Basic information
- Platform: `Web`
- System/Browser: `Linux, Chrome`

I don't want to refresh the page to check if it's always like this, but the icon for an uploaded picture seems like it's pulled from the wrong part of the icon sheet (or however you want to call it). The screenshot should explain it better:
![screenshot from 2016-10-23 20 44 06](https://cloud.githubusercontent.com/assets/77

[2016-10-24 02:08] jesolem commented on #2068
Users can download the original file contributed since September. Closing.

(also GPS traces of their sequences, and everything from the API)

[2016-10-24 02:08] #2068 closed

[2016-10-24 02:09] #1090 closed

[2016-10-24 03:01] hughdavenport opened #2321 "ability to have a portrait mode for walking"
### Basic information
- Platform:  `Android`
- Version: `3.00`
### Steps to reproduce behavior
1. Hold phone in portrait mode or have mounted in chest mount or bag mount.
2. Use mapillary while walking
### Expected behavior

Mapillary should allow portrait mode.
### Actual behavior

Mapillary requires landscape for all modes.
### Additional information

So I have an idea for a bag mount, which wou

[2016-10-24 07:14] de-vries commented on #2321
Go to Settings > Capture, disable 'Pause while tilting'. And voilà, portrait mode is possible.

[2016-10-24 08:11] millenbop commented on #2321
It has been discussed before, see for instance this one for some discussion:

https://github.com/mapillary/mapillary_issues/issues/1733

[2016-10-24 12:21] GITNE commented on #2291
@gyllen @peterneubauer I have reuploaded sequence https://www.mapillary.com/app?focus=map&pKey=uHk1ASnkkBL-coZGDqEbwA with bit identical photos. The effects are reproducible and it is like I have assumed. The sequence gets disordered on the first photo that has a GPS time stamp with non-integer seconds, or in other words where it has a granularity of fractions of a second (the divisor is ```> 1```

[2016-10-24 12:28] ybkuang commented on #2291
@GITNE @gyllen I've checked that this is a backend processing error. It is due to an error in the parsing datetime format with subsec in GPS Time. I will make a fix for it and reprocess the photos (so you don't need to upload again). This will take a few days. Sorry for the error and the delay.

[2016-10-24 14:43] AnkEric opened #2322 "Questions: Web uploader for Video? Garmin VIRB XE? Time lapse Video?"
### Basic information
- Web uploader for Video
### Questions
1. What is to be expected for Video Upload from Mapillary in near future?
2. Will Mapillary processing of time lapse video be possible in near future?
3. Will Mapillary processing of video be possible in near future without the need of a GPX file?
### My Mapillary images on bicycle are garbadge

My Mapillary images on bicycle are garbadg

[2016-10-24 14:48] ybkuang commented on #2322
@AnkEric Do you mean the uploaded videos are visible in JSOM but not on Mapillary map? do you have a link to one of the images?

[2016-10-24 15:06] AnkEric commented on #2322
This is first photo of Video sequence:
https://d1cuyjsrcm0gby.cloudfront.net/fWSq6eKf26PC1Vw1FdVwzw/thumb-2048.jpg

Or am I unpatient? Might take some time to show? Now I found sequence by Feed and JOSM.

[2016-10-24 23:31] hughdavenport commented on #2321
Ok I'll try the turning off tilt and having phone portrait. The docs suggested that i would have to do offline image manipulation to get it in 4:3 ratio though which is not what i would intend

[2016-10-25 01:36] gyllen commented on #2322
@AnkEric Can we close this ticket?

As a note we are working on making notification more descriptive.

[2016-10-25 01:38] gyllen commented on #2291
@ybkuang Thanks for finding this, reassigning ticket.

[2016-10-25 01:39] gyllen commented on #2299
@Akaveeti Can you check if everything is back to normal?

[2016-10-25 01:40] gyllen commented on #2320
@nickplesha Seems like there are still some problems with map even after upgrading mapbox-gl

[2016-10-25 01:44] gyllen commented on #2318
@ybkuang What do you guys in vision thinking about doing any image adjusting on the backend?

[2016-10-25 01:46] gyllen commented on #515
@rudolfmayer I wonder if this is a function that would be better in the apps so you can merge directly before upload. What do you think @peterneubauer

[2016-10-25 04:03] ToeBee commented on #2291
It seems like this issue has been sidetracked from its original problem?

[2016-10-25 06:12] Akaveeti opened #2323 "Bugs"
Hi,

In recent update version have lot of bugs I faced inAndroid Device.

1) In sequence time , in case I click stop button and click again start button to continue that  app going to hang.

2) Can't possible to delete single image in a  sequence photos.

3) Images is not uploaded, when i click upload button and select upload option . it is showing one popup " cancle and home " . But not uploading

[2016-10-25 06:28] rudolfmayer commented on #515
I think it might be _also_ useful in the app, but I can see more benefits in an offline (out of the app/on the computer processing) - especially as I already have many sequences on my HDD that would need merging...

[2016-10-25 07:30] AnkEric commented on #2322
@gyllen

[2016-10-25 08:54] GITNE commented on #2291
@toebee This is what I get when I look at your sequence.
![map720p](https://cloud.githubusercontent.com/assets/15823872/19679181/1f5a6bd8-9aa1-11e6-87d5-3a6f92984430.png)
Hence, your problem has been resolved. It was a cdn caching issue indeed, so everything worked as designed for you so far. It is not pretty but correct. The next backend update will probably resolve the delay in cdn caching prett

[2016-10-25 17:16] kardotim opened #2324 "Shutter sound enabled even though disabled in settings"
* Platform: `Android`
* Version: `6.0`
* Device: `Huawei Honor 7`

### Steps to reproduce behavior

 1. Go to hamburger menu -> Settings -> Camera -> Disable shutter sound
 2. Go to Capture and take photo, doesn't matter what mode
 3. Hear the shutter sound

### Expected behavior

To not hear a shutter sound when it's disabled in settings.

### Additional information

The device audio is even mute

[2016-10-25 17:26] ToeBee commented on #2291
No, my problem was not a caching issue. The sequence I uploaded and took a screenshot of was manually split up by someone at Mapillary to mask the problem on the map. Here are the split out parts that were originally all part of the long sequence:
* https://www.mapillary.com/app/?pKey=DwTbRy2WEBXBY8sOfebfKA
*  https://www.mapillary.com/app/?pKey=_IqLpFJjtEX5i7ZN6uOgEA
* https://www.mapillary.com/a

[2016-10-25 18:16] voschix commented on #515
I think it would be nice to able to do it at choice on the computer or on
the smartphone
I personally would put the priority of implementation on the computer.

[2016-10-25 22:43] GITNE commented on #2291
Okay, I did not know that.
@ToeBee Can you please download the original files and check the seconds component of the GPS time stamp field for fraction second values (I would have done it myself but I cannot because only owners of uploads can)? If you can, please examine also the photos that came before those you've mentioned in the original sequence. If either of these have fraction second values

[2016-10-25 23:08] ToeBee commented on #2291
These are from a GoPro Hero 4 camera which doesn't have GPS functionality. They were geotagged with the geotag_from_gpx script. There is no "GPS Time" field in the EXIF. All I see is:
`Date/Time Original = 2016:09:17 22:25:12`
`Create Date = 2016:09:17 17:25:12`
`Modify Date = 2016:09:17 17:25:12`

So no fractional seconds anywhere.

[2016-10-26 10:43] GITNE commented on #2291
This is an important piece of information. However, I am still not convinced that the web uploader is the cause because it does not do very much. Particularly, it does not do anything to files and it is only the files that the backend works on. When it comes to building or ordering a sequence it is only the time stamp that matters. You cannot change that with the web uploader by any means. It is t

[2016-10-26 13:45] PanierAvide opened #2325 "Invalid SSL certificate for API"
### Basic information
* Platform: `Web`
* Version: `current`
* System/Browser: `Linux / Firefox 48 or Chromium 53`

### Steps to reproduce behavior

 1. Try to visit any API page, for example https://a.mapillary.com/v2/search/im?client_id=CLIENT_ID&max_lat=48.12961&max_lon=-1.7073299999999563&min_lat=48.12421&min_lon=-1.7210000000000036

### Expected behavior
Enjoy the API response in JSON format.

[2016-10-26 14:17] it4workflow commented on #1808
@ybkuang to bring this issue up, i looked into the exif tags, and i think this shouldn't be heavy to fix the issue: just look at the orientation exif tag and "rotate 90 cw", then width (1152px) and height (7680px) will change, too ?!

[2016-10-26 14:40] ybkuang commented on #1808
@oscarlorentzon can you help check why this panorama is rotated wrongly? https://www.mapillary.com/map/im/Q1v_6jbT4Rqh4_yqWMbnkQ. The thumbnail has correct orientation https://d1cuyjsrcm0gby.cloudfront.net/7glJ5x_FlzE0ZGiHs0-36Q/thumb-2048.jpg.

[2016-10-26 15:34] oscarlorentzon commented on #1808
@ybkuang https://www.mapillary.com/map/im/Q1v_6jbT4Rqh4_yqWMbnkQ has orientation 6 and `MapillaryJS` does not support panoramas with orientation other than 1 currently.

[2016-10-26 16:09] it4workflow commented on #1808
So you have to reject it after upload. So it's not a bug. So it's closed for me.

[2016-10-26 16:09] #1808 closed

[2016-10-26 16:34] utack opened #2326 "Support Android 7 Split-Screen mode properly"
When using Android 7 Split-Screen mode the viewfinder goes black
After toggling the map/viewfinder modes to the large map - small image option image comes back, but with the wrong aspect ratio
![screenshot_20161025-162814](https://cloud.githubusercontent.com/assets/8551234/19735184/c3254062-9baa-11e6-8f0f-85d446446d41.png)

Effectively you have to shoot blindly in splitscreen mode, please try to f

[2016-10-26 17:27] gyllen commented on #2323
@Akaveeti Is this in the Android app?

[2016-10-26 17:29] gyllen commented on #515
@peterneubauer Maybe pilot this in the Android app? WDYT?

[2016-10-26 17:30] gyllen commented on #2325
@PanierAvide This was caused by an error on our server, please confirm that this is now working for you.

[2016-10-26 17:52] PanierAvide commented on #2325
It works correctly, thanks for solving the issue :-)

[2016-10-26 17:52] #2325 closed

[2016-10-26 21:09] hughdavenport opened #2327 "if i have upside down sequence images, will they flip after upload?"
On android, my sequence for this mornings ride was upside down even though I'm sure the text was the right way up. Will they be converted on upload or should i do it manually?

Side note, maybe another issue/feature req. Would it be possible to force th screen to changr orientation? My bike mount is set to be one way and to get it to rotate i have to pick up bike sideways and put back down for it

[2016-10-27 04:17] Akaveeti commented on #2323
Yes , In Android App

[2016-10-27 08:32] cbeddow commented on #2322
@AnkEric

You're correct on the points about consuming time and resources.

My one suggestion to minimize all of these issues is to link the VIRB to the Mapillary app on your mobile phone. You'll want to connect to the VIRB via wifi on your mobile phone, then in Mapillary open the camera, tap tap the wifi icon that is below the question mark. The app will recognize the Garmin VIRB as an external c

[2016-10-27 10:02] oscarlorentzon commented on #1808
This should be supported in `MapillaryJS`. Created an issue for it there.

[2016-10-27 10:09] nickplesha commented on #2292
@iav Thanks for all the additional information. Does this happen in other browsers as well?

[2016-10-27 10:34] trolleway opened #2328 "Time Travel beetwen photo and panorama wrongly using panorama direction"
### Basic information
- Platform:  `Web`
- Version: `...`
- System/Browser: `Google Chrome`
### Steps to reproduce behavior
1. Open a timetravel beetwen standart photo and 360 photo (https://www.mapillary.com/app/time-travel/trolleway?lat=55.63729856999413&lng=37.673138380009846&z=17&pKey=HN3Hj5XUPXDpnO--5N4nIQ&focus=photo&cKey=gI6q7g3Z1Q588zo6Jvs6LQ)
### Expected behavior

Old and new photos shou

[2016-10-27 10:37] majkaz commented on #2327
Ditto... and few other points:
The android app is ignoring the phone screen orientation setting, too. I have tried everything possible, including setting the screen orientation prior to starting the app. The app quite often decides to go with upside-down orientation and due to the tilt detection refuses take photos at all. Today, I couldn't take photos for 5 km and was fiddling with the app on eve

[2016-10-27 11:12] echeloni2p commented on #2324
Hi!
Well known issue on honor 6/honor 7 already, no real way to fix it.
Some cameras are not being able to mute shutter sound (as requested by some countries law to prohibite upskirt pictures).
echelon

[2016-10-27 11:57] kardotim commented on #2324
Interesting! I had a hunch it came more from the OS than the app itself. Thanks for sharing the information.

[2016-10-27 11:57] #2324 closed

[2016-10-27 12:27] eneerhut commented on #2322
@AnkEric just chiming in here.
Unfortunately no easy solution in the short term for you if you are relying on the Garmin's video time lapse feature.
If you can go without this then time lapse photos is best. You can adjust the resolution accordingly and easy uploading with the web uploader.

If you still need the video then the video uploader you are already familiar with is the easiest tool. The

[2016-10-27 15:58] iav commented on #2292
Yes, same in mozilla.

-----Original Message-----
From: "Nikola Pleša" <notifications@github.com>
To: mapillary/mapillary_issues <mapillary_issues@noreply.github.com>
Cc: iav <iav@iav.lv>, Mention <mention@noreply.github.com>
Sent: чт, 27 Окт 2016 13:09
Subject: Re: [mapillary/mapillary_issues] No position marker on a review sreen (#2292)

@iav Thanks for all the additional information. Does this

[2016-10-27 21:05] jfburke3 commented on #2327
@hughdavenport They do appear to be oriented correctly after upload.  Most of the time, anyway.

[2016-10-27 21:08] jfburke3 opened #2329 "Review will only show me a deleted image"
### Basic information
* Platform: Android, Samsung Galaxy S7 Edge
* Version: 6.0.1

### Steps to reproduce behavior

 1.  Open a sequence with a single image and delete that image.
 2.  Open another sequence and attempt to review individual images.

### Expected behavior

I expect to see the image for which I tapped on the thumbnail.

### Actual behavior

The only image I see is the one I deleted

[2016-10-27 21:12] jfburke3 commented on #2329
I should note that it worked fine *before* I deleted that one image.  It was an image by itself and I didn't think it was necessary.

[2016-10-28 04:03] hughdavenport commented on #2327
Hmm not mine after uploading. https://www.mapillary.com/app/user/hughdavenport?lat=-41.23401719999998&lng=174.90359205000004&z=17&pKey=TwEkKXGkaPrrLwt0d4Ua7w&focus=photo

[2016-10-28 08:12] rsahlin commented on #2329
Hi @jfburke3 and thanks for reporting.

This has been fixed and will be released with an update very soon.

[2016-10-28 08:12] #2329 closed

[2016-10-28 08:19] rsahlin commented on #2323
Hi @Akaveeti and thanks for reporting

My name is Richard Sahlin, I am the lead engineer on the Android app.
Could you please let me know what device you are using and what version of Android?
We are looking into your report.

Best regards
/Richard

[2016-10-28 08:23] rsahlin commented on #2323
Hi again @Akaveeti

When you try to upload - do you see any kind of message on the screen?
This could be that you are connected to a cell network and settings is set to only upload on wifi.

Best regards
/Richard

[2016-10-28 09:15] Akaveeti commented on #2323
Hi,

I am using Redmi Note 3.
Version : 5.1.1.
I will try to update on last saturday to still. i will check that setting also. i update every time in wifi only.

[2016-10-28 09:18] rsahlin commented on #2323
Thanks for your reply @Akaveeti

Could you please try to trigger an upload and send debug logs by opening the navigation drawer (either pressing the context menu in top left corner - or swiping left)
This will help us investigate the problem.

Best regards
/Richard

[2016-10-28 09:19] Akaveeti commented on #2323
Okay , sure

[2016-10-28 11:13] HolgerJeromin commented on #2310
Removed "deleting selected images  of a sequence does not work."

[2016-10-28 17:18] eugensim opened #2330 "Extremely slow navigation between photos (only on Chrome)"
Windows 10
Chrome last version (on Edge works fine)
![slow](https://cloud.githubusercontent.com/assets/8439643/19815449/9b07240e-9d4b-11e6-88a2-e15da144d42a.jpg)

[2016-10-28 19:27] gyllen commented on #2330
We just made a major performance upgrade on the web. Can you check if its better?

[2016-10-28 22:44] hughdavenport commented on #2327
Happened again, after making sure it was the correct way before clicking start... Kinda feels a bit pointless going on an hour bike ride for the purpose of mapping if it doesn't even automatically correct it after upload, or have a way to do it without manually pulling off phone then manually uploading.

I've only had it happen after the upgrade to 3.0, and today it was on 3.01 so that didn't fix

[2016-10-30 01:55] govvin opened #2331 "Drag-and-drop folder of geo-tagged images doesn't work as expected in Firefox"
### Basic information
- Platform: `Web`
- Version: `...`
- System/Browser: `Xubuntu 16.04 / Firefox 49`
### Steps to reproduce behavior
1. Drag-and-drop a folder of geo-tagged images in the Mapillary Uploader
### Expected behavior

Images will be uploaded to mapilllary.
...
### Actual behavior

Instead of proceeding with upload (I also use Chromium, which behaves as expected) it displays a directo

[2016-10-30 06:03] teemsaj opened #2332 "Support for SanDisk iXpand Flash Drive"
Hey there,

I'm primarily on an iPhone 6 right now, but I have an old 5C that does most of my Mapilary work without a cell network on it. The 5C runs out of space pretty fast, but that's a given since it's only a 16GB.

I have this SanDisk iXPand flash drive, plugs into the lightning port. I know of other apps that support reading (and writing?) from said drive. I thought they had an SDK, but I'm

[2016-10-30 14:54] kaitu opened #2333 "Tilt angle setting is too coarse"
### Basic information
* Platform: `Android`
* Version: `3.01`

### Steps to reproduce behavior

 1. Select "Settings"
 2. Select "Capture"
 3. Select Max tilt

### Actual behavior
Selectable values (degrees) are:
0
10
20
30
40
50
60

### Additional information
The "0" setting seems to correspond to a "1" setting (at least, it corresponds to what was called "1" in previous versions of the applicati

[2016-10-30 16:17] kardotim commented on #2332
I think this might be it, perhaps helpful to the developers :) https://github.com/SanDisk-Open-Source/SanDisk-iXpand-Flashdrive

[2016-10-30 16:18] kardotim opened #2334 "Mapillary in Amazon Appstore is outdated"
The Mapillary app in the Amazon Appstore for Android hasn't been updated for some time, perhaps you can make this part of the release flow.

https://www.amazon.com/Mapillary/dp/B00JCVFOHW

[2016-10-30 16:47] simonpoole opened #2335 "Issues with reviewing individual images in Android app (1)"
### Basic information
- Platform:  `Android`
- Version: `3.01`
- System/Browser: `Samsung S5 6.01`
### Steps to reproduce behavior
1. Open upload "tab"
2. Select sequence
3. Select image in sequence
### Expected behavior

Selected image is displayed
### Actual behavior

Controls are displayed but no image.

[2016-10-30 16:51] simonpoole opened #2336 "Issues with reviewing individual images in Android app (2)"
### Basic information
- Platform:  `Android`
- Version: `3.01`
- System/Browser: `Samsung S5 6.01`
### Steps to reproduce behavior
1. Open upload "tab"
2. Select sequence
3. Select image in sequence (not displayed see prev. issue)
4. Swipe page
### Expected behavior

Previous or next image should be displayed (if images were displayed at all)
### Actual behavior

Page number would indicate that a

[2016-10-30 16:54] simonpoole opened #2337 "Can't mark more than one sequence for upload"
### Basic information
* Platform:  `Android`
* Version: `3.01`
* System/Browser: `Samsung S5 6.01`

### Steps to reproduce behavior

 1. Open upload "tab"
 2. Select sequence
 3. Start upload

### Expected behavior

Further sequences can be reviewed (if that worked) and marked for upload.

### Actual behavior

Dialog is shown that only offer options "Cancel" and "Home" selecting the later returns

[2016-10-30 17:14] millenbop commented on #1964
Since iOS now also has Auto, I'll close this issue.

[2016-10-30 17:14] #1964 closed

[2016-10-30 17:15] millenbop commented on #2177
Thanks for reporting, fixed in next version, 4.5.1.

[2016-10-30 17:15] #2177 closed

[2016-10-30 19:00] HolgerJeromin commented on #2337
Yes, this is annoying. I reported it about ten days ago.

[2016-10-31 05:43] hughdavenport commented on #2327
And now I managed to get sideways images (portrait). Phone definately not portrait as is in a horizontal mount...

Really feels like I'm wasting my time contributing. And it isn't even open source so i can't even help debug

[2016-10-31 06:05] HolgerJeromin commented on #2337
This really is not a good workflow as often I review a few random sequences on my phone when I cannot upload. Marking them for later was much better.

[2016-10-31 07:45] de-vries commented on #2319
fixed in 302

[2016-10-31 07:45] #2319 closed

[2016-10-31 09:10] millenbop commented on #2332
It's a good question. I haven't worked with external drives for iOS before. Would prefer to do a general solution if possible though. I'll look into it.

@teemsaj could you describe how it works in other apps?

[2016-10-31 10:07] eugensim commented on #2330
@gyllen Nothing changed. The problem is only on Chrome.

[2016-10-31 10:18] oscarlorentzon commented on #2330
@eugensim Do you have a link to a specific image where it is slow or is it slow everywhere. Can you elaborate on what you mean by `slow`?

[2016-10-31 10:25] oscarlorentzon commented on #2257
We have made some performance improvements in the latest version of MapillaryJS which has been deployed on mapillary.com. Walking through this sequence works fine in both `blur` mode and in the regulare viewer for me now (when clicking the next button really fast there may be some loading from time to time because we need to fetch the images to show in the veiwer).

Closing.

[2016-10-31 10:25] #2257 closed

[2016-10-31 10:28] eugensim commented on #2330
@gyllen @oscarlorentzon here is a video example between Chrome and Edge https://www.youtube.com/watch?v=FhVmVmCcALg&feature=youtu.be

[2016-10-31 10:34] oscarlorentzon commented on #2036
We have made performance optimizations in MapillaryJS 2.0 and MapillaryJS now handles this area without lag or errors. The performance `choke` in this area is now related to the map only.

See for example (MapillaryJS loads fast and the website becomes unresponsive first when the map tile data is loaded): https://www.mapillary.com/app/?lat=35.967025879491885&lng=-83.91845264496537&z=16.55813688198

[2016-10-31 10:36] oscarlorentzon commented on #1910
@talllguy Have you uploaded panoramas like this? Do you have a link to an example?

[2016-10-31 10:59] oscarlorentzon commented on #2330
Thanks @eugensim. It looks very slow on both Chrome and Edge to me.

Is the speed of the MapillaryJS viewer equally slow here?

https://bl.ocks.org/oscarlorentzon/raw/5af00c5c07448233bcb62f5e2124ab39/

[2016-10-31 11:25] eugensim commented on #2330
@oscarlorentzon no, there is ok.

[2016-10-31 13:34] HolgerJeromin opened #2338 "expanded notification text is not always updated on upload"
### Basic information
* Platform: `Android`
* Version: `302`
* System/Browser: `Fairphone 2`

### Steps to reproduce behavior

 1. Hit upload on a sequence with 80 images
 2. Wait till all are uploaded
 3. Hit upload again on an other sequence

### Expected behavior

Upload finished icon in the "main android title bar" should be replaced with the uploading icon.
Expanded Notification should show t

[2016-10-31 17:28] gyllen commented on #2330
So this has probably something todo with the fact that we both have the map that use webGL and MapillaryJS using WebGL then, its interesting to me that its only happening in chrome too.

[2016-10-31 17:29] gyllen commented on #2036
@ptpt We need to figure out how to make these tiles more lightweight.

[2016-10-31 17:31] gyllen commented on #2334
@peterneubauer Thoughts on this, was a long time since we thought about the Amazon app.

[2016-10-31 17:32] gyllen commented on #2331
@govvin Thanks for reporting

[2016-10-31 23:16] hughdavenport commented on #2327
So it looks like that it is preferring the android rotation for saving but displaying its own rotation when it is running (the stop/start button text). Prehaps a way to force a certain alignment (or reverse what alignment it uses) to allow for different mounts. I could rebuild my mount to show the other way but it is a bit of a pain

[2016-10-31 23:35] hughdavenport commented on #2327
So if i have get it in a point where it is upside down compared to the android (android pull down is at bottom, and the start/stop button text is upside down) thrn the images are correct on upload, BUT it resets which way the start/stop show whenever it tilts slightly so wont be suitable for mount

[2016-10-31 23:39] hughdavenport commented on #2327
Ok so if i start it when its the right way up. Then flip it the stop button text doesn't flip and seems to show the correct orientation when uploading

[2016-11-01 02:03] teemsaj commented on #2332
@millenbop I only use this drive with the official app and "It's Playing" video app. As far as I can tell, "It's playing" does not have any delete functions, not sure if that's an SDK limitation.

I really hope it's not an SDK limitation, because that just makes this effort pointless. I just want to be able to record for longer periods of time instead of exhausting disk space on either of the iPho

[2016-11-01 04:49] hughdavenport commented on #2327
Ok so updated to 4.0. Now doing the above trick shows phone tilted and no photos taken. Even with the pause when tilted option turned off. Anyone from mapillary going to reply and help debug? Or should i just keep uploaded upside down images? Or just stop contributing?

[2016-11-01 22:00] hob-gob-lin commented on #2311
I am seeing the same bug.  I have a Galaxy S6 and running Mapillary version 3.01

[2016-11-02 00:42] nicolas17 commented on #2334
Duplicate of #1398, and there may be other tickets...

[2016-11-02 00:44] nicolas17 opened #2339 "Typo in og:description metadata of time travel"
In a time travel page [such as this one](https://www.mapillary.com/app/time-travel/?focus=photo&pKey=HM0tiMCNUlZ5pnIy51sDUA&cKey=N-CrNGGUrgJlIgcX_ZcnGg), the `og:description` <meta> tag says "These two images where taken by". It should say "were taken" instead of "where taken".

[2016-11-02 00:49] nicolas17 opened #2340 "Time travel pages shouldn't mention same username twice"
In a time travel page where both of the pictures were taken by the same user, [such as this one](https://www.mapillary.com/app/time-travel/?focus=photo&pKey=HM0tiMCNUlZ5pnIy51sDUA&cKey=N-CrNGGUrgJlIgcX_ZcnGg), there are several <meta> tags that say the pictures are "by nicolas17 and nicolas17".

If both usernames are the same, it should only be mentioned once; eg. `<meta content="Compare Mapillary

[2016-11-02 07:23] rsahlin opened #2341 "Date of sequence is sometimes 31 Dec 1969"
Mapillary version info: 3.02, version code: 3.02 running on Google LG Nexus 5X with Android 7.0 patch level October 5, 2016

After the sequence is uploaded it cannot be filtered since first date of filter is jan 2000

Sometimes the cover picture for Dec 31 sequence is missing.

[2016-11-02 07:34] rsahlin commented on #2341
![dec31](https://cloud.githubusercontent.com/assets/3063192/19920122/1b528d7c-a0d7-11e6-9b70-a3887883e66b.png)

[2016-11-02 07:42] rsahlin commented on #2341
![31dec-nocover](https://cloud.githubusercontent.com/assets/3063192/19920295/32c77336-a0d8-11e6-9ef0-5d769beea8fa.png)

[2016-11-02 07:45] rsahlin opened #2342 "Preview blank if several hundred pictures in sequence"
Mapillary version info: 3.02, version code: 3.02 running on Google LG Nexus 5X with Android 7.0 patch level October 5, 2016

[2016-11-02 07:46] rsahlin commented on #2342
![blank-preview](https://cloud.githubusercontent.com/assets/3063192/19920428/e28eab72-a0d8-11e6-9d44-52d4dffdc0f7.png)

[2016-11-02 07:49] rsahlin opened #2343 "Alert dialog missing buttons"
Mapillary version info: 3.02, version code: 3.02 running on Google LG Nexus 5X with Android 7.0 patch level October 5, 2016

See attached image

[2016-11-02 07:51] rsahlin commented on #2343
![alert-missing-buttons](https://cloud.githubusercontent.com/assets/3063192/19920525/819f94d8-a0d9-11e6-93ed-36cce0e488a5.png)

[2016-11-02 08:58] HolgerJeromin commented on #2311
Fixed in 303

[2016-11-02 09:00] HolgerJeromin commented on #2342
I think this is a priority problem. The Thumbnails are generated for all images of the sequence and after that the current image is rendered.
The thumbnailing of the sequence should be aborted when clicking one image.

[2016-11-02 09:52] kardotim commented on #2342
@rsahlin I had the same issue (on Honor 7, Android 6.0), but eventually, the image did load, did that also work for you? It could take up to 20-30 seconds though....

[2016-11-02 10:02] rsahlin commented on #2342
Hi
I will look into this now and find a solution where the user experience is much faster.

/Richard

[2016-11-02 10:04] eugensim opened #2344 "Map box should remain minimized during navigation"
I think it's better that the map should be minimized if I clicked **"-"** button once.
https://www.youtube.com/watch?v=CmNbVZ-VhaI&feature=youtu.be

Windows 10
All browsers.

[2016-11-02 11:41] majkaz opened #2345 "Better workflow when reviewing before uploading sequence needed (normalize sequence)"
I am uploading sequences from web uploader and end every time with additional edits which in part wouldn't be needed if only I could **normalize sequence before posting**.
For some reason, every photo from the BenQ phone gets wrong heading (turned 90 degrees). It is relatively easy to change wrong gps position before uploading, but this one I am leaving to mapillary, I don't see an easy way to do

[2016-11-02 14:23] AnkEric commented on #2322
Interesting option, out of the box thinking, to connect Mapillary to VIRB.

However…

Android Phone and Garmin VIRB XE are connected by WIFI.
But I cannot connect Mapillary to VIRB. I don’t see a “wifi icon that is below the question mark”.
(Wifi icon with a question mark means that wifi is available and in range, but not connected).
I do want to try this option! Interesting!

What is the extra va

[2016-11-02 18:08] gyllen commented on #2344
@eugensim Yes this is a bug, thanks for reporting

[2016-11-02 18:09] gyllen commented on #2345
Agree

[2016-11-02 18:10] gyllen commented on #2340
@nicolas17 I also want to make the generated image a little fancier. Thanks for reporting!

[2016-11-02 19:24] HolgerJeromin commented on #2310
closed in favor of #2337

[2016-11-02 19:24] #2310 closed

[2016-11-02 21:43] hughdavenport commented on #2327
New mount. Phone horizontal. Pictures show up portrait

[2016-11-03 10:05] rsahlin commented on #1820
Please re-test with version 3.x
This has an all new UI.

Best regards
/Richard

[2016-11-03 10:05] #1820 closed

[2016-11-03 10:06] #2202 closed

[2016-11-03 10:06] #1930 closed

[2016-11-03 10:07] rsahlin commented on #1981
Excellent @sb12
Thanks for letting me know, I'll close the issue.
Please re-open if problem persists (on 3.X release)

[2016-11-03 10:07] #1981 closed

[2016-11-03 11:18] polarbearing opened #2346 "use meaningful name for the apk file on the Mapillary Android app versions server"
The files on ```http://android-releases.mapillary.io/index.html``` are named ```app_release_NNN.apk```, which is a quite self-centric perspective.

For people installing and testing other apps as well, it would be helpful to provide a self-explanatory name, such as ```Mapillary_android_NNN.apk```.

[2016-11-03 19:24] nickplesha commented on #2331
@govvin Thanks for reporting, this happens because Firefox doesn't support drag-and-dropping folders yet. Good news is that it should be available very soon: https://developer.mozilla.org/en-US/Firefox/Releases/50#Files_and_directories so it will start working automatically later this month! 🎉

[2016-11-03 19:24] #2331 closed

[2016-11-04 08:33] kardotim commented on #2285
Just to put on your radar for the future. I think it might also be good to at some point to think more about web accessibility.

[2016-11-04 08:42] kardotim commented on #2341
I had January 1 1970 (epoch) the other day, but went back, and then into the sequence again and the date was corrected.

[2016-11-04 10:03] rsahlin commented on #2341
Interesting!
Thanks for reporting @kardotim :-)

[2016-11-04 16:02] pkoby opened #2347 "Hitbox for minimap arrow is too big"
### Basic information
* Platform: Web
* System/Browser: Ubuntu, all browsers

### Steps to reproduce behavior

 1. Expect to click on photo point in the top-right corner of the small map.
 2. Click hitbox of the arrow in the corner is square, not triangular, so clicking expands map
 3. Cursor is the same for clicking the arrow as clicking the photo point

### Additional information

I'm not sure i

[2016-11-04 20:04] gyllen commented on #2347
@pkoby Thanks for reporting we will see what we can do.

[2016-11-04 22:59] kudarisenmon opened #2348 "iOS app with GoPro HERO3+"
### Basic information
* Platform: `iOS`
* Version: `4.5.4`
* GoPro: `HERO 3+`

### Steps to reproduce behavior

 1. Turn on my GoPro's wifi
 2. Open the Mapillary app and press the wifi symbol to the left.
 3. Choose auto mode
 4. Press the big green start button to beging the capture process
 5. App crash and close, but GoPro was capturing photos

### Expected behavior

 1. No crash

### Actual b

[2016-11-05 11:24] aborruso commented on #1906
Now it works. But I must run chrome with:

    chrome --enable-webgl --ignore-gpu-blacklist

[2016-11-05 11:24] #1906 closed

[2016-11-05 15:47] jesolem commented on #2051
Thanks everyone for input!

On iOS I think this will be impossible due to OS limitations.

With Android now re-made and looking stable we could look into this as an opt-in setting and confirmation on moving app to background, if technically doable without too many risky hacks. Assigning to @rsahlin and @peterneubauer to investigate.

[2016-11-05 15:49] jesolem commented on #1244
I also want to see make and model and @gyllen and I was just discussing exposing this in tiles and API. Let's do this.

Once it is there, we can show it on web too.

[2016-11-05 16:10] jesolem commented on #518
We have zoom to full res for panoramas today. The intention is to get this for regular photos too.

@gyllen @oscarlorentzon for scoping out and implementing.

[2016-11-05 16:28] richlv commented on #1244
weeeeee, thanks a lot :)

[2016-11-06 03:24] pkoby opened #2349 "Time of photo in viewer does not match EXIF (manually uploaded)"
### Basic information
* Platform: Web
* System/Browser: Ubuntu Chrome

### Additional information

I noticed that the time in the bottom right corner of the viewer shows the date and time that the photo was taken. However, it's showing the wrong time for my photos, and it seems to be related to the difference to GMT.

For instance, here is a photo on Mapillary from a couple days ago, showing that

[2016-11-06 03:38] kardotim commented on #2342
This is fixed now, right? @rsahlin :)

[2016-11-06 14:55] abienvenu opened #2350 "Can't login on website if size is < 900px"
If the screen resolution if lower than 900px, the login and signup button on the upper right of the website homepage will not appear, and there is no horizontal scroll to go there. In other words, one cannot login at all!

[2016-11-06 18:34] mallelaprasanth opened #2351 "Traffic sign detection for Qatar Using Mapillary"
I am new to Mapillary, want to know whether using Mapillary software can detect the traffic signs in any country (we are keen for Qatar region)?
API says that, Traffic sign detection is based on country and it has capability to detect for USA, Europe, Brazil, Australia and Canada. So need a bit clarification for region Qatar, If I take images in Qatar using Mapillary App or by means of someother c

[2016-11-07 01:23] gyllen commented on #2051
@jesolem Assigning only one person to keep to policy

[2016-11-07 01:24] gyllen commented on #1244
Yeah it will be availble in `V3` 🎉

[2016-11-07 01:26] gyllen commented on #2349
@pkoby Im pretty sure its on our side, open this up for investigation.

Thanks for reporting.

[2016-11-07 09:02] peterneubauer opened #2352 "Single-or last pics in sequence can't be blurred right now"
### Basic information
* Platform: `iOS` | `Android` | `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Open https://www.mapillary.com/app/index/addismap?lat=49.980111944444445&lng=8.074826944444453&z=17&pKey=0WUGudS5zwVRNGPiNvCRxA&focus=photo&menu=false
 2. Blur
 3. Click "Submit and +"

### Expected behavior

Submit the blur, maybe jump out of the sequence sinc

[2016-11-07 09:50] kaitu opened #2353 "Clearing blurs on first image of the sequence exits the editor"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox 49.0.2`

### Steps to reproduce behavior

 1. Find a sequence with blurs on the first image
 2. Press the hamburger button and call the blur editor
 3. Stay on the very same photo on which you called the blur editor
 4. Press the "clear all" button

### Expected behavior
the blur editor stays open and moves automatically to next pi

[2016-11-07 10:01] jesolem commented on #1114
Closing. Seene shut down after Snap acquisition. http://venturebeat.com/2016/07/25/seene-shutting-down/

[2016-11-07 10:01] #1114 closed

[2016-11-07 10:55] millenbop commented on #2348
I cannot reproduce this, but I've seen your crash log and the crash happens because the app couldn't create a random sequence UUID for some reason (haven't seen this before).

Has it crashed more than once? Has it worked before?

[2016-11-07 11:29] kudarisenmon commented on #2348
I cannot reproduce after my iOS restarted and it seems to work fine now.
It has worked before 23th, Oct.
then I updated iOS to 10.1.1 and Mapillary app to 4.5.4
thanks

[2016-11-07 12:43] millenbop commented on #2348
Ok, will close it for now. Please let me know if it happens again and I'll reopen and investigate further.

[2016-11-07 12:43] #2348 closed

[2016-11-07 14:46] HolgerJeromin commented on #2352
The GUI says the blur were requested. Blurring is at least locked if you close the dialog.

[2016-11-07 14:48] amenk commented on #2352
what does that mean?

[2016-11-07 14:58] peterneubauer commented on #2352
Yes, so the second step - going to the next image - is not working

[2016-11-07 15:00] amenk commented on #2352
But the blur does not seem to be saved at all - also not locked.

[2016-11-07 17:14] gyllen commented on #2353
duplicate of #2352 closing

[2016-11-07 17:14] #2353 closed

[2016-11-07 18:13] HolgerJeromin commented on #2353
Very related. But really the same?

[2016-11-07 20:04] peterneubauer commented on #2346
Thanks, good input! Will change this.

[2016-11-07 20:04] #2346 closed

[2016-11-07 20:10] peterneubauer commented on #2335
We are working on this. Is 3.05 better in this respect?

[2016-11-07 20:10] peterneubauer commented on #2336
Is this working now?

[2016-11-07 20:20] simonpoole commented on #2336
Sorry awlful weather here right now, will test asap.

[2016-11-07 21:39] gyllen commented on #2353
@HolgerJeromin Yeah I think fixing #2352 will fix this issue to, let us know and reopen if it doesn't

[2016-11-08 01:36] GITNE commented on #2349
@pkoby You have to take into account that (unfortunately) all EXIF time stamp fields (`DateTime`, `DateTimeOriginal`, `DateTimeDigitized`) are time zone agnostic (which also kind of renders them more or less useless). The only reliable source for time zone corrected time stamps are the GPS date and time fields.

Check your equipment firmware for daylight saving settings. Depending on the fact if t

[2016-11-08 04:50] pkoby commented on #2349
So I think I understand what you're saying, and I've been playing around with my code to try to fix things up. My GPS grabs points with UTC time. There is no offset or DST or anything in the GPX file, even if it displays local time on my GPS.

My photos, once tagged, do not include GPSTimeStamp. Or rather, it's there, but empty. I have been using gpscorrelate, which has a known bug about this, but

[2016-11-08 05:44] GITNE commented on #2349
This is correct (and good). Fortunately, the GPS specification mandates the GPS date and time stamps to be in UTC.

This is also correct, since the GPX specification mandates time stamps to be either in UTC or have time zone offsets (never daylight saving).

Well, this is unfortunate, since if I understand you correctly you are applying GPS data from GPX traces to your photos. Is that right? Now,

[2016-11-08 14:33] knikel commented on #2350
@abienvenu: Which device are you using. By resolution do you mean width or height? Thanks!

[2016-11-08 14:35] abienvenu commented on #2350
I use Firefox on Ubuntu. The bug can be reproduced by resizing the browser window to less than 900px wide. I am talking about width.

[2016-11-08 14:37] nickplesha commented on #2292
@iav I've been trying to reproduce this in a few browser + OS combinations to no avail. A possible cause  for this might be in the EXIF data on the image that the uploader fails to process. Can you share at least one image where this happens? (in an archive or other link so EXIF data is preserved).

[2016-11-08 14:53] gyllen commented on #2349
@peterneubauer Can you check this?

[2016-11-08 15:01] talllguy opened #2354 "Disable Mac Auto-correct in Location Search on Website"
### Basic information
* Platform: `Web`
* System/Browser: `macOS 10.12.1 / Safari 10.0 `

![image](https://cloud.githubusercontent.com/assets/1827881/20103948/f0a93022-a599-11e6-9cad-0688e3267a71.png)
 ![image](https://cloud.githubusercontent.com/assets/1827881/20103918/d29a5854-a599-11e6-99d9-382b8c3aa9f0.png)

### Steps to reproduce behavior

 1. Search for `Owings Mills` in the Mapillary locati

[2016-11-08 16:30] talllguy commented on #1910
@oscarlorentzon I just uploaded one, but the processing isn't complete. Check back soon.

The photo ID is `9wUZXahtdM7d_xmfNdF5lQ`

[2016-11-08 16:48] richlv commented on #1910
oh, that's good news - last week i wanted to take a photo of some church, but it would have looked not that great in landscape...

is this already available in the current apps ?

[2016-11-08 17:19] GITNE commented on #2354
Yeah, I was just about to comment on this that it is not a web page thing but a browser specific thing.
@talllguy You can set this either in your browser or system settings. So, there you go! :wink:

[2016-11-08 18:09] talllguy commented on #2354
@GITNE I'd like to keep it turned on though, on my system and browser. This _is_ web page specific, because the location field in any website isn't one you'd typically want autocorrect to work on.

[2016-11-08 19:49] GITNE commented on #2354
I have to disappoint you @talllguy. This **IS** **NOT** a web page thing. Web pages (should) adhere to standards. And, Mapillary's web site does to a large degree. The attributes `autocorrect`, `autocapitalize`, and `spellcheck` you are referring to via the stackoverflow article talks about non-standard attributes. These attributes are **only** honored by **Safari**. They may have been proposed by

[2016-11-08 20:20] talllguy commented on #2354
Thanks for the enlightening op-ed on web standards. /s

Seriously? 🙄 _Please_ don't lecture me, here especially. As a [Mapillary ambassador](http://blog.mapillary.com/update/2016/08/11/mapillary-ambassador-elliott.html), I strive to be loyal to the community and promoter of friendly collaboration on this platform. **This comment is not helpful**. My opinion in the original comment was implied. You

[2016-11-08 22:42] GITNE commented on #2354
You welcome, I am glad I could help. :smile:

I am sorry if I have stepped onto your ego. Obviously, we have different views about the purpose of this issue tracker. You seem to assume that this is some sort of social media discussion forum. In my view the issue tracker is more of a tool for filing bugs and glitches. And sure, you are fully entitled to state your opinion on this issue tracker, you

[2016-11-08 23:10] jesolem commented on #2354
@talllguy Thanks for reporting. I see the point and if the fix you link to does indeed solve this then I think it should be implemented. Assigning to @knikel for checking that.

@GITNE You're overreacting here. We're an inclusive community and encourage anyone to file issues for things they think can improve the experience of Mapillary, whatever the reason for the "fault". (Including that we shoul

[2016-11-08 23:23] GITNE commented on #2354
Yes, I am sorry if I may have overreacted. I was only trying to explain the technical limitations and shed some light on the technical background.

[2016-11-08 23:57] talllguy commented on #2354
@GITNE I respect your technical expertise and opinions. No ego issues here, and you're right about us disagreeing on the purposes of the :octocat: Github issue platform.

I don't treat this as a social network , just a controlled way to get issues to the right people. I think that Github has been careful and calculated in calling these _issues_ and not refer to this as a bug tracker. My philosophy

[2016-11-09 09:32] angelday commented on #2285
@kardotim

What do you have in mind, Karim?

[2016-11-09 10:16] nickplesha commented on #2320
@pkoby Thanks for reporting, we've updated the map library again and the image sprites should be in order now as I can't reproduce this on retina and non-retina screens, can you confirm if this is still happening for you?

[2016-11-09 17:51] hughdavenport commented on #2327
3.04 looks like it might have fixed this

[2016-11-09 17:53] hughdavenport opened #2355 "uploads not finishing"
Android 3.04.

I'm taking sequences during my commute, and now the uploads don't finish overnight. The rate they are going suggests they should, but they must stop at some point then not restart. Means the next day there isn't enough space.

[2016-11-10 04:49] iav commented on #2292
Today I try but can't reproduce, at least with chrome - all work as it should, I upload a lot of panoramas, markers works.
Have no idea how it can be.
Ok, I will reopen this ticket if it reoccures.

[2016-11-10 04:49] #2292 closed

[2016-11-10 17:40] hughdavenport commented on #2355
Sent some logs

[2016-11-10 17:45] hughdavenport commented on #2355
Sigh... I suggest you go with option 1. You guys do a great job of pretending to be open...

Delivery to the following recipient failed permanently:

     logs@mapillary.com

Technical details of permanent failure:
Your email to group logs@mapillary.com was rejected due to spam classification. To address this issue:

* Contact the owner of the group, who can choose to enable message moderation ins

[2016-11-10 18:13] kardotim commented on #2285
"_The Web is fundamentally designed to work for all people, whatever their hardware, software, language, culture, location, or physical or mental ability. When the Web meets this goal, it is accessible to people with a diverse range of hearing, movement, sight, and cognitive ability._"

I think this is a great goal to strive for, in whatever time period, just food for thought :) Here's some intere

[2016-11-10 18:20] hughdavenport commented on #2355
[mapillary.log.zip](https://github.com/mapillary/mapillary_issues/files/584090/mapillary.log.zip)

[2016-11-10 18:50] hughdavenport commented on #2327
3.04 looks fairly good. Its only been upside down once which luckily was a shortish sequence but did cover some untouched areas.

Thought for a feature, deleting a sequence on phone before uploading all? Only way i can see that happening is deleting image by image. Or just the folder in the filesystem

[2016-11-10 21:22] pkoby commented on #2320
Just tested it. Looks good from here. Thanks.

[2016-11-10 21:22] #2320 closed

[2016-11-10 22:05] gyllen commented on #2354
Thanks guys Im pulling this ticket in internally

[2016-11-10 22:05] gyllen commented on #2354
Reassigning to @nickplesha

[2016-11-10 22:07] gyllen commented on #2355
@hughdavenport Checking email address and assigning

[2016-11-10 22:08] gyllen commented on #2355
@peterneubauer Can you check why log sending does not work?

[2016-11-10 23:35] govvin commented on #1366
Are there on-gong updates to this?

Like many others here, I used to use the tile layer in OsmAnd to let me plan around routes I could take for photo mapping with Mapillary. I still haven't found any decent alternative to this.

[2016-11-11 08:58] jidanni opened #2356 "Connecting accounts doesn't refresh page"
On https://www.mapillary.com/app/settings/profile
for each of the four accounts we connect,
we must manually refresh the page,
else it looks like nothing happened.

[2016-11-11 09:32] jidanni opened #2357 "Panoramio final shutdown is November 2017, not 2016"
On https://www.mapillary.com/alternative-to-panoramio you say

Well according to http://www.panoramio.com/maps-faq

So please say

[2016-11-11 09:55] jidanni commented on #2357
However it seems the API might not work anymore,
https://groups.google.com/forum/#!topic/panoramio-questions-support/Ie2hy7hBSls
therefore you need to use e.g., WWW::Mechanize to go through the each page of the user's Panoramio account, downloading each photo, most of which will contain exif data... If they were taken with such a camera and not manually geotagged...

[2016-11-11 10:34] jidanni commented on #2357
But wait, e.g.,
http://www.panoramio.com/photo/43605707 when downloaded is missing its
title, and exif coordinates. (It was taken with a pre-GPS camera and was
manually geocoded.)

However, according to http://www.panoramio.com/maps-faq

and indeed the same photo in the user's private
https://get.google.com/albumarchive/...
has both still intact!

$ cd ~/Downloads/ && exif 43605707.jpg 台中東勢燥坑向上坡看.

[2016-11-11 10:56] jidanni commented on #2357
Hmmm. each album, e.g,.
https://get.google.com/albumarchive/107326194379039522045/album/AF1QipM0TH8llK2C_rDfUcNrk6-atZkWHdDnd55wXqGr
has a Download Album options...

[2016-11-11 11:09] nickplesha commented on #2352
Thanks for reporting this, submitting blurs on the last image of the sequence should exit out of blur mode after successfully saving blurs. I didn't take into account sequences of just one image when implementing this, though. 😄  This has now been fixed for sequences of all sizes.

[2016-11-11 11:09] #2352 closed

[2016-11-11 11:11] nickplesha commented on #2347
@pkoby Thanks for noticing this, this has been fixed.

[2016-11-11 11:11] #2347 closed

[2016-11-11 11:12] nickplesha commented on #2344
@eugensim Thanks for noticing this, it has been fixed.

[2016-11-11 11:12] #2344 closed

[2016-11-11 11:14] nickplesha commented on #2287
@richlv Thanks for reporting this, it has been fixed.

[2016-11-11 11:14] #2287 closed

[2016-11-11 11:14] nickplesha commented on #2280
@descilla Thanks for reporting this, it has been fixed.

[2016-11-11 11:14] #2280 closed

[2016-11-11 11:42] amenk commented on #2352
Nope ... can't submit a blur on https://www.mapillary.com/app/index/addismap?lat=49.981316944444416&lng=8.074502777777752&z=17&focus=photo&pKey=vpuGW_ceZwopur9b36LOUQ&menu=false   - I click submit, but nothing happens, the image is not locked / nor there is a notification that my blur request was submitted.

[2016-11-11 14:52] richlv commented on #2287
cool, thanks :)

[2016-11-11 14:55] richlv opened #2358 "inform user about major changes in the mobile apps"
the ios mobile app was recently upgraded to have auto/manual modes. this is real great, but maybe it is worth showing a popup when the user launches a new version for the very first time - explaining about the major changes in functionality.
for example, it looks like the auto mode now does not allow setting exposure point while it is running, but allows taking a manual photo instead. this is not

[2016-11-11 15:01] millenbop commented on #2358
I agree completely. We need to introduce some kind of "what's new" system in the app(s).

(I think you figured it out, but to set the exposure point you can only do it before starting the capture)

[2016-11-11 15:03] richlv opened #2359 "auto mode tapping changes"
ios app was recently updated to have auto/manual modes. it is great, but there are a few usecases that have become somewhat worse :
* while the auto mode is on, one cannot change the exposure point anymore. this was something i used quite a lot when driving - if there's very bright sky ahead, set the exposure point lower. if approaching a forest, set the exposure point back to the centre. actually

[2016-11-11 15:07] richlv commented on #2358
yeah, after a few images with wrong exposure ;)
i know that other apps do show a popup (actually it just is a full-screen info page) about new stuff - i think maps.me does that as an example (where they have a shiny page and you can slide between news items). it would be enough just borrowing that approach :)

[2016-11-11 15:10] millenbop commented on #2359
I see your point. I have to think about this for a moment to not confuse new users.

There is room top right for a button but sort of confusing to have two capture buttons I think.

Another way is to have a button for setting the exposure point, i.e. tap "Set exposure" and then tap on the picture. That would require two taps.

And a third option is to use long-press, but that makes it an even more

[2016-11-11 15:13] millenbop commented on #2358
Yup, something like that would work.

[2016-11-11 15:40] gyllen commented on #1366
@govvin Thanks for reminding us

@ptpt Have you done any work on this?

[2016-11-11 15:42] gyllen commented on #2356
@jidanni Thanks for reporting

[2016-11-11 15:47] gyllen commented on #2357
@eneerhut Will know all about this

[2016-11-11 15:48] gyllen commented on #2352
@amenk It might be that the latest version of the web has not yet been deployed. Can you check now.

[2016-11-11 15:54] amenk commented on #2352
I don't think so - It already looked like Web 2.0 *SCNR
nope, still not working, even after reload

[2016-11-11 15:55] amenk commented on #2352
post formdata:

     method:call
     callPath:["blurRequest"]
     arguments:["vpuGW_ceZwopur9b36LOUQ",[{"rect":[0.9266497967993084,0.1305401489962177,0.11362351923230385,0.3064053765001257],"type":"user"}]]
     pathSuffixes:[]
     paths:[]

response:

    {"jsonGraph":{},"paths":[]}

[2016-11-11 16:22] gyllen commented on #2352
@amenk What browser are you using, I just tried blurring a license plate on that image and it went through (vpuGW_ceZwopur9b36LOUQ)

[2016-11-11 17:00] amenk commented on #2352
Both, chrome and firefox are not working. Maybe it is because the image is from my account? But it looks like you are also using my account as I see blur requests which are not from me?

[2016-11-11 17:07] eneerhut commented on #2357
@jidanni The wording refers to general Panoramio features and access which have now been shut down. The API as you mentioned is no longer accessible as of the 4th of November.

I'll reword the text accordingly.
Thanks for looking into WWW::Mechanize as an option. Can we experiment with your account using the links provided and see if we can come up with a workable solution?

[2016-11-11 17:08] ptpt commented on #1366
Yes next week we will design some new styles for the raster tiles, and then bring back them to live. Stay tuned!

[2016-11-11 17:23] amenk commented on #2352
I can also reproduce on browserstack, `os=Windows&os_version=10&browser=Chrome&browser_version=54.0`

[2016-11-11 18:30] gyllen commented on #2352
@amenk Actually I did use my account, there is a bug in the notification system right now so it looks like it was you (soon to be fixed).

Is it just the last image in a sequence that you can not blur?

[2016-11-11 18:32] amenk commented on #2352
Yes. This image is a single image of a 1 image sequence

[2016-11-11 18:37] gyllen commented on #2352
@amenk Trying to debug, what happens if you try to blur in this image -> https://www.mapillary.com/app/?menu=false&lat=34.10391618669101&lng=-118.3448177576065&z=17&pKey=YE2o3kOX9tnn9E19NSxCWg&focus=photo

[2016-11-11 18:39] HolgerJeromin opened #2360 "Keep last automatic mode (time vs distance) after switching from manual"
### Basic information
* Platform:  `Android`
* Version: `3xx` some recent betas :-)
* System/Browser: `Fairphone 2`

### Steps to reproduce behavior

 1. Capture some images with auto mode, set to distance based
 2. Changing to manual mode for sequences by foot
 3. Change again to auto mode

### Expected behavior
I should have auto mode with the last used method: distance based

### Actual behavio

[2016-11-11 21:44] Fossdal commented on #2131
Think this is solved now
if i search for "Tórshavn" i get "Tórshavn, Faroe Islands"

[2016-11-11 23:44] richlv commented on #2359
long press might not work - it would be constantly triggered while holding the phone when walking.

'set exposure' might be a bit of a problem, too - when driving, i tend to change exposure a few times, if the first attempt does not result in a good outcome (like the sky being so bright i have to set the exposure point lower and lower to get a better lighting).

right now i'd prefer a separate but

[2016-11-12 00:29] hughdavenport opened #2361 "uploading automatically on cell data when upload on cell turned off"
Android 3.04

The upload in background option was turned on which clearly says wifi only. The cell option was turned off. Never actually automatically uploaded on wifi, but always on cell.

I'm actually really disappointed in the amount of bugs coming out of this app, the lack of response on issues raised, the fixes just causing other issues. For a company that pretends to be all about openness I'

[2016-11-12 08:36] #2131 closed

[2016-11-12 12:48] richlv commented on #2120
time travel is sort of back. it does not work for me, but that should be tracked in separate issues - i guess this one can be closed :)

[2016-11-12 12:52] richlv opened #2362 "time travel does not work"
firefox 49.0.2.
time travel was recently reintroduced, but it does not seem to work.
there's one image, one can select image to compare to - but nothing happens.
![mapillary-time-travel-not-working](https://cloud.githubusercontent.com/assets/112888/20237895/9c646f30-a8e7-11e6-8ee3-14568ed1d73f.png)

[2016-11-12 12:57] richlv commented on #1440
still happening. see https://www.mapillary.com/map/im/8IXJHddM2kMP6fcYvCeulw and a few images after it for one example.

[2016-11-12 13:13] pbb72 commented on #2120
Yeah, time travel is back. Wish it was better integrated into the main photo view though.

[2016-11-12 13:13] #2120 closed

[2016-11-12 16:16] amenk commented on #2352
I don't have any bluring option on this picture at all ...

Different problem from the one at my picture.

[2016-11-12 19:57] mxa opened #2363 "Website is messed up in midori browser"
Usually if some website doesn't work in Chrome or Firefox, it will in Midori. But for me mapillary.com is even more messed up in midori right now.

### Basic information
* Platform: `Web`
* System/Browser: `Linux Mint 18 Cinnamon 64bit, Midori Browser`

![mapillary](https://cloud.githubusercontent.com/assets/1220707/20240519/8e555bb0-a91a-11e6-8268-95e9d76ddc3e.png)

[2016-11-13 01:55] GITNE opened #2364 "Web uploader does not check for identical time stamps"
### Basic information
* Platform: `Web`
* System/Browser: *`Any`*

### Steps to reproduce behavior

1. Go to [sequence `xJsF5RgrG6B0pseKLBKRdQ`](https://www.mapillary.com/app/?focus=map&pKey=Yl6LP_pplucMbsQyw_ItGw)
2. See the mess

Presumably, this is because the time stamp seems to be identical for all photos in the sequence. This sequence seems like it has been uploaded manually via web upload.

[2016-11-13 02:09] gyllen commented on #2120
@pbb72 We are open for suggestions :)

[2016-11-13 02:11] gyllen commented on #2352
<img width="318" alt="screenshot 2016-11-12 18 10 19" src="https://cloud.githubusercontent.com/assets/268859/20243211/538c89b6-a903-11e6-9caf-5fc7796fb747.png">

Are the button that highlighted in green here missing for you?

[2016-11-13 02:12] gyllen commented on #2363
@mxa Is it messed up for you in chrome too?

[2016-11-13 02:14] gyllen commented on #2364
Yes definitly seems like a timestamp problem, would you mind commeting on one of that users images and ask they can delete and reupload?

[2016-11-13 02:30] GITNE commented on #2364
Okay, I am going to do it.

I just wanted this on the issue tracker because this may be a general recurring problem which may need some front- or backend coding if time stamps are identical. Hmm, the web uploader should probably check on that before one can hit the upload button.

[2016-11-13 05:57] amenk commented on #2352
Jep

[2016-11-13 06:25] richlv commented on #2120
for the record, time travel does not seem to work for me at all - created #2362 for that :)

[2016-11-13 06:58] jidanni commented on #2357
Yes you are welcome to experiment. But I suspect the only "intact" photos will probably have to be scraped from the user's https://www.google.com/maps/contrib/ photos tab, which by the way shows many photos which might in fact be 'unlisted'!
https://groups.google.com/forum/#!topic/panoramio-questions-support/hsaV4_p8bSo

[2016-11-13 10:27] mxa commented on #2363
Had some issues yesterday in the edit mode in Chrome, checked today and it seems to work now. It's not messed up as it is in midori.

[2016-11-13 10:52] richlv opened #2365 "upside-down sequences"
a few sequences with images upside-down. it might be worth checking all images before rotating them.

* https://www.mapillary.com/map/im/gR-LaFurQ--CbWJJQysjZQ
* https://www.mapillary.com/map/im/zDKOEtwKZf_mgGuaWRoPgQ

[2016-11-13 11:10] mxa commented on #2028
This is still an issue.

[2016-11-13 23:50] richlv commented on #2365
another one, but only a few first images are upside-down :
* https://www.mapillary.com/map/im/m2AwbYI3dMsrs-f6WL-ksw

[2016-11-14 01:14] polarbearing opened #2366 "web uploader has weird 'failed' errors. Confusing and chaotic."
I thought the android app was prone to mysterious upload failures, but it happens with the web uploader as well.

When uploading a single 147 frames sequence, I got a message box that 126 were uploaded, and 19 failed, with a red button to "retry". When I press this button, one more file uploads with a progress bar "uploading 1/19", and the fail-box comes again.

Later, and without the progress bar

[2016-11-14 07:20] oscarlorentzon commented on #2362
Time travel works on most occations but when the original GPS positions are too far from each other the slider is not currently shown.

[2016-11-14 07:49] richlv commented on #2362
hmm, but these two seem to be extremely close :
https://www.mapillary.com/app/time-travel/?focus=photo&pKey=4gFK36TdzUZVCyoEO5F2lw&cKey=mhJtvKV0LXS7795ELnxdsQ

or is it not the original position that's shown on the map ?

try all the other images in that link - nothing happens for any of them...

[2016-11-14 08:05] oscarlorentzon commented on #2362
@richlv The original GPS positions for the compared photos in that link are not sufficiently close according to logic in `MapillaryJS 2.0`. That is descibed in the issue I linked to above.

See the original GPS positions on the map:

https://www.mapillary.com/app/?lat=56.97496099999998&lng=24.12830900000003&z=17&pKey=4gFK36TdzUZVCyoEO5F2lw&focus=map

https://www.mapillary.com/app/user/quicksand?la

[2016-11-14 08:09] oscarlorentzon commented on #2362
As a reference, it generally works like this:

https://www.mapillary.com/app/time-travel?lat=55.60583668000001&lng=13.006879879999985&z=17&pKey=rdg8JjR1q3as_P_uCDxmcA&cKey=jRJkrEoMzhDCWV4R72dxPQ&focus=photo

[2016-11-14 09:50] polarbearing commented on #2366
Meanwhile, the feed has changed, telling me that I uploaded 159 pictures and not the real 147, also the emails for uploading and "on the map" talk about 159.

Thus we definitely have duplicates.

Despite the message that the sequence is on the map, it does not show the trace. I can only click on individual handles in the feed. [Example](https://www.mapillary.com/app/user/polarmap?lat=20&lng=0&z=1.

[2016-11-14 10:38] NicolasDumoulin opened #2367 "A sequence has been weirdly splitted and can't be edited"
Hi,

A sequence was looking good at uploading step, but after it some parts have been splitted.
See for example this picture https://www.mapillary.com/app/?lat=45.745655&lng=3.0850000000000364&z=17&pKey=Cj03we9pZhM567Gn2PPGrg&focus=map
The next one in the sequence is wrongly linked to another part in the sequence, so the sequence is messed up.
Again, the sequence was looking fine at upload step, a

[2016-11-14 13:01] gyllen commented on #2352
@amenk Stupid question are you logged in?

[2016-11-14 13:02] gyllen commented on #2120
@richlv Does these photos work for you -> https://www.mapillary.com/app/time-travel/gyllen?lat=55.882077&lng=12.999643&z=17&pKey=QgsJo-chSDFSWRAezdpmOA&cKey=I9AOd1BsI84kfy0c79NzSQ&focus=photo

[2016-11-14 13:03] gyllen commented on #2363
@mxa Ok thanks for reporting, not action on this for now but keeping open.

[2016-11-14 13:03] gyllen commented on #2028
@mxa Yes we know, working hard on new notification system, this will fix this issue for you.

[2016-11-14 13:06] amenk commented on #2352
yes ... we can do teamviewer if you want?

[2016-11-14 13:12] gyllen commented on #2366
@polarbearing It looks like it showing up now and that the navigation works. Can you send a key to the images showing up in JOSM but not on the web.

For the webuploader bug Im filing that as the issue.

[2016-11-14 13:14] gyllen commented on #2367
@NicolasDumoulin *investigating* What platform did you upload the images from?

[2016-11-14 13:15] gyllen commented on #2352
@amenk I will not have time todo that today, but next week will work. In the meantime can you see the blurring button on ANY image?

[2016-11-14 13:19] richlv commented on #2120
@gyllen, yes - looks like it is related to the original gps coords. if they are a bit off, it fails to show the slider even if the images were auto-connected by the time travel. see #2362 :)

[2016-11-14 13:24] gyllen commented on #2120
@richlv Aha, ok looks like @oscarlorentzon is investigating then

[2016-11-14 13:58] amenk commented on #2352
Yes; I do see the blur button on most images. Only not on the one you posted.
On *my* image, I do see the blur button, can use the blur function but when I submit, nothing seems to happen.

[2016-11-14 14:01] rsahlin opened #2368 "Sluggish interface when handling many sequences with thousand of pictures"
See the attached log, system stalls for several hundred frames.

--------- beginning of crash
10-21 05:19:52.525 E/AndroidRuntime(28573): FATAL EXCEPTION: main
10-21 05:19:52.525 E/AndroidRuntime(28573): Process: app.mapillary, PID: 28573
10-21 05:19:52.525 E/AndroidRuntime(28573): DeadSystemException: The system died; earlier logs will point to the root cause
--------- beginning of main
10-23 12:

[2016-11-14 14:02] NicolasDumoulin commented on #2367
Chromium 53.0.2785.143 running on Ubuntu 16.04 (64-bit)
Thanks

[2016-11-14 18:06] ToeBee commented on #2291
I think the camera sets the Date/Time Original. I don't think the script changes any time stamps.

However I have confirmed that this bug still exists in the web uploader. I uploaded a sequence last night while adjusting the location of a single image. That image was reordered to the end of the sequence.

Image [mA2S0QugR36JBA_iS](https://www.mapillary.com/app/?pKey=mA2S0QugR36JBA_iS) is at the en

[2016-11-14 18:48] PavolG2 opened #2369 "EXIF position not read in manual uploader"
### Basic information
* Platform: `Web`
* System/Browser: `Win 7 PRO, Firefox 49.0.2`

### Steps to reproduce behavior

 1. Upload attached picture via the manual uploader

### Expected behavior

Photo uploaded and placed on the correct place :-)

### Actual behavior

N/A lat,lon, so the picture is placed on coordinates 0,0

One of the affected files. Correctly displaying position in all my apps:

[2016-11-14 19:28] GITNE commented on #2369
Thank you for providing the original photo.
After a first quick analysis, the GPS location fields have an invalid seconds component of `0/0` which gives a division by zero error. In this case, the GPS Info IFD is invalid. Hence, some software may be designed to discard the entire field and replace it with a valid one of `0°` (`0/1` `0/1` `0/1`), which seems like a reasonable tolerance strategy. Do

[2016-11-14 19:49] GITNE commented on #2291
Unfortunately, I cannot access these photos on Mapillary just yet. And, it is hard to tell anything without looking at the original data. Can you upload the affected photos in *your* original source form, the form processed by the `geotag_from_gpx` script, and the Mapillary *original* form (you know, the one which only photo owners can download) to Github (or any other file sharing service)? That

[2016-11-14 20:07] GITNE commented on #2369
Besides, I have also noticed that some of the EXIF time stamp fields show unusual discrepancies:

`Date and Time |2011:10:24 20:42:33`
`Date and Time (Original) |2011:09:25 14:36:54`
`Date and Time (Digitized)|2011:09:25 14:36:54`

Wow, this is almost like a month apart!

[2016-11-14 20:10] PavolG2 commented on #2369
GPS info is added by the Zoner Photo Studio (ZPS) or Geosetter. Especially the second one is probably the most used tool for editing GPS information for Windows platform. So hopefully is writing correct data ;-)
Corrdinates are properly shown in both of them. Also in ACDSee, Adobe Bridge, Google Earth, Panoramio, JOSM editor.

Dump of exif from the correct file
<exif:GPSLongitude>21,14.207220E</ex

[2016-11-14 20:28] GITNE commented on #2369
Well, just compare these:
[code]
You can already observe a slight discrepancy which hints at something is going wrong. Besides, technically you cannot judge by these *computed* values. The GPS Info IFD fields are what matters. And, they are clearly **invalid**. So, some tool in your chain of tools is producing invalid GPS Info IFDs. :worried: Sorry.

Okay, then this should explain it.

[2016-11-14 20:35] ToeBee commented on #2291
Whoops. I seem to have made a mistake while copying the image URL of the first one so it shows up as a "not found" error.

Fixed links: [mA2S0QugR36JBA_iSlfmig](https://www.mapillary.com/app/?pKey=mA2S0QugR36JBA_iSlfmig) should be after [_WXshfTNysLpeKeBSOo3UQ](https://www.mapillary.com/app/?pKey=_WXshfTNysLpeKeBSOo3UQ)

I looked at the EXIF tags and I see what is going on. The web uploader is mod

[2016-11-14 21:02] GITNE commented on #2291
Seems like you have found the culprit. Awesome! :+1: Can you validate this by deleting the sequence, setting the time zone of your browser's instance to UTC, and then modifying the location of these two affected photos in the web uploader before uploading again? This should produce a correctly ordered sequence after adjustment.

Since, the web uploader seems to be currently buggy, you may want to

[2016-11-14 21:14] PavolG2 commented on #2369
Sorry, still cannot see the formatting difference between the correct and non-correct value...
Can you recommend me, which tool can show me the fraction "raw" values with the wrong 0 value instead of 1? Will try to find the software making the mess.

PS: if all relevant and widely distributed software solutions (e.g Adobe) can handle those files, maybe it's not the worst idea to handle them in map

[2016-11-14 21:47] GITNE commented on #2369
[`exif`](http://libexif.sourceforge.net)
It is a companion tool of the [`libexif`](http://libexif.sourceforge.net) package, so it is not a standalone tool but a mere tool for testing for developers. Hence, I am not sure if a safe Windows binary may be available somewhere. However, a comparable tool, which is not based on `libexif` may exist for Windows but I am not aware of. Besides that, you can

[2016-11-15 11:09] nickplesha commented on #2354
@talllguy This should be fixed now, for all search inputs.

[2016-11-15 11:09] #2354 closed

[2016-11-15 11:42] GITNE commented on #2131
A similar problem exists for the Principality of Monaco. Although the search seems to be correct and the map seems to jump fairly closely on the territory of Monaco, all edits are labeled as being in France. The Republic of France and the Principality of Monaco are two distinct nation states, even though they share a common language and history. @mapillary Can anyone at Mapillary forward this issu

[2016-11-15 11:58] GITNE commented on #2131
While at it, Mapzen could also take a look at Réunion. The search produces “Réunion, Réunion” which is only sort of correct. Actually, it should be “Réunion, France” because although Réunion is an oversees department, it still is effectively a department of the Republic of France, hence soil and territory of France. Réunion is not a sovereign nation state (in contrast to the Faeroe Islands).

[2016-11-15 13:02] gyllen commented on #2352
@amenk What your Mapillary username?

[2016-11-15 13:05] gyllen commented on #2367
@peterneubauer Would you mind checking the originals of these images, looks like there might be a timestamp issue

[2016-11-15 13:06] gyllen commented on #2291
@GITNE I agree on this

[2016-11-15 13:22] amenk commented on #2352
addismap

[2016-11-15 13:24] gyllen commented on #2352
Looks to me that you managed to submit 13 blurs at least. Can you try todo a blur and see if you get something in your feed after that?

[2016-11-15 13:33] amenk commented on #2352
Sure, I did bluring on other image. The main problem is that image:

https://www.mapillary.com/app/index/addismap?lat=49.981316944444416&lng=8.074502777777752&z=17&focus=photo&pKey=vpuGW_ceZwopur9b36LOUQ&menu=false

1. Blur my face
2. Click submit
3. nothing in the feed
4. I still can choose edit blurs (expected: "There are pending blur requests")

[2016-11-15 13:47] gyllen commented on #2352
Yes and I can also see that you have not added a new blur, can you copy your exect curl request from chrome and sen it to me on gyllen@mapillary.com ?

[2016-11-15 20:35] GITNE commented on #2349
Looks like this may be connected to #2291, that is if @pkoby has been adjusting the location of photos in the web uploader.

[2016-11-15 20:41] pcopley commented on #2361
Is it somewhat telling that neither @gyllen nor @rsahlin felt the need to reply to the valid criticisms raised here?

[2016-11-15 20:55] pkoby commented on #2349
I'm not often adjusting the locations of photos. I'm using the upload script with manually georeferenced photos. I'm going to try using a different tool to add the GPSTimeStamp (which was blank before) and see if it helps. I haven't done any collection lately, but should test it tomorrow.

[2016-11-16 08:15] HolgerJeromin commented on #2331
For your information: Firefox 50 is released. :-)

[2016-11-16 10:43] freenerd opened #2370 "Data duplicated to wrong location"
### Steps to reproduce behavior

1. Visit https://www.mapillary.com/app/?lat=39.22773444082807&lng=-84.21834504190475&z=13.430062331468513
2. Check the pictures from the diagonal line

### Expected behavior

1. No data shown for that geographic area

### Actual behavior

1. Pictures from LA instead. They are correctly geolocated there, but somehow seem to appear double here

### Additional informa

[2016-11-17 09:16] gyllen commented on #2370
@ptpt YOu have any idea why this line has not been removed from the tiles

@freenerd I think somebody created a sequence that has an image in LA and somewhere else

[2016-11-17 09:44] peterneubauer commented on #2361
Hi there,
this is indeed a valid bug that we are fixing as we speak (will be out in the next release). As for OSS the Android app, we are tracking that under https://github.com/mapillary/mapillary_issues/issues/1124 and will eventually get there.

[2016-11-17 09:50] rsahlin commented on #2361
Hi @hughdavenport

Sorry that you experience problems with the app and feel that we are unresponsive in our replies.
We will have to improve in this area!

I am workin on fixing the upload behavior, this includes a rewrite of the upload logic to a service, adding a number of user interaction elements and resume functionallity.
This is expected to go out to beta developers next week.

Hope that you

[2016-11-17 19:04] hughdavenport commented on #2361
Ah great, the one thats been open for over a year and no comments for the last four months and no reasonable replies when anyone asks on the status... I won't hold my breath, already uninstalled as it has cost me quite a bit in data fees because of this bug, and i don't expect you to fix it properly.

I'm very confused why you have open sourced the windows app but not the android one, as I mention