[2017-08-29 17:20] rausk commented on #1892
For a while I did not have this nasty issue, but since some time more and more pictures are again upside down. My impression is, that the reason has something to do with shocks on the capturing device.

The process to flip the pictures before upload is very time consuming! Since we have this error for so long a time, I urgently ask Mapillary to fix it now or provide a button for manual flipping th

[2017-08-30 04:09] Ziltoidium opened #2687 "No upload of pictures on Samsung A5 / Android 6.0.1"
### Basic information
* Platform: Android
* Version: 6.0.1
* System/Browser: `...`

### Steps to reproduce behavior

 1. Upload taken photos with the Mapillary Android app
 2.
 3.

### Expected behavior
should upload pics
...

### Actual behavior
Shows up "upload in progress..."  but nothing happens.
Sometimes shows "Upload failed Error 0"  or "Java exception"
[mapillary_trace.txt](https://github.

[2017-08-30 04:40] jfburke3 commented on #2680
The 3.91 apk that @ovivoda sent me seems to fix the problem.  It appeared to work well on both Android 6.0.1 PJ4, as well as Android 7.0 QA6.

[2017-08-30 04:42] jfburke3 commented on #2687
@Ziltoidium can you add the Baseband Version of your Android build on your phone?  There is a chance that it might be important.  You can get it on the About Device screen.

[2017-08-30 06:47] Ziltoidium commented on #2687
Baseband A520FXXU2AQF5
Kernel 3.18.14-10911830
Build MMB29K.A520FXXU2AQF5

[2017-08-30 07:30] HolgerJeromin opened #2688 "Allow disabling most notification in android app"
### Basic information
* Platform: `Android`

### Steps to reproduce behavior
 1. Install and setup mapillary on the phone of the partner to have a backup device in case of "emergency" :)
 2. wait a few days to the next "mapillary weekly digest"
 3. The notification is pushed to the partner phone, too

### Expected behavior
On this phone i want only upload <strike>notifications</strike> progress.

[2017-08-30 08:32] gthrepwood commented on #1892
I would personally prefer to have an option to manually specify the
orientation.

On Tue, Aug 29, 2017, 19:20 rausk <notifications@github.com> wrote:

[2017-08-30 21:08] mr-j0nes commented on #1625
For those who suffer screen burns on Android I've just came across [blackr](https://play.google.com/store/apps/details?id=com.neximolabs.blackr&hl=en) that can be used as workaround. It does not turn the screen off but it blacks it out (For a complete black out hide the navigation..)

[2017-08-31 04:38] gappleto97 commented on #2621
I managed to get ~40 hours of driving recorded using the new version. None of these ended up being strays. I'm pretty sure this issue can now be closed.

[2017-08-31 05:17] chk1 commented on #2670
I recorded two sequences with app version 3.89 yesterday, it looks like the issue is still there for me. The first sequence of 125 images was fine, but the 2nd has images sorted wrong again, starting somewhere in the middle of 250 images I get time jumps again.

I've not uploaded this track yet, images are sorted wrong on my phone like with the sequences before.

[2017-08-31 08:11] ovivoda commented on #2621
@gappleto97 Thanks for letting us know!

[2017-08-31 08:12] ovivoda commented on #2621
@jaakkoh Have you managed to upload the sequences? We have new versions out. You can try our latest version in beta channel.

[2017-08-31 09:04] jaakkoh commented on #2621
@ovivoda I'll give it a try. I gather that the new version should also be able to handle the photos taken with the versions that had the stray photos problem?

[2017-08-31 14:12] nickplesha commented on #2628
This has been fixed by updating to MJS 2.7.0

[2017-08-31 14:12] #2628 closed

[2017-08-31 14:57] rugk opened #2689 "Why does Android app have contact permission? 😡"
Why on hell does the Android app need permissions to access my contacts? 😡

**Does or did the Android app upload any contact information? If so, which?** If not, why do you need the permission???

Please remove that permission or, at least, upgrade to a recent SDK version, so the permission is onyl requested *when needed* and not when the app is installed.

Android 7

[2017-08-31 15:03] rugk commented on #1124
I just noticed a horrible trust problem in their applications. Why on hell does the Android app need the contact permission? https://github.com/mapillary/mapillary_issues/issues/2689

In a closed-source application they cannot prove that they don't upload the address book and sell all the data. Is that how Mapillary makes money? Exploiting their contributors?

We **need** the source code of your a

[2017-08-31 15:26] peterneubauer commented on #2689
When did you get that?

according to the manifest we are not needing or requiring contact info:

[code]

[2017-08-31 15:42] ovivoda commented on #2687
@Ziltoidium do you still have the images that caused the problem? Can you please send those to us to investigate more. It seems that those files could not be uploaded for some reason.

[2017-08-31 16:07] rugk opened #2690 "Android: Make switch of mode easier"
Switching between the recording modes (front, right left, back; compass) should be faster, as you may want to change the recording direction quite often when *not* recording while driving with a car. So by foot, e.g.

E.g. I think showing the camera image in that screen there takes some time. And it is useless. I just don't need a "camera preview" there, I just need to change the option.

[2017-08-31 16:21] rugk commented on #2689
Okay, so looking at LineageOS's privacy guard I can see Mapillary never made use of the contacts permission and it was blocked there, but in the app permission list for this app on Android 7, it is shown:

![mapillary](https://user-images.githubusercontent.com/11966684/29933678-c879244a-8e78-11e7-9bc1-f50779243430.png)

However, according to the information from Google Play, Mapillary indeed does

[2017-08-31 16:38] gyllen commented on #1892
Another way would to have a verificaiton step of rotation and then lock it.

[2017-08-31 17:05] gyllen commented on #2650
Since we are parsing the EXIF that would probably work. So as you probably know by now the upload interface is not really perfect. We had a project long time coming on solving that with a Desktop uploader and it finally looks like thats around the corner. I would wait with this feature until the specs are done for the uploader. I will add this as a feature though. Fair enough?

[2017-08-31 20:58] HolgerJeromin commented on #1124
@rugk
Nobody is (hopefully) forced to use an app and a service of a company you do not trust.
You are not in the position to demand stuff in this rude tone.
The financing of mapillary is no secret (and is not selling metadata).

And please stop spamming this issue tracker with duplice content.

[2017-08-31 21:11] ax3l commented on #2689
@rugk this is just a weird way of showing the request for "android.permission.MANAGE_ACCOUNTS" - see the extended request details on the upper right of your first screenshot (under "...").

[2017-08-31 21:22] rugk commented on #2689
Ah, that's the cause…

[2017-08-31 21:22] #2689 closed

[2017-08-31 21:25] rugk commented on #1124
Yeah, as it looked the contact permission was a stupid display, so it is okay… Anyway, that does not change the fact, that I can **expect** (not demand, of course) such an app to be FLOSS.

And it is more than justified to change the tone when a company refuses to do so for more than **two years**!

[2017-09-01 00:44] Alessandro-Barbieri commented on #2679
Same, this sequence `ev8rvb6iemkb50gvc6mqrr` is 3 years old and still not split https://www.mapillary.com/map/im/XpjxuH_57DwDwW6rQnUbig

[2017-09-01 04:49] Ziltoidium commented on #2687
sure, i will upload later this evening!

[2017-09-01 08:54] ovivoda commented on #2636
stev391 Please try the latest beta version and let me know if that works better:

http://android-releases.mapillary.io/Mapillary_Android_v3.93-BETA.apk

[2017-09-01 16:28] heatshear commented on #2679
It looks like someone at Mapillary took care of the sequence I identified, but I could flag a ton of others that have the same issue. It would be great if there was a way to flag sequences that need some attention for sequence_cut, because it seems to miss some and never come back for them.

[2017-09-01 19:00] pbb72 commented on #2650
Sounds fine :)

[2017-09-01 19:00] #2650 closed

[2017-09-01 19:32] HolgerJeromin commented on #2684
Best to use this link
http://www.openstreetmap.org/fixthemap?lat=42.38016975725935&lon=45.63295841217042&zoom=18
It targets mappers and non mappers

[2017-09-02 07:31] agilob opened #2691 "Android: unable to login using openstreetmap login"
### Basic information
* Platform: `Android`
* Version: 6.0

### Steps to reproduce behavior

 1. Login using openstreetmap login form
 2. Log in and grant permission
 3. Login succeeded
 4. Toast login failed shows
 5. Stuck on waiting for login

![screenshot_20170902-082539](https://user-images.githubusercontent.com/2544251/29993792-1b41dc3a-8fb9-11e7-9fb2-2b791dd83d5d.png)
![screenshot_20170902-

[2017-09-02 07:48] Ziltoidium commented on #2687
Here are the pictures
https://drive.google.com/drive/folders/0B7Zcm58Uot6baVk0VmtrZFE2a28?usp=sharing

i just saw file size is about 31MB !  Why??
When i usually take pics with the smartphone, these are <10MB.
Maybe a problem with filesize or compression??

[2017-09-02 08:59] peterneubauer commented on #2670
@chk1 could I maybe get access to that sequence? Would love to examine it.

[2017-09-02 09:03] peterneubauer commented on #2660
@GITNE actually, the ImgDirection is inserted by the Mapillary app since the vendors are not to be relied on with that info. This was a bug and is fixed, in recent versions it is just one rational.

[2017-09-02 12:12] stev391 commented on #2636
I'm pleased to advise that changing zoom levels results in the centre of the map staying consistent.  However this has resulted in loosing the dot that shows were you are on the map (except location of launching the app, it just stays there on the same spot on the map, doesn't move with the scrolling of the map).  Also the map is centred on the phone screen not the map portion of the screen.

Firs

[2017-09-02 13:14] chk1 commented on #2670
@peterneubauer
I guess the bug is only present in the app gallery now, the processed sequence looks good!

Here's a [link to one of the images in the sequence](https://www.mapillary.com/app/user/chrki?lat=51.92645449999998&lng=7.629118299998595&z=17&feedItem=user-VYZPUOEvg2jR31jkMFSjzg-activity-user-VYZPUOEvg2jR31jkMFSjzg-publishing_done-image&pKey=2rhb06_N2lwVq3027V7LRQ&username%5B%5D=chrki&focus

[2017-09-02 19:31] Alessandro-Barbieri commented on #2691
Confirm

[2017-09-03 12:29] GITNE commented on #2660
Hihi, well then Fujitsu is in the clear. :wink: I am happy it's fixed. :smile:

[2017-09-03 16:25] jfburke3 opened #2692 "Big increase in location accuracy messages"
The latest Mapillary beta has significant location accuracy issues on the latest Android release for my model phone.  Don't know if the issue is caused by Mapillary or changes in Android. If I launch one of my various GPS status apps, it immediately shows that I have a great GPS lock, usually with 5m accuracy or even 3m.

### Basic information
* Platform: Android 7.0, AT&T baseband version QF3
* V

[2017-09-03 17:06] heatshear commented on #2692
I don't know if this is related, but I used a VIRB Elite camera yesterday to capture images. Usually, it works perfectly, but (using my computer to process them), many of them were placed fairly far from the road (say, 50 - 100m). So, I tried dragging them into place before uploading. Only images that I didn't manually move uploaded successfully. A line connected segments of successful images, ski

[2017-09-04 04:21] jfburke3 commented on #2692
@heatshear I don't know... I'll have to let the developers chime in on that.

Speaking of the developers... they'll want to know that my phone has updated to patch level QG1 now.

[2017-09-04 08:55] peterneubauer commented on #2660
:)

[2017-09-04 08:56] peterneubauer commented on #2670
Ok, closing this for now then, thanks @chk1 !

[2017-09-04 12:28] ovivoda commented on #2636
@stev391 Thanks for getting back on me on this. I'm checking it out and working on fixing it.

[2017-09-04 15:55] Alessandro-Barbieri opened #2693 "Stop blurring fences/gates"
I see that gates/fences get blurred alot and unnecessarily, I suggest to tune better the algorithm.

[2017-09-04 21:35] yopaseopor opened #2694 "JOSM: object layer fills the recognited object instead of only marking it"
The detection works in its way.
But the problem is that the detector full-fills the mapillary pic with the result of the detection, avoiding the possibility of view the real detected object. If the object would be wrong recognized you would'nt be able to see it because you only watch the result of the recognition instead of the real object. You can see it in this screen capture. I have marked righ

[2017-09-05 00:15] Alessandro-Barbieri commented on #2549
I'm against this, nothing should be done from mapillary

[2017-09-05 00:26] mishari commented on #2549
How about Geofencing where a geojson file URL can be given and images
hidden automatically. The community can maintain the files.

On Sep 5, 2017 07:15, "Alessandro Barbieri" <notifications@github.com>
wrote:

[2017-09-05 00:33] Alessandro-Barbieri opened #2695 "[Android app] landscape issue"
* Platform: `Android`
* Version: `3.89`

### Steps to reproduce behavior

 1. Go to record tab (landscape mode)
 2. rotate phone clockwise

### Expected behavior

Landscape mode rotates based on accelerometer

### Actual behavior

Upside down interface

[2017-09-05 00:52] Alessandro-Barbieri opened #2696 "sequence ID from explore tab in app"
### Basic information
* Platform: `Android`
* Version: `3.89`

Would be nice to have the sequence ID of a photo in the explore tab in the app.

[2017-09-05 00:56] Alessandro-Barbieri commented on #2549
Just don't go there, mapillary is not a substitute for police or proper signaling. Why babysit users on where they are allowed to go?

[2017-09-05 05:32] jidanni commented on #1124
I'll notify our Taiwan group and see if they are still
enthusiastic about the project.
 https://m.facebook.com/groups/1138239502943100

[2017-09-05 07:41] katrinhumal commented on #2671
@mr-j0nes Thanks for reporting! We have heard this before and if I recall correctly, actually provided a fix. Can you please tell us which app version this happens with?

[2017-09-05 07:43] katrinhumal commented on #2669
@yopaseopor Thanks for your question!

@ovivoda do you have some insights?

[2017-09-05 07:48] mr-j0nes commented on #2671
Thank for the answer. The version I have now is 3.89. I just tried and the problem is still there.
Even after checking the "credits" in the menu it gets logged out and asks for a new login. Weird X(

I use the openstreetmap credentials as login ...

[2017-09-05 07:51] katrinhumal commented on #2672
Thanks all for the good discussion and sorry for the late reply! I'll take this to the team for us to discuss the whole login-logic. You definitely have very good examples about how this behaviour might prevent capture.

[2017-09-05 08:02] katrinhumal commented on #2673
Hi @damjang - sorry for the delayed reply! Would you please be able to try the current version 3.93-BETA as well and let us know?

The snapshot versions are not released on Google Play, but we use and sometimes distribute them via download links to our users to test specific issues and fixes. We don't have a public log of all the app version release notes.

[2017-09-05 08:06] katrinhumal commented on #2674
Actually, this is something we're working on. With traffic signs, we already create what we call "map objects" from the image detections. That means that we process the information from several images and figure out that it depicts the same real-life object. So the traffic sign detections (which you can turn on separately in our viewer, or iD, or JOSM) already represent unique objects (with some o

[2017-09-05 08:10] katrinhumal commented on #2675
@GITNE thanks for reporting and sorry for the late reply! We'll check up on this.

Just to check, what you have noticed is that this may result in producing _two identical sequences_, not _one sequence where each image has a duplicate_? (I recently saw this latter case and am trying to figure out if this might be related.)

[2017-09-05 08:11] katrinhumal commented on #2676
Thanks for drawing our attention to this and sorry for the delay! We'll check up on this asap.

[2017-09-05 08:13] voschix commented on #2580
Still there and annoying.
As these interventions come out of the blue (at least for me), it would be helpful for the user to be able to check the action executed by sequenc-cut.

[2017-09-05 08:14] katrinhumal commented on #2677
@richlv Thanks for reporting and sorry for the late reply. We're up to 4.8.6 now - can you try and report back if you notice similar issues with that?

[2017-09-05 08:15] katrinhumal commented on #2678
Thanks for bringing this up! I'll usher the dev team on this.

[2017-09-05 08:20] katrinhumal commented on #2679
@heatshear Thanks for reporting and sorry for the late reply. It happens every now and then that some of these escape cutting, and we could indeed use a better system for discovering these retrospectively.
@gyllen do you have any insights into this?

[2017-09-05 08:24] katrinhumal commented on #2680
@jfburke3 thanks for the detailed reports and sorry that the issue here didn't get any attention. Assigning @ovivoda so that you guys can wrap this up and/or give an update of the troubleshooting you may have via other channels.

[2017-09-05 08:26] katrinhumal commented on #2681
@andrewharvey Thanks - I'll pass this on to our computer vision team! There won't be an instant fix but they can take this into account in the ongoing improvements to the detection system. Closing here.

[2017-09-05 08:26] #2681 closed

[2017-09-05 08:27] millenbop commented on #2677
Thanks for reporting @richlv.

What settings are you using? Are you using distance or time-based capture? Which interval? What phone are you using?

[2017-09-05 08:31] katrinhumal commented on #2682
Hi @blobgo - thanks for bringing this up. Do you have a link to a Mapillary image as well that would be an example of this? I'm afraid our algorithms have not yet been trained to detect these signs. It's possible that it will be added some day.

[2017-09-05 08:34] richlv commented on #2677
distance based, iphone 6.
this has happened also when viewing images/uploading, capture not started at all. the latest freeze happened with 4.8.6.

[2017-09-05 08:36] katrinhumal commented on #2683
@blobgo This is actually expected behaviour. Dragging is supposed to pan the image, while blurs will be added by click-release-move-click. I.e. you will click twice, to first mark the top left corner and then the bottom right one. Instructions for this can be seen both on our help pages (https://help.mapillary.com/hc/en-us/articles/115001663705-Blurring-images) as well as if you click on the littl

[2017-09-05 08:41] millenbop commented on #2677
Thanks! I'll see what I can find.

[2017-09-05 08:42] millenbop commented on #2677
Are you on Testflight btw? Can send you an older build in that case.

[2017-09-05 08:45] katrinhumal commented on #2684
@zzptichka Thanks for your suggestion! I'll take this to the team to discuss if we could implement this (and thanks for providing the related link @HolgerJeromin).

[2017-09-05 08:49] katrinhumal commented on #2686
@AliAdam thanks for your question and sorry for the delayed response! Asking for our dev team for help.

[2017-09-05 08:49] #2685 closed

[2017-09-05 08:51] katrinhumal commented on #2687
@Ziltoidium thanks for the images! @ovivoda will take a closer look.

[2017-09-05 08:58] katrinhumal commented on #2688
@HolgerJeromin I think your best solution here is to rely on keeping up-to-date with your upload notifications on your primary phone, even if you uploaded from your partner's. The notifications are related to your account so the settings will apply to all devices the same way. But you can go to the phone settings -> Notifications and find the Mapillary app on the list, then disable all notificatio

[2017-09-05 09:01] katrinhumal commented on #2690
@rugk Thanks for your feedback! I'm interested to learn more about when you feel like you need to change the compass angle quite often. The standard capturing case would be that you actually keep your phone facing the same direction with respect to your movement (i.e. hold it in front of you, or 90 degrees to the side, while you move forward - but not waving your camera from facing left to right,

[2017-09-05 09:08] katrinhumal commented on #2691
@agilob and @Alessandro-Barbieri just to confirm - have you created a Mapillary account previously?

You can't use your OSM account on Mapillary. You can just use it to log into your Mapillary account. That means that you first need to create a Mapillary account and link it to your OSM account (can be done both during signup or later in your profile settings on the web), and then you can start usi

[2017-09-05 09:12] katrinhumal commented on #2693
@Alessandro-Barbieri Thanks for your note - we are constantly working on making it better. On the one hand, our long-term members report that they have noticed improvements over time. On the other hand, we know there's still lots of room for further developments, so we're doing our best. Meanwhile, you can help out by fixing the false blurs with our blur editor if you wish: https://help.mapillary.

[2017-09-05 09:12] #2693 closed

[2017-09-05 09:18] katrinhumal commented on #2695
@Alessandro-Barbieri Thanks for reporting. For the time being, this is actually intentional. We have a long-term bug of images turning out rotated every once in a while for some people, and in the process of troubleshooting this issue, we've currently "frozen" the app interface. Though inconvenient and definitely not optimal, it should still be possible for you to capture even if you rotate your p

[2017-09-05 09:18] #2695 closed

[2017-09-05 09:23] katrinhumal commented on #2696
@Alessandro-Barbieri Thanks for the suggestion! The trouble with the mobile apps is that on a small phone screen, it easily becomes very crowded when lots of functions are added. That's why we've decided to keep it as basic as possible, and make most of the more advanced features available on the web. The good thing is that if necessary, you can easily open the same sequence in your mobile web bro

[2017-09-05 09:34] katrinhumal commented on #2663
@zagor could you please try 3.93 which we have out in beta now, and see if it helps anything?

[2017-09-05 09:38] katrinhumal commented on #2577
@arvdk and @nighto thanks for reporting! And sorry for the late reply, I was on holiday and failed to hand this issue off for the time...

@arvdk could you try the latest beta, 3.93? And please turn on the "save debug logs to file" just in case, so if it happens again, you could send us these more detailed logs.

[2017-09-05 09:49] katrinhumal commented on #2652
@jotpe and @andrewharvey good point - we mention that manual blur fixes create data for improving the algorithm on our help pages: https://help.mapillary.com/hc/en-us/articles/115001663705-Blurring-images but will keep it in mind that we could do more explaining and updates around this.

Also, the "edits" that are counted in our weekly digest comprise both change edits (i.e. location, compass angl

[2017-09-05 09:50] katrinhumal commented on #2662
@jfburke3 would you be able to send some logs of this, by any chance, so @ovivoda can take a look into it?

[2017-09-05 10:01] zagor commented on #2663
Unfortunately, despite my original intention I was unable to keep the images on the device since I needed the storage.

I found a workaround for uploading: By changing away from the Upload to tab to the Profile tab once upload is started, the app could continue uploading in the background without being interrupted.

I will do a new long capture session soon with the same device and report back my

[2017-09-05 10:01] katrinhumal commented on #2665
@grinapo good points! About those logs you mentioned, would you be able to send us some so that @ovivoda can take a look?

[2017-09-05 10:08] katrinhumal commented on #2621
@jaakkoh That's what we hope!

[2017-09-05 10:35] grinapo commented on #2665
Unfortunately you have to wait till next time, I had some changes on the phone which required a reinstall. A few days since I successfully broke my mapillary-holder, and waiting for the replacement. :-/ Maybe others can enable debug logging and catch a bad one.

[2017-09-05 10:42] arvdk commented on #2577
@katrinhumal I'll give it another try.
One more thing, the issue only occurs at automatic capture mode. I now go manual all the time. But than [this ](https://www.mapillary.com/app/?lat=52.03853216894163&lng=5.554872793966382&z=17&pKey=tE-AGvjA09II5ebJA018fA) happened. I think practically the same issue, except for the fact that GPS data is accurate. (in automatic mode, it won't upload because of

[2017-09-05 10:52] katrinhumal commented on #1625
Just to chime in - we are definitely considering this, the problem is just that the feature is competing with everything else that we need to work on with Android. If there was no resource issue, this would have likely been done long ago. :)

[2017-09-05 11:00] katrinhumal commented on #2663
@zagor thanks! Looking forward to hearing back.

[2017-09-05 11:01] katrinhumal commented on #2665
Competition! Who gets to send logs first ;) I hope the new mount reaches you soon. We send them out at least every week so hopefully the postal services will act fast too.

[2017-09-05 11:51] kepta opened #2697 "Detections api discrepency"
### Brief

Mapillary detection `regulatory--no-left-or-u-turn--g1` id `onl6dawx1eewdar8qqngo2l8al` doesn't appear in iD.

Shows up correctly in Mapillary website [link](https://www.mapillary.com/app/?pKey=k19D_nntbe3AHcc6Ab-MCg&focus=map&lat=38.02175&lng=-122.540479&z=17&x=0.4955235390040999&y=0.510945263994456&zoom=0&signs=true)

Here is the iD [link](https://www.openstreetmap.org/edit?editor=id#

[2017-09-05 12:14] HolgerJeromin commented on #2688
Good point @katrinhumal
When i wrote "upload notification" i meant the "23 of 42 images" progress bar while (not after) upload.
I am not sure if the progress bar is shown when i disallowed the app to show notifications in the device settings.

[2017-09-05 12:22] GITNE commented on #2676
Yeah, `https://a.mapillary.com/v2/ua/login?client_id=<client id>` does it the right way, except for the fact that the password is basically only protected by symmetric TLS encryption, instead of being a challenge response token or the like.

[2017-09-05 12:27] GITNE commented on #2675
It's the first of the two. To be more specific, the sequences are identical in content but not in sequence id.

[2017-09-05 12:47] ptpt commented on #2697
Hi Kushan, image detections and map objects are different. It is possible that an image has 5 detections in total but only 4 of these detections are able to derive objects on the map. In other words, we can detect a `regulatory--no-left-or-u-turn--g1` sign in this image, but can't find the corresponding object on the map (probably because can't infer the position of the map object).

[2017-09-05 13:14] jaakkoh commented on #2621
Ok. It seems like the newest beta is working in regards to upload. And it was able to also get the photos taken with previous problematic version(s?) uploaded so that they show on the map.

[2017-09-05 13:30] agilob commented on #2691
No, I assumed I can use oauth2 token from OSM to login to Mapillary. I'll try again later.

[2017-09-05 13:47] rugk commented on #2690
Yeah that is the default when you drive or so, but when you walk, you may actually change your direction very fast when you see something interesting (a junction, a street sign, …) on the right or left, which was not captured by purely taking images of the front.

[2017-09-05 14:26] Alessandro-Barbieri commented on #2691
I have an osm account linked to my mapillary account

[2017-09-05 14:45] katrinhumal commented on #2688
@HolgerJeromin Aha! I'm fairly sure you'll still see the progress bar even if you turn off app notifications from device settings. Only one way to find out, though! ;)

[2017-09-05 14:47] katrinhumal commented on #2577
@arvdk Thanks! I'm handing this over to @ovivoda now. Please send the logs as well if you haven't already - thank you!

[2017-09-05 17:05] Alessandro-Barbieri commented on #2696
It's enough to add an option to share the sequence ID alongside the image link

[2017-09-05 17:08] Alessandro-Barbieri commented on #2679
@katrinhumal do you re-run the bot on a sequence after an image is deleted/masked?

[2017-09-05 17:12] Alessandro-Barbieri opened #2698 "Photo rotation request"
Where I can request manual rotation of some sequences and photos?

[2017-09-05 17:15] Alessandro-Barbieri opened #2699 "Blur review interface"
I want to review blurs an all my photos but a proper way of doing is missing: what I request is a page named like "my blurs" in wich are listed all my photos with blurs that I haven't reviewed.

[2017-09-05 17:34] Alessandro-Barbieri opened #2700 "remember "use compass" option"
### Basic information
* Platform: `Android`
* Version: `3.89`

### Steps to reproduce behavior

 1. turn on "use device compass"
 2. capture a sequence as usual
 3. exit the app
 4. reopen the app

### Expected behavior

the option remembered

### Actual behavior

I have to re-enable the option every time I start the app

[2017-09-05 17:43] voschix commented on #2698
see [#2142](https://github.com/mapillary/mapillary_issues/issues/2142) opened on 31 Jul 2016 by blobgo
see [#2076](https://github.com/mapillary/mapillary_issues/issues/2076) opened on 23 Jul 2016 by voschix
see [#811](https://github.com/mapillary/mapillary_issues/issues/811) opened on 13 Mar 2015 by rudolfmayer
and earlier requests ....

[2017-09-05 18:06] arvdk commented on #2577
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/1278403/mapillary_trace.txt)
[mapillary.log.txt](https://github.com/mapillary/mapillary_issues/files/1278404/mapillary.log.txt)
the .log.txt was .log originally, but wouln't upload

[2017-09-05 18:38] Alessandro-Barbieri commented on #2698
@voschix I'm not requesting the feature but asking where I can post a list of sequence in order to have them rotated by the staff. Is github the right place?

[2017-09-05 18:40] Alessandro-Barbieri opened #2701 "Forum login"
Is it possible to allow login into the forum with the mapillary credentials?

[2017-09-05 20:41] kaitu commented on #2700
#2570

[2017-09-06 09:32] eneerhut commented on #2576
@ovivoda no crashes recently on my S8. @jaakkoh good to close for now?

[2017-09-06 10:48] ovivoda commented on #2680
@katrinhumal I think we can close this as jfburke3 confirmed it is fixed.

[2017-09-06 13:31] katrinhumal commented on #2698
@Alessandro-Barbieri So far, requesting these has been a bit ad hoc, actually. But I'm thinking it might be best to start collecting these to a spreadsheet for the time being, which our team will then review regularly and fill the requests gathered there. I will come back to you soon and share the document, which then anyone can use for listing their rotated images.

[2017-09-06 13:33] katrinhumal commented on #2699
@Alessandro-Barbieri Thanks for the request! Let me check if I have understood you correctly. What you'd like to have is a way to keep track of which images you have already checked for blur fixing, and which are yet to be done?

[2017-09-06 13:35] katrinhumal commented on #2700
Thanks @Alessandro-Barbieri for reporting and @kaitu for linking to the other issue. I'm closing here as a duplicate, and resurfacing the other issue to our team.

[2017-09-06 13:35] #2700 closed

[2017-09-06 13:36] katrinhumal commented on #2570
This is still ongoing @ovivoda @peterneubauer

[2017-09-06 13:38] katrinhumal commented on #2701
@Alessandro-Barbieri Unfortunately, not now. It would surely be great but we don't host the forum ourselves, and therefore integration is not very simple. But we have this request in mind for several users so hopefully, we'll be able to provide this some day.
I'm noting your request to our team and closing this issue since it won't likely happen in the near future.

[2017-09-06 13:38] #2701 closed

[2017-09-06 13:40] katrinhumal commented on #2621
@jaakkoh YAY! I hope this stays that way. Keep us posted.

[2017-09-06 13:41] katrinhumal commented on #2680
Closing then, @jfburke3 please reopen if trouble returns.

[2017-09-06 13:41] #2680 closed

[2017-09-06 13:47] katrinhumal commented on #2690
@rugk Thanks for explaining! Theoretically, choosing the compass should be the appropriate option for this case. Provided that it works (but when walking, there should not be much interference - in a car, for example, the metal can easily confuse the compass).

[2017-09-06 13:50] katrinhumal commented on #2691
@agilob great - looking forward to more feedback.

@Alessandro-Barbieri I am able to log in successfully right now... could you please give it another try, and if still failing, let me know which Mapillary version, device, and Android version you have?

[2017-09-06 13:53] katrinhumal commented on #2696
@Alessandro-Barbieri Just to help me understand you better and build a stronger case when I pass this request to our team - can you please give a few examples of what you would want to use it for on your phone?

[2017-09-06 14:09] katrinhumal commented on #2679
@Alessandro-Barbieri Nope, we don't.

[2017-09-06 14:23] Alessandro-Barbieri commented on #2699
@katrinhumal

Yes, this will be great

[2017-09-06 14:35] Alessandro-Barbieri commented on #2679
@katrinhumal You should, deleting photos leave holes in the sequences, like the one I linked before.

[2017-09-06 14:43] Alessandro-Barbieri commented on #2696
@katrinhumal I want to report  upside down sequences from the app, my browser is too slow and cluttered

[2017-09-06 14:50] Alessandro-Barbieri opened #2702 "Website on firefox for android is too cluttered"
### Basic information
* Platform: `Android` | `Web`
* System/Browser: `firefox for android`

### Steps to reproduce behavior

 1. Go to mapillary.com/map
 2. Optionalli tap on and image

### Actual behavior

Stuff is overlapped

### Additional information

See top and bottom right
![screenshot](https://imgur.com/gallery/ozLfF)

[2017-09-06 15:46] rugk commented on #2690
My compass is always confused😂

[2017-09-06 16:05] jfburke3 commented on #2692
There is a new function in Android 7.0 on Samsung devices (and I assume other brands, too) that is some sort of power saving tripe.  Apparently it affects other applications, and some of those developers aren't particularly fond of it.  I tried adding Mapillary to the Unmonitored Apps list, but that doesn't seem to have had any effect.

For reference, the function I'm referring to is located here:

[2017-09-06 17:39] gyllen commented on #2580
Sorry for the delay guy, you are right. In general the cutter makes sure that we do not have lines all over the map (somebody flies from Germany to Sweden). So its not doing anything harmful. Having that said though we need to make sure that you can see what actually did happen.

[2017-09-06 17:40] gyllen commented on #2686
@knikel Can you take a peek at this?

[2017-09-06 17:41] gyllen commented on #2694
@peterneubauer  Should this be moved to JOSM issues?

[2017-09-06 17:43] gyllen commented on #2676
@GITNE Thanks for drawing attention to this, `v1` should be shutdown and you should not be able to login with `v1`.

A challenge scheme would be the next thing to implement.

[2017-09-06 17:47] gyllen commented on #2675
@peterneubauer Reassign to @nickplesha of you think this is a frontend issue

[2017-09-06 17:49] gyllen commented on #2679
@Alessandro-Barbieri This is a great point

@peterneubauer @ybkuang Is there anything we can do to sched a sequence for cutting if images are deleted

[2017-09-06 17:50] gyllen commented on #2692
@ovivoda FYI

[2017-09-06 17:54] ybkuang commented on #2679
@gyllen @Alessandro-Barbieri  it is possible after the upcoming database update

[2017-09-06 21:55] blobgo commented on #2683
Ah, got it. Maybe also add the information about how to move the image to this help screen or so.

[2017-09-06 21:57] blobgo commented on #2682
I already linked to it. E.g. https://www.mapillary.com/map/im/FOiwuZK4rRW0C_9Q337ufg, but see the all images there…

[2017-09-06 22:11] FilipeGraciosa opened #2703 "Android version 3.93 BetaApp bugs"
I would like to know, if I'm the only one with this 4 problems (driving with automatic capture mode):

**A** - Recurrently the app freezes, stops showing live camera, doesn't respond to touch and stops taking pictures for some minutes, then it returns to work automatically (we lose several kilometers of mapping, due to this bug)

**B** - Several times stops working and shows this message "**The lo

[2017-09-07 02:16] ulikoehler opened #2704 "Python login API v1 endpoint 404 response"
I'm using `upload_with_preprocessing.py` to upload images to Mapillary.

However, since a few hours ago, this API endpoint:
https://a.mapillary.com/v1/u/login
returns a nginx 404 page instead of a JSON response (which you can reproduce by clicking on the link).

This API endpoint is still used in `get_upload_token()` in `uploader.py`.

When being used, the script now fail with the following stackt

[2017-09-07 06:25] thoschu96 opened #2705 "Sequence lost ?"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Checking old mapillary stuff

### Expected behavior

see my coverage of the area
https://www.mapillary.com/app/?lat=54.26374000000001&lng=11.078238999999996&z=17&username%5B%5D=chuck&mapStyle=mapbox_streets&focus=map&pKey=y6ii35oKkA5o9tY7w8GzMg

### Actual behavior

no mapping sho

[2017-09-07 06:30] voschix commented on #2703
I keep seeing (A) frequently on on different versions of the Android App, including 393, on Sony Xperia Z5 compact. It seems to be more frequent when the phone gets hot.
I don't remember to have seen either of (B) and (C).
No comment on (D) as I normally use time-based picture taking.

[2017-09-07 07:08] echeloni2p commented on #2703
Hmm, A could be the system being on load doing some jobs until mapillary is able to take new pic. New APIv2 or ald API ? COuld be correlate with temp and CPU of mobile throttles and less power to do the job.
B is strange, but location recording not started, so stop track, close app, remove from memory and start again, solves lots of my issues. Maybe a complete wipe of the mobile and reinstall of s

[2017-09-07 07:18] knikel commented on #2686
@AliAdam: I'm afraid I won't be of much help. The style in the tutorial is correct and after using it you should be able to see Mapillary tiles. Can you confirm that you can load other styles, e.g. with [`ArcGISVectorTiledLayerWithURL`](https://developers.arcgis.com/ios/latest/api-reference/interface_a_g_s_arc_g_i_s_vector_tiled_layer.html#a832bf002db72deb5708c3b66ddec0a8a)?

[2017-09-07 07:53] ovivoda commented on #2570
@katrinhumal This will be implemented with external camera feature. We still need to decide when this will start

[2017-09-07 09:23] katrinhumal commented on #2699
Thanks for clarifying! We've heard that from some other people as well so the idea is under consideration. Thanks for your input! I'm adding it to the pool and closing this issue since no immediate fix.

[2017-09-07 09:23] #2699 closed

[2017-09-07 09:29] katrinhumal commented on #2682
@blobgo thanks! I'll pass this on to the computer vision team so that they're aware and can include these in some future version of the detection algorithm. Closing here for now since no instant fix is available.

[2017-09-07 09:29] #2682 closed

[2017-09-07 09:31] katrinhumal commented on #2683
Thanks, good point. I'll request this.

[2017-09-07 09:36] katrinhumal commented on #2690
Darn 😁 Depending on how often this actually occurs in practice that you feel the need to change direction (but your compass doesn't capture it), you could also consider editing this post-upload?

[2017-09-07 09:38] katrinhumal commented on #2696
@Alessandro-Barbieri I hear you. Will pass this on to the team and I hope we can figure something out about the whole reporting rotations process.

[2017-09-07 09:42] katrinhumal commented on #2702
@Alessandro-Barbieri Thanks for raising this. As is evident from your experience, the web app has not been optimised for mobile. We suggest using the native app instead, and handling the more advanced actions from your computer. However, I totally see your point related to https://github.com/mapillary/mapillary_issues/issues/2696 - some things you'd just like to do on the fly. I can't promise an i

[2017-09-07 09:43] #2702 closed

[2017-09-07 09:45] katrinhumal commented on #2703
Thanks for reporting! @FilipeGraciosa and @echeloni2p, can I ask if you have by any chance the "Skip location check" option turned on in Settings > Developer?

[2017-09-07 09:47] katrinhumal commented on #2704
@ulikoehler I think the general answer here is that you should use the most recent API version, v3, as we're deprecating the old one(s). So please make sure your mapillary_tools are updated. But I'll let @gyllen share more detailed knowledge here since I'm not a developer myself and don't want to talk too much about the things I don't really know about :)

[2017-09-07 11:16] rugk commented on #2690
Yes, I know.

[2017-09-07 11:24] FilipeGraciosa commented on #2703
I have turned off as it came as default, should I turn it on?

[2017-09-07 11:42] hoangvietanh commented on #2068
Great. Thanks

[2017-09-07 12:26] ulikoehler commented on #2704
@katrinhumal Just to be clear, its not really me who is using the outdated and possibly deprecated API but several scripts from the official  https://github.com/mapillary/mapillary_tools repository. So i think there are two possibilities:

1. API v1 is deprecated. Then this is a bug report about mapillary_tools using an outdated API.
2. API v1 should still work. Then this is a bug report about the

[2017-09-07 12:42] katrinhumal commented on #2703
@FilipeGraciosa No, it's good that it's off. There are only a handful of cases when you'd need to turn this on, but sometimes people turn it on anyway and we've noticed it can cause problems.

[2017-09-07 12:42] kaitu commented on #2690
@rugk: have you tried to calibrate the compass before you start capturing? It's suggested that rotating the phone around all of its axes with compass on should help fix the compass reading, I think that there are even apps whici assist in the process. Also, I find that the compass reacts pretty slowly to changes of directions. It might help to wait a while after you have changed direction, to give

[2017-09-07 13:07] rugk commented on #2690
Yeah, I think the compass works better when I hold the phone horizontally, but in this case I cannot capture pictures.

[2017-09-07 17:22] Alessandro-Barbieri commented on #2691
@katrinhumal now works

[2017-09-07 21:34] voschix opened #2706 "App stops taking pictures and screen freezes"
### Basic information
* Platform:  `Android 7.1` on 'Sony Xperia Z5 compact'
* App Version: `several, up to 393`

### Steps to reproduce behavior

 1. Start photo taking in time capture mode (I have seen the effect with 2sec, 3sec, or 5 sec and "ignore location" on and off)

### Expected behavior

Picture taking runs until I stop it by pushing the square red button

### Actual behavior
Picture tak

[2017-09-07 22:52] gyllen commented on #2705
@thoschu96 Looks like the sequence is on the map now, can you confirm or are you missing a longer drive?

[2017-09-07 22:54] gyllen commented on #2704
@ulikoehler Thanks for reporting this, we finally shutdown the v1 API yesterday. The scripts should be updated to the latest API by now.

Sorry for the inconvenience.

[2017-09-08 00:53] kaitu commented on #2704
Maybe related: the script add_mapillary_tag_from_exif.py doesn't work anymore for me. I just updated to latest version of the tools, and still no luck.

[2017-09-08 00:57] ulikoehler commented on #2704
@gyllen Thank you for fixing it this quickly. I can confirm that it works flawlessly after the newest patch.

[2017-09-08 00:57] #2704 closed

[2017-09-08 01:19] ybkuang commented on #2704
@kaitu what are the error messages that you're getting?

[2017-09-08 09:09] kaitu commented on #2704
@ybkuang

Traceback (most recent call last):
  File "C:\Python27\Scripts\mapillary_tools-master\python\add_mapillary_tag_from
_exif.py", line 67, in <module>
    MAPILLARY_USERNAME, MAPILLARY_EMAIL, None, upload_token, sequence_uuid)
  File "C:\Python27\Scripts\mapillary_tools-master\python\lib\exifedit.py", line
 102, in create_mapillary_description
    metadata = ExifEdit(filename)
  File "C:\Py

[2017-09-08 09:13] agilob commented on #2691
1. I created account on Mapillary using webbrowser and registering using OSM.
2. Tried to login using OSM on mobile phone
3. Same result as in the top comment.

4. I registered on mobile phone using OSM
5. Login as successful.

[2017-09-08 09:31] ybkuang commented on #2704
@kaitu I opened an issue in mapillary_tools to keep track of this.

[2017-09-08 11:06] katrinhumal commented on #2609
@gmng which phone model do you have btw?

[2017-09-08 12:23] kaitu opened #2707 "webuploader misleading messages while retrying upload of failed files"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `Windows 7 / Firefox 55.0.3`

### Steps to reproduce behavior

 1. open web uploader, upload some files
 2.  repeat until for some reason at the end of the process a windows opens, telling that x files failed to upload
 3. press the "retry x failed" button

### Expected behavior
The uploader tries to upload all of the x fai

[2017-09-08 13:05] cookry commented on #2707
Hi @kaitu I sent you a file request via Dropbox. I'll help here and investigate.

[2017-09-08 14:29] kaitu commented on #2707
I sent you an image. I don't know why some files failed to upload at first try (probably it's nothing related to mapilllary) nor how to reproduce the issue. Probably some connection glitches.
The point is that I find weird and misleading that a message with a button "Retry xx Failed" appears while the upload process of those remaining xx files is still ongoing.

[2017-09-08 16:02] cookry commented on #2707
@kaitu can you share a sequence of photos?

[2017-09-08 19:31] kaitu commented on #2707
The sequence key is: xkbzqNs3dx7usbeisdHDOQ

The sequence actually counts 328 images. My feed says it counts 394 images (I still have 178 pending images, so the number could still rise).

[2017-09-09 08:31] gmng commented on #2609
@katrinhumal
LETV Le 1S X500
v5.9.026 stock ROM
ANDROID 6.0

[2017-09-10 12:07] stev391 commented on #2636
With 3.95, I get a white dot in the middle of the map portion of the screen, but as noted before the map is centred on phone screen, so there is an offset to my location.  (I didn't try zooming in or out.)

In the screenshot, I'm on the road to the right of the white dot (and it didn't matter if it was a bad fix, good fix or best).
![screenshot_20170910-101700](https://user-images.githubuserconten

[2017-09-10 15:56] chk1 commented on #2670
@eneerhut
You mentioned you were working on correcting existing sequences, can you tell me if this is still a work in progress?

I noticed that "sequence_cut" split some of my sequences, but I still have a lot of images in wrong order. I'm considering deleting some of the wrong image sequences and doing them again with the new app versions, unless there's some way to fix the sequences at some poin

[2017-09-10 16:35] katrinhumal commented on #2698
@Alessandro-Barbieri, @voschix - can we try how it works via this form? https://goo.gl/forms/fk36ogKZmVvM46VM2

The plan is that we pile up requests every week, then we submit all these requests in one go with some dev help. This scales better than us submitting everything one by one.

[2017-09-10 16:36] katrinhumal commented on #2691
@agilob Thanks for trying! So just to make sure I understood you correctly, it works when you've linked your OSM account for login on mobile signup, but not when you've done it on web signup?

[2017-09-11 06:54] hlinden commented on #2706
I am affected by this problem as well. The last 10 to 20 images before this happens are either blank or only have content in the upper areas and a black area at the bottom.
[mapillary_freeze_crash.log.txt](https://github.com/mapillary/mapillary_issues/files/1291641/mapillary_freeze_crash.log.txt)

I have saved and attached a debug log from one of these instances - username is changed, of course:

[2017-09-11 10:03] hlinden commented on #2706
I just had trouble again, only this time the app didn't freeze while some pictures still were saved incompletely. Log and screenshot:

[mapillary_incomplete_images.log.txt](https://github.com/mapillary/mapillary_issues/files/1292141/mapillary_incomplete_images.log.txt)

![screenshot_20170911-115404](https://user-images.githubusercontent.com/4718458/30269471-3446042c-96e9-11e7-8e46-381a94aa7dda.png

[2017-09-11 16:16] katrinhumal commented on #2706
@ovivoda The last thing seems like https://github.com/mapillary/mapillary_issues/issues/2598 and possibly https://github.com/mapillary/mapillary_issues/issues/2577.

[2017-09-11 16:17] katrinhumal commented on #2707
@gyllen Could we improve the way UI messages are displayed here?

[2017-09-11 17:14] eneerhut commented on #2670
@chk1 seems to be a harder fix then we initially thought. We'll continue to work on it, but for a shorter term solution, it's best to delete the sequences and remap if possible for you.

Apologies for the inconvenience.

[2017-09-11 19:56] agilob commented on #2691
It seems so. There was a difference in behaviour described in the top comment tho. Look at the second screenshot, in case 1. there was just no "Trying to log you in" it just failed and I got a white screen from OSM webpage (there was an update since I opened the issue).

[2017-09-12 17:15] katrinhumal commented on #2691
@agilob Thanks for clarifying! We will look into this asap.

[2017-09-13 04:50] thoschu96 commented on #2705
hi

i miss a longer sequence
it strating at same point but to the other direction

Am 08.09.2017 um 00:52 schrieb Johan Gyllenspetz <notifications@github.com<mailto:notifications@github.com>>:

@thoschu96<https://github.com/thoschu96> Looks like the sequence is on the map now, can you confirm or are you missing a longer drive?

-
You are receiving this because you were mentioned.
Reply to this ema

[2017-09-13 04:53] thoschu96 opened #2708 "webupload not working"
### Basic information
* Platform: | `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. uploading pictures via web
 2.
 3.

### Expected behavior

after successfully upload i would expect that the counter of pending photos would rise

### Actual behavior

after upload no new photos shown up to be processed

### Additional information

...

[2017-09-13 09:48] matclab commented on #2568
Hello @ovivoda , I finally get the opportunity to try with the lattest Mapilliary (version 3.95) and I get the same problem. In automatic mode, Mapillary starts capturing and suddendly the count of photos being taken stops.
If i touch the blank button bellow the red square, the count starts again and stops a bit later…
Tell me if and how I can provide more debugging info.

[2017-09-13 15:53] katrinhumal commented on #2708
Hi @thoschu96 - thanks for reporting. We just have a little lag in the system right now and that's why you don't see your images in your profile (not even in the pending count). Or maybe you do by now. :) In any case, you should see them soon.

[2017-09-14 09:03] matclab commented on #2568
@ovivoda I checked the settings, and saw that "Pause on shake" was enabled. Is it expected that mapillary resumes the shots when the phonr stops shaking ? In the meanwhile I've disabled this setting and will try another sequence today or tomorrow.

[2017-09-14 12:30] spatialhast opened #2709 "Disable limit for 'Filter leaderboard for image uploads' in Ukraine (UA)"
### Basic information
* Platform: `Web`
* Version: `API v3`
* System/Browser: `Google Chrome 60.0.3112.113`

### Steps to reproduce behavior

 1. Call 'Filter leaderboard for image uploads' for Ukraine from 2017-01-01 in browser using URL:
https://a.mapillary.com/v3/leaderboard/images?iso_countries=UA&start_time=2017-01-01&client_id=<CLIENT_ID>

### Expected behavior

I want receive all users list

[2017-09-14 12:47] bmassot commented on #1124
👍

[2017-09-14 12:56] spatialhast opened #2710 "Disable limit for 'Search sequences'"
### Basic information
* Platform: `Web`
* Version: `API v3`
* System/Browser: `Google Chrome 60.0.3112.113`

### Steps to reproduce behavior

 1. Call 'Search sequences' for 'Y9YiPRZlQ_wP85S7h1YWFQ' userkeys from 2016-01-01 in browser using URL:
https://a.mapillary.com/v3/sequences?bbox=21.93,43.98,40.43,52.47&userkeys=Y9YiPRZlQ_wP85S7h1YWFQ&start_time=2016-01-01&client_id=<CLIENT_ID>

### Expecte

[2017-09-14 13:17] hlinden commented on #2577
I had this issue yesterday as well.

[Here's an archive of the data directory. (188MB, zipped)](https://owncloud.7183.org/index.php/s/PHi3fwOF4wEIhTK)

...and this is what the log said about the following crash:

`--------- beginning of crash
09-13 18:57:47.446 E/AndroidRuntime(27070): FATAL EXCEPTION: ImageFileSaver
09-13 18:57:47.446 E/AndroidRuntime(27070): Process: app.mapillary, PID: 27070
09

[2017-09-14 13:56] talllguy commented on #2677
I'm having the same issues on the production version of the app.

The crash/freeze causes the entire phone to come crashing to a halt. Force closing the app renders the iPhone unresponsive for a few seconds. I figured it might have something to do with my iPhone 6s Plus being lower powered than the current models.

[2017-09-14 19:13] Alessandro-Barbieri commented on #2577
I had this issue, I "solved" it changing the photo shooting interval from 1s to 1.5s

[2017-09-15 07:53] echeloni2p commented on #2709
Hi!

Ask mapillary for the business plan, they will tell you how much you have to pay and you get unlimited access.

[2017-09-15 07:53] echeloni2p commented on #2710
Ask mapillary for the business plan, they will tell you how much you have to pay and you get unlimited access.

[2017-09-15 12:53] spatialhast commented on #2710
solved using pagination (https://www.mapillary.com/developer/api-documentation/#pagination), thanks @ptpt

[2017-09-15 12:53] #2710 closed

[2017-09-15 14:23] thoschu96 commented on #2708
yes
you are right
took a while
hope it get fixed soon
as the error is still there

Am 13.09.2017 um 17:53 schrieb katrinhumal <notifications@github.com<mailto:notifications@github.com>>:

Hi @thoschu96<https://github.com/thoschu96> - thanks for reporting. We just have a little lag in the system right now and that's why you don't see your images in your profile (not even in the pending count). Or m

[2017-09-16 21:47] mxa commented on #2691
more login woes here: https://forum.mapillary.com/t/im-locked-out-of-the-app/1192

[2017-09-16 21:51] mxa commented on #2672
I want to support the idea that you don#t need to be logged in to take pictures. There is no reason the account information can#t be added to the picture metadata before uploading. I have visited a very inaccessible place (North Korea) and I would have loved to take some mapillary there, but because of some reason I was logged out and there is no internet to log in. It was a once in a lifetime opp

[2017-09-18 08:12] spatialhast commented on #2709
solved using pagination (https://www.mapillary.com/developer/api-documentation/#pagination):

thanks @ptpt

[2017-09-18 08:12] #2709 closed

[2017-09-18 12:54] katrinhumal commented on #2609
Thanks! @ovivoda can you take a look please?

[2017-09-18 13:13] ovivoda commented on #2609
@gmng @polarbearing @voschix

I implemented a workaround for this and I created a new build here. Would be great if you can try it out and let me know if this works for all of you:

http://android-releases.mapillary.io/Mapillary_Android_v3.96-SNAPSHOT1.apk

[2017-09-18 13:20] ovivoda commented on #1835
http://android-releases.mapillary.io/Mapillary_Android_v3.96-SNAPSHOT1.apk should solve the issue. @jfburke3 @filipca Please let me know if this setting works for you now.

[2017-09-18 13:28] #2562 closed

[2017-09-18 17:43] gmng commented on #2609
@ovivoda
https://i.imgur.com/BLsk231.jpg

[2017-09-18 19:14] geowOSM commented on #2465
Hi Anders, remember me? I have finally managed to get to the root of the strange 89 degree problem (or 269 degree if the camera lens is on the bottom right corner). Luckily the solution is simple 😊

Tap Settings > Privacy > Location Services > System Services and make sure that Compass Calibration is turned on.

That's all, I confirmed this on an iPad air and two different iPhone SE. Happy again 🍻

[2017-09-18 20:08] polarbearing commented on #2609
I can switch sound on and off, however when on it is still the terrible fake-metal-shutter.

[2017-09-19 08:06] ovivoda commented on #2609
@gmng Thanks for notifying me on this one. Do you get notified about Mapillary being a suspicious app for v3.95 as well?

@polarbearing Thanks changing the default sound is on our research to do list. I do not have a clear date for that though

[2017-09-19 09:28] echeloni2p commented on #2609
Hey
just to note: with v3.96SNAPSHOT the annoying shutter sound is gone from my honor 7 chinese edt. Somehow you did find the secret entry to remove it^^
thanks.

echelon

[2017-09-19 11:34] katrinhumal commented on #2708
Thanks for your patience @thoschu96! It will still take some time - namely, we're [importing a huge set of imagery](http://blog.mapillary.com/update/2017/09/14/microsoft-imagery-for-disaster-recovery.html) in the hurricane-affected areas in the US to help with disaster recovery response. That's what's making the queue longer.

[2017-09-19 11:38] katrinhumal commented on #2691
@ovivoda will you please take a look?

[2017-09-19 12:30] gmng commented on #2609
@ovivoda
I removed v3.96, installed v3.95 from PLAY. I did not get any notification from AVAST.

[2017-09-19 15:19] fgouget commented on #1931
I'm running into the exact same issue on my Galaxy S7 (SM-G930F) running Android 7.0 with Mapillary 3.95. Furthermore checking the Settings -> Developer -> 'Force use of the legacy Camera API' checkbox makes no difference:

Mapillary regular: http://fgouget.free.fr/tmp/mapibug/Mapillary-regular-2017_09_19_16_50_19_591_+0200.jpg
Mapillary legacy: http://fgouget.free.fr/tmp/mapibug/Mapillary-legacy-

[2017-09-19 16:51] katrinhumal commented on #1931
Thanks for reporting! @ovivoda will take a look.

[2017-09-19 18:56] gyllen commented on #2705
@peterneubauer Mysterious sequence ^^

[2017-09-19 19:08] katrinhumal opened #2711 "Bug with username filter"
@antoinegiret commented on [Tue Sep 19 2017](https://github.com/mapillary/mapillary-js/issues/260)

Hello,

I am using mapillary with Mapbox GL. I would like to display vector tiles containing sequences of a user in a period. After reading the documentation, I wrote those lines in my application:

[code]
Without the filter by username, vector tiles containing sequences in a period are well display

[2017-09-19 19:09] katrinhumal commented on #2711
@antoinegiret I moved your issue here since it's not really about MapillaryJS. You'll get some developer help soon. :)

[2017-09-20 07:45] antoinegiret commented on #2711
Ok thanks @katrinhumal :)

[2017-09-20 10:04] ovivoda commented on #2691
Alright I just created a new OSM account and tested this again:

This are the steps that need to be taken in order to use a OSM account with Mapillary app:

1. Create a OSM account(if you do not have one already)
2. Open Mapillary app and Signup with OSM account. Please make sure you signup and not login.
3. Enter OSM e-mail and password when asked in mapillary app
4. Press Signup

[2017-09-20 10:07] ovivoda commented on #2609
@gmng Thanks! Please try and install v3.95 from here and see if AVAST is complaining:

http://android-releases.mapillary.io/Mapillary_Android_v3.95.apk

I suspect is doing this because is an APK from outside GooglePlay.

[2017-09-20 10:10] ovivoda commented on #1931
@fgouget @pbb72

Please check out this APK and let me know if the image quality is improved:

http://android-releases.mapillary.io/Mapillary_Android_v3.96-SNAPSHOT1.apk

PS: You can leave "Settings -> Developer -> 'Force use of the legacy Camera API'" set to OFF.

[2017-09-20 10:25] gmng commented on #2609
@ovivoda
Avast gives me a warning if I install any app outside from PLAY. But after I removed v3.95 and downloaded from your domain mapillary.com it did not give me any warning like.
Strange, maybe your domain is white listed since yesterday.
This is what AVAST shows as risk.
https://i.imgur.com/D7O1gTf.jpg

I will reinstall v3.96 to check it again.

[2017-09-20 10:32] gmng commented on #2609
I reinstalled v3.96 and  I didn't get any warning from AVAST like two days ago. I do not know what happend. I did not ignored or pressed anything when I first saw the warning, except the back button as cancel.

[2017-09-20 11:28] ovivoda commented on #2609
Thanks @gmng !

[2017-09-20 12:09] pbb72 commented on #1931
I haven't been having any problems on my Galaxy S7 anymore. Using version 3.95, legacy mode OFF.

These are some images I took recently: https://www.mapillary.com/map/im/pDsHnDV2uZmY2rD5c9RSmQ

[2017-09-20 13:46] fgouget commented on #1931
@ovivoda : As far as I can tell it works fine with Mapillary_Android_v3.96-SNAPSHOT1.apk. I took the same photo as yesterday (although there's a bit less light) and there was no sign of the artifacts. And that was with "Settings -> Developer -> 'Force use of the legacy Camera API'" set to OFF.
That's pretty encouraging!

[2017-09-20 15:13] Cageythree commented on #1931
@ovivoda Still bad quality for me on my S7 Edge (935F, 6.0.1).

[2017-09-20 15:15] ovivoda commented on #1931
@Cageythree can you please send me a image from your device captured with v3.96.

[2017-09-20 15:44] Cageythree commented on #1931
I haven't uploaded pictures to mapillary with this version yet, but here are two images I've just taken out of the window (I pulled the images from /Android/data/app.mapillary/files/mapillary/CAMERA2_0).  One image of a parking and one of a moving car.
![2017_09_20_17_33_56_294_ 0200](https://user-images.githubusercontent.com/20978969/30653358-2e77d7de-9e2b-11e7-87bb-a801afa86777.jpg)
![2017_09_20

[2017-09-20 15:49] ovivoda commented on #1931
Alright tx! The resolution is good but it seems that in the first picture the focus was on the window.

[2017-09-20 15:55] Cageythree commented on #1931
Yeah that might be true.

[2017-09-20 20:19] grinapo commented on #1931
@ovivoda my s7 seems to work as well just fine using force OFF.

[2017-09-21 07:46] peterneubauer commented on #2705
We are still having some dirty data after the massive hurricane import, let's get that settled and then see if that sequence is still missing.

[2017-09-21 13:44] peterneubauer commented on #2670
Yes, we are working on this. However, the wrong dates affect all Android versions 3.83-3.86. We cannot get the affected images by Android version from our Postgres database backend since they are stored in an Hstore column which is VERY slow to query ( and it's a couple of million images involved). So, we will add the app data to a faster store (even for future use) and query from there when that

[2017-09-21 13:46] peterneubauer commented on #2694
Yes, this should be moved.

[2017-09-21 13:49] peterneubauer commented on #2580
So, the sequence_cut bot actually creates changesets that we can render into something that the affected user can examine (sequence before, and a number of smaller sequences after). It's a matter of having a special template for this changeset @gyllen .

[2017-09-21 16:49] gyllen commented on #2694
@yopaseopor Would you mind filing an issue here -> https://github.com/JOSM/Mapillary/issues and closing this one?

[2017-09-21 16:49] gyllen commented on #2580
@peterneubauer Agreed its in the pipe

[2017-09-21 21:44] richlv opened #2712 "Before we can start..."
on the website, i've been greeted by the "Before we can start..." popup at least 4 times.
seems to be a bit excessive to ask that every time :)

[2017-09-22 07:15] echeloni2p commented on #2712
Not for me on chromium

[2017-09-22 09:40] richlv commented on #2712
forgot to mention browser - firefox 55.0.3

[2017-09-22 10:11] katrinhumal commented on #2712
@richlv Thanks for reporting! Have you been choosing a reply or skipping?

[2017-09-22 10:27] richlv commented on #2712
ah, sorry for omitting that much crucial detail :)
i choose an option and hit "submit" each time.

[2017-09-22 10:50] katrinhumal commented on #2712
Thanks! Well, even if you skip, we shouldn't prompt you every time... unlikely that you'll change your mind about the reply in a day. :) Pulling in @gyllen to check in on this.

[2017-09-22 13:41] ovivoda commented on #2181
This works good on

http://android-releases.mapillary.io/Mapillary_Android_v3.99-SNAPSHOT1.apk

[2017-09-22 13:50] ovivoda commented on #2568
@matclab Any improvements?

[2017-09-22 15:31] nickplesha commented on #2712
@richlv Thanks for reporting! Sorry for the popups bothering you, should be fixed now. Let me know if it works for you.

[2017-09-22 15:31] #2712 closed

[2017-09-22 15:44] matclab commented on #2568
@ovivoda Oups, I've forgotten to report my last try.
Unfortunately not. Same behaviour as reported before.

Please tell me how I can provide you with data relevant to debugging this issue.

[2017-09-22 16:00] yopaseopor commented on #2694
Moved to https://github.com/JOSM/Mapillary/issues/64

[2017-09-22 16:00] #2694 closed

[2017-09-22 17:10] richlv opened #2713 "microsoft listed as an individual, not an organisation"
minor issue, but microsoft is listed as an individual, not an organisation :)

[2017-09-22 17:11] richlv commented on #2712
yay, thank you for the quick fix.
there was some issue with javascript initially, had to force-refresh. now all is good.

[2017-09-22 17:46] richlv commented on #2677
@millenbop, sorry about the delay. i didn't really know what testflight is, but found it and installed.

an older build would be hard to test still - the bug sometimes does not appear for days, and then it just happens constantly. haven't figured out what makes it come out.

[2017-09-22 22:12] gappleto97 opened #2714 "Please provide a way to download my own images"
I don't care if this is in the form of a large zip file, or via your API. But *please* allow me to keep a copy of my own images without going through and downloading every single one.

[2017-09-22 23:09] gappleto97 commented on #2714
Support told me that I could do this with your scripting API, but this appears to be false.

[2017-09-23 02:55] Alessandro-Barbieri commented on #2698
Is this working?

[2017-09-23 11:24] damjang commented on #2673
And sorry for my delayed replay. Finally today I have time to test the last 3.95 version and on my device nothing change, the same problems as before.

[2017-09-23 15:46] voschix opened #2715 "Picture from the future"
### Basic information
* Platform: `Android` | `Web`
* Version: `up-to-date`
* System/Browser: `not relevant`

### Steps to reproduce behavior
I suppose this to be not reproducible

### Expected behavior
Uploads appear in the profile with a date in the past

### Actual behavior
One of my recent uploads bears a date far in the future

### Additional information
This is a single picture upload that h

[2017-09-24 04:52] AliAdam commented on #2686
@knikel  thank you knikel  and sorry for the delayed reply .
 sure i tried this http://basemaps.arcgis.com/b2/arcgis/rest/services/World_Basemap/VectorTileServer/resources/styles/root.json from ESRI and it work fine.

[2017-09-24 15:34] fgouget commented on #1931
I went out for a walk today and it turns out this is not fixed :-(
http://fgouget.free.fr/tmp/mapibug/Mapillary-3.96-regular-2017_09_24_16_41_33_791_+0200.jpg

Unfortunately I did not test legacy mode during my walk but after I came back and noticed the issue I did a quick test and legacy mode did not seem to make a difference. I also rechecked and I'm still on 3.96-SNAPSHOT1.

[2017-09-25 06:43] oscarlorentzon opened #2716 "How to get link to photo page?"
@eugenefedoto commented on [Sat Sep 23 2017](https://github.com/mapillary/mapillary-js/issues/263)

https://www.mapillary.com/developer/api-documentation/#retrieve-image-sources

Is there an API to get the link that I'm not noticing?

---

@Abbe98 commented on [Sun Sep 24 2017](https://github.com/mapillary/mapillary-js/issues/263#issuecomment-331727620)

Append the image key to the following URL:

[2017-09-25 08:04] habi commented on #2546
After uploading thousands of images with the `mapillary_tools' I tried again this morning.
The sequence looks fine while recording (analogous to the screenshots in this thread), but on Mapillary, the photos are completely wrong: https://www.mapillary.com/map/im/A2hWQM2BEbwaZ4OJ_owteQ

[2017-09-25 08:04] habi commented on #2610
Not fixed, see https://github.com/mapillary/mapillary_issues/issues/2546#issuecomment-331806645

[2017-09-25 08:24] millenbop commented on #2465
I remember you! Sorry for the late reply, I have been recovering from surgery.

AWESOME that you found the problem! Wonder why it was turned off though, should be on by default.

Oh well, happy either way that it works!

[2017-09-25 11:02] katrinhumal commented on #2716
@eugenefedoto Thanks for your question! And thanks @Abbe98 for the reply. Another way to get the image link is to use the share button at the right-hand side on the Mapillary web when viewing the image. You can copy the URL there with one click.

<img width="1280" alt="screenshot 2017-09-25 13 02 07" src="https://user-images.githubusercontent.com/16334352/30805453-c634c324-a1f1-11e7-937f-503c40a2d

[2017-09-25 11:46] katrinhumal commented on #2673
Thanks @damjang - bringing in @ovivoda for help!

[2017-09-25 12:23] katrinhumal commented on #2698
@Alessandro-Barbieri collecting the responses is working, but we're just about to start handling the first set of rotations requests submitted via this form.

[2017-09-25 12:39] ovivoda commented on #2673
@damjang Can you please send us some logs from the app so I can see what's wrong? Are you capturing with GMS?

[2017-09-25 12:42] hlinden opened #2717 "Enable sharing of PhotoSpheres from gallery to Mapillary app on Android."
Currently the only way to upload PhotoSphere imagery seems to be:

- take the picture
- go home
- transfer the image to the PC
- upload it using the webinterface

It would be quite a bit easier, if I could just share the picture to the Mapillary app from the gallery.

[2017-09-25 12:46] hlinden commented on #2577
I have solved the issue by buying an Transcend Industrial SD-card and by turning off the encryption on the card. However, it would be preferable if the app detected a slow writing speed and just stopped taking pictures until the write buffer was empty again.

[2017-09-25 13:28] katrinhumal commented on #2714
Hi @gappleto97 - I just got back to you over email as well but wanted to share here, too. Our previous reply was unfortunately not correct, as you have pointed out. You can't use the API to bulk download your images. Right now there is no way for you to get your images retrospectively - if you want to keep a copy, you need to do that before upload (that's why we also show the warning message about

[2017-09-25 13:36] katrinhumal commented on #2717
Hi @hlinden - what about if you try moving this image to the Mapillary folder (make sure that it has a geotag)? You can try and see if it then shows up on the upload screen in the Mapillary app (it probably should). You can see which folder is assigned for Mapillary images in Settings > Storage.

[2017-09-25 21:20] hughdavenport commented on #1124
@HolgerJeromin I think it is reasonable that people question Mapillaries motives to be honest. Correct me if I'm wrong, but this issue has been open for multiple *years* with multiple comments from ex and current users of the application stating displeasure on the timelines given. The responses from the company never quite say that this will ever be open source or not.

When it is pointed out that

[2017-09-25 23:04] gyllen commented on #2715
@peterneubauer @ovivoda Seems Android related

[2017-09-26 14:51] mprins opened #2718 "regression: new sequence does not start automatically after 601 pictures"
### Basic information
* Platform: `Android`
* Version: `396`

### Steps to reproduce behavior

 1. set up the app to shoot distance based, eg. 5m, pointing forward
 2. start capture and start driving
 3. wait for capture 601 to occur

### Expected behavior
A new sequence should start automatically after 600 pictures

### Actual behavior
Capture halts at end of sequence/601 pictures. Manual interve

[2017-09-26 17:20] jfburke3 commented on #2718
I'm pretty sure that it started a new sequence automatically for me, but I'll watch for this.

What phone/model do you have, and Android version?

[2017-09-26 17:47] damjang commented on #2673
@ovivoda Here's my log: [mapillary_2017.09.26.zip](https://github.com/mapillary/mapillary_issues/files/1334278/mapillary_2017.09.26.zip)

Sorry,  but what's GMS?

[2017-09-26 18:24] mprins commented on #2718
Asus k007, Android 5.0.1 and I have set both battery and storage limits to 0
This worked fine in previous versions, but failed several times last week after I just quit

[2017-09-26 19:35] katrinhumal commented on #2691
@agilob Would you please try and install http://android-releases.mapillary.io/Mapillary_Android_v3.100-SNAPSHOT2.apk and see if this fixes the issue?

[2017-09-27 06:57] katrinhumal commented on #1124
@hughdavenport Thanks for your input. We're not closing this issue (or the others) because, as you have pointed out, there are several people who are interested in this topic and want to chime in every once in a while (so they shouldn't need to open a new issue every time). Also, we couldn't even do it on the basis of "if you don't want to open source just close it" since it's not correct.

Open s

[2017-09-27 07:40] ovivoda commented on #2673
@damjang GMS = Google Mobile Services that is used to get a better location fix. We have the setting to use this service in Settings -> Developer -> Use Google Mobile Services. Do you capture with a phone that has internet connection while capturing?

Thanks for the logs. Unfortunately the log contains few information. Please try and capture and send the logs again.

[2017-09-27 09:07] millenbop commented on #2677
I have experience it as well, but only since I upgraded to iOS 11 beta. I still have the same problem with iOS 11.0. Searching the internet it seems to be a common problem with the latest iOS update.

But I don't know why it would happen on iOS 9 :/

[2017-09-27 09:29] millenbop commented on #2677
@talllguy which iOS version are you on?

[2017-09-27 12:13] rugk commented on #1124
First great that you still plan to open-source it.

You never mentioned any cons, except of "we need to clean up code", which is not a con, as you can still open-source and clean up the code with the help of the community. Nobody will blame you for that, you will only be blamed if you do not release the source. (I don't know what you fear here…)

Seriously if you as the devs of the app don't like

[2017-09-27 12:24] ovivoda commented on #2577
@nighto @Alessandro-Barbieri @hlinden  Can you please try to reproduce the problem again and send me the logs when this happens.

[2017-09-27 15:37] Hapoofesgeli commented on #1124
Mapillary, unlike how it tries to show itself is pretty much a completely closed ecosystem, which makes it even worse than actual closed ecosystems. The fact that they get your data, grant themselves a licence out of it, extract and sell whatever useful comes out of it while locking you away is basically parasitism, especially when they try to show it otherwise. And making the Android app open sou

[2017-09-27 17:16] geowOSM commented on #2465
Compass Calibration is on by default, but some folks (like me 😉) might have disabled it for battery drain concerns. So maybe this setting could be checked in shooting mode and if necessary app should asked for permission to enable it.

Bye and get well soon!
Klaus

[2017-09-27 19:42] damjang commented on #2673
@ovivoda Thank you. I have GMS disabled and I have internet connection during capturing, but sometimes I disable it.

I have installed the last 3.98beta version and done 3 capture sequence:
- distance capture (20m) - direction no compass, without internet
- distance capture (20m) - direction with compass, without internet
- distance capture (20m) - direction with compass, with internet

All 3 have

[2017-09-28 19:07] hughdavenport commented on #1124
@katrinhumal ok, one question, from the *very first comment of this thread*

Has the windows app been changed at all due to the devs thinking anything is wrong with it *in the last 2 years*?

How different is it from the android app? (I haven't actually got a windows phone so can't see)

What was your thought process years back when you decided to open source the windows one but not the android. I

[2017-09-28 19:57] talllguy commented on #2677
@millenbop I was on iOS 10 but recently upgraded to iOS 11. I have to redownload the app and test there. I deleted it before upgrading.

[2017-09-29 06:22] Hapoofesgeli commented on #1124
@hughdavenport It's funny how you simply interpret "closed" as if it could only mean "closed source". Github is sure closed source, and I try to avoid it as far as possible when there is not much to gain from it (the fact that I have no working repositories here should simply show that), but, there are many small and big differences between Github and Mapillary, I'll just point one simple one:

**

[2017-09-29 07:12] echeloni2p commented on #2718
Hi

On my One+ 3T with Android 7.1.1 it did not start a new sequence. On my Huawei Honor 7 with Android 6 it did start a new sequence after 600 pictures.
echelon

[2017-09-29 08:02] hughdavenport commented on #1124
... You simply have had no conversations in this ticket apart from to attack mapillary, not sure how that is helpful for you or anyone actually involved. I understand that there is a closed data issue, but as there isn't really a viable alternative that isn't then I don't personally see an issue with it, and any step towards being more open helps alternatives come. Your comments simply don't help

[2017-09-29 12:00] mprins commented on #2718
I may have time over the weekend to give this another try

[2017-09-29 12:07] ovivoda commented on #2718
@mprins If you have time to try it please install the latest beta app from googlePlay or from here: http://android-releases.mapillary.io/Mapillary_Android_v3.101-BETA.apk
and send me back the logs if the phone stops capturing after first sequence. Thanks!

[2017-09-30 01:58] Alessandro-Barbieri commented on #1124
Mapillary and openstreetcam have different goals

[2017-09-30 06:38] rugk commented on #1124
Eh, really which? See also the issue in OpenStretCam where I asked about differences/collaboration and after a long discussion i think we know there were not much differences, from a license perspective e.g.

[2017-09-30 08:15] amilopowers commented on #2546
Just to let you know: I have the exact same error but I use a GoPro Session 5 and an iPhone 5s.

[2017-09-30 09:27] arvdk commented on #2711
@antoinegiret See also https://github.com/mapillary/mapillary_issues/issues/2668
Maybe same issue?

[2017-09-30 15:41] Alessandro-Barbieri commented on #1124
@rugk openstreetcam goal is to collect photos for improving openstreetmap

[2017-09-30 19:03] rugk commented on #1124
Mappilaries goal is alsop to collect photos, e.g. for improving OpenStreetMap.

[2017-09-30 21:45] andrewharvey commented on #2665
I ran into this issue again loosing a few thousand images :disappointed:. I've just enabled Developer | Save debug logs to file so hopefully next time I can send in the logs. I can't replicate right now (seems random).

[2017-10-01 04:23] jfburke3 commented on #2706
I've had something similar happen, too.  I can try to provide trace logs if you want, since it seems to happen with a disconcerting regularity.

[2017-10-01 04:41] jfburke3 opened #2719 "GPS inaccuracy in recent (3.101 and a few earlier) builds"
I know this isn't a proper bug report, but I think I need to describe it differently than usual.

In the past few releases, including the current 3.101-BETA version, it appears to me that the Mapillary Android app is affecting GPS localization negatively.

As best I can determine, when the Mapillary app is running, my GPS accuracy is almost half what it is when the app isn't active.  My determinat

[2017-10-01 09:18] nickplesha commented on #2711
@antoinegiret Our vector tiles have the `userkey` property, so your filter should be `['==', 'userkey', {your_userkey}]`. We use user keys here since usernames could change in the future. You can find info on how to get this data from our API here: https://a.mapillary.com/#users, for user `antoinegiret` the user key is `UhSj0dgbYJBtG5UPp-Rf2Q`. Hope this helps!

[2017-10-01 09:19] nickplesha commented on #2633
Comment form has been updated and this should be fixed.

[2017-10-01 09:19] #2633 closed

[2017-10-01 09:21] nickplesha commented on #2630
@mxa The overlay shouldn't prevent you from editing in the future, if it does appear incorrectly again, just click on it to hide it.

[2017-10-01 09:21] #2630 closed

[2017-10-01 13:12] HolgerJeromin commented on #1124
Windows phone app was not build by mapillary staff but one single private dev. Thats why it has a different licence.

[2017-10-01 13:33] Eric-FR commented on #2718
I'm facing the same issue:
Device : Symphony i10 device.
Android : 6.0
Mapillary: up to date (3.95 now).

I discovered it on September 17th. I still observed it last week-end (September 24th).

When a sequence it having 601 pictures, it is switching to a new sequence but only one picture is recorded in the new sequence. Although in acquisition mode, no capture is done. I have to stop and restart c

[2017-10-01 13:48] mxa commented on #2630
@nickplesha the green overlay does prevent you from clicking anywhere except the few pixels that are left out because of the rounded corners. All changes will be lost, the only way out is to close the browser.

[2017-10-01 13:51] mxa commented on #2706
Useful information is: how hot was it on this day around the telephone? See https://forum.mapillary.com/t/device-temperature-battery-level/1205

[2017-10-01 15:43] ArAge67 commented on #2582
@ovivoda Sorry for the delay. The rear camera of my SGS2 had a huge dust particle so I couldn't use it anymore. Yesterday I fixed it by replacing the rear camera. Today I made several sequences and Mapillary 3.95 didn't have this problem anymore. Thanks!

[2017-10-01 15:52] ArAge67 commented on #2449
Couldn't reproduce this in 3.95 so it seems to be fixed.

[2017-10-01 15:55] jfburke3 commented on #2706
I'm aware of the temperature issues. I usually have my air conditioner running and blowing through the defroster vent, which blows the cold air over my phone.

[2017-10-01 16:03] ArAge67 commented on #2583
This is still not fixed in v3.95. I can't use Mapillary if this problem still persists :-(

[2017-10-01 16:05] nickplesha commented on #2630
@mxa That's one of the changes we made: the green overlay can be dismissed by clicking on it in addition to dropping new images as before.

[2017-10-01 16:18] mxa commented on #2630
ah, ok. Thanks.

[2017-10-01 17:55] gyllen commented on #2546
@habi So just to be clear
[code]

[2017-10-01 19:10] habi commented on #2546
1. Record GPX and ‘time-lapse’ with GoPro independently, merge and upload with the mapillary_scripts works. No involvement of the Mapillary iOS app at all.
2. Connect camera to iOS app looks like it works (as seen here https://github.com/mapillary/mapillary_issues/issues/2610) but doesn’t work, like reported here.

[2017-10-02 06:55] echeloni2p commented on #2719
HI
do you use WIFI position or ONLY GPS?
echelon

[2017-10-02 07:14] mprins commented on #2718
I was able to reproduce this on the way to work, after 601 no more pictures were taken, had to manually stop and start to continue.
logs are in the mail.

[2017-10-02 08:32] millenbop commented on #2465
Good idea!

On Wed, Sep 27, 2017 at 7:16 PM, geowOSM <notifications@github.com> wrote:

[2017-10-02 08:55] ovivoda commented on #2582
@ArAge67 Thanks for the updates. Will close this one for now. If you see this issue again please reopen it and send some logs back.

[2017-10-02 08:55] #2582 closed

[2017-10-02 10:05] jaakkoh commented on #1124
@rugk , Regarding differences between Mapillary and OpenStreetCam it's noteworthy to remember that OpenStreetCam is a project fully financed and run by Telenav, Inc., a publicly traded company (NASDAQ:TNAV) with its core business in wireless location-based services including satellite navigation, local search, automotive navigation solutions, mobile advertising, enterprise mobility and workflow au

[2017-10-02 10:21] rugk commented on #1124
Not even the app is fully open-source as you can see it has the same problem as Mapillary here. It is also still not included in F-Droid:

https://github.com/openstreetcam/android/issues/8

[2017-10-02 10:56] jaakkoh commented on #1124
@rugk Hmm. I didn't know that and am slightly surprised. Then again, maybe not really.

[2017-10-02 12:50] mprins commented on #2718
FIW the sequence numbers are:
- DzcH2tpKGoMp9boo5J8noQ
- rfxOhKDKYy7ZRfKzFx8wEA

[2017-10-02 13:32] Eric-FR commented on #2718
echelon,

what are your acquisition parameters?

[2017-10-02 17:48] zagor commented on #2663
I now run 3.101 and still see the same problem. I have ~3800 images in 10 sequences, and that is enough to trigger the android kill dialog.

I recorded a short video to illustrate the issue: https://photos.app.goo.gl/x6uzElX6Pd7bYGK72

Video description: The video starts in the profile tab. I scroll up and down breifly to show the application is responding. Then I tap the Upload tab icon and try t

[2017-10-02 20:38] zagor commented on #2663
I just got the 3.103 update. It behaves the same way.

[2017-10-03 01:05] gyllen commented on #2546
@habi Ok thanks mos def an iOS issue then

[2017-10-03 12:13] katrinhumal commented on #2665
@andrewharvey 3.103 which is on Google Play now includes a fix for the low-res problem. Please make sure you've updated and I really hope you won't see this issue anymore.

[2017-10-03 12:14] katrinhumal commented on #2449
Thanks for confirming! Closing this for now, please reopen if you experience this again.

[2017-10-03 12:14] #2449 closed

[2017-10-03 13:48] Eric-FR commented on #2051
+1 for this request. I would like to use OSMAND in front to check speed limits or to use OSMTracker to record voice notes.

[2017-10-03 14:14] Eric-FR opened #2720 "Feature request : having two acquisition modes and quick switch between"
* Platform: `Android`

When driving in areas with low population and/or no motorway, your driving kilometres (miles) in the campaign and then, you enter a village. I would like to have a slow acquisition mode in campaign (typically distance based 20 m with min delay of 2 s) and a fast acquisition mode in villages and towns (typically distance based 5 m with min delay of 1 s). Moreover, I would lik

[2017-10-03 17:33] jfburke3 commented on #2719
@echeloni2p I've tried with Google Location Services on and off.  In many of the places I have the problem, there is no wifi within 20 miles or more.

I was able to do some additional testing and have these comments on the problem:

* During one of the "bad fix" periods, if I switch over to one of my other GPS apps (e.g., GPS Status), then it also reflects an inaccuracy in the 15-25 range, similar

[2017-10-03 17:35] jfburke3 commented on #2692
I seem to have two issues open on the same problem #2719

[2017-10-03 17:36] jfburke3 commented on #2719
I seem to have two issues open on the same problem #2692

[2017-10-03 19:49] jfburke3 commented on #2677
I want to make the observation that the Android version has a similar problem; I just haven't had time to report it properly yet.  Maybe this is a good time to do so.

[2017-10-03 22:45] andrewharvey commented on #2665
Awesome @katrinhumal, I'll try it out.

I had just collected a mapillary_trace.txt of when the issue occurred, but hopefully it won't be needed anymore. I think you can close this issue then, and if we see it again post version 3.103 / 403, we can post back here.

[2017-10-04 01:31] amilopowers commented on #2546
I've made two more examples. One in a straight line: JfSQ1-E8-_zqWFZ-ScQzsw and one on one point: LmiGsKPx6lCnMAzM16Xmxg

[2017-10-04 06:59] echeloni2p commented on #2718
Hi

I do use time based capture, 1 sec, high res pictures, ignore location check, animation on shutter, focus mode legacy cam 0 continuous, sequence break 100m, 10% battery limit, no google mobile provider, show detailed stats.
On both devices

echelon

[2017-10-04 07:58] ovivoda commented on #2719
@jfburke3 Please try this version here and let me know if this one works better:

http://android-releases.mapillary.io/Mapillary_Android_v3.102-SNAPSHOT1.apk

[2017-10-04 08:01] ovivoda commented on #2692
@jfburke3 It has more to do with the accuracy of the location. I've build an experimental build here that works better for users complaining about same issue. Please try it out:

http://android-releases.mapillary.io/Mapillary_Android_v3.102-SNAPSHOT1.apk

[2017-10-04 08:33] katrinhumal commented on #2665
Thanks @andrewharvey! Just checking in with @grinapo as well - can you see if the latest version has fixed the problem for you?

[2017-10-04 14:23] Alessandro-Barbieri opened #2721 "crop photo in web"
### Basic information
* Platform: `Web`
* System/Browser: `all`

### Expected behavior

It would be super nice to have the ability to crop images from web
eg.: for removing black zones of corrupted photos and car interiors/fingers on the camera

[2017-10-04 15:32] #2720 closed

[2017-10-04 15:34] katrinhumal commented on #2721
@Alessandro-Barbieri Thanks for the suggestion! I'm taking this to the team to consider for the next version of the web tools. Closing the issue here since there won't be an instant fix.

[2017-10-04 15:34] #2721 closed

[2017-10-04 16:53] ulikoehler opened #2722 "Image connected to sequence although not part of sequence"
In order to fix bugs from old uploads (sequences where some images were not in the right order and therefore drawing long green lines over the map), I removed the image causing the issue from the sequence and re-uploaded it (i.e. I downloaded the original unprocessed image and then uploaded it as a new sequence).

For most sequences this appears to have fixed the issue, however for some ones there

[2017-10-04 17:13] gyllen commented on #2546
@millenbop Elevate this

[2017-10-04 18:21] Eric-FR commented on #2720
Thanks. This is just my 2 cents nfr ;-)

[2017-10-04 19:19] Eric-FR commented on #2718
I checked today after update to 3.103: the problem is still present.

[2017-10-04 22:50] jfburke3 commented on #2719
I decided to download Mapillary_Android_v3.103.apk, which installs fine.  But, I don't know if that build has your changes for this in it or not.....

[2017-10-05 10:45] voschix opened #2723 "Italian motor cycle number plates are frequently missed by pixellation algorithm"
### Basic information
* Platform:  `Web`
* Version: `current`
* System/Browser: `NA`

### Steps to reproduce behavior

 1. Take photos of motor cycles with current type of motor cycle number plate in Italy

 2. Upload photos

 3. Check for pixellation

### Expected behavior

The current type of motor cycle number plates are pixellated with high probability

### Actual behavior

The false negative

[2017-10-05 16:51] millenbop commented on #2546
Will do!

[2017-10-06 00:48] ulikoehler commented on #2722
Here's another example:
"Stray" picture:
https://www.mapillary.com/app/user/umap?lat=48.12376006516794&lng=11.703690094975173&z=16.970041410736776&pKey=J1d7SYvllbLoqvCDailAoQ&feedItem=user-pyQrwn2chXv57on5L40ZbA-activity-user-pyQrwn2chXv57on5L40ZbA-publishing_done-image%3A1507179302284

Last regular img in sequence:
https://www.mapillary.com/app/user/umap?lat=48.12203860198292&lng=11.6984025498528

[2017-10-06 07:54] mprins commented on #2718
yes, still present in 3.103. I've sent in the logs

[2017-10-06 07:59] katrinhumal commented on #2723
@voschix Thanks for reporting! Improving this is ongoing work by @ybkuang and team. We'll note this down as one specific area of improvement but you won't see results overnight, I'm afraid. In time, though! Closing the issue here since there's no instant fix.

[2017-10-06 07:59] #2723 closed

[2017-10-06 08:00] katrinhumal commented on #2722
@ulikoehler Thanks for reporting! We'll investigate.

[2017-10-06 08:51] ovivoda commented on #2718
@mprins Thanks for reporting this. Will fix and let you know once I have a new APK

[2017-10-06 08:53] millenbop commented on #2677
I'll submit a new build today. I have updated all libraries we depend on and also done some optimizations to our app and so far we haven't experienced any slowdowns. It doesn't mean it's fixed but I hope it is! Maybe we have just been lucky.

Let me know when you get a chance to try it out.

[2017-10-06 08:58] abanctelchevrel opened #2724 "Upload photos using API V3 and OAuth token"
I'm trying to upload images to Mapillary using an OAuth token but I don't find relevant documentation for this use case.

Among your [OAuth "scopes"](
https://github.com/mapillary/mapillary_apidoc/blob/master/source/includes/_oauth.md) there is a 'public:upload' which make me think that it must be possible, but unfortunately, the [API V3 doc](https://a.mapillary.com/) doesn't mention any way of up

[2017-10-06 09:41] grinapo commented on #2665
@katrinhumal I was not able to reproduce it since then, I have debug on, if you don't hear about me then it's still okay. But I'm not _very_ active nowadays (horrible weather plus lack of travel).

[2017-10-06 12:09] katrinhumal commented on #1931
@fgouget Could you please try the 3.103 from Google Play now and see if the issue persists?

[2017-10-06 12:11] katrinhumal commented on #2665
@grinapo All right - thanks! I'm closing the issue for now, please reopen if necessary. Hope to not hear about you then! ;)

[2017-10-06 17:17] voschix commented on #2723
I am not expecting overnight improvement, by all means.
But, if you move things from the GitHub issues they become invisible to the
end user, I suppose. And that end user then may report the same item again
(which I believe has happened with this specific item). It would be nice if
the end user/contributor had a way of checking that an item is already in
your long-term list, thus avoiding double r

[2017-10-07 07:21] grinapo opened #2725 "openstreetmap background layer is missing"
and firefox log is full of these:

error { target: XMLHttpRequest, isTrusted: true, lengthComputable: false, loaded: 0, total: 0, currentTarget: XMLHttpRequest, eventPhase: 2, bubbles: false, cancelable: false, defaultPrevented: false, composed: false }  vendor.5279d9f5776ddbe5d8c1.bundle.js:1:1873430
	[200]</a.prototype.fire https://d1dk9tvuiy3v51.cloudfront.net/vendor.5279d9f5776ddbe5d8c1.bundle

[2017-10-07 16:06] fgouget commented on #1931
I have retried today with Mapillary 3.104 (version code 404) and it works.
This time I tested with both legacy Camera API on and off, and both worked.

Interestingly in both cases the photos ended up in the LEGACY_CAM_0 folder. So I guess Mapillary detected my Galaxy S7 phone and automatically enabled the legacy mode. (unlike on the 24th I guess since the photos I took that day were in the CAMERA2

[2017-10-07 19:30] Alessandro-Barbieri opened #2726 "Dismiss banner"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox for android`

### Steps to reproduce behavior

 1. Open website with mobile

### Expected behavior

Can dismiss "open in app" banner

### Actual behavior

"Open in app" banner is very annoying

[2017-10-08 01:40] Alessandro-Barbieri opened #2727 "allow upload of photos and gpx at the same time"
### Basic information
* Platform: `Web`

What I'm requesting here is basically the same thing as the video upload but with photos:
uploading a bunch of non-geotagged photos and a gpx file togheter (I know that a script file exists, but in windows running scripts is not out-of-the-box)

[2017-10-08 14:47] eugensim commented on #2727
I want this option too. It is very useful.

[2017-10-08 15:38] Alessandro-Barbieri commented on #2051
It's a major issues for me: overheating from always on screen is not nice (my Li-polymer battery was damaged), should I move to Tina time lapse?

[2017-10-08 15:56] jfburke3 commented on #2719
I hate to report that 3.103 from the download website and 3.104 from the play store beta channel don't seem to have much improvement here (maybe a little, it's all subjective).

It's probably worth noting that the last several days i was shooting sequences (last weekend, Friday and Saturday) were pretty clear weather-wise, and I generally had good views of the sky. Friday was a small exception in

[2017-10-08 16:19] jfburke3 opened #2728 "Screen sometimes "stutters" when shooting sequences"
### Basic information
* Platform: Android 7.0, AT&T build QH1
* Version: Mapillary 3.104 (and several previous releases)
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Begin shooting sequences while driving.
 2.  Look at the phone screen periodically.

### Expected behavior

The screen image flows as smoothly as the landscape around me as the app takes pictures.

#

[2017-10-08 16:24] mprins commented on #2718
Sent some more logs, also occurs with 3.104

[2017-10-08 16:34] jfburke3 opened #2729 "Exiting camera mode take a while"
### Basic information
* Platform: Android 7.0, AT&T build
* Version: Mapillary 3.104 (and several previous releases)
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Shoot sequences.
 2.  Stop the sequences.
 3.  Press the phone's back button.

### Expected behavior

The Mapillary app returns to the main screen within a few seconds, like it used to do.

### Actual be

[2017-10-09 06:44] echeloni2p commented on #2719
Hi
Just have to add: new Ulefon T1 arrived, it has some bad GPS receivement with A-GPS built in. But orux maps has a chance to get the position quite fine on that mobile, and even Pokemon go got a somewhat GPS position from it.
But mapillary has issues getting a gps position from it, I´ve already sent a tracelog to you.
https://www.mapillary.com/app/user/aceini?lat=47.06262883561277&lng=15.4642367

[2017-10-09 08:04] maning opened #2730 "More sign detection requests"
This is feature request to add more signs in the traffic sign detection.  I will update the lists as our team encounters them.

| Sample Sign | Category | Description |
|----|----|----|
| ![](https://user-images.githubusercontent.com/17470597/31265282-b048f65a-aa8b-11e7-937e-93c04cae658c.png) | regulatory-turn-left-no-u-turn | Allows only a left turn, no u-turn is allowed

cc @krishnanammala

[2017-10-09 08:13] Eric-FR commented on #2727
+1

Even for geotagged photos, I would like to upload one or several GPX file made with my outdoor GPS receiver to improve pictures positioning.

Even more, I would like to do this afterwards. During travel, I upload pictures using hotels wifi for safety and due to limited storage in smartphone. Back home, I would upload GPX tracks to improve positioning.

[2017-10-09 11:19] ovivoda commented on #2718
@mprins Thanks for the logs. Will look into it.

[2017-10-09 11:36] ovivoda commented on #2719
Hi @echeloni2p @jfburke3

We added a new setting into this build here:

http://android-releases.mapillary.io/Mapillary_Android_v3.105-SNAPSHOT1.apk

The setting allows more relaxed settings in terms of location fix accuracy. The setting name is "Relaxed accuracy limit" and you can find it in Settings->Developer. You can turn this ON when you cannot get a good location fix. Please let me know how i

[2017-10-09 11:39] Eric-FR commented on #2728
It may be related to thermal throttling.

I observed this behaviour in August while using a car without air conditioning in warm and sunny places. After tens of minutes, the application became sluggish.  The smartphone was very hot. You have to be carefully when handling it.

Wiko P4200AN
Android 6
Mapillary up-to-date.

[2017-10-09 12:10] millenbop commented on #2677
The update got out last Saturday, let me know if you think it works better or if it's the same.

[2017-10-09 12:28] jfburke3 commented on #2728
I typically keep my car air conditioner ON, with the front windshield defogger selected, in order to keep cold air flowing over the phone. When I touch it, my phone doesn't usually feel very warm, much less hot.

[2017-10-09 12:32] jfburke3 commented on #2719
I've installed the snapshot build and will try that workaround setting. It would still be better to figure out what caused Mapillary to suddenly develop accuracy problems, though.

Just to reiterate: other GPS apps don't exhibit such problems as long as Mapillary isn't running. If I exit Mapillary and run OSMTracker, it usually shows a rock-solid 5m accuracy in the same place Mapillary complains a

[2017-10-09 13:54] grinapo commented on #2665
*sigh* Got blurry with 3.104 again,
https://www.mapillary.com/app/?lat=47.641129545310946&lng=18.838364344718684&z=17&focus=photo&pKey=VKnqhVQc5tk29jA6pAN23Q
Got plenty of debug logs, where do you want to get them?

[2017-10-09 14:14] grinapo opened #2731 "latest beta crashed several times, froze the camera, etc."
Sent the debug logs to support@.

Apart from the camera API problem (different issue) this version have kept crashing, a few times got into uninterruptible wait, and there was a point where the cameta was not accessible through the API, and another I believe where the imagery was black. There seem to be several half-saved (half-black vertically) images in the upoaded sequence.
Also the program see

[2017-10-09 16:56] Binnette opened #2732 "[WebSite][Editor] Add a button to rotate image"
### Basic information
* Platform: Web
* System/Browser: Windows 7 / Google Chrome

### Steps to reproduce behavior

 1. Open this https://www.mapillary.com/map/im/vuA_NNj-em654izSruPV9g
 2. See that the image in upside-down
 3. I try to edit it. But there is no "rotate" button

### Expected behavior

Add a button to rotate image. Rotate +90° Or Rotate +180°

### Actual behavior

There is no way to

[2017-10-10 08:47] Eric-FR commented on #2732
+1.

I also have some pictures up/down (due to vehicle vibrations?). I would appreciate being able to rotate it by myself.

[https://www.mapillary.com/map/im/sVlyxalYQraf3xM0YvURUw](https://www.mapillary.com/map/im/sVlyxalYQraf3xM0YvURUw)

[2017-10-10 08:50] Eric-FR commented on #2728
So overheating and thermal throttling may not be issue, just CPU overload in normal conditions.

[2017-10-10 09:21] Binnette commented on #2732
Attached bugs :
#2365
#2327
#2076
#811
#466
#339

[2017-10-10 10:13] PhoneixS commented on #1502
I think this can now be closed.

[2017-10-10 11:23] maning opened #2733 "No parking detected as no-u-turn"
### Basic information
* Platform: `Web`
* Version: `Version 61.0.3163.100 (Official Build) (64-bit)`
* System/Browser: `Chrome`

I found several cases where if there is a clump of no parking detection, one or 2 signs will be detected as no-u-turn.  See example below

![screen shot 2017-10-10 at 16 53 20](https://user-images.githubusercontent.com/353700/31384209-8b43b9fa-addb-11e7-8083-87ff150d2267

[2017-10-10 12:02] katrinhumal commented on #2723
@voschix That's a good point. We're trying to find some balance between using GH open issues as indicators of the more immediate task at hand (particularly bug reports), and for using them as discussion threads for feature requests where anyone could pitch in.

Ideally, before creating a new issue, one would do a search and check both open and closed issues, and hopefully, find the ones that alrea

[2017-10-10 12:05] katrinhumal commented on #1931
Thanks for reporting! @ovivoda looks like we can close this issue?

[2017-10-10 12:06] katrinhumal commented on #2726
Thanks for pointing this out. The web app is not optimised for mobile, which is why we're quite persistent with the banner. However, I agree that we should probably give you the chance to close that and continue the non-optimised journey if you so wish.

[2017-10-10 12:41] fgouget commented on #1931
Actually I've had the problem again today, still with 3.104 (version code 404). Forcing the use of the legacy Camera API fixed it, at least for a while. I suspect it has to do with how the Mapillary Android Activity gets started.

In the past I noticed that Mapillary tended to lose my settings. Most typically sometimes it would start taking picture every second instead of using "Distance based cap

[2017-10-10 12:44] Binnette opened #2734 "[Android] Prevent app to rotate image when capturing"
I capture image on my bike. I think sometimes, my phone is shaked and Mapillary capture an image "upside down". Is there a way to prevent this ? Can't you force Mapillary to always capture image in the same "position" ? I'm pretty sure you can :smirk_cat:

### Basic information
* Platform: `Android`
* Version: `3.104`
* System/Browser: `Android 6.0`

### Steps to reproduce behavior
 1. Start Mapil

[2017-10-10 13:06] katrinhumal commented on #2727
Thanks for the input, everyone! We're actually considering this for the next version of the uploader, so good to know that there is demand. 😄

[2017-10-10 13:14] katrinhumal commented on #2732
Thanks for the request! This is something we're considering so I'll pass on your feedback to give this issue more priority.

[2017-10-10 13:31] operon opened #2735 "Blur on traffic signs"
Hello,

There are often blurred signs on road signs.

Is it possible when the AI detects signposts blur functions is non-existent or with a lower priority level.
https://www.mapillary.com/map/im/eVTP-qjxg_UPm37ext5Muw

Conversely, on vehicle detection, the fuzzy function may be more precise.
https://www.mapillary.com/map/im/WTIeEaG2cftDEAdxpiK8Uw

[2017-10-10 13:37] Salahka opened #2736 "layers don't show up after removing them and adding them again"

[2017-10-10 13:39] #2736 closed

[2017-10-10 13:45] katrinhumal commented on #2734
Hi @Binnette - thanks for reporting. We've had a long-standing bug that causes rotated images, and we've managed to fix it for a lot of devices, but still not yet for all of them. So we'll keep working.

However, as in your case, when the phone is shaking while the image is captured, then we can't really do much about it. That's because the shaking is confusing the accelerometer, which then falsel

[2017-10-10 13:48] katrinhumal commented on #2735
Hi @operon - thanks for your input. An improved version of blurring is currently in the works, where we plan to do exactly what you said, i.e. consider the context around the blurred area. Working this out will take some time but the results will improve the accuracy. I'm closing this issue since there is no instant fix.

[2017-10-10 13:48] #2735 closed

[2017-10-10 13:53] Binnette commented on #2734
Ok, thanks for the explanations.
Here is my device :
- brand: HOMTOM
- model: HT17 Pro
- build: HOMTOM-HT17Pro-Android_6.0-R09-20170104
- android: 6.0
- android security fix: 5 december 2016
- kernel: 3.18.19

I will close this bug and wait until this one is fixed : #2732

[2017-10-10 13:53] #2734 closed

[2017-10-10 14:38] katrinhumal commented on #1502
Good point.

[2017-10-10 14:38] #1502 closed

[2017-10-10 14:41] katrinhumal commented on #2665
@grinapo Thanks for the logs, passed them on. Sorry that the problem returned, @ovivoda will take a look.

[2017-10-10 19:05] gyllen commented on #2725
@nickplesha ^^^

[2017-10-10 19:05] gyllen commented on #2726
@nickplesha Lets add option to dismiss banner

[2017-10-10 22:10] pbb72 commented on #1931
Regrettably, I noticed yesterday that I am also still/again having the problem, using version 3.104.

https://www.mapillary.com/map/im/FykvSQ9kDCXacOtPX0bHEg

Looking back in my log, the problem started again between August 15 and September 17. (This could be because of a version change, but also may have been because of a phone reset.)

[2017-10-11 07:12] nickplesha commented on #2725
Sorry for the problems @grinapo looks like it was temporarily unavailable, let me know if you experience this again, should be working fine now.

[2017-10-11 07:12] #2725 closed

[2017-10-11 10:11] polarbearing commented on #2719
There is, physically, no such thing as a "rock-solid 5m accuracy". GNSS accuracies are determined by probabilities, not fixes length boundaries.

[2017-10-11 19:12] damjang commented on #2673
Sorry for late replay. I have tested some of the last 3-4 version of beta (gplay beta) and in all distance capture don't work - it take shots every x second, x is the setting of time base capture.
In all this last versions I also find that when I lose gps signal (if I go in tunnel) when gps is again visible also if Mapillary show the green flag for good gps the gps is not take in account and used.

[2017-10-11 23:57] damjang commented on #2703
@FilipeGraciosa for A and B I think that is the speed of writing to memory (do you have sd card?); for C the same + gps fix problem; for D if you have set the time base capture is ok, if you have set the distance capture this is a bug I already reported (appear on some older and all newer versions) that distance capture method don't work and instead is used time-capture mode - try it changing time

[2017-10-12 08:06] ovivoda commented on #2673
@damjang Do you have the developer setting -> skip location set to ON? That might be the cause for ignoring location when capturing.

[2017-10-12 08:32] damjang commented on #2673
@ovivoda Yes, sure, I have it enable. But I think that this option is only "active" when no gps signal/fix and not always, also if I have a good gps fix. Will try with skip location to off. Thank you

[2017-10-12 09:27] lamerman commented on #1931
https://www.mapillary.com/map/im/rcuTF1AajuXbchfhC_MrRA I also have very low quality image with Galaxy S7

[2017-10-12 10:59] nickplesha commented on #2507
@ramapongithub This should be fixed now, thanks for reporting.

[2017-10-12 10:59] #2507 closed

[2017-10-12 12:27] katrinhumal commented on #1931
Thanks for reporting, everyone - and sorry that the problem has returned. @ovivoda will take a look soon.

[2017-10-12 14:31] govvin opened #2737 "using keyboard shortcuts when marking images for deletion, or navigating through sequences"
### Basic information
* Platform: `Web`
* Version: Current version
* System/Browser: Firefox on Linux

### Steps to reproduce behavior

 1. Find a sequence
 2. Delete multiple images
 3.

### Suggested behavior
Easier navigation, like auto-advance through a sequence when it's selected for a deletion, and using navigation shortcut keys from the keyboard to move forward or backward. When marking a l

[2017-10-12 20:18] vespax opened #2738 "Garmin 360 Upload Crashes"
Latest version of iOS app provides support for Garmin 360 camera.  App detects camera on both iPhone 6 and 6s using iOS 11.  Asks to transfer from Garmin camera, begins upload and then crashes.

Don't see a work around to upload on website just yet.

### Basic information
* Platform: `iOS` | `Android` | `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1.
 2.
 3.

#

[2017-10-13 08:10] fgouget commented on #2188
Even being able to move a set of points in one go would be a big improvement, particularly when the images are just offset a bit. Even in other cases it could be used as a first pass to get them closer to their position, then leaving only fine (quicker) adjustments.

Moving a set of points requires selecting them. This could be done by clicking on the first point and then Shift+Click-ing on the la

[2017-10-13 08:38] katrinhumal commented on #2737
@govvin Thanks for the input! I'll pass this on to the team so we can discuss making the navigation shortcuts available in the editor as well. Two questions, just to make sure I understand you:
1) What do you mean by the "auto-advance"? How should this behave exactly?
2) Are you suggesting that there'd be a delete button shortcut key for when you flip through a sequence to single out bad images?

[2017-10-13 08:41] millenbop commented on #2738
Thanks for reporting!

Do you mean it crashes when you are transferring the photos from the camera? Are you using the latest firmware on the camera?

[2017-10-13 09:05] govvin commented on #2737
hello @katrinhumal

By "auto-advance", I mean I hope the next image in the sequence is displayed while deleting multiple images in the series, instead of having to manually click the forward (or backward) button every time.

Basically, I'm looking for a more convenient interface for deleting multiple photos from a sequence.

[2017-10-13 09:28] lamerman commented on #1931
Even when using deprecated camera API on Galaxy S7 I still get bad images https://www.mapillary.com/map/im/gyaafY5pBUaStR6LjqaDqA

[2017-10-13 13:47] vespax commented on #2738
Yes, during transfer from camera to Mapillary app.  Using 3.30 in 360 camera.  I believe that is the latest firmware according to Garmin.

[2017-10-13 14:08] millenbop commented on #2738
Ok thanks! I'll look into it!

[2017-10-13 14:27] Abbe98 commented on #2687
I have the same issue with my Samsung A5.

[2017-10-13 14:48] ovivoda commented on #1931
@katrinhumal http://android-releases.mapillary.io/Mapillary_Android_v3.102-SNAPSHOT3.apk

[2017-10-13 16:52] habi commented on #2546
I hoped that the newest release fixes this because of the 'tweak of the time/date setting'.
![img_4381](https://user-images.githubusercontent.com/1651235/31556869-02e7cf10-b047-11e7-823f-4ec8707a9cbb.JPG)

But another try with the updated app still yields a straight line at the wrong location (about 25 km from where it would be) when uploaded and a correct location when looking at the phone while

[2017-10-15 09:54] kRkk opened #2739 "When you are sign in button 'Create account' is still there"
### Basic information
* Platform: `Web`
* System/Browser: `Ubuntu 17.04 | Firefox 56`

### Steps to reproduce behavior

 1. Go to [mapillary.com](https://www.mapillary.com/)
 1. Log in or Sign in

### Screenshot
![screnshot](https://user-images.githubusercontent.com/16520278/31583638-7e82dc74-b19f-11e7-8c96-527ca925c8ef.png)

[2017-10-15 15:14] Inyaheyukan opened #2740 "The picture is upside down in the App"
![screenshot_20171012-160023](https://user-images.githubusercontent.com/4369755/31585942-7734c38a-b1ca-11e7-81e0-e1dba42da59a.png)

When I enter the capture mode, even before starting capture itself, the picture is upside down.
And later when I capture pitctures, the recorded pictures are also upside down.

### Basic information
* Platform: `Android`
* Version: `7.1.1`
* System: `bq Aquaris U Plus

[2017-10-15 16:17] ArAge67 commented on #2687
Same here, huge filesizes (30.4 MB) and no upload. Samsung A5 (2017) Android 7.0.

[2017-10-15 18:21] GITNE opened #2741 "Global key shortcuts focus dependent"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox` (probably others too)

### Steps to reproduce behavior
For example, this **used to work**, was intuitive, and ergonomic:
1. Go to blur editor
2. Create or modify a blur
3. Click `Submit` or click `Clear all`
4. Press `Alt`+`Up`/`Down`

Now, if you simply go to the blur editor traversing the sequence with key short

[2017-10-15 19:14] jfburke3 commented on #2728
@Eric-FR Yes, with the comment that this started somewhat recently (i.e., the app _used to_ show a smoothly flowing image on-screen), so my impression is that the CPU overload you refer to is being caused by Mapillary.  And I'm wondering if the CPU overload is also what's causing the GPS accuracy problems (#2719).

[2017-10-15 19:47] jfburke3 commented on #2719
@polarbearing Let me rephrase that, then.  The other GPS app settles down at about 5m accuracy with little to no jumping around as I drive, and certainly not up to the >15m accuracy-error that Mapillary has recently begun experiencing.

[2017-10-15 20:00] GITNE commented on #2161
@gyllen I wish this — which is keyboard accessibility in general — would finally get resolved. :crossed_fingers: #2269 and #2741 basically all call for similar issues to address.

Reviewing the discussion here after such a long time makes me think that @de-vries’ [keyboard shoutcut suggestions](#issuecomment-238650265) seem quite reasonable. Well, maybe except for `Shift`+`↓` which is already rese

[2017-10-15 20:10] GITNE commented on #2741
After taking a closer look at this issue, the reasoning behind the current implementation seems to be correct: Keyboard shortcuts work and have their specific functionality tied either to the map or the image. So, effectively the problem seems actually to be that in the blur editor (or tag editor) the image looses focus after a click on `Submit` or `Clear all` and does not *intuitively* return to

[2017-10-15 20:45] GITNE commented on #2730
:laughing: To me, this looks like a custom creation of a local transportation board/authority, which is mind boggling because the FHWA “Manual on Uniform Traffic Control Devices for Streets and Highways” has had `R3-5L` and `R3-4` for decades and somebody either did not read it or is trying to reinvent the wheel (or created this big *new* sign thinking that it is going to cost less than two mass p

[2017-10-15 21:00] ulikoehler opened #2742 "Unable to "Drag to draw an object" in tag editor"
When using the new tag editor, I'm trying to create object tags by
1. selecting a tag (e.g. "manhole") and
2. Trying to drag the tag

sometimes (randomly, but in ~30-50% of cases when I click "edit tag") the editor gets stuck showing the "Drag to draw an object" tooltip. Dragging then just moves the image, it does not create any tag.

F5-reloading the page fixes the issue. I'm using Chrome 61.0.31

[2017-10-15 21:12] ulikoehler opened #2743 "Newly created object tags often disappear a few seconds after creating them"
When creating an object tag and click the green button to accept the geometry, the green dot appears showing that the tag has been created.

However, for me, the tag disappears a few seconds (sometimes immediately) after creating it.

What seems to happen is:
1. JS backend sends "create obj tag changeset" to backend
2. JS backend periodically updates "current tags in image". As the request from 1

[2017-10-16 04:20] ToeBee commented on #2743
I see this problem as well. Chrome seems to abort the request to create the tag after a few seconds (or when a new request is initiated?) so it shows in the debug tools as `(cancelled)` however in looking at the dev tools while trying this in IE, I see the sever chewing on the request for 30 seconds before the front end server aborts the request and sends back an HTTP 504 because the back end is t

[2017-10-16 05:03] ulikoehler commented on #2743
@ToeBee As far as I could see nothing special happened at the point in time the request was canceled (i.e. no other request was started etc) and the request was canceled after 15.00 seconds, so I think Its some hardcoded limit which might be different in IE.

I've seen a similar issue in April or in May when loading large sequences made the reverse proxy 504 due to the API server taking too long t

[2017-10-16 09:51] katrinhumal commented on #2740
Hi @Inyaheyukan and thanks for reporting! @ovivoda will take a look at this. Meanwhile, for any uploads that you've already done that are upside down on Mapillary, you can use this form to mark them as in need of rotation: https://goo.gl/forms/o2nCZrC2KKiezQJz1

[2017-10-16 10:08] katrinhumal commented on #2739
Thanks for reporting! I think we've just missed that one. Will pass it on to the developers.

[2017-10-16 11:31] nickplesha commented on #2742
@ulikoehler Thanks for reporting. Can you show the error console log output when this happens? Also, holding CTRL disables creating tags so you can pan the image, double-check to see if that's affecting you.

[2017-10-16 12:31] #2181 closed

[2017-10-16 18:02] oscarlorentzon commented on #2741
The keyboard commands related to navigation in the image viewer are defined in MapillaryJS. Before MapillaryJS 2.8.0 the commands were registered globally on the document as you had correctly noticed. The fact that MJS is not always used as a full screen application but often embedded as part of a webpage (sometimes even in many instances) or side by side with a map made us change this in Mapillar

[2017-10-16 20:05] GITNE commented on #2741
Hey, thank you for the clarification @oscarlorentzon! :+1:

I understand the reasoning behind this and from an API point of view it perfectly makes sense. But, perhaps in order to resolve the issue on the Mapillary website only, maybe it would be a good idea to create an instance of MapillaryJS on a branch for the website where keyboard shoutcuts are indeed registered globally. In other words, Map

[2017-10-17 00:26] ulikoehler commented on #2742
@nickplesha Thanks for responding so quickly.
Unfortunately CTRL does not change anything, even when pressing and releasing CTRL clicking just translates the image around.

Here's the error log you requested (after trying to create the tag and trying CRL):
https://gist.github.com/ulikoehler/fc2561ea425fec03c41b25d0fdaf6a76
error.txt contains the chrome log when the error occured. ok.log contains t

[2017-10-17 01:07] gyllen commented on #2743
@ulikoehler @ToeBee We had an error during the weekend, this should now have been fixed and actually all the tags you added should be there. closing and sorry for the inconvinience

[2017-10-17 01:07] #2743 closed

[2017-10-17 01:08] gyllen commented on #2161
@angelday Some good feedback ^^^

[2017-10-17 11:25] polarbearing opened #2744 "Webuploader: no method to resume stuck upload"
I had a sequence of 51 images which got stuck at image 38. There was no method (resume button or so) to continue the upload. The last resort was to reload the page. Having done so, the page told me that 38 images were uploaded. Thus the rest was missing. When starting the upload from scratch, there is no method to distinguish the already uploaded from the rest, thus they end up as duplicates.

[2017-10-17 13:37] ulikoehler commented on #2743
@gyllen The tags still occasionally disappear (though apparently less frequently), with the same issue being shown in the network tab (cancelled requests). However I can confirm that if you wait a few seconds the tags are added 100% reliably (so its mostly just a display error).

[2017-10-17 18:30] gyllen commented on #2743
@ulikoehler Thanks for reporting that, will give this feedback to backend team

[2017-10-17 19:47] Inyaheyukan commented on #2740
App Version 3.105

[2017-10-18 01:24] fgouget opened #2745 "The uploader's editor is unusable in Firefox"
* Platform: Linux
* Version: Debian Testing
* Browser: Firefox 52.4.0 64 bits

To reproduce:
* Start Firefox. Here Firefox 52.4.0 64 bits on Linux (Debian).
* Pick a set of pictures to upload and start tweaking their positions.
* Move any of the points representing a picture.

The lag is horrible: it takes seconds for the point to catch up with the mouse. Most of the time the point is invisible fo

[2017-10-18 02:01] fgouget opened #2746 "Mapillary ignores the 'Camera points forward' setting"
### Basic information
* Platform: Android 7.0
* Version: Mapillary 3.104 or 3.105
* System: Samsung Galaxy S7 (SM-930F)
* 'Force the use of the legacy Camera API = yes' due to bug 1931

### Steps to reproduce behavior

 1. Set the camera pointing direction to forward.
 2. Capture a sequence.
 3. Upload the sequence through the web uploader (or some other way, it probably does not matter).
 4. Clic

[2017-10-18 03:34] fgouget opened #2747 "Duplicate image positions"
### Basic information
* Platform: Android 7.0
* Version: Mapillary 3.104 or 3.105
* Browser: Samsung Galaxy S7 (SM-930F)

### Steps to reproduce behavior

 1. Set up the phone in a car.
 2. Setup the capture as follows:
    Distance based capture : yes
    Distance autocapture: 5m
    Photo min delay: 0s
    Force the use of legacy Camera API: yes
 3. Drive above 30 km/h.

### Expected behavior

R

[2017-10-18 17:04] nickplesha commented on #2742
@ulikoehler Thanks for the info, the bug should be fixed but let us know if you run into any other issues.

[2017-10-18 17:04] #2742 closed

[2017-10-18 17:51] Abbe98 opened #2748 "In the web upload dialog point to the HTTPS version of the legacy site"
![image](https://user-images.githubusercontent.com/2631719/31733926-4f08ed62-b43d-11e7-92c5-e0f57a036776.png)
The second link to legacy.mapillary.com (video upload link) points to `http://legacy.mapillary.com/map/upload/vi` instead of `https://legacy.mapillary.com/map/upload/vi`.

[2017-10-18 18:49] HolgerJeromin commented on #2746
Same or related to #2566

[2017-10-18 20:50] ligfietser opened #2749 "No handlers could be found for logger "exifread""
Since recently I can't upload any images with the Python script.
I have the following line in my batch file:

python d:\foto\Mapillary\scripts\python\upload_with_preprocessing.py --remove_duplicates --cutoff_time 300 --cutoff_distance 500 --auto_done %DIR% 2>log.txt

log.txt output see below.

### Basic information
* Platform: windows
* Version: `7`
* System/Browser: `...`

...

No handlers could

[2017-10-19 05:19] ToeBee opened #2750 "Verifier Game served up same image twice"
I can't be 100% certain but I got an image with a distinctive red object in the lower left corner. I approved the detection but then I am almost certain the same image came back to me again a few clicks later. Presumably you shouldn't be able to double verify your own verifications? I suppose it is also possible that the image got uploaded twice by the user so it is actually two different detectio

[2017-10-19 08:45] Eric-FR commented on #2747
Great analysis!!!
I already observed many time that pictures were not properly spread along tracks. See for instance:
https://www.mapillary.com/map/im/Z_j5YSfYvnXjIBK0LiXSDA
I was suspecting interferences between "distance based capture", "photo min delay" and cpu (over)loading at acquisition time leading to none periodic picture catching. Indeed, your "photo min delay" being set at 0.0s, such int

[2017-10-19 11:23] fgouget commented on #2566
This issue does look like it's the same as the one I reported in 2746.

However the title is wrong: Mapillary did not systematically point the pictures 45 degrees to the left. Initially it points them 135 degrees to the left. Then after the first roundabout it changes that to 45 degrees to the left. Then later forward (i.e. roughly keeping the same compass orientation). And after a big curve 135 d

[2017-10-19 12:04] pbb72 commented on #1931
@grinapo I think @ovivoda is referring to a general visual review of the photos. The halos and lack of detail are common results of applying an "unsharp mask" filter with too high a radius. (https://en.wikipedia.org/wiki/Unsharp_masking)

[2017-10-19 12:07] pbb72 commented on #1931
Though I must say, to me it still looks like an upsampled low-res photo, not the result of oversharpening.

[2017-10-19 14:14] ligfietser commented on #2749
I noticed the mapillary scripts were a few days older than the latest. I downloaded the latest and run my script again, now with a different error:

Traceback (most recent call last):
  File "d:\foto\Mapillary\scripts\python\upload_with_preprocessing.py",
line 13, in <module>
    from lib.exifedit import create_mapillary_description
  File "d:\foto\Mapillary\scripts\python\lib\exifedit.py", line 1

[2017-10-19 17:37] Alessandro-Barbieri opened #2751 "black's faces not blurred"
You can clearly see here:
https://www.mapillary.com/map/im/zh7KNNHs2E8tO1aNZ3R2eA
that the white male's face is blurred but the black female's face is not.

Have you trained the neural network with only white faces?

see https://www.recode.net/2017/1/18/14304964/data-facial-recognition-trouble-recognizing-black-white-faces-diversity

[2017-10-19 17:42] Alessandro-Barbieri opened #2752 "verification site not loading"
Trying to open

https://www.mapillary.com/verification/
https://www.mapillary.com/verification/p/

leads to the loading bar being stuck near 80%

[2017-10-19 17:49] Alessandro-Barbieri opened #2753 "verifier game and blurs"
Often the verifier game proposes images where the sign is blurred, how can we tell if it's the right sign if it's blurred?

[2017-10-19 20:04] ulikoehler commented on #2753
I have encountered the same issue. Here's an example:

![30kmh denmark blur example](https://i.imgur.com/ieSRQkt.jpg)

IMO it would be too complicated to add a "It's blurred" button for the normal user. I think however it would be good to include a link to the original image where users with Mapillary experience can remove the blur.

[2017-10-19 20:18] voschix opened #2754 "Blurring of faces with sunglasses often fails"
### Basic information
* Platform: `Web`
* Version: `current`
* System/Browser: `NA`

### Steps to reproduce behavior

 check blurring results

### Expected behavior

Faces with and without sunglasses should blurred

### Actual behavior

It appears as if I have a larger percentage of people wearing sunglassess amongst the missing face blurs

### Additional information

I have no statistics, so I ma

[2017-10-19 20:35] ulikoehler commented on #2753
The help
https://help.mapillary.com/hc/en-us/articles/115001964171#start
says that it shall be skipped if blurred but that's not made clear in the "in-game" tutorial

[2017-10-19 23:09] ulikoehler commented on #2753
Quick workaround for experts: If you can use the Chrome developer tools, go to the network panel and look for default.jpg . One of those default.jpg is the image currently shown in the verifier.
The URL looks like this:
https://d2qb1440i7l50o.cloudfront.net/weIgP3CCl95HQVEEH5yeMw/3728,1561,255,255/full/0/default.jpg

Copy the second part, in this example `weIgP3CCl95HQVEEH5yeMw` and copy it into t

[2017-10-20 04:43] ray66 opened #2755 "Detection of license plate fails frequently"
Blurring of license plates that are perfectly readable fails systematically when character size is below a certain size and/or the plate is not horizontal. This is very annoying as it obliges to go trough every recorded sequence to blur manually  in order to be compliant with local privacy legislation in many European countries. This consumes more time than the capturing itself.

Examples:

[examp

[2017-10-20 09:44] eugensim commented on #2751
#blackblursmatter  :)))

[2017-10-20 11:40] Eric-FR commented on #2718
Bug still present with 3.107 tested yesterday.

[2017-10-20 11:47] Eric-FR commented on #2751
+1.

I had the same feeling in Madagascar although I didn't have direct black&white comparison.

https://www.mapillary.com/map/im/QlfX9MTHB_Fq12h1S6tmHg

[2017-10-20 14:09] katrinhumal commented on #2744
Hi @polarbearing - actually, at this stage the uploader is able to recognise duplicates. That's because the images first get uploaded to the staging area, not straight to Mapillary. They only get sent to Mapillary when you hit "Publish", and after that, we can't recognise duplicates anymore.
But as long as you haven't published yet, the same images will not be uploaded twice. Try it out on a small

[2017-10-20 14:12] katrinhumal commented on #2745
Hi @fgouget and thanks for your feedback! As your tests indicate, Mapillary has currently been optimised for Chrome. Other browsers normally don't perform so well, as you just saw with Firefox. We're sorry about this but at this stage, we've decided not to put resources into optimising for every browser but instead choosing one and putting our energy into that. It sounds like you're able to use Ch

[2017-10-20 14:22] katrinhumal commented on #2754
@voschix you are probably right, I'm not sure we've had so many images of faces with sunglasses in the training data. Therefore, the algorithm would only have "half a face" to recognise (eyes are an important feature altogether in that) and is more likely to fail. I'll notify our computer vision team about this so that we can take this into account as the algorithm gets further trained!

[2017-10-20 14:42] katrinhumal commented on #2751
Thanks all! We put lots of work into improving the face detection algorithm and train it on as diverse data as possible, ranging from different skin colours to different lighting conditions. Luckily, Mapillary is getting more and more diverse examples to include in the set from very different parts of the world. So we're not only training on white faces, to answer the question directly, and we'll

[2017-10-20 14:44] katrinhumal commented on #2752
@Alessandro-Barbieri Thanks for pointing this out! So, these are not valid links, actually, but I suppose we shouldn't leave the impression that there's something to load there. Let's see what we can do about this.

[2017-10-20 14:50] katrinhumal commented on #2753
Thanks for this feedback! We're thinking of a way to streamline this. Also, we're including the instruction to "skip when blurry" in the onboarding, since it's indeed not an unusual case.

[2017-10-20 14:53] katrinhumal commented on #2755
Thanks for the examples @ray66! We're working on improving the detection algorithms to include more shapes and sizes of license plates. The improvements won't be seen instantly but as we gradually process everything with better algorithms, you will hopefully notice this. We really appreciate your work with manually fixing this!

cc @ybkuang to check out the particular examples referred to here.

[2017-10-20 16:44] ulikoehler commented on #2753
@katrinhumal Thanks!
I've noticed that e.g. when reloading a verifier task (F5), the same (blurred and previously skipped) images are shown to me again (apparently, at least). So when I go to the task again, amongst the first images shown to me are many I already skipped.

I am unsure if images where I clicked yes/no are also shown again, since they just might be very similar (same of course for t

[2017-10-20 16:55] ulikoehler commented on #2743
@gyllen I've tried again today and I didn't encounter this issue any more. Maybe its dependent on server load but in general I think its safe to assume it's fixed.

[2017-10-21 03:16] ray66 opened #2756 "Blur cannot be edited"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox 52.0.2`

### Steps to reproduce behavior

 1. Go to [this image](https://www.mapillary.com/map/im/MX0QDPej7r4eWXaEI1c1PQ)
 2. Select 'Edit blurs on this image'
 3. The plate of the car on the left is blurred but there is no green rectangle to edit the blur

Apart from this, blurring works well. Blurs on the previous and next image

[2017-10-21 03:38] ray66 commented on #2756
After editing blurs on another another sequence, I cannot reproduce this behavior. I close the issue.

[2017-10-21 03:38] #2756 closed

[2017-10-21 16:09] ToeBee commented on #2750
This is another one that I'm pretty sure got served up twice to me while idly verifying some things during SOTM-US.

![2017-10-20 17 52 48](https://user-images.githubusercontent.com/348948/31853564-397c5d5c-b650-11e7-97f4-3969586af2ca.jpg)

[2017-10-21 16:28] gyllen commented on #2750
@tobias-o Reassigning to you

[2017-10-21 16:29] gyllen commented on #2743
@ulikoehler Thanks for trying again, we are keeping an eye on this.

[2017-10-21 16:30] gyllen commented on #2749
@ybkuang Reassigning to you

@ligfietser It looks like you might have to `pip install PIL`

[2017-10-21 16:30] gyllen commented on #2748
@nickplesha Should be quick fix

[2017-10-21 16:32] ligfietser commented on #2749
@gyllen I already tried it, doesnt work for me.

[2017-10-21 16:51] gyllen commented on #2749
@ligfietser Ok, Im sure @ybkuang will know whats wrong, sorry for this

[2017-10-21 18:17] ybkuang commented on #2749
@ligfietser I think it is related to exifread library. Need to check if when I am with my laptop. Will keep you updated

[2017-10-21 20:43] ToeBee commented on #2754
Also hats and (probably more noticeable to me than most users) bicycle helmets tend to throw it off :)

[2017-10-21 20:55] ToeBee commented on #2475
I used the app again while walking to SOTM-US this weekend and this happened again.

See this image:
https://www.mapillary.com/app/?pKey=8Gke2-fdZN5Wvse8SJYhkw&focus=photo
Then step forward 3 images and you will see the same image in another location:
https://www.mapillary.com/app/?pKey=ArqB8_k9z6m9bIA99Xlc0Q&focus=photo

They are in different locations but have the same image data.

[2017-10-22 12:00] Eric-FR commented on #2751
A funny illustration: the lighter face on billboard is blurred, not darker people in the street.
https://www.mapillary.com/map/im/d8Co0Wadn4PVtTG6HBCXFw

[2017-10-22 16:10] fgouget opened #2757 "Some sequences exit in a pre and post-edit state"
### Basic information
* Platform: Mapillary website
* Browser: Chrome

### Steps to reproduce behavior

 1. Click on this sequence:
   https://www.mapillary.com/map/s/msLjCdXDus00CWToQAxF9Q

### Expected behavior

 1. The point that was clicked, and the ones it is connected to, turn blue.

### Actual behavior

 1. What looks like another sequence turns blue.

In fact it's the same sequence but bef

[2017-10-22 16:48] fgouget commented on #2745
Wonderful. I gave up editing sequences for months just because you decided to only support Google Chrome and couldn't be bothered to make that fact known!

[2017-10-22 17:51] ToeBee commented on #2553
I think this got better for a while but seems to be getting worse again over time.

[2017-10-22 22:20] HolgerJeromin opened #2758 "Allow closing app hint on website"
When opening the website with opera mobile i get a footer

But blurring is not possible in the app for example. It would be nice if i could get rid of the message and use the pixel space.

[2017-10-23 09:29] tobias-o commented on #2750
@ToeBee I deployed a fix. Please reload the tool and try again.

[2017-10-23 15:21] richlv commented on #2677
updated as soon as the new version was available, have used for a few full days since then - no hangs yet. probably need a few weeks of usage more - we can close this issue if nobody has experienced hangs with the latest version.

[2017-10-23 15:21] GITNE commented on #2553
Hmm, I have not seen any improvement. :disappointed: I still have to refresh multiple times to see my feed. If anything, it has probably gotten worse because now the same behavior can be observed even if I am not logged in. :cry: One has to keep in mind that blurs aren’t displayed (although maybe fetched) for logged out users.

[2017-10-23 15:28] richlv opened #2759 "blurs visible after blur mode closes"
find a sequence where blurs on the last image have to be changed.
make the changes, submit them. blur mode is automatically closed, but now blur control rectangles appear in the view mode.

[2017-10-23 15:55] voschix commented on #2759
I am seeing this as well. Started only recently

[2017-10-23 18:02] GITNE commented on #2745
@mapillary @katrinhumal

It would be really helpful to users to know this fact upfront. There should be a notice on the website somewhere, like in the cookie accept statement when using a browser other than Chrome.

This statement is unsubstantiated and not true.

Personally, I am a long time Firefox only user and had no idea that the mediocre experience I had with the sequence editor was due to n

[2017-10-23 18:14] GITNE commented on #2751
Basically a duplicate of #1349.

Unfortunately, there is not much one can do in the short term other than fixing these false negatives manually in the blur editor. In the long run, only manually acquired training data will improve automatic blurring.

@mapillary
Ideally, it would probably be best to have incremental training with every manual blur or tag applied but in reality continuous training

[2017-10-24 09:41] millenbop commented on #2677
Ok, closing this one for now. Let me know if anyone experiences it again and I'll reopen. Thanks for reporting in @richlv.

[2017-10-24 09:41] #2677 closed

[2017-10-24 13:27] katrinhumal commented on #2758
Thanks for the suggestion! This has been asked for in https://github.com/mapillary/mapillary_issues/issues/2726 as well so I'm closing here in favour of the existing issue.

[2017-10-24 13:27] #2758 closed

[2017-10-24 13:30] katrinhumal commented on #2475
@ToeBee thanks for reporting! Asking @ovivoda to take a look.

[2017-10-24 13:37] katrinhumal commented on #2745
@fgouget @GITNE After getting some input from our developer team, I realised I made a mistake with my formulation above. Asking @nickplesha to help clarify here. The good news is, things are not as bleak as I have managed to make them look.

[2017-10-24 13:40] nickplesha commented on #2745
Hey @fgouget and @GITNE , sorry about the poor performance you've been experiencing, I'll try to shed some light on this from a developers perspective. While it's true that we develop Mapillary using Chrome (pretty much only because of the Dev Tools included), we do spend a lot of effort on making sure it looks and feels the same on all major browsers (Firefox included). This includes writing code

[2017-10-24 14:01] fgouget commented on #2745
I'll just note that OpenStreetMap's ID editor works great in Firefox, with no lag at all when dragging a feature around, even in the middle of a city like Paris where there seems to be a lot more markers and lines than in any of the Mapillary areas I worked on.

Maybe figuring out how they avoid these issues can help improve Mapillary's editor (but then I know it can also be very hard to transfer

[2017-10-24 16:18] jfburke3 commented on #2746
I just want to make the observation that the last several builds I've used have done very well with the camera direction setting on my phones.  It used to be an issue for me as well, but seems to be pretty reliable now.

[2017-10-24 16:19] jfburke3 commented on #2566
It has been working pretty well for me in the last few builds.

[2017-10-24 16:23] jfburke3 commented on #2728
Subjectively, it seems that 3.107 doesn't suffer from this problem as much.  I drove through the mountains for several hours on Sunday, and the image seemed to flow much more smoothly than before.  Still has an occasional stutter, but not as bad.

[2017-10-24 16:24] jfburke3 commented on #2719
Subjectively, it seems that 3.107 doesn't suffer from this problem as much.  I drove through the mountains for several hours on Sunday, and seems to have much fewer GPS accuracy warnings.  Still had some, but it seemed to be not as bad.

[2017-10-24 16:25] jfburke3 commented on #2759
I've noticed it, too.

[2017-10-24 20:11] gyllen commented on #2757
@peterneubauer Can you have a look?

[2017-10-24 20:12] gyllen commented on #2759
@nickplesha I think we already might have an issue for this somewhere

[2017-10-24 20:21] HolgerJeromin commented on #2746
Same here.

[2017-10-24 20:22] HolgerJeromin commented on #2566
camera to front works. Yes. I have not tested 45 deg images....

[2017-10-24 20:23] #2566 closed

[2017-10-25 05:41] ToeBee commented on #2475
I am beginning to suspect a race condition in the Android app upload code. It happened several times in a single sequence and the duplicated photos are always 3 steps away from each other. I have the app set to use 3 upload threads. Coincidence?

https://www.mapillary.com/app/?pKey=FizBDlP75zy9TniBgH8Szw&focus=photo
3 steps forward:
https://www.mapillary.com/app/?pKey=8NzTABEzAb-SJhNqrhL9Dw&focus=

[2017-10-25 08:33] ray66 commented on #2755
Good to hear that you work on improving the blur detection algorithm. My main concern is to stress the importance of this issue. Currently on my captures **_none_** of the license blades that are 10 to 15 pixels high are detected. With the camera and resolution I use this corresponds to a distance of around 20 meters. In urban environment I get an average of one to two undetected plates per pictur

[2017-10-25 09:23] GITNE commented on #2745
@nickplesha Thank you for the clarification. :+1:

Can you fork `mapbox‑gl‑js` for Mapillary’s purposes and perhaps fix the drag‑and‑drop and overdraw issues there (potentially then merge back)? I am aware that his might be asking for a lot just to address one browser but on the other hand it is one of the major browsers. I suppose that the `mapbox‑gl‑js` developers did not have overdrawing and th

[2017-10-25 11:21] GITNE commented on #2755
If I may chime in here, I totally agree with this too. Not because of my personal opinion or taste but for **legal** reasons. Continuous training of the blur algorithm really must be a top priority.

Having said that, I am not sure this takes place at Mapillary today because I did not seem to observe any improvement on new images lately. Of course, this is only my subjective observation which may

[2017-10-25 11:31] GITNE opened #2760 "Closing “Computer vision detections” opens “Search tags” pane"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`, possibly others too

### Steps to reproduce behavior
1. Click on `Computer vision detections`
2. Click the `X` symbol to close the pane
3. `Search tags` pane opens

### Expected behavior
Clicking on the `X` symbol of the `Computer vision detections` pane should close it and not open any other pane.

### Actual be

[2017-10-25 12:40] GITNE opened #2761 "No more than 99 tags"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`, possibly others too

### Steps to reproduce behavior
1. Go to tag editor
2. Apply 99 + n tags

### Expected behavior
*Intuitively*, the number of tags per image should be unlimited. If a limit is intended then there should be a popup or some kind of message which says that the limit has been reached. Alternativel

[2017-10-25 13:56] GITNE opened #2762 "Unable to edit tags because of too many tags"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`, possibly others too

### Steps to reproduce behavior
1. Apply reasonably many tags
2. Exit tag editor
3. Click on `Tags`

### Expected behavior
The `Edit tags` button should always be accessible and the `Tags` pane must not grow beyond the size of the screen. Note that if `mapillary-js` has been embedded in a pag

[2017-10-25 14:04] fgouget commented on #2745
Interesting map. I never have anywhere near that many points where in my area.

Also, there's a big mess in the bottom left, near Morgan Circle Drive. It seems to be caused by a covered parking lot where the GPS data got crazy. I'm not sure that's worth keeping. Or maybe only as a test case for using image analysis to reconstruct each photo's GPS coordinates from scratch.

[2017-10-25 14:45] GITNE commented on #2762
Happens on high dpi devices too. :disappointed:
![tags hdpi](https://user-images.githubusercontent.com/15823872/32005110-c52014c4-b9a3-11e7-9238-3afbd830a01c.png "“Tags” pane on high dpi")

[2017-10-25 17:59] GITNE commented on #2745
A lot of these sequences are from video conversions where the camera has been kept running unattended and produced a ton of unnecessary useless footage.

I also agree that this kind of *mess* is practically pretty useless and barely usable because you cannot even see the map anymore. You cannot navigate in space sanely either, even though you have like *three photos per inch* in this area which sh

[2017-10-25 20:42] ToeBee commented on #2750
I think I have been served up this image 3 times today on the right turn one: [j6vM1YdNXXvoI8hHRer6Fg](https://www.mapillary.com/app/?pKey=j6vM1YdNXXvoI8hHRer6Fg). I'm guessing it is trying to serve up ones that someone else has already validated to get points assigned quicker?

[2017-10-25 21:03] ToeBee commented on #2475
Well maybe it **is** just a coincidence. I changed the app to use 4 threads and my last upload still has duplicated photos 3 steps apart:

https://www.mapillary.com/app/?pKey=iic4JWRsKznwq13bDlnbBw&focus=photo
and
https://www.mapillary.com/app/?pKey=L9JNap5dptKhHc037ckmbw&focus=photo

[2017-10-25 21:38] ToeBee commented on #2475
Another two in a single sequence (uploaded with 3 threads):

https://www.mapillary.com/app/?pKey=0u0qIlVxODzscLk_5xQxmw&focus=photo
and
https://www.mapillary.com/app/?pKey=fx-FRwA001WAJv1ODSF__Q&focus=photo

https://www.mapillary.com/app/?pKey=kM4q72CGMJkvbmWQnRMPYw&focus=photo
and
https://www.mapillary.com/app/?pKey=UFXMtqbKfuddfEm5ksGWGQ&focus=photo

[2017-10-25 21:42] ToeBee commented on #2750
So that last one might be a false positive. The user took a bunch of pictures at that location while standing still. From the bit of image shown in the verification tool I can not tell if it is actually the same image or not. I got the image key by having bringing chrome dev tools up and then hitting the "back" button in the verifier tool and pulling it out of the image URL. I only did this the la

[2017-10-26 09:03] katrinhumal commented on #2753
@ulikoehler Thanks - we'll see what we can do about remembering the skip behaviour. I understand it's confusing and in some cases even frustrating when you see the same image again and again - it's not like it's going to be any clearer to you the other times. As for unblurring, it can take some time for it to "kick in" - also on our web you might not see the approved blur in effect for up to 24 ho

[2017-10-26 09:26] katrinhumal commented on #2755
Thanks for the insights, everyone. This really sums up the main reasons for putting time and resources into our blur algorithms. I understand it doesn't always seem obvious that it's getting better but we'll keep striving in any case.

@ToeBee great minds think alike! ;) Considering the context of the detected license plate is exactly one of the things that we're developing that should help judge

[2017-10-26 11:42] thoschu96 opened #2763 "Sequence Cut"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox`

### Steps to reproduce behavior

 1. Try to make an Sequence cut
 2.
 3.

### Expected behavior

Should find a Button to make an Sequence Cut

### Actual behavior

Found no way to make an Sequence Cut. Trying to use the Legacy Url, it's only throw an error

### Additional information

...

[2017-10-26 13:36] Eric-FR commented on #2751
That's what I'm doing now: follow sequences, remove all false positives and add blur to faces and ID plates, with the secret hope that, one day, this will be efficiently used as training material for AI learning.

Indeed, when I see the large number of false positives, especially for ID plate, I think there is still a long way. I have the feeling that it is based on pattern detection. When I'm usi

[2017-10-26 13:50] Eric-FR opened #2764 "Feature request : Minimum delay between pictures in sequence auto-navigation"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

When using the automatic advance option while navigating through a sequence, I find the speed too high, especially when pictures are widely spaced. I would like an option to go slower, for instance setting a minimum delay between two successive pictures.

[2017-10-26 14:04] Eric-FR opened #2765 "Feature request : in edit blur mode, stop on next blur"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

I'm doing a lot of blur corrections on sequences recorded on out-of-town roads. Considering the large number of false positives, I'm looking for a method to easily find false positives. Therefore, I think that, when in edit mod, with auto-advance on, an option to stop on next blur would be useful. So, I would be able to revi

[2017-10-26 16:38] dekarl commented on #2593
Can we get a "remove this blur" shortcut for the verification of detected traffic signs? It appears as if the machine looks at the raw image without blurs applied.
Maybe a detected traffic sign can be an input for the blur decision?

[2017-10-26 17:11] GITNE commented on #2753
I think I have observed the same. However, it is very difficult to prove it unless you track the image keys served. Or, maybe it is just my human imperfection or fuzziness which eludes me? @oscarlorentzon @tobias-o Anyway, I have also noticed that it is much more common or probable to happen when you are the first one and/or only one to review a category. It is also more probable to have an image

[2017-10-26 17:21] GITNE commented on #2765
This is probably going to be best addressed with the verification game, since it is very well suited to quickly find false positives and confirm true positives. @mapillary In this case it might be a good idea to let the users choose a sequence first and then run the verification game on it, instead of randomly serving blur positives. Most users who care for blurs tend to care about their sequences

[2017-10-26 17:30] GITNE commented on #2750
I think I have observed the same. However, it is very difficult to prove it unless you track the image keys served. Or, maybe it is just my human imperfection or fuzziness which eludes me? @tobias-o @gyllen Anyway, I have also noticed that it is much more common or probable to happen when you are the first one and/or only one to review a category. It is also more probable to have an image served t

[2017-10-26 18:31] simonmikkelsen opened #2766 "Feature request: Verification: Arrows shortcuts"
### Basic information
* Platform: `Web`
* Version: Newest
* System/Browser: Chrome

### Steps to reproduce behavior

 1. Go to the verification feature.
 2. Select task.
 3. Click a lot - discover that you spend a lot of time moving the mouse.

### Expected behavior
Arrow keys would be a lot faster: ok up, no down, back left, skip right.
A bonus would be vi shortcuts: hjkl :-)

### Actual behavior

[2017-10-26 18:35] simonmikkelsen opened #2767 "Feature request: Verification: Show next image"
* Platform: `Web`
* Version: Newest
* System/Browser: Chrome

### Steps to reproduce behavior

 1. Go to verification page
 2. Pick task
 3. Discover that you often click ok to an image, because most are ok, and you then have to go back.

### Expected behavior
Show the next image close to the current one - e.g. to the left on below. This will cause me to press the right button a lot more. Especial

[2017-10-26 22:02] Alessandro-Barbieri opened #2768 "random verifier task"
* Platform: `Web`

To reduce the sense of boredom, make a verifier project with random tasks that change every n photos.

[2017-10-26 23:37] Alessandro-Barbieri opened #2769 "Consider removing unfocused/bad photos"
I see in the verifier game that a lot of mis-interpreted signs come from unfocused/shaken/bad photos.
Consider removing them from the database (what kind of information can you extract from these photos?)

[2017-10-27 02:20] voschix commented on #2769
I would caution against removing shaken or unfocused photos. They may still
allow to obtain some information like: type of highway, estimated width,
presence of illumination (on night photos), presence o buildings, trees,
bridges, tunnels,...
I admit to be biased as a producer of many such photos, but they
surprisingly often still carry information. Extracting traffic signs is not
the only purpose

[2017-10-27 07:14] echeloni2p commented on #2769
HI

unsharp/blurred pictures maybe removed in areas with coverage of good pictures.

echelon

[2017-10-27 10:06] katrinhumal commented on #2769
Thanks! @voschix is right that even blurry images can contain information so the bulk of the less-than-perfect images are still very useful. Of course, there are some extreme cases when you barely understand what's in the image because it's so blurry - but these are a minority. These can be removed with the editor (https://help.mapillary.com/hc/en-us/articles/115001638129-Editing-sequences). Just

[2017-10-27 10:06] #2769 closed

[2017-10-27 10:09] katrinhumal commented on #2768
@Alessandro-Barbieri We're planning to add a switch option into the next version of the game so you can easily go and choose another task at whatever moment you get bored with the current one. Stay tuned! Closing here since this is already tracked internally.

[2017-10-27 10:09] #2768 closed

[2017-10-27 10:19] katrinhumal commented on #2767
@simonmikkelsen Thanks for the input! First, let me assure that we are thinking to add keyboard shortcuts. And I would like to check if I have understood your problem correctly: do you feel like you keep clicking the same answer (approve or reject) out of habit, and only a moment later you realise you might have clicked wrong, resulting in that you need to go back and check it again? I'm not compl

[2017-10-27 10:19] katrinhumal commented on #2766
@simonmikkelsen Glad to say that we are planning on adding keyboard shortcuts to the next version! Closing here since this is already tracked for us internally. :)

[2017-10-27 10:19] #2766 closed

[2017-10-27 10:31] katrinhumal commented on #2751
@Eric-FR Very good points. A part of the improvements that we're doing to the blur algorithms is exactly what you said - to take the context more into account. So the detections around the detected face or licence plate will help judge if it's correct, before blurring.

[2017-10-27 10:41] katrinhumal commented on #2593
@dekarl Thanks for the input! We're thinking about how to solve this the best way and also are working on interrelating the different detections so that they help verify each other.

[2017-10-27 10:45] katrinhumal commented on #2765
@Eric-FR I feel I'm not completely following how your workflow goes. If you are playing the sequence (auto-advance) and want it to stop only at the next image that has blurs then how about the "review all intermediate pictures for missing detection" - you would just auto-play past the images where no blurs have been marked by the algorithms. Could you help me understand by explaining a bit more in

[2017-10-27 10:55] katrinhumal commented on #2764
@Eric-FR Thanks for the suggestion! We've heard it a couple of times before that people would like to be able to adjust the speed of the autoplay. I'm adding your feedback to our internally tracked issue and closing here.

[2017-10-27 10:55] #2764 closed

[2017-10-27 11:00] katrinhumal commented on #2763
@thoschu96 We don't currently have the option for you to request a sequence cut. Sequence cutting is done by an automatic bot that runs daily and cuts where images are too wide apart. If you think it hasn't been working in specific places, please report and we can take a look and if necessary, manually trigger a rerun of the bot for that area/sequence.

[2017-10-27 11:06] katrinhumal commented on #2760
Thanks for reporting! We've just provided a fix for this and it will be in effect soon. :)

[2017-10-27 11:06] #2760 closed

[2017-10-27 11:25] thoschu96 commented on #2763
![image](https://user-images.githubusercontent.com/10342344/32101863-353c3a22-bb1a-11e7-89f8-b5386e70b7a6.png)
Yep. there is a Sequence which is messed up, however ... next to Town : Lungern

[2017-10-27 12:17] katrinhumal commented on #2763
@thoschu96 Thanks for sharing - we'll manually rerun to fix this.

[2017-10-27 12:19] Eric-FR commented on #2765
I start auto-play and I'm ready to stop it if I see:
- people
- vehicle
- false positive
First, I mainly stop for false positives. Second, I usually stop too late and I have to move back to the previous picture(s). Moreover, I stop too late on false positives because they appear suddenly. In opposite, I usually stop before or on the right picture for people and vehicle (driving the same direction

[2017-10-27 13:17] kaitu commented on #2659
I just incurred in the same issue: distance based setting was ignored. It took me a while to figure out that the skip location setting was the culprit, therefore I wouldn't call this exactly a self-resolving issue. Shouldn't be difficult to fix either.

[2017-10-27 13:26] kaitu commented on #2765
related to #2134

[2017-10-27 14:31] amilopowers commented on #2546
Are you guys actively working on this?

[2017-10-27 21:26] gyllen commented on #2546
@amilopowers Yes

[2017-10-27 21:26] gyllen commented on #2761
@nickplesha elevate

[2017-10-27 21:27] gyllen commented on #2762
@angelday Design feeback

[2017-10-28 00:35] Alessandro-Barbieri commented on #2769
@voschix you can just look at the next/previous image and extract data from there. Bad images not only make a bad street-view like experience but also waste resources on the training algorithm (which have to learn how to recognize bad extracts)

[2017-10-28 00:39] Alessandro-Barbieri commented on #2769
This is bad: unlike in openstreetmap the community can't run QA tools on the database and then request removal so it's all on your hands providing image quality.

[2017-10-28 00:46] Alessandro-Barbieri opened #2770 "Captcha like verification"
I think it's more efficient to review a number of signs at a time instead of one by one.

What I propose it's a grid of images, every image clickable like captcha.

Unlike captcha no need to instantly replace the image.

A button in the page will submit all the verified task.

[2017-10-28 00:50] Alessandro-Barbieri opened #2771 "go to original in verifier game"
It's possible to have a button in the verifier game (or click on the image) for going to the original image.

Will help in requesting unblur/deletion/whatever.

[2017-10-28 06:01] voschix commented on #2771
No, for protection of privacy.
Access to unblurred photos is only possible for the author of each photo.

On 28 Oct 2017 2:50 a.m., "Alessandro Barbieri" <notifications@github.com>
wrote:

[2017-10-28 09:50] ray66 opened #2772 "Feature request: Add help information on web app"
I propose to add a help button to the web interface. The help page should explain the different ways to navigate through the images. In particular, there is missing information on keyboard shortcuts.

[2017-10-28 12:03] Eric-FR commented on #2718
Bug still present with 3.108. Is there something that I can do to help solving this bug?
Are all contributors concerned or just an unlucky fraction?
I'm planning a long trip next Wednesday with large uncovered parts and this bug will be a serious drawback.

[2017-10-29 00:36] Alessandro-Barbieri commented on #2771
Sorry for the confusion, I was referring to the possibility to jump from the extract currently on review to the page with the photo.
I read in a comment that an user is doing manually this with google chrome (extracting the key and then pasting in the link)
I'm not interested in the "true" original.

[2017-10-29 07:55] Eric-FR commented on #2771
Even as author of a photo, I don't know how to access to the unblur version, especially in blur edit mode.

[2017-10-29 08:17] gmng commented on #2609
@ovivoda
The shutter sound gone. Thank you!
(tiny bug. Totally different issue. When I capture a sequence lets say with 150 images and then I delete manually the blurry images, lets say 20images, when I upload the sequence it displays "uploading 1 of 150, not 130.  Just a little bug, It doesn't re-count the images after I delete some.)
Sorry for my poor english, I hope you understand what I wanted

[2017-10-29 09:06] voschix commented on #2771
@Eric-FR

Even as author of a photo, I don't know how to access to the unblur

When you are in blur edit mode
1) click "Exit Editor"
2) In the "Image details" panel click "Download unprocessed original" (only
visible when viewing one of your own photos)

[2017-10-29 09:17] Eric-FR commented on #2771
Ok... but, how to access to the original in blur edit mode? Sometimes, a large part is incorrectly blurred although a small part inside need to be blurred. So I first remove the false positive but, then, the area remains blurred so it is difficult to select the detail to be blurred.

[2017-10-29 11:12] voschix opened #2773 "Traffic signs deteceted without Mapillary images"
### Basic information
* Platform: `Web`
* Version: `up-to-date`
* System/Browser: `Firefox', 'Chrome'. 'edge` on Windows

### Steps to reproduce behavior

 1. Open https://www.mapillary.com/app/?focus=map&pKey=tMinRxpx6IjkD9Jf2Ps4xA&lat=45.214358521191&lng=12.032855352790932&z=15&menu=false&signs=true&mapStyle=mapbox_streets
 2. zoom out two steps

### Expected behavior
Detected traffic signs are

[2017-10-30 07:58] angelday commented on #2762
`I got 99 tags, but adding one more ain't one`

As a quick fix let's give it a fixed height (based on viewport size?) and make the list scrollable. How about that @nickplesha ?

cc @Stephenduffy

[2017-10-30 09:01] katrinhumal commented on #2659
Assigning @ovivoda here so he has this on his radar.

[2017-10-30 09:04] katrinhumal commented on #2770
@Alessandro-Barbieri Thanks for your feedback! Will share this with the team, we also thought about this option but for now decided to go with the one-by-one solution that works both on desktop and mobile. As we develop further, we might consider the grid option again for desktop.

[2017-10-30 09:08] katrinhumal commented on #2771
@Eric-FR Unfortunately, it takes time for the displayed blur to catch up (due to cache) so this will remain an issue for now in the blur editor.

@Alessandro-Barbieri Adding a link to the image on Mapillary is another thing that we're considering to add in the next versions of the game. Thanks for adding weight to the suggestion!

[2017-10-30 09:55] katrinhumal commented on #2772
Hi @ray66 - thanks for pointing this out! I've improved the help page by adding information about the shortcuts: https://help.mapillary.com/hc/en-us/articles/115001662325#navigation. We'll also look into making help more visible.

[2017-10-30 09:55] #2772 closed

[2017-10-30 15:00] katrinhumal commented on #2773
Just adding a few pieces of information here: for this link https://www.mapillary.com/app/?focus=map&pKey=tMinRxpx6IjkD9Jf2Ps4xA&lat=45.213334212484256&lng=12.03998308502969&z=16&menu=false&signs=true&mapStyle=mapbox_streets I get this view:
<img width="1270" alt="screenshot 2017-10-30 15 59 32" src="https://user-images.githubusercontent.com/16334352/32177793-70a963b4-bd8b-11e7-9c72-ded5ff5551c1.p

[2017-10-30 15:02] katrinhumal commented on #2763
@thoschu96 we went over this again and it should be better now - please check and confirm. :)

[2017-10-30 15:59] nickplesha commented on #2759
Thanks for reporting! This should now be fixed.

[2017-10-30 15:59] #2759 closed

[2017-10-30 16:01] nickplesha commented on #2762
Thanks for reporting! This has been fixed so list should become scrollable when a lot of tags are in the list.

[2017-10-30 16:01] #2762 closed

[2017-10-30 16:11] katrinhumal commented on #2769
I think it might be these logs: https://drive.google.com/file/d/0B19mmCKTPBRYejZTWlo4TnRpbTg/view?ts=59f72da9

[2017-10-30 17:44] voschix commented on #2773
The view I had in mind is the one below. The missing sequence is the one along the SR516 road in the top left quadrant.
![orphan traffic signs in mapillary](https://user-images.githubusercontent.com/11076112/32186354-2c3e9fd4-bda2-11e7-983f-d829b89af090.jpg)

[2017-10-30 17:52] GITNE commented on #2762
@nickplesha Works as expected now. Thank you for fixing this so quickly! :+1:

[2017-10-30 17:55] GITNE commented on #2760
Works as expected. :smile: Thank you for fixing this issue so quickly! :+1:

[2017-10-30 18:27] GITNE opened #2774 "Blur editor breaks tag editor"
### Basic information
* Platform: `Web`
* Version: `any`
* System/Browser: `Firefox`

### Steps to reproduce behavior
1. Go to any image
2. Go to blur editor
3. Exit blur editor
4. Go to tag editor
5. Select any tag
6. Drag a rectangle tag

Notice that the rectangle tag simply vanishes and the tag is discarded. No tags can be added.

### Expected behavior
The tag editor should work as expected ind

[2017-10-30 18:47] gyllen commented on #2773
@peterneubauer Can you check the data?

[2017-10-30 19:27] Alessandro-Barbieri opened #2775 "add fast-forward button"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox`

Would be nice to add a fast-forward like button in the web interface to jump to the first image of the current sequence.

[2017-10-30 19:31] AllenGraetz opened #2776 "31 MPH - Trenton, TN"
An edge case for the AI folks.   Trenton, TN has a 31MPH speed limit, not 25, 30, 35, etc. that are usually found.     They'll want to update the AI at some point to be able to recognize this.

Also, any plans on adding something to the desktop web GUI to enable us to flag traffic signs that the AI missed?   grax

https://www.mapillary.com/app/?lat=35.97956388888889&lng=-88.94172500000002&z=17&pKe

[2017-10-30 19:46] Alessandro-Barbieri opened #2777 "photos shown with compass 0 in sequence editor"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox`

### Steps to reproduce behavior

 1. edit a sequence

### Expected behavior

Photos shown with the right compass direction in the map and in the `Compass Angle` cell

### Actual behavior

Photos shown with compass angle 0

### Additional information

correct angle shown normally

![screenshot-2017-10-30 mapillary - street-level i

[2017-10-30 19:52] richlv commented on #2759
yay, thank you for the fix :)

[2017-10-30 20:00] GITNE commented on #2776
:laughing: To be honest with you, I do not think the AI needs an update—it’s more like someone at the transportation authority or police department needs a brain update. Sure, this is a perfectly legal sign but it is pointless not to post a standard mass produced 30 mph speed limit sign—which is also cheaper and has the same effect. If the AI detects this sign as a 30 mph sign then thumbs up (and

[2017-10-30 20:30] GITNE commented on #2777
Basically, this is correct. It takes some to reprocess the sequence and update the backend cache. Just wait for about an hour. :wink:

[2017-10-30 20:41] GITNE commented on #2759
@nickplesha Thank you! Works for me now too! :smile:

[2017-10-30 20:54] GITNE commented on #2769
@mapillary I basically agree with @voschix here. Mapillary should give some sort incentive to users to produce quality images, not only quantity for the leaderboard. And, as @voschix has pointed out, algorithms do exist to score image quality. But, I also understand that implementing this is not a top priority right now.

[2017-10-30 21:03] GITNE commented on #2773
I can confirm this issue.

The sequence probably has not been *lost*, it is more like the sequence has been **deleted** and the detected objects remained. :wink:

[2017-10-30 21:16] GITNE commented on #2773
Hmm strange, :confused: if I click on one of the signs *lacking a sequence* then the image belonging to the detected sign comes up. Then, I can click the image and lock on it. Locking on the image also enables me to go to the sequence editor where the full sequence is displayed properly.

[2017-10-30 21:36] GITNE commented on #2773
@voschix Sorry, I did not realize that it was actually your sequence which does not display. Then, I guess your sequence might have indeed got *lost*. :smiley: But, since the sequence is editable in the sequence editor, it looks like it did not get *lost* nor was deleted but is issue to a rendering problem on the client side.

[2017-10-31 12:12] kolen opened #2778 "Adding tag while request to add tag running causes new tag to disappear in UI"
### Basic information
* Platform: `Web`
* Version: I don't know, accessed 31 Oct 2017
* System/Browser: `Chrome 63.0.3239.18`

### Steps to reproduce behavior

 1. Go to tag editor
 2. Add some tag
 3. While spinning indicator on tag in sidebar is still spinning, add another tag. For example, find photo with 2 manholes and try to quickly draw both. API is quite slow now so you don't have to do it

[2017-10-31 12:50] katrinhumal commented on #2769
Thanks for all your insights! I'll make sure to share with the team.

[2017-10-31 12:51] katrinhumal commented on #2760
Thanks to @nickplesha ;)

[2017-10-31 16:44] Alessandro-Barbieri commented on #2769
An alternative to removal is to hide bad images or to opt-out with a switch in the web view (so will not be visible if the user don't want).

[2017-10-31 16:47] Alessandro-Barbieri commented on #2777
@GITNE 21 hours later the issue is still there

[2017-10-31 17:21] voschix commented on #2773
I suspected it was one of my sequences, but was not sure. Anyway it does not matter whose sequence it is, that is hidden.
...
I have looked a bit closer now.
My sequences from 8 May 2016 are strange.

On that day I guided a combined car-bicycle-car tour as follows:
1) Padova - Taglio di Po by car (attached zip - GPX track 1)
2) round teip by bicycle Taglio di Po - San Basilio - Taglio di Po (attac

[2017-10-31 18:12] GITNE commented on #2773
I meant it in the sense that you would have known if you would have deleted your own sequence. Hence, in that case it would have been okay to assume it might have been somehow *lost*. :wink: Anyhow, fortunately nothing is lost nor deleted. So, apparently it is either the rendering or the JSON object returned by the server causing the issue.
Btw, thank you @voschix for providing more detailed infor

[2017-10-31 18:27] GITNE commented on #2778
I have observed the same issue in Firefox. Sometimes, all other existing tags just disappear (they are not deleted, they just aren’t displayed). This usually happens if you complete drawing a tag before the previous tag request to the server has been completed. On even less occasions, tags are truly dropped. In other words, the tag is not queued for a request nor a request to the server is made. T

[2017-10-31 18:32] Alessandro-Barbieri commented on #2773
ROFL
I can explore the deleted sequence!

sequence 4BG8RFlanA5ZS7MuraCh_g

![screenshot-2017-10-31 mapillary - street-level imagery powered by collaboration and computer vision](https://user-images.githubusercontent.com/10689739/32241957-d0cbd29a-be71-11e7-846c-a39f03267385.png)

[2017-10-31 18:36] voschix commented on #2773
The Mapillary team need to understand what happened.

I am happy that I detected by sheer accident that my pictures of that trip are hiding somewhere in the folds of your database. From my point of view it would be enough just to retrieve all my photos from that day, even without GPS data (as I have my independently recorded GPX tracks).

[2017-10-31 18:47] GITNE commented on #2777
Please, share the sequence key or any image key of the sequence in question, so that @mapillary and others can take a look at it.

[2017-10-31 18:50] Alessandro-Barbieri commented on #2777
key of sequence: `qJnmLiLpwYmgv6nOdBwgtw`

[2017-10-31 18:53] peterneubauer commented on #2773
Will try to check things out tomorrow...

On Oct 31, 2017 7:36 PM, "Volker" <notifications@github.com> wrote:

[2017-10-31 19:07] GITNE commented on #2777
I observe the same behavior on this sequence. But, I am in Firefox too, so nothing new here.

@Alessandro-Barbieri Did you edit the sequence in the web uploader or the sequence editor afterwards? There might also be an issue with the EXIF data in the images themselves.

[2017-10-31 21:37] floscher opened #2779 "Improvements for detection verification"
### Basic information
* Platform: `Web`

### Steps to reproduce

 1. Verify signs via https://mapillary.com/verification/projects

### Suggestions

- [ ] After verifying detections for a while, I noticed, that some of the detections were shown to me multiple times. This is probably not intended and depending on how you count that, it maybe gives me points without another mapper verifying the detec

[2017-10-31 22:50] stevage opened #2780 "Wide-angle mode for LG G6"
I have an LG G6 which has two camera modes: wide-angle and normal. Mapillary seems to only use the normal mode, which isn't ideal. eg: https://www.mapillary.com/app/?lat=-37.89800941393036&lng=145.57598026417907&z=17&pKey=KX4KoEx2qbHZdsytKuNLww

Is there a way to enable the wide-angle, or could there be?

[2017-11-01 15:22] voschix commented on #2773
The Mapillary team need to understand what happened.

I am happy that I detected by sheer accident that my pictures of that trip are hiding somewhere in the folds of your database. From my point of view it would be enough just to retrieve all my photos from that day, even without GPS data (as I have my independently recorded GPX tracks).

[2017-11-01 15:22] voschix commented on #2773
The Mapillary team need to understand what happened.

I am happy that I detected by sheer accident that my pictures of that trip are hiding somewhere in the folds of your database. From my point of view it would be enough just to retrieve all my photos from that day, even without GPS data (as I have my independently recorded GPX tracks).

[2017-11-01 15:30] kolen opened #2781 "Disable tag hover while dragging when drawing new tag's bounding rectangle"
### Basic information
* Platform: `Web`
* Version: `? (1 Nov 2017)`
* System/Browser: `Chrome`

### Steps to reproduce behavior

 1. Open tags editor
 2. Find existing tag or create new tag until green dot icon appears
 3. Start creating another tag: press mouse button nearby, and while holding left mouse button, move mouse over green dot of exsiting tag

### Expected behavior

Existing tag does n

[2017-11-02 09:22] GITNE commented on #2761
Seems to be fixed, at least for Firefox on Windows. @nickplesha Did you do anything?

[2017-11-02 10:44] Alessandro-Barbieri commented on #2777
@GITNE I removed some unfocused photo in the area but I don't remember if that sequence had one.

[2017-11-02 11:00] nickplesha commented on #2761
@GITNE Yes, this should be fixed deployed now! The limit was on only how many tags are shown in the viewer/editor, all tags were saved.

[2017-11-02 11:00] #2761 closed

[2017-11-02 14:34] drkludge commented on #2769
I am not Ansel Adams.  I don't pretend to be.  I am driving most of the time and I don't worry about what the camera is doing.  I am eating my Dog Food while editing OSM right now.  Some of my most useful work may fall into the bad images category but I am getting the information for completing edits in OSM.  I flood an area with pictures and Mapillary magically stitches the pictures together.  Mo

[2017-11-02 15:26] severinmenard opened #2782 "Setting Distance based capture once for all"
I noticed on my Android app for my Moto G5 than the Distance based capture parameter is deactivated whenever you switch from automatic to manual capture mode when capturing. The capture mode becomes automatically time based, therefore you need to go back to the settings/capture to reactivate the distance based capture mode.

[2017-11-03 05:25] parpy commented on #2749
move to "mapillary_tools-master"

[2017-11-03 13:18] katrinhumal commented on #2779
@floscher Thanks for the feedback! We plan to address the "link to image" in further iterations of the game. For the rest of your items, since they sound like bugs, I'm pulling in developer help here.

[2017-11-03 13:31] katrinhumal commented on #2774
@GITNE thanks for reporting and sorry for the slow response. This should be fixed now, can you please check and confirm at your end?

[2017-11-03 13:36] katrinhumal commented on #2775
@Alessandro-Barbieri Thanks for the suggestion! I'll pass it on to the team so we can discuss this when we develop the viewer further. The thing that's holding us back from adding lots of buttons is that the interface would become very cluttered.

Meanwhile, I can suggest two ways for you to get to the beginning of the image:
1) zoom out on the map until you see the endpoint of the current sequenc

[2017-11-03 13:36] #2775 closed

[2017-11-03 13:41] katrinhumal commented on #2776
@AllenGraetz Thanks for pointing out this curious case! I'll definitely mention this to our computer vision team. And yes, we plan to make more tools available within the "[Human in the Loop](http://blog.mapillary.com/update/2017/10/12/human-in-the-loop.html)" concept but we're not at the stage yet to say anything specific about what and when. Very glad to hear you're interested in this!

Closing

[2017-11-03 13:41] #2776 closed

[2017-11-03 14:31] nickplesha commented on #2774
While going from blur mode to tag mode should work fine now, it seems going back to blur mode and then to tag editor the second time will reproduce this error again. Sorry, we'll fix the underlying issue completely soon. :)

[2017-11-03 15:28] katrinhumal commented on #2778
Thanks for reporting! We've been fixing a number of issues in the tag editor and on my side it looks like this problem has been resolved along the way as well - I am not able to reproduce the issue. When I add tags fast enough to see several of them "processing", they all end up being added to the image as the processing stops. Can you please check and let me know if you still experience the issue

[2017-11-03 15:35] katrinhumal commented on #2780
@stevage Thanks, that's a good question! So good, in fact, that I'm referring it to our Android developer. :)

[2017-11-03 19:42] floscher commented on #2115
The redirect from `http://a.mapillary.com` to `https://a.mapillary.com` is broken again.
Both http://a.mapillary.com and https://mapillary.com now both time out (no longer the errors mentioned above).

[2017-11-03 20:21] habi opened #2783 "Map display could be bigger (on iPhone SE)"
### Basic information
* Platform: `iOS`

### Steps to reproduce behavior
- Record images, on an iPhone SE

### Expected behavior
- Looking at the glorious map filling the whole scree

### Actual behavior
- The map does not fill the whole available space, as marked yellow in the screenshot.
![img_e4645](https://user-images.githubusercontent.com/1651235/32394315-00283584-c0dd-11e7-832e-d1062bbeffa4.

[2017-11-03 21:23] gyllen commented on #2779
@knikel Looks like some bugs to extract from here, elevate

[2017-11-03 21:24] gyllen commented on #2777
@nickplesha investigate

[2017-11-03 21:25] gyllen commented on #2115
@martinskans elevate

[2017-11-04 14:33] mxa commented on #2777
I have set the Android app to use the compass, yet after uploading all images point north. My device definitely has a compass. Is that the same issue? [Sequence](https://www.mapillary.com/map/im/OLEzLN58BkHSSjWl4PY06Q)

[2017-11-04 16:25] Eric-FR commented on #931
Still work in progress for Android?
I would also be interested by the possibility of selecting the area for exposure calculation. With white sky, I get poor results with under exposed road and traffic signs.

[2017-11-05 00:04] Alessandro-Barbieri commented on #2777
My last sequence have this issue and I can confirm was taken with compass

[2017-11-05 02:45] GITNE commented on #2774
Confirmed. Seems to work as expected on first attempt now. On second attempt, the reported behavior can still be observed. Thank you for investigating. :smiley:

[2017-11-05 03:44] GITNE commented on #2776
![9½ mph speed limit](https://c1.staticflickr.com/7/6048/5912166105_4133c3202a_b.jpg "9½ mph speed limit")![7½ mph speed limit](https://farm1.staticflickr.com/22/24344425_5b4afa6802.jpg "7½ mph speed limit")

So, they do exist, and not only on private property. It’s a pity I cannot find any examples on Mapillary but there are images. They came up in the verification tool.

On the other hand, these

[2017-11-05 07:58] mhamrle opened #2784 "No traffic signs detected in Switzerland"
I recently uploaded few traces from Switzerland and wanted to map speed limit into OSM. But I have not found any detected traffic signs. After small small investigation I have not found any detected traffic signs (found some only from 2015).

[2017-11-06 08:11] katrinhumal commented on #2784
@mhamrle Thanks for reporting! Depending on how soon after uploading you checked for this, it might have been that the signs were not yet processed. Can you please link to the sequence(s) that you're referring to?

[2017-11-06 08:34] millenbop commented on #2783
Thanks for reporting! I'll fix.

[2017-11-06 09:07] voschix commented on #2784
It looks as if this is systematic and independent of dates. Traffic sign
recognition on Mapillary tracks fizzles out as soon as you enter
Switzerland. It's not a hard border, but I could not find any traffic signs
further inland than 10km inside Switzerland.

On 6 November 2017 at 09:11, katrinhumal <notifications@github.com> wrote:

[2017-11-06 10:15] martinskans commented on #2115
@gyllen is <nothing>.mapilllary.com hosted somewhere else cause it's pointing to a non-aws ip?

[2017-11-06 10:46] ramapongithub opened #2785 "Ricoh Theta V / iOS - no Preview"
### Basic information
* Platform: iPhone 6, iOS 11.0.1, Mapillary 4.8.10, Ricoh Theta V

### Steps to reproduce behavior

 1. Connect iPhone to Ricoh Theta V via Wifi

### Expected behavior

iPhone should show a preview of the image

### Actual behavior

no preview, only a light blueish/greyish background

[2017-11-06 10:57] floscher commented on #2115
@martinskans `mapillary.com` only redirects to `www.mapillary.com`. According to the HTTP header, it is served from a `Microsoft-IIS/7.5` server, using `ASP.NET 4.0.30319`.

The redirect happens in a strange way:
* 302 redirect from `http://mapillary.com` to `http://mapillary.com/WZZXk/` (the path can vary, seems to be 5 random characters)
* 302 redirect back to `http://mapillary.com`
* 301 redire

[2017-11-06 11:11] ramapongithub opened #2786 "Ricoh Theta V / iOS - incorrect EXIF"
### Basic information
* Platform:  iPhone 6, iOS 11.0.1, Mapillary 4.8.10, Ricoh Theta V

### Steps to reproduce behavior

 1. Connect iPhone to Ricoh Theta V via Wifi
 2. Start Sequence with external camera.
 3. Take pictures (while moving).
 4. Download pictures via USB to PC.
 5. Check EXIF-Data

### Expected behavior

Different EXIF-Data in the different pictures

### Actual behavior

All pict

[2017-11-06 11:27] ramapongithub opened #2787 "Ricoh Theta V / iOS - no Download to iPhone"
### Basic information
* Platform: iPhone 6, iOS 11.0.1, Mapillary 4.8.10, Ricoh Theta V

### Steps to reproduce behavior

 1. Connect iPhone to Ricoh Theta V via Wifi
 2. Go to Upload-Page
 3. Mapillary app detects the Rico Theta and asks, if to download the pictures.
 4. Answer "Yes".

### Expected behavior
Download the pictures to iPhone.

### Actual behavior
The download seems to start, but aft

[2017-11-06 14:10] martinskans commented on #2115
@floscher Thanks! I am trying to find out internally if that is hosted somewhere where the site was running at some point before my time here so that I can get rid of that strange behaviour. Also we do not use asp anywhere so that adds to my suspicion that it is some old thing that has been setup to redirect. The random characters may be an old hack to avoid caching behaviour. I think I should be

[2017-11-06 18:15] floscher commented on #2779
As a sidenote: The project "Speed limit 110 km/h in Germany" detects almost no 110 km/h signs. I literally saw more [DKV signs](https://de.wikipedia.org/wiki/DKV_Euro_Service), a wide variety of [TIP trucks](https://www.tipeurope.com/) or 80 km/h signs when verifying that project (**not** combined, each of these sign classes was more present than the actual 110 km/h signs).

I'd guess there were l

[2017-11-06 20:16] gyllen commented on #2779
@ybkuang Some feedback about 110 signs ^^^

[2017-11-06 20:17] gyllen commented on #2777
@peterneubauer Elevating this as an android issue

[2017-11-07 07:43] jesolem commented on #992
Closing as we now shipped tagging both for image and object in images.

[2017-11-07 07:43] #992 closed

[2017-11-07 07:44] jesolem commented on #984
Closing since we now launched tagging.

[2017-11-07 07:44] #984 closed

[2017-11-07 09:29] Alessandro-Barbieri opened #2788 "web uploader doesn't honour Orientation Exif tag"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox`

### Steps to reproduce behavior

 1. Take a photo
 2. Change it's Orientation Exif tag with a tool (e.g. exiftool)
 3. Upload with web uploader
4. Click on the marker on the map

### Expected behavior

Photo miniature correctly rotated

### Actual behavior

Photo miniature rotated uncorrectly (very annoying if you have to review

[2017-11-07 09:52] Alessandro-Barbieri commented on #2777
Photos with this issue have the `GPSImgDirection` Exif tag equal to 0

[2017-11-07 12:47] martinskans commented on #2115
HTTPS works now for `mapillary.com` as well.

[2017-11-07 13:30] floscher commented on #2115
Great, thanks!

[2017-11-07 13:30] #2115 closed

[2017-11-07 17:06] Alessandro-Barbieri opened #2789 "approval wrong date"
After editing compass values online, I got this notification:

Same with Edit 1

[2017-11-07 17:11] mhamrle commented on #2784
as mentioned @voschix all traces in switzerland are affected. As an example look at [here](https://www.mapillary.com/app/?lat=46.947553264952205&lng=7.406695140532662&z=17&pKey=ZXv-hHt0bTIeMWxNiwmG-A&focus=photo). The foto is uploaded for more then 3 weeks and traffic sign is not detected.

[2017-11-07 17:46] mxa commented on #2777
That means the app failed to squire compass value and there is none, so should we manually change the angle to normalized in direction of travel?

[2017-11-07 20:02] majkaz commented on #2746
Mapillary v. 3.108, Android 5.0.2, legacy api, version code 408.

Mapillary ignores almost all capture settings:

- camera points forward (result as shown by fgouget)
- distance based capture - ignored
- timed capture setting - the time is ignored

The only accepted setting is in the camera pane, the photo min. delay - there comes almost constantly the toast with the "no photo because too fast" me

[2017-11-07 20:17] majkaz opened #2790 "Android: set the app rotation manually"
Android, different devices (Android 5.0.2, Android 7, resp. MIUI 9.1), same problem:

In the car with the mapillary mount, the only way for me to capture photos without the mount is to rotate the phone in reverse landscape. The app rotation is however in landscape only.  It is necessary to use 3rd party app to override this and it only works if the complete app is forced in reverse landscape befor

[2017-11-07 20:59] majkaz opened #2791 "Mapillary for Android - wish: set the photo size for low resolution pictures"
On my device,  there is a huge difference between the "normal" and low res photo - 4160x3120 and 1280x768, 1.5 MB and 123kB.

Often,  I would wish to have an "in between" setting, perhaps even crop to wide angle (something like 1920x1080 would mean cca 550 kB, still significantly less than in the normal mode).

Would it be possible to implement something like this perhaps as normal / reduced size

[2017-11-08 12:34] Alessandro-Barbieri commented on #2784
Inn primis why traffic sign detection is country sensitive?

[2017-11-08 14:52] ramapongithub commented on #2786
I think I was wrong with the assumption the Mapillary app updated the GPS coordinates on the camera on restart. I used the Theta app in between to change settings and then restarted the Mapillary app. This changed the coordinates on the camera. Only ending and restarting the Mapillary app did not have this effect.

[2017-11-08 21:47] gyllen commented on #2789
@peterneubauer Seems like date is way off here

[2017-11-08 21:49] gyllen commented on #2788
@nickplesha  I can't see why we wouldn't adhere to Orientation tag change

@Alessandro-Barbieri Can you provide us with an example image?

[2017-11-09 00:27] Alessandro-Barbieri commented on #2789
After some time the date shown is now correct

[2017-11-09 04:32] urkud commented on #1892
Rotate FWOI2gPiXqIgVx-KnP6IRQ, please.

[2017-11-09 08:38] katrinhumal commented on #1892
Hi @urkud - could you please submit your rotation request via this form: https://goo.gl/forms/o2nCZrC2KKiezQJz1

[2017-11-09 08:39] katrinhumal commented on #2784
Thanks for the additional information, everyone! Asking help from @ybkuang.

[2017-11-09 08:56] ybkuang commented on #2784
@mhamrle @voschix There is some delay on the image processing lately due to update of the scheduler. It will catch up in a few days. Sorry about the delay.

@Alessandro-Barbieri no strong reason that traffic sign should be country specific. It is a way to us to apply country-specific filtering to the detector given limited amount of training data. In the next iteration of the traffic sign detector

[2017-11-09 09:14] GITNE commented on #2784
@ybkuang What about *old* images with false negatives? Is manual traffic sign tagging going to reschedule these for the traffic sign detector?

[2017-11-09 09:48] ybkuang commented on #2784
@GITNE we will do a complete reprocess on all the images after we re-train the detector with the input from user tags/verifications. Given the cost of processing 200M+ images currently, we would like to ensure the detectors are improved globally before a re-processing.

[2017-11-09 10:36] voschix commented on #2784
How do you (re-)train the detector if you there is no way for the user to correct the detections? I cannot edit traffic signs in my area - editing is not available. So how can I help improving the detection mechanism?

[2017-11-09 12:46] Alessandro-Barbieri commented on #2788
The image
![tt_img_00016](https://user-images.githubusercontent.com/10689739/32605439-b3c7a782-c551-11e7-860c-8385d88200da.jpg)

what's happening

![screenshot-2017-11-9 mapillary - street-level imagery powered by collaboration and computer vision](https://user-images.githubusercontent.com/10689739/32605435-b07d5eaa-c551-11e7-9d25-2f43b001ab14.png)

[2017-11-09 12:55] Alessandro-Barbieri commented on #2788
Github too is wrong
On map is correctly shown: lsWlSt4a6bhPLnWblI2-GQ

[2017-11-09 12:57] Eric-FR commented on #2791
+1.

[2017-11-09 13:02] Eric-FR commented on #2782
Same observation with Wiko P4200AN.

[2017-11-09 13:12] nickplesha commented on #2788
@Alessandro-Barbieri I'm seeing the same direction in the EXIF as in the uploader
![exif](https://user-images.githubusercontent.com/3823786/32606926-59caa026-c557-11e7-8de9-152099ab6d00.png)

(the same as this one: https://www.mapillary.com/app/?pKey=lsWlSt4a6bhPLnWblI2-GQ), is this the correct value?

[2017-11-09 14:41] peterneubauer commented on #2777
@Alessandro-Barbieri do you have a link to the sequence that is pointing north in editing?

[2017-11-09 16:56] Alessandro-Barbieri commented on #2788
@nickplesha
`Orientation` and `GPSImgDirection` are not the same thing

[2017-11-09 17:12] katrinhumal commented on #2784
@voschix the first step on the road is our verifier tool: https://help.mapillary.com/hc/en-us/articles/115001964171-Verifier-tool. Right now, only preset tasks are available but our intention is to add the chance to set up a verification task for the traffic sign and area that interest you. And then, we want to also make it possible to edit/add incorrectly detected or missing traffic signs. Then y

[2017-11-09 17:57] habi commented on #2783
Awesome, thanks!

[2017-11-09 18:24] nickplesha commented on #2788
Aha, was so busy looking a the compass I didn't even notice that the trees are upside-down! 😄
Unfortunately, we don't apply the `Orientation` tag in the uploader but we're able to rotate images on request (making rotation changes through the website is coming in the future). So, please upload images as they are and let us know so we can rotate them to their correct orientation.

[2017-11-10 00:16] gyllen commented on #2777
@peterneubauer ^^^

[2017-11-10 00:17] gyllen commented on #2789
@Alessandro-Barbieri Ok closing this then, we will not handle this in a foreseeable future

[2017-11-10 00:17] #2789 closed

[2017-11-10 00:48] Alessandro-Barbieri commented on #2788
@nickplesha since I have to re-upload 10k images with this issue (because of bad sync between photo time and gps time), do you prefer that I upload the image without a `Orientation` set and then requesting rotation in the google sheet?

[2017-11-10 08:48] nickplesha commented on #2788
@Alessandro-Barbieri Yes, please let us handle the rotation and upload the images as they are.

[2017-11-10 08:56] peterneubauer commented on #2777
So,
investigating, the images have all image direction 0 in both EXIF and the JSON tag. This is correct according to the backend processing (since the images in fact point north). This is then an Android issue when using compass @ovivoda .

Normalizing the sequences in the editor should point them to each other eventually. Can you please try that and let us know?

[2017-11-10 10:33] oldschoolBavarianReferenceSystem commented on #984
Nice, this is a very good start!
Of cause, there are improovements as mentioned in the Blog article. For example the custom tags would be very nice. Translations is another. Explanatory text of the tag.

[2017-11-10 12:58] oldschoolBavarianReferenceSystem opened #2792 "Object Tagging: OK/Cancel-Button is below navigation buttons"
### Basic information
* Platform: `Web`
* Version: as of 2017-11-10
* System/Browser: Firefox 56.0 (64-bit)

### Steps to reproduce behavior

 1. Log in.
 2. Open an Image that is connected to other images.
 3. Choose the Tag Editor from the right side.
 4. From the left side menu, select a tag.
 5. On the image, select a region. In the bottom-center there is the box with (OK/Cancel) icons. Select

[2017-11-10 13:24] oldschoolBavarianReferenceSystem opened #2793 "Tag for no longer existing objects"
### Basic information
* Platform:  `Web`

### Expected behavior

Reality changes over time. Images on Mapillary stay fixed indefinetely.

 While tagging, I noticed that on one image, there is an object that I can truly tag as `Post Box`. While the tag on the image is infinitely valid, in reality there is no longer a post box and I want to indicate to fellow mappers that reallity changed.

I want a

[2017-11-11 11:14] pbb72 opened #2794 "Web: problematic infinity scroll"
The website has a nice feature, in the profile sidebar an infinity/endless scroll shows the thumbnail list of uploads. Five thumbnails are shown (depending on the screen size) and while you scroll down, more are loaded from the server. This works really nice to scroll back the last 100-or-so uploads.

However, going back further gets really tedious really quick. There are no interface elements, th

[2017-11-11 11:26] geowOSM commented on #210
I would like to ask splitting these sequences as the bot seems to have missed them

uNrGTsmVyr5YXKUHoP4uiA
Sa2HihIyiuMO8yvaU4i4-Q
l12Ix9kOqGlAMsNQgLHadA

Any news on inventing manual splitting/joining in the web version?

Thanks!

[2017-11-11 11:35] pbb72 opened #2795 "Web: not all uploads are shown in list"
The scrollable list of uploads in the profile sidebar on the web map, does not show all uploads.

For example, my sequences gKxjbbkQnCoV1ERzgZQ-Jg, 4e01T9jBvFL5chr_CFnQng, uUPCyh19XIF1FZMZFKNtaA, EWcV068Hfn0tVqBN_bdVXg, zPtm_-B9rh8KXxDyCqGvfQ do not show up in my upload list. (URLs: https://www.mapillary.com/map/im/mW-KJfIk2BQNXu0a6D0n8A, https://www.mapillary.com/map/im/wcbPyKHSldMxPQOApWwH2A, ht