[2017-03-24 13:07] Jurkis commented on #2485
Now it work fine (both with  "Use Google Mobile Services" disabled or  "Use Google Mobile Services" inabled.) in version 3.36.

[2017-03-24 13:07] #2485 closed

[2017-03-24 14:22] jesolem commented on #1124
@mnalis We appreciate you sticking with us.

It was never the intention to make anyone disappointed. And we can definitely improve our communication around the topic, especially if things don't seem to develop as fast as both you and we would have hoped.

We're doing spring cleaning and putting new routines in place for avoiding issues "on hold" like this for long periods. We will get back to you

[2017-03-24 14:32] jesolem commented on #1390
Hi everyone. Sorry for the incredibly long delay.

I wanted to make an update on this as I recently realized that it has been rather quiet from our end on this topic. I apologize for our lack of involvement. We have recently been in contact with @rudolfmayer  over email and got a better understanding.

We will for the time being not make any changes to the timestamp and I don't want to make empty

[2017-03-24 16:16] jfburke3 opened #2502 "Map view on upload screen is centered off the west coast of Africa"
### Basic information
* Platform: Android 6.0.1
* Version: Mapillary 3.36-SNAPSHOT
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Go to the Upload function
 2.  Open an image sequence to upload
 3.  Press the little map icon at the lower left

### Expected behavior

Expect a map view that zooms in to where the sequence was taken

### Actual behavior

I see the ocea

[2017-03-24 16:30] jfburke3 commented on #2450
I'll see if I can get it to happen again using a more recent release.  I typically only do a lot of sequences on weekends, and the weather for this coming weekend looks questionable at the moment.

I will add this note, however:
I had a similar--but not identical--problem when using my S7 to take pictures for OpenStreetCam (don't worry, I'm not quitting Mapillary, I just sometimes switch to OSC wh

[2017-03-24 16:32] jfburke3 commented on #2449
I haven't had a chance to test this yet, so I'm glad @iagsav was able to reproduce it :-)

Well, not _glad_ that he could reproduce it, because I don't want the problem to happen at all, but glad that he had time to try.

[2017-03-24 16:36] ToeBee commented on #2501
This only happens on recently uploaded sequences so it seems like something is going wrong in the back end processing after uploads. In my browser's dev console I am getting the following errors when I try to zoom in:
![image](https://cloud.githubusercontent.com/assets/348948/24303947/d11fa6e4-1085-11e7-8e81-a9ba2670f814.png)

[2017-03-24 16:44] iagsav commented on #2449
I test 3.34 and recieved the same problem

[2017-03-24 21:29] paulinus commented on #2501
There was a metadata error that prevented the zoom from working for images uploaded after Mar 13. It is solved for newly uploaded images and we are restoring the metadata for images since Mar 13. All images should work by tomorrow.
Thanks for reporting!

[2017-03-24 22:10] kaitu commented on #2501
@ToeBee: thanks for investigating, I hadn't noticed that only affected recent sequences.
@paulinus: excellent, thanks for the quick fix.

[2017-03-24 22:10] #2501 closed

[2017-03-25 09:56] paulinus commented on #2501
All metadata is restored now. Please let us know if you see it happening again. thanks!

[2017-03-25 16:24] ToeBee commented on #2501
This picture and the one immediately before it are still not working right. Others in the area seem to be ok. I think the browser console error messages are different though:
https://www.mapillary.com/app/?pKey=WYIP-VRW4cl0TMuW7h4poA&focus=photo

And console errors:
![image](https://cloud.githubusercontent.com/assets/348948/24324047/02e81586-114d-11e7-98e6-32be54823a1b.png)

[2017-03-26 09:30] kardotim commented on #1925
@gerhardneuhold do you still have this issue? Could you please test again?

[2017-03-26 09:39] ltog commented on #2437
I checked again with version 3.36-SNAPSHOT: The upload indeed gets stuck after some time. It crossed my mind that the reason may be that the phone switches from 2.4 GHz to 5 GHz wifi (or vice-versa). My internet router provides wifi on both frequencies with different SSIDs.

Is there any more information I can provide to help?

[2017-03-27 03:30] nicolas17 commented on #2468
Yes, it's fixed!

[2017-03-27 03:30] #2468 closed

[2017-03-27 08:57] paulinus commented on #2501
@ToeBee there is something cached on the server for those 2 images. The metadata is fixed, but the server remembers the old version. Will investigate. Thanks for checking it.

[2017-03-27 10:33] spatialhast opened #2503 "Missing 'username' in user statistics for Ukraine"
### Basic information
* Platform: `Web`
* Version: `API v2`
* System/Browser: `Google Chrome Google Chrome `

### Steps to reproduce behavior

 1. Call user stats in Ukraine (85633805), for example https://a.mapillary.com/v2/stats/toplist/85633805/wof?client_id=<CLIENT_ID>&limit=500

### Expected behavior

{"username":"USERNAME", "count":"COUNT"}
![image](https://cloud.githubusercontent.com/assets

[2017-03-27 19:35] ybkuang commented on #2009
@simonmikkelsen Sorry for the late reply. We will have a look at this and see whether we should render this in the viewer and or in the backend processing. It might take some time for us to provide a solution though as we have coordinate this with the other priorities. Will report back as soon as we have any updates.

[2017-03-28 15:01] katrinhumal commented on #2450
@jfburke3 thanks for this feedback! Really interesting to hear. Please keep us posted when you've had the chance to test more.

PS. I'll make sure to get the phrase `Mapillaryed to death` forwarded to our team :joy:

[2017-03-28 15:10] katrinhumal commented on #2449
Thanks! New fixes with 3.35 now, and 3.38 in beta, if you don't mind testing again :) Are you in the beta testers group?

[2017-03-28 15:17] katrinhumal commented on #2500
@EwenH works here as well, could you please recheck on your end? I suspect (and hope) @HolgerJeromin is right.

[2017-03-28 15:17] iagsav commented on #2449
Hello! Thank you! I will test it tomorrow. No, I'm not in this group.

[2017-03-28 15:48] katrinhumal commented on #2437
Thanks for your helpfulness @ltog! @peterneubauer, could this switching cause the uploads not to resume?

[2017-03-28 16:21] voschix commented on #2464
I attach a screenshot from a Chrome session that shows the last two errors in the log after such an event. As they show no date/time information, I have no idea if they are related o this event.
![ashampoo_snap_2017 03 28_18h19m18s_005](https://cloud.githubusercontent.com/assets/11076112/24415908/4a17c652-13e3-11e7-909d-285c4eedbf11.jpg)

[2017-03-29 03:12] nicolas17 opened #2504 "Zoomed image tiles sometimes give errors"
### Basic information
* Platform: `Web`
* System/Browser: `Linux, Firefox ESR 45.8.0`

I'm manually blurring photos in a sequence, and when I zoom, sometimes the high-resolution image tile doesn't load. I have seen error HTTP 504 (timeout) in Firefox's network info, which seems like a temporary issue, but now I'm getting error 500 on this tile:

https://d2qb1440i7l50o.cloudfront.net/H3lrQy_yzScLli

[2017-03-29 07:58] katrinhumal commented on #2404
@richlv Thanks, this is good input! I've taken it to our ideas pool for features and improvements.

[2017-03-29 07:58] #2404 closed

[2017-03-29 07:59] gerhardneuhold commented on #1925
@kardotim Nice, I cannot reproduce it anymore.

[2017-03-29 07:59] katrinhumal commented on #2403
@richlv Same for this: great point and will be added to our discussions on improvements.

[2017-03-29 07:59] #2403 closed

[2017-03-29 08:32] katrinhumal commented on #2402
These have been re-rendered now so closing this.

[2017-03-29 08:32] #2402 closed

[2017-03-29 08:40] katrinhumal commented on #2395
Works now, closing.

[2017-03-29 08:40] #2395 closed

[2017-03-29 08:42] katrinhumal commented on #2374
@tryl Long time has passed but did you get the help you needed with this?

[2017-03-29 08:54] katrinhumal commented on #2282
I'm not so knowledgeable about the API myself, but wanted to check if this issue is still relevant now that there is API v3 etc. or can we close?

[2017-03-29 08:56] katrinhumal commented on #2273
@jotpe I'm closing this for now, please get back to us if you still experience trouble.

[2017-03-29 08:56] #2273 closed

[2017-03-29 09:00] katrinhumal commented on #2260
@RafalR Lots of updates since this issue was created - could you please let me know if you are still experiencing any trouble or can we close this?

[2017-03-29 09:17] katrinhumal commented on #2232
@octanebaby Is this still relevant after updates or can we close?

[2017-03-29 09:25] katrinhumal commented on #2173
@MPW1412 - lots of updates since this issue was raised. How are you experiencing this with the latest app versions?

[2017-03-29 09:37] oscarlorentzon commented on #2504
Thanks for reporting @nicolas17.

The link returns the file correctly right now and zooming on that image on mapillary.com works correctly.

We had a problem with tiling of some newly uploaded images recently but this one is from February so should not have been affected.

There may be an instability in the image tiling server occasionally. We will try to figure out why.

[2017-03-29 09:52] eneerhut commented on #2219
@filipca we've been going through all our issues and just came across this one. Sorry for the long delay in responding.

I'm not fully understanding your suggestion. What changes did you want to make to the [existing Mapillary tag](http://wiki.openstreetmap.org/wiki/Key:mapillary) or are you suggesting a different method to load photos in a given location?

[2017-03-29 11:00] katrinhumal commented on #2449
If you'd like, you can join from within the app (the left-hand menu) or from Play Store.

[2017-03-29 11:05] katrinhumal commented on #2165
@Akaveeti thanks for your extensive feedback! We've done a lot of updates since then and some of the things you have mentioned are still under discussion for further improvements. Closing this for now.

[2017-03-29 11:05] #2165 closed

[2017-03-29 11:32] katrinhumal commented on #2134
@kaitu This suggestion is still relevant. I've resurfaced it in our internal ideas pool so that it could be planned in at some point. Thanks! Closing here for now.

[2017-03-29 11:32] #2134 closed

[2017-03-29 11:38] katrinhumal commented on #2283
@tuliogit and @jfburke3 would it be possible for you to test this and update us on whether this is still a problem? Thanks!

[2017-03-29 11:44] katrinhumal commented on #2051
@amilopowers Since we are currently one Android developer short, investigating this is on pause for now.

[2017-03-29 11:45] #1979 closed

[2017-03-29 11:49] katrinhumal commented on #1962
@jaakkoh Sorry for leaving this hanging, it was a very valid request. It has been implemented by now - Explore should open in your location or if no GPS fix then the last location that was explored.

[2017-03-29 11:49] #1962 closed

[2017-03-29 11:53] katrinhumal commented on #1953
@PTMaper would you be able to share some further information on this topic?

[2017-03-29 11:53] katrinhumal commented on #1934
Closing this as outdated by now.

[2017-03-29 11:53] #1934 closed

[2017-03-29 11:55] katrinhumal commented on #1922
Took a while but there is the flashing screen function in the app today that signifies taking photos. Can be turned on/off in settings. :)

[2017-03-29 11:55] #1922 closed

[2017-03-29 12:05] katrinhumal commented on #1880
Update on the Android front is that we have started external camera support for 360 cameras, after which it will be the turn for action cameras. So stay tuned!

[2017-03-29 12:07] katrinhumal commented on #1869
Closing this as outdated. If anyone has problems with the current app version, please open a new issue. Thanks!

[2017-03-29 12:07] #1869 closed

[2017-03-29 12:23] filipca commented on #2219
Just execute an overpass query with nodes that have a Mapillary tag.

Then try to see the picture.

Only from Onelevelup and maybe ESRI things the short key can be used.

For the time being, one would have to paste the key in a mapillary url to see a picture.

In OSM there is a big problem with theoriticians.

Ph Casteleyn
Dahliastraat 16
2800 Mechelen
animals.slippers.loaders
gsm 0486 516261
Ctrl

[2017-03-29 13:06] kardotim commented on #1925
@peterneubauer I remember Richard fixed some rotation issues in one of the previous releases and since the latest reports are that the issue isn't reproducible anymore, we can probably close this issue. Letting you decide.

[2017-03-29 13:20] katrinhumal commented on #1523
@Matthias84 thanks for this idea. Right now we have no plans to add height/levels information. I'm not sure what you mean with the "broken orientation / trajectory, so the view isn't updated fast enough"?

[2017-03-29 13:24] katrinhumal commented on #1521
@Matthias84 Thank you for your input! The matching of points between images is done by our computer vision technology. You can edit position and compass angle of the photos post-upload ([see here](https://help.mapillary.com/hc/en-us/articles/115001638129-Editing-sequences)). As for fixing interrupted tracks, I suppose you mean to add them into one sequence? We don't currently have plans to add tha

[2017-03-29 13:25] ptpt commented on #2496
@PanierAvide It is added to the image endpoint. See https://www.mapillary.com/developer/api-documentation/#search-images

Note that all dates in Mapillary API v3 must be ISO date string https://en.wikipedia.org/wiki/ISO_8601, instead of epoch ms. So a valid `start_time` or `end_time` should be `start_time=2017-12-22`.

Let me know if you have any further issue.

Tao

[2017-03-29 13:25] #2496 closed

[2017-03-29 13:29] katrinhumal commented on #2136
A little update here - so if the distance between two images is above a certain threshold (300m by default as @echeloni2p noted, can be adjusted in Settings->Capture), a new sequence will be started both in automatic and manual mode.

[2017-03-29 13:34] PanierAvide commented on #2496
Works great, thank you 👍

[2017-03-29 13:40] katrinhumal commented on #2436
@voschix Sorry about not getting back about this. I am not able to reproduce the problems in your example on Chrome. And in Firefox I actually get a different problem, namely that the position indicator just doesn't move, although with every "step" the map centres to the dot representing the image that is currently viewed (as it should). But it doesn't go yellow... But nothing like what you mentio

[2017-03-29 13:53] voschix commented on #2436
I have just gone to the example, and for me the problem has disappeared in Firefox (including the behaviour you mention) and Chrome.

[2017-03-29 13:58] voschix commented on #2463
I second this request. I miss the traffic sign editor.

[2017-03-29 14:00] ybkuang commented on #2463
@yopaseopor @voschix We are looking into the traffic sign editor internally as well. Will keep you updated!

[2017-03-29 15:01] #1925 closed

[2017-03-29 16:23] gyllen commented on #2282
This concerns now obsolete API `v2` so closing

[2017-03-29 16:23] #2282 closed

[2017-03-29 19:59] kaitu commented on #2498
I see it's working as it should now, on Firefox 52.0.2. Closing.

[2017-03-29 19:59] #2498 closed

[2017-03-29 21:01] HolgerJeromin commented on #2136
If the phone has bad position it will not make an images and should only start a new sequence while taking images.

[2017-03-30 06:59] simonmikkelsen commented on #2374
@katrinhumal No. I have emailed with several developers, latest Johan. It seems that this requires a lot of debugging time on their part and everyone are very busy. Currently I have 2 issues and only one is blocking me:

I can get past the first step of connecting using http://www.mapillary.com/connect.

I then try to finish the authorizaton, using the Python code:

query_params = parse_qs(environ

[2017-03-30 07:42] Jurkis opened #2505 "Not possible to make indoor photos anymore"
### Basic information
* Platform:  `Android`
* Version: `3.38`
* System/Browser: `Honor 8, Android 7`

### Steps to reproduce behavior

 1. Enable "Skip location check" in Developer section
 2. Make photos **indoor**.

### Expected behavior

Photos are made with no problems

### Actual behavior

Photos are not made, "bad fix..." message is shown

### Additional information

Not sure but i think th

[2017-03-30 08:00] katrinhumal commented on #2374
Ok, let's assign Johan to this. It's true time is a tight resource but at least it is on the list then!

[2017-03-30 08:01] millenbop commented on #2467
Finally got around to investigating this one. I cannot reproduce it on my end. Do you still have this issue?

![screen shot 2017-03-30 at 09 59 40](https://cloud.githubusercontent.com/assets/12835674/24493634/c33f74ba-152f-11e7-88ba-16ce4c3f3004.png)

Closing for now, will reopen and spend more time if this is still a problem.

[2017-03-30 08:04] Jurkis commented on #2505
OK, it works every 15th time.

[2017-03-30 08:05] katrinhumal commented on #2136
Yes. If your setting is 300 m and you lose GPS for 200 m then there should not be a new sequence started. It's hard to troubleshoot the particular case you reported since it was a while ago, but if you experience this again, we need to look into why it's not behaving as intended. @HolgerJeromin Do you think you would be able to test the latest app version for this (by deliberately moving through a

[2017-03-30 08:07] katrinhumal commented on #2436
That's nice. Closing this for now, but please let me know if you notice something like this again.

[2017-03-30 08:07] #2436 closed

[2017-03-30 08:11] Jurkis opened #2506 "Capture mode text shown when phone is rotated 180 degrees"
### Basic information
* Platform: `Android`
* Version: `3.38`
* System/Browser: `Honor 8, Android 7`

### Steps to reproduce behavior

 1. Go to Capture mode.
 2. Rotate phone 180 degrees.

### Expected behavior

...

### Actual behavior

Text "Automatic capture" and "Manual capture" are visible under capture mode button, overlaping each other.

### Additional information

...

![screenshot_201703

[2017-03-30 08:31] voschix commented on #2076
Can I remind you of my original request, i.e. rotation request (or control) for single pictures.

[2017-03-30 08:48] ybkuang commented on #2076
@voschix @rausk Hi, sorry for the delay. I would like to give you some updates on this.

Internally, we have experimented with
- an automatic detector for proposing sequences with wrong rotations
- implemented the rotation editor

We need a bit more time to properly design the UI and prepare the database for a release. We will keep you updated on the development here.

[2017-03-30 08:48] ramapongithub opened #2507 "Web Viewer - Track Overlay disappears when switching from OpenStreetMap to Mapbox Streets"
### Basic information
* Platform:  `Web`
* System/Browser: `Windows 10` / Chrome 56.0.2924.87 or Firefox 52

### Steps to reproduce behavior

 1. switch from map layer "Mapbox Streets" to "OpenStreetMap"
 2. switch back to "Mapbox Streets"

### Expected behavior

Map is shown with the green track overlay

### Actual behavior

track overlay disappears

### Additional information

all other switches

[2017-03-30 12:07] kaitu commented on #2505
It's not only indoor, also in canyons or any place where reception is problematic.
I'd like a possibility to get rid of the fix quality notification altogether. Even if you know that reception is bad, there's most often nothing you can do to improve it, nor you have time to wait for a fading reception to improve. Just allow to take pictures without quality concerns, and tag the precision. You can

[2017-03-30 12:39] katrinhumal commented on #2506
@Jurkis Thanks! We'll fix this in the next releases.

[2017-03-30 12:42] katrinhumal commented on #2507
@ramapongithub Thanks for reporting! We'll look into this.

[2017-03-30 12:48] katrinhumal commented on #2505
@kaitu, thanks for the feedback! We are not planning to remove the notification. It is indeed a matter of preference whether to be seeing it or not. But the main purpose of the capture function of the app is to take geotagged photos, so when the app fails to do that due to a bad GPS fix then the user should know about it.

@Jurkis thanks for reporting the problem. We'll look into why the "Skip loc

[2017-03-30 14:08] filipca commented on #2219
I suggest you add a mapillary tag for an OSM object in Malmo.

Ph Casteleyn
Dahliastraat 16
2800 Mechelen
animals.slippers.loaders
gsm 0486 516261
Ctrl+v

________________________________
Van: Edoardo Neerhut <notifications@github.com>
Verzonden: woensdag 29 maart 2017 11:52
Aan: mapillary/mapillary_issues
CC: filipca; Mention
Onderwerp: Re: [mapillary/mapillary_issues] A picture without Mapillary

[2017-03-30 16:44] gyllen commented on #2374
@nickplesha I know you looked into this sometime ago. Do you have any input at the moment? If not I have to start investigating this matter.

[2017-03-30 20:22] grinapo commented on #1931
On a cursory search some discussions popped up about broken api2.0 on samsung s6 and s7 phones. Seems to be a perfect candidate to implement camapi2.0 blacklist into the app..... :-S
https://forum.xda-developers.com/galaxy-s6/general/camera-api-2-broken-android-m-t3345491

[2017-03-30 21:06] de-vries opened #2508 "Skip location check isn't working"
Skip location check isn't working in Mapillary_Android_3.39-SNAPSHOT3.apk
I can't make any photo's if the location is unknown.

[2017-03-30 21:39] HolgerJeromin commented on #2508
Already reported as #2505

[2017-03-30 22:01] peterneubauer commented on #1931
Nice find! We have added the model/manufacturer into the slogs. If you send them, beginning with the next public version and mention this issue, we can start building a baclklist!

[2017-03-31 00:16] eneerhut commented on #2219
@filipca we're in the process of improving how Mapillary photos and data is used iD and JOSM editor.

Are you saying the process would be improved by giving a Mapillary URL link in tags as opposed to just the image key?

[2017-03-31 04:54] de-vries commented on #2508
apologies for the duplicate.

[2017-03-31 04:54] #2508 closed

[2017-03-31 06:17] filipca commented on #2219
How do you see a picture otherwise when you find the node in overpass or OSM ?

A program could recognise if it is an url  or a key and adapt to it.

Theoretically a key is better of course and it is nicer to watch.

The day a key works everywhere, I will use keys.

Ph Casteleyn
Dahliastraat 16
2800 Mechelen
animals.slippers.loaders
gsm 0486 516261
Ctrl+v

________________________________
Van: Edo

[2017-03-31 08:45] AleZena commented on #2365
Same here using a Samsung S3
https://www.mapillary.com/map/im/LjHYisKX1MBYKTJzyPLuZg
https://www.mapillary.com/map/im/Mi1M31tj40n2jpTy7S_uJw

[2017-03-31 09:51] nickplesha commented on #2374
@simonmikkelsen Sorry to hear you're still having trouble authenticating. Thanks to your bug report we've been able to track down and fix the developer app form so that saving app properties should work correctly now at https://www.mapillary.com/app/settings/developers

To fix your non-blocking issues, go to that URL and check your app details and update the scope and callback URL (you might need

[2017-03-31 11:25] peterneubauer commented on #2437
Hi there,
I just checked disabling and enabling wifi while uploading in the upcoming next release - it's working for me, the upload is resuming upon the new network connecting. I suggest you join the beta program and re-test or wait a couple of days for this to come out. Please report back!

[2017-03-31 12:24] ltog commented on #2437
@peterneubauer : How did you disable wifi? By cutting the power to your router/AP?

I did try to join the beta program but am redirected to the Play Store, which I neither want nor technically can use with my phone operating system. Is joining the beta program equivalent to installing the latest snapshot version from http://android-releases.mapillary.io/index.html ?

[2017-03-31 13:16] peterneubauer commented on #2437
Try
http://android-releases.mapillary.io/Mapillary_Android_3.40-SNAPSHOT1.apk

I simply disabled Wifi on the phone and enabled it again. However, I will
try moving out of range of the Wifi and check some more.

/peter

On Fri, Mar 31, 2017 at 2:24 PM, ltog <notifications@github.com> wrote:

[2017-03-31 20:16] eugensim commented on #2302
@gyllen please look again at the video max size. It should be 5GB but, it doesn't work even with less than 800MB.

[2017-03-31 20:38] gyllen commented on #2302
@katrin I want to elevate this as an internal bug, guide me through what I should do

[2017-03-31 20:38] gyllen commented on #2374
@ptpt Would you be able to look into this issue?

[2017-04-01 20:27] grinapo commented on #1925
:-(
got a whole series of upsidedowns with the latest (nonbeta). the phone was even showing wrong orientation a few times, then started right but the result was upside down both preview, thumb and uploads: https://www.mapillary.com/map/im/8gX5zECkENS47ApjM7o-og and other uploades by me today.

[2017-04-01 22:07] danbjoseph opened #2509 "lost connection w/ LG360 (capture continued? GPS didn't?)"
- iPhone 5s (A1533) running version 10.2.1(14D27)
- Mapillary v4.6.10(216)
- LG360 camera

In sequence `GVZCQd5oltViYcNKWH18HA` starting with photo `E67QPuZANTvGSuCOBaafPQ` the GPS seems to quit reading correctly. At photo `U5-NMRHi_-h2I7Mvv0liLw` you can see me look down and check my phone. This is when I noticed a "lost connection" notification. I lower the camera at `q0_IrEQt-1zRbFK12i32Mg`and

[2017-04-01 23:43] jfburke3 commented on #2450
Happened again today.  I'll send in logs and reference this github #.

[2017-04-01 23:48] jfburke3 opened #2510 "Please bring back the Camera2_API toggle setting"
### Basic information
* Platform: Android 6.0.1
* Version: Mapillary 3.39

In earlier versions of the Mapillary Android app, there was a setting to allow us to toggle Camera2 API on or off.  This setting was particularly valuable to me (not sure about anyone else!), because it provided a workaround for the problem described in #2450 .  I had that problem happen again today, and only then discovere

[2017-04-02 00:10] jfburke3 opened #2511 "Android app stops image-taking mode"
### Basic information
* Platform: Android 6.0.1
* Version: Mapillary 3.39
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Start shooting a sequence.
 2.  Periodically check to see if it's still actively shooting the sequence, or has stopped image-taking mode (indicated by the start/stop button appearing as a round button instead of a square).

### Expected behavior

[2017-04-02 01:59] nicolas17 commented on #2467
I didn't upload photos recently, but I did blur photos, and right now the "Pending blurs: 3" message is showing in black, just like in my [first screenshot](#issue-210096569).

iPhone 6, iOS 9.0.2, Mapillary 4.6.10. Tested in jailbreak "safe mode" (all tweaks disabled).

[2017-04-02 10:48] grinapo commented on #1892
1) I cannot seem to be able to find the sequence id easily now. "Where issss it?" -- Gollum
2) There seem to be an awful lot of issues related: #466, #531, #722, #811,  #2327, #2365
3) I haven't got upside-down recently, but the latest non-beta even started the camera live picture upside-down 3 out of 5, and when had the good _visible_ orientation the result became flipped.

Please rotate:
https:/

[2017-04-02 11:09] millenbop commented on #2467
Maybe it's an iOS 9 thing. I'll check it out again!

[2017-04-02 13:01] millenbop commented on #2467
Tested it on 9.3 and there the text was in black. Fixed now though, will be out in 4.6.12.

[2017-04-02 13:01] #2467 closed

[2017-04-02 13:11] millenbop commented on #2509
Thanks for reporting. It seems to happen to some users with the LG360. Both mine work good though but I'm expecting to get my hinds on a "faulty" one soon.

We are currently rewriting how external cameras work and one thing that I will change is so that the phone keeps recording the GPS track even if the camera is disconnected for some reason. I'll also investigate if the disconnect detection can

[2017-04-02 14:25] jfburke3 commented on #2505
Just my $.02 worth:  I absolutely want the GPS quality notification.  Among other things, it helps me determine if the reason it isn't taking pictures is that, or one of the issues I've logged :-)

[2017-04-02 16:35] ltog commented on #2437
@peterneubauer : I just checked version 3.40-SNAPSHOT1: Usually the upload stopped after some hundred pictures. This time it looks better: I could upload nearly thousand pictures before I got the message:

    Error java.net.SocketException: recvfrom failed: ECONNRESET (Connection reset by peer) 984 of 1186 photos uploaded

IIRC the previous messages said that the hostname couldn't be resolved. I'

[2017-04-02 16:50] peterneubauer commented on #2437
Hi there,
With a retry, things should continue? Next step, we will add information
about pending retry to the notification, it's on the list if things to
add...

/Peter

On Apr 2, 2017 6:35 PM, "ltog" <notifications@github.com> wrote:

[2017-04-02 16:59] ltog commented on #2437
Yes, I'm able to continue uploading but it's a manual process and therefore annoying.

I'm looking forward to the modifications!

[2017-04-02 17:25] peterneubauer commented on #2437
Yes,
We will get there soon!

/Peter

On Apr 2, 2017 7:00 PM, "ltog" <notifications@github.com> wrote:

[2017-04-03 01:52] jfburke3 commented on #2476
Now it's not working for me on my Galaxy S5 with the 3.40 beta release, Android 5.0.  (Works fine on my S7.)  I have the same problem described above except I don't get the JSON error message (not yet, anyway).

Background info:  I mainly use my S7 to shoot images, but sometimes I'll switch to the S5, or use both so I can take pics ahead and to the side.  Was going to try that today, except the ap

[2017-04-03 01:52] jfburke3 commented on #2476
And I've tried both on WiFi and the cell network.

[2017-04-03 04:51] kardotim commented on #1925
@peterneubauer are you able to take a closer look at the above sequence?

[2017-04-03 07:53] grinapo commented on #1925
I cannot reopen this issue, so my main comment went into #1892 .
What was weird that so far I have never experienced that the cam mode started flipped, and there seem to be a connection between that, and that I was able to "force" it to the right orientation by restarting a few times THEN the results were flipped. I also have saved the debug logs, Justin Case. :)

[2017-04-03 10:07] peterneubauer commented on #1398
So, we are removing the app temporarily, since the devices don't have GPS and thus we can't submit the app anymore :/

[2017-04-03 13:12] katrinhumal commented on #2511
Thanks for a detailed report @jfburke3! Your description is a real role model of how to report bugs. We just released 3.41, can you please check if this keeps happening? And as you already marked, logs would be highly useful (too bad it went like that when you wanted to save the draft). Thanks in advance!

[2017-04-03 14:53] nickplesha commented on #2507
@knikel Do you maybe have some thoughts on why this would happen? When switching from `osm` to `mapbox_streets` it looks like `sprites.json` and `sprites.png` aren't loaded. All other map transitions work OK, including switching to another and back to `mapbox_streets`.

[2017-04-03 15:08] katrinhumal commented on #1892
@grinapo I requested rotation of these for you. Do you mean version number 3.41 when you say the "latest non-beta"?

[2017-04-03 15:37] mikini commented on #1892
@katrinhumal Could you please look at the last couple of hundred of my sequences too?
https://www.mapillary.com/app/user/mikini

As mentioned on March 10th above after the Capture screen rework I get rotated sequences. And now it is 100% consistent. As @grinapo mentions the whole UI (notification bar and all) is flipped when entering capture mode.

Honestly, I have given up on Mapillary, it seems

[2017-04-03 21:29] Hjart opened #2512 "Some buildings do not show on the mapbox layer used on mapillary.com"
I have noticed that some buildings do not show up on the Mapbox layer used on the website.

2 examples are https://www.openstreetmap.org/way/164426642 (https://www.mapillary.com/map/im/fqm0oPYpF2KIQ1ycei8HwA) and https://www.openstreetmap.org/way/94180397 (https://www.mapillary.com/map/im/Q3AyzcCi3OKQxBvsHZIe7g).

I didn't yet figure out exactly what triggers it, but both of these buildings are fa

[2017-04-03 22:36] jfburke3 commented on #1934
Well...it's still happening.

[2017-04-04 04:37] drkludge opened #2513 "Image upload speed is not as fast as it used to be."
### Basic information
* Platform: `Android 6.0.1, code: Samsung SM-G550T, retail name: Samsung On5`
* Version: `3.2.8 to 3.3.5`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Upload a sequence
 2.
 3.

### Expected behavior

Better upload speeds.

### Actual behavior

Three to four seconds are required for each picture in a sequence.  For example, I had a sequence of 1165 pictures t

[2017-04-04 05:52] katrinhumal commented on #1934
@jfburke3 Do you think you could share logs of the CAMERA IN USE error for v. 3.41?

[2017-04-04 08:46] grinapo commented on #1892
@katrinhumal When I shot the sequence I had the latest PlayStore version installed (at that particular point in time), but when I have realised that they're flipped I updated it to the PlayStore beta, which is v3.41 right now according to the menu. I cannot tell you what it's been before, I know no update history log on android. Maybe the images contain the version.

[2017-04-04 08:55] grinapo commented on #1892
@mikini Wow, you have covered half of Danmark... upside down. Don't give up. Mapillary folks have pretty hard time since they have to handle wide range of Android APIs and various bugs in firmware and phone hardware. There are also several issue tickets about this problem and some of them see some progress, I don't know why github neglcted them to crossreference when I included the numbers in one

[2017-04-04 09:12] ybkuang commented on #1892
@mikini Sorry to see that the problem re-appears. We have been keep track of the problem and have been looking into solutions in the Android app, backend and computer vision.

- Android: @peterneubauer has been looking into the issues regarding camera APIs

- Backend: We implemented the processing flow for manual rotations requests.

- Computer Vision: We have developed an algorithm for detecting

[2017-04-04 11:37] peterneubauer commented on #1892
Hi there,
I just fixed a bug around this - for older camera implementations the image rotation was not correctly set for the camera. 3.43 (out in a few hours) contains this fix. Please test and report back!

[2017-04-04 13:11] katrinhumal commented on #2512
@Hjart Buildings are part of the tiles in the background, the styles that Mapillary adds will include mostly markers and stuff and not building shapes. The different map styles have varying levels of details, as chosen by Mapbox. The OSM layer is probably always going to be the most detailed and up-to-date.

[2017-04-04 13:20] nickplesha commented on #2275
Closing this for now, please reopen if issue occurs again,

[2017-04-04 13:20] #2275 closed

[2017-04-04 13:22] nickplesha commented on #2345
@majkaz For now please use the editor for normalizing sequences and we'll be improving the uploader experience with your idea in mind,

[2017-04-04 13:22] #2345 closed

[2017-04-04 13:23] #2315 closed

[2017-04-04 13:26] nickplesha commented on #2366
@polarbearing We've added better disconnection handling in the web app and uploader. If you see a blue banner at the bottom that means that the app has detected the connection is offline. When this happen during uploading, please refresh the page, the state of uploaded images is maintained on the server and you'll be able to resume again when you reconnect.

[2017-04-04 13:26] #2366 closed

[2017-04-04 13:30] peterneubauer commented on #2476
Still not working?

On Mon, Apr 3, 2017 at 3:52 AM, jfburke3 <notifications@github.com> wrote:

[2017-04-04 13:33] peterneubauer commented on #1925
So, with 3.43 out in Play, can you check that things are working better now?

[2017-04-04 13:57] millenbop commented on #1984
We are currently redoing the camera UI/UX (againI) and this will be fixed there.

[2017-04-04 13:58] millenbop commented on #1963
This will be changed in the next iteration of the camera UI/UX that we are currently working on.

[2017-04-04 14:01] millenbop commented on #1679
This will be added in the next version of the camera UI/UX that we are currently working on.

[2017-04-04 14:10] millenbop commented on #271
We have raised the threshold for acceptable GPS precision so it should be much better now. This is also an old discussion, so closing this one.

[2017-04-04 14:10] #271 closed

[2017-04-04 14:11] millenbop commented on #377
We have raised the threshold for acceptable GPS precision so it should be much better now. This is also an old discussion, so closing this one.

[2017-04-04 14:11] #377 closed

[2017-04-04 14:23] millenbop commented on #2244
Not fixable, sorry, closing.

[2017-04-04 14:23] #2244 closed

[2017-04-04 14:24] richlv opened #2514 "allow filtering traces by age in the mobile app"
web interface allows filtering by time limits, which allows to find places where photos are more than a year, 3 months or a month old, for example.

this would also be great to have in the mobile app - that way one could filter the traces and immediately see out in the field where it might be worth making a detour.

preferably, this would work dynamically in the app itself, instead of doing a new

[2017-04-04 14:57] knikel commented on #892
This is part of `legacy.mapillary.com`, closing this since we want to deprecate that part of mapillary.com. We'll have similar functionality in the future.

[2017-04-04 14:57] #892 closed

[2017-04-04 15:00] knikel commented on #2307
We've updated templates for email notifications some time ago. Thanks for reporting!

[2017-04-04 15:00] #2307 closed

[2017-04-04 15:02] millenbop commented on #2465
Hey just checking in, is this still a problem for you? I'm on a bug spring cleanup, so if you still have this bug I'll try to sort it out this week.

[2017-04-04 15:02] knikel commented on #1711
This bug relates to `legacy.mapillary.com`; I'm closing this since we want to deprecate that part of mapillary.com. We'll have similar functionality in the future.

[2017-04-04 15:02] #1711 closed

[2017-04-04 15:03] knikel commented on #1509
We've got new email notification system and have checked for that. Thanks for reporting!

[2017-04-04 15:03] #1509 closed

[2017-04-04 15:04] knikel commented on #1702
This bug relates to `legacy.mapillary.com`; I'm closing this since we want to deprecate that part of mapillary.com.

[2017-04-04 15:04] #1702 closed

[2017-04-04 15:13] knikel commented on #1725
I've added a hack to set map pitch to something else than `0`at the time. We're running `mapbox-gl-js@0.34.0` these days.

I'm going to close this issue since the OP raised it almost a year ago and I've added the pitch hack after aburroso's comment. If this happens again, let's create a new issue.

[2017-04-04 15:13] #1725 closed

[2017-04-04 15:15] Hjart commented on #2512
I am aware of buildings being part of tiles and that Mapbox are responsible for the appearance of their tiles. I just wasn't sure about how to report this to Mapbox (as I think it's a bug) and thought that maybe you would know.

[2017-04-04 15:41] jfburke3 commented on #2476
Unfortunately.  I just installed the new 3.43 beta, and still failing then.  Unlike the earlier version where it would stay on the logon screen with the swirly "please wait" thing, this version seems to be crashing after several seconds of trying.

I don't suppose a special build with login logging would help?  It doesn't seem to be create a log anywhere that I can find.

[2017-04-04 16:03] katrinhumal commented on #2512
@Hjart I see! Well, I think you can always just contact their support: https://www.mapbox.com/help/reporting-a-problem/#contact.

[2017-04-04 16:03] #2512 closed

[2017-04-04 16:10] katrinhumal commented on #2513
Hi @drkludge - I think the issue here might be related to the fact that you were using such an old version of the app before. For the time being, only one thread will actually be used for upload and I believe this is what makes the difference in your case. We'll be changing that back later.

[2017-04-04 16:13] #2500 closed

[2017-04-04 16:14] #1880 closed

[2017-04-04 16:19] #2232 closed

[2017-04-04 16:20] #2414 closed

[2017-04-04 16:23] katrinhumal commented on #2469
Thanks for your input @kaitu! I'm afraid we don't plan to merge the two editors just now. But I will definitely mention your input.

[2017-04-04 16:23] #2469 closed

[2017-04-04 16:24] #2432 closed

[2017-04-04 16:26] katrinhumal commented on #2441
@jidanni Closing this for now, please reopen if you need more help.

[2017-04-04 16:26] #2441 closed

[2017-04-04 16:33] peterneubauer commented on #2476
Hi there,
I just tried logging in with OSM, Google and via email / pwd, all worming,
albeit there is a crash between which I will investigate.

Can you log in via email and password on the site?

On Apr 4, 2017 5:42 PM, "jfburke3" <notifications@github.com> wrote:

[2017-04-04 17:07] ptpt commented on #2371
It should be fixed now.

<img width="450" alt="2017-04-04 7 06 09" src="https://cloud.githubusercontent.com/assets/87357/24669203/d4d0b8ae-1969-11e7-94fc-d71b727a437e.png">

[2017-04-04 17:34] grinapo commented on #1925
I did a few sequences today without any visible problem. Too eearly to say it's flawless, but so far so good.

[2017-04-04 17:37] peterneubauer commented on #1925
Thank a lot for the testing, nice to hear it finally looks promising!

On Apr 4, 2017 7:34 PM, "Peter Gervai" <notifications@github.com> wrote:

[2017-04-04 20:25] geowOSM commented on #2465
Thanks for follow-up. I must confirm here that the bug remains unchanged in v 4.6.11. All images I took with an iPhone SE, regardless if walking, bicycle riding or driving a car and whatsoever direction I travel, do carry the fixed TrueHeading=89. As mentioned the internal compass of the phone is well-calibrated and images taken by the photo app have valid heading data.

[2017-04-04 20:55] jfburke3 commented on #2476
Yes, that works fine.

[2017-04-04 21:13] jfburke3 commented on #1934
Well...no...because I've already upgraded to 3.43.

But if I can get it to happen in the "current" build, whatever that is when it happens, then I'll try to send logs.  I need to get in the habit of clearing the logs every time I start the app; that way y'all will only have a few hours of logs to look at, instead of days or weeks worth.

[2017-04-05 07:58] knikel commented on #2314
This is no longer an issue. Thaks for reporting!

[2017-04-05 07:58] #2314 closed

[2017-04-05 08:54] knikel commented on #2472
Alright, I had a closer look at this issue today and it if you want mapillary.com to work with NoScript you need to whitelist all the APIs, CDNs we use, external resource domains (e.g. mapbox.com) and so on, but you probably know that.

The reason why you might have seen the No WebGL support is _probably_ because [`mapillary-js`](https://github.com/mapillary/mapillary-js) couldn't fetch/render mes

[2017-04-05 08:54] #2472 closed

[2017-04-05 08:55] millenbop commented on #2509
External cameras are now allowed to “fail” 3 times to send status update before being considered disconnected. Fix will be out in the next release.

[2017-04-05 08:55] #2509 closed

[2017-04-05 08:58] millenbop commented on #2392
Do you still have this bug? Which device are you using? Could you send a screenshot of what it looks like? Thanks!

[2017-04-05 09:02] knikel commented on #360
Arrow movement is enabled in all the viewers at `mapillary.com`.

[2017-04-05 09:02] #360 closed

[2017-04-05 09:03] knikel commented on #339
Assigning @amahon to consider this as a feature (Rotation tool in the web UI).

[2017-04-05 09:04] millenbop commented on #2487
Thanks for reporting, I'll look into this now.

[2017-04-05 09:07] knikel commented on #2122
Assigning @amahon to consider this as a feature (Responsive mapiilary.com).

[2017-04-05 09:09] knikel commented on #2046
There is a modal and _Exit without submitting_ button.

[2017-04-05 09:09] #2046 closed

[2017-04-05 09:11] #2218 closed

[2017-04-05 09:12] knikel commented on #2229
Assigning @amahon to consider this as a feature.

[2017-04-05 09:12] knikel commented on #941
Assigning @amahon to consider this as a feature.

[2017-04-05 09:14] knikel commented on #973
Assigning @amahon to consider this as a feature (Allow to download GPX tracks for sequences)

[2017-04-05 09:15] knikel commented on #974
Assigning @amahon to consider this as a feature (Add photo references to GPX files).

[2017-04-05 09:16] knikel commented on #1064
Eventually, we didn't do that. I'm assigning @amahon to consider this as a feature, this will require tweaks of how we handle titles across the web app.

[2017-04-05 09:17] knikel commented on #1073
Assigning @amahon to consider this as a feature (Manual object annotation).

[2017-04-05 09:20] knikel commented on #1101
Assigning @amahon to consider this as a feature.

Some context:
- We used to have a _traffic sign game_ with a top list, where one could manually annotate traffic signs
- In `legacy.mapillary.com` one can see a list of traffic sign objects detected in one's photos

[2017-04-05 09:30] knikel commented on #1117
We do have persistent filters nowadays, see e.g. https://www.mapillary.com/app/?focus=map&pKey=H3bcVflCv8HoNeBml4fofQ&lat=35.97144065009026&lng=-83.9193970673915&z=18.529984866956383&dateFrom=2017-03-01&dateTo=2017-04-01 however we still need to load a LARGE tile with all these points.

I'm closing this issue since we have a feature which allows to filter such dense views, but I'm also looping in

[2017-04-05 09:30] #1117 closed

[2017-04-05 09:34] knikel commented on #1473
We've worked recently on improving the commenting experience and we're using much better fuzzy search algorithms now. It doesn't necessarily always lists people who commented first, but overall the experience is much smoother.

[2017-04-05 09:34] #1473 closed

[2017-04-05 09:34] knikel commented on #1329
Assigning @amahon to consider this as a feature (Add objects detected to user profiles).

[2017-04-05 09:37] knikel commented on #2000
I'm closing this since this functionality is part of `legacy.mapillary.com` (which we would like to deprecate at some point). @amahon we should port video uploader to mapillary.com.

[2017-04-05 09:37] #2000 closed

[2017-04-05 09:38] knikel commented on #1796
Assigning @amahon to consider this as a feature.

[2017-04-05 09:39] knikel commented on #1755
Assigning @amahon to consider that as a feature.

[2017-04-05 09:39] knikel commented on #1631
@amahon plenty of great feedback to consider for revamping profiles.

[2017-04-05 09:42] knikel commented on #1213
I'm closing this issue, since this is part of `legacy.mapillary.com` which we want to deprecate at some point.

However, I'm looping in @amahon to consider _Add manual traffic sign editor_ as a feature.

[2017-04-05 09:42] #1213 closed

[2017-04-05 09:45] knikel commented on #1346
I'm closing this issue since this is part of `legacy.mapillary.com`. I've pinged @amahon about porting video uploader to `mapillary.com` [here](https://github.com/mapillary/mapillary_issues/issues/2000#issuecomment-291808362).

[2017-04-05 09:45] #1346 closed

[2017-04-05 10:38] mikini commented on #1892
Hi @peterneubauer.

For reference, Peter and I had a discussion about this at https://www.mapillary.com/app?pKey=uIvybCt4f700GK94GpgadQ.

In the above photo comment thread I reported that I managed to capture a correctly oriented sequence using Mapillary for Android v3.43 on my older Android 4.4.4 Samsung PIII (my understanding is that it was a problem only on older Android API's). That is so nice

[2017-04-05 10:59] millenbop commented on #2487
Everything looks good on my end. Either it's a timezone thing or the app failed to set the date or the date has changed by some other means (the LG app did it by itself etc).

- Which firmware are you using on the LG?
- Which time would you expect (roughly)?
- Which timezone are you in?

[2017-04-05 11:24] millenbop commented on #2088
Hey! Do you still experience this problem?

[2017-04-05 11:53] katrinhumal commented on #1934
@jfburke3 This is really helpful of you! Thanks so much. The logs clearing habit is also good in the sense that it can become quite a massive file in the end, unnecessarily taking up space. :)

[2017-04-05 11:59] Virtakuono commented on #2088
No. Unfortunately, the reason is that my iPhone got busted and I swapped to android. Sorry that I can't be of much help with this anymore :/

[2017-04-05 12:01] danbjoseph commented on #2487
I just found it very curious that the time on the phone is 3:16PM and the sequences are all noted as being captured close to 6PM. I had captured the sequences sometime between 1 and 3. I don't have the LG with me right now, but I had made sure everything was up to date the day before. I'm in Washington,DC.

[2017-04-05 12:17] jidanni commented on #2441
Thanks. (As a low bandwidth rural user, I don't use Mapillary often.)

[2017-04-05 12:26] millenbop commented on #2465
I cannot reproduce this error, tried both an iPhone 5s and a 7, iOS 9.x and 10.x. I don't have access to a SE. The values pretty much come directly from the values from the hardware.

What's your username on Mapillary btw? And if you open up the photo in the app, does it display correctly there?

[2017-04-05 12:28] millenbop commented on #2465
![img_5436](https://cloud.githubusercontent.com/assets/12835674/24705426/29029e2c-1a0c-11e7-95e5-89e36a5f8634.PNG)

[2017-04-05 12:31] millenbop commented on #2465
Hmm just thought of something. 89 = -1+90. We normalize the angle to 0-360 degrees so for some reason the API returns -1 on your device, which usually means an error.

[2017-04-05 12:35] millenbop commented on #2465
From the docs:

```This property contains a valid value only if location updates are also enabled for the corresponding location manager object. Because the position of true north is different from the position of magnetic north on the Earth’s surface, Core Location needs the current location of the device to compute the value of this property.```

So maybe it's wrong in the beginning and gets set

[2017-04-05 12:49] simonmikkelsen commented on #2374
I can confirm that my non blocking issues are solved (I just created a new app):

- I can now request only user:read
- I can now use a call back uri of arbitrary length/

I can also confirm, as you write, that I still get "No authorization header passed" where it is not expected.

Thank you for your time. When the last issue is fixed, I have a technology preview of an app that I can send into prod

[2017-04-05 13:03] millenbop commented on #2088
Oh ok. Did you erase all your photos btw?

[2017-04-05 13:15] Virtakuono commented on #2088
Me? I think you're mistaking me for someone else...

Check with Madelen or Peter, they probably have the photos that you are looking for.

[2017-04-05 13:20] grinapo commented on #1931
OUCH!
You seem to have removed the API2 switch from S7 and **set it to API2.0 fixed**. It is not impossible to make good images!
See iwSLyLNe2CpAVjdvKbZlVQ and all of them :'-(

[2017-04-05 13:21] millenbop commented on #2088
Ah ok, now I remember, sorry :) Anyway I'll close this issue for now. If the problems appear for you or someone else I'll reopen and start a new investigation.

[2017-04-05 13:21] #2088 closed

[2017-04-05 13:23] millenbop commented on #2487
Was this a one-off error or have you seen it more than once?

[2017-04-05 13:35] grinapo commented on #1892
I have the beta (3.43) installed and it's doing real weird stuff with orientation.

I hold it landscape, up is at the right. Android is set to change orientation (no fixed), but it doesn't seem to matter at all.

Menu misoriented right-top (portrait, up).
Capture screen orientation is good and android top bar is at the top. I press the orientation arrow and the screen appears upside down, android

[2017-04-05 13:53] danbjoseph commented on #2487
May have been one-off. I have only used the LG360 and iOS app once since then. Waiting for the ability to do distance-based capture with external camera.

[2017-04-05 13:55] danbjoseph commented on #2487
If it happens again, I will try and gather more data to send about the issue.

[2017-04-05 13:59] peterneubauer commented on #1931
Ok! That is actually not that bad, since it's really a known bug according to StackOverflow. The device reports full Camera2 support but does not take good pictures. I think the best way to do this is to add the S7 to a Camera2 black-list. Can you send me the logs so I can see the reported model/devicename and do that @grinapo ?

[2017-04-05 14:00] millenbop commented on #2487
It will be added soonish when the new camera implementation (V3) is done. The biggest problem with distance based capture for external cameras is that it will consume more battery. I haven't measured how much though.

Basically with time-based capture the phone just sends "start time lapse capture". With distance-based capture the phone needs to send "capture now" all the time. For a 1000 photo se

[2017-04-05 14:06] danbjoseph commented on #2487
Yeah, close away. Was more just a "hey, i saw this and it was weird" than a request for some sort of fix.

[2017-04-05 15:38] HolgerJeromin commented on #2414
I still think that editing should be possible.
Counting clicks is the wrong way if you ask me, but ok. Lets count:

Wanting to change an date (perhaps change by one day) **current approach**:
1. delete old date with the x
2. click into the field
3. click the month
4. select the new month (including remembering the old value)
5. click the year
6. select the new year (including remembering the old v

[2017-04-05 16:14] #2487 closed

[2017-04-05 18:44] geowOSM commented on #2465
Check this sequence from today: qvX9S4oTKEIsZuIHYfD0Aw
According to the website all images are displayed with the 89 compass angle

![mapillary_ios](https://cloud.githubusercontent.com/assets/13821303/24720786/8a64e2ec-1a3e-11e7-8a8e-067053f5336a.png)

In contrast a screenshot from the app: Surprise - Heading is correctly indicated as I travelled from NNE -> SSW

![3-img_4167](https://cloud.github

[2017-04-06 06:21] de-vries commented on #974
Now that there is the JOSM plugin, I don't think that there is much need for this feature anymore.

[2017-04-06 06:49] grinapo commented on #1892
Checked on a different phone (Oneplus1 instead of SamsungS7) and the behaviour is the same. Also there's a state when the capture screen is properly oriented but the image is flipped.

[2017-04-06 06:53] grinapo commented on #1931
@peterneubauer sent you a drive link to the log.
But right now I cannot disable API2 at all. Wouldn't it be nice to have it back into developers options with a comment that 'beware'?

[2017-04-06 08:10] millenbop commented on #2465
We do a bunch of stuff behind the scenes to improve positioning and compass direction using other photos available in the area and the way stuff moves between different photos (which we call Structure from Motion, or SfM, more info here: https://github.com/mapillary/OpenSfM).

The viewer uses this corrected direction, that's why it's correct there.

As you can see your compass for some reason retu

[2017-04-06 08:15] millenbop commented on #2392
Are you using German btw? I can see that the translation is pretty long. I'll fix so that the text autoscales, that should solve the problem for all languages. Will be out in the next release.

[2017-04-06 08:15] #2392 closed

[2017-04-06 08:22] thoschu96 commented on #2392
Hey Anders

yep.. German language.

Great news .. thx

Cheers

________________________________
Von: Anders Mårtensson <notifications@github.com>
Gesendet: Donnerstag, 6. April 2017 10:15
An: mapillary/mapillary_issues
Cc: Schulz, Thorsten; Author
Betreff: Re: [mapillary/mapillary_issues] remaining upload time (#2392)

Are you using German btw? I can see that the translation is pretty long. I'll f

[2017-04-06 08:41] peterneubauer commented on #1931
Yes, I will put it back, coming out in the next version, under dev options. Android implementation compliance joys :)

[2017-04-06 08:52] peterneubauer commented on #1931
It's in, out in 3.44.

[2017-04-06 09:15] millenbop commented on #2465
Could you try the following please:

- Turn location permissions for the app off, wait a little, turn it back on. See if that helps. If not:
- Turn off Flight Mode, wait a little, turn it back on. See if that helps. If not:
- Uninstall and install the app. Make sure you upload any pending photos first!

No need to upload, just take some photos where you currently are and check the direction in the

[2017-04-06 10:01] mprins commented on #2371
not sure why the yellow "viewport angle" now points the same direction as the dark-blue; while this image sequence was taken with a -30degree offset along the direction of movement... imo the should both be pointing to -30deg off the sequence line and not 0deg. (this show in edit mode btw)

[2017-04-06 10:35] ptpt commented on #2371
Thanks for reporting again. This might be an inconsistency issue with our DB systems. We have tracked this issue. Hopefully we will fix it next a few weeks.

[2017-04-06 10:49] peterneubauer commented on #1892
Ok,
on it, will try to recreate this with the devices over here. Thanks for all the reports - seems the offset settings screen needs to auto-rotate in order not to mess up camera preview orientation upside-down mode. On it ...

[2017-04-06 12:33] millenbop commented on #2114
This one is still haunting me, reopening!

[2017-04-06 12:48] millenbop commented on #2114
The problems started when we started using the GPS in the external cameras. We have received some complaints that they aren't that good so from now on we always use the phone's GPS instead. Since the code for that works, I consider this bug fixed, again ;) Will be out in the next release.

[2017-04-06 12:48] #2114 closed

[2017-04-06 13:53] peterneubauer commented on #1892
So, the problem sits in rotating legacy camera previews in the Offset activity. I now have enabled devices with only partly Camera2 support to run the more modern implementation that should have less problems. Can you please test http://android-releases.mapillary.io/Mapillary_Android_3.45-SNAPSHOT.apk and report back?

Meanwhile, I will work on getting even the legacy camera implementation to beha

[2017-04-06 13:55] knikel commented on #2401
I've looked into this issue today and unfortunately, this can't be fixed on our side. We're relying on [`whosonfirst-data`](https://github.com/whosonfirst-data/whosonfirst-data) and if the shape doesn't exist there, we can't display stats for it and it won't be available in the results either. The `Florida, USA` result comes from [`geonames`](http://www.geonames.org) and its shape is not available

[2017-04-06 13:55] #2401 closed

[2017-04-06 14:16] echeloni2p opened #2515 "Android 6.0/7.1.1 app cannot choose sdcard"
### Basic information
* Platform:  `Android`
* Version: `3.44`
* System/Browser: `...`

### Steps to reproduce behavior

 1. settings
 2. choose storage
 3. choose please select storage
 4. click arrow above and get stopped at /storage/emulated/0

No way to choose any SDcard

### Expected behavior
Choose SDCard to save picture upon, another directory
...

### Actual behavior
Locked into mobiel pho

[2017-04-06 14:17] drkludge commented on #2499
I upgraded to 3.4.3 yesterday.  The world is no longer snow white.  There is a usable map.

[2017-04-06 14:17] #2499 closed

[2017-04-06 19:11] geowOSM commented on #2465
Thanks, I tried everything what you suggested but unfortunately without success. Even restarted the phone before installing the app again.

I wonder if I'm the only iPhone SE user with this issue. 😉
You might search the image db for an IPTC-caption tag containing "iPhone8,4" and check the heading info there.

[2017-04-06 19:32] drkludge commented on #2515
This is a security issue for Android 6.0.1 and above. Where you could change this in Mapillary settings before, you have to change an Android system setting to move photo capture to a sd card. For the life of me I cannot find the setting but experienced the same issue.

[2017-04-06 21:12] grinapo commented on #1892
- however I rotate the capture screen it orients right and the captured images are oriented properly
- the direction arrow on the cap scn leads totop-right oriented page (it's been upside down)
- the setup cog leads to upside-down menu
- on 2nd - 3rd entering the capture screen the camera freezes on black picture, leaving and entering again fixes it
- forcing legacy api switch is there but seeming

[2017-04-06 21:15] grinapo commented on #1931
(3.45-snapshot have a non-functional switch.)

[2017-04-06 21:37] mikini commented on #1892
@peterneubauer
3.45-SNAPSHOT still exhibits the flipped camera feed described above on Samsung SIII (legacy I guess?) when tilted more than 90 degrees right/CW.

Is the "offset settings screen/activity" you refer to something internal? Doesn't ring a bell to me and can't find anything like that in the application.
You could upload the code to a git repository somewhere and I would gladly take a lo

[2017-04-07 07:02] katrinhumal commented on #2499
Just to wrap this up, this was related to a Mapbox bug, as it turned out.

[2017-04-07 07:14] millenbop commented on #2465
Thanks for testing!

Good idea, I'll check out some other SE users.

[2017-04-07 08:32] millenbop commented on #2465
I have checked some SE users now and some of them have the same problem as you do. Not all of them though. Our designer has a SE but he's on vacation right now, but I'll debug using that one when he's back in a few weeks.

[2017-04-07 09:22] knikel commented on #2405
@voschix: The search box should work as expected now.

[2017-04-07 09:22] #2405 closed

[2017-04-07 09:32] echeloni2p commented on #2515
Hi!

I do not know much about the internals, but is it possible to create a new dir on sdcard and give mapillary rights to it?

[2017-04-07 10:20] knikel commented on #1763
@GITNE: We have a more robust regex in place to check email validity. I can't guarantee you 100% spec compliance, but something around 99.9% :wink:.

[2017-04-07 10:20] #1763 closed

[2017-04-07 10:37] voschix commented on #2405
Thanks.
It has been OK for some time now.
Volker

On 7 April 2017 at 11:22, Kamil Nikel <notifications@github.com> wrote:

[2017-04-07 10:58] knikel commented on #2427
Hi, a few weeks ago we changed how we handle the feed content -- this shouldn't be an issue anymore (Tested on OS X Sierra 10.12.3 and Safari 10.0.3). While investigating that problem, I found that the elements in the feed would get refreshed with every scroll too. I fixed that as well.

[2017-04-07 10:58] #2427 closed

[2017-04-07 12:08] GITNE commented on #1763
Great! :smile:
But what about internal storage and case sensitive handling, like in #1805?

[2017-04-07 13:16] knikel commented on #1763
We'll handle that in #1805

[2017-04-07 13:38] katrinhumal commented on #2514
@richlv Great insights! Taking this to our feature requests pool for the team to consider.

[2017-04-07 19:00] yopaseopor opened #2516 "Unexpected updates of the app make the app crash"
### Basic information
* Platform:  `Android`
* Version: `3.44`
* System/Browser: `Xperia Z3 compact.`

### Steps to reproduce behavior

 1.Come an update
 2.Update automatically
 3.Crash app when you try to use it

### Expected behavior
Working well the app

### Actual behavior
-Sometimes it works well
-Sometimes it crash my settings so I have to reconfigure it ...when I have started my track, som

[2017-04-07 20:13] drkludge commented on #2515
@echeloni2p that's what I used to do on the sd card before 6.0.1. Once the Android configuration is made, the Mapillary sd card location starts with Android/data/app.maillary/files/mapillary... The long story short is that you do not have a choice on the directory path.

[2017-04-07 21:51] geowOSM commented on #2465
Thanks, gives me peace of mind. ☺️

Would you consider it possible  that there is some dependency or interference with other apps using the compass or is this unlikely due to sandboxing?

[2017-04-08 13:03] peterneubauer commented on #2510
that toggle is now (3.45+) in Settings->Developer. If eligable, Camera2 is default (you can see it in the offset screen as the camera name, but you can force Legacy in the toggle and the restart the app.

Works?

[2017-04-08 13:03] #2510 closed

[2017-04-08 13:04] peterneubauer commented on #2506
Yup, that's a bug, will fix when the high-prio ones are fixed. Thanks!

[2017-04-08 14:16] kozuch commented on #2393
For inspiration see this: https://wiki.openstreetmap.org/wiki/OpenStreetCam/OBD2

[2017-04-09 12:02] echeloni2p opened #2517 "Edit approved, but not applied"
Hi!

I made some changes to tracks in the hallstatt area and they were approved - I got mails about that.
But the webpage stills shows the unchanged tracks. I did change other tracks in that area in between, those were changed in the view in a nonce, but others are not.
Something hangs.

### Basic information
* Platform: `Web`
* Version: `09.04.2017`
* System/Browser: `win/linux - Chromium. Firefo

[2017-04-09 17:15] jfburke3 commented on #2515
That doesn't make sense.  A while back, when I first installed Mapillary (in the 2.x days) on my Galaxy S7 running Android 6.0.1, I was able to specify the SD card for image storage in Mapillary.  I'm still running it on that phone, with Android 6.0.1, and it is still storing images on the SD card.

[2017-04-09 17:16] jfburke3 commented on #2480
It seems to be back in some of the recent releases.  Not sure if that's permanent enough to close this ticket, or if you'd rather wait.

[2017-04-09 17:28] jfburke3 opened #2518 "Manual capture mode disables distance-based capture"
### Basic information
* Platform: Android 6.0.1
* Version: Mapillary 3.44 & 3.45
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Verify that you have distance-based capture enabled in Settings.  I have mine set at 3m if that matters.
 2.  Verify that you are in Automatic capture mode.
 3.  Switch from Automatic capture mode to Manual capture.
 4.  Go back into Setti

[2017-04-09 17:44] jfburke3 commented on #2476
Still not working on my Galaxy S5 (Android 5.0) :-( even after upgrading to 3.45.

As additional steps, I did this:
Uninstalled the app, searched the phone for anything with "mapillary" in it (didn't find anything), powered off the phone for a few minutes, booted back up, reinstalled the app from the Play store, and tried to log in via e-mail again, which still failed.  I noted that I was connecte

[2017-04-09 17:50] jfburke3 commented on #2473
@echeloni2p To be technical, when you're in manual capture mode, neither distance nor timed capture applies, so there shouldn't be any need to disable distance-capture (which, according to the description, automatically enables timed-capture).  What's worse, though, is that the operator isn't given any warning that this has happened.

[2017-04-09 17:51] jfburke3 commented on #2518
I just noticed #2473 exists for the same problem.  Close this one if you want, and track it with that.

[2017-04-09 17:51] jfburke3 commented on #2473
Still happens in 3.45.

[2017-04-09 17:53] jfburke3 commented on #2437
I just want to note that I haven't observed this problem, at least not in a way that I can identify it as this issue.

[2017-04-09 19:53] peterneubauer commented on #2515
The thing is that we probably need to find a way to have multiple roots to start from, the different SD cards, since it seems hard to go further up than the current sd card in order to choose the other. See something like http://stackoverflow.com/questions/38143961/sd-card-path-of-android-phone

[2017-04-09 21:01] HolgerJeromin commented on #2360
This was bad in the past but the mode (distance vs time)  is not shown and not changeable in the current camera gui, only in the settings. So switching from manual to auto capture sets the unwanted time based capturing.

[2017-04-09 21:09] peterneubauer commented on #2360
Yes,
The default should be auto distance though.

On Apr 9, 2017 11:01 PM, "Holger Jeromin" <notifications@github.com> wrote:

[2017-04-09 21:12] HolgerJeromin commented on #2473
Same as my  #2360

[2017-04-09 21:42] peterneubauer commented on #2515
@jfburke3 it might be that different models are different hard in enforcing the process permissions of the spec, but it seems there are only certain dirs and listings an app process is allowed to see in newer Android versions.

[2017-04-10 02:49] jfburke3 commented on #2515
I worded my comment poorly.  I should have been more clear that I didn't think it was an inherent Android 6.0.x issue.  @peterneubauer, I know you're correct, because of all of the info out about subtle changes introduced by Samsung on my model phone.

[2017-04-10 03:28] jfburke3 commented on #2450
@peterneubauer, this is what I sent in the logs for today, that you e-mailed me about ("interrupted after like 120 frames").

Just some additional comments and observations:
* I was talking on the phone, but that phone call started long before I launched the Mapillary app.
* I was on a heavily-used freeway that isn't in the boondocks, and has pretty good cellular coverage.

After the crash and I v

[2017-04-10 06:43] ptpt commented on #2497
It's added now. https://www.mapillary.com/developer/api-documentation/#the-image-feature

Also a filter `usernames` is added for filtering images by the specified users. See https://www.mapillary.com/developer/api-documentation/#search-images

Thanks for the patience. Closing.

[2017-04-10 06:43] #2497 closed

[2017-04-10 07:08] ptpt commented on #2503
Thanks for reporting. API v2 is deprecated now. We have tracked the issue and will check back when we upgrade it to API v3.

[2017-04-10 07:19] richardbrinkman opened #2519 "Rotated text appears scrambled"
### Basic information
* Platform: `Web`
* Version: `newest?`
* System/Browser: `Ubuntu 16.04 / Firefox & chromium-browser`

### Steps to reproduce behavior

 1. Browse to https://www.mapillary.com/app/?lat=52.215999491786704&lng=6.878205906769836&z=12.055500320940183&focus=map

### Expected behavior

Rotated street names are readable

### Actual behavior

Some street names are unreadable. Text tha

[2017-04-10 07:41] peterneubauer commented on #2450
Hi there,
the setting for forcing legacy Camera API if you have Camera2 (Android SDK

helps?

On Mon, Apr 10, 2017 at 5:28 AM, jfburke3 <notifications@github.com> wrote:

[2017-04-10 08:03] ptpt commented on #2036
Assume image keys consume most of tile sizes. One solution might be removing them from these dense areas.

[2017-04-10 08:15] FoliniC opened #2520 "Join Sequences"
### Basic information
* Platform: all
* Version: all
* System/Browser: all

### Steps to reproduce behavior

 1. upload more than one batch of images
 2. start the slideshow oft the first sequence
 3.the slideshow stops when the sequence ends (on mapillary the sequence are connected)

### Expected behavior
After uploading images in more than one sequence, it would be better if the sequences could

[2017-04-10 09:09] katrinhumal commented on #2305
Some additional details, since this case resurfaced on the forum: ```I don't think I have ever intentionally (or even accidentally) deleted any images I've uploaded. And in any event, from the way the remnant of the sequence progresses, it looks (to me--feel free to correct me) like someone (or some thing) deleted the missing images individually. I say that because the beginning portion of the seq

[2017-04-10 09:46] echeloni2p opened #2521 "processing of gps track with pictures missing a few"
After doing a few tracks with the new android app version 3.44 I wondered why it always missing a few pictures on start and all others look like they have a position of pictures made later...
Now I´ve seen the behaviour changed: write pictures and a seperate GPX track in legacy folder, and on upload combine them. Thats not error safe, as it looks like it does not match pictures and GPX track fine.

[2017-04-10 11:28] katrinhumal commented on #2516
@yopaseopor Thanks for reporting! I am sorry that this update made it worse for you. It would be really helpful if you can send us logs: go to Settings -> Developer and enable 'Save debug logs to file'. Then please try to capture again to trigger the crashing behaviour, and after that send us the logs via the same menu where you have Settings.

On another front: the automatic updates is a behaviou

[2017-04-10 11:39] katrinhumal commented on #2518
@jfburke3 Thanks for reporting! I think it's a good suggestion to track in one place. So closing this, but good to refer to from #2473.

[2017-04-10 11:39] #2518 closed

[2017-04-10 11:44] millenbop commented on #2465
It's _possible_ that other apps can hog the hardware (seen it happen with the camera where it failed to initialize), but I would say it's very unlikely and a restart should def fix that.

[2017-04-10 11:44] katrinhumal commented on #2520
@FoliniC Thanks for your suggestion! You are not the first one to mention this, but right now do not intend to implement it. If the end of one sequence and the beginning of the next one are close enough to each other, you will be able to navigate between them using the spatial arrows (read more [here](https://help.mapillary.com/hc/en-us/articles/115001761965-Spatial-arrows)). However, I am taking

[2017-04-10 11:44] #2520 closed

[2017-04-10 11:50] katrinhumal commented on #2521
Thanks for the details @echeloni2p! @peterneubauer will look into this.

[2017-04-10 11:56] katrinhumal commented on #2480
It's meant to be permanent so thanks for pointing this out! We're making efforts to get back on top of all the tickets here in mapillary_issues but it will probably take a while until we manage to follow up on everything that is appropriate to close. So your help is much appreciated :)

[2017-04-10 11:56] #2480 closed

[2017-04-10 12:25] HolgerJeromin commented on #242
We have distance based capture, so no real problem for my anymore.

[2017-04-10 12:25] #242 closed

[2017-04-10 12:26] HolgerJeromin commented on #1621
Right now we have no checkmark anymore. So i close this issue

[2017-04-10 12:26] #1621 closed

[2017-04-10 12:32] HolgerJeromin commented on #1543
btw in
https://www.mapillary.com/app/stats
i still have to enter the germany instead of deutschland.

[2017-04-10 12:32] HolgerJeromin commented on #299
Capture interface has changed a lot since than...

[2017-04-10 12:32] #299 closed

[2017-04-10 12:35] HolgerJeromin commented on #433
Probably solved in new editor.

[2017-04-10 12:35] #433 closed

[2017-04-10 12:50] peterneubauer commented on #242
Yes, we will remove the shake detector, it's too hard to get it right.

[2017-04-10 12:56] peterneubauer commented on #2521
Yes, it seems the GPX track is sometimes a bit off, depending on the phone. Probably the best compromise is to both record the track, and write the location as soon as it's known into the EXIF, and then display both in the preview and let the user decide what to choose, maybe default to the image location. WDYT?

[2017-04-10 13:00] peterneubauer commented on #2521
Also, @echeloni2p are you using the `disable location check` switch? In that case the images might be outside the GPX track since the camera is not stopping, waiting for the GPX logger to start. If this happens even without that switch enabled, it's a bug.

[2017-04-10 13:08] FoliniC commented on #2520
Hi,
I noticed the spatial arrows, but clicking on it changes only the top
triangle and brackets, so I didn't realized this behaviour.
Maybe you Could consider changing the image to the next one, when the
spatial arrow is clicked.
Thanks
Carlo

Il 10 apr 2017 1:44 PM, "katrinhumal" <notifications@github.com> ha scritto:

@FoliniC <https://github.com/FoliniC> Thanks for your suggestion! You are
not

[2017-04-10 14:04] yopaseopor commented on #2516
I think the think is with API Camera related, because with new version 3.45 and the setting Legacy API Camera enabled it works well. I will send the actual log to logs@mapillary.com

Thnak you for the other important info for me :)

[2017-04-10 15:39] richlv commented on #2515
a samsung phone with android could have taken many thousands of beautiful, sunny photos recently if it was possible to choose the sd card :)

@drkludge, you said "you have to change an Android system setting to move photo capture to a sd card" - the only thing i was able to find was moving the app to the sd card, but nothing seems to affect where the photos go. in the file manager, one can choose

[2017-04-10 15:49] echeloni2p commented on #2521
yeah, I do use disable_location_check, as in the mountains and city canyons a lot of poisitions are not in the 15m area. Usually I do refine those manually on mapillary wegpage, if that works (see other ticket^^).
The issue with gps notbeing in sync was not a issue until the change in 3.43 (or was is 3.44?)
One or two pictures without GPS location out of a few hundred is fine.
BUT the write GPS lo

[2017-04-10 15:52] echeloni2p commented on #2515
I can move the pictures from internal to sd card with "total commander", e.g. - but that takes a long time. I am not in the mood to take 2h pictures while riding the bike and at a break move all pictures to SD card while mobile needs power to refill battery ;-)
Thats why I try to get as big internal storage as possible now. Would like to have the Asus AR with 256GB ;-) but not yet available.

[2017-04-10 20:27] drkludge commented on #2515
@richlv I thought that I was sunk with my new phone.  I actually had to take the phone back to the store so that they could assist me.  Some of my long runs in Arizona would overrun the internal storage.

The reason why I could not find the setting is that I had to use "force stop" on Mapillary before I could use the change storage location button.  Like I said the default location is `SD card/And

[2017-04-10 20:35] peterneubauer commented on #2521
Totally agreed. I'm going to add GPS writing back into the images, and then
we can see both suggestions on the review map, potentially letting the user
choose what location to use, especially later with external images from
cameras with GPS. Also the gpx tracks needs to get better.

On Apr 10, 2017 5:49 PM, "echeloni2p" <notifications@github.com> wrote:

[2017-04-10 20:48] gyllen commented on #2305
@katrinhumal @jfburke3 This also looks like something from before we had our new changeset system in place. Is that correct? Have you seen this happening again?

[2017-04-10 22:49] jfburke3 commented on #2305
@katrinhumal I can't say for certain where the deletions referenced by this issue happened, but I can say that a sequence used to exist through this residential neighborhood, and is gone now:
https://www.mapillary.com/map/im/zfuoUCpCySYbsNUFk3phNQ

It's almost like someone didn't want there to be any imagery of that neighborhood.  (It's a new development under construction, so it's not like anyone

[2017-04-11 00:24] drkludge commented on #2521
@peterneubauer I usually let my phone "run for awhile" before I start taking pictures.  Hence, there are plenty of gps points at the beginning of the capture session.  I am guessing that when I turn the capture session off, you could still let the gps run for a bit.  That way you'd have additional long lat points at the end of the capture session.

[2017-04-11 03:37] ToeBee commented on #2517
Seems like possibly the same as #2417

[2017-04-11 03:51] ToeBee opened #2522 "Blur editor completely broken"
### Basic information
* Platform: `Web`
* System/Browser: Multiple (Chrome, FF, IE, Linux, Windows)

The blur editor is entirely non functional for me since at least yesterday. The mouse cursor does not change the the crosshairs when I enter the blur editor. Clicking in the image does not create blurs. Even the `Exit Editor` button doesn't do anything. Interestingly, the `Clear all` button *does*

[2017-04-11 04:50] ToeBee commented on #2522
The `Clear all` button working may be cosmetic. It causes the next image in the sequence to be displayed but I don't think it is actually submitting any blur requests.

[2017-04-11 06:25] kaitu commented on #2522
Confirm that, since yesterday. Nor it's possible to clear individual blurs, since the markers are not shown at all.

[2017-04-11 06:44] kaitu opened #2523 "Blur editor jumps to a nearby picture while dragging the image"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `Firefox 52.02`

### Steps to reproduce behavior

 1. Load the blur editor
 2. Drag the image around

### Expected behavior
The image is not changed until some deliberate action (clear all, submit, move forward/backward) is taken.

### Actual behavior
The editor will suddenly skip to an image nearby (not necessarily belongi

[2017-04-11 07:19] katrinhumal commented on #2516
@yopaseopor thanks a lot! :)

[2017-04-11 09:02] echeloni2p commented on #2521
drkludge thats not the real issue here - I did have the mobile running for 1 hour and made tracks before, it is "just" two threads running out of sync - GPS can be fine, but if the time of the GPS entry and the picture do not match, you have a fine GPS but thats combined with a picture made 10 sec later...
As I´ve written, mapillary did not have had that issue until 3.42, in which gpx track got se

[2017-04-11 09:04] katrinhumal commented on #2520
Hi Carlo,
The spatial arrows let you literally move around in space. In some cases, they are going to take you along the sequence, but that is because the photos in a sequence are usually close to each other in space. If there are no other photos/sequences around, then you will only have spatial arrows that take you along the same sequence. As soon as some other person has captured near where you

[2017-04-11 09:16] FoliniC commented on #2520
Ciao Katrin,
I realized how spatial arrows works.
My suggestion was to display the near est picture when clicking on it.
If you take a look at my sequences you will see that when the first one
ends a spatial arrow is displayed. There's a picture very near, but when I
click on the arrow only the topmost links changes (triangle and "less than"
).
My suggestion is to display the nearest picture.

Cia

[2017-04-11 10:31] richlv opened #2524 "mapillary.io serves incorrect SSL/TLS certificate"
go to https://forum.mapillary.io

notice how a certificate that is only valid for *.mapillary.com and mapillary.com is used

[2017-04-11 10:37] peterneubauer commented on #2517
These edits should now have the correct renderings. I deployed some more fixing code for this - can you test edits and reopen the issue if it persists? The line updates can take a few hours to get into effect, so give it some time to verify after you get the edit approval message.

[2017-04-11 10:37] #2517 closed

[2017-04-11 13:02] domdomegg opened #2525 "Error in weekly digest email"
Error in email - "Last week's top list in undefined"

![image](https://cloud.githubusercontent.com/assets/4953590/24910303/34d554b2-1ebf-11e7-8713-baf1ce5566cf.png)

### Steps to reproduce behavior

 1. Upload no photos (maybe this is required?)
 2. Get weird email

### Expected behavior

"Last week's top list in [London/England/the UK]"

### Actual behavior

"Last week's top list in undefined"

[2017-04-11 13:08] domdomegg commented on #2524
![image](https://cloud.githubusercontent.com/assets/4953590/24910408/94885a62-1ebf-11e7-8e05-2aaaedddb862.png)

![image](https://cloud.githubusercontent.com/assets/4953590/24910481/d9df34a0-1ebf-11e7-8836-f458ec3c8ed2.png)

![image](https://cloud.githubusercontent.com/assets/4953590/24910452/bf2c1fec-1ebf-11e7-8277-3ce53e855d52.png)

[2017-04-11 14:35] ToeBee commented on #2517
I'm pretty sure we don't have the ability to re-open issues after you close them. However this does seem to be fixed. All of my sequences over in #2417 are now showing up correctly on the map.

[2017-04-11 15:23] smsm1 commented on #2511
I've been using the Android Maillary app to capture photos using the bike mount on my Fairphone 2, and having been having the same issue where the capturing stops. I tried both time based and distance based auto modes. I also found some sequences would produce just green images, which I deleted before upload.

I've not been able to figure out a pattern to when the app stops taking photos, but it w

[2017-04-11 16:14] gyllen commented on #2305
@jfburke3 So there used to be a capture on Cardera Dr?

[2017-04-11 16:25] jfburke3 commented on #2305
@gyllen Yes, as well as Alcon Blue Drive.  I'm the one who drew those roads in OSM, using my Mapillary sequences to help align them (along with a GPS trace), as well as to get the road names from the signs.  I don't think I drove on the "stub" parts of the roads at the east end because the roads pretty much ended and I didn't see any point.  But I also drove in the circle that you can see north of

[2017-04-11 21:44] gyllen commented on #2305
@peterneubauer Is this something we can work with for finding missing images?

[2017-04-12 04:22] ToeBee commented on #2417
It looks like this is fixed now.

[2017-04-12 04:22] #2417 closed

[2017-04-12 07:44] peterneubauer commented on #2517
Awesome,
nice!

On Tue, Apr 11, 2017 at 4:35 PM, Toby Murray <notifications@github.com>
wrote:

[2017-04-12 08:00] echeloni2p commented on #2517
Hi
Not all edits I made are rendered new . e.g. https://www.mapillary.com/app/?lat=47.56285228326723&lng=13.648911640932027&z=17.079845807711507&pKey=WNl3DpAJMvFIml4m0vXb9Q or https://www.mapillary.com/app/?lat=47.07576841242292&lng=15.43814922799902&z=17&pKey=CFUVVb0ZsixeoHhE9cwbjw&focus=photo
will those areas rerendered automatic? Or do I need to edit all of them slightly in one picture to get t

[2017-04-12 09:02] voschix opened #2526 "occasional rotated picture with Android version 3.45"
### Basic information
* Platform: `Android`
* Version: `3.45`
* phone: 'Sony Z5compact'

### Description
Occasionally individual photos are rotated by 180 degrees.  Frequency below 1%

### Steps to reproduce behaviour
Not possibly to reproduce reliably.

### Notes
The rotations all happened with the bicycle mount. I have no comparison with car mount with the same App version.
I had reported the pr

[2017-04-12 09:54] voschix opened #2527 "Erroneous "bad GPS" interferes with picture taking"
### Basic information
* Platform:  `Android`
* Version: `3.45`
* phone: `Sony Z5 compact`

### Steps to reproduce behaviour
 1. Check that 'Skip location check' in the Developer settings is not set
 2. Take photos at fixed interval of 3s for a while (with shutter sound on to be able to hear the photos being taken)
 3. After a while the photo frequency will stutter and finally photo taking will cea

[2017-04-12 14:08] katrinhumal commented on #2522
Thanks for reporting! This should be fixed now, can you confirm?

[2017-04-12 14:17] katrinhumal commented on #2523
@kaitu that sounds annoying! I've never seen this happen myself (which is totally unhelpful of course). Do you remember roughly when you started noticing this? Or how often you feel this happens? Since you say you can't reproduce then I guess providing the url of an image that this happened to won't help us much... but probably won't hurt either? Also, if you can see if you see any errors in the d

[2017-04-12 14:31] peterneubauer commented on #2526
Yes,
I think this might actually be the phone reporting faulty rotation data. Before every capture the rotation of the picture is adjusted, since people have reported that this is the more dynamic and desirable solution insead of setting rotation at the beginning of a sequence.

If the phone occasionally is reporting wrong, there is not much we can do but to provide for instance rotation adjustmen

[2017-04-12 14:31] #2526 closed

[2017-04-12 14:38] katrinhumal commented on #2527
@voschix Thanks for the report! Do I understand correctly that this happens repeatedly, not just once? Do you think you could send us logs of this?

[2017-04-12 21:54] kaitu commented on #2523
I think that I started to see the problem when I started shooting 360 images, which necessarely involve a lot of dragging.

It's hard to tell how often it happens, I couldn't find a pattern. Since the editor is functional again I could review some 200 images without any occurrence, so far. But I try to do blind "clear all" request as often as I can by using memory or judgement, as I find dragging

[2017-04-12 22:38] ToeBee commented on #2522
Yes, it is working again.

[2017-04-12 22:38] #2522 closed

[2017-04-13 06:08] katrinhumal commented on #2525
@domdomegg Thanks for notifying, we'll make sure to fix that!

[2017-04-13 07:34] katrinhumal commented on #2525
Done, the next email should not have this issue.

[2017-04-13 07:34] #2525 closed

[2017-04-13 09:12] Abbe98 opened #2528 "mapillary.com: &deg; not rendered in <title>"
![image](https://cloud.githubusercontent.com/assets/2631719/24998193/977b34f8-2039-11e7-8001-f79492c3c74e.png)

`&deg;` is not rendered in tab-title.

Tested only in Opera(45.0.2552.225). Issue appears on https://www.mapillary.com/360

Using `°` directly seams to do the trick. :-)

[2017-04-13 09:28] peterneubauer commented on #2526
@voschix how is http://android-releases.mapillary.io/Mapillary_Android_3.47.apk working for you? Is that better?

[2017-04-13 12:59] MrYadro opened #2529 "Zero timestamp for photos / sequence"
### Basic information
* Platform: `Android` and (or) `Web`
* Version: `3.46`
* System/Browser: `Firefox`

### Steps to reproduce behavior

 1. Take photos
 2. Upload them

### Expected behavior

Timestamp of photos should way more then 0

### Actual behavior

Timestamp of every photo in sequence is 0

### Additional information

https://www.mapillary.com/map/im/DIivABK6DGjLAAhMMX5-OA
I had problem

[2017-04-13 13:07] quicky2000 opened #2530 "Unable to upload any sequence since latest mapilary android app update"
### Basic information
* Platform:  `Android`
* Version: `3.45`
* System/Browser: `Android 6.0.1`
* Phone : Samasung Galaxy A5 2017
* Phone reference : SM-A520F

### Steps to reproduce behavior

 1. Capture some photos
 2. Upload them
 3.

### Expected behavior

Fast processing sequence display, then upload progress and upload successfully terminated

### Actual behavior

Slow sequence processing (

[2017-04-13 13:15] quicky2000 commented on #2530
Hi,

In addition to that blocking issue I noticed that since this morning app update the capture screen froze sometimes

[2017-04-13 13:21] quicky2000 commented on #2529
Hi,

How did you obtained the trace?
Since this morning (just after mapillary ap update) i cannot upload anything... the preprocessing seems to be very slow and upload failed with error 400.
I wonder if this is the same issue than yours

[2017-04-13 13:28] MrYadro commented on #2529
@quicky2000 you need to enable debugging in Settings -> Developer -> Save debug logs to file, then click Send debug logs in "hamburger" menu

[2017-04-13 14:22] katrinhumal commented on #2530
@quicky2000 Thanks for reporting! Could you possibly send us logs of that? Please go to Settings -> Developer and enable `Save debug logs to file`, then try capture and upload again to reproduce the error, and send us the logs via the left-hand menu. Thanks!

[2017-04-13 15:54] jfburke3 commented on #2476
@peterneubauer Hey, it works now!  I just installed 3.46-SNAPSHOT on the S5 and tried to log in with it, and...I'm in!

[2017-04-13 16:43] quicky2000 commented on #2530
Here is what I obtained

Some logs:

[2017-04-13 17:19] quicky2000 commented on #2530
Or with more  details

Mapillary Android logs, user=quicky, version=345(3.45)
Some logs:

[2017-04-13 17:20] quicky2000 commented on #2529
Thanks for the information.
I tried but my log is quite empty
Mapillary Android logs, user=quicky, version=345(3.45)
Some logs:

[2017-04-13 17:36] jfburke3 commented on #2530
I'm having upload problems with 3.46-SNAPSHOT.  I'll try to get you some logs in just a bit.

I just upgraded from 3.45 this morning when I saw the new one in the beta channel, and went to resume some of my sequence uploads from the weekend, and now it doesn't seem to actually be uploading anything (that I can tell).

I've been staring at an "Upload in progress" screen for the past 5 minutes, with

[2017-04-13 17:39] jfburke3 commented on #2530
I should add that, while I had some occasional quirks and error messages in 3.45, I didn't have any major problem uploading with that release.

[2017-04-13 17:41] quicky2000 commented on #2530
Hi,

Thanks this is exactly the same issue I have.if you wait a sufficient time you should obtain the error 400.
I have 11Go to upload and I will have a lot more on saturday but I will not have enough storage in my phone ...is there any way to put it aside (on a PC ? ) by the time there is a solution ?

[2017-04-13 17:45] jfburke3 commented on #2530
@quicky2000 Yes, you can copy the folder containing your images to a computer, and then upload them using the web interface, or use their upload scripts to upload from there.  I haven't done it in a while, but the last time I did, it worked fairly well.

https://github.com/mapillary/UserGuide/wiki/Uploading

[2017-04-13 19:37] peterneubauer commented on #2530
I'm on it, there will hopefully be an update tomorrow for the aloha
testers, so wait with the upload until then?

On Apr 13, 2017 7:45 PM, "jfburke3" <notifications@github.com> wrote:

[2017-04-13 20:30] quicky2000 commented on #2530
Hi Peter, good news.
I succeed to obtain the trace file. You can find it in attachment.
Hope this helps
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/920768/mapillary_trace.txt)

[2017-04-13 21:46] quicky2000 commented on #2530
@jfburke3 Unfortunately from my Linux PC I cannot find the pictures taken by Mapillary apps so I have no choice, I have to wait for a new version of the app :-(

[2017-04-13 21:52] robertogb commented on #2467
I have the same issue in the web.
I was uploading photos but I hadn't click on publish yet when I accidentally closed the tab. I have the same label "pending photos" with the number of photos I was going to upload. I cannot edit the sequence and I cannot publish it.

[2017-04-14 06:35] echeloni2p commented on #2530
@quicky2000 it is in your android path, you can see the path if you go in mapillary on the settings under storage, by default it is /storage/emulated/0/Android/data/app.mapillary/files
On the USB connection choose file transfer and internal storage, afterwards it should be the Android/data/app.mapillary/files directory

echelon

[2017-04-14 08:06] quicky2000 commented on #2530
@echeloni2p Itried it but Android/data contains only a directory that is not app.mappilary
I tried  with mtp and ptp mode but the result is the same.
I dont have a mass storage mode with Android 6.0.1 contrary to what I had with my S2 on Android 4.0.4.
I tried a search in file tree with hidden files displayed but no result with mapillary string...
Perhaps is it due to my kubuntu?

[2017-04-14 08:09] quicky2000 commented on #2530
For the usb connection I have only mtp ptp and charge only.
Where do you find file transfer and internal storage? Is it on Android 6?

[2017-04-14 09:19] echeloni2p commented on #2530
Hey, no in the mobile phone after connecting with USB you can select the USB mode your mobile uses. At least thats what my androids show me.
On a different solution: you can use apps like total commander to move the pictures from internal storage to a SDCard (e.g. a 128GB one...) and read the SD card with a card reader. Not as comfy, but works, to.

echelon

[2017-04-14 15:00] jfburke3 commented on #2516
I keep automatic updates disabled for this very reason.

[2017-04-14 17:06] voschix commented on #2230
I would like this to be reopened.
The contents of the sidebar are not scrollable and there is no scrollbar.
The problem is specific to Chrome on Windows.

[2017-04-14 20:54] quicky2000 commented on #2530
@jfburke3 @echeloni2p after more investigation and a trial with a different method I succeeded to transfer photos taken by mapillary app on my Kubuntu PC, thanks for your tips

[2017-04-14 21:08] vincentdephily opened #2531 "Sequences zigzag between far-appart photos instead of following photos in sequence"
### Basic information
* Platform: `Web` & JOSM

### Steps to reproduce behavior

Open one of these sequences:
* https://www.mapillary.com/app/index/debigc?lat=53.40089564357103&lng=-6.257590717851883&z=17.87387300919241&pKey=Ai_2kdcYMEzysJ80gUG4dQ&focus=map&menu=false
* https://www.mapillary.com/app/index/debigc?lat=53.40411128322401&lng=-6.305160219932532&z=15.4466186715402&pKey=VGXfO5eSGBf8a6Qn3

[2017-04-14 23:07] quicky2000 commented on #2530
@peterneubauer @jfburke3 @katrinhumal I think I have a better view of the issue. I remarked that my free storage decrease very fast compared to what I had with previous version and by looking at pictures taken by mapillary apps I realised they are very big: 30.4MB per picture.
They are at full resolution ( 4608 *3456 ) of my photo sensor and I compared to unprocessed original files I uploaded befo

[2017-04-15 03:55] MrYadro commented on #2531
I think, the problem is the same as #2529

[2017-04-15 09:30] peterneubauer commented on #2476
Awesome, make sure to update via Play to the latest beta version, 3.47 so
you don't get the snapshot bugs.

Otherwise, happy mapping, more test vesions coming soon!

/peter

On Thu, Apr 13, 2017 at 5:54 PM, jfburke3 <notifications@github.com> wrote:

[2017-04-15 14:51] HolgerJeromin opened #2532 "Android 3.47 does not detect WiFi to 4g change"
I left my home with mapillary uploading many images over WiFi.
After a few hours I got a warning from my provider  that my volume is used too much.
Android version 3.47 has uploaded 750 MBytes over 4g :-(
Logged by 3G watchdog

[2017-04-16 13:40] zagor commented on #1612
I'm surprised to see that this problem has reappeared. Version 3.48 captures all photos upside down on my Nexus 5X.
![screenshot_20170416-153238](https://cloud.githubusercontent.com/assets/229360/25071558/f520f01a-22ba-11e7-9a5c-39d2f80dc920.png)

[2017-04-16 14:39] utack commented on #1612
@zagor did you recently update Android?

[2017-04-16 14:41] peterneubauer commented on #1612
Yes,
This should be fixed in the latest releases, 3.48, out now, has the fixes
and works on myicam Nexus 5X.

On Apr 16, 2017 4:39 PM, "utack" <notifications@github.com> wrote:

[2017-04-16 14:42] zagor commented on #1612
@utack Yes, I got Android 7.1.2 a couple of days ago. Did they flip the camera??

[2017-04-16 14:45] zagor commented on #1612
@peterneubauer The screenshot above is from Mapillary 3.48

[2017-04-16 14:49] peterneubauer commented on #1612
Does that even happen if you turn the phone a bitoee than 180 degrees? The threshold for the rotation might not kick in soon enough...

[2017-04-16 14:54] utack commented on #1612
@peterneubauer are you sure you are reading the orientation correctly, instead of using a hardcoded list of "flipped" phones?
@zagor should be easy to verify, if an ancient version of Mapillary without the fix sees the camera correctly now, then a double flip (in Android and Mapillary) happened instead of just one

[2017-04-16 15:10] peterneubauer commented on #1612
The orientation is not hard coded, but the threshold might need to be
adjusted. I think I noticed that it reacts at 180+ degrees, we will adjust
that that to be 90+ degrees instead for upside down.

On Apr 16, 2017 4:55 PM, "utack" <notifications@github.com> wrote:

@peterneubauer <https://github.com/peterneubauer> are you sure you are
reading the orientation correctly, instead of using a hardcode

[2017-04-16 19:45] zagor commented on #1612
@peterneubauer The upside down sequences today were captured with the phone turned 90° left, i.e with buttons up and usb connector to the right. The tilt reading (I have verbose enabled) hovered around 0°.

[2017-04-16 23:52] mikini opened #2533 "Upload fails because of missing date/location"
### Basic information
* Platform: `Android`
* Version: `Mapillary Android 3.48`
* System/Browser: `Samsung Galaxy SIII (GT-I9305)`

### Steps to reproduce behavior

 1. Capture sequence(s) using Capture tab
 2. Go to Upload tab and start upload

### Expected behavior
Sequences and photos queued for upload should be processed and uploaded. Usually processing time for each photo >1s. When finished s

[2017-04-17 05:26] HolgerJeromin opened #2534 "Image processing before upload should be done only once"
Android app 3.48 on fairphone 2 with Android 5.1

With the new app version mapillary processes every image before uploading it.
If there is some upload problem a resume processes every image again.
The results should be cached somehow.

[2017-04-17 19:45] jfburke3 commented on #2530
I'm going to send in a fresh trace log in just a bit.  @peterneubauer , unfortunately, after Saturday's brief test uploads, it seems to have stopped working again.  I don't know if the problem is the Android app, or the upload service on the server end of things.

In the trace log, you should see several upload attempts on wifi (I tried at two places, just to rule out a problem at one), and one on

[2017-04-17 19:59] jfburke3 commented on #2530
For today's upload failures, I tried to do individual sequences.  It never left the "Processing sequence 1 of 1, 13 / 13" message (i.e., never indicated that it had started uploading, never shows an upload progress message).

[2017-04-17 20:00] jfburke3 commented on #2530
Oh, should add that I'm using version 3.48.

[2017-04-17 20:26] echeloni2p commented on #2530
Hi
I see the box "processing sequence x of y" long time, it disappears after you did finish a upload of a picture. If you do close the app/change the app in between, you need to wait until it uploaded a picture 100%, else the box will not update...

echelon

[2017-04-17 20:29] echeloni2p commented on #2533
Hi
App did change the wasay it works, it does process each sequence (combine GPS and picture) and upload afterwards. It should upload fine, at least it does here on 2 mobiles now.

echeloni2p

[2017-04-17 20:32] echeloni2p commented on #2531
hey

should be fixed as of 3.47 on android. Side effect of change of processing GPS and camera on android.
Works fine here since 3.47 on 2 mobiles.

echelon

[2017-04-17 20:33] echeloni2p commented on #2529
hii
please try again with 3.48 - after a debug session with peterneubauer, that error should be fixed.

[2017-04-17 21:51] jfburke3 commented on #2530
How long should I have to wait?  I let it sit for more than 20 minutes trying to upload some short sequences (less than 50 images), and the "processing" message never went away.  Note that it never said "uploading....." which it used to do.

[2017-04-17 22:56] peterneubauer commented on #2529
Yup,
I'm closing this for now. Thanks @echeloni2p for the help!

[2017-04-17 22:56] #2529 closed

[2017-04-17 23:02] peterneubauer commented on #2530
You should not have to wait long for processing. It seems there are some problems reading some of your images:

[code]

Can you please send me one of these @jfburke3 ? Also, I will check so the progress is shown even though the images are not actually uploaded.

[2017-04-17 23:38] peterneubauer commented on #2530
@jfburke3 you can try http://android-releases.mapillary.io/Mapillary_Android_3.49-SNAPSHOT1.apk for a hopefully better progress dialog. However, there are no pictures uploaded since the date can not be found, please send me at least on of these, see above? (you can see them via a normal file explorer, navigating to the Mapillary directory and into the sequence 2017_04_16_19_46

[2017-04-18 03:37] jfburke3 commented on #2530
@peterneubauer , I've e-mailed 3 of the requested images separately; let me know if you want more.  I'll download that apk and see what it does.

I noted that #2533 appears to have been opened on the same problem.

[2017-04-18 03:47] jfburke3 commented on #2532
As far as I can tell, on my phone, it suspends upload when I leave wifi coverage.  But, I'll try to test this scenario, if I can get the app to upload anything ( #2530 #2533 ).

[2017-04-18 05:35] peterneubauer commented on #2530
Ok, @jfburke3 if you try http://android-releases.mapillary.io/Mapillary_Android_3.49-SNAPSHOT2.apk, I'm failing over the missing DateTimeOriginal EXIF tag to CreateDate. Does that work better?

[2017-04-18 08:55] mxa opened #2535 "sequence not in proper order"
The sequence kEt-vktCzxzjxVMWL3hpFg shows images not in the subsequent order.

[2017-04-18 09:20] peterneubauer commented on #2530
![image](https://cloud.githubusercontent.com/assets/11977/25123542/0dc152a8-2429-11e7-9784-45397a01924d.png)

[2017-04-18 12:27] quicky2000 commented on #2530
Hi,

Do you have some news about the issue I encountered : pictures taken by mapillary apps were suddenly very big ( 30.4MB) what was making the server reject them.
During the week end, after unsucessful testing with 3.47 beta I deleted all sequences having big pictures and new sequences started after that now have pictures with correct size I don't understand why...

[2017-04-18 14:28] vincentdephily commented on #2531
Cool, hopefully these won't show up again. Is there any way to fix already-uploaded sequences ?

[2017-04-18 15:20] jfburke3 commented on #2530
@quicky2000 Just a side comment that my images are all around 3MB.  I have no idea how you're ending up with 30MB images.

[2017-04-18 15:25] peterneubauer commented on #2530
@quicky2000 if you have any of the big images left, did they look OK or faulty, and could you send me one if possible? @jfburke3 hiw is the new 3.49 working out for you?

[2017-04-18 15:42] quicky2000 commented on #2530
@jfburke3 OK so you have same symptoma but different cause
@peterneubauer Yes I still have them, I intend to try to postprocess them to upload them. as they look OK You can find one of these images here http://dl.free.fr/f7U4sGtdI

[2017-04-18 16:18] voschix commented on #2527
Update: the link with GPS problem is most likely a fake.
Yes the problem happens repeatedly and frequently, and now prevents me from really producing pictures. I changed the picture setting mode to ignore missing GPS signal. I still get the same behaviour plus some pictures that are in the wrong position (see my uploads of 17 April 2017). The app starts, takes pictures for periods from tens of min

[2017-04-18 16:39] jfburke3 commented on #2530
@peterneubauer Mapillary_Android_3.49-SNAPSHOT2.apk is uploading images.  It has several problems, but it *is* uploading.

Among the issues I've observed:

* the dialog boxes "come back" and won't go away.  E.g., after a sequence finishes uploading, it gives me the "upload finished" message and then the message box goes away.  But, if I open another sequence, the "upload finished" box is back, and

[2017-04-18 16:43] jfburke3 commented on #2530
I see the uploaded images in my Feed on the website, but I don't see their tracks on the map....  I can select them in the feed, but that doesn't make the track show up.

[2017-04-18 16:47] voschix opened #2536 "Problems with Upload from Android App"
### Basic information
* Platform:  `Android`
* Version: `3.48`
* System/Browser: `...`

### Steps to reproduce behavior
not reproducable

### Expected behavior

At the end of the automatic upload no picture folders or files should remain on the phone

### Actual behavior

Upload does not finish properly

### Additional information
On 17 April 2017 I produced 12 (or 13?) sequences. At the end I fin

[2017-04-18 17:24] jfburke3 commented on #2536
There are cases already opened about the upload problems this #2530 #2533

[2017-04-18 20:04] peterneubauer commented on #2536
@voschix can you please send the log after the processing? It seems some images were not passing processing, I need to check what the problem was.

[2017-04-18 20:05] jfburke3 opened #2537 "Images uploaded do not appear as tracks on the map"
I know this feels like piling on you guys, but I thought that this issue should be noted for now.

### Basic information
* Platform: Android 6.0.1, Windows 7
* Version: Mapillary 3.49-SNAPSHOT1 (is what it says in the version, but this was the -SNAPSHOT2 apk I installed)
* System/Browser: Samsung Galaxy S7 Edge, Chrome on Windows

### Steps to reproduce behavior

 1.  Upload a sequence
 2.  Wait a

[2017-04-18 20:17] voschix commented on #2536
@Peter:
The file I sent to Katrin is the log after the uploads. One of them did not
work. The 70 photos are still on the phone. In the meantime I launched a
manual upload of these files, but they are not yet visible on the site.

On 18 April 2017 at 22:04, Peter Neubauer <notifications@github.com> wrote:

[2017-04-18 20:25] jfburke3 commented on #2510
I'm...not completely sure that it works like it used to, but I need to do some more testing.

[2017-04-18 21:34] jfburke3 commented on #2537
This might not be as big of a problem as I first thought.  I found at least a few of my newly uploaded sequences do get their dot-and-track representation.  E.g., https://www.mapillary.com/map/im/vjuk-RrJJKA8urZ9hHWQzA

[2017-04-19 02:49] jfburke3 commented on #2511
It happened again several on Sunday with version 3.48.  I didn't get trace logs at the time, unfortunately.

[2017-04-19 06:29] ramapongithub opened #2538 "iOS - not able to stop sequence playing"
### Basic information
* Platform: `iOS` 10.1.1
* Version: Mapillary App 4.6.13`

### Steps to reproduce behavior

 1. Go into the sequence screen (the split one with the photo on the top half and the map on the bottom half), either from the map view or from the profil page.
 2. Start playing a sequence with the "Play"-Button (the right pointing triangle)
 3. Exit the sequence screen WITHOUT stoppi

[2017-04-19 09:28] voschix commented on #2536
Update:
There is an additional problem:
all photos in the the "strange" directory
![image](https://cloud.githubusercontent.com/assets/11076112/25172843/7f245052-24f2-11e7-9031-d791988d837e.png)
are geotagged with the location of the first photo.
You can see the result in the manually uploaded sequence G_-YzztDDx_t4Kitt0kzVQ
Could be something similar to
https://github.com/mapillary/mapillary_issue

[2017-04-19 09:34] voschix commented on #2537
Have you checked that those pictures that do not "produce" a track carry the correct geotagging are not in reallity a sequence with all photos carrying identical geotagging. I just had one sequence where all pictures are geotagged to be at the location of the first picture in the sequence.  The wrong geotagging happened in the phone. See my addition in https://github.com/mapillary/mapillary_issues

[2017-04-19 09:53] peterneubauer commented on #2516
So,
since 3.45 there have been a  lot of bugs fixed around processing, upload and picture orientation, so I would encourage you to at least update or try 3.50 (you can always downgrade using http://android-releases.mapillary.io/index.html)

[2017-04-19 09:53] #2516 closed

[2017-04-19 09:54] peterneubauer commented on #2521
Is this still an issue? In that case, I would love to take a look at the sequence if you can get the whole folder (GPX, photos) to me.

[2017-04-19 09:56] peterneubauer commented on #2527
@voschix can you clear the log and get it to me when this happens again?

[2017-04-19 09:58] peterneubauer commented on #2530
@jfburke3 for the not-processing 81 images, can you get the logs after you tried to process them?

[2017-04-19 09:59] peterneubauer commented on #2533
Is this working with the latest (3.47+) releases? The problem was that some Android camera implementations are not writing some EXIF tags properly, so we need to fall back to others to read the capture date.

[2017-04-19 10:06] peterneubauer commented on #2535
This was a bug on the app level that is fixed. We have an internal issue to reorder these sequences that have images with data Unix 0 (1. Jan 1970), taking the EXIF date instead of the Mapillary tag date as the capture date.

[2017-04-19 10:10] peterneubauer commented on #2531
Duplicate of https://github.com/mapillary/mapillary_issues/issues/2535

[2017-04-19 10:10] #2531 closed

[2017-04-19 10:13] peterneubauer commented on #2532
@HolgerJeromin that is really not ok. Can you reproduce that issue, as we have tested this with going out of range and checking that the app is stopping upload. The app is listening to the Network Monitor API in Android, it would be great to see if that is not triggered on your phone for some reason.

[2017-04-19 10:14] peterneubauer commented on #2536
For the hanging empty sequences, you can delete them @voschix as they are from older versions of the app.

[2017-04-19 10:15] peterneubauer commented on #2536
@katrinhumal can you please get me @voschix logfile for this issue?

[2017-04-19 10:16] peterneubauer commented on #2534
Yes agreed, the problem is that the app doesn't know if you did any changes to the files in the meantime, so we are taking the safe route of reeprocessing for now.

[2017-04-19 10:19] peterneubauer commented on #2505
So, for the users wanting to skip location, the check is moved to settings->developer. It works again, but be aware that totally missing location in the GPX track (no fix at all) will now result in not uploading these images and make the images sit on the phone for you to delete.

[2017-04-19 10:19] #2505 closed

[2017-04-19 12:50] mikini commented on #2533
As stated in the above description this was all experienced on 3.48. I noticed that 3.50 is out, will take it for a spin later today.

Am I able to upload my offloaded sequences by just dropping the sequence dir containing images and gpx back on the phone?
Or could I maybe get some guidance/pointers as to how to fix the upload.py script to be able to upload my backlog of ~10GiB of sequences? (amon

[2017-04-19 12:53] HolgerJeromin commented on #2534
First processing one sequence, than uploading it
would help uploading fast. And on abort the unneeded processing would be reduced.

[2017-04-19 14:16] peterneubauer commented on #2533
@mikini yes, if the upload works, the bad sequence should be uploading by putting it back to the phone. Also, we are planning to test and make sure that the upload scripts are taking these GPX/images, can you maybe get me the GPX file and a few images of that bad sequence to test over here?

The bad image seems to be faulty, you probably should delete it from the sequence/phone.

[2017-04-19 14:26] HolgerJeromin commented on #2532
I will try next time i have images on my phone :-)

[2017-04-19 14:35] kokoye2007 opened #2539 "Request Android 360° Photo import and Upload Function."
### Basic information
* Platform: `iOS` | `Android`
* Version: `...`

### Steps to reproduce behavior

 1. Take 360° Photo and use browser
 2. Import 360° Photo and use browser
 3. Cant connect with 360° cam via app. So take download and transfer.

### Expected behavior

We want to use 360° photo upload with Mobile application. We cant take with Mapillary App? Ok we want to import 360° photo and w

[2017-04-19 15:16] mikini commented on #2533
Nice, thanks.

Sure, here is 3 photos and the gpx from one that didn't upload:
[2017_04_14_13_20_28_935.zip](https://github.com/mapillary/mapillary_issues/files/935292/2017_04_14_13_20_28_935.zip)

And the corrupt photo with its gpx:
[2017_04_08_08_53_09_301.zip](https://github.com/mapillary/mapillary_issues/files/935474/2017_04_08_08_53_09_301.zip)

The corrupt one seems to have a valid header bu

[2017-04-19 20:02] jfburke3 commented on #2532
It definitely detected the change on my S7, and suspended uploading until I was reconnected to wifi.

[2017-04-19 20:15] mikini commented on #2533
No success using 3.50 either. Same quick iteration through sequences, but now an "Upload finished" message instead of hanging at last photo. Still need to press "Cancel" button to continue, though.

Screenshot;
![screenshot_2017-04-19-20-08-47](https://cloud.githubusercontent.com/assets/1330166/25195230/3dd32e2a-253d-11e7-99a7-fba69e0597ed.png)

Looking in the log, I see tons of "has null date" me

[2017-04-19 20:36] jfburke3 commented on #2537
I think so.

[2017-04-19 20:37] jfburke3 commented on #2530
I already cleared the log from that upload, but if I can get it to happen again, I'll send a log.  This *was* happening pretty reliably in the 3.49 SNAPSHOT release, but I updated to 3.50, and now it doesn't seem to be occurring.

[2017-04-19 21:59] jfburke3 opened #2540 "Timestamp on images on the website is wrong"
I noticed a little while back that the timestamp on my images is no longer correct.  (It used to be, but no more.)

I kept forgetting about it until now.  This sequence, for example, is showing a time that is 4 hours before I actually shot the images:
https://www.mapillary.com/map/im/EnR9R5HeqwiYmxJQQA-AAg

And the same seems to be true for the rest.

[2017-04-20 08:15] peterneubauer commented on #2486
So, this is a change back from where the background sync service was not running at all times. This has to do with some of the libraries we use that can't receive IPC intents from services if they run in their own processes. Nothing we can do right now to change it, but maybe later.

[2017-04-20 08:15] #2486 closed

[2017-04-20 12:19] jidanni opened #2541 "the user cannot figure out what to click on to unsubscribe"
User wishes to unsubscribe from "Mapillary Weekly Digest".

User clicks the link contained within,

and ends up on the screenshot attached.

In it one does not find the familiar checkboxs seen on other websites
using HTML Forms.

Maybe it is the user's browser (Linux/midori) but anyways, the user cannot
figure out what to click on to unsubscribe.

![f](https://cloud.githubusercontent.com/assets/12

[2017-04-20 13:40] kaitu opened #2542 "Blur editor sometimes ignores "Clear all" requests"
### Basic information
* Platform:  `Web`
* Version: `...`
* System/Browser: `Firefox 52.0.2`

### Steps to reproduce behavior

 1. Call the blur editor, move to next image with a click an "clear all"
 2. don't move the mouse pointer from the "clear all" button, stay ready to quickly click again
 3. click again on "clear all" as soon the new image is visible and you aknowledged it doesn't need any

[2017-04-20 14:53] nunogand opened #2543 "Unable to get a GPS lock in latest mapillary versions"
Stopped using mapillary app during the winter. When I tried to start using it again, some updates later, the app was unable to get a GPS lock.
All other apps on my phone can get a GPS lock at the same time, just Mapillary can't.

However, eventually I found that version 2.40 of the app still works - after a few seconds I can get GPS lock and start taking pictures.

I'm using Android 4.4.2

[2017-04-20 16:07] zlavergne commented on #1892
I have a few photos in my sequences that are flipped. Could you flip them?
https://www.mapillary.com/map/im/MypBwoI1MuxfW8Cb28psOA
https://www.mapillary.com/map/im/jZQynzhkzQKS_7jobU21cw
https://www.mapillary.com/map/im/wmslqO-NgszBPgmvN7Q0sA
https://www.mapillary.com/map/im/e1JYEWNmSDYUY5uG320wWg
https://www.mapillary.com/map/im/aSd6EC5ncQeRnlqLx4fctA

Thanks

[2017-04-20 16:11] jfburke3 commented on #2530
@peterneubauer Ever since updating to 3.50, I haven't had it skip any images.

[2017-04-21 00:03] jfburke3 commented on #2530
@peterneubauer It finally skipped some images that I shot and tried to upload today.  For several sequences, it would only upload a portion of the sequence.  I had to exit the app, go back in, and keep trying to upload the rest of the problem sequences to get them all uploaded.  I'll e-mail trace logs in a bit.

[2017-04-21 07:33] voschix commented on #2536
This all a bit difficult to reproduce, as apparently I have been using different versions in quick succession. I am now on 3,50.
Regarding the manually uploaded sequence G_-YzztDDx_t4Kitt0kzVQ where all photos have the same position (of the first photo in the sequence), I noticed that the data in the phone are strange: the directory
![image](https://cloud.githubusercontent.com/assets/11076112/2526

[2017-04-21 07:47] peterneubauer commented on #2536
Can you maybe get me that sequence folder? If there is a GPX file in it, it probably comes from the first version of the new upload, and if it's not super important, delete it. Otherwise, I can probably check the time-offset and synch/upload/fix it.

[2017-04-21 11:34] millenbop commented on #2538
Thanks for reporting, I'll fix as soon as possible!

[2017-04-21 12:30] katrinhumal commented on #2539
@kokoye2007 thanks for your request! We are already working on the 360 camera support so you will soon be able to link your LG to the Mapillary app to take photos. We do not plan to add an import feature to the mobile app; if you have photos taken outside the Mapillary app then you should use our web uploader (as it sounds like you are doing). Keep an eye on our blog and social media to stay up-to

[2017-04-21 12:30] #2539 closed

[2017-04-21 12:35] katrinhumal commented on #2541
@jidanni thanks for your feedback! These are valuable insights and I'm taking them to our team to figure out how to improve.

[2017-04-21 12:35] #2541 closed

[2017-04-21 12:47] katrinhumal commented on #2542
@kaitu we have seen something like this happen before, although rarely (with two images I think, quite far apart in time and space). In these instances, it was very clear that no blur requests (whether adding or clearing blurs) "stuck" to the image no matter what. Do I understand correctly that for you, the same image behaves differently - i.e. occasionally the request doesn't go through but maybe

[2017-04-21 12:50] katrinhumal commented on #2543
@nunogand Thanks for reporting! Do you have Google Mobile Services turned on? If not, could you do that and see if it helps get a GPS fix for Mapillary?

[2017-04-21 13:27] katrinhumal commented on #2540
@jfburke3 This is interesting. We haven't changed anything in a long while, so what should apply is this:
- if the photos are captured from our apps, it will be UTC (there was some Android app version that recorded local time but that got fixed long ago)
- if the photos are from action cameras/360, it can be anything depending on users’ setting (UTC, local time or random time zone)

What have you

[2017-04-21 14:04] kaitu commented on #2542
The sequences I was dealing with consisted of images close to each other both in time and space (say some 10s and 10m apart).

I'm not sure how often the problem occurs, because I usually take it for granted that the "clear all" request was accepted, as soon as I see that the editor automatically moved to the next image. The only way to check, is to go back to the previous image and verify that it

[2017-04-21 17:36] nunogand commented on #2543
I tried with GMS on and off. Only in 2.40 (from the ones I tested) can I get a GPS lock.

[2017-04-22 12:30] jfburke3 commented on #2540
I'm just using your app.

From what you just said, it sounds like one possibility is that the app is using my phone's time, which is US Eastern time, but the website assumes that it's UTC and subtracts from the image timestamp to adjust the displayed time?

[2017-04-23 08:41] nunogand commented on #2543
My device is a BQ Aquaris E4.5. It's based on MT6582.
I've updated the manufacturer software to Android 5.0 and still fot the same issue.
With CM13 also the same problem: while all other GPS aps can get a fix, latest versions of mapillary can't but 2.40 still works ok.

[2017-04-23 14:00] fredao commented on #1502
@peterneubauer I uploaded some terrible pictures - unvoluntary - where do I find the editor to delete them?

[2017-04-23 16:14] danbjoseph commented on #1502
In the Mapillary interface if you select a photo in the sequence and then click the 3 dot icon in the right-side options it will bring up the 'Photo details' box. Click `Edit current sequence`.
![screen shot 2017-04-23 at 12 09 31 pm](https://cloud.githubusercontent.com/assets/4806884/25315102/cb9ff908-281d-11e7-8ea2-b5261ae2f263.png)
You can then select and delete individual photos with the `Dele

[2017-04-23 16:54] rigoucr commented on #1892
I got the exactly same issue.
When I take new sequences all the pictures are always flipped 180°.

- Device:
  Brand : LG.
  Model: Nexus 5x.
  Android version: 7.1.2.

- App version: 3.50
I also tried to force the use of the legacy Camera API but only  make issue worse, when I open the capture mode, the camera are completely flipped  180°.

[2017-04-23 17:05] fredao commented on #1502
Thank you for your quick answer. I uploaded really a terrific sequence. So
it is important for me. :-)

## Manfred Reiter - mobile -
## please excuse typos and brevity
## http://weeklyOSM.eu

Am 23.04.2017 11:14 schrieb "Dan Joseph" <notifications@github.com>:

[2017-04-24 00:11] GITNE opened #2544 "Traffic signs filter does not reset after “Reset filters”"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Linux/Firefox`

### Steps to reproduce behavior
1. Turn on `Traffic signs` filter
2. Click `Reset filters`

### Expected behavior
Traffic signs should stop being filtered or displayed.

### Actual behavior
Traffic signs are still filtered or displayed. Additionally, the address bar URL keeps the `&signs=true` URI parameter

[2017-04-24 01:06] GITNE commented on #2528
True. Yet, everything works as expected, although I am sure not as intended. :laughing:
Look at the page's source code:
[code]
Can you spot the bug?

[2017-04-24 07:31] Abbe98 commented on #2528
I see, the browser or build pipeline converted `&` into `&amp;`.

Interesting that the element inspector did not show the raw code, did not know that it behaved that way.

[2017-04-24 07:56] peterneubauer commented on #2540
From discussing this with @ybkuang I think it's like you say @jfburke3 . The problem is that in EXIF, there is no concept of time zone, and there is no standard for what to write into the date fields- UTC od Localtime. The different vendors to different things.

Before, we were writing the phones timestamp after capture into the JSON, not connected to the EXIF. Now, we are trying to be concistent

[2017-04-24 08:01] peterneubauer commented on #2533
Yes, this is exactly the problem. Requesting image capture via the vanilla camera APIs results in non-sufficient EXIF metadata with especially date fields missing and not filled in. I strongly suspect that there is more happening after the capture in the camera app.

Can you please try http://android-releases.mapillary.io/Mapillary_Android_3.51-SNAPSHOT1.apk which takes more date failover in the E

[2017-04-24 10:29] katrinhumal commented on #2536
Sorry for my slowness here. @peterneubauer I sent you a sharing link via email, the logfile was too big to upload here.

[2017-04-24 11:44] ray66 opened #2545 "Bad traffic sign icons"
### Basic information
* Platform:  `Web`
* System/Browser: `Linux Debian Stretch, Firefox ESR 45.8.0`

### Steps to reproduce behavior

 1. Click on the "Filter" icon
 2. Activate "Show detected traffic signs"
 3. Zoom out the map until several signs are grouped and represented as a single sign
 4. Click on such a group of signs

### Expected behavior

A popup with the icons of the individual sign

[2017-04-24 11:56] GITNE commented on #2540
I do not think this overly complicated path is actually necessary because you can always compute UTC or just get it by calling a system method on the phone locally, that is provided the user has set up the internal clock and time zone (including daylight saving) properly. Of course, you cannot be absolutely sure that the user has done that correctly but you have to start somewhere. Then you can ch

[2017-04-24 12:38] GITNE commented on #2545
I too can confirm this behavior on Firefox 47.

[2017-04-24 13:40] GITNE commented on #2540
I am not exactly sure what you are trying to say. You cannot *combine* the `GPSTimeStamp` and `GPSDateStamp` EXIF fields in the EXIF header because by specification they are two distinct fields. However, they *are* sort of combined in XMP because they are encoded as an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date time stamp of the form *`YYYY`*`-`*`MM`*`-`*`DD`*`T`*`HH`*`:`*`mm`*`:`*`SS

[2017-04-24 13:43] peterneubauer commented on #2540
Yes, I'm trying to say I'm not sure about the format since there seems to be competing  versions (fractions vs Long), see http://stackoverflow.com/questions/4879435/android-put-gpstimestamp-into-jpg-exif-tags

[2017-04-24 13:57] GITNE commented on #2540
Well, Android's API documentation says:
[code]

But, it would not be the first time for API documentation to be incorrect. :unamused: Try passing strings of rationals, like `"12/1:34/1:56/1"`, `"12/1:34/1:56/789"`, or as one answer on Stackoverflow suggests delimited by commas `"12/1,34/1,56/1"`.

[2017-04-24 14:55] RafalR commented on #2260
@katrinhumal Thanks for the help. Some time ago I noticed that everything is ok.

[2017-04-24 14:55] #2260 closed

[2017-04-24 16:37] mikini commented on #2533
Using 3.51-SNAPSHOT1 and capturing a quick 3 photo test sequence the upload now do remove the photos from the phone. I can't see them on the site yet, though.  Around 20 minutes has elapsed since upload.

I still have to press "Cancel" in the upload dialog when it says "Upload finished" to dismiss it, which feels odd.

Log attached:
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issu

[2017-04-25 05:01] HolgerJeromin commented on #2289
This was implemented in the beta Android app according to the changelog.

[2017-04-25 08:13] peterneubauer commented on #2540
With 3.51, is this now working better?

[2017-04-25 08:27] millenbop commented on #2538
It has now been fixed, will be out in the next release.

[2017-04-25 08:36] #2538 closed

[2017-04-25 09:48] habi opened #2546 "Wrong GPS position on images from GoPro. Photos located on a single straight line."
### Basic information
* Platform: `iOS`, GoPro Hero Session 4, my bike and [this connector](https://github.com/habi/OpenSCAD/blob/master/STL/smart_gopro.stl)
* Version: `4.6.13`

### Steps to reproduce behavior

1. Connect camera, acquire sequence
2. Check while acquiring that the green dots are where I cycle
3. Transfer the images from the camera to the phone
4. Upload

### Expected behavior
See

[2017-04-25 11:55] peterneubauer commented on #2540
closing this for now as it should be fixed. We will change the filename of the images from localtime to UTC and start using is as the first check, before even looking into EXIF - which will work good for images taken with the apps and supports milliseconds, too.

[2017-04-25 11:55] #2540 closed

[2017-04-25 12:14] peterneubauer commented on #2536
For the 3.54 version, empty folders now will be deleted and the directories should look more clean. Please et me know if you find problems.

[2017-04-25 12:51] thoschu96 opened #2547 "Report an error link is missing"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Visit mainpage from Mapillary
 2. Try to report an error

### Expected behavior

A link to report an error i found

### Actual behavior

On the bottom of the Page there was a link, that is gone...

### Additional information

[2017-04-25 12:58] thoschu96 opened #2548 "Blur / Unblur .. more detailed mail/information"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. an other user signup an blur/unblur request of the own pictures.
 2. after approval a mail and Feed entry got updated

### Expected behavior

Detailed information if blur or unblur happend
and which Section / Area

### Actual behavior

Only BLUR get report, even if it's an unblur request
So an Adjustment would be nice to

[2017-04-25 15:20] katrinhumal commented on #2547
@thoschu96 Thanks for noticing! I will look into this.

[2017-04-25 15:25] katrinhumal commented on #2548
Thanks for the input! The reason that we haven't invested time into giving detailed information about which blurs took place is that to date, we haven't yet come across a case where someone would have sabotaged anyone else's photos. When you get the notification about blurs, then the edits have already been approved by the Mapillary team (or a bot, if the requester has a tracklog of successful blu

[2017-04-25 17:14] thoschu96 commented on #2548
Hi.
No, was just saying/asking for improvements.
But you are working on, to send out Blur Mails if something got blurred and
UnBlurred Mails if something got unblurred.
It's confusing, when u get an BLUR Mail and u don't know if Blur or UnBlur take aktion on your Pictures.

[2017-04-26 19:24] habi commented on #2546
I've tried again today and got the same problem.
This time with sequence [M634IzTqpbQspoFN-w-3WQ](https://www.mapillary.com/map/im/FJ2tquECcjJLI-55X8HkNA) and [jF_jW-C_rYMAbFQxDdIfEQ](https://www.mapillary.com/map/im/J6EgH3v19I13MVMMfrWtdg).
The first one seems to start correctly, but then goes bonkers.
The second one is completely off regarding positions. Also it switches between images from the

[2017-04-26 19:28] habi commented on #2546
Here's one of the more recent sequences where everything worked as expected: [rnVSf9enGjZ-enJvc3HaBw](https://www.mapillary.com/map/im/BvW-UBnj8uFUR41Khb7FJw).

(Mapillary-wise that is, I was nearly [run over by a car](https://www.mapillary.com/map/im/6oL-BdugwtBF1JGH-pL45w) shortly after starting the sequence 😱

[2017-04-26 19:31] habi commented on #2546
BTW: Feel free to delete the 'offending' sequences (or mark them as invisible if possible).
I'm not deleting them for your debugging purposes...

[2017-04-27 09:40] katrinhumal commented on #2511
@smsm1 and @jfburke3 sorry for the lack of updates here. What about the versions 3.50 and above, during the last week? Please turn logs on just in case. Btw even if you have the `Save debug logs` option off, you can still send us logs! If you do this close enough after the problem occurred, then we should still be able to read out some useful stuff from there. Better than none, as I've been told i

[2017-04-27 09:58] voschix commented on #2511
I keep having both variants of the problems with 3.50 and above. There are so many problems at the same time, it's difficult to keep track of them. I certainly have seen spontaneous stopping with camera picture frozen for a short while. Consistently I was not able to restart picture taking by pressing the round red button. I consistently needed to exit/re-enter the Mapillary App. Often picture tak

[2017-04-27 10:50] zagor commented on #1612
Here are new screenshots with detailed stats enabled from 3.54. Let me know if there is anything else I can do to help.
![screenshot_20170427-124411](https://cloud.githubusercontent.com/assets/229360/25480177/f9236e50-2b47-11e7-99fa-e2a9025db34e.png)
![screenshot_20170427-124549](https://cloud.githubusercontent.com/assets/229360/25480176/f91f5dba-2b47-11e7-8766-1443e2ca906a.png)

[2017-04-27 11:49] katrinhumal commented on #2543
@nunogand Thanks for providing the additional information! @peterneubauer will have a look.

[2017-04-27 11:54] katrinhumal commented on #2260
@RafalR Great! Hopefully it will stay that way :)

[2017-04-27 11:56] katrinhumal commented on #1502
For future reference for anyone who stumbles upon this thread - we have the editor functions explained here: https://help.mapillary.com/hc/en-us/articles/115001638129-Editing-sequences

[2017-04-27 12:04] katrinhumal commented on #1892
@zlavergne I can help fix the rotated images, but will wait for now since @peterneubauer perhaps wants to take a look first. Peter, in this case there are just some odd images upside down among a bunch of correct ones in the same sequence. In most cases we have seen the complete sequence being upside down...

[2017-04-27 12:17] katrinhumal commented on #2548
@thoschu96 I understand. I will take this idea to the team for sure, but I can't promise that we will work on this anytime soon. While I understand that it would be much nicer to get a detailed report on what happened, it is at the same time not as critical as some of the other things that we need to work on in the near future. We'll do our best to move fast though, and perhaps you will see this e

[2017-04-27 12:17] #2548 closed

[2017-04-27 12:25] millenbop commented on #2546
Thanks for reporting! It seems that the time on the camera differs from the phone for some reason. Do you remember if you used the gopro app before capturing? Thinking maybe it messes with the time. We don't officially support the Session just yet, and I don't have access to one, but we will add support.

[2017-04-27 13:11] peterneubauer commented on #1612
Björn,
where are you located? On my local Nexus 5X this is not happening, I would
love to hook up and debug this directly.

On Thu, Apr 27, 2017 at 12:50 PM, Björn Stenberg <notifications@github.com>
wrote:

[2017-04-27 13:14] peterneubauer commented on #1502
Nice,
good work @katrinhumal!

On Thu, Apr 27, 2017 at 1:56 PM, katrinhumal <notifications@github.com>
wrote:

[2017-04-27 13:15] peterneubauer commented on #2543
@nunogand could you please open the camera, wait for a fix and send the logs?

[2017-04-27 15:08] tocophonic commented on #1612
Peter,
judging by the Taxi number 15 00 00 and the name on the building Björn is located in Stockholm.
:)

[2017-04-27 15:18] fredao commented on #1502
Am 27.04.2017 08:14 schrieb "Peter Neubauer" <notifications@github.com>:

Nice,
good work @katrinhumal!

+1

## Manfred Reiter - mobile -
## please excuse typos and brevity
## http://weeklyOSM.eu

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/mapillary/mapillary_issues/issues/1502#issuecomment-297709429>,
or mute the thread
<htt

[2017-04-27 15:39] zagor commented on #1612
Didn't you decode the gps coordinates? :)
Yes, I am in Stockholm.

[2017-04-27 20:08] habi commented on #2546
I did use the GoPro app before Mapillary.
But it seems to me that I have to, otherwise I cannot seem to connect to the camera in the Mapillary app.

The GoPro app should sync the time of the phone with the camera, at least there's a (turned on) option...

I know you don't support it officially, but it used to work just fine :)

[2017-04-27 20:44] nunogand commented on #2543
Installed latest version from Google play.
With GPS Test I could get a lock in some seconds. Started Mapillary and waited and waited. Made a 15km trip and still no lock. Some time ago I tried taking images with the option "Skip locatin check". All the images taken did not have GPS information.
I'll send the log but without ever getting a GPS lock.

[mapillary_trace.txt](https://github.com/mapillar

[2017-04-28 13:19] habi commented on #2546
I've tried again this morning.
- Opened GoPro app, deleted all images in the camera
- Set time and date in GoPro app
- Opened Mapillary app, connected to camera
- Biked to work, while checking that the green dots on the screen are in the correct position (which they are)
- Downloaded images from camera
- Uploaded to Mapillary
- Saw that the [sequence bFFW9g8mud3H74aHdS7ROQ](https://www.mapillary.c

[2017-04-28 18:10] gyllen commented on #2544
Hi @GITNE , thanks for reporting. We are now tracking this bug internally and we will get back to you when its fixed.

@nickplesha Report back here when fixed

[2017-04-28 18:12] gyllen commented on #2545
Thanks for reporting this is now internally tracked. We will get back to you as soon as it is fixed.

[2017-04-28 18:20] ulikoehler commented on #2415
I can confirm this on LG G2.

[2017-04-29 10:28] jaakkoh commented on #2534
Especially since there seems to be some more glitches currently  in handling uploading what @HolgerJeromin suggests would be great. I think that it would make sense anyways, though. But with the issues regarding uploading it'd be nice if the order of processing/uploading could be changed to go hand in hand vs. current all processing and then all uploads.

[2017-04-29 17:03] DenisCarriere commented on #210
Was this removed in the newer version of the web version of Mapillary?

Seems like there's no way to split a sequence any more.

![image](https://cloud.githubusercontent.com/assets/550895/25557248/dd52fdcc-2cdb-11e7-8ad3-897aba9160e2.png)

Need to flag or request a split for [very obvious sequences](https://www.mapillary.com/app/?lat=45.39964954056171&lng=-75.69016998959327&z=18.109211051969407&pK

[2017-04-30 00:54] mishari opened #2549 "Automatic hide images in sensitive areas"
Is it possible to automatically hide images taken in sensitive / military areas in Thailand? This will help prevent legal accidents as many of these allow public access and one can stumble into it unknowingly.

http://www.openstreetmap.org/search?query=bangkok#map=13/13.9031/100.6094 you
can see the restricted areas here with the red stripes.

[2017-04-30 03:32] ryush00 commented on #2463
👍

[2017-04-30 17:32] floscher commented on #2240
The hashes are now located at https://mapillary.com/app/settings/developers

[2017-04-30 17:39] floscher opened #2550 "Internal server error when giving the API a bbox of size 0"
## The error
https://a.mapillary.com/v3/detections?client_id=‹clientID›&bbox=1.0%2C2.0%2C1.0%2C2.0 returns:
[code]
## Additional info
https://a.mapillary.com/v3/images?client_id=‹clientID›&bbox=1.0%2C2.0%2C1.0%2C2.0 and<br>
https://a.mapillary.com/v3/sequences?client_id=‹clientID›&bbox=1.0%2C2.0%2C1.0%2C2.0 on the other hand return
[code]
https://a.mapillary.com/v3/changesets?client_id=‹clientID›&

[2017-04-30 23:31] Andblue opened #2551 "Corrections not showing"
I am noticing that some corrections are not published. Below are two of them.  But its not like before when they got lost, this time the corrected version of the sequence can be seen if going to Edit mode.

https://www.mapillary.com/app/index/andreas.p?lat=59.32241715389111&lng=18.090547075128683&z=17&pKey=WwwplHFBVUdKluFlczpBcA&focus=map

https://www.mapillary.com/app/user/andreas.p?lat=59.298772

[2017-05-01 07:58] katrinhumal commented on #2549
@mishari That is a very good question! Let me look into that and get back to you.

[2017-05-01 08:08] katrinhumal commented on #2551
@Andblue Thanks for reporting! We've seen this issue before with some edits and are working on it. At other times, however, it just takes a little more time for the map tiles to catch up. Can you please tell me when you made the edits?

[2017-05-01 09:51] Andblue commented on #2551
Not sure when in time it was, could have been weeks or months ago.

[2017-05-01 14:15] drkludge opened #2552 "Mapillary not as useful for bicycle mapping"
### Basic information
* Platform: `Android`
* Version: `6.0.1`
* Mapillary: `3.43`

### Steps to reproduce behavior

 1. Use a bicycle mount on the handle bars with Mapillary.
 2. Go riding.
 3. Hit a bump.
4. The application screen flips and stops working.

### Expected behavior
Hit a bump and the application continues to take pictures.

### Actual behavior
The application stops taking pictures.

[2017-05-01 17:08] katrinhumal commented on #2551
@Andblue Oh! In that case, it doesn't matter when exactly since it's clearly too long. I will add your case to the existing examples we have of this, and hopefully, we get it sorted out soon.

[2017-05-01 17:30] voschix commented on #2536
with 3.54 upload is not automatic. When I have a number of sequences (mainly produced by the App stopping taking pictures for reasons still not understood - but this is another problem) on my phone, I start the upload with the upload button. The app goes through the procedure of processing all sequences and then starts uploading. When I come back to the phone, often it has stopped uploading. I hav

[2017-05-01 18:22] peterneubauer commented on #2536
Volker,
we will rework the upload procedure, I have some ideas on how to speed it
up, and maybe take one sequence at a time in order to make it more obvious
on what is loaded right now. Also, the backoff- and retry routines need to
be more transparent. Thanks for the feedback! At least it seems the images
are uploading ok, which means processing is correct.

On Mon, May 1, 2017 at 7:30 PM, Volker

[2017-05-01 19:56] ToeBee opened #2553 "User profile not loading"
### Basic information
* Platform: `Web`
* System/Browser: `Chromium 53 on Linux Mint`

### Steps to reproduce behavior

 1. Go to the Mapillary map (https://www.mapillary.com/app/)
 2. Open your user profile drawer on the right side of the page
 3. User profile opens up blank with the spinning "loading" animation but the user profile information never fills in and just keeps spinning forever.

Thi

[2017-05-01 20:00] ToeBee commented on #2553
When I execute the GET request in its own tab, it takes over 15 seconds to complete. I think the user profile pane times out after 5 or 10 seconds.

[2017-05-02 04:38] ToeBee opened #2554 "Blur editor stops registering clicks for new blurs in Chrome/Windows"
### Basic information
* Platform: `Web`
* System/Browser: `Chrome 57 on Windows 10`

The blur editor sometimes just stops registering clicks when trying to create blur areas. Removing existing blurs still works and the buttons work. I just can't create new blurs. I have only ever seen this in Chrome on Windows. Never in IE or any browser in Linux. My most commonly used combo is Chrome on Linux. It

[2017-05-02 07:45] peterneubauer commented on #2552
The rotation of the UX  and shaking detections has been switched off because of the instability in the phone sensors in alter versions. Could you please update to the current 3.54 version and report back?

[2017-05-02 14:09] voschix opened #2555 "uneditable sequence"
I managed to create an uneditable sequence. I need to move some photos to a different position, but the sequnce editor does not pen for this specific sequence

### Basic information
* Platform:  `Web`
* Version: current
* System/Browser: Windows 10, Firefox and Chrome

### Steps to reproduce behaviour
 1. open this photo:
https://www.mapillary.com/app/?lat=45.36577754026371&lng=11.762061181469676&

[2017-05-02 15:21] drkludge commented on #2552
Thank you for the response.  I will give 3.54 a try later tonight.

[2017-05-02 19:01] katrinhumal commented on #2553
@ToeBee whatever you do, don't stop uploading! :D  Asking @gyllen for advice here.

[2017-05-02 19:06] katrinhumal commented on #2554
It does sound like an external bug, in which case there is not much we can help with. But again, I want to ask advice from tech-wiser people than me, just in case, so... @gyllen, wdyt? :)

[2017-05-02 19:11] katrinhumal commented on #2555
Thanks for reporting! We've just heard the same from a couple of other people, so have an internal issue for looking into it. I'll add your example and will get back with an update when I get any information.

[2017-05-02 19:29] ToeBee commented on #2553
I mentioned this issue on IRC and @nicolas17 said he had been seeing it too but thought it was just his internet connection. Then for a while it was working for both of us and the request I posted returned almost instantly when run in a separate tab. Just now it wasn't working but I just had it work once so it seems to be a random hit/miss thing. Maybe one server in a cluster is having problems?

[2017-05-02 21:05] voschix commented on #2553
I maybe seeing another incarnation of this problem. Since yesterday evening or this morning I am observing very slow connection or no connection to the map and profile parts of the Mapillary site.
I see
![image](https://cloud.githubusercontent.com/assets/11076112/25639082/e447a112-2f8a-11e7-9f12-7bde18d87ad9.png)
spinning forever on my Windows 10 installation with Firefox, with Chrome, and with ed

[2017-05-02 22:00] ToeBee commented on #2554
Looking at the Chromium bug I linked, I'm wondering if this really could be the cause though. If you move the mouse while holding down the button, the blur editor will pan the image. So if the browser is sending a zero-pixel move event with every mouse click, it could be activating the pan mode instead of creating a new blur box. So you could maybe filter out zero movement move events or something

[2017-05-03 07:27] voschix commented on #2553
Map view and profile are consistently not loading on my Windows 10 computer with Firefox, Chrome, and Edge. Surprisingly things are working with Internet Explorer 11 on the same computer

[2017-05-03 07:55] ramapongithub opened #2556 "iOS - additional position marker is set when switching from full screen to split screen while playing a sequence"
### Basic information
* Platform: iOS 10.1.1
* Version: Mapillary App 4.6.14

### Steps to reproduce behavior

 1. Start playing a sequence
 2. Switch to full screen. Rotating the phone or using the full screen button does not matter.
 3. Switch back to split screen

### Actual behavior

When switching back to split screen an additional position marker appears at the actual position of the playing

[2017-05-03 10:24] GITNE commented on #2549
@mishari Indeed, it would nice to have that feature. However, please note that this does not solve your problem because legally it is not Mapillary who may be committing an offense but you are if you take pictures in a restricted area (basically the same applies to private property and/or estate). It is always the perpetrator who is liable and will eventually be held accountable, hence you, not Ma

[2017-05-03 10:34] GITNE commented on #2240
Actually, it is [`https://www.mapillary.com/app/settings/developers`](https://www.mapillary.com/app/settings/developers) and you have to be logged in.

[2017-05-03 10:42] GITNE commented on #2553
I have been experiencing the same issue for the last few days on Linux/Firefox 47. I have not tested on other platforms, so I thought that it may have been my system only but obviously it is not the case, so this issue must have been probably introduced with the latest web site update. Another side effect is that which ever sequence I choose, the sequence editor does not load completely and then I

[2017-05-03 12:33] GITNE opened #2557 "Wrong meta data in downloaded original"
Let me put this into an example. This is the meta data I get in a downloaded *original* *image* extracted from a video.

[code]

Since this meta data is not really *original* meta data but generated data you would expect it to be correct, if not in values but then at least in semantics.

1. Please note the time stamp. As I have already hinted on multiple occasions `DateTimeOriginal` is time zone a

[2017-05-03 13:44] gyllen commented on #2550
@floscher Thanks for reporting, elevated to dev team

[2017-05-03 13:46] gyllen commented on #2554
@ToeBee Thanks for reporting this has been elevated to dev team

[2017-05-03 13:47] gyllen commented on #2240
@ybkuang Can we update link?

[2017-05-03 13:47] gyllen commented on #2553
Is this still an issue, we have had some big load on the backend lately but scaled it now

[2017-05-03 13:52] GITNE commented on #2553
The profile pane still does not load for me, regardless if I am logged-in or not. However, the sequence editor loads fully now. I do not see any errors in the browser's network log either. :confused:

[2017-05-03 14:04] gyllen commented on #2553
@GITNE This might be specific to your profile, elevating this issue

[2017-05-03 14:16] ybkuang commented on #2240
Updated README. @gyllen

[2017-05-03 14:24] gyllen commented on #2240
Thanks closing

[2017-05-03 14:24] #2240 closed

[2017-05-03 14:29] ToeBee commented on #2553
Mine just timed out a few minutes ago and sometimes still takes several seconds but it is definitely working more reliably now.

[2017-05-03 14:43] GITNE commented on #2553
@gyllen Or may be a class of profiles because I have been uploading some gigabytes lately too (which are all processed by now but the profile pane still does not work).

I see the following recurring requests in the browser's network log when I open the profile panel:
[log.txt](https://github.com/mapillary/mapillary_issues/files/973661/log.txt)

If you compare the requested size to the received si

[2017-05-03 15:23] drkludge commented on #2552
@peterneubauer Thank you that is a great improvement.  I was pushing the available light for the images but we have:
- [curb hop warmups](https://www.mapillary.com/app/?lat=33.60137929576457&lng=-112.00448781229005&z=17&pKey=zrQAqUS2v7Ppl7_3hGhagg)
- [looped through a field](https://www.mapillary.com/app/?lat=33.60350298022894&lng=-112.003833491509&z=17&pKey=unewkHw5whuZyx-eopQU-g)
- [over a grass

[2017-05-03 15:23] #2552 closed

[2017-05-03 15:48] voschix commented on #2553
I still see the same behaviour: map page https://www.mapillary.com/app/ does not load. It hangs. Happens on Firefox, Chrome, and edge. Does not happen on Internet Explorer. Looks as if the three browsers that hang report the same four errors on the their web consoles, I am not able to decipher them. I attach the Chrome and Firefox console messages as separate text files.
[Mapillary-map-not-startin

[2017-05-03 16:16] voschix commented on #2553
Forgot to say that the Internet Explorer web console does not signal errors.

[2017-05-03 17:36] nicolas17 commented on #2553
It's working for me now, but on first load, the API call to get user info took _much_ longer than it should.

[2017-05-03 18:28] GITNE commented on #2553
@voschix Your problem seems unrelated to this issue. Have you configured the affected browsers to use a proxy? If so then lack of connection may hint at a problem with the proxy, not the browsers or the website itself.

[2017-05-03 22:17] voschix commented on #2553
No proxy. Never had one. And I did not change any configuration. The
problem started only a couple of days ago without any intervention on my
side.

On 3 May 2017 8:28 p.m., "GITNE" <notifications@github.com> wrote:

[2017-05-04 06:17] Ilis opened #2558 "Upside down pictures"
Every 3rd—10th picture in a sequence are upside down.

https://www.mapillary.com/app/user/ilis?feedItem=user-X5Qp8Rid0Ll3hjXS8QipAA-activity-user-X5Qp8Rid0Ll3hjXS8QipAA-publishing_done-image%3A1493848036122&pKey=QEKR-BpA13N6VLwT6ffM3g

https://www.mapillary.com/app/user/ilis?feedItem=user-X5Qp8Rid0Ll3hjXS8QipAA-activity-user-X5Qp8Rid0Ll3hjXS8QipAA-publishing_done-image%3A1493848036122&pKey=N2F37VT

[2017-05-04 06:54] bruseker opened #2559 "Save to camera roll only saves 5 photos"
### Basic information
* Platform: `iOS 10.3.1`
* Version: `Mapillary 4.6.14 (220)`

### Steps to reproduce behavior

 1. In Uploads, tap a sequence
 2. Tap `Select`
 3. Tap `All`
 4. Tap `Save`
 5. Tap `Save` on pop-up confirmation dialog
 6. Tap `Ok` on completion dialog after progress bar
 7. Switch to Photos app to see the photos saved there from Mapillary app

### Expected behavior

All 347 ph

[2017-05-04 07:38] millenbop commented on #2559
Thanks for reporting! I'll look into it!

[2017-05-04 07:48] katrinhumal commented on #1892
Same case here: https://github.com/mapillary/mapillary_issues/issues/2558

[2017-05-04 08:11] millenbop commented on #2556
Thanks, I'll look into it!

[2017-05-04 08:16] voschix commented on #2558
I was about to report as well an increase in upside-down photos. I am using an unchanged set of equipment (Sony Xperia Z5 compact, same bike , same Mapillary mount, same mix of roads) and since about a week I see a marked increase in 180degree-roated pictures. I get one in about 20 rotated. No pattern as far as I can see.

[2017-05-04 08:25] Ilis commented on #2558
My log:
[mapillary2017-05-04.log.txt](https://github.com/mapillary/mapillary_issues/files/975528/mapillary2017-05-04.log.txt)

What about continuously acting shutter. I set up distance based capturing 10 or 20 meters, but I have 10 photos on every 10 meters, some of them at the same place. Maybe it is about angle changing based capturing (and no option to disable it).

[2017-05-04 08:29] Ilis commented on #2558
I made some changes to my bike mount just now :) Rotated bend part 180°, so now I can set up mount vertically and rotate camera 360°
![img_20170504_113101](https://cloud.githubusercontent.com/assets/1223140/25695718/a38602a6-30cd-11e7-8169-2b5cf014485c.jpg)

[2017-05-04 12:48] katrinhumal commented on #210
@DenisCarriere you are right, we don't have the manual split function in the new editor. Instead, we have a sequence cutting bot that will take care of instances where the images are too far apart.

[2017-05-04 12:52] katrinhumal commented on #2415
@ulikoehler could you please tell me which app version you have?

[2017-05-04 13:02] katrinhumal commented on #2558
@peterneubauer Here are the examples of the "occasional rotation" I was talking about earlier.

[2017-05-04 13:23] katrinhumal commented on #210
However, it looks now as if this particular case it has been failing to cut. Bringing in @ybkuang for help.

[2017-05-04 13:40] ybkuang commented on #210
@DenisCarriere we have a bot that will go through sequences and cut them when the distance is larger than 800 meters (we plan to use a small distance in the future). However, we realized that the bot will occasionally miss some sequences. We are investigating and will report back.

[2017-05-04 13:52] ulikoehler commented on #2415
@katrinhumal Sure, its 3.54.
Just so you know, this happens *every* time I'm uploading a sequence. So far there wasn't a single time where the dialog disappeared as expected.

I can provide screenshots, more info etc. if you need it - feel free to ask!

[2017-05-04 14:20] mprins commented on #2549
Adding this kind of behaviour would enforce local (in this case Thai) law to the rest of the world where it does not apply.
This should be "fixed" (if at all) in the app(s), eg. by preventing taking photographs

[2017-05-04 14:48] nickplesha commented on #2545
I can see that you are using older versions of Firefox (latest is 52), can you update to the latest version to remove this as the possible culprit? (I can't reproduce this issue on latest Firefox)

[2017-05-04 15:15] DenisCarriere commented on #210
👍 @ybkuang @katrinhumal Thanks for the feedback, looks like it's fixed (bot or human).

![image](https://cloud.githubusercontent.com/assets/550895/25710652/dc753c5c-30ba-11e7-99c8-bf984a9ee1c4.png)

[2017-05-04 16:12] voschix commented on #2553
Everything is back working now. No intervention on my side. Did you do anything on the server side?

[2017-05-04 16:33] GITNE commented on #2545
You can download and install previews Firefox releases easily. Just go to
[`https://archive.mozilla.org/pub/firefox/releases`](https://archive.mozilla.org/pub/firefox/releases). Please note that not everybody can upgrade to the latest version—for various reasons. And, nobody should really consider Firefox 47, released in November 2016 obsolete.

Besides, I don't think this is a bug in Firefox whic

[2017-05-04 16:41] GITNE commented on #2553
Unfortunately, I am still out of luck. :cry:

This is particularly annoying because you do not have easy access to your stats, nor can browse your history feed, nor quickly jump to your sequences in order to edit stuff.

[2017-05-04 17:08] GITNE commented on #2549
@mprins And how this supposed to happen or how is this different from doing this sort of check on the server side? Guys, no technology exists or will ever exist which will prevent you from doing illegal or stupid stuff. And, if it did it would be a terrible type of big brother or overlord kind of thing. I do think that anybody would really want this to ever happen. This is equivalent to those peop

[2017-05-04 17:26] ulikoehler commented on #2555
Yesterday I was investigating the same issue (it seems to appear consistently for very long sequences, 500+ imgs).
I found out that it was related to an API gateway timeout, but I couldn't reproduce the gateway timeout today.

Here's another link for you to reproduce:
https://www.mapillary.com/app/index/umap?lat=48.13932108216946&lng=11.64880622162326&z=17&pKey=0nyXnMR1UApZZFIjsq_QrA&focus=map

[2017-05-04 17:28] ulikoehler commented on #2555
My Javascript console consistently shows `Unable to get response from server, please try again.`. I will investigate the network requests further and let you know when I find out anything. Said error message does *not* appear when I try to do the same for a shorter sequence (in that case, the edit panel shows)

[2017-05-04 17:44] ulikoehler commented on #2555
Sorry for comment-spamming on this.

One strange HTTP request I found was for this sequence:

https://www.mapillary.com/app/index/umap?lat=48.127157093938195&lng=11.710192105486925&z=17&pKey=3GGnbH2miiYVUh_CJ4FlyA&focus=map

In chrome I found out that this URL was requested: https://d25uarhxywzl1j.cloudfront.net/v0.1/14/8725/5686.mvt
which returned this error:
[code]

I found this out by using the

[2017-05-04 18:00] ulikoehler commented on #2555
The same issue (with URLs like) https://d25uarhxywzl1j.cloudfront.net/v0.1/14/8725/5686.mvt also occurs if I use the *ESRI streets* map view. I was thinking it was mapbox-related becuase *.mvt* might mean mapbox vector tile.

[2017-05-04 18:10] ulikoehler commented on #2555
There's also an "Error: forbidden" error message, possibly related to the 403 response code from the cloudfront URLs:

Here's a full error log exported from chrome inspector: https://pastebin.com/7XqxAvdu

[2017-05-04 18:23] ulikoehler commented on #2555
I can create requests to URLs like https://d25uarhxywzl1j.cloudfront.net/v0.1/14/8725/5686.mvt

So here's my take on the source of the issue:
1. Long sequences typically cover a rather large area, as opposed to shorter sequences
2. Mapillary tries to load the entire area covered from Cloudfront as MVT (mapbox vector tile?)
3. However, it does not load it with the appropriate zoom level, therefore

[2017-05-04 19:27] jotpe opened #2560 "missing track tile after change"
### Basic information
* Platform: `Web`
* Version: `current`
* System/Browser: `Chromium Version 57.0.2987.98 Built on 8.7, running on Debian 8.7 (64-bit)`

### Steps to reproduce behavior

 1. visit https://www.mapillary.com/app/?lat=50.89932297619998&lng=7.035252252499959&z=13&focus=map
 2. there are data tiles missing for sequences and photo locations
 3.

### Expected behavior

the missing dat

[2017-05-04 19:51] HolgerJeromin commented on #2415
Same here.
Start upload, leave the app. When you come back to the app later the status is not updated from the upload service but still the old status. When the upload service has a change (has uploaded an image) the download dialog is updated. But when there is no change anymore (upload aborted or finished), the dialog is never updated/fixed again.

[2017-05-04 19:52] ulikoehler commented on #2415
@katrinhumal Would it help if I could provide you with the ADB log of my phone?

[2017-05-04 21:24] ToeBee commented on #2553
Yeah, this is still failing for me almost every time on the first request. Usually it works after a couple of tries. I'm guessing after the first request something gets cached and it returns faster on subsequent requests.

[2017-05-04 21:30] mxa commented on #2415
With every update i expect this issue to be solved, but it is long standing. Currently in 3.54 but this has been like that since many months.

[2017-05-05 06:48] katrinhumal commented on #2415
Logs would be helpful! Please send by checking the "Save debug logs" option in the Developer section and then submitting them from the hamburger menu.

@peterneubauer will you keep an eye on this, please?

[2017-05-05 07:18] mprins commented on #2549
how hard can it be to have a digital map of restricted areas inside an app and prevent the app from using the camera, it's basic geofencing functionality. (things like route finding are much harder yet we all have navigation on our device)

the difference is obvious: prevent taking photographs versus (illegally) taking photographs and uploading those.

of course the key point here is that the map

[2017-05-05 11:52] GITNE commented on #2549
And that's exactly the problem. Somebody has to update and verify these areas, plus you have to have additional knowledge of the local ordinances and jurisdiction. What may be acceptable in one area may not be in another, even in the same country or type of restricted area. Who is going to keep track of this? This is a lot! There are currently about 183 (depending on how you count) countries on th

[2017-05-05 12:31] GITNE commented on #2553
Works for me now too. It is as @toebee has said, only due to cached data. I have to refresh the page multiple times without discarding the cache and then the profile pane gets loaded. So, it looks like timeouts or paging are the culprit here.

Please, do some tests on slow connections (even though mine should be fast enough), at least from time to time. :wink:
Besides, I have measured that on the

[2017-05-05 16:10] mikini commented on #2533
The previous upIoad eventually came online at https://www.mapillary.com/app/user/mikini?pKey=ZrdVCoTTfKnu6TSteTe3jg

I've been having a lot of random crashes on upload since. Persistently retrying on individual sequences have enabled me to upload most of them in the end. Though, at the moment I have a single sequence left that persistently crashes upload. Here's a log, crash happened at the end, n

[2017-05-05 18:08] gyllen commented on #2557
@GITNE First off, thanks for taking the time to give us this massive feedback. I do believe that we are actually on the way of addressing most of these issue, but @peterneubauer is more updated than me so I gonna let him answer to that.

[2017-05-05 18:12] gyllen commented on #2553
@GITNE I just took a quick look at this and you are right. The problems seems to be that with massive volumes of data as you have (great work), the time to compile stats takes to long.

Once the database warms up for your requests though, thats when it returns.

Investigating.....

[2017-05-05 18:24] gyllen commented on #2553
@GITNE I boiled it down to actually counting the number of blurs you have done (50k is an impressive number). Im elevating this to our PSQL guy @ptpt to see how we optimize the query.

[2017-05-05 19:16] nicolas17 commented on #2553
That explains why it affects @toebee and me too. Although @gitne still beats both of us :grin:

[2017-05-05 19:50] GITNE commented on #2553
Eventually, this will happen to every user, hence it may be a good idea to start consolidating older entries, especially blur and sequence edits. The database system is sure able to cope even with millions of records per user but the HTTP server response should definitely be consolidated, at least for profane display purposes. However, a REST API call of fine granularity should still exist.

[2017-05-05 19:55] GITNE commented on #2545
I can reproduce this behavior in Firefox 48.0.2 on Windows too.

[2017-05-07 13:53] ulikoehler commented on #2555
I've re-checked today and it seems I'm now able to edit those sequences. @voschix Can you confirm this?

[2017-05-07 22:14] drkludge commented on #2536
@peterneubauer is there any chance that you can go back to the 3.43 uploader with other improvements in the current 3.55 release verses rewriting what is there now.  It is becoming clear that I traded the stability of uploads for capture over rough ground as described in https://github.com/mapillary/mapillary_issues/issues/2552.  I had a great bicycle ride the other day of around 7800 images captu

[2017-05-08 08:24] nickplesha commented on #2545
@ray66 @GITNE This should be fixed now, tested on the versions you mentioned and it seems OK. Let me know if this issue persists and we can reopen this issue.

[2017-05-08 08:24] #2545 closed

[2017-05-08 08:55] GITNE commented on #2545
Thanks! :smile: Things look finally great in Firefox now too!

However, there as some nits, bits, and pieces with some sprites. These turn restriction sprites have a transparent background which should have probably been white. This applies to all regions using these signs.
![broken eu left turn restriction sign](https://cloud.githubusercontent.com/assets/15823872/25797272/c3d42eea-33dc-11e7-8828-

[2017-05-08 10:12] mprins opened #2561 ""Direction of image" is missing from exif"
### Basic information
* Platform:  `Android`
* Version: `3.55`

### Steps to reproduce behavior

 1. take some images with direction set to forward

### Expected behavior

Expect images to have "Direction of image" set to forward/ direction of movement next to having location tags.

### Actual behavior

Images have neither "Direction of image" or "GPSTrack" set (just lat/lon)

This is annoying sin

[2017-05-08 10:16] mprins commented on #2561
and exiv2:
[code]

[2017-05-08 10:43] nickplesha commented on #2545
@GITNE Thanks for the feedback! The traffic signs on `mapillary.com` (and soon to be used in `iD` and `JOSM`) are here: https://github.com/mapillary/mapillary_sprite_source Feel free to open an issue there for any incorrect traffic signs you may find.

[2017-05-08 12:18] mprins commented on #2561
added the first 4 images + gpx of this sequence  to mapillary/mapillary_tools#153
and below a screenshot of the published sequence

![image](https://cloud.githubusercontent.com/assets/1165786/25803856/3cd3b5a6-33f9-11e7-8d9d-9f22908c31dc.png)

[2017-05-08 12:51] katrinhumal commented on #2560
@jotpe I think this was just a delay in updating, I see the tiles now when exploring this location. Could you check at your end, please?

[2017-05-08 13:03] katrinhumal commented on #2555
@ulikoehler you beat me to it! We've pushed a fix for this issue, so I hope you won't be experiencing that anymore. Great if @voschix can confirm, too.

[2017-05-08 13:52] voschix commented on #2555
OK here as well

[2017-05-08 14:22] voschix commented on #2536
Just uploaded some 5000 photos in about 13 sequences, This time I exited the App every time it told me it had finished (and invited me to cancel). I had to relaunch the App five o six times. One thing which happened (and I had somehow noticed before): each time the number of uploaded photos decreases. The first upload was more than 1k photos, the last one was 11 photos. Every time the number of up

[2017-05-08 17:17] gyllen commented on #2553
@GITNE As always you are right, we are actually looking at moving the whole blur database to ELS at the moment. That will make stuff speedy again, in the meantime we will look at the specific psql queries and try to figure out why they are slow (there is probably some indexing to be done)

//cc @ptpt

[2017-05-08 18:42] ArAge67 opened #2562 "Mapillary 3.55 doesn't upload"
### Basic information
* Platform: `Android 4.1.2`
* Version: `app version 3.55...`
* System/Browser: `...`

### Expected behavior

Upload sequence

### Actual behavior

Doesn't upload

### Additional information

See attached log file

[mapillary.log.txt](https://github.com/mapillary/mapillary_issues/files/984508/mapillary.log.txt)

[2017-05-08 20:44] jfburke3 commented on #2562
Were the sequences taken with version 3.55, or a previous one?  Also, what phone are you using?

[2017-05-08 20:45] jfburke3 commented on #2554
I've encountered this too, on Windows 7.

[2017-05-08 20:47] jfburke3 commented on #2561
I haven't examined the EXIF tags, but I'll note that I'm having the same problem with uploaded images pointing in all directions except forward.  Samsung Galaxy S7 Edge, Android 6.0.1.

[2017-05-08 21:15] ArAge67 commented on #2562
Don't know for sure, photos were taken on May 5th, Mapillary was updated May 5th  :-). Maybe the log has more info? Device is a Samsung Galaxy S2 see also mapillary.log snippet:

19:43:52.050 D/app.mapillary.android.activity.TabbedMainActivity(21868): *********** Phone Info ***********
05-08 19:43:52.050 D/app.mapillary.android.activity.TabbedMainActivity(21868): Mapillary versionName       : 3.55

[2017-05-08 23:16] bruseker opened #2563 "Photos shot on GoPro get incorrectly UTC-offset"
### Basic information
* Platform: `iOS`
* Version: `10.3.1`
* System/Browser: `Mapillary 4.6.14 (220)`
* GoPro firmware: `HD4.01.05.00.00`

I've actually started a whole thread over in the forums before I knew about the issues tracker here.  Rather than repeat myself, I'll just link to that whole discussion.  It seems that the app is trying to take away 6 hours from the time on the photos taken by

[2017-05-09 06:48] katrinhumal commented on #2555
Thanks for checking! Happy to close this.

[2017-05-09 06:48] #2555 closed

[2017-05-09 09:42] katrinhumal commented on #2562
@ArAge67 Thanks for reporting! We need to sort this out asap. Very helpful of you to send logs - could you just describe in a bit more detail the "actual behaviour" and what you see happening when you try to upload?

[2017-05-09 11:27] ArAge67 commented on #2562
@katrinhumal I made a few screenshots when I tried to upload a sequence:

![screenshot_2017-05-09-13-15-13](https://cloud.githubusercontent.com/assets/12451224/25848489/ee831492-34ba-11e7-82c7-f6f910c361a1.png)
![screenshot_2017-05-09-13-15-31](https://cloud.githubusercontent.com/assets/12451224/25848491/ee84d462-34ba-11e7-9975-6ef9c17a1a67.png)
![screenshot_2017-05-09-13-15-43](https://cloud.gith

[2017-05-09 20:52] GITNE commented on #2545
@nickplesha Now, what about the duplicates? IMHO, the duplicates seem to come from a static code issue than a graphics issue.

[2017-05-09 23:11] nbolten opened #2564 "Upload progress status gives random-seeming amounts of completeness, not in ascending order."
### Basic information
* Platform: `Android`
* Version: `3.55`
* System/Browser: `Android 6.0.1 on Verizon Samsung Galaxy S5, running TouchWiz on build MMB29M.G900VVRU2DQC2`

### Steps to reproduce behavior

 1. Take a series of image (I took ~110).
 2. Try to upload them.
 3. Watch the progress bar

### Expected behavior

Upload progress is reported as ascending sequence. For example:

    1/110

[2017-05-10 08:20] millenbop commented on #2556
It has been fixed now, fix will be out in the next release.

[2017-05-10 08:20] #2556 closed

[2017-05-10 09:26] mprins commented on #2561
Apparently the app wrongly assumes everyone uses utc as their local timezone so the match of image timestamp to (utc) gpx to timestamp for calculating direction will fails for most of the rest if the world.

See also https://github.com/mapillary/mapillary_tools/issues/153#issuecomment-300317525

[2017-05-10 10:21] peterneubauer commented on #2561
@mprins
No, the other way round.
EXIF dates have no concept of timezone. The phone camera is creating that tag upon requesting a capture from the camera API. The overwhelming majority of cameras is writing that timestamp assuming the local timezone of the phone, which makes the time change when you change the timezone (like flying back fom London to Berlin) and check the image time again.

In the

[2017-05-10 11:09] katrinhumal commented on #2563
Thanks! Assigning Anders so he can continue troubleshooting here instead of the forum.

[2017-05-10 11:13] millenbop commented on #2563
Thanks! I'll look into it!

[2017-05-10 11:13] katrinhumal commented on #2564
Hi @nbolten, thanks for the report! Our developers are working on improving the whole upload process so I will make sure they won't miss this issue too. The plan is also, as you just suggested, to make it more evident to the user how the upload is progressing in the sequence list.

[2017-05-10 12:57] peterneubauer commented on #2562
New version coming out soon. Meanwhile, can you please test http://android-releases.mapillary.io/Mapillary_Android_3.56-SNAPSHOT2.apk and let us know if that works better?

[2017-05-10 12:58] peterneubauer commented on #2564
Can you try http://android-releases.mapillary.io/Mapillary_Android_3.56-SNAPSHOT2.apk and let us know if that works better?

[2017-05-10 13:11] bobblkabb commented on #1124
I join as soon as the app is available on f-droid.

[2017-05-10 13:14] peterneubauer commented on #2558
That logfile didn't contain anything useful - it was too short. In the Settings->Developer, can you enable tracing? That will write directly into a logfile that is retained over invocations of the app. take some sequence with rotated images, and then send the logs (if trace is enabled, that file will be sent) @Ilis ?

[2017-05-10 14:34] nickplesha commented on #2545
@GITNE Yes, there are some duplicate signs in the list (lots of signs have different variants due to country-specific differences, and I guess some are totally identical), this issue should also be in the https://github.com/mapillary/mapillary_sprite_source repository.

[2017-05-10 14:45] majkaz opened #2565 "Traffic sign detection, too many false positives"
The problem is quite extreme here and combined with missing editor, it makes the traffic sign recognition unusable.

[Example](https://www.mapillary.com/app/?lat=48.989048430000025&lng=14.475994140000012&z=17&signs=true&ocr=true&pKey=DWotPIp3kXNr-LCSyabMcA&mapStyle=osm&focus=photo) - 4 traffic signs recognized, only one is correct and 3 are wrong.

Some of the problems could be avoided by recogniz

[2017-05-10 17:20] vincentdephily commented on #2562
I'm affected by the same problem on 3.55 for photos taken on the 5th, and only tried to diagnose now. The snapshot version managed to upload my two sequences, thanks :)

On the other hand, the end-of-upload message is a bit worrysome: it only tells me about one sequence having been uploaded, and it offers me to cancel... My already-uploaded sequence ? It'd be nice to have the list of sequences (no

[2017-05-10 20:09] ArAge67 commented on #2562
Tried your Mapillary_Android_3.56-SNAPSHOT2.apk today but still no upload of photos. This is what the upload tab shows:

![screenshot_2017-05-10-21-06-38](https://cloud.githubusercontent.com/assets/12451224/25918241/090694e0-35cb-11e7-8292-5d2652253631.png)

After that nothing happens. So I tried a device reboot, pressed upload again and got this:

![screenshot_2017-05-10-21-06-56](https://cloud.g

[2017-05-11 00:52] nbolten commented on #2564
This may not be an easy to reproduce bug. The next sequence I uploaded did this instead:

1. Cycled through 1-23 / 23 images correctly, fairly quickly (1-2 per second).
2. Restarted ascending 1-23 / 23 much more slowly.

There was no change in the dialog indicating that a different process was taking place.

@peterneubauer I'll try it out! It may be hard to judge, though, if it's hard to reproduce

[2017-05-11 00:56] nbolten commented on #2564
And after that upload completed, I tried uploading another batch and received the, 'uploading photos finished' dialog, preventing upload of that next batch. I'll try with 3.56.

[2017-05-11 01:26] nbolten commented on #2564
My experience uploading 85 photos with 3.56:

- The new upload started without issue, though this may just be due to the app restarting.
- The initial dialog stated, "Uploading 0/85 photos". Should it say "0/85 photos uploaded" or is it indexing from 0?
- The upload sequence incremented by 1 once every ~10 seconds, which seems about right. As the number ascended, the photos were removed from the '

[2017-05-11 01:42] nbolten commented on #1310
This issue is affecting me as well - not sure if it's a regression at this point.

### Description of the issue:

I submitted several sequences directly from the Android app, then immediately fixed the sequences' lat-lons via the web interface. These were quickly approved, but the traces have not updated.

### Examples:

- A sequence with 7 images, edits requested and approved 2 days ago and 1 day

[2017-05-11 03:01] nbolten commented on #1310
Update: the edited sequences *do* now appear when I enter the sequence editing mode, though they did not a few hours ago.

[2017-05-11 07:37] peterneubauer commented on #2564
@ovivoda is looking into this right now, we will also make sure to let the WIFI stay on when turning off the screen to avoid stopping issues, and look over the dialogs etc. out next release.

[2017-05-11 08:40] peterneubauer commented on #2561
On the original note of this issue - it turns out that there is no direction coming from the Android system location callback if you have Google Services enabled. We now fall back to determining and writing the location into EXIF from the orientation sensor if it is missing. Out in the next release, please test and report back.

[2017-05-11 09:08] peterneubauer commented on #2557
Hi @GITNE, for the newer Android releases the image information should not contain the mail and username anymore, only the user_key.

For images from videos, we are constructing these from the videos, let me check that code and correct it. For the DateTimeOriginal, to be able to determining the correct timezone we need to actually do a timezone lookup for the location derived from the GPX and the

[2017-05-11 09:43] peterneubauer commented on #2442
The new camera UX is out, closing this.

[2017-05-11 09:43] #2442 closed

[2017-05-11 09:45] voschix commented on #2536
3.56 snapshot seems to work. I just uploaded three sequences in one go.

On 11 May 2017 at 10:44, Peter Neubauer <notifications@github.com> wrote:

[2017-05-11 09:47] peterneubauer commented on #2248
This should be overhauled by now, closing ...

[2017-05-11 09:47] #2248 closed

[2017-05-11 09:48] peterneubauer commented on #680
This should not be relevant anymore, closing for now.

[2017-05-11 09:48] #680 closed

[2017-05-11 09:48] peterneubauer commented on #2289
Done, set to 600 photos in Android.

[2017-05-11 09:48] #2289 closed

[2017-05-11 11:02] ovivoda commented on #2564
This is implemented and will be out in the next release

[2017-05-11 12:24] jfburke3 commented on #2561
Does that mean it gets good direction information if Google Location Services is turned off? A lot of my sequences are in rural areas where I doubt that feature does me any good.

[2017-05-11 18:59] jotpe commented on #2560
ok now. But the error message above is strange.

[2017-05-11 19:05] jotpe commented on #2250
After moving images on the map the arrows are showing on the old neighbor position.
![bildschirmfoto von 2017-05-11 21-03-36](https://cloud.githubusercontent.com/assets/3539168/25967153/7602a2ba-368d-11e7-98ee-9555e9a82ded.png)

[2017-05-11 19:08] jotpe commented on #2267
Are there any further plans?

[2017-05-11 19:30] HolgerJeromin opened #2566 "Setting camera direction in Android app not working"
### Basic information
* Platform:  `Android`
* Version: `Beta from april 1st`
* System/Browser: `Fairphone`

### Steps to reproduce behavior
Set angle to slight right while driving

### Expected behavior
All images should be 45 deg to the right

### Actual behavior
All images are 45 deg to the left.

https://www.mapillary.com/app/?lat=51.881230000000016&lng=8.55860800000005&z=17&pKey=wGBWLN6Looaf2

[2017-05-12 07:32] mprins commented on #2561
both 0x001D and 0x0007 are supposed to be in UTC

I may have some time over the weekend to try the snapshot, changing timezone IRL is not an option as this totally messes up agenda and planning tools but is worth a shot for debugging.

[2017-05-12 07:42] katrinhumal commented on #2560
@jotpe thanks for confirming! Closing.

[2017-05-12 07:42] #2560 closed

[2017-05-12 09:10] nickplesha commented on #2554
Thanks for the info! Since it's a bug in Chrome, will close this for now. Please reopen if the linked Chromium issue provides some work-around that we can implement on our end to fix this.

[2017-05-12 09:10] #2554 closed

[2017-05-12 20:07] jaakkoh commented on #2536
I've tried the new versions with little help in uploads. I just went back to 3.27 (on my old phone for uploads only) and that seems to upload without any problems.

Is there something that is not happening or information that gets lost when uploading with 3.27 vs. the 3.5*?

[2017-05-12 20:27] gyllen commented on #2565
Hi @majkaz

A while ago we actually had a traffic sign editor but for some performance reasons we had to pull it back. You would be happy to hear though that we currently are working on something new and better. Keep on following our blog and hopefully we will deliver something that will work for you. As for the core traffic sign detector we are constantly working on improving it. By having an edi

[2017-05-12 21:15] jaakkoh opened #2567 "Photo upload stats not counting photos taken in country X correctly"
### Basic information
* Platform: `Android` + `Web`
* Version: `3.27-3.55`
* System/Browser: `n/a`

### Steps to reproduce behavior

 1. Upload photos taken in country X -- or at least in Finland
 2. Wait for stats to accumulate & weekly review email to be sent out.
 3. Notice the difference.

### Expected behavior

Number of photos taken in country X and uploaded should be attributed for the coun

[2017-05-13 07:21] jrcarlsen opened #2568 "Periodic problems with capturing photos"
### Basic information
* Platform: `Android`
* Version: `3.55`
* System/Browser: `Android 6.0.1 on Samsung Galaxy Note 4 (SM-N910C), Build MMB29K.N910CXXU2DQC2`

### Steps to reproduce behavior

 1. Set capture interval to 2 seconds
 2. Start capture
 3. Screen flashes every 2 seconds, but the photo counter remains at 0

### Expected behavior

Photos should be captured every 2 seconds, and the coun

[2017-05-13 07:24] jrcarlsen commented on #2568
The problem does not seem to be related to overheating which I suspected earlier.
The problem is periodic, and can't always be reproduced.

I believe this problem may be related to my next bug report which will be about partial images.

[2017-05-13 11:38] GITNE commented on #2557
Good, so there is hope! :smiley:

I believe there is a misunderstanding as to why I have pointed out the `DateTimeOriginal` field. I did not point out the `DateTimeOriginal` field because *I* *want* this field to carry a local time value but because since you already have a GPX track with proper UTC time stamps at your hand when importing a video it would have been a natural choice to go with `GPS

[2017-05-13 11:54] GITNE commented on #2567
I have observed similar behavior for the last few weeks. This problem goes even further if you try to filter stats for areas below country level, like regions, counties, cities, municipalities, towns etc. In some areas, I am not even listed although I have contributed thousands of photos in that area. Additionally, I am not the only user affected. However, what is strange that usually users who's

[2017-05-13 12:01] GITNE commented on #2567
And now, the leader board does not even budge on anything I enter (using Firefox 47), regardless if logged&#x2011;in or not. However, auto-suggest works and lists the correct area.

[2017-05-14 09:52] pbb72 opened #2569 "Upload finished -- Cancel"
### Basic information
* Platform: `Android`
* Version: `3.55`
* System/Browser: `Samsung Galaxy S7, Android 7.0`

After the upload is finished, I am presented with a dialog box that says "Upload finished" and has as only option "Cancel".

I don't want to cancel my uploads!

![screenshot_20170514-114356](https://cloud.githubusercontent.com/assets/1436366/26032769/aceebb50-389b-11e7-915a-46dc343226a

[2017-05-14 10:47] pbb72 commented on #2569
Later, when going to upload more photo, I get this message. Whaaaaa?

![2017-05-14 10 42 08](https://cloud.githubusercontent.com/assets/1436366/26033058/0b884be8-38a3-11e7-8d68-673008cd16ea.png)

[2017-05-14 10:51] pbb72 commented on #2569
And now, I can't do anything at all anymore. I'm getting the first (Upload finished -- Cancel) dialog whenever I go into a sequence, and pressing Cancel doesn't do anything. I have to terminate the app to get rid of these dialogs.

[2017-05-14 12:43] jaakkoh commented on #2567
I doubt this. I registered my account around April 2014 and my account stats are heavily affected.

[2017-05-14 15:32] kaitu opened #2570 "Camera pointing direction settiing is not retained"
### Basic information
* Platform: `Android`
* Version: `3.55`

### Steps to reproduce behavior

 1.set camera pointing direction setting to "Use device compass"
 2.close the application
 3.reopen the application

### Expected behavior
Camera pointing direction is still set to "Use device compass

### Actual behavior
Camera pointing direction has been reset to pointin forward.

### Additional infor

[2017-05-14 19:49] voschix commented on #2569
I had this problem as well.
It appears to have been cured in
http://android-releases.mapillary.io/Mapillary_Android_3.56-SNAPSHOT2.apk

On 14 May 2017 at 15:21, Jaakko Helleranta <notifications@github.com> wrote:

[2017-05-14 21:45] HolgerJeromin commented on #2569
The whole upload dialog handling was extremely buggy ( #2415)
I am happy to hear that there is progress.

[2017-05-15 07:22] peterneubauer commented on #2570
This will be reworked when we start on supporting external cameras - basically, all cameras, including the internal ones, need to remember their settings.

[2017-05-15 07:53] #2015 closed

[2017-05-15 07:53] #1624 closed

[2017-05-15 07:54] #1956 closed

[2017-05-15 07:56] #81 closed

[2017-05-15 08:05] #747 closed

[2017-05-15 08:09] #917 closed

[2017-05-15 08:10] #936 closed

[2017-05-15 08:15] #1447 closed

[2017-05-15 08:15] #1463 closed

[2017-05-15 08:16] #1572 closed

[2017-05-15 08:16] #1623 closed

[2017-05-15 08:18] ovivoda commented on #1709
This mode is not there anymore. Closing it.

[2017-05-15 08:18] #1709 closed

[2017-05-15 08:19] #2013 closed

[2017-05-15 08:20] #2211 closed

[2017-05-15 08:21] #2283 closed

[2017-05-15 08:21] #2321 closed

[2017-05-15 08:23] #2311 closed

[2017-05-15 08:25] peterneubauer commented on #2416
Is this still happening with version 3.55?

[2017-05-15 08:28] peterneubauer commented on #2533
Upload is going to be more table, closing this issue meanwhile

[2017-05-15 08:28] #2533 closed

[2017-05-15 08:29] peterneubauer commented on #2534
Now we are processing one image, then starting upload directly, should not be an issue anymore since 3.55, closing

[2017-05-15 08:29] #2534 closed

[2017-05-15 08:30] peterneubauer commented on #2360
should be working in the latest releases.

[2017-05-15 08:30] #2360 closed

[2017-05-15 11:34] millenbop commented on #2563
Just wanted to let you know that we'll be moving from the pre-SDK API to the official SDK now, hopefully this will make things work much better. A bonus is that Hero5 and future models will be officially supported too.

[2017-05-15 11:34] millenbop commented on #2546
Just wanted to let you know that we'll be moving from the pre-SDK API to the official SDK now, hopefully this will make things work much better. A bonus is that Session and Hero5 and future models will be officially supported too.

[2017-05-15 13:07] HolgerJeromin commented on #2473
#2360 was closed, so probably this can be closed, too.

[2017-05-15 13:11] nickplesha commented on #2464
@voschix Thanks for your help. This error was due to an error with authenticating and should be fixed now.

[2017-05-15 13:11] #2464 closed

[2017-05-15 13:13] nickplesha commented on #2544
@GITNE Thanks for reporting this. Reset button should work as expected now.

[2017-05-15 13:13] #2544 closed

[2017-05-15 13:17] nickplesha commented on #2519
@richardbrinkman Thanks for reporting this. We can't reproduce this on our machines but it looks like it's a bug with `mapbox-gl` that we use to show map data. Does using any of the other map styles help? (using the layer selector button right above the "zoom in" button)

[2017-05-15 14:09] mprins commented on #2561
I tried setting my device in GMT+0, but it then fails to acquire the location (while the device is providing the location just fine to other apps) switching back to GMT+2 just works again

[2017-05-15 16:07] jaakkoh commented on #2569
Sounds good. I look forward to seeing this pushed out to the beta channel.

Can I just install this on top of the version I currently have or should I backup the photos on the phone first, then uninstall current, install the SNAPSHOT2 and then copy back the photos?

[2017-05-15 20:13] habi commented on #2546
Great! Looking forward to test it.

[2017-05-15 20:33] jaakkoh commented on #2536
@peterneubauer @voschix
Uploads with 3.56-SNAPSHOT2 work for me too. (Currently running only on my Galaxy S5.)
Thanks!

[2017-05-16 03:32] eneerhut commented on #2568
Related to this issue. Some photos are only appearing as partial uploads.
See [here](https://www.mapillary.com/map/im/7JSUy3aY-Fc749lTlnNuHA) for an example.

![image](https://cloud.githubusercontent.com/assets/11349863/26088723/23e3079c-3a3c-11e7-8d6f-ac26551dc39e.png)

[2017-05-16 03:38] jrcarlsen commented on #2568
From what I can tell, whenever a partial photo (or failed) photo is taken, the counter does not increment. So in the sequence mention by @eneerhut, the counter reported 86 photos, but the uploader reported 202 photos. I haven't checked the numbers, but I assume the sequence has about 116 partial photos.

Debug logs have been submitted.

This bug also exists in version 3.56.

[2017-05-16 04:20] jfburke3 opened #2571 "Version 3.56 "disappeared" all photos taken with 3.55"
### Basic information
* Platform: Android 6.01
* Version: Mapillary 3.56
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Take lots of sequences with Mapillary version 3.55
 2.  Look on the Uploads tab and see your wonderful sequences
 3.  Upgrade to version 3.56
 4.  Look on the Uploads tab and panic at the missing sequences

### Expected behavior

I should still be

[2017-05-16 04:24] jfburke3 opened #2572 "Version 3.56 seems to have forgotten who I am"
![screenshot_20170516-002027](https://cloud.githubusercontent.com/assets/11140831/26089721/ec2f36b8-39cd-11e7-9668-fa339aecf4de.png)
### Basic information
* Platform: Android 6.01
* Version: Mapillary 3.56
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Launch Mapillary
 2.  Press the menu spot
 3.  Notice that your info is missing

### Expected behavior

I should s

[2017-05-16 04:28] jfburke3 commented on #2571
I should note that I tried rebooting my phone and relaunching the app, with the same result.

Going to make a backup copy of the sequences I took this past weekend, just in case......

[2017-05-16 06:36] pbb72 commented on #1931
Why has this issue been closed? I am getting absolutely horrible photos from my S7. Mapillary version 3.56.

https://www.mapillary.com/app/user/pbb?lat=63.424215564210584&lng=10.42097615121827&z=17&pKey=HEvruHAi9hlD7WexQcuJ9Q&focus=photo

At the same time and location with an LG G5: https://www.mapillary.com/app/user/pbb?lat=63.42421943357493&lng=10.42102427272161&z=17.237304291637656&pKey=CP7SoOD

[2017-05-16 14:24] pbb72 commented on #1931
To make the problem a bit more obvious, here are two 200% crops from photos taken at the exact same time with an S7 and a G5. Looking at the S7 photo, it doesn't seem like a sharpening filter, but simply a blow-up of a very low-res image.

Galaxy S7:
![s7](https://cloud.githubusercontent.com/assets/1436366/26110422/961b21e4-3a52-11e7-80e2-e76c8e8a1a29.jpg)

LG G5:
![g5](https://cloud.githubusercon

[2017-05-16 17:16] grinapo commented on #1931
@pbb72 you should select old API to use.

[2017-05-17 06:12] ramapongithub commented on #1858
On the occasion of the first anniversary: Is something on the horizon to solve the problem?

[2017-05-17 08:53] katrinhumal commented on #2283
@ovivoda any comments for closing?

[2017-05-17 08:54] peterneubauer commented on #2283
As far as we can see and test, you can be logged in and send photos from 2
different phones. Please reopen if not working.

On Wed, May 17, 2017 at 10:53 AM, katrinhumal <notifications@github.com>
wrote:

[2017-05-17 08:55] katrinhumal commented on #2473
Great! Can you confirm that it behaves as you expect now?

[2017-05-17 11:05] peterneubauer commented on #2571
@jfburke3 can you post one of these, maybe just with some images in it (not all) but with the GPS and status.json (if there) present?

[2017-05-17 12:24] peterneubauer commented on #2568
I wonder if there is anything fishy with the buffer in the camera APIs. Is this happening all the time or just sporadically for one sequence?

[2017-05-17 12:57] peterneubauer commented on #2473
Thanks, closing.

[2017-05-17 12:57] #2473 closed

[2017-05-17 12:59] peterneubauer commented on #2565
I think for JOSM, given that both the detections and Objects already are fetched, there might be interest to edit these are push the data back to the APIs to make recognition better. cc @floscher

[2017-05-17 13:31] peterneubauer commented on #2532
Ok, closing this until we have some recreatable error again, we can reproduce here.

[2017-05-17 13:32] peterneubauer commented on #2476
If this still is an issue, please comment, closing.

[2017-05-17 13:32] #2476 closed

[2017-05-17 13:33] peterneubauer commented on #2558
fix for this coming out in the next release.

[2017-05-17 13:35] peterneubauer commented on #1330
closing this, please try to use the newer app versions coming out, they will be more stable.

[2017-05-17 13:35] #1330 closed

[2017-05-17 13:44] ovivoda commented on #2571
@jfburke3 Can you please check if the files for the sequences that are not visible are still in the same path as the sequences that you can see? I am suspecting a problem with the paths here. Let me know if this confirms or not. Tx!

[2017-05-17 13:48] ovivoda commented on #2415
@katrinhumal Can you ask HolgerJeromin to test this with v3.56 - Beta: http://android-releases.mapillary.io/Mapillary_Android_3.56-BETA.apk

[2017-05-17 13:50] ulikoehler commented on #2415
@ovivoda I will try testing with the beta later today.

[2017-05-17 13:51] ulikoehler commented on #2415
@katrinhumal Sorry, I must have missed you message regarding the logs. If the issue still occurs with the beta, I'll send you the logs.

[2017-05-17 17:48] aligitor opened #2573 "The Android app doesn't use wifi and cell informations when GMS isn't available?"
### Basic information
* Platform: `Android`
* Version: `7.1.2`
* System/Browser: `LineageOS 14.1`
* Mapillary App version: `3.50`

### Steps to reproduce behavior

 1. Start the Mapillary app
 2. Start capture mode

### Expected behavior

The app finds my location as accurately as other apps do.

### Actual behavior

The app shows "bad fixing", and it rarely finds my accurate position: the button

[2017-05-17 17:52] gyllen commented on #2567
@peterneubauer Seems like there are a lot of problems with the Finland shape

[2017-05-17 17:54] gyllen commented on #1858
@ramapongithub Do you also have images missing from these specific dates?

[2017-05-17 18:18] aligitor commented on #1124
I try to use exclusively floss softwares, only 2 apps are not free on my phone - one of them is Mapillary. Although I use it, but I will recommend it to my friends only when it will be released under free license. I'd appreciate it very much!