[2017-11-11 18:32] geowOSM commented on #2763
#210
see https://github.com/mapillary/mapillary_issues/issues/210#issuecomment-343658155

[2017-11-13 13:54] katrinhumal commented on #210
@geowOSM Thanks - any chance that the sequences have been cut by now? I can't seem to find them in our database (which would make sense if those original sequences have been split up now). If that's not the case, please share the url-s to any image belonging to the sequence.

As for now, we don't have any specific plans for adding the manual split/join functionality to the editor.

[2017-11-13 13:54] katrinhumal commented on #2763
Replied in the other thread, closing here.

[2017-11-13 13:54] #2763 closed

[2017-11-13 13:56] katrinhumal commented on #2792
@oldschoolBavarianReferenceSystem Thanks for raising this! Would it help you to hide the navigation arrows for the time of creating the tags? You can toggle them on and off by hitting the Shift key (see the tooltip displayed at the bottom of the screen in your screenshot).

[2017-11-13 14:01] katrinhumal commented on #2793
@oldschoolBavarianReferenceSystem Thanks for the request! I believe I understand what you're trying to solve. We are still working out a system for how to make sure the available tag set is useful to our users so while we won't offer an instant fix here, we'll make sure to consider your use case as well. Ideally, if the location has changed, you would capture new imagery there, which then will (or

[2017-11-13 20:11] geowOSM commented on #210
Thanks @ybkuang , looks clean now!

That is really too bad. Then ist would be nice to reduce the minimum distance of images, maybe to <250 m.

Thanks for considering...🙏

[2017-11-13 21:14] gyllen commented on #2795
@peterneubauer Can you elevate?

[2017-11-13 21:15] gyllen commented on #2794
@angelday UX suggestion ^^^

[2017-11-14 21:12] angelday commented on #2794
Good idea! We need to think about the discoverability though.

[2017-11-14 21:31] angelday commented on #2794
@pbb72 Thanks for the suggestion, I added to our internal ticketing system – I'll let you know if we're ready to improve the upload sidebar. Meanwhile closing this.

[2017-11-14 21:31] #2794 closed

[2017-11-15 12:09] GITNE opened #2796 "Missing tags"
* `Letterbox`

Missing pendant to `Mailbox`, might be useful to postal and parcel services.

* `Street Name Sign`

Although in some countries street name signs are qualified as traffic signs, it may be a good idea to have them tagged separately for OCR (similar to `Traffic Sign - Direction`).

[2017-11-15 12:33] richlv opened #2797 "ios app - tagging & upload icons turn into questionmarks"
### Basic information
* Platform: `iOS`
* Version: `4.8.10`

### Steps to reproduce behaviour

 1. take some photos
 2. start uploading them

### Expected behaviour

tagging & upload icons are either dimmed or disappear

### Actual behaviour

tagging & upload icons in upper left & right turn into inoperable question marks

[2017-11-15 12:36] richlv opened #2798 "show where the exposure point is"
### Basic information
* Platform: `iOS`
* Version: `4.8.10`

### Steps to reproduce behaviour

 1. start taking photos
 2. tap anywhere in the image

### Expected behaviour

there's a visual indicator where the current exposure point is

### Actual behaviour

the square controls stay in the centre of the screen

[2017-11-15 18:07] pbb72 commented on #2794
I'm not completely sure I understand the policy for closing issues. I thought these should be closed when the issue was fixed, not when it was accepted?

This way, other users that are struggling with the same problems, won't find this issue because closed issues are not shown or searched by default.

[2017-11-16 00:27] Alessandro-Barbieri commented on #2794
Yes, very annoying

[2017-11-16 11:46] katrinhumal commented on #2796
@GITNE Thanks for pointing these out! We're figuring out the best way to maintain and expand the tag system in the future. That regards handling both completely missing tags as well as synonyms to existing tags.

[2017-11-16 13:22] tobecwb opened #2799 "Can't upload a big sequence"
### Basic information
* Platform: `Web`
* System/Browser: `Windows/Google Chrome 62.0.3202.94 x64`

### Steps to reproduce behavior

 1. Use mapillary_tools to upload a sequence of images (more images, "better")
 2. Access the URL https://legacy.mapillary.com/map/upload/im
 3. Open Developers Tools on Google Chrome (F12)
 4. See a 504 error when browser request the status upload

### Expected beha

[2017-11-16 13:54] GITNE opened #2800 "Leaderboard input field broken"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`

### Steps to reproduce behavior
1. Click the menu icon
2. Click Leaderboard
3. Type any location
4. Try to select any suggested location with arrow keys and press return or enter key → nothing happens
   Or, click on a suggested location → drop down disappears, nothing happens

Note, that this behavior can probab

[2017-11-16 14:31] GITNE commented on #2796
Right. However, expanding may perhaps not be necessary, if you define synonyms and super set terms in the documentation, for example like `Traffic Sign - Symbol` or `Traffic Sign - OCR`. Or, in case of OCR you could resort to a simple `OCR` tag only but then of course you would loose the traffic sign semantic.
In any event, it may be a good idea to document a list of coded synonyms (e.g. `Static`

[2017-11-16 15:10] Badooleoo commented on #2791
Older versions (eg: 3.27 and older) had this.

Low setting ON: 1280 x 720
Low and high setting OFF: 3264 x 1836
High setting ON: 5312 x2988

I believe high setting was removed to avoid confusion and to default to the highest resolution unless low was set. This means the middle setting cant be selected any more.

[2017-11-16 15:23] Badooleoo commented on #2729
Does it increase the more images you have saved to your device? Is it quick again when there are no images to upload?

I get noticeable slowdown like this once I have more than 10,000 images, by 30,000 images I have to be quite patient.

This happens when loading the Mapillary app, accessing the camera, exiting the camera and exiting the app. It returns to normal as the images decrease. In my case

[2017-11-16 15:34] katrinhumal commented on #2796
@GITNE great input, thanks! We'll definitely consider these points as we work out the solution.

[2017-11-16 16:01] Badooleoo commented on #2732
In the meantime if you find sequences like this you can request them to be fixed with this online form https://docs.google.com/forms/d/e/1FAIpQLScdVKhHDte8kc31bCp7bRdFqY1lHYMyQvxGdt5RWkhSvpMwfA/viewform

[2017-11-16 17:33] ovivoda commented on #2729
@Badooleoo Please try this APK here and let me know if it works better. Try it with a lot of sequences and images:

http://android-releases.mapillary.io/Mapillary_Android_v3.112-BETA.apk

[2017-11-17 10:56] katrinhumal commented on #2749
@ybkuang any updates?

[2017-11-17 11:09] ybkuang commented on #2749
@ligfietser have you also try @parpy' suggestions of running `pip install -r requirements.txt`. it could be exifread is missing.

[2017-11-17 11:15] Alessandro-Barbieri opened #2801 "Large sequence deletion"
### Steps to reproduce behavior

 1. Mark for deletion a >1k images sequence that you own

### Expected behavior

Sequence deleted after a reasonable time

### Actual behavior

Sequence still waiting for approval after a week or so

### Additional information

Please delete them, no bullshit, I got another user complaining about that bad photos.

[2017-11-17 12:02] GITNE commented on #2553
I have not seen any improvement. And, it is really a pain to deal with it. I wish this would finally get resolved.:crossed_fingers:

[2017-11-17 18:49] GITNE commented on #2796
Please forgive my ignorance but I have just discovered the `Text` tag. Would it make any sense to tag street name signs with the `Text` tag? Or, would it be better to wait for a special tag which includes the *sign* semantic?

[2017-11-17 19:25] AffeAli opened #2802 "Switching sequence discards any changes without warning"
### Basic information
* Platform: `Web`
* Version: `2017-11-17`
* System/Browser: `Arch Linux/Firefox 57`

### Steps to reproduce behavior

 1. Make changes to a sequence (like positions etc.)
 2. Use the spatial arrows on the picture to move to a picture in a different sequence

### Expected behavior

* A warning about the sequence switch

### Actual behavior

* Editor switchs picture and sequenc

[2017-11-17 21:35] gyllen commented on #2553
@GITNE Actually @ptpt is looking into this at this minute.

As mentioned before its the big (impressive) numbers of blurs you both have made that is slowing down your profile API call.

[2017-11-17 21:35] gyllen commented on #2553
@ptpt Whats the latest?

[2017-11-17 21:40] gyllen commented on #2800
@nickplesha please elevate

Looks like this bug is only for selecting location with the arrows, clicking with the mouse works.

[2017-11-17 21:42] gyllen commented on #2799
@tobecwb In general we never recommend sequences that are bigger than 1k images. In fact if you use our uploads script we will cut the sequences to be around 1k per sequence.

[2017-11-17 21:55] GITNE commented on #2800
Hmm, seems to work for me now too but arrow keys still do not work.

[2017-11-17 22:19] tobecwb commented on #2799
So, whats the solution?
I can't longer delete the sequence, because any operation on legacy dashboard return a 502 error.

And If you read, this sometimes occur even with smaller sequences (100 images or less)

[2017-11-17 23:04] gyllen commented on #2799
@tobecwb Let me check your folders in our system. What is your Mapillary username?

[2017-11-17 23:04] gyllen commented on #2800
@GITNE Yeah arrow keys are still the issue here.

[2017-11-17 23:06] tobecwb commented on #2799
The username is "projevias". You can delete all photos that are in queue If you want

[2017-11-17 23:18] gyllen commented on #2799
Ok I checked your folder and it looks like you had `17520` images uploaded in the same sequence. I deleted this folder. Try a smaller upload now. Make sure that you `ack` the upload before you do a new one. Let me know if this works for you.

[2017-11-18 15:38] majkaz commented on #2755
There is another problem with license plate blurs - the blurs are detected at the standard European ratio - the long one. However, the second possible ratio for license plates (for example trucks, some American models of cars) which is more square, are not detected. Example of the license plate can be seen in [this photo](https://www.mapillary.com/map/im/1FVUdFgJzNoNNeWOcvBaCw).

[2017-11-18 16:26] ligfietser commented on #2749
This is the output of pip install -r requirements.txt
I'm sorry, it didnt solve my problem.  I already gave it up uploading from script and do it via the web browser.

Traceback (most recent call last):
  File "C:\Program Files (x86)\Python27\lib\runpy.py", line 151, in _run_module_as_main
    mod_name, loader, code, fname = _get_module_details(mod_name)
  File "C:\Program Files (x86)\Python27\lib

[2017-11-19 13:42] Alessandro-Barbieri opened #2803 "review of user edits"
Do you really review user edits or just auto-approve them?
An user edited the compass angles of a sequence, @peterneubauer approved them but are WRONG

[2017-11-19 14:06] voschix commented on #2803
This is touching on a wider issue: there is no way for users to communicate.
In this case the better procedure would have been that the user who detects a possible problem with a sequence, could contact the author instead of correcting the sequence.
I feel guilty on that sense, as I have, very occasionally, requested sequence orientation changes.

[2017-11-19 18:02] yopaseopor commented on #2779
Most of signs are bad detected because of blurring them .It would be so useful to include the possibility to unblur it to identify it. But I like so much the verification tool, good job, it was a long-wait-wish made true. Also it would be interesting to "propose" custom detections, marking and element in a pic and starting this kind of quiz.

[2017-11-19 18:12] yopaseopor commented on #2779
And what about...a section in the app as...Mapillary game!? ;)

[2017-11-19 18:59] utack commented on #2431
Hi. Is there any progress on this?

[2017-11-20 07:25] katrinhumal commented on #2801
@Alessandro-Barbieri Thanks for notifying, I've manually approved your edits now.

[2017-11-20 07:25] #2801 closed

[2017-11-20 07:30] katrinhumal commented on #2802
@AffeAli thanks for reporting, let's see what we can do here. PS I edited "navigation arrows" into "[spatial arrows](https://help.mapillary.com/hc/en-us/articles/115001761965-Spatial-arrows)" in your comment just so it's clear which of the two types of navigation arrows you are talking about (since this problem doesn't apply to the [sequence arrows](https://help.mapillary.com/hc/en-us/articles/115

[2017-11-20 08:40] katrinhumal commented on #2803
Indeed, a lot of edits get auto-approved. To date, we have not heard any complaints of someone mis-editing sequences, and also it's possible to fix or even revert them if something really goes wrong. But the same doesn't apply to deletions and that's why we don't auto-approve when you try to delete someone else's contributions.

The current way for communication between users is via commenting on

[2017-11-20 09:24] millenbop commented on #2738
I'm having problems reproducing your crashes unfortunately. Do you still have this problem?

[2017-11-20 09:27] millenbop commented on #2785
Do you mean directly after you have connected the camera, or after you have started the capture?

We don't have a Theta V in the office so can't really test myself (and hence it's not officially supported).

[2017-11-20 09:30] millenbop commented on #2786
Thanks for reporting. I'm not really following so please help me understand better.

"the Mapillary app updated the GPS coordinates on the camera on restart."

The Mapillary app doesn't change the GPS coordinates on the camera. It does however write EXIF information into the images when they are transferred to the Mapillary app.

[2017-11-20 09:35] millenbop commented on #2787
Thanks for reporting!

I'm a bit puzzled. In this thread https://github.com/mapillary/mapillary_issues/issues/2786 you are saying that the EXIF is not correct, which means you have transferred the photos, I'm I correct?

You can only transfer the photos once, this is to avoid duplicates.

[2017-11-20 10:15] ramapongithub commented on #2787
Okay, thats a bit puzzling. The two Issues are connected.
As I could not download the pictures from the camera to the iPhone there was no way to add the EXIF-Data to the pictures on the phone.
 As next step i downloaded the pictures from the cam to a PC via USB. My assumption was, that the Phone sends the coordinates to the camera (while taking pictures) and then the camera stores them as EXIF in

[2017-11-20 10:26] katrinhumal commented on #2796
@GITNE no ignorance to forgive! Good question - I checked with the CV team and this is not the best one for that purpose. We'll look into adding an appropriate tag for this.

[2017-11-20 10:31] millenbop commented on #2787
Ah didn't know you could override the GPS on the camera.

We don't do that currently. Basically all we set on the camera is the time/date, the capture mode, and also disable power-off.

This is how the transfer works, in short:

1. Check if there are any json files stored locally in the app for external cameras
2. Look for external cameras
3. Ask if user wants to transfer images
4. Download a list

[2017-11-20 10:33] ramapongithub commented on #2785
Directly after connecting to the camera. I can start capturing, thats no problem. But I can not check the orientation of the camera in the mapillary app.

[This screenshot](https://www.pic-upload.de/view-34329259/IMG_1661.png.html) is how it looks.
The camera is connected (se the battery and maxImageCounter) but no preview is shown. On the phone there is also this "waiting"-ring-thing, but waiting

[2017-11-20 10:34] tobecwb commented on #2799
now legacy webpage works again! I will use shorter sequences, but still, I don't see this a solution.

Suppose that in my company, several employers can upload images on the same account on Mapillary (this is the case here). If every sector (differents roads) of company upload images on same day, nobody can't use Mapillary legacy anymore to approve sequence. I don't get why I have to ask here to y

[2017-11-20 11:27] ramapongithub commented on #2787
The pictures weren't transfered in the first try. As described, everything seemed ok. The camera was found, the app asked if i wanted to do download the pictures from the cam, i answered "yes" and the download started. After around 20 seconds the app reported the download as ready. But no pictures were on the phone. Second and third try ended with the same result.
In iTunes there is an subdirector

[2017-11-20 11:43] millenbop commented on #2787
What does the history.json contain?

[2017-11-20 11:43] millenbop commented on #2787
And thanks for helping debugging btw :)

[2017-11-20 12:40] katrinhumal commented on #2755
@majkaz Totally right - this is also something that we'll be working on.

[2017-11-20 13:27] ramapongithub commented on #2787
No history.json at all.

Just re-downloaded the complete directory tree via iTunes.
In \camera are 3 subdirectories: \intern, \iPhone and \00117890
\iPhone is empty, \intern contains some json from 2016 (probably downloaded pictures to pc and uploaded them via PC) and in \00117890 are the json-files for the pictures (filename-example: 2017_11_03_18_39_40_794.json). No history.json.

In addition th

[2017-11-20 13:30] GITNE commented on #2796
@katrinhumal Alright, thank you for the clarification. :smiley: So, for the time being I will refrain from tagging with `Text` and tagging street name signs.

[2017-11-20 13:36] millenbop commented on #2797
I'm having problems reproducing it, but I did see it once. I have moved around some code so hopefully that's enough. This code hasn't changed in a long time though.

Let me know if it fixes your problem when the next release is out. Thanks for reporting.

[2017-11-20 13:38] Alessandro-Barbieri commented on #2803
So should I take a random image from that user and comment?

[2017-11-20 14:39] majkaz opened #2804 "Web: Traffic sign detection - allow marking wrong detection on photos"
I have found it was at one time possible to mark wrongly detected signs in the photos. This is not a case any more.

Please, bring it in some way back. I would be happy to have a way to either to delete the recognized sign
or mark the whole photo as having wrong detection on it. Or is there a tag, which would result in the same? Meaning that the wrong traffic sign is sooner or later removed?

The

[2017-11-20 14:40] katrinhumal commented on #2803
If you just want to get in touch then any image will probably do. If you want to say something about a specific image or sequence, related to potential edits to them, then I suggest doing that on that image or an image of that sequence. The author will see this in their feed and also get notifications (provided they are turned on).

[2017-11-20 15:44] Alessandro-Barbieri commented on #2803
In my case the image modified was mine, will the other user get the notification?

[2017-11-20 15:45] Alessandro-Barbieri commented on #2801
@katrinhumal thank you very much

[2017-11-20 15:48] Alessandro-Barbieri commented on #2799
Why it's not documented?

Which script? There are many and at least one is not doing what you say. Please provide better documentation.

[2017-11-20 20:40] gyllen commented on #2799
@tobecwb Thanks for the feedback.

It would be interesting to know more about your workflow for your company and we will probably be able to setup you with the right tools to upload, do you use the Mapillary Apps (iOS and Android) to capture or do you use something else. Many people are at the moment using https://github.com/mapillary/mapillary_tools/tree/master/python for uploading. The script `u

[2017-11-20 20:42] gyllen commented on #2802
@AffeAli @katrinhumal My suggestion would be that we remove the "spatial arrows" from the interface. This was you will always be editing in the preferred sequence. WDYT?

[2017-11-20 20:43] gyllen commented on #2779
@angelday @amahon Some feedback for the game

@yopaseopor Just wait, there will be much more awesome stuff coming up, we are only getting started with the game ;)

[2017-11-21 02:11] iandees opened #2805 "Android 3.108 doesn't release GPS listener"
### Basic information
* Platform: `Android`
* Version: `3.108`
* System/Browser: `Google Pixel XL, Android 8.0.0`

### Steps to reproduce behavior

 1. Open Mapillary app
 1. Switch to Capture mode
 1. Begin capturing
 1. Stop capturing
 1. Hit back button to leave Capture mode
 1. Leave the app by pressing home button (or by hitting back button again and exiting the app)

### Expected behavior

A

[2017-11-21 10:02] nickplesha commented on #2553
@ToeBee @GITNE @nicolas17 Sorry about the problems you've been experiencing. We've updated the UI so your profiles should now load as normal. The numbers of pending blur/etc. will load separately (this might take a while but will be much faster when the blur database is upgraded).

[2017-11-21 10:02] #2788 closed

[2017-11-21 10:04] nickplesha commented on #2774
This should be fixed now.

[2017-11-21 10:04] #2774 closed

[2017-11-21 10:24] Alessandro-Barbieri commented on #2788
So a wontfix?

[2017-11-21 10:29] Eric-FR commented on #2668
I'm also facing a similar problem. I'm trying to filter my own tracks in Mahajanga city. When I set the Date filter between 2017-01-01 and 2017-07-24, it is displaying several tracks although none of them were recorded in the interval.
![mapillary_date_selection](https://user-images.githubusercontent.com/32433543/33067676-2ceb5ad0-ceaf-11e7-9d46-1f0e8b47966f.png)

[2017-11-21 10:39] Eric-FR commented on #2668
On the same place, when filtering between 2017-01-01 and now, some tracks are hidden although recorded and uploaded this year.

[2017-11-21 10:40] Alessandro-Barbieri commented on #2799
`upload_with_authentication.py` and `split_sequence.py` never split sequences at 1000 images (from my experience). Tomorrow I'll use the other script and report back.

[2017-11-21 11:00] Alessandro-Barbieri commented on #2799
Why I'm having this workflow?  I'm not using android app because of #2777 #2174 #627

[2017-11-21 11:03] nickplesha commented on #2788
The option to create rotation edits is coming to the editor in the future to handle this exact situation. The uploader will remain as is for the time being, focused only on getting the images in the system.

[2017-11-21 11:07] tobecwb commented on #2799
I really don't used the `upload_with_preprocessing.py` here. Only to test a small sequence, and how to upload the files to the Mapillary Server. Your solution don't fit very well in your workflow.

I'm using in this way:
https://gist.github.com/tobecwb/9c43b88f4caa2484c8086d8d01648b23

Currently, we are using ESRI ArcMap, so, I developed a Python Toolbox. Why? We have several projects. Some projec

[2017-11-21 13:14] oldschoolBavarianReferenceSystem commented on #2793
@katrinhumal Thanks, I will be patient. And yes, I should go out more often and take new photos :-)

[2017-11-21 13:18] oldschoolBavarianReferenceSystem commented on #2792
@katrinhumal Thanks. Yes that helps! Another solution I found is to pan the image, because the OK/Cancel-Button moves with the image, but the navigation buttons are fixed to the screen.

[2017-11-21 14:22] GITNE commented on #2553
@nickplesha Right, I thought so it might actually be a problem with the UI since the backend is capable of handling millions of records per user. I am glad it is finally fixed. :smiley: Thank you!

[2017-11-21 14:56] thoschu96 opened #2806 "11 October glitch ?"
### Basic information
* Platform: `iOS`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Uploaded Capturing via IPhone

### Expected behavior

Should be Visible in the next Day (24h)

### Actual behavior

Took from 11-oct until today to get a mail , that this sequence is now online
and on the WebBrowser upload tap, i see multible uploads with only counting 1 picture,

[2017-11-21 15:21] GITNE commented on #2774
@nickplesha Works as expected. Thank you! :smile:

[2017-11-21 16:01] katrinhumal commented on #2802
It makes sense to me since you can't edit outside of the sequence in the same go anyway.

[2017-11-21 16:01] katrinhumal commented on #2801
No problem at all!

[2017-11-21 16:02] katrinhumal commented on #2792
That's great! 👍 Closing then.

[2017-11-21 16:02] #2792 closed

[2017-11-21 16:39] gyllen commented on #2799
@tobecwb `With a good API, developers can to solutions that can be adapted for every workflow.` Exactly this is the first step.

One thing about the API though is that it will always be direct against S3, we handle millions of uploads per day and having the confidence of the S3 infrastructure to rely has served us really well so far.

I will keep you updated about our work and might toss some idea

[2017-11-21 16:48] gyllen commented on #2802
@nickplesha Is it possible to remove spatial arrows in editing mode?

[2017-11-21 16:50] gyllen commented on #2553
@nickplesha Yey

Im closing the issue

[2017-11-21 16:50] #2553 closed

[2017-11-21 17:09] nickplesha commented on #2802
@gyllen Yes, we can remove them.

[2017-11-21 17:10] gyllen commented on #2802
@nickplesha Perfect, elevate!

[2017-11-21 19:20] cbeddow commented on #2799
@tobecwb Are the images always in a sequence? You need a way to logically split them into sequences, but make sure they are groups of points, so not a sequence where some images are on one street, and others across the city, with a gap in between.

I would recommend that once the script runs, you put the image OIDs into an array, then select array objects 0 to 999, and group them into a folder, th

[2017-11-21 20:29] utack commented on #111
Why is this closed again?
It would allow to upload images from any application

[2017-11-21 20:31] utack opened #2807 "Android-App needs to open mapillary links/intents"
### Basic information
* Platform: Android

### Steps to reproduce behavior

Click a link in the Mapillary newsletter, the browser is the only thing that will open it
Click "share" menu in a browser on the mapillary website. The app is not listed to open it

### Expected behavior

The app opens links/intents from mapillary.com and jumps into browsing mode to the right location

### Actual behavior

[2017-11-22 07:59] Alessandro-Barbieri commented on #2749
I'm having this issue too

[2017-11-22 08:29] Alessandro-Barbieri commented on #2749
Installed exifread with pip as user -> same

[2017-11-22 08:44] ybkuang commented on #2749
@Alessandro-Barbieri can you also paste the errors that you are getting?

[2017-11-22 08:47] Alessandro-Barbieri commented on #2749
Only this `No handlers could be found for logger "exifread"` no crashes, all seems to work (very suspicious)

[2017-11-22 09:16] thoschu96 opened #2808 "GoPro Hero 6 issue / Importing Pictures"
### Basic information
* Platform: `iOS`
* Version: `11.1`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Tab on Uploadbutton of the IOS App
 2. Searching externe Kamera
 3. Asking for Importing Pictures
 4. After Agreed, the Import starts
 5. App crashing/closing down

### Expected behavior

Should start with Downloading new Pictures and starting
with Counting

### Actual behavior

[2017-11-22 11:07] angelday commented on #2779
@Stephenduffy +

[2017-11-22 11:56] thoschu96 commented on #2806
Seems to be Fixed.. Today i can see the Pictures

[2017-11-22 15:57] tobecwb commented on #2799
Yes, they are in sequence (I known by filename - sequential, and date on EXIF)

I already to that after @gyllen says to split the sequence by 1k images (but to be on safe side, I reduced this to 400 on a big sequence just to test).

[2017-11-22 16:04] cbeddow commented on #2799
Oh great! Let us know how it is working then, sounds like a nice workflow
at this point.

On Wednesday, November 22, 2017, tobecwb <notifications@github.com> wrote:

[2017-11-22 16:40] tobecwb opened #2809 "Order of photos in a sequence is wrong if date exif is the same"
### Basic information
* Platform: `Web`
* System/Browser: `Windows/Google Chrome 62.0.3202.94 x64`

### Steps to reproduce behavior

 1. Upload a new sequence with two or more images with same date (including the seconds)
 2. Access the sequence on web browser
 3. The map shows the sequence out of order (lines connecting the photos). The sequence skips an image, and then returns the skipped image,

[2017-11-22 17:16] katrinhumal commented on #2804
@majkaz Thanks for your request and we really appreciate that you want to help with this! We're working on bringing more tools to the table for you to help correct false detections (and as you correctly note, this was possible before - just this old system didn't scale anymore with the amount of data in our system and the way we process it, which is why it's now taking us time to build new tools).

[2017-11-22 17:19] katrinhumal commented on #2806
@thoschu96 thanks - good to close the issue?

PS you can now check up on processing times at status.mapillary.com ;)

[2017-11-22 21:59] Alessandro-Barbieri commented on #2698
I have requested two times the rotation of the same sequence (but I want to rotate only once), how is this handled?
I know this because I'm keeping track of the sequences that are waiting rotation and I found a double entry in my file.

[2017-11-22 23:26] Alessandro-Barbieri commented on #2799
upload_with_preprocessing.py creates sequences long max 1001 images

[2017-11-23 08:15] katrinhumal commented on #2698
@Alessandro-Barbieri I'm not completely sure how it would be handled if you submit two at the same time (a bot runs over the form responses every once in a while so the edits get created simultaneously) but right now I think I managed to find and delete your double entry. In either case, if this happens please check back about 24 h after submitting and see how it looks. If the sequence has still (

[2017-11-23 09:04] Alessandro-Barbieri commented on #2749
![screenshot_2017-11-23-09-56-33](https://user-images.githubusercontent.com/10689739/33165024-9c9c0938-d035-11e7-994d-2aef136a6b0c.png)

[2017-11-24 10:21] ovivoda commented on #2805
@katrinhumal Please ask the user to try the v3.112 the beta version from googlePlay or the apk from here:

http://android-releases.mapillary.io/Mapillary_Android_v3.112-BETA.apk

[2017-11-24 10:26] utack commented on #2807
Perfect
Somehow Osmand already knows how to start mapillary with a photo linked, so the infrastructure must be ready?

[2017-11-24 12:44] ovivoda commented on #2718
@mprins @Eric-FR Please try the version here:

http://android-releases.mapillary.io/Mapillary_Android_v3.112-BETA.apk

[2017-11-24 13:39] ovivoda commented on #2731
@grinapo Please try the latest beta version on GooglePlay and let me know if it works better

[2017-11-24 15:24] grinapo commented on #2731
Sir, yes SIR. ;-)
(Have you fixed again the camera problem on S7? It's been goo for a while by setting old api, right now it's wrong regardless of the setting.)

[2017-11-24 15:28] ovivoda commented on #2731
@grinapo Oversharpened images on S7?

[2017-11-24 17:18] ligfietser opened #2810 "Links to sequences broken on the forum"
See https://forum.mapillary.com/t/links-to-sequences-broken-on-this-forum/1330

### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `Windows 7/Firefox, Chrome, Opera, IE`

### Steps to reproduce behavior

I've posted this URL into the forum message:
https://www.mapillary.com/map/im/ivg5YBQHHBqbBvJROd53RQ

In my browser this URL is redirected to:
https://www.mapillary.com/app

[2017-11-24 19:06] iandees commented on #2805
Looks better. Thanks!

[2017-11-24 19:06] #2805 closed

[2017-11-25 03:37] jfburke3 commented on #2692
I could've sworn that I added comments to this previously.  I have no idea what happened.

I was never able to get that snapshot apk to install.  No matter how I downloaded it, my phone reported it as corrupt.

Are any of those changes included in any of the recent beta releases?

[2017-11-25 04:06] jfburke3 commented on #2729
Sorry, I didn't notice these updates until now....

@badooleoo It's aggravatingly slow with almost zero images.  It's almost unusable when I have only a few thousand pictures.

@ovivoda I noticed that a 3.112 was available on the beta channel and installed it.  If it is what you posted the link to above, then I can't say it has improved anything.  It might even be a little worse.  Maybe.

[2017-11-25 04:08] jfburke3 commented on #2746
Just a note to say that I can't confirm @majkaz's issues.  The three settings he lists all seem to work for me in the last few releases.  Differences are I'm on Android 7.0, using Camera2 API, so that might be a factor.

[2017-11-25 04:13] jfburke3 commented on #2687
Just a comment to add some data points for the developers, that I'm not experiencing any problems on Samsung Galaxy S7 on Android 7.0, nor on Samsung Galaxy S5 on Android 6.0.1.

[2017-11-25 11:17] kaitu commented on #2687
I experienced the same problem with big picture files on Samsung A5, unless I force the use of legacy Cam (Settings -> Developer -> Force the use of legacy Cam).

I had the same issue with the Opencamera app, so I guess that the phone might be at fault rather than mapillary.

[2017-11-25 13:56] Eric-FR commented on #2718
Installed this morning. Issue still not solved.

[2017-11-25 15:08] ovivoda commented on #2692
@jfburke3 Please try v3.112 which is latest Beta app released on GooglePlay

[2017-11-25 16:32] ovivoda commented on #2687
@Abbe98 @kaitu @ArAge67 Please try the latest beta version from GooglePlay and let me know if upload works now for the 30+ MB images.

[2017-11-25 18:35] Abbe98 commented on #2687
@ovivoda it's not possible for me to join the beta program(seams full)...

[2017-11-25 18:44] ovivoda commented on #2687
@Abbe98 http://android-releases.mapillary.io/Mapillary_Android_v3.112-BETA.apk

[2017-11-25 21:31] utack opened #2811 "Allow higher resolution for 360° images"
Hi,
I hope you can allow to have 360° images to have more quality
Thank you!

### Basic information
* Platform: All
* Version: All
* System/Browser: All

### Steps to reproduce behavior

 1. Upload a 360° Image
 2. Browse the uploaded 360° image
 3. oberserve quality has degraded dramatically after uploading

### Expected behavior

360° images should be detected early and not compressed as much as

[2017-11-25 22:25] HolgerJeromin commented on #2805
Yeah. Thanks a lot

[2017-11-26 02:00] fgouget commented on #2782
I have the same issue with my Galaxy S7. This is nothing new; this issue has been there for many months, maybe over a year. However to reproduce one needs a bit more than switching to manual mode and back. Here is the precise procedure:

1. Make sure that the capture mode is Auto+distance-based.
1.a. Go to the capture screen and make sure it shows 'A' for automatic capture
1.b. Open the Settings -

[2017-11-26 18:14] jfburke3 opened #2812 "Freezes image-taking (responsive to the Back button and other functions)"
### Basic information
* Platform: Android 7.0, AT&T baseband version QJ2
* Version: Mapillary ver. 3.112
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Begin shooting sequences.
 2.  Watch as the app simply "freezes" image taking after a random number of pictures (sometimes just a dozen, sometimes 1 or 2 hundred)
 3.  Back out of Camera mode (which can take many se

[2017-11-26 18:15] jfburke3 commented on #2729
This is still present in 3.112.

I will also note that I recently timed one such attempt at >2 minutes, at which point I simply killed the app.

[2017-11-26 18:26] jfburke3 opened #2813 "Mapillary camera interface upside-down when phone rotated to the right"
### Basic information
Platform: Android 7.0, Androit 6.0.1
Version: Mapillary ver. 3.112 and many previous versions
System/Browser: Samsung Galaxy S7 Edge, Samsung Galaxy S5 Active
### Steps to reproduce behavior

 1.  Mount phone rotated to the right instead of left (that is, so the top of the phone is to your right)
 2.  Launch Mapillary
 3.  Enter Camera mode
 4.  Notice that while the image is

[2017-11-26 19:41] ArAge67 commented on #2687
@ovivoda The upload works. Thanks!

[2017-11-27 04:55] jfburke3 commented on #2692
@ovivoda I did.  I don't think it has improved the problem.  If anything, I think I have worse problems.  See some of the new Github issues I've opened.

Short version:  personally, I don't recommend releasing 3.112 to the public Play store...  :'(

[2017-11-27 05:02] jfburke3 opened #2814 "Fixed focus at infinity, isn't (SGS 5, Android 6, Camera1 API)"
### Basic information
* Platform: Android 6.0.1
* Version: Mapillary 3.112 (and likely earlier versions)
* System/Browser: Samsung Galaxy S5 -- note Camera2 API is NOT present for this phone

Summary:  The "fixed focus at infinity" setting isn't fixed.  It appears to try to autofocus.

### Steps to reproduce behavior

 1.  On a SGS5, go into Mapillary settings and enable Fixed focus at Infinity.

[2017-11-27 05:04] jfburke3 commented on #2814
Special note:  unless there's a super secret squirrel developer feature, Camera2 API is not available for the SGS5.  Samsung appears to have decided not to release that.

[2017-11-27 05:05] jfburke3 commented on #2814
On a scale of 1 (high) to 5 (low), I'd call this a 3.  My two cents worth.

[2017-11-27 09:07] katrinhumal commented on #2811
Hi! Although the image thumbnails on Mapillary are compressed in a lot of cases, the actual images are in the database in their original resolution. This means that you can 1) zoom into full resolution on any image when viewing and 2) download any image you've contributed in its original resolution. What you cannot do is to download the original of someone else's contribution. Take a look at https

[2017-11-27 10:00] peterneubauer commented on #111
Ok, let's reopen this, not sure it has high prio since this only would work for single images and be very tedious for e.g. creating a seqeunce in the app.

[2017-11-27 10:22] peterneubauer commented on #2795
This is due to an error in the update of the capture date of the sequences. Triggered a data refresh for this.

[2017-11-27 11:06] #2687 closed

[2017-11-27 11:33] thoschu96 commented on #2806
@katrinhumal yes, all seams to be good now

[2017-11-27 14:25] echeloni2p commented on #2812
Hey

yeah, try to use the old camera API, in the settings.
Some companies do not release stable software., esp. camera aoftware tends to break often.
Looks a bit like a samsung bug in APIv2, try APIv1.

echelon

[2017-11-27 14:32] #2806 closed

[2017-11-27 14:32] utack commented on #2811
Thank you all for this first update
Zooming does indeed work, that is good!
However it would still be nice to have higher "baseline" resolution, as a typical viewing angle of about 120° still means we have less than 700 pixels width

[2017-11-27 16:02] mprins commented on #2718
I may have time to do this next wednesday, would be nice if it stopped raining by then and have some daylight.

[2017-11-27 16:53] jfburke3 commented on #2812
@echeloni2p I'm not sure it's the API's fault.  My subjective perception is that it works fine until the image count (or maybe the sequence count?) starts to get high.  Either that, or some of the additional processing or threads that are running in the background while images are being taken, are part of the problem (ref. my other Github about GPS accuracy problems #2692 ).

I'll try APIv1 with t

[2017-11-27 19:38] AnkEric opened #2815 "Webuploader: Images to be uploaded are not visible on Map; Upload impossible!"
### Basic information
* Platform: Web
* Version:
Mapillary Webuploader
* System/Browser:
Windows 10 v.1709
Google Chrome 62.0.3202.94  (64 bits) / FireFox Quantum 57.0 (64 bits)

### Steps to reproduce behavior

1. Webuploader
2. Browse Files
3. Select sequence for upload
4. Open

### Expected behavior

Images should show on Map by location and direction arrows

### Actual behavior

Images locatio

[2017-11-27 20:42] gyllen commented on #2809
@tobecwb We always do order in timestamp, is it possible for you to introduce milli seconds to the timestamp. One way todo it it would be to use the ms as just a sequential number

[2017-11-27 20:45] gyllen commented on #2810
@martinskans Can we do anything about the encoding here on posted links?

[2017-11-28 02:41] jfburke3 opened #2816 "Unexpectedly exits out of camera mode while shooting sequences"
### Basic information

* Platform: Android 6.0.1
* Version: Mapillary 3.112 (and likely earlier versions)
* System/Browser: Samsung Galaxy S5 -- note Camera2 API is NOT present for this phone

While shooting sequences on my S5 this weekend, several times it unexpectedly exited out of camera mode and went back to the home screen.  I was able to go back into camera mode and resume shooting sequences

[2017-11-28 06:18] AnkEric commented on #2815
ToDay November 28, 07:20 AM same issue...

[2017-11-28 07:50] echeloni2p commented on #2812
Hey

All I can tell: with android 6/7/8 Mapillary works on my android mobiles quite steady and stable with APIv1, on some it does not work in APIv2. [but I do not use samsung at all]
And thats a true sign of a bad API. So try APIv1.
And yeah, not a single mobile producer testing their API for a steady use like mapillary does it, it is all untested and broken. your symptoms (break if a number of pi

[2017-11-28 08:31] peterneubauer commented on #2795
Should be fixed now.

[2017-11-28 08:57] voschix commented on #2812
After a period of relative peace on this front, this problem is now back with a vengeance on my Xperia Z5, Android 7.1.1.  and Mapillary 3.112, Version code 412
I have not seen damaged photos, and it had worked nearly fine for a while.

[2017-11-28 10:22] Eric-FR commented on #2718
For the test, I used Time based capture : 1s.
I'm not doing trips long enough on a daily basis to check the bug using Distance based capture but I will try as soon as possible.

[2017-11-28 13:00] utack commented on #2811
workaround: zoom in, it loads higher resolution, zoom out again

[2017-11-28 13:20] ovivoda commented on #2729
@jfburke3 I looked a bit more into it and I have a new build here. Please try it and let me know if it works better:

http://android-releases.mapillary.io/Mapillary_Android_v3.113-SNAPSHOT3.apk

[2017-11-28 13:42] martinskans commented on #2810
It seems to be a known problem within something used by the discourse forum software. They had a long discussion here that didn't seem to end in anything useful:
https://meta.discourse.org/t/onebox-incorrectly-encodes-urls/61542

I need to look into if I can find a useful workaround (maybe disabling the preview box that seems to cause the issue or something).

[2017-11-28 16:44] tobecwb commented on #2809
I don't think EXIF support milli seconds on GPSDateStamp or GPSTimeStamp

ref:
https://sno.phy.queensu.ca/~phil/exiftool/TagNames/GPS.html
https://www.awaresystems.be/imaging/tiff/tifftags/privateifd/gps/gpstimestamp.html
http://www.exiv2.org/tags.html
http://www.opanda.com/en/pe/help/gps.html

[2017-11-28 17:22] majkaz commented on #2804
Just a note - the detection seems to be getting more absurd with the time, I cannot remember to have such interesting mismatches before.

[This](https://www.mapillary.com/app/?menu=false&focus=photo&lat=48.97852059998945&lng=14.493493899979853&z=16.451941083083053&dateFrom=2017-04-01&signs=true&ocr=true&pKey=c9GlrYXR-DLmNirsREX5FQ) is a recent photo, with a better photo quality than most of mine i

[2017-11-28 23:16] grinapo commented on #2731
@ovivoda Yes. I'll check the latest beta but I don't thing you've changed it since a few releases, and last one was bad. Shall we move this dicussion over there?

And for the actual error: I haven't used it recently, the weather was ugly all the time.

[2017-11-29 03:39] gyllen commented on #2809
@ybkuang Can you confirm this ^^^

[2017-11-29 08:48] ybkuang commented on #2809
@tobecwb we need to add the milli seconds [here](https://www.awaresystems.be/imaging/tiff/tifftags/privateifd/exif/subsectime.html)

[2017-11-29 08:49] ovivoda commented on #2718
@Eric-FR I tested this once again yesterday and I still cannot reproduce. Will you please send me screen-shots of all your settings? Want to have the same setup as you have, even though it is on emulator.

[2017-11-29 10:18] nickplesha commented on #2815
@AnkEric Thanks for reporting! You should be able to add images to the uploader now. Editing their position is still not working as we're working on fixing the changes brought on by the latest version of the map library we're using.

[2017-11-29 11:30] AnkEric opened #2817 "Start Webuploader Upload: [Ctrl]+[F5] required (or not)"
### Basic information
* Platform: Web
* Version:
Mapillary Webuploader
* System/Browser:
Windows 10 v.1709
Google Chrome 62.0.3202.94  (64 bits)

### Steps to reproduce behavior

1. https://www.mapillary.com/app/
2. Profile...
3. Uploads (tab)...
4. Upload images...

### Expected behavior

Show: [Browse Files] dialog

### Actual behavior

Mapillary is "loading" and keeps "loading".
[Browse Files]

[2017-11-29 11:52] AnkEric opened #2818 "Webuploader: Upload second Sequence of Images will not Refresh on Map (not visible)"
### Basic information
* Platform: Web
* Version:
Mapillary Webuploader
* System/Browser:
Windows 10 v.1709
Google Chrome 62.0.3202.94  (64 bits)

### Steps to reproduce behavior

1. https://www.mapillary.com/app/
Webuploader
2. Upload (images)...
3. Browse Files (dialog)
4. Open...
5. Review
6. Upload
7. Upload is finished
8. Close (dialog)
9. Browse Files (dialog)
4. Open...

### Expected behavio

[2017-11-29 12:17] ybkuang commented on #2804
@majkaz we are working on improving the detections with more training data.  The false detections will be handled properly with more semantic information from the other detection cars/traffic light etc.

Unrelated to the detection pipeline itself, there is also a mismatched between the sign template shown the website
![image](https://user-images.githubusercontent.com/5370656/33374636-48afa63c-d507

[2017-11-29 12:35] AnkEric commented on #2815
Thanks for this fix!
I guess _"working on fixing the changes brought on by the latest version of the map library we're using"_ means a lot of work?
I have reported some more issues. Possible not relevant, since these might be known issues.
But still: performance is a new issue. Waiting for 30 minutes now to load 1500 Images onto the Map, before Review can start... 661/1500...
And then, during writ

[2017-11-29 12:36] ligfietser commented on #2810
Thanks @martinskans for looking into it. Better get rid of that preview box if that does not produce a working link!

[2017-11-29 12:44] katrinhumal commented on #2796
@GITNE it's here! 🎉

<img width="226" alt="screenshot 2017-11-29 13 43 13" src="https://user-images.githubusercontent.com/16334352/33375789-5c9ad276-d50b-11e7-950c-861c44b0e6b7.png">

[2017-11-29 12:44] #2796 closed

[2017-11-29 12:59] AnkEric opened #2819 "Webuploader: performance issue to Open Images onto Map (before Review)"
### Basic information
* Platform: Web
* Version:
Mapillary Webuploader
* System/Browser:
Windows 10 v.1709
Google Chrome 62.0.3202.94  (64 bits) / FireFox Quantum 57.0 (64 bits)

### Steps to reproduce behavior

1. Webuploader
2. Browse Files
3. Select sequence for upload
4. Open: 1500 Images

### Expected behavior

1500 Images should show on Map by location and direction arrows within a couple of

[2017-11-29 13:14] AnkEric opened #2820 "Webuploader: button "Publish <x> uploaded" visible during Upload in Progress ???"
### Basic information
* Platform: Web
* Version:
Mapillary Webuploader
* System/Browser:
Windows 10 v.1709
Google Chrome 62.0.3202.94  (64 bits) / FireFox Quantum 57.0 (64 bits)

### Steps to reproduce behavior

1. Webuploader
2. Browse Files
3. Select sequence for upload
4. Open
5. Review
6. Upload Images...

### Expected behavior

Images should be uploaded, counter will be visible.
Once all Imag

[2017-11-29 14:59] martinskans commented on #2810
It is disabled now!

I replied to the thread you made and it seems to work without the preview box, but just to be sure go ahead and test it yourself. There are cases when something seem fixed but aren't.

Sadly, I can't fix already posted messages easily, but at least new posts will benefit from the fix.

[2017-11-29 19:01] gyllen commented on #2817
@nickplesha I think this is the same as clicking on setting cog

[2017-11-29 19:01] gyllen commented on #2810
@martinskans Thanks for fix, Im closing this issue

[2017-11-29 19:01] #2810 closed

[2017-11-29 19:41] HolgerJeromin commented on #2782
#2360 was closed as fixed. :-(

[2017-11-29 20:49] Eric-FR commented on #2718
![screenshot_20171129-110652](https://user-images.githubusercontent.com/32433543/33398405-21161fb4-d54f-11e7-82be-0a679e188c75.png)
![screenshot_20171129-110708](https://user-images.githubusercontent.com/32433543/33398406-2144f636-d54f-11e7-8812-55cc40c3583e.png)
![screenshot_20171129-110725](https://user-images.githubusercontent.com/32433543/33398407-2186aa68-d54f-11e7-83d9-0c22d32f2106.png)
![sc

[2017-11-30 15:14] Alessandro-Barbieri opened #2821 "Pending images"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox`

I uploaded a sequence (600+ images, don't remember exact count).
600 images published on 2017-11-29 17:33
1 image published on 2017-11-29 17:38
As of now "Pending images: 26"

Why all this randomness? Why not publish all the images once finished?

[2017-12-01 10:13] nickplesha commented on #2802
Thanks for reporting! This should be fixed now.

[2017-12-01 10:13] #2802 closed

[2017-12-01 11:31] AnkEric commented on #2819
IF using FireFox Quantum 57.0 (64 bits)
THEN Upload of Images onto the Map is in normal speed. No issue! [Review] for 1500 Images can start after one minute!
However: Images are NOT visible on the Map!! Which is an issue!
I don't prefer to upload not reviewed Images. Also: my current sequences to be uploaded require Deletions.

Still wondering:
Is this MY issue? MY Problem? Has the issue been repr

[2017-12-01 14:04] richlv commented on #2179
this seems to be resolved a long time ago - please feel free to close unless there are other improvements planned

[2017-12-01 14:05] richlv commented on #2124
360 filtering is there, i guess others still missing

[2017-12-01 14:09] richlv commented on #1164
the contour is different now, and the link to it seems to have changed ( https://www.mapillary.com/app/stats/85633279 ), but it still cuts out large parts of liepāja (in a weird way now, somewhat following the lake outline)

[2017-12-01 14:12] richlv commented on #1733
while the general decision whether to allow portrait might be negative (too bad, less nice pictures), the issue with the level on iphone has become much more significant. this might be related to recent updates to mapillary app or ios (upgraded to 10).

if i take a sequence while walking, stop photos, lock and put away the phone - and then unlock and try to use the mapillary app, the level is all

[2017-12-01 14:15] richlv commented on #465
the latvian border is still messed up, i assume the uruguayan (uff) one is the same ?

[2017-12-01 14:21] richlv commented on #508
both georgia and russia seem to be available now - anything to be done for this issue ?

[2017-12-01 14:33] richlv opened #2822 "upside down girl"
there doesn't seem to be any way to fix or report incorrectly rotated images, dumping things here.

* https://www.mapillary.com/map/im/4qqDHGJUggtQ1vOzpMhX2A - last image only
* https://www.mapillary.com/map/im/3SGTwGH5TOg-xIbHhl7ZNg - whole sequence
* https://www.mapillary.com/map/im/dk4maj3K6G5rmB32vPKGhA - whole sequence

[2017-12-01 14:33] jfburke3 commented on #2729
I've only had limited time to test this build, but subjectively it *seems* to be better.  I'll have the opportunity to give it a pretty good run this weekend, after which I can give you a better answer.

[2017-12-01 14:35] peterneubauer commented on #508
Yes,
we reimported the shapes, now with <10000 vertices for search, and <5000 vertices for display. Things should be much more accurate now, the old values where 2000 vertices or both.

[2017-12-01 14:36] peterneubauer commented on #465
Uruguay is at https://www.mapillary.com/app/stats/85632511?lat=-32.564052001766&lng=-55.75852824749995&z=6.7764733435440885 and looks better than before to me?

[2017-12-01 14:37] peterneubauer commented on #944
We improved the shapes now. Is this better now?

[2017-12-01 14:38] peterneubauer commented on #677
We reimported the country shapes with higher accuracy. Is this issue better now?

[2017-12-01 15:14] jfburke3 commented on #2812
@echeloni2p I'm going to run in APIv1 all weekend and see what happens.

@voschix Unfortunately, I do have some damaged photos.  While I don't stop driving and check sequences immediately after it happens in order to verify that "sequence Y" was damaged due to the problem, I definitely have some damaged ones.

[2017-12-01 15:18] jfburke3 commented on #2814
Example sequence using fixed-focus-at-infinity:

https://www.mapillary.com/map/im/x7sb13fwXuf0k8yJrldi7g

[2017-12-01 15:19] oscarlorentzon commented on #2179
@richlv We do not provide the basic zoom you requested above in MapillaryJS but we have made some changes since the issue was originally reported. Most importantly the viewer bounces back when trying to look outside the boundary of a regular image.

It is not a priority to provide basic zoom in MapillaryJS at this point. If you do not feel that it is important to keep the issue open we should clos

[2017-12-01 17:53] tobecwb commented on #2799
again I'm having this issue
it's horrible to depend of somebody else just to 'press a button to publish' or 'discard'!

I can say that it's my fault this time. A employeer uploaded several images without my acknowledge, but every sequence has no more than 400 photos... last time I can get to aprove the sequences, I see that my user ( `projevias`) has 33 sequences to aprove (every sequence with 400

[2017-12-02 04:01] Alessandro-Barbieri commented on #2822
https://github.com/mapillary/mapillary_issues/issues/2698#issuecomment-328354427

[2017-12-02 05:23] jfburke3 commented on #2812
I started the day with Mapillary using APIv1. Before an hour was up, I'd switched back to APIv2, because the performance with v1 was pretty lousy. Build 3.113-SNAPSHOT that @ovivoda cooked up did very well with APIv2--a significant improvement over the last few releases.

[2017-12-02 06:19] jfburke3 commented on #2822
@richlv In the GitHub  # linked by Alessandro is a Google docs form to submit these in.

[2017-12-02 09:57] mprins commented on #2718
Still not fixed in the beta, sent logs and screenshots to logs@

[2017-12-02 11:20] GITNE commented on #2819
I am observing the same issue on Linux with a pre-*Quantum* Firefox browser. After selecting files for upload, and the sequence builds up for review, with every additional image the processing becomes slower and slower. When the counter hits about 400 images the uploader becomes **unusable** and **unresponsive**.

Additionally, WebGL rendering glitches become visible. Some images simply lack the g

[2017-12-02 11:47] GITNE commented on #2799
@gyllen Right, please add a checkbox or `Upload & Publish` button to indicate to the uploader to publish automatically when upload is complete (no more images left). This is especially useful to users with long running unattended uploads.

[2017-12-02 12:41] Alessandro-Barbieri commented on #2822
Well, these links doesn't work @richlv. Do you deleted them?

[2017-12-03 19:24] richlv opened #2823 "no visual feedback of capture"
ios 11.1.1, mapillary app 4.8.11.

previously, when images were taken, the screen briefly flashed. this is not happening anymore, and that's very inconvenient - it's not clear whether/when images are taken.

screen still flashes in the native photo app. i also restarted the phone, but that did not help.

i seem to recall the screen still flashing after the latest mapillary app update, but do not h

[2017-12-03 20:49] AnkEric commented on #2819
Thanks @GITNE.
Not my problem anymore. However: I have still 200K Images to be uploaded...

[2017-12-03 23:13] richlv commented on #2822
@Alessandro-Barbieri, all the links work for me. there is some glitch where sometimes an image is reported as not available for some users - although it works if they try it later.

i submitted the full sequences in that form, leaving this open for the remaining single image

[2017-12-04 06:48] jfburke3 commented on #2692
@ovivoda I've noticed a dramatic drop in this problem with the 3.113- 3.113-SNAPSHOT2 build you cooked up to help with #2729.

And by "dramatic drop" I mean that I'm hard-pressed to be able to cite a specific instance where I saw it occur. I still need to upload sequences and check them out, but... it's looking good so far.

[2017-12-04 06:48] jfburke3 commented on #2719
@ovivoda I've noticed a dramatic drop in this problem with the 3.113- 3.113-SNAPSHOT2 build you cooked up to help with #2729.

And by "dramatic drop" I mean that I'm hard-pressed to be able to cite a specific instance where I saw it occur. I still need to upload sequences and check them out, but... it's looking good so far.

[2017-12-04 06:52] jfburke3 commented on #2812
I have to note that I have had the chance to give this build a good workout, and have had several instances of this problem recur.  The build does seem to help other problems, though, that I have noted on their GitHub cases.

[2017-12-04 08:17] katrinhumal commented on #2822
Thanks! I took care of the single image as well - correct orientation should be applied to it soon.

[2017-12-04 08:17] #2822 closed

[2017-12-04 08:28] richlv commented on #2822
great, thank you. hopefully a built-in solution for this will be available to save your time.

[2017-12-04 08:40] GITNE commented on #2819
@gyllen After some further testing I have discovered that culprit may be a WebGL rendering issue, a memory leak (or object allocation runaway), or both. If I select 1k or more files and then switch to another tab, the green sequence builds up with usual speed, only limited by network request latency caused by adjusting the map on every next image. But, when I observe Firefox’s `VIRT` and `RES` mem

[2017-12-04 10:14] katrinhumal commented on #2823
@richlv There should be a setting for this - can you check which state you have for the "Flash the screen when images are captured"?

[2017-12-04 10:24] richlv commented on #2823
oh, indeed - that was set to off. weird, as i didn't even consciously remember such a setting existing, not to talk about changing it. maybe fatfingering on my part...

thank you for the quick assistance, closing.

[2017-12-04 10:24] #2823 closed

[2017-12-04 16:18] ovivoda commented on #2692
@jfburke3 Some more fixes regarding sequence list view UI update:

http://android-releases.mapillary.io/Mapillary_Android_v3.113-SNAPSHOT4.apk

[2017-12-04 21:29] Alessandro-Barbieri opened #2824 "Deleted sequence still visible"
I deleted a sequence but it's still visible on the map.
https://www.mapillary.com/app/?lat=45.55667171519568&lng=10.229010053581419&z=18.133607664628006

If I click on the green dots I'll get

It's visible up to zoom 8 (and maybe beyond)
https://www.mapillary.com/app/?lat=45.54578861934354&lng=10.25096834026408&z=8&username%5B%5D=baliano&dateTo=2017-10-25&dateFrom=2017-10-25

[2017-12-04 21:46] gyllen commented on #2821
@Alessandro-Barbieri Its how our stitching algorithms works.

The reason why it takes some time to get your images processed is that we need to do a complete 3D reconstruction of the place where you uploaded images, this is done in tiles and sometimes one tile take longer than another tile.

[2017-12-04 21:46] #2821 closed

[2017-12-04 21:47] gyllen commented on #1164
@peterneubauer ^^^

[2017-12-05 05:03] GITNE commented on #2819
If you switch to a raster tile map the web uploader performs reasonably well again. Apparently, Mapbox’s vector map is the true culprit here. :disappointed: And, although the raster map is actually handled as a texture on simple polygons, which still uses WebGL, the drawing complexity is vastly lower than that of the current vector map implementation.

It looks like Firefox users are left with not

[2017-12-05 10:15] peterneubauer commented on #508
Russia is now here: https://www.mapillary.com/app/stats/85632685?lat=63.66522761673309&lng=9.500126907369122e-9&z=1.809768264151432, closing.

[2017-12-05 10:15] #508 closed

[2017-12-05 10:15] #465 closed

[2017-12-05 10:15] peterneubauer commented on #944
Closing this if no one objects.

[2017-12-05 10:15] #944 closed

[2017-12-05 10:16] peterneubauer commented on #677
closing this, as the new importedd shapes should fix the issue.

[2017-12-05 10:16] #677 closed

[2017-12-05 12:53] peterneubauer commented on #1164
Not much to do, the underlying shape has no higher resolution - please open an issue over at WOF: https://github.com/whosonfirst-data/whosonfirst-data/blob/master/data/856/332/79/85633279.geojson

[2017-12-05 12:53] #1164 closed

[2017-12-05 15:58] jfburke3 commented on #2692
I installed it yesterday and it seemed to perform well in limited testing. It will get a workout on the open highway today, and hopefully I'll be able to spend some time in a forested area this weekend.

[2017-12-05 16:04] jfburke3 commented on #2692
Oh, fyi, the About info says it's SNAPSHOT2, not 4.

[2017-12-05 19:55] millenbop commented on #2808
Sorry for the late reply! Unfortunately we don't have access to a GoPro Hero 6 so cannot test ourselves.

When you say closing/crashing, do you mean that the app crashes or just that no images are transferred?

Thanks for reporting!

[2017-12-05 23:22] jfburke3 commented on #2812
I've emailed in the trace logs.

The subject has this GitHub issue  number in a.

Note: the Mapillary version is the 3.113-SNAPSHOT 4 apk that  Ovivoda provided in another case. The About info and the log says SNAPSHOT 2.

[2017-12-06 05:19] gyllen commented on #2819
@nickplesha See valuable feedback for webuploader ^^^

[2017-12-06 08:02] echeloni2p commented on #2812
Hey
just use apiv1, depsite the ressource usage. It is nothing mapillary can fix, if the API is broken.
Contact your mobile device producer and ask there for a bugfix. Really. Which is samsung in this case. With a 7s you got more than enough power in the mobile to use APIv1.
Even my cheap honor 7 did 7k pictures with one battery in 2h time.

echelon

[2017-12-06 08:46] thoschu96 commented on #2808
The App is Closing (so is guess crashing) and after you Restart the App no Pictures are imported.
I can help to Test, just let me know what you need

[2017-12-06 09:19] millenbop commented on #2808
Thank you. Did you format the card before capturing? Do you have other stuff on the memory card, like GoPro movies etc?

It should be fine to have other files, just trying to figure out what the problem is.

[2017-12-06 09:24] thoschu96 commented on #2808
Card got Initial Format before use.
Yes there are regular Pictures, Videos and Capture Sequences on it
Size of the Card is 200 GB and latest Firmware is on the GoPro

[2017-12-06 09:38] millenbop commented on #2808
Do you have another memory card you can use for testing? In that case 1) format the card 2) do a small capture of like 10 images 3) try to transfer

[2017-12-06 10:13] ovivoda commented on #2692
@jfburke3 I have added some more fixes here:
`http://android-releases.mapillary.io/Mapillary_Android_v3.113-SNAPSHOT5.apk`

[2017-12-06 13:17] oscarlorentzon commented on #1189
[MapillaryJS 2.10.0](https://github.com/mapillary/mapillary-js/releases/tag/v2.10.0) supports reverse play . Try it in the [examples section](https://github.com/mapillary/mapillary-js#examples). [mapillary.com](https://www.mapillary.com) will be updated in the coming days.

[2017-12-06 13:18] oscarlorentzon commented on #744
[MapillaryJS 2.10.0](https://github.com/mapillary/mapillary-js/releases/tag/v2.10.0) supports configurable play speed. Try it in the [examples section](https://github.com/mapillary/mapillary-js#examples). [mapillary.com](https://www.mapillary.com) will be updated in the coming days.

[2017-12-06 13:19] #1189 closed

[2017-12-06 18:20] jfburke3 commented on #2812
Has it been confirmed that it's an API problem?  Or are you just saying that?

[2017-12-06 23:39] jfburke3 commented on #2692
@ovivoda Installed!  Although, I probably won't be able to do much with it until the weather clears up, hopefully by this weekend.....

FYI, it still says SNAPSHOT2 in the version info.

[2017-12-07 06:04] GITNE opened #2825 "Verifier tool improvements"
Generally speaking, users should be able to define tasks for the verifier tool.

## User defined sequences or areas filtered by a specific sign only or every sign in sequence/area ##
This enables users to work on stuff they care about and most probably also know, so verification is going to be easier and more accurate. One side effect of this strategy would also help and improve the long term moti

[2017-12-07 06:36] GITNE commented on #2824
I would also like to note that deleted sequences and images leave extracted data behind:
* Thumbnails in the feed
* Semantic segmentation location points (yellow dots on the map)
* Detected traffic signs
* Possibly also tags

[2017-12-07 08:24] gyllen commented on #2824
@Alessandro-Barbieri Sometimes it takes some time for our caches to clear out. Sequence will soon be gone from map.

@GITNE To be correct
Deleted sequences might leave thumbnails in the feed during caching period but they will disappear after a while.

About other artefacts you are right they take longer to clear out.

[2017-12-07 08:26] echeloni2p commented on #2812
Hi
All I can tell: if the APiv2 did not work on my mobiles, using APIv1 did work flawless.
Prooving it to be the APIv2 and telling the manufacturer to bug hunt takes more work than using APIv1.
Esp. as taking more than a few pictures in a row is not a test case any manufacturer has on the list.
Sure, it can be mapillary app, but as long as it works in APIv1, I´ll take the chance of a crappy v2 API

[2017-12-07 09:10] GITNE commented on #2824
@gyllen Ah uhm, no offense but really? Like [those](https://www.mapillary.com/app/?lat=54.17464400906587&lng=15.562896500000079&z=17.745796984261247&focus=map&signs=true "Podporucznika Józefa Śliwińskiego") since September 2016?

[2017-12-07 11:35] Alessandro-Barbieri commented on #2824
@gyllen Soon™ which order of magnitude? Monthly, yearly? Or it's just bugged? It was deleted some weeks ago together with other sequences  (but the other sequences disappeared the day following)

[2017-12-07 13:50] gyllen commented on #2824
@Alessandro-Barbieri Checking now what happened to that sequence

@GITNE Yeah only updated when we update the merging algorithms or new data is added to the area.

[2017-12-07 14:09] Alessandro-Barbieri commented on #2824
@gyllen that specific deletion was approved by katrinhumal

[2017-12-07 14:42] katrinhumal commented on #2825
Hi @GITNE  - thanks for your great feedback! Your reasoning makes a lot of sense so I really don't have more comments to add besides that we're actually discussing all these things and will implement them in the future as we release updated versions of the tool. :)

Closing here as your feedback's been taken into account and "fixes" will come in time.

[2017-12-07 14:42] #2825 closed

[2017-12-07 15:18] GITNE commented on #2824
@gyllen :thinking: Sounds like an *interesting* strategy. In order to completely get rid of artifacts you have to *overwrite* them with new data? The problem is that this strategy is confusing to mappers and also sort of violates the terms of service, where deletion is part of the general “contract”. Mappers have to double check that the symbols they see on Mapillary are still current, or are actu

[2017-12-07 15:33] GITNE commented on #2825
Great!:grin:I keep my fingers crossed.:crossed_fingers:

[2017-12-07 22:03] HolgerJeromin commented on #2718
Worked here with 3.112 today
5 m distance on fairphone 2

[2017-12-08 05:30] GITNE commented on #2809
@tobecwb @ybkuang In fact, `GPSTimeStamp` **does** support fractional seconds by specification since its inception. `GPSTimeStamp` is a rational number tri-tuple, hence you can represent all fractions in 1/2147483647th steps. Of course, irrational numbers are excluded by definition.

`SubsecTime`, `SubsecTimeOriginal`, and `SubsecTimeDigitized` enable you to store fractions of up to 6 decimal digi

[2017-12-08 06:01] GITNE opened #2826 "Backend ignores GPSImgDirection"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Linux/Firefox`

I have uploaded [sequence `H9q2m-yPUi8L_HPzmUftpQ`](https://www.mapillary.com/app/user/gitne?pKey=qo8kXaiBd0z2OMAyghIeOQ&focus=map "Węgorzowa/Łososiowa") via the web uploader. The web uploader **did show** correct bearing. I **did not touch** the sequence in the web uploader, just hit the `Upload` button. H

[2017-12-08 07:16] thoschu96 commented on #2808
just gave it a try .. same issue..
System Recocnize there is a camer and asking for import.. Initialize the Import and before you see one Picture moving, the App is Closing down

[2017-12-08 08:07] millenbop commented on #2808
Thanks for testing. I'll see if I can dig up a crash report and see anything.

[2017-12-08 11:18] GITNE commented on #2826
@peterneubauer I downloaded some *unprocessed originals* from the website just to verify. My local and the downloaded files are identical. Both files also have a proper `GPSImgDirection` tag. So, I guess one *could* rule out the web uploader as the culprit, unless some monkey business is going on and the backend actually works on a web uploader modified version of the original.

[2017-12-08 14:37] Alessandro-Barbieri commented on #2814
Confirm the issue with a Samsung Galaxy S5

[2017-12-09 06:14] GITNE commented on #2553
@nickplesha I am still experiencing `HTTP 504` errors on `https://a.mapillary.com/v3/users/<user key>/stats?client_id=<client id>` requests. You know, the stats which show up in the gray box at the top of the feed. It is exactly the same problem like with feed itself before, if I reload the page multiple times the stats finally show up. Can you check this, please?

[2017-12-09 07:05] peterneubauer commented on #2826
Ok, let me then try to upload the same image and check, hopefully I can test next week.

[2017-12-09 10:47] voschix opened #2827 "map rotates forever"
### Basic information
* Platform: `Web`
* Version: `up-to-date`
* System/Browser: `Windows 10`  + `Firefox` or `Chrome` or `edge`

### Steps to reproduce behavior

 1. browse the Mapillary map in map view
 2. click the compass needle to rotate the view
 3. double click the compass needle to exit from rotating view

### Expected behavior
rotation mode stops

### Actual behavior
rotation mode does n

[2017-12-10 07:22] GITNE commented on #2826
Strange, `https://a.mapillary.com/v3/sequences?client_id=<client id>` reports `"cas":"359,…"` on all images of the affected sequences. However, the sequence editor displays `-1` which is incorrect either.:confused:

Additionally, my next two sequences have been reported by email and in the feed that they have been fully processed, yet they do not show up in uploads. And, if click on one of the sup

[2017-12-10 21:27] utack commented on #2745
That is unfortunate, because Chrome crashes the tab with a few thousand images
It is very reliable and reproducible, Firefox is the only way to reliably upload  large amount of images and move them, despite being slow

[2017-12-10 23:15] nicolas17 commented on #2285
It seems this page is gone altogether?

[2017-12-11 04:42] GITNE opened #2828 "Reportedly published sequences inaccessible"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Linux/Firefox`

I have uploaded two short (58 & 211 images) sequences via the web uploader two days ago. Both sequences have been reported to have been published by email and in the feed. The pending counter shows 0 pending images. Yet, both sequences are neither visible on the map nor accessible. They are not listed in up

[2017-12-11 04:44] GITNE commented on #2826
But `https://a.mapillary.com/v3/images` does…

[2017-12-11 08:43] gyllen commented on #2828
@GITNE Yeah sequence key lookup should be in the API. Agree.

@peterneubauer Can you check for inconsistency?

[2017-12-11 08:52] nickplesha commented on #2553
@GITNE I've updated the user profile so it loads separately from the stats (the URL you mention) as @gyllen and @ptpt are still working on speeding up the blur database and it still may return 504 until that's finalized.

[2017-12-11 09:06] nickplesha commented on #2817
Yes, this is fixed now. Thanks for reporting!

[2017-12-11 09:06] #2817 closed

[2017-12-11 09:12] nickplesha commented on #2819
Thanks for the detailed info! We're working on some updates for the uploader related to the map that will fix some reported bugs and improve performance.

While using the webuploader the performance and "maximum" number of images depends on the browser as we don't have a great deal of control how they manage memory allocation and their Javascript performance.

For uploading thousands of images wit

[2017-12-11 09:12] #2819 closed

[2017-12-11 09:21] nickplesha commented on #2815
@AnkEric Yes, we're still working on an update for the webuploader to fix the map issues.

Performance while uploading can vary between browsers and depends on many factors. For example, in some browsers, tabs in the background are throttled to save resources and may slow down very noticeably.

Our upload scripts (https://help.mapillary.com/hc/en-us/articles/115001753465-Uploading-with-scripts) ar

[2017-12-11 09:21] nickplesha commented on #2726
@Alessandro-Barbieri This is fixed now, thanks for reporting!

[2017-12-11 09:21] #2726 closed

[2017-12-11 09:22] nickplesha commented on #2519
@richardbrinkman We've updated the map library recently so can you check if this issue still occurs?

[2017-12-11 09:27] nickplesha commented on #2285
@nicolas17 Yes, the page has been replaced with https://www.mapillary.com/product

[2017-12-11 09:27] #2285 closed

[2017-12-11 10:28] GITNE commented on #2828
@gyllen I mean, the sequence key does not *need* to be a member of every image object because this is also a matter of data throughput and data redundancy. On the other hand the same could said of every `user_key` member currently. Anyway, at least a cheap way to lookup the sequence key given an image key should exist.

[2017-12-11 12:13] GITNE commented on #2819
@nickplesha True, however even a few thousand images should not be a problem for any web browser to handle, and also despite the fact the UI is rendered in WebGL. :wink: But, we understand that you cannot optimize for every browser.

@mapillary The problem for me, and probably also other people with these Python scripts is that for example they do not handle proxies. They also pre-process images i

[2017-12-11 17:57] richardbrinkman commented on #2519
I don't see the weird behaviour any more. It all looks normal now.
Thanks for fixing it.

[2017-12-11 17:57] #2519 closed

[2017-12-11 22:20] Alessandro-Barbieri commented on #2828
Confirm, I can't see sequences uploaded today

[2017-12-12 07:55] katrinhumal commented on #2827
@voschix thanks for reporting! We have actually removed the rotation feature for now, which also removes the issue of "map rotates forever".

[2017-12-12 10:43] voschix commented on #2827
I noticed that the rotation feature has disappeared altogether
:-)
The unstoppable rotation was introduced only recently. It had worked
correctly for a long time.

On 12 December 2017 at 08:55, katrinhumal <notifications@github.com> wrote:

[2017-12-12 10:47] Eric-FR commented on #2764
Thanks for new version with rabbit/turtle option :-). Also, the backward option is interesting.

[2017-12-12 11:27] peterneubauer commented on #2828
https://www.mapillary.com/app/?pKey=HPmx5FJpQfYnKHqQnaItDg&focus=photo&lat=54.17074136069118&lng=15.566281601116884&z=17 is now visible ?

[2017-12-12 11:41] GITNE commented on #2828
Yes, it is on the map and in the feed. Thanks! :tada: What was the cause? :thinking: I just want to know if it was me who perhaps has done something wrong?

[2017-12-12 11:51] GITNE commented on #2828
:cry: But the `GPSImgDirection` tag has been ignored on these sequences either. `v3/images` still returns `-1` and `v3/sequences` returns `359`.

[2017-12-13 08:19] gyllen commented on #2819
@GITNE These are wise words and as we discussed in another issue we should think long and hard about the new upload API. I might run the spec with you before we implement.

[2017-12-13 08:19] #2827 closed

[2017-12-13 15:57] nickplesha commented on #2815
@AnkEric The bug with the images on the map should be fixed now.

[2017-12-13 15:57] #2815 closed

[2017-12-13 17:07] AnkEric commented on #2815
Thanks!
Speed is back to normal (both showing images on map and upload).
Upload of 1500 images (best practice limit) is OK: 1500 images in 30 minutes.
Also, Memory usage is released during upload: 600 MB > 900 MB > 600 MB > 700 MB. Which is also OK.
CPU is lower than ever before: < 10%. (Used to be up to 30%).
I used to Close Chrome between sequences (to release Memory), but now I succeeded in upl

[2017-12-13 18:46] AnkEric commented on #2815
In FireFox Quantum 57.0.2 (64 bits) Images are visible on Map (by Location and Direction)...!
Deletions and Move position is possible...!

![image](https://user-images.githubusercontent.com/20150550/33956003-a3f03e4e-e03d-11e7-95e4-a5a11c0c3ac8.png)

[2017-12-13 18:50] AnkEric commented on #2815
Now (just now?) Google Chrome 63.0.3239.84 (64-bits) is also OK!

Last issue closed! Thanks again...!

![image](https://user-images.githubusercontent.com/20150550/33956381-a33aa9d4-e03e-11e7-8a79-0491ae32d580.png)

[2017-12-13 18:59] AnkEric commented on #2819
@GITNE, @gyllen,

Issue seems to be resolved. Wepuploader (and ankeric) are back in business...

See: **Webuploader: Images to be uploaded are not visible on Map; Upload impossible! #2815**
[https://github.com/mapillary/mapillary_issues/issues/2815](url)

[2017-12-14 00:09] jfburke3 commented on #2729
I've given it a fairly good workout, and cannot reproduce the problem with the last snapshot builds you provided, and the beta version in the play store works pretty well, too.  I think you can close this one!

[2017-12-14 00:09] jfburke3 commented on #2692
I've given it a fairly good workout, and I am not seeing the messages any more with the last snapshot builds you provided, and the beta version in the play store works pretty well, too.  I think you can close this one!

[2017-12-14 00:10] jfburke3 commented on #2719
As with the other issues I'm updating, I've given it a fairly good workout, and I am not seeing this problem any more with the last snapshot builds you provided, and the 3.113 beta version in the play store works pretty well, too.  I think you can close this one!

[2017-12-14 08:57] gyllen commented on #2692
@ovivoda ^^^

[2017-12-14 08:57] gyllen commented on #2819
@nickplesha We can close this now right?

[2017-12-14 09:46] ovivoda commented on #2729
Thanks @jfburke3 Closing it

[2017-12-14 09:46] #2729 closed

[2017-12-14 09:47] ovivoda commented on #2719
Thanks @jfburke3 Closing it!

[2017-12-14 09:47] #2719 closed

[2017-12-14 09:52] ovivoda commented on #2692
Closing this one.

[2017-12-14 09:52] #2692 closed

[2017-12-14 09:54] GITNE opened #2829 "Annoying popup in time travel mode"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox/Linux`

### Steps to reproduce behavior
 1. Select any time travel enabled image
 2. Go to time travel mode

### Expected behavior
No controls should be blocked by other controls and the share popup balloon should also disappear as soon as the user clicks on any other control than the popup.

### Actual behavior
Th

[2017-12-14 11:35] GITNE opened #2830 "Notification improvements"
Here are some improvements I would like to share about notifications:

* Images in HTML notification emails
 Since most email clients, including webmail clients, do not load external assets or resources of HTML email to prevent drive by attacks, worms, malicious scripts, auto-downloads etc. (which generally is a smart thing to do for the majority of non-expert users), Mapillary’s HTML notification

[2017-12-14 12:00] tobecwb commented on #2799
no updates on this? we stopped to send images until this is ok :(

[2017-12-14 15:50] GITNE opened #2831 "Web uploader does not honor set map style"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Linux/Firefox`

### Steps to reproduce behavior
1. Select a map style other than `Mapbox Streets`
2. Go to web uploader. It does not matter if via left hand menu, right hand `Uploads` panel, or browser’s address bar.
3. Select any files to upload
4. Click on the map style icon
5. Observe that the correct map stile is selec

[2017-12-14 17:31] AnkEric commented on #2831
Also Google Chrome.
You have recently suggested using a 'not vector' map as work-around to upload files. (Resolved now).
I couldn't select a 'not vector' map (Mapbox Satellite) for Upload.
Always [MapBox Streets] will be selected during Upload.

[2017-12-14 18:38] GITNE commented on #2831
@AnkEric You have to select files first (because the `Browse files…` popup is modal), then you can switch the map style. This may seem a little bit odd from usability perspective but it is an acceptable design decision.

[2017-12-14 19:16] AnkEric commented on #2831
Oke, but during the - resolved - showstopper I did not reach the point where I could select the map.
Browse files... and map was not responsive.
This issue is resolved now, no need to select another map than [MapBox Streets].

Not relevant anymore, just confirming - this - issue applies to Chrome as well.

[2017-12-14 21:05] trolleway opened #2832 "Unfinished uploads stuck on server, if upload scripts crashed"
### Basic information
* Platform:  `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Run upload_with_preprocessing.py with many sequences at once
 2. After upload, script will crash with httplib memory error
![image](https://user-images.githubusercontent.com/4630662/34014076-e67808c6-e12a-11e7-9675-93c1762ba45a.png)
 3. At legacy.mapillary.com i see a HUGE count

[2017-12-14 21:26] trolleway commented on #2832
Unpublished uploads was published after second run of upload_with_preprocessing.py

[2017-12-14 23:51] GITNE commented on #2826
Unfortunately, on my latest sequence the backend ignored `GPSImgDirection` again. :cry: This has happened for the fourth time now, so the issue is reproducible.:warning:
I suspect that since the JSON payload in `ImageDescription` does not have a `MAPCompassHeading` member object, the backend interprets this as if the file would come without any bearing data. :smirk: This is wired. I would assume t

[2017-12-15 08:06] gyllen commented on #2799
@tobecwb So what you need is a tickbox that would automatically approve after succesful upload.

[2017-12-15 08:58] gyllen commented on #2829
@nickplesha Lets remove the popup

[2017-12-15 10:00] GITNE commented on #2826
Thanks @peterneubauer! :+1: When your fix goes live, will the affected sequences/images be reprocessed (sort of fix the bearing on the map automatically) or does the fix apply to new files only?

[2017-12-15 10:01] tobecwb commented on #2799
I need two things.
- aprove all the photos that are in 'queue' of user `projevias`;
- if this option with tickbox works with script upload, yes, if not, I need a option to aprove automatically uploaded photos using scripts;

[2017-12-15 10:06] peterneubauer commented on #2826
I can't promise old data being reprocessed right now (we are working on a
reprocessing-pipeline from EXIF upwards in order to e.g. fix faulty times
in the originals resulting in wrongly ordered seqeunces), but future images
will of course have this fixed. Will take some time to get it in.

On Fri, Dec 15, 2017 at 11:00 AM, GITNE <notifications@github.com> wrote:

[2017-12-15 10:24] Alessandro-Barbieri commented on #2799
`upload_with_preprocessing.py` have the `--auto_done` feature

[2017-12-15 10:26] Alessandro-Barbieri commented on #2832
Please not this, I want to be able to resume an upload a week later

[2017-12-15 10:57] tobecwb commented on #2799
@Alessandro-Barbieri good to know!
But still, I can't upload anything on my user until all the previous photos have not been approved.
To many photos to aprove, and the server always respond with `504 error`

[2017-12-15 12:17] katrinhumal commented on #2830
Thanks for the thorough feedback. Good points as always. We have indeed been talking about revising the weekly digest to see how to make it better, so your input will be very useful for that discussion. I don't have a timeline for the implementation yet but you can consider your feedback be taken into account! Closing here.

[2017-12-15 12:17] #2830 closed

[2017-12-15 12:37] Shinigamae commented on #2669
@yopaseopor you can download this apk http://www.mediafire.com/download/48v6ys23vykvs00/Screen.Rotation.Android.TV-7.9.apk, install it on your TV and set the orientation to Landscape only. I have tried and it works like charm!

[2017-12-15 13:38] katrinhumal commented on #2818
@AnkEric We've made some fixes to the web uploader now - could you give it a try and see if the problem still persists?

[2017-12-15 13:39] katrinhumal commented on #2820
@AnkEric Please re-check for this one as well at your end, now that we've released some fixes to the uploader.

[2017-12-15 13:42] katrinhumal commented on #2824
@gyllen https://www.mapillary.com/app/?lat=45.55667171519568&lng=10.229010053581419&z=18.133607664628006 still seems to be there...

[2017-12-15 14:18] AnkEric commented on #2820
Webuploader is OK now.
Even better than before: I can upload multiple sequences subsequently without Closing and Restarting browser and without issues or strange things happening.
Thanks for a good job well done!

[2017-12-15 14:18] AnkEric commented on #2818
Webuploader is OK now.
Even better than before: I can upload multiple sequences subsequently without Closing and Restarting browser and without issues or strange things happening.
Thanks for a good job well done!

[2017-12-15 17:41] nickplesha commented on #2829
An annoying popup indeed. It's been fixed to behave like the other share popups. Thanks for reporting @GITNE !

[2017-12-15 17:41] #2829 closed

[2017-12-15 17:48] yopaseopor commented on #2669
thanks for the solution...but as this is the future (Android TV) or the
present I would like to some day Mapillary thinks about this in a future.
Pics and panoramas are better in a 55'' TV if you cannot go to the place
itselfs ;)

On Fri, Dec 15, 2017 at 1:37 PM, Khanh Nguyen <notifications@github.com>
wrote:

[2017-12-15 18:04] GITNE commented on #2829
@nickplesha Thank you! :tada: This is much better and works as expected. You are the best! :1st_place_medal:

[2017-12-16 09:40] janislit opened #2833 "published sequences from LG 360 Cam to mapillary incorrect coordinates"
published image sequences from LG 360 Cam to mapillary in incorrect coordinates
what can I do ?
https://www.mapillary.com/map/im/MPVxfOXYrs0E7gTqbTubjQ
https://www.mapillary.com/map/im/rUbCaHq8JE0EN0V_rV-pwQ
https://www.mapillary.com/map/im/im6iqX5eCdSAyhTUEOMOPA

### Basic information
Platform: iOS
Iphone 6+ LG 360 Cam

### Additional information
images direct from phone are in correct coordinate

[2017-12-17 06:19] ToeBee commented on #2475
Still happening. In fact, almost every sequence I upload using the app is affected.

I don't see why this would be happening to just me. I'm running the app on a stock Galaxy S7. I suspect it may be happening to others but since most people don't blur review their pictures as much as I do, they don't notice. And even if you do blur review it's hard to spot. Usually I notice because the viewer does

[2017-12-17 08:52] voschix commented on #1107
I discovered a widespread image sequence problem with images from user @klimakas @klimakas.
Two examples:
[https://www.mapillary.com/map/im/DcRwcCIaYC3x9tjox0-D8Q](https://www.mapillary.com/map/im/DcRwcCIaYC3x9tjox0-D8Q)
[https://www.mapillary.com/map/im/hzo5aXp71HWDqWSvgnLwvQ](https://www.mapillary.com/map/im/hzo5aXp71HWDqWSvgnLwvQ)
Many of his sequences from that period (around 22 August 2017) c

[2017-12-17 10:35] ybkuang commented on #1107
@voschix we are investigating this issue. @peterneubauer is this related to the the Android sequences?

[2017-12-18 08:45] gyllen commented on #2832
@Alessandro-Barbieri Yes agree, we need to think about this while we are redesigning the upload API.

[2017-12-18 08:49] gyllen commented on #2824
@peterneubauer Can you take a peak at this sequence ^^^

[2017-12-18 09:14] peterneubauer commented on #1107
Yes,
this is a bug that was present in some Android versions last summer. We are working on adjusting the wrong timestamp in the originals and re-reading the information, resulting in a correct ordering of the sequences. I can't give a timeframe since it's a quite expensive operation backend-wise, but it's on the agenda and I'm working on it.

[2017-12-18 09:17] peterneubauer commented on #2824
Dirtying it, should be deleted with tiles etc by tomorrow.

[2017-12-18 12:10] GITNE commented on #2828
@peterneubauer Basically, you can close #2828. Though, it would good to know what happened, so that it does not happen again. Just FYI, I have normalized the bearing via the sequence editor on the sequences here but have left it unaltered on the first sequence which exhibited the bearing error in #2826, so that we can verify if the upcoming update has worked as expected.

[2017-12-18 12:30] GITNE commented on #2826
@peterneubauer I do not want to be a smart a$$ or be pedantic but I just wanted to mention that two points of failure may exist here. Either the JSON object may lack members or the values of existing members may be `null` or invalid (out of range or wrong type). In both cases fall back to EXIF or default values are necessary. Handling these cases will become especially crucial when the public uplo

[2017-12-18 14:28] peterneubauer commented on #2826
Agreed,
thanks for the input!

On Mon, Dec 18, 2017 at 1:30 PM, GITNE <notifications@github.com> wrote:

[2017-12-18 14:29] peterneubauer commented on #2828
@GITNE we had some inconsistency on dirty sequences in the backend, which we now have monitoring on, so we should see this kind of stuck sequences more cleary in the backend. Thanks for your persistence!!

[2017-12-18 14:29] #2828 closed

[2017-12-18 15:03] katrinhumal commented on #2820
Thanks for testing @AnkEric!

[2017-12-18 15:03] #2820 closed

[2017-12-18 15:04] katrinhumal commented on #2818
Thanks for reporting! Glad it works :)

[2017-12-18 15:04] #2818 closed

[2017-12-18 15:05] katrinhumal commented on #2669
Thanks, @yopaseopor - we'll take this into consideration for the future! I'm closing here now since there won't be an instant fix from our side and you now have a workaround.

[2017-12-18 15:05] #2669 closed

[2017-12-19 12:21] #2824 closed

[2017-12-19 14:06] Alessandro-Barbieri opened #2834 "Wrong units in android app"
### Basic information
* Platform: `Android`
* Version: `3.108`

### Steps to reproduce behavior

 1. Go to capture mode

### Expected behavior

Use `GiB`

### Actual behavior

Free space is measured in `gb`

[2017-12-19 19:06] AnkEric opened #2835 "upload_with_preprocessing.py: ('http error', 401, 'Unauthorized', )"
### Basic information

- Platform: Web
- Version: most recent
- System/Browser: Python 2.7, upload_with_preprocessing.py

### Steps to reproduce behavior

Run [upload_with_preprocessing.py]

### Expected behavior

Since 2017.12.13 **until today 2017.12.19** I have uploaded ±40.000 images by [upload_with_preprocessing.py] successfully.

### Actual behavior

Tonight [2017.12.19 17:30 PM GMT+1] I can

[2017-12-19 21:31] AnkEric commented on #2835
Issue seems to be in [upload_with_preprocessing.py].

[code]
Work-around:

'## upload_token = get_upload_token(MAPILLARY_EMAIL, MAPILLARY_PASSWORD)`

Now Script can be used having **--skip_upload** set.
For upload [upload_with_authentication.py] can be used (still ok).

Should I TRY to change my MAPILLARY_PASSWORD **????**

[2017-12-19 21:48] Eric-FR commented on #2718
I made a try today with the new version (3.116), using time based capture. When arriving at 601 pictures in the sequence, after a first message inside Mapillary, I get "Unfortunately, Mapillary has stopped".

[2017-12-19 21:59] AnkEric commented on #2835
Simple and Strange: Resolved by Retry....

Now it's OK, as usual... upload is in progress...

[code]
**Still very curious: what happened ????**

[2017-12-20 09:14] AnkEric commented on #2835
**Summarized questions:**

- Why did authentication fail for 4 hours last night?

- Why the difference between **Legacy** MAPILLARY_SIGNATURE_HASH and **Developers** MAPILLARY_SIGNATURE_HASH?

[code]

- Why does [upload_with_preprocessing_TEST.py] require [MAPILLARY_EMAIL] and [MAPILLARY_PASSWORD]?
Since [upload_with_authentication.py] does not require these parameters.
Please note: I don’t like U

[2017-12-20 09:51] janislit commented on #2833
Basic information
    Platform: iOS
    Version: 11.1.2
    System/Browser: mapillary/360 CAM

Steps to reproduce behavior
yesterday I tried again
   Formatted micro SD
but the result is the same as before (incorrect coordinates)
https://www.mapillary.com/map/im/082Kgdsb-AOpbC2VJdwYSg

in capture you can see mapillary screen on my iphone 6+

its showing blue screen (not what i capturing).

[2017-12-20 10:42] ovivoda commented on #2718
@Eric-FR will check it out and get back to you. I saw the crash here. Trying to figure it out. Still could not reproduce it on my end.

[2017-12-20 14:28] katrinhumal commented on #2834
@Alessandro-Barbieri Thanks for pointing it out. I'm supposing you mean `GB` not `GiB`? We'll fix the capitalisation.

[2017-12-20 14:31] katrinhumal commented on #2835
@AnkEric thanks for reporting - I'll have to ask @gyllen or @peterneubauer for help here for a possible explanation.

[2017-12-20 15:08] millenbop commented on #2833
Thanks. Yeah  problem is probably because of daylight saving messing up the timestamps. I'll try to have a fix out later this week or early next year.

[2017-12-20 15:29] Alessandro-Barbieri commented on #2834
@katrinhumal depends, see https://en.wikipedia.org/wiki/Gibibyte for more infos

[2017-12-20 15:30] Alessandro-Barbieri commented on #2834
@mprins do you have another idea?

[2017-12-20 15:46] mprins commented on #2834
Really it is irrelevant as the order of magnitude is the same and in the end it's only a few images more or less. the estimate is still accurate whether its giga or gebibytes

[2017-12-20 16:33] peterneubauer commented on #2835
This was a backend upgrade failure, things should be working as normal now again right?

[2017-12-20 16:47] AnkEric commented on #2835
After 22:00 PM last night it was oké. And still is.

Still curious about my two other questions (on which I stumbled during the hours I was blaming myself).

[2017-12-21 22:18] Eric-FR commented on #2718
New version 3.117: no crash but an error message when arriving at 601 pictures and trying to start the new sequence: _No location, please make sure GPS is available_.

![screenshot_20171221-171206](https://user-images.githubusercontent.com/32433543/34277227-227cfd70-e6a5-11e7-9af8-0be59c940701.png)

[2017-12-22 03:29] jfburke3 commented on #2718
@Eric-FR I get that message frequently at the beginning of a sequence, even ones that I manually start.  However, the message goes away and the app *does* begin shooting images afterwards, so I've never bothered to report it as it doesn't interfere with my ability to use the app.

[2017-12-22 03:36] jfburke3 commented on #2578
Just an additional thought on this....  The available sequences should probably be limited to ones that have been manually curated by the Mapillary team (or possibly an approved set of volunteers?) to ensure that only superior-quality sequences are used.  Let's face it, there are some pretty lame sequences out there, including some of mine that I would be horrified to see used as a screen saver.

[2017-12-22 03:37] jfburke3 commented on #2791
Erm.  That the high setting was removed might be due to this issue:  #2211

[2017-12-22 06:35] ovivoda commented on #2718
@Eric-FR Will work on fixing the message. The capture of a new sequence works?

[2017-12-22 08:01] Eric-FR commented on #2718
@ovivoda No, the new sequence still not works.
@jfburke3 I will check again if this message is just a coincidence or not, but, for sure, even by waiting, the new sequence is stuck on the first picture, even with correct GPS signal, as on the screen-shot.

[2017-12-22 14:30] Eric-FR commented on #2718
It's a great pleasure to announce to you that everything is working back again. I performed a static test (time based: 1 s) over 2000 pictures and I got 4 sequences with automatic start of the new sequence when arriving at 601 pictures in the previous one.

[2017-12-22 16:31] ovivoda commented on #2718
@Eric-FR Thanks for the feedback. So this is still a problem when you drive but works with "ignore location" setting set to ON?

[2017-12-22 19:01] Eric-FR commented on #2718
I will check latter while driving but "Skip location check" was already disabled.

[2017-12-22 22:11] Alessandro-Barbieri opened #2836 "wrong sign in api doc"
https://www.mapillary.com/developer/api-documentation/images/traffic_sign/regulatory--minimum-safe-distance--g1.png

is not what described

[2017-12-22 22:12] Alessandro-Barbieri opened #2837 "misspelling in api doc"
https://www.mapillary.com/developer/api-documentation/#warning

go to `warning--kangaloo-crossing--g1`
should be kangaroo?

[2017-12-25 11:24] HolgerJeromin commented on #2773
In another item it was explained, that deleted regions are only rebuild when there are more images added (the whole scene is rebuild in 3d).

[2017-12-26 21:02] polarbearing opened #2838 "GNSS quality indicator fading out - bad idea"
Android 7.1.1, mapillary 3.117

In older versions, the GNSS quality indicator was always on screen. It seems in recent versions, it has been moved on top, and while the gray (no fix) and red (bad fix) stick on the screen, the orange and green (good/very good fix) fade out after a second or so.

I consider this a bad idea. While driving I can only give the device a glimpse in safe situations, e.g.

[2017-12-26 21:58] pbb72 commented on #2795
Hi @peterneubauer , could you detail what exactly has been fixed? Because it looks to me all mentioned sequences still don't show up in my uploads list, and still hide when showing only my own uploads on the map.

The final sequence however, that was not showing up completely, is fixed.

[2017-12-27 09:14] katrinhumal commented on #2836
Thanks for reporting @Alessandro-Barbieri! We'll fix that.

[2017-12-27 09:16] katrinhumal commented on #2837
Correct! We'll fix. Thanks for reporting.

[2017-12-27 09:23] katrinhumal commented on #2838
@polarbearing thanks for sharing your thoughts! Just to give a little insight into how we were thinking here - the screen is only clear when the fix is good or very good, which is when everything works as it should. Having the no/bad fix message stick around is similar to the principle of displaying an error message; while there is no need to constantly display a message that says `No errors`.
Cou

[2017-12-27 10:56] polarbearing commented on #2838
Besides having daylight, to have a correct location fix is the key point for using the capturing app. Thus it is a condition I'd like to actively monitor. There are other conditions like battery level (which is already in the device's status bar), temperature and storage shown permanently which are less important.
The current label for the GNSS quality is too big for permanent display, the small d

[2017-12-27 11:05] polarbearing commented on #2579
I was using 3.117
"Set the camera pointing direction" is set to forward.
"Use device compass" is off.
All images have EXIF values for "GPS Img Direction" between 110...130 degrees, which has nothing to do with the driving direction. I could not find another EXIF value about direction. As other apps are reporting correct GPS bearing, the issue must be with mapillary.

[2017-12-27 14:47] polarbearing commented on #2616
Any action to fix this issue?
Watching the beast in Safari here, the related webkit process for mapillary consuming 1.2 Gigabytes during an upload. Upload stuck now.

[2017-12-27 14:55] polarbearing commented on #2455
Any action on this issue? Just reported in #2616 how my upload failed when consuming 1.2 Gigabytes after a few uploads.
Just starting www.mapillary.com/app/uploader with showing the "Browse Files" request costs 346 MB.
Preparing 283 images, we are at 550 MB. The process consumes 55% CPU power, just for transferring a few bytes  over a thin upload line, and having the icons on the webpage flicker.

[2017-12-27 16:00] polarbearing commented on #2579
Found another sequence where the directions are stuck to a different narrow angel-range. Again the whole sequence more or less the same wrong angle.

[2017-12-27 17:47] polarbearing commented on #2455
Unable to upload the chunk of 283, always stuck after 1...3 images.

[2017-12-27 17:51] polarbearing opened #2839 "Web uploader: stuck after a few images"
Web uploader always stuck after a few images.

While I initially blamed the memory consumption (#2455), I restarted the browser window and made smaller chunks down to 20 images, again stuck after 1-2 images.

It still worked earlier today.

[2017-12-27 20:54] nickplesha commented on #2455
@polarbearing Can you upload a screenshot of the browser error console when this happens? There could be an error message that would help us diagnose the issue.

[2017-12-27 22:14] drkludge commented on #2616
Is this related to #2819 and Mapbox’s vector map issue?

[2017-12-28 09:05] richlv commented on #2819
a bit offtopic, but upload_with_authentication.py should allow uploading images w/o any additional processing.

proxies... i think setting the `http_proxy` variable using the standard syntax like `http://proxy:port` should work, but it's been some time since i've needed that.

[2017-12-28 10:37] nickplesha commented on #2616
We've been continually making improvements to reduce memory usage in our code. The map component, however, can use up a lot of memory, depending on zoom level and location. Using a different map style (OSM for example) will reduce the memory usage significantly.

[2017-12-28 10:37] katrinhumal commented on #2839
@polarbearing thanks for reporting! Could you give it another try to see if the issue still persists - we had minor system problems which may have caused this. It works as it should for me right now. If not for you then we'll look into the matter.

[2017-12-28 10:40] katrinhumal commented on #2838
@polarbearing thanks for the insights! I'll pass this onto the team for consideration. Meanwhile, I hope it helps you somewhat to know that if the GPS indicator is not visible on the screen, there is only one conclusion to make - that the location fix is good and capturing is possible.

[2017-12-28 13:05] polarbearing commented on #2455
Memory grew from 500 MB to 1.3 GB during the attempted upload of 223 pictures, stuck after 58 pictures as in #2839.
Error console appears to be unrelated to memory consumption:
[code]

[2017-12-28 13:09] polarbearing commented on #2839
Was trying 20-images chunks yesterday which worked, 40 images failed.
Today I tried the remaining 223, which got stuck after 58.

The problem is that I have no method in the workflow to identify on my harddisk, which are the 58 that are uploaded among the 223, so I cannot publish them. My only chance is to delete the already uploaded 58 and try again.

[2017-12-28 13:11] polarbearing commented on #2839
See #2744 for the resume problem.

[2017-12-28 13:13] polarbearing commented on #2744
As said in #2839, the workflow is cumbersome since I cannot identify which of the partial upload is in the staging area and which not, so my only chance is to delete them from the staging and start everything new.

[2017-12-28 16:26] nickplesha commented on #2455
@polarbearing Thanks for the extra investigation! The second error message is concerning, can you attach some of the images that you're trying to upload so I can try to reproduce this?

[2017-12-28 23:45] polarbearing commented on #2455
The stuck upload as in #2839 appears to be unrelated to the memory consumption in the browser. It does not happen with a particular image. As @katrinhumal said there are problems with the backend. I switched to OSM layer now which consumes less in the browser, but it does not help with the stuck uploads.

[2017-12-28 23:47] polarbearing commented on #2839
Got another 20-image chungk through this afternoon, now trying the rest is stuck again after image 6.

[2017-12-28 23:49] polarbearing opened #2840 "Selected map layer not respected when opening the website"
In one of the issues discussing the huge memory footprint of the website #2616, one hint by @nickplesha was that the Mapbox style consumes a lot of memory.
This seems true, using the OpenStreetmap layer uses less memory.

However the layer setting is not considered when the website starts. It starts with Mapbox background. When I click on the layer icon, it shows that the radio button is already o

[2017-12-29 10:24] katrinhumal commented on #2839
@polarbearing You don't need to figure it out yourself - when you try to add images to the staging area that are already there, the uploader is able to figure this out and will skip adding those for the second time. So you can just add your whole folder again, no need to delete the ones that are already in the staging area.

It's only after you hit the `Publish` button that duplicates unfortunatel

[2017-12-29 10:25] katrinhumal commented on #2744
Response in #2839: when you try to add images to the staging area that are already there, the uploader is able to figure this out and will skip adding those for the second time. So you can just add your whole folder again, no need to delete the ones that are already in the staging area.

It's only after you hit the Publish button that duplicates unfortunately can't be detected anymore.

[2017-12-29 10:26] katrinhumal commented on #2455
The backend problems that I suspected should be resolved now so if it still gets stuck, it's likely something else. @nickplesha surely has a better guess than me.

[2017-12-29 10:59] yopaseopor opened #2841 "Sequence_cut has cut an aerial sequence"
Hi!
As my passion for travel, two days ago I was landing at Barcelona's airport at 9:00 PM. Lights give me a fantastic and plastic images of cities like Igualada ,Terrassa, Sabadell, Cerdanyola, Santa Coloma de Gramenet or Badalona, the Barcelona's port and the airport itself. There were 86 images uploaded.
It was a short and beautiful sequence.

But then @sequence_cut arrived...and cut this image

[2017-12-29 22:36] polarbearing commented on #2455
It is certainly not a particular image, since all images can be uploaded eventually.

[2017-12-29 22:36] polarbearing commented on #2839
Ok the procedure is not intuitive, but works. Still getting stuck regularly.

[2017-12-31 15:27] kolen commented on #2778
Tried today, it's still reproducible (Chrome 64.0.3282.39).

[2018-01-01 20:12] HolgerJeromin opened #2842 "Tasker list on main page should have more entries"
The [Tasker list from the main app](https://www.mapillary.com/app/task?menu=true&focus=map&lat=20&lng=0&z=1.5) does have 5 open verifier entries

- Verify Canadian 40km/h speed limit signs
- Verify Dutch on priority road
- Verify Dutch end of priority road signs
- Verify Dutch give way signs

Clicking on a task gives a link to https://help.mapillary.com/hc/en-us/articles/115001964171
which has thi

[2018-01-02 00:02] Alessandro-Barbieri commented on #2622
I think this is a top priority issue but after 5 months nothing is changed ....

[2018-01-02 00:04] Alessandro-Barbieri commented on #2842
Because the task in your are like a challenge and time limited.

[2018-01-02 10:55] sandrauddback commented on #2842
@HolgerJeromin : This is a good question! For the first version of the Tasker we have decided to include verification tasks that are requested by the community only, are local (country specific) and have a time limit as @Alessandro-Barbieri points out. The verification tasks we have listed on the help pages are tasks requested by Mapillary. I do think you have a point in which verification tasks w

[2018-01-02 11:13] katrinhumal commented on #2841
Hi @yopaseopor - capturing your landing experience is cool indeed and the images look fascinating! The only problem is that unfortunately, this doesn't fit under the roof of "street-level", which is what the Mapillary platform is meant for. And while this doesn't mean that we don't want these images of yours to be on the platform, I'm afraid that we don't have a way for you to connect them back to

[2018-01-02 11:15] katrinhumal commented on #2839
Good that the duplicate check works. Bad that the upload itself gets stuck. Handing this over to @nickplesha.

[2018-01-02 13:19] yopaseopor commented on #2841
Well, fortunately I have all the images I have uploaded to Mapillary previosly.
I think it will be possible when you are uploading a sequence, to mark in some way, or some option that specific sequence is a special sequence. That sequence would be not cut and not be counted as stats for km.  of street imagery or leaderboard things. Today we have drones, today we have aerial images, I can be wrong

[2018-01-02 13:55] danbjoseph commented on #2237
another example of where it'd be useful to request a sequence split.
here's an example where the image max imposed by `sequence_split.py` put a break in the sequence where there doesn't need to be (the hovered image) and then kept the sequence together (because of the parameters i passed) where it really shouldn't be (the big jump between the selected image and the next)

![screen shot 2018-01-02

[2018-01-02 14:23] ybkuang commented on #2237
can you share with us the link to the sequence? Will be great if we can see the parameter that you used for the split as well. Thanks @danbjoseph

[2018-01-02 14:31] danbjoseph commented on #2237
sequence is `TRYSnkCFEPavQ7-beqAucw`
was `python sequence_split.py /path/to/folder/ 100 120`
(when i've let it run with the defaults, i always seem to end up with a way too large number of sequences. i should probably fine tune and remember what i use for driving vs biking.)

[2018-01-02 15:12] katrinhumal commented on #2841
Definitely lots of interesting imagery! We never know about the far future, but in the foreseeable one, Mapillary will not be focusing on aerial imagery. Train imagery fits in just fine, though, since it is also on street level. :)
Anyway, thank you for your feedback!

[2018-01-02 22:22] Alessandro-Barbieri commented on #2841
@yopaseopor this is not the place for aerial images. You can have better luck in openaerialmap

[2018-01-03 11:18] peterneubauer commented on #2835
@gyllen ^^^ about auth legacy/developers

[2018-01-03 13:03] katrinhumal commented on #2778
@kolen thanks for re-reporting! I can confirm it's not working completely as it should. As I add several tags in quick succession, not all of them show up. However, when reaching like 6-7 or more tags and starting to remove them, the ones that didn't initially appear start showing up as I delete others. @nickplesha can you please check this out?

[2018-01-03 15:38] severinmenard opened #2843 "Mapillary app does not allow anymore to store photos on SDCard?"
Android 7.0 on Moto G5 Play
App version 3.117
Since a few days, maybe the last update, Mapillary stores the photos no more on the micro SDcard in the device but in its internal memory and does not allow to browse upper than /storage/emulated/0 (see the screenshot below) and therefore does not allow to get to the SDcard, while this SDcard is detected by all the other apps in the device. Obviously t

[2018-01-03 17:30] gyllen commented on #2835
@peterneubauer @AnkEric Its the same thing just that the none legacy will authenticate you to upload bigger files.

For the scripts thats something that we need to look over. In general I would like it to work like other scripts.

1. You put in your user/pass (not saved)
2. You get back hashes without having to copy them from the web

[2018-01-03 18:29] Eric-FR commented on #2718
I made several field tests with "distance based" capture 5 s and minimum delay 1 s. I can confirm that switch to new sequences after 600 pictures is running well.

So, for me, issue is solved.

[2018-01-04 01:51] nereocystis commented on #2691
This apk fixed my problem.
Until recently, I had been able to log onto the Mapillary Android app using openstreetmap. This morning, I couldn't. Repeatedly tried, including deletion and reinstall of app. No luck.

Then I installed the above apk, and everything works again.

[2018-01-04 01:54] nereocystis commented on #2691
I spoke too soon. Sometimes it works, sometimes it doesn't. I lost the ability to use Mapillary Android for a few days, trying various apks. Finally, I went back to the version above and managed to log in as openstreetmap, though not with Mapillary email.

I lost the connection again today, and eventually got it back again.

Suggestion: It should be possible to capture without logging in. What if

[2018-01-04 08:25] nickplesha commented on #2839
@polarbearing can you please attach an example image (or a chunk of 40 that gets stuck) here so I can try to reproduce this issue?

[2018-01-04 12:03] tobecwb commented on #2799
so...?
i have to stop the use of the Mapilllary?
more than one month, and I can't upload anything yet. :(

[2018-01-04 12:12] ovivoda commented on #2691
@nereocystis Can you please install the latest APK from GooglePlay v3.117 that is and please send us the logs if this happens again so we can see what is wrong.

[2018-01-04 12:30] polarbearing commented on #2839
As said in #2455, it is certainly not a particular image, since all images did upload eventually. And it was always a different position when it got stuck, not at a particular one.

So it is more likely an unhandled timeout in the communication between the scripts in the browser and the backend.

Even a simple 'resume' button would help if it cannot resume automatically.

[2018-01-04 12:34] polarbearing commented on #2622
is this related to #2579?

[2018-01-04 12:34] polarbearing commented on #2579
xref #2622

[2018-01-04 12:37] nickplesha commented on #2839
@polarbearing I understand, but I can't get this to happen with any images I take with my gear. There are many possible causes for your problem: image size, in-uploader editing, map zoom level etc. If I had your images I could narrow it down to something we can take a look at.

[2018-01-04 12:43] ovivoda commented on #2718
@Eric-FR Thanks for the feedback!
@mprins Working good on your side as well?

[2018-01-04 14:48] katrinhumal commented on #2843
@severinmenard Thanks for reporting! We're aware of the issue and working on the solution. Hope to get this fixed soon!

[2018-01-04 15:03] polarbearing commented on #2839
Hm, those sequences were eventually uploaded and deleted here. Will keep some when the problem reoccurs.
The images from the device are 3-5 MB each. They were not modified in the browser since #2428 is not fixed. They had valid but incorrect direction values as reported in [#2579-comment](2579#issuecomment-354097330) which I cannot edit in the browser before upload.
Where would I upload such examp

[2018-01-04 17:06] mxa commented on #2691
I second the suggestion by @nereocystis . Would have liked to add some mapillary pictures on a North Korea trip but could not because I was logged out and there is obviously no internet.

[2018-01-04 17:52] jfburke3 commented on #2843
Just a note to say that I am not experiencing this problem on my SGS7 running Android 7.0, with the same Mapillary version.  But then, I had configured the app to use the SD card previously, and haven't tried to change it.

[2018-01-04 20:43] nereocystis commented on #2691
I did try 3.117 over the weekend also, and had the same problem with logging in using Mapillary. It is working right now, of course.

Full disclosure, my phone is older, and does have some memory issues. I don't believe this is relevant here, but I might be wrong.

[2018-01-04 21:50] nereocystis commented on #2691
After rebooting the phone, I can't log in via openstreetmap again.

How do I send logs without logging in?

[2018-01-05 01:21] nereocystis commented on #2691
BTW, I believe that I am logging on, but never see the standard mapillary screens.

If I enter an incorrect password, then I get a failure.

Instead, I just return to the login screen.

[2018-01-05 01:29] nereocystis opened #2844 "Mapillary android request, allow capture without login"
### Basic information
* Platform:  `Android`
* Version: `3.117`

### Desired behavior

Allow capture of images without logging in.
Uploads require logging in, of course.

Use case:
There are many locations in the world without network access. If my app is not logged in, then I cannot capture images with  the app.
Locations without network access probably have fewer visitors and it is less likely t

[2018-01-05 01:30] nereocystis commented on #2691
@mxa
I just added an issue to allow uploads without logging in:

https://github.com/mapillary/mapillary_issues/issues/2844

[2018-01-05 04:33] nereocystis commented on #2755
Are the license plate blurs separated by country? I think that the blurs do not specify license plate or face.

Probably blurs should be separated by country, since US license plate have different dimensions than European license plates.

[2018-01-05 09:34] katrinhumal commented on #2428
@polarbearing what have you captured the images with? Any chance it was the Mapillary mobile app?

[2018-01-05 09:34] katrinhumal commented on #2843
@ovivoda maybe useful to know ^

[2018-01-05 09:38] katrinhumal commented on #2755
@nereocystis you are right and training different shapes from different countries is exactly what we are doing.

I'm closing this issue now since the "fix" is a longer process that is already in the works.

[2018-01-05 09:38] #2755 closed

[2018-01-05 09:43] katrinhumal commented on #2844
@nereocystis Thanks for the suggestion! Normally, once you've logged in, you should not be automatically logged out of the app. Does this happen to you?

The standard use case is that you install the Mapillary app, log in, and stay logged in - which will allow you to access the capture screen also offline. If it doesn't then something is wrong and we need to investigate. If you get "kicked out" of

[2018-01-05 12:25] mxa commented on #2691
@nereocystis capture you meant. Thanks.

[2018-01-05 12:28] mxa commented on #2844
Albeit this issue should not be there as @katrinhumal said, it would be still a good precaution for cases where for whatever reason the app logs you out. Still happens from time to time.

[2018-01-05 12:59] polarbearing commented on #2428
That was a year ago! Most likely with the Android mapillary app, there is an example in the first post.

[2018-01-05 17:23] nereocystis commented on #2691
@ovivoda I can't install 3.102-SNAPSHOT2 above. Android complains that it appears to be corrupt.

[2018-01-05 17:24] nereocystis commented on #2691
@mxa Yes, capture without logging in. Upload should require logging in

[2018-01-05 17:24] nereocystis commented on #2691
After rebooting the phone, I can't log in via openstreetmap again.

How do I send logs without logging in?

[2018-01-05 17:29] nereocystis commented on #2844
@katrinhumal
After a reboot of the phone, I was no longer logged in to Mapillary. Now I can't log in again.

Once I was logged in, I stayed logged in, until the reboot. I wasn't logged out automatically.

[2018-01-05 18:02] nereocystis commented on #2691
@ovivoda OK. Deleted mapillary, then installed 3.102-SNAPSHOT2 and there was success.

Log in via Mapillary email failed, openstreetmap succeeded. Attached trace.
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/1607468/mapillary_trace.txt)

[2018-01-05 19:44] drkludge commented on #2773
I had an interesting experience on the website. It looked like both my images and canadarunner's were lost in northern Arizona. I don't know if panning in the affected area sent a trigger to a render service or not. I looked at the area again--a day later, a week later, I don't recall?--the green lines were there again. I did not report the issue because I took the issue as a standard slippy map r

[2018-01-06 15:31] gyllen commented on #2799
@tobecwb I see about 45 sequences uploaded none of them are confirmed. Do you want me to confirm all of those?

[2018-01-06 15:33] gyllen commented on #2428
@nickplesha Exifs not updating properly?

[2018-01-06 15:38] tobecwb commented on #2799
yes, this is exactly what i need! tks

[2018-01-06 16:04] gyllen commented on #2799
ok started with 2 sequences, can you check in like 30 minutes or so that this is what you want

[2018-01-06 16:33] nickplesha commented on #2428
@gyllen @polarbearing  I believe there was a bug about a year ago related to editing in uploader, it should work properly now. Let me know if the issue occurs again.

[2018-01-06 18:51] Alessandro-Barbieri opened #2845 "email change"
I want to change the email associated with my mapillary account but I can't find a way to do so.

[2018-01-06 21:44] mprins commented on #2718
Ran some sequences this weekend, thus are back working

[2018-01-06 21:44] #2718 closed

[2018-01-07 19:57] simonmikkelsen commented on #2714
Actually Mapillary have a way to download the unprocessed image manually. From one I looked at it seems that Mapillary may modify the exif data a bit.
The issue is, that there is no official API to do this. But of cause there is an API and it is definately hackable if Mapillary allows us to do it. If I had the time to do it and use it, I would write a script for that to fix the quality of some of

[2018-01-08 06:01] katrinhumal commented on #2845
@Alessandro-Barbieri Please send your request to support@mapillary.com and we'll fix it for you. :) (See https://help.mapillary.com/hc/en-us/articles/115002915649 about changing your account details.)

[2018-01-08 06:01] #2845 closed

[2018-01-08 08:57] peterneubauer commented on #2795
@pbb72 is https://www.mapillary.com/app/user/pbb?focus=photo&pKey=wcbPyKHSldMxPQOApWwH2A&lat=50.13664016999843&lng=14.369428800000037&z=17 still not showing up in your feed? I checked the seqeunce and it seems very normal to me - fully processed and all.

As for https://www.mapillary.com/map/im/M3FbAL102ZrP0U_KX6aSxQ - this looks like small gaps due to the app not recording these images for some r

[2018-01-08 11:02] tobecwb commented on #2799
I still can't continue uploads.
everytime I try to use the https://legacy.mapillary.com/map/upload/im to approve any pending upload, the server respond with a `504 Gateway Time-out` on `https://a.mapillary.com/v2/me/uploads/status?client_id=xxxxxxx`

[2018-01-08 11:41] pbb72 commented on #2795
Yes, https://www.mapillary.com/app/user/pbb?focus=photo&pKey=wcbPyKHSldMxPQOApWwH2A&lat=50.13664016999843&lng=14.369428800000037&z=17 is still not showing up in my feed.

Could you perform the following test?
1. Confirm (for yourself) that https://www.mapillary.com/app/user/pbb?focus=photo&pKey=wcbPyKHSldMxPQOApWwH2A&lat=50.13664016999843&lng=14.369428800000037&z=17 is indeed a sequence by user "p

[2018-01-08 12:15] peterneubauer commented on #2795
So,
this is an issue where the sequences are not rendered in certain zoom levels? cc @ptpt

[2018-01-08 15:32] gyllen commented on #2799
@tobecwb Does the 2 sequences look correct though? Once you confirmed that I will send the other 42 through the system again.

[2018-01-08 15:35] tobecwb commented on #2799
Checked the sequences, and everything seems to be ok!

[2018-01-08 15:40] AnkEric opened #2846 "Mapillary Blurs"
Mapillary Blurs have been discussed before, several times.
Sorry for repeating...

I am wondering why - so many - incorrect blurs are being set:

- branches (in trees)
- leaves (in trees)
- clouds (in the sky)
- birds (in the sky)
- window frames (in houses)
- gates, fences
- paving_stones
- scrub (nature)
- wheels (of a motorcar)
- Information boards having text only, so 80% of image is text (doz

[2018-01-08 15:42] AnkEric commented on #2835
Oke, thanks for your reply.
Good enough for me (correct) > Close...

[2018-01-08 15:42] #2835 closed

[2018-01-08 16:23] katrinhumal commented on #2844
@nereocystis Interesting - I'm not sure this is supposed to happen either. When I try on my own device, I stay logged in after a restart as well. @ovivoda how is this supposed to behave?

[2018-01-08 17:12] nereocystis commented on #2844
@katrinhumal After a reboot my openstreetmap login needs to be rebooted. Just checked again.

I haven't been able to log in using email in quite a while.

[2018-01-08 17:56] gyllen commented on #2799
@tobecwb Ok all sequences should be going through system now. Let me know how they look for you.

[2018-01-08 17:56] ejegg commented on #2814
Confirmed with Galaxy S5 under LineageOS 14.1 (based on Android 7.1.2)

[2018-01-08 19:29] nereocystis commented on #2755
@katrinhumal Closing the issue is a bit strange, since the issue has not been fixed. As a software developer, I prefer to leave an unfixed issue open, with a notice that the fix is not coming soon.

[2018-01-08 19:33] Alessandro-Barbieri commented on #2846
I noticed that the algorithm blurs only perfectly readable and perfectly horizontal license plates.

[2018-01-08 19:36] Alessandro-Barbieri commented on #2845
Why not add something in the site? Only this site doesn't support email change ... (I'm changing my email in dozen of websites)

[2018-01-08 19:45] tobecwb commented on #2799
tks @gyllen
It's working again!

[2018-01-08 20:25] gyllen commented on #2799
@tobecwb Yey! And old sequences are in good shape?

Also let me know if there is anything I can help you out with for future uploads!

[2018-01-09 04:09] drkludge commented on #2843
That sounds like the same issue that I had https://github.com/mapillary/mapillary_issues/issues/2515#issuecomment-293068825.  Please try the procedure.

[2018-01-09 07:36] gappleto97 commented on #2714
The API is not easily hackable as it stands now. You'd need to know some of their Amazon account details to do so. It's not as easy as "here's an image ID", unless you're Mapillary.

[2018-01-09 09:33] katrinhumal commented on #2755
@nereocystis it's a very good point and we understand that, but have chosen another process for ourselves. I hope that's ok.

[2018-01-09 09:36] katrinhumal commented on #2845
We're definitely thinking about it :) Just with limited resources, we haven't yet run out of other issues/improvements to work on before, which have more impact on the way our community can use Mapillary.

[2018-01-09 09:57] ovivoda commented on #2844
@katrinhumal @nereocystis The app should keep the user logged in even after restart

[2018-01-09 10:06] mxa commented on #2844
@ovivoda obviously, yes. But letting the user take pictures without being logged in would add a layer of safety. You still need the account for uploading, but if you are uploading you have the network access to also log in. I understand this would mean a lot of change to the inner workings of the app and It's probably too much work for solving a problem not many people will or should encounter in

[2018-01-09 10:24] ovivoda commented on #2691
@nereocystis Thanks! Can you please share your user name/e-mail

[2018-01-09 10:44] katrinhumal commented on #2844
@mxa Thank you! You have a very good point about the extra safety layer but we really appreciate your understanding of the effort/outcome ratio. We will, in any case, keep this in mind. If there wasn't a question of limited development resources, we'd surely see no reason for not implementing this right now.

@nereocystis Would you be able to turn on the "Save debug logs to file" in Settings > Dev

[2018-01-09 11:19] pbb72 commented on #2795
I'm not sure how to explain this the clearest.

* This concerns **at least** the following consecutive sequences: gKxjbbkQnCoV1ERzgZQ-Jg, 4e01T9jBvFL5chr_CFnQng, uUPCyh19XIF1FZMZFKNtaA, EWcV068Hfn0tVqBN_bdVXg. There might be many more, but they're difficult to discover.
* The sequences are missing **both** from the uploads timeline, and from the map when only showing my own uploads. This may be co

[2018-01-09 11:54] mxa commented on #2844
Not sure if this makes sense at all, but here is an idea: A completely separate bare-bones picture taking app that just stores picture sequences folders which can later be uploaded through the web app. Maybe this could be the start to the long awaited open source transition for mapillary.

[2018-01-09 13:14] #2179 closed

[2018-01-09 13:15] richlv commented on #2179
indeed, the zoom is still "sphered", but it's not such a huge issue, closing

[2018-01-09 13:23] richlv commented on #1990
argh. the link situation does not seem to be getting any better. it would be awesome if links could be normal, plain links. links people actually want to click and share.
in the website, for sharing you provide links like https://www.mapillary.com/map/im/waCOHJnn6rfHLRFPVk_xEQ - why are the ones in email terrible and almost designed to make people not click them ?

even worse, for some time email

[2018-01-09 13:24] richlv commented on #2797
i was going to comment on this issue, saying that the problem is still there - and then the app update changelog said "fixed question marks" :)
thank you for the fix (will pay closer attention on the next upload)

[2018-01-09 13:25] richlv commented on #1990
...like this link where i wanted to check whether i have responded to a comment from @gyllen - http://links.mapillary.com/wf/click?upn=SYm2Yy25nY5jqeAJPK2dL29rff3pydlFfOroPZm5iUjqwGzW6ZEJHVfD8Z5FjsvxY8-2FA7TKjtUqlGLRR-2Bay-2FdKlGDfVhaybUhylPXVALpSY-3D_yA8CAIS1iNKB8pwHbu3cJ5XZOpHl2oVi5DMi1DRMn3d30-2BDvWl8GnFvPjlkZQmWK2IF4rfN-2BdjCiQmC98f6FNBvHNwYYhviySbcxOGnNuRArrf1Ij-2FlXbJY1nio0wixScX8JmFI9bib0MK

[2018-01-09 13:33] millenbop commented on #2797
Np! But sorry about the late release though!

[2018-01-09 14:56] gyllen commented on #1990
@richlv How old is this link and when did you get it?

Reason I am asking is that we had a couple of days last year when the links were disabled.

[2018-01-09 14:59] gyllen commented on #2795
@ptpt Can you check these tiles?

[2018-01-09 15:04] peterneubauer commented on #2795
Ok I think @ptpt found an inconsistency in one of our databases. Going to track that down, and will report back.

[2018-01-09 15:05] peterneubauer commented on #2795
l

[2018-01-09 15:11] richlv commented on #1990
that specific one seems to be received at 2017.09.25. 03:59

nevertheless, the main desire is to have links for humans :)

[2018-01-10 10:50] GITNE commented on #2846
@AnkEric Although these have been answered before or elsewhere, and some of these questions you could be answer yourself if would take the time and effort to think about them, I am going to explain them briefly.

Already exists. These are the `<` and `>` buttons. Alternatively, you can use `Alt` + `↑` and `Alt` + `↓`.

Seems rational at first but the intention and purpose of the blur editor is to

[2018-01-10 10:53] habi commented on #2546
I was hoping with the newest release (see below) this problem is fixed, but unfortunately it isn't.
![img_5180](https://user-images.githubusercontent.com/1651235/34768586-8aa0a59a-f5fb-11e7-9b85-7459f15c5ba1.jpg)

This morning I
- removed all my image from my GoPro Session 4
- reset the date and time of the camera with the GoPro app
- connected the camera to the Mapillary app
- started and stopped

[2018-01-10 11:18] habi opened #2847 "GoPro Session 4 preview not shown"
### Basic information
* Platform: `iOS`
* Version: `11.2.2`

### Steps to reproduce behavior

 1. Connect Camera to App
 2. Look at preview, everything looks good
 3. Star biking and then start capture

### Expected behavior
- App still shows preview

### Actual behavior
- App shows only a blue screen

![img_5176](https://user-images.githubusercontent.com/1651235/34770087-227a6582-f600-11e7-954e-c

[2018-01-10 11:18] habi commented on #2785
BTW; The shown screenshot is exactly the same as I see here: https://github.com/mapillary/mapillary_issues/issues/2847

[2018-01-10 11:19] habi commented on #2847
Images are recorded correctly (minus the GPS coordinates), but that's another issue: https://github.com/mapillary/mapillary_issues/issues/2546#issuecomment-356567833

[2018-01-10 12:17] severinmenard commented on #2515
I do not have the possibility to move the app to the SD Card from settings-application manager (see screenshots below)

![screenshot_20180110-091353](https://user-images.githubusercontent.com/1291055/34772529-fa851bd0-f5e6-11e7-8124-eec9d0e5a2f9.png)
![screenshot_20180110-091406](https://user-images.githubusercontent.com/1291055/34772528-fa5e6b16-f5e6-11e7-9313-94ffa2d27c15.png)

[2018-01-10 12:44] habi opened #2848 "Keyboard shortcuts for Verifier tool"
The [verifier tool](https://help.mapillary.com/hc/en-us/articles/115001964171-Verifier-tool) is quite fun.
It would even be a better time-killr if you'd have keyboard shortcuts to approve and reject images.

[2018-01-10 12:46] habi commented on #2848
Maybe it would work with the :arrow_left: :arrow_up: :arrow_down: :arrow_right: keys on the keyboard?
Or maybe WASD or 'a' or 'r'?

[2018-01-10 13:36] AnkEric commented on #2846
I know, see my image showing 3 arrows pointing to 3 controls.

That would be a solution. However [Alt ←], [Alt →] does not act as expected in Google Chrome.

For Blurs we need four controls (already existing):
- Back
- Forward
- Submit + Forward
- Clear All + Forward

Two options:
- Using mouse I want to move over short (!) distance to either of them and all four need to be large in size (and equa

[2018-01-10 14:16] katrinhumal commented on #2846
@AnkEric thanks for your very extensive and well thought through feedback. I definitely understand why you're requesting what you are. I'm not able to provide an equally detailed response right now but I've forwarded your feedback to the team and we'll do our best to take it into account. In broad strokes, the strategy is to make good efforts with the blurring algorithms so that the need for manua

[2018-01-10 14:19] katrinhumal commented on #2847
@habi thanks for reporting! Can you say if this has been the case for you all along with this camera, or has it recently started happening (like after an app or camera software update)?

[2018-01-10 14:39] habi commented on #2847
The app used to work pretty much perfect with my camera in the olden times, as said [here](https://github.com/mapillary/mapillary_issues/issues/2610) and [here](https://github.com/mapillary/mapillary_issues/issues/2546#issuecomment-297516227), but the usefulness with (my) external camera degraded from there...

[2018-01-10 14:51] ybkuang commented on #2846
@AnkEric I hear your feedback and we have been keeping track closely of the issues that you mentioned. We are working the best we can to improve.

- Python Upload Tools: We're tracing down the issues related to the exif libraries and setup dependency on different OS.  With that, we will make the tools easier for you to use. Sorry for the delay there.

- Blurs:  We have been working heavily on that

[2018-01-10 15:57] katrinhumal commented on #2848
@habi Thank you for your good suggestions! We're thinking to add keyboard shortcuts to the next version of the Verifier. Thanks for playing the game! :)

[2018-01-10 17:17] janislit commented on #2833
Now it works, thank you!

[2018-01-10 18:46] ovivoda commented on #2814
Please try this APK and let me know if this works better:

http://android-releases.mapillary.io/Mapillary_Android_v3.118-SNAPSHOT3.apk

[2018-01-11 14:22] habi opened #2849 "Mapillary traces are not shown for base maps except 'Mapbox Streets'"
### Basic information
* Platform: `iOS`
* Version: `11.2.2`

### Steps to reproduce behavior

 1. Change base map
 2. Go out and acquire images

### Expected behavior
- Mapillary traces are shown

### Actual behavior
- Traces are not shown for 'Mapbox Satellite', 'OpenStreetMap' and 'ESRI Streets'

![montage](https://user-images.githubusercontent.com/1651235/34830082-14a67cdc-f6e3-11e7-8649-2e4a0c

[2018-01-11 14:22] millenbop commented on #2833
Great to hear! Closing.

[2018-01-11 14:22] #2833 closed

[2018-01-11 14:26] millenbop commented on #2847
Hey @habi

Expected behavior is
1) Connect an external camera
2) App shows a preview photo
3) When capture is started, a blue screen is shown instead

If I understand you correctly, this is how it behaves for you? In that case, it is not a bug.

It has always been this way. The reasons for not showing live video feed is that it would drain the battery faster, and also, it is not available when sho

[2018-01-11 14:28] millenbop commented on #2785
Not exactly, it should show a preview image when the capture isn't started.

[2018-01-11 14:29] millenbop commented on #2738
No update for a few months, so closing. Will reopen if the problem persists.

[2018-01-11 14:29] #2738 closed

[2018-01-11 14:30] habi commented on #2785
Ok, I misunderstood the "work"-flow. Sorry for the noise.

[2018-01-11 14:31] habi commented on #2847
Ok, that clears things up. Maybe it would be a good idea to have a little pointer to the user, for example when she/he first connects a camera.

[2018-01-11 14:31] #2847 closed

[2018-01-11 14:33] millenbop commented on #2785
No problem @habi!

[2018-01-11 14:35] millenbop commented on #2847
Good feedback! I think we planned on writing something in the view ("Preview is not available during capture") but dunno what happened to that... I'll make a note of it and try to incorporate it soon.

[2018-01-11 15:47] katrinhumal commented on #2849
@habi Are these freshly uploaded images or all imagery? I.e. you see now green lines anywhere on the map with other base maps besides Mapbox Streets?

[2018-01-11 20:19] habi commented on #2849
I’ve seen it in the app, and just now found out that it depends on the zoom level:
![049d1b91-7fed-4cd4-97d4-1e986f1a0458](https://user-images.githubusercontent.com/1651235/34845437-21a78318-f715-11e7-8041-689779431c77.gif)

[2018-01-12 08:09] katrinhumal commented on #2849
@habi I see! It might be that this has to do with the map tiles not the app. Could you possibly try exploring the same location when you open it not in the Mapillary app but open the browser on your phone and go to mapillary.com/app?

[2018-01-12 08:33] habi commented on #2849
In the browser I see the traces, except for ‚ESRI street‘, which forces the page to reload, as seen in the screenshots below (all on iPhone SE).

![465ff901-a269-437b-95a2-a015017b0028](https://user-images.githubusercontent.com/1651235/34866098-9f3ea264-f77b-11e7-8a4f-8224b859d860.png)
![294df3db-97cf-4b7f-a1ee-76a2487ce595](https://user-images.githubusercontent.com/1651235/34866099-9f5b2ca4-f77b-

[2018-01-12 08:55] katrinhumal commented on #2849
@habi thanks for checking! Handing this over to @millenbop now.

[2018-01-12 08:57] millenbop commented on #2849
Thanks for reporting! I'll look into it!

[2018-01-13 23:00] jfburke3 commented on #2515
@severinmenard There are 2 different issues that are being mixed up on this thread.

1) Ability to move the *app* to external storage.  This is allowed or prohibited by your phone manufacturer.

2) ability of an app like Mapillary to save data on external storage, while the app remains on internal storage.

If I'm following this thread correctly, you're posting about #1, but this thread is about #

[2018-01-14 04:06] nereocystis commented on #2844
@katrinhumal I finally sent the logs. I do have log in after reboot.

@mxa There are a few good open sources apps for starting points for taking the pictures. ChronoSnap takes images in intervals, though doesn't show the images. OpenCamera might be useful. So far, I haven't found any which offer the functionality of the Mapillary app.

[2018-01-14 09:43] ltog commented on #1124
New year, new hope...

How is the FLOSS client coming?

[2018-01-14 09:52] peterneubauer commented on #1124
Actually, we have internally started on the iOS side to break out the
essential functions and put them into an Sdk. Can't give an exact public
release date yet, but yes, it's under way. This issue is by no means
forgotten or ignored - we just don't want it to dominate our roadmap.

On Jan 14, 2018 10:43 AM, "ltog" <notifications@github.com> wrote:

[2018-01-14 12:21] rugk commented on #1124
Sure, just don't let free software "dominate your roadmap". Who needs that anyway…

Also just to be sure: we do not (only) want a floss SDK. Open source the whole app, so we can have it on F-Droid (as for the android app), etc.

[2018-01-14 12:24] severinmenard commented on #2515
@jfburke3 actually I had reported #2 on another thread (now deleted by the Mapillary support because it was not at the right place) and my interest is related to it. Moving the app to the SDcard is a potential fix to #2 provided by @drkludge just above my reply. I should have added that the fix does not work for all the smartphones because of the manufacturer limitations, as you wrote.

[2018-01-14 14:16] mxa commented on #2844
@nereocystis getting off topic here... There is no android app that lets you take images based on GPS distance. My comment was in regard to the prospect by mapillary to open source the Android app. It would be good to see some progress there.
https://github.com/mapillary/mapillary_issues/issues/1791#issuecomment-207402410
https://github.com/mapillary/mapillary_issues/issues/1124#issuecomment-11631

[2018-01-14 14:22] mxa commented on #2672
Related: https://github.com/mapillary/mapillary_issues/issues/1103

[2018-01-14 14:23] mxa commented on #2844
Related: https://github.com/mapillary/mapillary_issues/issues/1103

[2018-01-14 14:26] mxa commented on #2691
Just got a notification on the phone that someone has blurred some pictures i had uploaded. (So obviously I am logged in), then selecting the notification I get presented the login screen as if I were logged out. At least the login works now, but this issue is still there.

[2018-01-14 16:58] nereocystis commented on #2691
@ovivoda Forgot that part nereocystis and kevin@kelphead.org

[2018-01-14 17:02] nereocystis commented on #2691
@mxa I have occasionally had notice that photos have been published, or that I had blurred photos, but could not see see the photos. That matches my feeling that the login succeeded, though the app seems to think otherwise.

[2018-01-14 18:40] peterneubauer commented on #2515
When it comes to moving the app to the SDCard, that should be possible, but when you do this, the app doesn't have access anymore to the system account manager and you might be forced to log in every time you start the app.

As for choosing the SDCard for images, @ovivoda is working on that right now ...

[2018-01-15 10:14] mxa commented on #2691
@nereocystis that's another issue and never worked for me (seeing the actual pictures where blurrs were made). I am talking about being presented with the login screen (and thus barred from using the app) while being logged in.

[2018-01-15 10:24] Eric-FR commented on #2450
I just faced the same issue yesterday (for the first time while using Mapillary for 6 months).
Device: Symphony i10
Android: 6.0
Mapillary: 3.117
Force the use of the legacy Camery API : activated.

This was the third sequence of the day with nothing special before. It stopped the acquisition with message "Lost connection to camera".

[2018-01-15 17:27] nereocystis commented on #2691
@mxa, I see that also. I receive notifications, even though the app still wants me to log in.
It makes me think that the login succeeded, behind the scenes, though the app did not record the success.

[2018-01-15 23:13] polarbearing opened #2850 "webupload fails with orange-red icons"
A new way to annoy goodwilling contributors:
Trying to upload a sequence of 17 images, well recognised by the browser. See them uploading (data are transmitted), but then each icon turns orange-red, and at the end I get "17 files failed to upload" with the offer to retry.
Retrying with the same result.
No reason is given whatsoever _why_ all images have failed.

Images were taken with Android app

[2018-01-16 06:23] jfburke3 commented on #2691
Have any of you moved the app to your SD card?

[2018-01-16 06:48] nereocystis commented on #2691
Yes, I have moved the app to the SD card.

[2018-01-16 06:54] mxa commented on #2691
@jfburke3 yes, me too.

[2018-01-16 08:54] ovivoda commented on #2843
Please try this APK: http://android-releases.mapillary.io/Mapillary_Android_v3.118-SNAPSHOT1.apk1

and let me know if it works for you. For KitKat and up the application will now use SDCard private folder to save the images if you enable the setting to use the SDCard from Settings->Storage section.

Warning: If you are using this setting and you uninstall the application before uploading the image

[2018-01-16 08:54] ovivoda commented on #2515
Please try this APK: http://android-releases.mapillary.io/Mapillary_Android_v3.118-SNAPSHOT1.apk1

and let me know if it works for you. For KitKat and up the application will now use SDCard private folder to save the images if you enable the setting to use the SDCard from Settings->Storage section.

Warning: If you are using this setting and you uninstall the application before uploading the image

[2018-01-16 09:51] nickplesha commented on #2850
@polarbearing Thanks for reporting! Can you attach the images here so we can check the EXIF data?

[2018-01-16 10:07] eugensim commented on #2850
the same thing happened to me too

[2018-01-16 13:04] polarbearing commented on #2850
Could upload them to something like an ftp server. Attaching bulk megabytes to github appears inappropriate to me.

[2018-01-16 14:35] jfburke3 commented on #2691
I wonder if what @peterneubauer said on #2515 applies here:  "When it comes to moving the app to the SDCard, that should be possible, but when you do this, the app doesn't have access anymore to the system account manager and you might be forced to log in every time you start the app."

[2018-01-16 14:51] jfburke3 commented on #2814
I've installed that apk on my S5, but it will be tomorrow before I test it.

[2018-01-16 15:11] mxa commented on #2691
Not sure... I stay in even across restarts of the phone, just sometimes I am 'logged out' but actually just locked out, because I still get notifications and such, so the app is actually still logged in.

[2018-01-17 01:15] zayuim commented on #2850
Same here, Every image (including images that have already been uploaded successfully in the past) fails.

[2018-01-17 12:25] sandrauddback commented on #1990
Hi @richlv ! jumping in as I set up the email program - thanks for the feedback. As you write, the links look like they do because of the email provider (Sendgrid) and there is tracking added for us to learn if the content we put in the email is interesting to people or not. I do understand the contradiction that some people do not want to click on links that make no sense to them.  For now, we wi

[2018-01-17 12:25] #1990 closed

[2018-01-17 12:29] sandrauddback opened #2851 "testing katrin"

[2018-01-17 12:30] sandrauddback commented on #2842
Closing this as there is no instant fix but for to consider for next version. Thanks!

[2018-01-17 12:30] #2842 closed

[2018-01-17 12:32] #2851 closed

[2018-01-17 12:34] richlv commented on #1990
thank you for the update. the wish to do some tracking is understandable, but a less destructive (for the links) way would be appreciated - for example, https://www.mapillary.com/map/im/fnjS4rYYFsVVEv_YlMckDQ?tracking=cvzsbankkpow200 instead of the incomprehensive lengthy thing :)

[2018-01-17 12:35] #1810 closed

[2018-01-17 12:37] sandrauddback commented on #816
Closing this as we do not anymore send these notifications.

[2018-01-17 12:37] #816 closed

[2018-01-17 12:44] sandrauddback commented on #1449
Closing this issue. It is still very valid to get a quality metric to the images and we have for 2018 put this into our pipeline.

[2018-01-17 12:44] #1449 closed

[2018-01-17 12:48] sandrauddback commented on #1246
The quality aspect of the images is still very important and for 2018 we have moved this into our pipeline to sort out. Closing this issue as there is no instant fix but will be considered in our product planning.

[2018-01-17 12:48] #1246 closed

[2018-01-17 13:00] sandrauddback commented on #225
Closing this as it is an old issue. We have many times discussed a Mapillary scoring system but for now taken the decision to not implement such. We acknowledge that there are still many things to improve to increase the quality of the images and are constantly working on those improvements.

[2018-01-17 13:00] #225 closed

[2018-01-17 13:05] sandrauddback commented on #1990
Yes - I completely agree. They are terrible.

[2018-01-17 15:22] GITNE commented on #1990
@sandrauddback The problem is further reaching than this.

* The reasoning here is logically a bit flawed and therefor Sendgrid does not actually work for Mapillary here really well either. You cannot get any reliable or useful information about people's true interests or intentions based solely on the fact that people have either clicked or have not clicked a link. For example, I have been using

[2018-01-17 22:45] polarbearing commented on #2851
Yes, test her! ;-)

[2018-01-18 08:04] katrinhumal commented on #2851
Haha, I was wondering if others will join in on this ;)

[2018-01-18 09:59] ovivoda commented on #2691
@mxa @nereocystis Can you please move the app back to internal memory and let me know if this fixes the issue.

[2018-01-19 07:23] katrinhumal commented on #2850
This has been fixed now, please try and let us know if you run into more trouble. :)

[2018-01-19 07:23] #2850 closed

[2018-01-19 17:05] nicolas17 opened #2852 ""Distance based capture" toggle greys itself out"
### Basic information
* Platform: `iOS`
* Version: `4.8.12`
* System: `iPhone 7, iOS 11.2`

In the iOS app settings, turning "Distance based capture" off will disable (grey-out) "Distance between captures", and enable "Time between captures" and "Pause capture at low speeds".

If I then turn "Distance based capture" back on, the interface will enable "Distance between captures" and disable "Time b

[2018-01-19 21:32] polarbearing commented on #2850
Thanks. So again, the reason were not in the images themselves, which are up now.

[2018-01-22 00:59] polarbearing opened #2853 "images captured in square ratio, occasionally"
Android 3.117

While the app normally captures in 4608x3456 (4:3), it recorded a couple of sequences in 3456x3456 (1:1).

I don't see a setting for that, and I don't see a reason. Also it seems to depend on the mood of the app to write to mapillary_trace.txt or not, so for this day there are no entries while the day before and after, there are. Started the app again and it is back on 4:3

What is

[2018-01-22 02:51] jfburke3 opened #2854 "Pressing back/cancel on the Upload screen tries to exit the app instead of going back or canceling"
### Basic information
* Platform: Android 7.0
* Version: Mapillary 3.118
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1. Take sequences
 2. Tap the Upload button
 3. After a few images have uploaded, tap Cancel.

### Expected behavior

It should simply cancel, and IIRC ask if you want to Cancel or Resume.

### Actual behavior

It asks if you want to exit the app.

##

[2018-01-22 09:04] katrinhumal commented on #2853
@polarbearing thanks for reporting, this sounds really strange, and even more that it wasn't captured in the logs. Asking @ovivoda to troubleshoot here.

[2018-01-22 09:08] millenbop commented on #2852
Ah good catch, thanks for reporting.

[2018-01-22 09:13] katrinhumal commented on #2854
@jfburke3 thanks for reporting! @ovivoda can you please check up on this?

[2018-01-22 09:53] ovivoda commented on #2854
@katrinhumal @jfburke3 Reproduced. Working on fixing it.

[2018-01-22 17:39] jfburke3 commented on #2854
It also does it when a sequence finishes uploading (if I upload a single sequence.)

A workaround is to press Home, then I can go back to Upload.

[2018-01-22 18:06] polarbearing commented on #2853
Is the trace file sometimes overwriting itself? I was now checking another device which I used for manual captures (the above was automatic). I took 10 sequences between 13:56 and 14:32. The 4th sequence at 13:58 has square images. Only the last, 10th, sequence at 14:32 shows up in the log:

[code]

[2018-01-22 18:10] polarbearing commented on #2579
Why is the image direction not written to the GPX file?
[code]

[2018-01-22 18:49] polarbearing commented on #2579
Checking sequences with manual capture, in which I had "Use device compass" on, the directions are equally nonsensically.

Why is the direction not written to the developer's "Show detailed stats"?

[2018-01-23 03:06] polarbearing commented on #2839
While it worked for a while, and I got longer sequences around 250 frames uploaded, the stucking now happens again. While earlier this month the already uploaded images were in the "staging", they are now gone and I have to start from scratch. Also any image adjustments need to be done again when I try again.

[2018-01-23 08:11] peterneubauer commented on #2579
So, we write the desired direction offset into the GPX file, and calculate the actual direction directly before upload and write it into the EXIF json tag. Until then, the phone direction is recorded in case you want to use it instead of the offset.

In the GPX file, we could write the direction too - I would suggest as reported from the phone, not as calculated from the offset to start with.

[2018-01-24 01:23] nereocystis commented on #2846
I agree that a filter on blurs is a good idea, showing only images with blurs.

Also, it would be nice to have the total number of blurs in current image displayed on the side. Sometimes, I don't notice a blur.

My workflow for handling blurs is as follows:

1. Look through sequence for false positives, deleting this blurs.

2. As a separate workflow, I go through the sequence looking for missing

[2018-01-24 01:25] nereocystis commented on #2691
@ovivoda I experimented a bit more. Moving  the app to internal memory does solve the problem, after I delete mapillary app, and then reinstall it.

I noticed a similar problem with different app, ClockSync. Following the same procedure solved the problem.

The issue is not mapillary-specific.

[2018-01-25 13:50] GITNE commented on #2846
@AnkEric

That's strange because it should work but I have not tested it. Please make sure you select the image into focus first by clicking on it, since (unfortunately) these keyboard shortcuts are not global anymore. Then you should be able to use the key shortcuts. @mapillary please check.

:+1: to that. And, I would also prefer to see this number in the stats than the changeset count, since a

[2018-01-25 20:45] jfburke3 commented on #2814
It seems to still have a focus problem.

[2018-01-26 11:56] katrinhumal commented on #2450
@Eric-FR Could you please try and see if this also happens with the latest version, 3.118?

[2018-01-26 15:27] millenbop commented on #2546
This should be greatly improved now. Closing, let me know if you have problems still and I'll reopen, thanks.

[2018-01-26 15:27] millenbop commented on #2852
Fixed now, closing.

[2018-01-26 15:27] #2852 closed

[2018-01-26 15:27] millenbop commented on #2849
Fixed now, closing.

[2018-01-26 15:27] #2849 closed

[2018-01-26 15:44] habi commented on #2849
Great, thanks!

[2018-01-26 15:47] habi commented on #2546
Thanks a lot for keeping up with the small and pesky things!
I'll try to check soon and re-open if I run into issues.

[2018-01-26 20:38] jfburke3 commented on #2616
I may have discovered something interesting on this problem.  If I *don't log in* to the Mapillary website (e.g., just explore around and look at images and sequences as a visitor), then I don't seem to encounter the memory leak.  I can let the tab sit open for at least a couple of days with no discernible increase in memory usage.

@ToeBee would you happen to feel like trying this out, too?  It'd

[2018-01-27 17:34] ToeBee commented on #2616
@jfburke3, confirmed. I left an incognito window sitting over night and it is still fine this morning. It looks like it has stayed at around 200 MB of memory usage the whole time. But a normal tab that I left sitting where I am logged in crashed as usual.

[2018-01-28 21:28] utack commented on #2326
Update:
Support Android 8 Picture in picture
I have missed a lot of tours in unknown areas because I needed my phone as GPS guide, Android 8 picture in picture mapillary overlay over a map application would be an even better solution

[2018-01-29 13:00] Eric-FR commented on #2450
I used v3.119 this week-end. I didn't got this error message but still have strange behaviours on Saturday. During one sequence recording "Unfortunately, Mapillary has stopped". Looking at the screenshot done at this moment, sequence recording was stopped before the crash. During a second sequence, I got a blank screen (full smartphone screen was white). After tens of second, it was back to Mapill

[2018-01-29 13:58] voschix commented on #2450
I am not sure if I mentioned this before:
On both my Android phones (6 and 7) I have an app by Vodafone ("Vodafone
Station ADSL e Fibra
<https://play.google.com/store/apps/details?id=eu.reply.cordless&feature>")
that does, among other things, detect other Vodafone customers' WiFi and
offers me the possibility to connect to them. When WiFi is active on my
phone and I happen to pass within the reach

[2018-01-29 16:08] eugensim opened #2855 "Web upload: ignores data capture exif"
Web uploader ignores data capture for the images that I put manually on the map. And after that the date is set automatically with the date and hour when is made the process, not the real date (july 2017).
![image](https://user-images.githubusercontent.com/8439643/35520145-dde85fc2-051e-11e8-96dd-0960efbd88e5.png)
![image](https://user-images.githubusercontent.com/8439643/35520162-eca8a8b4-051e-11

[2018-01-29 17:03] polarbearing commented on #2579
What is the offset calculated from, when the GPS bearing is neither in the EXIF data nor in the GPX file?
The web uploader appears to ignore the GPX file.

[2018-01-29 17:16] polarbearing opened #2856 "web uploader shows 4 old images, that are on the web already, as to be published"
When I call the web uploader via https://www.mapillary.com/app/uploader, it presents me fragments from previous uploads, in the experience so far 4...6 images although the original sequences were larger, as "Publish 4 uploaded" or "Delete all".

I checked the positions and found that those images are shown on the map.
Example: https://www.mapillary.com/map/im/sqTv1hIK07vz_dfSnmHtsg

I hope that pr

[2018-01-30 04:42] nicolas17 commented on #2475
@ovivoda does the Android app work like the iOS app, merging EXIF data into photos during upload rather than during capture?

[2018-01-30 14:34] katrinhumal commented on #2855
@eugensim Thanks for reporting! What have you captured these images with? Could you please upload a few here for us to take a look?

[2018-01-30 14:35] katrinhumal commented on #2856
@polarbearing Yes, `Delete all` here will delete them only from the staging. Please try that and let me know if this helps.

[2018-01-30 15:08] habi opened #2857 "Upload screen on iOS shows '?' on top"
### Basic information
* Platform: `iOS`
* Version: `11.2.5`

### Steps to reproduce behavior

 1. Upload images

### Expected behavior
- Top of screen shows something, probably nice

### Actual behavior
- Top of screen shows two '?', left and right, as seen marked yellow in the screenshot.

![img_6135](https://user-images.githubusercontent.com/1651235/35573578-cb167c30-05d7-11e8-87cc-7922e5096540.

[2018-01-30 20:48] AllenGraetz opened #2858 "Leaderboard - Florida & Georgia & Alabama & ???"
I'm not seeing Florida as an option in the leaderboard.  Well, Florida the county in Puerto Rico is showing.  But I'm looking for Florida the region ( aka state ).   I didn't see an open issue for this one.

![image](https://user-images.githubusercontent.com/11722025/35590480-0a109dba-05d5-11e8-9e13-cddf4dd0ebda.png)

[2018-01-30 20:53] AllenGraetz commented on #2858
It looks like more than one state has this issue.  North Dakota shows up as a region.  But neither Georgia nor Alabama do.  Maybe it's not searching regions for those?  Not adding the region to the JSON the service is returning?

![image](https://user-images.githubusercontent.com/11722025/35590715-ad51986c-05d5-11e8-87c1-45e072c8e889.png)

[2018-01-31 07:36] katrinhumal commented on #2855
@eugensim I see! Glad that there was a simple explanation and your uploads turned out as they should. Thanks for the feedback. :)

[2018-01-31 07:36] #2855 closed

[2018-01-31 13:34] millenbop commented on #2857
Thanks! Hm I'm sure I have fixed this already! Anyway, will fix again :)

[2018-02-01 00:08] gyllen commented on #2858
@AllenGraetz Thanks for reporting this. This is actually an effect of MapZen shutting down and we have to fallback to out own search API. We are currently investigating on how we can improve that.

@knikel  @peterneubauer ^^^ looks strand

[2018-02-01 00:09] gyllen commented on #2616
@nickplesha This is an interesting discovery, this could have todo something with getting the feed

[2018-02-02 15:24] peterneubauer commented on #2858
Seeing it, will check why the US states are not searchable. They should be importable and found in our backend.

[2018-02-02 22:29] habi commented on #2546
The problem still persists.
I formatted the SD card, updated the Date and time of the camera with the GoPro app on my phone.
Adding the camera to the Mapillary app and recording my commute home.
All the 300+ photos are squashed together to a sequence of approximately 10 m: https://www.mapillary.com/map/im/CH5Zz5wBbQPUZKYP-twlWg

[2018-02-03 10:51] amilopowers commented on #2546
Same here. Still the same issues.

[2018-02-04 13:24] mxa commented on #2363
Seems like this is mostly okay now. Minor detail is the backward, play, forward buttons which are overlapping.

![screenshot from 2018-02-04 14-22-49](https://user-images.githubusercontent.com/1220707/35777952-f56ca97c-09b6-11e8-966f-d987e5f1d42d.png)

[2018-02-04 13:24] #2363 closed

[2018-02-04 13:32] AnkEric commented on #2846
@GITNE: I'm still not capable of using [Alt ↑], [Alt ↓]. Not in Chrome, not in FireFox.
LOL: I'm now (just now!) capable of using [Alt ↑], [Alt ↓].
Again:

Now:

- Left hand is Keyboard:  [Alt ↑], [Alt ↓] (a little awkward)..
- Right hand is Mouse: [Clear all +>] or [Submit +>]

But also: I finally discovered "the hare"...

![image](https://user-images.githubusercontent.com/20150550/35777811-a57e2

[2018-02-04 14:28] AnkEric opened #2859 "How To: delete multiple images in a sequence"
### Basic information

* Mapillary website
* Edit current sequence

### Steps to reproduce behavior

We had to stop at the border post South-Africa and Swaziland.
Our guide/driver did advise me: don't touch the action cam. If you ignore it, so will the border guards.
So action cam made 200+ images during a stop.

I was assuming "Python remove_duplicates.py -d 4" (default value) would remove the du

[2018-02-04 15:22] AnkEric commented on #2846
Now I can reverse browsing order, nice. Sometime I do start at the end of a sequence...
But then, I also expect:
- [Clear all +>] to reverse into: [Clear all +<]
- [Submit +>] to reverse into: [Submit +<]

![image](https://user-images.githubusercontent.com/20150550/35779041-2e016c86-09c7-11e8-8508-dd7cd8b82517.png)

[2018-02-05 02:51] nicolas17 commented on #2648
Works for me too.

[2018-02-05 02:52] nicolas17 commented on #2605
Duplicate of #2648? And there may be more...

[2018-02-05 02:53] nicolas17 commented on #2739
Duplicate of #2581?

[2018-02-05 09:26] AnkEric commented on #2846
About Stats:
- It would be nice if I could find my own (un)blurs back again. I know I have cleared a license plate by mistake, but I cannot find it anymore...
- It would be nice if I could Bookmark an Image. Were did I stop processing last night?
- It would be nice if we all would be able to select sequence not yet (un)blurred. This might be considered as a ToDo list. And priority: don't blur/unbl

[2018-02-05 09:26] katrinhumal commented on #2859
@AnkEric Thanks for the feedback. We'll definitely take note of this request when thinking about future improvements to the editor. Currently, it sounds like the easiest option in this case might be to delete the whole sequence after all and re-upload only the ones that you want after "weeding out" the unsuitable ones on your computer.

[2018-02-05 10:50] AnkEric commented on #2859
@katrinhumal
I will consider this option once I'm finished with South Africa.
200+ Images on the same spot is definitely not oké! Even if they have been blurred.

But also:
I have requested an incorrect sequence for deletion several months ago. It's still not deleted.
Sequence key = lZWLu1157z9WE68OxvYv6Q (Oct 14, 2017)
Pending Edits = 3
I have sent the deletion request again, it's still there.

O

[2018-02-05 12:12] katrinhumal commented on #2859
@AnkEric Deletion of your own images is auto-approved but with the limit of 1000 images at a time. Sequences longer than that need to be manually approved by admins.

The sequence you indicated was a lengthy one but I've "administrated" it to be deleted now - might take a little time for the map tiles to update but it should be gone soon.

[2018-02-05 12:55] AnkEric commented on #2859
@katrinhumal
Thanks for deletion!

FYI: my GPS made a shift in time, backwards and forwards again after a couple of minutes. Strangest issue ever! My Image sequence showed a corner on a straight road and a straight road in the corner of the road... All images for the rest of the day were correctly positioned.
I was annoyed and Mapillary did not delete my errors.
Luckely for me, no one has noticed;

[2018-02-05 12:55] #2859 closed

[2018-02-05 22:57] GITNE opened #2860 "Android notifications despite logged out"
### Basic information
* Platform: `Android`
* Version: `latest`
* System/Browser: `any Android`

### Steps to reproduce behavior
1. Install app or clear app data and cache
2. Log-in
3. Log-out
4. Perform any action via the web app which causes a notification, like blurs, uploads, deletions etc.

### Expected behavior
Once the user logs out, the app should not pull any Mapillary notifications and n

[2018-02-07 16:18] katrinhumal commented on #2860
@GITNE this sounds similar to https://github.com/mapillary/mapillary_issues/issues/2691#issuecomment-357990307 - any chance you have the app installed on external memory?

[2018-02-07 21:28] mxa commented on #2691
@ovivoda I moved the mapillary app back to the internal memory, but the issue is still the same.

[2018-02-07 21:50] nereocystis commented on #2691
And 2 weeks on, I have had success with 2 Androids using internal memory, not needing additional logins.

Strange.

[2018-02-08 00:32] GITNE commented on #2860
No, #2691 is about a bug on how the app handles OSM's OAuth 2.0 protocol implementation. More specifically, it is about where the app stores the access token. I suppose that in order to fix that issue the app would need to store the access token in a file where the app has actually been installed (i.e. an SD card or internal storage) rather than in a `Parcel` object.

This issue is about the fact

[2018-02-08 03:36] nicolas17 opened #2861 "iOS app recompresses images when adding EXIF"
### Basic information
* Platform: iOS
* Version: 4.8.13

Background: The iPhone app captures photos with no GPS location or any other EXIF information. The EXIF metadata is stored in separate files. When the photos are uploaded, the app adds the metadata into the photos. There is also a button to only add the EXIF data without uploading, which lets the user copy georeferenced photos to the compute

[2018-02-08 04:23] nicolas17 commented on #2861
Photo taken with iPhone 6:
- [Before adding EXIF](https://user-images.githubusercontent.com/101955/35954409-32148cec-0c68-11e8-9adb-5a7855cf3210.jpg)
- [After adding EXIF](https://user-images.githubusercontent.com/101955/35954461-89965ff4-0c68-11e8-9b24-f329b0fa8d5e.jpg)
- [Pixel-wise difference](https://user-images.githubusercontent.com/101955/35954702-e9ab1ac8-0c69-11e8-83ba-f19961fcf47b.png) (e

[2018-02-08 04:25] nicolas17 commented on #2860
Notifications aren't "pulled" by the app doing network connections. The Mapillary server sends them to a Google server which then sends them to your phone.

[2018-02-08 04:29] nicolas17 commented on #118
There is a "Delete sequence" button now, so I guess this issue is fixed now.

[2018-02-08 04:31] nicolas17 commented on #244
The title of this issue isn't very descriptive... And I don't think Continuity is of much help to transfer photos from phone to computer anyway.

[2018-02-08 04:34] nicolas17 commented on #438
Is this still an issue? I haven't seen blur approval take long at all, during the last months, maybe a year.

[2018-02-08 07:29] ovivoda commented on #2691
@mxa Please try with http://android-releases.mapillary.io/Mapillary_Android_v3.102-SNAPSHOT2.apk and send me the logs back for the phone where the app is not working

[2018-02-08 07:57] katrinhumal commented on #2860
Asking @ovivoda to take a look.

[2018-02-08 11:04] GITNE commented on #2860
Right, however effectively the app is responsible for that, no matter what dependencies may be involved. It also does not matter if dependencies create network connections on behalf of the app. If no user is logged-in the app should release all notifiers, timers, and other resources and keep quiet.

[2018-02-09 04:18] nicolas17 opened #2862 "APIv3 documentation doesn't explain OAuth logins"
The APIv2 documentation used to explain how to use OAuth2 to authenticate and do operations on behalf of a user.

In the APIv3 documentation, this section is gone. While most operations seem to be read-only now, there is still [submitting changesets](https://a.mapillary.com/#submit-a-changeset), which is performed on behalf of a user. The doc shows an example of how to pass the Bearer token to thi

[2018-02-09 04:59] nicolas17 opened #2863 "OAuth authorization page always mentions "uploader" app"
The OAuth authorization page at https://www.mapillary.com/connect seems to have hardcoded text saying "The uploader will be able to read your email and write to the database on your behalf".

This appears for any registered OAuth app, even the official JOSM plugin(!). It says "uploader" even if the app is not an uploader, and it says "will be able to read your email and write to the database" even

[2018-02-09 10:05] ovivoda commented on #2860
@GITNE Will look into this one

[2018-02-09 16:19] katrinhumal commented on #2863
@nicolas17 well-spotted! We actually just realised this ourselves as well and will improve the wording to be more accurate and truthful. :)

[2018-02-09 20:01] mxa commented on #2691
@ovivoda my apologies, I don't have time at the moment to do this.

[2018-02-11 17:55] pbb72 opened #2864 "Location search for leaderboards is seriously broken"
I'm trying to see the leaderboard for Oslo, the capital of Norway. These are the results I get to choose from:

![image](https://user-images.githubusercontent.com/1436366/36076322-db221aa8-0f5a-11e8-9dd2-59cf00b6a32d.png)

(The locality Oslo is a tiny town in Minnesota, USA.)

The weird thing is that a location search for Oslo does come up with usable results:

![image](https://user-images.githubu

[2018-02-12 08:41] gyllen commented on #2546
@millenbop ^^^

[2018-02-12 08:42] gyllen commented on #2858
@AllenGraetz We are currently working on brining up a local clone of spelunker so it should not take that long until we have the better search back. So stay tuned.

/cc @peterneubauer

[2018-02-12 08:42] gyllen commented on #2605
@ptpt ^^^

[2018-02-12 08:43] gyllen commented on #118
Yes, thanks for reminding me on this @nickplesha (closing)

[2018-02-12 08:43] #118 closed

[2018-02-12 08:43] gyllen commented on #438
@eneerhut, @nicolas17 is right this process is working now. (Im closing)

[2018-02-12 08:43] #438 closed

[2018-02-12 08:44] gyllen commented on #2862
@martinskans Lets start with taking that repository off public (v2).

@ptpt We would need to add the Oauth section to `v3`

/cc @peterneubauer

[2018-02-12 09:34] millenbop commented on #2861
Thanks @nicolas17 for the investigation. It is a known issue and like you said it has been like this since the first version of the app. I'll be testing some alternatives this week for EXIF that doesn't use Apple's libraries since I'm doing related EXIF/uploading work anyway. Will keep this thread updated with results.

[2018-02-12 10:07] GITNE commented on #2858
@gyllen @peterneubauer
Yeah, [Mapzen’s whoisonfirst](https://whoisonfirst.mapzen.com) is utterly broken beyond repair. I was to open an issue on this too, because unfortunately, in the past whoisonfirst has suffered poor imports by people who apparently did not know what they were doing, especially on countries which use other codepages than ISO-8859-1 or WINDOWS-1252. This cannot be easily fixed

[2018-02-12 11:13] peterneubauer commented on #2858
Agreed,
there are other sources than WOF, but it lends itself quite easily to import the shapes for searches on images and other stats. We are working on getting the spelunker up ASAP.

[2018-02-12 18:27] danbjoseph opened #2865 "incorrect sequence grouping with interrupted `upload_with_authentication.py`?"
Ran the following on folder with a lot of pictures.
1. `python remove_duplicates.py ~/Desktop/mapillaries/forprocessing/ ~/Desktop/mapillaries/dups`
2. `python sequence_split.py ~/Desktop/mapillaries/forprocessing/ 50 60`
3. `find /Users/danbjoseph/Desktop/mapillaries/forprocessing -mindepth 1 -type d -print0 | xargs -L 1 -0 -P 10 ./upload_with_authentication.py --auto_done`

The upload was interr

[2018-02-12 19:38] pbb72 commented on #2230
Sorry, but this is utter nonsense. Hiding the scroll bars in an area that is scrollable should **never** make sense. Don't try to be smarter than the rest and think common user interface conventions don't apply to your product.

Scroll bars are **not only** a visual indication of a scrollable area. They are also important, and in some situations vital, tools to perform the scroll. Not everybody ha

[2018-02-12 19:39] pbb72 commented on #2864
Possibly a duplicate of #2858

[2018-02-13 06:35] nicolas17 opened #2866 "iOS app leaves garbage at the end of JPEG files"
### Basic information
* Platform: iOS
* Version: 4.8.13

As mentioned in #2861, the iOS app recompresses JPEG files when adding EXIF information, which can lower the quality of the image.

But there is an extra problem. It seems like when the file is recompressed, it's written in-place over the original file, without truncating it. Most of the time (or always), the newly-compressed image will be s

[2018-02-13 07:46] gyllen commented on #2864
@pbb72 Yes duplicate so closing

[2018-02-13 07:46] #2864 closed

[2018-02-13 10:14] angelday commented on #2230
The way we implemented infinite scrolling in that sidebar breaks the default scroller behaviour (you can check this if you remove the property from the element). We have a couple of ideas how to make the sidebar better (paging, grouping) and we're tracking this issue.

@pbb72 Go easy on @knikel cause he recently started jujitsu and looking for practice partners. ;)

[2018-02-13 13:38] katrinhumal commented on #2865
@danbjoseph I'm moving this to the mapillary_tools repo. I know it looks a bit deserted lately but we'll pick it up there!

[2018-02-13 13:39] katrinhumal commented on #2865
Issue moved to [mapillary/mapillary_tools #220](https://github.com/mapillary/mapillary_tools/issues/220) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-13 13:39] #2865 closed

[2018-02-13 18:57] pbb72 commented on #2230
@angelday Sorry, but I have several times had to scroll back in the uploads list several hundreds of items. It's no fun spending half an hour almost continuously flicking your fingers to scroll back. Also tried with a mouse wheel, and it's no fun rolling the scroll wheel for half an hour either. If there had been a scroll bar, then I could have put the mouse cursor at the bottom, and just kept the

[2018-02-13 19:00] pbb72 commented on #2858
It's not limited to US states. Also searching for the country Norway (Mapillary's neighbour country!) and it's capitol Oslo comes up with faulty results.

[2018-02-13 21:07] GITNE commented on #2230
Hmm, I have to agree with @pbb72, though I may would have pointed it out a little bit more nicely. :wink: You really should not remove the scroll bar from scrollable areas on purpose (because of indication and usability/accessibility reasons). Alternatively, if you really do not want to have a scrollbar constantly visible—because it is aesthetically more pleasing or because you gain some space—the

[2018-02-14 15:31] tobecwb commented on #2799
And again I have this problem....
and this time I'm using the Mapillary Tools (python) with damaged all images :(

I was trying to upload something like 183.000 images, and this time I used the `upload_with_preprocessing.py`.

Used the following command:
`python upload_with_preprocessing.py` d:\images_to_upload_dir --remove_duplicates --auto_done`

after several hours scanning all files, the image

[2018-02-14 15:43] tobecwb commented on #2799
anybody can delete all uploaded images that I send on this month?
I believe that the mapillary_tools (upload_with_preprocessing.py) only uploaded garbage images

[2018-02-14 19:26] ulikoehler opened #2867 "SSL certificate for mapillary.com (not www.mapillary.com) expired on Feb 5th"
The mapillary.com domain seems to use a separate Let's encrypt certificate:
https://www.ssllabs.com/ssltest/analyze.html?d=mapillary.com&latest

It expired on 5th of february. The "main site" certificate for www.mapillary.com works fine.

[2018-02-15 07:46] pbb72 commented on #2230
Sorry for being so blunt 😳. I think the winter is taking it's toll...

[2018-02-15 08:18] gyllen commented on #2799
@jernejaMislej Can you help out with understanding what happened here. I don't see how the images could have been garbled in any way.

[2018-02-15 08:19] gyllen commented on #2858
@pbb72 Yeah we working on getting Spelunker search up locally (much smarter search)

[2018-02-15 09:23] jernejaMislej commented on #2799
@gyllen i ll have a look, but for a while there was a bug occurring on windows only, which is now fixed, but that bug did mess up the image, see this issue https://github.com/mapillary/mapillary_tools/issues/217

[2018-02-15 13:39] tobecwb commented on #2799
Yes, I'm using Windows, and the bug is relationed with bug mentioned by @jernejaMislej, but the solution don't worked for me! I'm still checking what's wrong (I update piexif and everything and the bug still remain). But for now, I just only need that somebody delete all images I have uploaded in this month.

After that, I can check the bug on mapillary_tools and report on there if needed.

[2018-02-16 05:25] nicolas17 opened #2868 ""Authorization Code" OAuth flow not working"
While [the OAuth API is not documented](https://github.com/mapillary/mapillary_issues/issues/2862) at the moment, I tried using it anyway according to the old APIv2 documentation.

With implicit grant, going to the /connect page asks if I want to authorize the app, and redirects to the app's URL giving it the access token; all working fine:
[code]

With authorization code grant, going to the /conn

[2018-02-16 05:38] nicolas17 commented on #2868
I found this problem was mentioned in #2374, but switching to the implicit grant solved the user's needs, so I guess it wasn't investigated further.

[2018-02-16 14:11] millenbop commented on #2861
Just reporting some progress. I went looking for a good lib for exif, but all the ones that I found have licenses we can't use (GPL etc).

So I decided to take on the challenge myself:
1) not recompress files when adding exif
2) add exif without reading the whole file into memory

I'm happy to say that I have a working version now, but I need to do more tests. This also solves #2866

I used the sa

[2018-02-16 14:49] nicolas17 commented on #2861
The actual compressed image data is bitwise-identical in both JPEG files, so that's working, and does fix 2866 :)

I see the EXIF'd file doesn't have the usual Mapillary JSON in the description tag, but I assume that's just from testing?

A few days ago I found this (forgot to post it on this ticket earlier, sorry), which supposedly lets you alter metadata using built-in frameworks: https://develo

[2018-02-16 14:59] millenbop commented on #2861
This is just from my testing so not all tags are there (yet).

I used that very same article, i.e. the same functions it mentions. Not all of them work though (like merging exif data for instance). They make it look very straightforward but it's not. There is hardly any documentation and I had to do a lot of trial and error.

There are things missing in the header files as well so you need to sort

[2018-02-18 03:28] nicolas17 opened #2869 "Photo rotated 90°"
I found this picture that is rotated 90°: https://www.mapillary.com/app/?focus=photo&pKey=qgP6rfLA7IloSTeeYEQxFg

The rest of the photos in the sequence seem to be fine, so I couldn't use the rotation request form (which is for whole sequences).

[2018-02-19 10:44] katrinhumal commented on #2869
Thanks for reporting @nicolas17 - I listed this for rotation so should be fixed within a few hours.

[2018-02-19 10:44] #2869 closed

[2018-02-19 14:51] katrinhumal commented on #2843
@severinmenard Sorry I forgot to notify here but this has been fixed! Please check if it works for you with the latest app version.

[2018-02-19 14:51] #2843 closed

[2018-02-19 16:14] gyllen commented on #2799
@tobecwb Are you able to manually delete your own images or are there too many seuqnces for you to delete?

[2018-02-19 16:15] gyllen commented on #2867
@ulikoehler Thanks for reporting

@martinskans ^^^^

[2018-02-19 16:21] tobecwb commented on #2799
Like I said, I can't login do legacy.mapillary to delete any images, because has too many sequences.. (and I believe all images are garbage because of bug on piexif for windows).
The server always respond with a 502 error (this always occur when has too many sequences to approve).

on mapillary.com, the sequences don't appear, so, I believe that the `auto_done` function doesn't work

So, there's n

[2018-02-19 16:31] martinskans commented on #2867
It was the root certificate that had failed to refresh automatically and not our ssl cert, so because the root cert had expired it caused our certificate to be marked as invalid. The root cert has been refreshed now.

[2018-02-19 16:38] gyllen commented on #2799
@tobecwb I see `158` sequences that you have _not_ acknowledged, should I delete all of those?

[2018-02-19 16:41] gyllen commented on #2868
@nicolas17 I think your safest bet right now is to use the `implicit` flow. At the moment we are actually looking at replacing our Oauth 2.0 backend.

[2018-02-19 16:45] tobecwb commented on #2799
yes, you can delete all 158 sequences if possible!
tks

[2018-02-19 17:15] gyllen commented on #2799
Ok deleted ~150k images

[2018-02-19 17:47] kolen opened #2870 "Road signs verifications sometimes act as like button is pressed multiple times"
### Basic information
* Platform: `Web`
* Version: ?
* System/Browser: `Chrome 65.0.3325.73`

### Steps to reproduce behavior

 1. Open signs verification UI (I tried [the one for icy road signs](https://www.mapillary.com/verification/p/warning-icy-road-ww))
 2. Press confirm/reject for few signs

### Expected behavior

When I press green/red button (reject/confirm) once, current image is marked a

[2018-02-19 17:57] kolen commented on #2870
Possibly this is this case recorded in console, two "interaction" events one after another just after 0.15 seconds:

![image](https://user-images.githubusercontent.com/24191/36391254-d4ca7580-15b6-11e8-8eac-792c7d25e7be.png)

Or is it because "Couldn't fetch thumbnails, skipping"? So second "interaction" is like pressing "skip" button automatically? Then it's ok but the problem is that it feels li

[2018-02-19 18:44] richlv commented on #2797
still seeing question mark icons with 4.8.13 - this should probably be reopened.

[2018-02-20 16:52] Alessandro-Barbieri commented on #2799
autodone works at the end of a successful uoload

[2018-02-20 17:05] tobecwb commented on #2799
@Alessandro-Barbieri after upload all sequences? or after every sequence? If I'm not wrong, I had something about 10 sequences with fail, but more than 100 sequences with "success" (disregard the garbage images), and got any sequence with `auto done`.

[2018-02-20 17:24] thoschu96 opened #2871 "gopro hero 5/6 video upload"
# Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1.
 2.
 3.

### Expected behavior

...

### Actual behavior

...

### Additional information

is there a way to upload in one step an gopro video where the gps datas are embedded over the website ?

can‘t do it and still looking how i can extract the gpx datas to do it in two steps as

[2018-02-20 18:07] Alessandro-Barbieri commented on #2799
Your command exited cleanly? On the output it says something about autodone

[2018-02-20 18:14] tobecwb commented on #2799
the output it's on this post: https://github.com/mapillary/mapillary_issues/issues/2799#issuecomment-365643327 (the script was stuck on this screen... I have to press ctrl+c to finish).

so, if I understand correctly, the `auto_done` works after all sequences has finished, correctly?
if I has 100 sequences, and 1 sequence has failed, the auto_done don't mark the 99 sequences as 'done'? (this is my

[2018-02-20 21:04] gyllen commented on #2870
@tobias-o ^^^

[2018-02-20 21:04] gyllen commented on #2799
@cookry @jernejaMislej Can you guys help out here ^^^

[2018-02-21 07:34] tobias-o commented on #2870
@kolen you are right, this happens when we can't fetch the image crop for some reason. Instead of showing an error, we just skip the image and try the next.

I'll try to think of a better way to handle the UX in such cases. This behavior can be confusing.

[2018-02-21 08:16] millenbop commented on #2797
Yup me too, reopening!

[2018-02-21 10:50] katrinhumal commented on #2871
Hi @thoschu96 - today we don't have a way for you to upload the video with embedded gps data, so you need to find a way to split the gpx file or split the video into geotagged images. We might be able to add support for videos with embedded gps info in the future.

[2018-02-21 18:03] Alessandro-Barbieri commented on #2799
@tobecwb yes, you have to write a bash script that iterate on every folder and then upload in order to minimize the chance of failure

[2018-02-21 23:07] ybkuang commented on #2799
@jernejaMislej I pushed a change in a branch https://github.com/mapillary/mapillary_tools/tree/feature-sequence-done, will be great if you can help double check.

[2018-02-23 00:12] nereocystis commented on #2822
I see a lot of rotated images in some of my otherwise correct sequences, particularly when using a bicycle. I suspect that the potholes confuse the camera or mapillary app in some way.

Sending images one at a time is a bit slow.

[2018-02-23 16:41] habi commented on #2546
Is there a way I (we) can help to debug you?

I'm happy to go out and record sequences with very specific settings workflows and provide you the images outside of the Mapillary app (and the GPX file if I can export it from the app).
I'd *really* like to make this work, so I could record much more sequences...

[2018-02-23 19:53] nereocystis opened #2872 "Internal server error when retrieving detections with unauthorized client_id"
### Basic information
* Platform: `Ubuntu`
* Version: `...`
* System/Browser: `curl`

I tried retrieving detections with a client_id unauthorized to do so.

The first time I tried this request, I received an internal server error, the second time, I received unauthorized request, which is probably correct.

### Steps to reproduce behavior

 1. First request shows server error.

$ curl 'https://a.m

[2018-02-25 01:58] jfburke3 commented on #2814
This is definitely still a problem.  Currently running Mapillary app version 3.119 from the Play store.

[2018-02-25 02:03] jfburke3 opened #2873 "Uploading 131 of 127!"
### Basic information
* Platform: Android 6.0
* Version: Mapillary v3.119
* System/Browser: Samsung Galaxy S5 Active

I shot quite a few sequences today on a state highway.  When I stopped by the grocery store to pick up a few things, I used their free wifi to start upload of a single sequence (something I commonly do).  It uploaded around 110-115 images from the sequence before I left.  I let the

[2018-02-25 02:05] jfburke3 commented on #2837
It's a result of genetic experimentation.  Someone thought that since kangaroos have a large pouch, it might be a good idea to genetically combine them with a loo, so that people would have a place to go when lost in the outback.  :rofl:

[2018-02-25 02:11] jfburke3 commented on #2729
I just had to add a comment that whatever you did to fix this, has been rock-solid for the past couple of months.  Currently on 3.119.  Fantastic performance.  A very big thank-you for finding the problem @ovivoda .

[2018-02-25 02:11] jfburke3 commented on #2719
I just had to add a comment that whatever you did to fix this, has been rock-solid for the past couple of months.  Currently on 3.119.  Fantastic performance.  A very big thank-you for finding the problem @ovivoda .

[2018-02-25 02:11] jfburke3 commented on #2692
I just had to add a comment that whatever you did to fix this, has been rock-solid for the past couple of months.  Currently on 3.119.  Fantastic performance.  A very big thank-you for finding the problem @ovivoda .

[2018-02-25 21:14] trigpoint opened #2874 "Upside down sequence"
In my area there are several sequences which are upside down, such as https://www.mapillary.com/app/?lat=52.68922206&lng=-2.58849243&z=17.97283578523094&pKey=1ftYBudvfTY82FFHRoE1EQ&focus=photo

They all seem to have been contributed by the same contributor. As they stand they are unusable.

Is there a mechanism by which they can be fixed or should they simply be deleted and reproduced?

Thanks

[2018-02-26 05:57] katrinhumal commented on #2698
@nereocystis You're right, sudden shocks confuse the sensors and are most likely the cause of some of your images ending up rotated in otherwise correct sequences. You should send me the image keys (luckily, you can copy these straight from the URL as well, if you think the image options (...) menu takes too long) together with how many degrees clockwise they should be rotated.

[2018-02-27 05:42] katrinhumal commented on #2873
Thanks for reporting! This is quite curious. @ovivoda, what might be the cause of this?

[2018-02-27 05:44] katrinhumal commented on #2874
Hi @trigpoint - please report these upside-down sequences via this form: https://goo.gl/forms/o2nCZrC2KKiezQJz1 and we'll make sure to fix them.

[2018-02-27 05:44] #2874 closed

[2018-02-27 09:28] GITNE commented on #2860
@ovivoda Ping? Have you been able to reproduce the issue?

[2018-02-27 09:30] ovivoda commented on #2860
@GITNE sorry for not getting back to you on this one. You are right I managed to reproduce and I already have a fix in mind for it.

[2018-02-27 20:10] nereocystis commented on #2698
In my sequences, there are a lot of images upside down. I'll try to put together a script to print a list

[2018-02-27 22:18] gyllen commented on #2872
@ptpt ^^^

[2018-03-01 16:51] millenbop commented on #2857
Ah missed to fix it for the state "disabled". Fixed now, will be available in the next release.

[2018-03-01 16:51] #2857 closed

[2018-03-01 16:52] millenbop commented on #2797
Ah missed to fix it for the state "disabled". Fixed now, will be available in the next release.

[2018-03-01 16:52] #2797 closed

[2018-03-01 18:15] HolgerJeromin opened #2875 "going back to sequence list in sequence review not possible"
### Basic information
* Platform: `Android`
* Version: `3.119`
* System/Browser: `Fairphone 2 Android 6`

### Steps to reproduce behavior

 1. capture sequences
 2. goto upload tab
 3. click one sequence

### Expected behavior
back "button" should go back to sequence list.

### Actual behavior
Question: do you want to leave the app?

### Additional information
tap home is possible

Same or extende

[2018-03-02 08:00] katrinhumal commented on #2875
@HolgerJeromin thanks for reporting! @ovivoda will take a look.

[2018-03-09 22:38] marsxul opened #2876 "Mapillary for ArcGIS Pro"
### Basic information
* Platform: ` `Web`  and ArcGIS Pro
* Version: magp-inst-0.2.0 - installed version 0.8.1, ArcGIS Pro 2.0
* System/Browser: `Chrome'

### Steps to reproduce behavior

 1. installed the Mapillary add-in
 2.  in ArcGIS Pro licensing, I enter my mapillary account
 3.

### Expected behavior
access to the mapillary data and editing data using the imagery
...

### Actual behavior
se

[2018-03-12 15:54] marsxul commented on #2876
I was set in the use ArcGIS pro in offline mode.  Once I disabled the offline mode, all the tools began to work.

[2018-03-12 15:54] #2876 closed

[2018-03-13 11:30] pkoby commented on #2229
Has there been any progress on this feature? I've actually wanted this for some time, and just considered adding a request, but I saw it has been suggested.

[2018-03-13 16:12] katrinhumal commented on #2876
@marsxul Well done noticing this! Glad that it works.

[2018-03-14 07:00] nereocystis commented on #2698
I have been looking at my original uploaded files in sequences which have occasional flipped images.

On some sequences, I can look at the exif data for the original files and see Orientation.

In other sequences, the Orientation in exif is missing.

This sequences does not have Orientation:
O5mLROrZMXFfav_mHPbzuw

This sequence does have Orientation
uGU82Y9c7M5DImpbHBQEkw
with some images flipped

[2018-03-14 15:55] millenbop commented on #2546
![img_8437](https://user-images.githubusercontent.com/12835674/37413756-fdcdc40c-27a7-11e8-9b48-3b5ea85daab6.PNG)

Here's a preview of what I'm working on right now. I hope I can send it out for beta testing soon. Whenever you are using an external camera, you have to set the time offset for the sequence before you upload the images. Basically what you do is a) select an image and b) adjust the sl

[2018-03-14 16:44] habi commented on #2546
Great!
Happy to test; email sent.

[2018-03-15 12:40] millenbop commented on #2546
I haven't received any email yet, also checked spam. Did you email to .com?

[2018-03-15 14:40] habi commented on #2546
At least I tried, but I’m on mobile for a week (of vacations)...

If it doesn’t arrive, you can send the invite to my address I registered at Mapillary (same user name as here).

![605df623-956e-42c2-95e3-26a4b38b635d](https://user-images.githubusercontent.com/1651235/37469616-f02fd786-2865-11e8-9a54-356ec9548d5d.jpeg)

[2018-03-20 22:46] nicolas17 opened #2877 "Wrong usernames shown in Time Travel page description"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

The photo [r1tSm](https://www.mapillary.com/app/?focus=photo&pKey=r1tSmMnbLBBTdUkO10giMw) was taken by user fr@nco. The photo [Z5ufU](https://www.mapillary.com/app/?focus=photo&pKey=Z5ufUrdroGiqLI9DjRsmRw) was taken by user jdieser.

However, a [time travel between those two photos](https://www.mapillary.com/app/time-travel/

[2018-03-20 22:52] nicolas17 commented on #2877
By the way, I think this used to work ;)

[2018-03-21 07:59] katrinhumal commented on #2877
@nicolas17 I also remember this working. @gyllen might something have glitched during all the database work?

[2018-03-21 18:14] mikini opened #2878 "Orientation of phone not respected in Capture mode"
### Basic information
* Platform: `Android`
* Version: `3.121`
* System/Browser: `Samsung Galaxy S7, Android 7.0`

### Steps to reproduce behavior

 1.Start application
 2.Go to Capture
 3.Turn phone clockwise

### Expected behavior
UI is shown with respect to the users assumed position on the surface of the earth/in metal cage on rubber wheels..
...

### Actual behavior
UI is shown upside/down as

[2018-03-21 18:38] elgaard commented on #1124
OpenStreetCam is not on F-droid. But it should be possible to fork it and make a free version.
With OpenStreetCam you can capture images (you have to disable MP4) without logging in. The images can then be accessed from a computer and uploaded to Mapillary. I made a small POC script to set the
GPS EXIF from OpenStreetCam before uploading to Mapillary. https://github.com/elgaard/OpenStreetmapTools/

[2018-03-23 10:44] katrinhumal commented on #2878
Hi @mikini! Thanks for reporting this. Unfortunately, the answer here is that this is intended behaviour for now. Although somewhat inconvenient, it doesn't prevent capture. But it does offer a workaround for the issue that a number of phone models had lots of trouble with images been captured in the wrong orientation. That's why we've fixed the UI for the time being. It's possible that we'll be a

[2018-03-23 10:44] #2878 closed

[2018-03-23 13:19] mikini commented on #2878
Ok, that might be a sensible trade-off. Thought after 8 months of absence and a new phone that I had left all that rotation mess with previous phones in the dreaded #1892. But we'll roll from here then ;).

[2018-03-23 16:46] gyllen commented on #2877
@knikel Please escalate

[2018-03-26 13:30] ligfietser opened #2879 "notifications bug"
### Basic information
* Platform:  `Web`
* System/Browser: `W7/Firefox`

### Steps to reproduce behavior

In my settings at https://www.mapillary.com/app/settings/notifications
 1. App push notifications are set to none
 2. e-mail notifications set to all (default)

### Expected behavior

E-mail notifications are expected

### Actual behavior

No e-mails received anymore

### Additional informatio

[2018-03-27 10:28] katrinhumal commented on #2879
@ligfietser Thanks for reporting! I can confirm that the same applies to me. @knikel is looking into it.

Also, thanks for the request in the `Additional information`. We don't currently have plans to redo the way notification settings work but if we get there, we'll surely take this feedback into account.