[2016-07-27 19:32] pbb72 commented on #1702
Yeah, I would prefer an absolute minimum of zoom changing. When I open a map view, I pan and zoom it to give me the best overview. (Which is different for different purposes. Sometimes I want to keep an eye on a whole sequence, other times I want to see a whole traffic intersection, etc.)

It's not nice if the map application then decides it know better than me and sets it's own preferred zoom.

F

[2016-07-27 19:36] talllguy commented on #2114
The plot thickens. I clicked the photo and they're also showing up in China. These are from the iOS app with Garmins on Multicam mode. @millenbop FYI

![image](https://cloud.githubusercontent.com/assets/1827881/17189495/b06f676e-540f-11e6-813b-dc55f46063f5.png)

![image](https://cloud.githubusercontent.com/assets/1827881/17189550/eb0fb996-540f-11e6-9013-9bb6e481350c.png)

[2016-07-27 19:51] talllguy commented on #2114
I was thinking it could be the antipode of my position, but that isn't it.
![image](https://cloud.githubusercontent.com/assets/1827881/17189973/f597d52c-5411-11e6-8e46-45e5b72da5d9.png)

[2016-07-27 19:53] talllguy commented on #2114
More research: If I take the antipodal coordinates, and reverse the sign of the latitude, it places me somewhere in western China. I wonder if that is the issue here.

[2016-07-27 20:02] floscher commented on #2078
Sure, no problem.

[2016-07-27 20:47] floscher opened #2115 "Redirect certain domains instead of sending errors"
The following domains (i.e. all URLs with this domain) should be redirected. Currently you get an error when trying to open them, in Chromium the error is called `ERR_CONNECTION_REFUSED`, in Firefox it is called `Unable to connect`.
- [x] https://mapillary.com → https://www.mapillary.com
- [x] http://a.mapillary.com → https://a.mapillary.com

Maybe you can also additionally send an [HSTS header](h

[2016-07-27 20:51] smsm1 commented on #2107
Thanks, I'm currently uploading a video which is 3.67GB in size, with no errors so far.

[2016-07-27 20:52] Caboosey commented on #2078
@gyllen Sounds like you need a really good .htaccess rule like this?

[code]

[2016-07-27 21:01] Caboosey commented on #2108
I have this same behavior happening with either Time based or Distance based on v2.35 and v2.36. Pause on stop appeared to stop working since v2.35

[2016-07-27 21:11] smsm1 commented on #2107
The upload completed without any errors. 👍

[2016-07-27 21:30] Caboosey commented on #2075
@peterneubauer I need to hide these photos because a phone call came in that I didn't answer and for some reason mapillary (v2.34) on Android kept using old GPS coordinates/location info with theses following photos:

https://www.mapillary.com/app/?lat=30.4948698&lng=-87.3275782&z=17&pKey=GvnEqVv1YOzXFt19D7wvmg&focus=photo
https://www.mapillary.com/app/?lat=30.4948698&lng=-87.3275782&z=17&pKey=QDJ

[2016-07-27 22:03] pbb72 commented on #2027
In the change set notification email I just received, all images and links seem to be working fine! :)

[2016-07-27 22:50] floscher commented on #2114
I tested this for some images:

Image | location that Mapillary reports | Mapillary-coordinate with longitude × (-1) | antipodal coordinate with latitude × (-1)
--- | --- | --- | ---
[![aDd4qpfv9549r8L00jRcSw](https://d1cuyjsrcm0gby.cloudfront.net/aDd4qpfv9549r8L00jRcSw/thumb-320.jpg)](https://www.mapillary.com/map/im/aDd4qpfv9549r8L00jRcSw) | [76.5732116666667°&nbsp;E 39.28328°&nbsp;N](http://osm

[2016-07-28 02:46] talllguy commented on #2114
Did a little more digging into the URLs. It is interesting to see part of the outline of my neighborhood in Mainland 🇨🇳  😂

@floscher @nicolas17 I'm going to take a look at the data from iTunes.

@floscher Earlier I saved a few of these images _directly from the app_. [Here they are on Dropbox](https://www.dropbox.com/sh/5kiph18ygrj1d8m/AADGtKvOEADhFH39KEi3y6CLa?dl=0).

### Wrong Location (:cn:)

[2016-07-28 03:23] talllguy commented on #2114
Sorting the files now, putting them all on Dropbox to review later with @millenbop. I pulled them off iTunes.

Here's one for analysis.

### Image analysis
![foto_no_exif](https://cloud.githubusercontent.com/assets/1827881/17199924/e6990f0e-544e-11e6-99c3-635782ba88e0.jpg)
Interestingly, the [JSON file that Mapillary writes](https://gist.github.com/talllguy/30d48ea66126993f62af869defe8ac58) has th

[2016-07-28 05:02] Caboosey commented on #2078
Note: A pull request (https://github.com/EFForg/https-everywhere/pull/5817) has been submitted to add forum.mapillary.com for the HTTPS Everywhere plugin.

[2016-07-28 05:55] Caboosey opened #2117 "Missing MAPILLARY_PERMISSION_HASH and MAPILLARY_SIGNATURE_HASH from new settings page"
### Basic information
* Platform: `Web`
* System/Browser: `Windows 7 Pro SP1 64-bit/Google Chrome 52.0.2743.82`

### Steps to reproduce behavior

 1. Go to https://www.mapillary.com/app/uploader

### Expected behavior

Show information needed to use python scripts either on upload page or actual user settings area like the https://www.mapillary.com/app/settings/developers page

### Actual behavior

[2016-07-28 06:31] peterneubauer commented on #2027
nice!!

[2016-07-28 06:31] #2027 closed

[2016-07-28 06:40] pbb72 opened #2118 "Also hide featured photos when "Show my coverage only" is on"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Open the map view, open the right menu, open the Uploads tab.
 2. Turn on the option "Show my coverage only".

### Expected behavior

Only my photos will be shown on the map.

### Actual behavior

Both mine and featured photos are shown on the map.

[2016-07-28 06:46] tdurand commented on #2054
@gyllen Yes i can, it's just it's a lot of manual clicking to do it on all the sequences.

[2016-07-28 06:50] pbb72 opened #2119 "Number formatting"
I am somewhat dyslectic, which makes it harder for me to decipher complex texts and numbers. For numbers like "3833641m", it takes me quite some effort to actually see what kind of magnitude we're talking about.

Please format large numbers with either spaces, dots or commas for digit grouping. "3.833.641 m" is a lot easier to read for me (and maybe many others like me).

[2016-07-28 07:17] pbb72 opened #2120 "Bring back time travel"
I really liked this feature, being able to discover other people's photos of the same locations I was.

[2016-07-28 07:21] pbb72 opened #2121 "Bring back the point cloud"
I used to show this feature off a  lot to other people interested in Mapillary. It's the one feature where Mapillary is far ahead of Google Streetview.

Please bring back (and continue developing!) the point cloud.

[2016-07-28 07:27] pbb72 opened #2122 "New website is not mobile friendly"
While the new websites works on a (powerful) mobile phone, it's not optimised.

Which is a bit weird for a company that is relying so heavily on mobile technology and being out in the field.

When someone is asking what I am doing, it would be nice to be able to show them the website on my phone.

[2016-07-28 07:30] knikel commented on #2117
Thanks for all the feedback @Caboosey, you can find the hashes at `http://legacy.mapillary.com/map/upload/im`, we'll port these to relevant place in settings pages.

[2016-07-28 08:16] echeloni2p commented on #1184
Hi!

Not really. Some kind of text listing in a advanced tab would be nice, text only, sorted by date, number of pictures, and place.

echelon

[2016-07-28 08:46] de-vries commented on #2120
I agree with @pbb72 and I'd like to propose a improved version of the time travel feature. To explain this idea properly I made some mockups:

![mapillary - tt photo slider](https://cloud.githubusercontent.com/assets/1449609/17206060/327733ce-54ae-11e6-8020-da24c7309e6d.png)
The time travel feature is in a similar widget as the map. It has a time line that shows clickable dots where(when) the phot

[2016-07-28 10:09] eugensim opened #2123 "Panoramas slow rotation"
With the old site it was very easy the rotate a panorama (just like Google Street View), but now I have to abuse my mouse to create a 360 degree rotation.
OLD: https://legacy.mapillary.com/map/im/2NK4L_6gW7BxBlsuJ0K-gw/photo
NEW: https://www.mapillary.com/app/?lat=55.77276837502266&lng=37.819744500000006&pKey=VqfPVLHJW6L7BW4nPqQiBw&z=17&focus=photo&menu=false

There are any settings that I missed?

[2016-07-28 11:11] pbb72 commented on #2120
I love the mock-up! But be careful not to place too many floating windows, not everybody is using a full-HD screen. Love the icon also, but maybe it's not obvious enough for non-western users.

I think instead of a floating timeline on the map, filtering should be brought back instead. (Oops, yet another request :smile: ...)

[2016-07-28 11:22] pbb72 opened #2124 "Bring back (and extend) filtering"
I liked the filter feature in the old website a lot. There is now only very minimal filtering, to show only your own photos.

I would like the full filtering back, and possibly with these additions:
- Show only 360-degree photos.
- Show only photos pointing forward/backward/left/right.
- Show photos taken in summer/autumn/winter/spring.
- Show photos taking in morning/midday/afternoon/night.
- Sho

[2016-07-28 11:25] pbb72 commented on #2079
When I open a map view, I often pan and zoom it to give me the best overview. (Which is different for different purposes. Sometimes I want to keep an eye on a whole sequence, other times I want to see a whole traffic intersection, etc.)

It's not nice if the map application then decides it know better than me and sets it's own preferred zoom.

For the same reason, I would also prefer to keep panni

[2016-07-28 11:28] J0WI commented on #2078
In https://github.com/EFForg/https-everywhere/pull/5817 we also documented some other issues with HTTPS on mapillary.com.
The best would be to implement [preloaded HSTS](https://hstspreload.appspot.com/) (requires full HTTPS support) on your site. That would also make the rue in HTTPS Everywhere obsolete.

[2016-07-28 11:40] thoschu96 commented on #2040
i have some Crashlogs for u
Figured out, that it was not disabled (do not send) so, it does not collect any information.

Does this help ? The log is awesome long .. and thats the stuff i could grab with copy/paste

{"app_name":"Mapillary","timestamp":"2016-07-28 13:33:51.51 +0200","app_version":"4.4.6","slice_uuid":"8a2e9209-5430-36a6-8077-e065cbfadb60","adam_id":757286802,"build_version":"133","

[2016-07-28 11:51] de-vries commented on #2120
true, the default state of those extra windows should probably be collapsed.

[2016-07-28 11:54] travel193 commented on #2083
It seems you're right @peterneubauer : [http://forum.xda-developers.com/moto-g4-plus/help/compass-g4-plus-t3381905](http://forum.xda-developers.com/moto-g4-plus/help/compass-g4-plus-t3381905)

[2016-07-28 12:30] mikini commented on #2096
I've been annoyed by this too.

Please add an active link both for the image count ("x images") in the "Feed" tab and the first image thumbnail in the "Uploads" tab (I reckon the above discussion regards the thumbnail only).

Please also consider adding an active link to the sequence (and maybe also image) key displayed in the "Photo details" pane. They are now just text strings, you need to be aw

[2016-07-28 12:30] spatialhast opened #2125 "main page - wrong Vimeo URL in 'Find Us On' button"
On main page https://www.mapillary.com/ wrong Vimeo URL (https://vimeo.com/) in 'Find Us On' button

[2016-07-28 12:59] richlv commented on #2063
ok, this took a few attempts to verify, but i think i got it now...
* start upload
* switch to the photo mode
* close photo mode
* let it sit & see how it gets locked
apparently i manage to enter the photo mode accidentally often enough to see that behaviour ;)

[2016-07-28 13:11] mikini opened #2126 "Scrolling when displaying image comments is broken"
### Basic information
* Platform:  `Web`
* System/Browser: `Ubuntu 15.10` using `Firefox 47.0` and `Chromium 51.0.2704.79`
* System/Browser 2: `Windows Server 2008` using `Internet Explorer 11.0.33`

### Steps to reproduce behavior

 1. Open browser on image with key ruwlhsuIXyx2X9EZ23NnCg (https://www.mapillary.com/map/im/ruwlhsuIXyx2X9EZ23NnCg)
 2. Click the comment icon in the right side of the

[2016-07-28 13:29] HolgerJeromin commented on #2120
The images are nice. But I don't think the time machine icon is good for most users.
I just searched for "time machine icon" and learned the logo for the Apple product with this name which I find quite brilliant.

[2016-07-28 15:47] Caboosey commented on #2078
@J0WI HSTS is only good if the browser supports pre-loaded HSTS or the browser has previously visited the website that has HSTS.

If the browser never visited the website and doesn't do preloaded-HSTS, it doesn't know about the website's HSTS until it's first visit.

HTTPS Everywhere plugin helps us or others (lazy) users who just type www.mapillary.com and ensures the browsers does https://www.ma

[2016-07-28 15:55] Caboosey commented on #2117
Thank you @knikel  I also submitted a pull request for the mapillary tools to help others that may come across this issue untill the new website has this info.

https://github.com/mapillary/mapillary_tools/pull/126

[2016-07-28 16:43] oscarlorentzon commented on #2123
Thanks for reporting. You have not missed any settings. It should just work.

1. What operating system are you using?

2. What browser and version of that browser are you using?

3. Is it working differently in any other browsers for your operating system?

[2016-07-28 16:46] oscarlorentzon commented on #2121
MapillaryJS does not support this yet. Tracked here mapillary/mapillary-js#93

[2016-07-28 16:58] eugensim commented on #2123
1 Windows 10
2 Chrome 52.0.2743.82
3 Working better in Edge but not perfect.

[2016-07-28 17:04] oscarlorentzon commented on #1189
As @knikel said the library supports playing in any direction. Only problem is that we do not have a UI element in the library for actually playing backwards in a sequence.

Tracked here mapillary/mapillary-js#170

[2016-07-28 17:09] oscarlorentzon commented on #960
Zooming in regular photos is tracked here: mapillary/mapillary-js#112

Higher res than 2048 is tracked here: mapillary/mapillary-js#92

[2016-07-28 17:12] oscarlorentzon commented on #2123
Thanks for the info. Will investigate why the mouse events behave differently on Windows 10.

Tracked here: mapillary/mapillary-js#172

[2016-07-28 17:22] oscarlorentzon commented on #909
There should not a need to zoom through the browser when mapillary/mapillary-js#112 and mapillary/mapillary-js#92 has been implemented which will solve this problem in practice.

Also traffic sign icons will not get blurred like in the screenshots above, they are just regular images. Although it is not possible to increase the resolution of the sprites when zooming in the browser so a zoomed sprit

[2016-07-28 17:26] oscarlorentzon commented on #1087
Zooming is only supported for panoramas in MapilllaryJs at the moment. Pan/tilt/zoom in regular photos is tracked here: mapillary/mapillary-js#112

[2016-07-28 17:29] gyllen commented on #909
@oscarlorentzon I assume not as blurry as above though. If its just a "little" blurry. Feel free to close this issue.

[2016-07-28 17:31] pbb72 commented on #960
@oscarlorentzon can you explain what a "perspective image" and a "tiled panorama" is?

[2016-07-28 17:37] pbb72 opened #2127 ""Click, release, drag and click again" does not make sense"
In the help for the online blur editor it says "Click, release, drag and click again" as instruction for creating a new blur.

This does not make any sense. "Dragging" is moving the mouse with the mouse button held down. After releasing the mouse button, it's simply called moving the mouse.

[2016-07-28 17:38] pbb72 commented on #2127
The other two uses of the word "drag" in the instructions are correct.

[2016-07-28 17:41] oscarlorentzon commented on #960
A perspective image is just a regular, flat image that you take with the phone, i.e. not a panorama.

The tiled panorama issue applies to regular photos as well. It just means that we can make smaller tiles from a high resolution photo and download only the parts of the photo that we need when we zoom in. Then we can see the part of the photo that we are looking at in high resolution while keeping

[2016-07-28 17:44] oscarlorentzon commented on #909
Yes, just a little blurry as any image is when scaling it up.

[2016-07-28 17:45] gyllen commented on #2078
@Caboosey AIts a little more complicated than the .htaccess file, call finds its way through several loadbalancers and an internal DNS before it hits the server. Want to catch this earlier.

[2016-07-28 17:45] Caboosey opened #2128 "Display both GMT/UTC and Local Date/Time of picture"
### Basic information
- Platform: `Web`
- System/Browser: `Windows 7 Pro SP1 64-bit/Google Chrome 52.0.2743.82`
### Steps to reproduce behavior
1. Go to any photo on the map outside of GMT/UTC time zone.
2. Click on the `...` button to pull up details of photo.
### Expected behavior

Under the user name show date time info like so:
GMT/UTC: July 5, 2016 02:00
Local: July 4, 2016 21:00 (DST On/Off)

[2016-07-28 17:47] gyllen commented on #2120
I was thinking something like a popup where you can see the images above and a timeline above with marked dates. Then you can view the static image first and then the transformed one.

I would also love to get this MapillaryJS out-of-the-box feature in there somehow.

[2016-07-28 17:49] gyllen commented on #2126
@mikini Thanks for reporting

[2016-07-28 17:50] pbb72 commented on #2120
@HolgerJeromin Google is using a very similar icon in Streetview :smile:

[2016-07-28 17:51] oscarlorentzon commented on #2120
Support for this need to be implemented in MapillaryJS. Tracked here: mapillary/mapillary-js#174

[2016-07-28 17:53] pbb72 commented on #960
Very cool, this would result in a kind of loupe function where you only enlarge a part of the photo?

[2016-07-28 17:54] gyllen commented on #2096
@mikini This sounds right, lets fix

[2016-07-28 17:57] gyllen commented on #2079
@pbb72 Thanks for the feedback. Before releasing site we had a lot of discussion on when to pan and when to not pan. After seeing some comments (like this one) I think we need to tune it a little. My suggestion are.

1. I no image is selected and you select one, pan and zoom so that one is in the middle
2. Pan (not zoom) when you move between images
3. Add an option that will disable pan for you i

[2016-07-28 18:01] gyllen commented on #2124
Since we use vector-tiles we can do a lot of this filtering in the client. Whats easy todo is

1. 360 is in tiles so would be easy on lower higher zoom levels 14 and above
2. All time filtering is pretty easy, for specific times like season and time of day we need to be clever with the coordinates so this will likely only work on higher zoom levels too.
3. Missing direction, since direction is als

[2016-07-28 18:02] gyllen commented on #2124
@angelday Feedback for filters

[2016-07-28 18:04] gyllen commented on #1184
@echeloni2p So basically a better filter on your (or someone elses) photos in their profile?

[2016-07-28 18:04] pbb72 commented on #2128
This seems to be inconsistent at the moment. The Australian photo at http://mapillary.com/map/im/UaxtxGveW8W1MMNG9VOI7Q has a timestamp at 15:21, while the one at http://mapillary.com/map/im/NSeu-Q1ICr1ZTPpG8Qnuhw has 01:36. Both are obviously taken during day time.

[2016-07-28 18:05] gyllen commented on #2122
@pbb72 Its gonan take some time to optimize the viewer for mobile. Our plan for now is to

1. Optimize static sites for mobile.
2. Direct you to open an image in app when you hit the viewer.

How does that sound?

[2016-07-28 18:07] oscarlorentzon commented on #2090
MapillaryJS does not handle navigation or pan/tilt/zoom for cropped panoramas.

Tracked here: mapillary/mapillary-js#166

[2016-07-28 18:07] gyllen commented on #2119
@pbb72 Impressive number by the way ;)

[2016-07-28 18:08] pbb72 commented on #2124
I guess relative direction (forward/backward/left/right) will also be heavy, because you will have to look at the direction towards the next photo in the sequence. But probably less heavy than checking the distance to other photos.

[2016-07-28 18:09] pbb72 commented on #2119
Thanks! And most is done by foot :smile:

[2016-07-28 18:09] gyllen commented on #2054
@tdurand It should be 1 click per sequence though. How many do you have? I can help you with a couple ;)

[2016-07-28 18:12] gyllen commented on #2114
@jesolem Don't forget to add labels when you assign

/ The github police

[2016-07-28 18:13] gyllen commented on #2107
Awesome! closing!

[2016-07-28 18:13] #2107 closed

[2016-07-28 18:13] pbb72 commented on #2122
I'm not sure what you mean by static sites. The problem with requiring apps is that this scares away people who just want to check out what Mapillary is, or just want to see a one-off image.

[2016-07-28 18:14] oscarlorentzon commented on #2059
Tracked here: mapillary/mapillary-js#175

[2016-07-28 18:14] gyllen commented on #2115
@peterneubauer We need to sit down and figure out this HSTS thing for whole backend.

[2016-07-28 18:15] Caboosey commented on #2128
Here is my example:
https://www.mapillary.com/app/?focus=photo&pKey=_rk1jw-5biuU4mfdrjYmNg&lat=30.4964935&lng=-87.3309033&z=17

Date/Time shows: July 24, 2016 02:03
Actual Local Date/Time: July 24, 2016 07:03
Photo's geolocation Local Time Zone at the time: Central Daylight Time (US) [GMT -5 DST]

My Phone's time settings:
Automatic date and time: Enabled
Automatic time zone: Disabled
Select time

[2016-07-28 18:18] gyllen commented on #2112
@voschix Have you found it?

If not follow the following steps

1. Navigate to an image thats in a sequence you want to edit
2. Switch so you have small image, big map
3. Press the ... in the middle of the screen to the right

PS: We are doing some rework on this now to make it clearer

[2016-07-28 18:22] pbb72 commented on #2079
I think fixed zoom when going from photo to photo solves 90% of my trouble. As far as I am concerned that is enough initially.

[2016-07-28 18:29] pbb72 commented on #2066
This seems to be fixed now. https://www.mapillary.com/app/uploader still redirects to https://www.mapillary.com/app/uploader/, but that page works.

[2016-07-28 18:29] #2066 closed

[2016-07-28 18:30] gyllen commented on #2122
@pbb72 By static website I mean all pages that are not the viewer (landing, community and so on).

I understand your concern. Im just pointing out that it might to take some time for us to fix it (since we have some stuff that we want todo before) and in the meanwhile we have to go for the simplest solution. Designing the viewer for the phone is months of work :)

[2016-07-28 18:30] pbb72 commented on #2065
@oscarlorentzon, should this issue be transferred to mapillary-js?

[2016-07-28 18:32] gyllen commented on #909
Ok closing then

[2016-07-28 18:32] #909 closed

[2016-07-28 18:32] pbb72 commented on #2122
No problem, like I said the site currently does work in mobile, so this is definitely not high priority. :+1:

[2016-07-28 18:40] pbb72 commented on #2079
Ah, but now I ran into the problem with panning again. The pan is not immediate, so it allows me to click again before the pan is performed. This causes unexpected behaviour.

[2016-07-28 18:52] de-vries commented on #2079
The problem I have with panning is that when I try track the changes on the map it would be easier and much more unintuitive to follow a moving yellow marker than tracking how the background moves behind the yellow marker.
But this might be just my personal preference, so given point 3, I would be satisfied with your solution.

[2016-07-28 19:36] millenbop commented on #2114
This seems to be a problem only with external cameras with built-in GPS. For external cameras with GPS, we use that GPS instead of the phone's GPS. Usually the phone is in a car and might be covered by the car roof so it's better to use the camera's GPS as it's most likely to be outside or close to the windscreen.

We have a little code snippet to compensate for negative coords which is needed for

[2016-07-28 20:09] talllguy commented on #2114
I found the original photo, still on the Garmin Camera.
![virb0048-36](https://cloud.githubusercontent.com/assets/1827881/17227541/d10f47b4-54dc-11e6-802c-58af53196079.jpg)

According to the metadata on it, the image is in the correct location and hemisphere.
![screenshot](https://cloud.githubusercontent.com/assets/1827881/17227683/863a2226-54dd-11e6-9292-3e268ba6c29d.png)

I suspect that @millenb

[2016-07-28 20:12] talllguy commented on #2114
For comparison, here is the metadata for the photo that comes out of Mapillary.
![screenshot](https://cloud.githubusercontent.com/assets/1827881/17227782/046e900a-54de-11e6-9fa1-64049746022d.png)

[2016-07-28 20:13] jesolem commented on #2078
OK so https://forum.mapillary.com/ works fine. The problem is https://forum.mapillary.io right?

If so, why not make the links to the forum go to https://forum.mapillary.com/ directly instead? Then this should be solved, or am I missing something?

[2016-07-28 20:30] talllguy opened #2129 "Show Image Direction in the photo uploader"
### Basic information
* Platform: `Web`
* Version: `new`
* System/Browser: `Chrome`

### Steps to reproduce behavior

 1. Go to Uploader
 2. Add some photos
 3. Zoom In
 4. Note the symbology of the points representing photos

### Expected behavior

Photo points show the direction that the photo is pointing, e.g. i.e. the heading.

### Actual behavior

Photos are represented by a dot only.

### Ad

[2016-07-28 20:31] Valteris opened #2130 "Crash after update"
### Basic information
* Platform: `iOS` | `Android` | `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1.
 2.
 3.

### Expected behavior

...

### Actual behavior

...

### Additional information

...

[2016-07-28 20:31] talllguy commented on #2109
@gyllen 🚓  🚓  🚓  🚓  😂

[2016-07-28 20:31] Valteris commented on #2130
Same error as others here.

[2016-07-28 20:31] #2130 closed

[2016-07-28 20:37] nicolas17 commented on #2114
Is it possible that some cameras give inverted signs and others don't, and you need a list of cameras to know where to apply the correction? If so, maybe you could compare camera GPS with phone GPS. Unless you're standing on the Greenwich line, opposite longitude signs would mean the correction is needed.

[2016-07-28 20:54] oscarlorentzon commented on #960
Yes, you could describe it like that. Enlarging the part of the photo that we are interested in based on where we zoom.

[2016-07-28 21:06] oscarlorentzon commented on #2090
Pan/tilt/zoom part of this issue is the same as in #2035.

[2016-07-28 21:14] oscarlorentzon commented on #1887
This now works as expected on the website.

[2016-07-28 21:14] #1887 closed

[2016-07-28 21:15] Fossdal opened #2131 "Faroe Islands is not in Dennmark"
You have classified all cities in Faroe Islands as beeing in Dennmark

Platform:  ALL
### Steps to reproduce behavior
1. go to webpage
2. search for Torshavn
### Expected behavior

Searchresult shows Tórshavn, Faroe Islands
### Actual behavior

Search results show Tórshavn, Dennmark
### Additional information

Faroe Island is a Country but we are ruled by Dennmark

[2016-07-28 21:17] oscarlorentzon commented on #1595
This is now possible to do when creating the blur rectangle in the letterbox mode or by moving an already existing blur rectangle.

[2016-07-28 21:17] #1595 closed

[2016-07-28 21:21] oscarlorentzon commented on #1559
Navigation by dragging is not supported in MapillaryJS and therefor not present on the website so closing.

[2016-07-28 21:21] #1559 closed

[2016-07-28 21:26] talllguy commented on #2131
Interesting! I enjoy this type of geographic orders of organization stuff. Is Faroe Islands a country ruled by Denmark like Canada is a country ruled by the Queen of England?

On the technical side, Mapillary search is powered by Mapzen, which might want to address this concern as well. [Here's a blog post about that](http://blog.mapillary.com/update/2015/10/15/powered-by-mapzen-search.html).

[2016-07-28 21:28] talllguy commented on #2131
You may want to open an issue here, and then post a link to it back on this issue: https://github.com/pelias/pelias/issues

[2016-07-28 21:33] talllguy commented on #2114
Also, now that the fix is posted to the App Store, can the sequences I uploaded have their metadata corrected?

[2016-07-28 22:19] Caboosey commented on #2078
@jesolem Yes, https://forum.mapillary.com works fine. The Mapillary wildcard SSL certificate only does mapillary.com and *.mapillary.com

[2016-07-28 22:40] J0WI commented on #2078
@jesolem please be aware of the mixed passive content on the forum. You should fix it and you can also use CSP upgrade-insecure-requests as a quick workaround.

@Caboosey ot: HTTPS Everywhere is only available for browsers that do also support preloaded HSTS ;)

[2016-07-29 05:53] nicolas17 commented on #2127
Duplicate of #2047?

[2016-07-29 06:11] millenbop commented on #2114
@nicolas17 it's possible. Comparing to the phone's GPS is a good idea. Right now in the iOS app, the only camera with GPS is the Garmin Virb X/XE, but I'm implementing support for Open Spherical Camera right now so then something more general is needed.

@talllguy not sure what the best way is to correct those already uploaded (as we don't have "mass move" in the editor yet). Pinging @ybkuang, may

[2016-07-29 06:21] millenbop commented on #2040
Doesn't help much. Could you send me your email and try out some builds? Email me at anders @ mapillary and I'll add you to Crashlytics so that I can send out builds quickly to you.

I'll start by sending out 4.4.4 to see if that works.

[2016-07-29 06:33] millenbop commented on #2063
Ah good find, I tried switching apps etc :)

We disable screen lock when upload starts and when camera is opened, and enables screen lock when uploads stops/finishes and when camera is exited. So need to add a check when the camera exits if there is an upload in progress.

Thanks!

[2016-07-29 07:08] pbb72 commented on #2127
Yeah more or less a duplicate. At least Mapillary is aware of the problem.

[2016-07-29 07:08] #2127 closed

[2016-07-29 07:11] pbb72 commented on #2047
@angelday you say the copy (the text?) in the popup was improved? I cannot look at the linked code, so I don't know what was changed, but currently the popup says "Click, release, drag and click again" which does not make sense since dragging is moving with the button down. The popup should say "Click, release, move the mouse, and click again".

[2016-07-29 08:40] peterneubauer commented on #2131
@Fossdal I'm coming to Torshamn next week to map some of the country with my son. Let's discuss over a coffee and see what we can do? :)

[2016-07-29 08:50] knikel commented on #2131
@Fossdal thanks for the report, I forwarded it to awesome people at Mapzen. If you'd like to read more about why it might have happened, [here's a nice overview](https://mapzen.com/blog/assult-on-copenhagen).

[2016-07-29 08:53] Fossdal commented on #2131
i opened a issue on the pelias issue tracker
https://github.com/pelias/pelias/issues/384

@talllguy yes almost same as canada and england

[2016-07-29 08:54] shroomeater commented on #2041
Hi there
I still having same problem.
W7 Professional
Chrome Versión 51.0.2704.103 m
Firefox 47.0
Internet Explorer 11.0.33

I can't see the map. The photos are ok and I can play de feeds uploaded, but I can't see the map.

Some other people say to me , maybe it is because you try to open when the new web was presented and the server could be overcharged. But still same problem.

I don't know how

[2016-07-29 09:03] angelday commented on #2047
@pbb72 changed copy to `Click, release, move the mouse, and click again`, thanks for pointing it out. (Yes, copy "refers to written material" https://en.wikipedia.org/wiki/Copy_(written) )

[2016-07-29 09:03] echeloni2p commented on #1184
Hi!

In case of DB access: yes, a better filter.
In case of UI: I want a text listing of my Upload/tracks in textform with a date and a place where they are, maybe a sample picture included.
So that I can easily overview my Uploads done in october 2015, dec 2014,..
You can extend this to changesets so that I can check if my cheangesets were already applied and on which uploads/tracks changesets we

[2016-07-29 09:15] millenbop commented on #2062
This is fixed now, available in the latest App Store version (4.4.7).

[2016-07-29 09:15] #2062 closed

[2016-07-29 09:16] millenbop commented on #2040
This should be fixed now. Had to downgrade the Facebook libs. New version submitted to Apple, hopefully out in two days.

[2016-07-29 09:16] millenbop commented on #2087
Closing. Will reopen if problem persists.

[2016-07-29 09:16] #2087 closed

[2016-07-29 09:17] richlv commented on #2062
yay, thank you :)

[2016-07-29 09:17] thoschu96 commented on #2040
i will have a look  ,-)

________________________________
Von: Anders M�rtensson <notifications@github.com>
Gesendet: Freitag, 29. Juli 2016 11:16
An: mapillary/mapillary_issues
Cc: Schulz, Thorsten; Author
Betreff: Re: [mapillary/mapillary_issues] Mapillary App 4.4.5 is crashing and not working (#2040)

This should be fixed now. Had to downgrade the Facebook libs. New version submitted to Apple,

[2016-07-29 09:17] millenbop commented on #2114
This should be fixed now. New version submitted to Apple, hopefully out in two days.

[2016-07-29 09:29] millenbop commented on #2088
We need to get one of those

[2016-07-29 09:29] millenbop commented on #1657
Which mode did you use? It's only visible in Walking and Manual (I think)

[2016-07-29 10:16] richlv commented on #2045
looks like something similar has been added, but it might not work that well yet :)
a) the button seems to work also if there are no blurs in the photo (which might be just fine...)
b) but it also seems to submit a request to clear blurs on images that had no blurs in the first place.

apparently i just submitted 50 blur requests like that accidentally. if there are no blurs in the image in the fi

[2016-07-29 11:49] talllguy commented on #2131
@knikel thanks for sharing that blog post, awesome!

[2016-07-29 12:09] de-vries opened #2132 "blur mode confuses me #3"
Today the blur editor managed to confuse me again. Every time I pressed submit I got this "This photo is locked until previous blurs get approved." message. It took me quite some time to figure out that it didn't mean that my edits were rejected, but that my edit was submitted and waiting for approval.

Please change the text to something like "Your blur request is submitted, this photo is now loc

[2016-07-29 12:19] knikel commented on #2096
This has been fixed, sequences are anchor tags that can go to `/app?pKey=:key` URLs. Visible soon.

[2016-07-29 12:27] knikel commented on #2118
Fixed, visible soon.

[2016-07-29 12:30] kaitu commented on #2110
While in blur mode, I'm also missing the shortcut keys to advance to next and to prevoius photo. In legacy website it was possible to use arrow up and down keys for that purpose.

[2016-07-29 12:34] de-vries opened #2133 "tweak color scheme for requested blurs"
I like how approved blurs an new blurs are drawn in green after I hit the submit button. It would be nice if the deleted blurs turn red. now they stay blue, what I associate with unreviewed in this case.

[2016-07-29 12:39] kaitu commented on #2045
A button to advance to the next blurred image in sequence would also be nice.
It's pretty boring to review each and every photo of a sequence were it's known that no blurs should be needed, just to catch false positives.

[2016-07-29 12:54] kaitu opened #2134 "In blur mode, pause playing at blurred images"
While playing a sequence in blur mode, the speed is usually slow enough to decide if a photo needs blurring. Otherwise, already existing blurs are difficult to catch, especially when they are small and blend with the background. It would be nice to have an option for the player to automatically pause at blurred images. That would ease the hunt for false positives.

[2016-07-29 13:04] millenbop commented on #2063
Fixed now, available in 4.4.9

[2016-07-29 13:15] knikel commented on #2119
We round number similarly to Twitter now. Hope it works for you guys! Visible soon.

[2016-07-29 13:40] richlv commented on #2045
@kaitu, that's a different topic and already tracked in issues #357 and #253

[2016-07-29 13:42] oscarlorentzon commented on #2065
Direction arrows are calculated within a circle with a radius of 20 meters so the distance threshold is not the problem. There are other criteria that needs to be satisfied for forward arrow to be shown like having approximately the same rotation.

Tracked in mapillary/mapillary-js#178

[2016-07-29 14:03] knikel commented on #2126
Fixed, visible, soon. Thanks for reporting!

[2016-07-29 14:03] #2096 closed

[2016-07-29 14:03] #2118 closed

[2016-07-29 14:03] #2125 closed

[2016-07-29 14:03] #2126 closed

[2016-07-29 14:18] kaitu commented on #2045
@richlv, sorry for the duplicate. Since the title mentioned the advance button, I thought I was somewhat on topic. I hadn't noticed though that you had already asked exactly the same in the referenced issues, thanks for pointing that out.

[2016-07-29 15:32] tdurand commented on #2054
It's ok i just submitted all the normalization. It's just it was a bit long because on the new UI when you normalize and go back to the list of upload of the right, the infinite scroll doesn't keep the same position so you need to scroll again to the next one... a bit annoying when you have 50+ uploads to go threw.

I guess it's now everything good, just missing to delete those 3 sequences and we

[2016-07-29 15:45] angelday commented on #2132
Better, copy changed to this version. Closing.

[2016-07-29 15:45] #2132 closed

[2016-07-29 15:46] gyllen commented on #2079
Im leaning towards adding some `advanced` settings here that lets you disable all panning and zooming from our side.

We always have to consider two types of users.
1. The ones that just browse around and press the playbutton
2. And users like you guys who use it for real stuff. In your case you will know where to find these settings.

[2016-07-29 16:20] de-vries commented on #2079
I'd really like to have some advanced settings. Other tings that should be in there:
- Disable transitions between photos
- Lock to sequence
- Activate point cloud

I also agree that default settings should be toward new users and visitors and not toward power users.

[2016-07-29 16:29] de-vries commented on #2045
I really like this new feature, but I find the advance part inconsistent because the editor doesn't advance when the `submit` button is pressed. I'd like to propose to replace the `submit` button with a `submit and advance` button and maybe also a `submit and exit` button

[2016-07-29 17:13] gyllen commented on #2109
@talllguy Thats right

/ the github police

[2016-07-29 17:17] gyllen commented on #2041
Can you open up developer console and paste the stacktrace here?

[2016-07-29 17:19] gyllen commented on #1184
@angelday Suggestions for how to filter for the user, I actually like text only. Makes sense.

[2016-07-29 17:23] gyllen commented on #2054
@tdurand Fully agree with you, we need better filtering of your own sequences.

[2016-07-29 18:32] Virtakuono opened #2135 "Graphics glitch in the map"
### Basic information
* Platform: iOS 9.3.3 on iPhone 6S Plus, gopro hero4 session
* Version: 4.4.7

### Steps to reproduce behavior

 1. Map with gopro, with no map canvas and no 3G reception, drive mode

### Expected behavior

The marker denoting my current location should be at the end of the blue line drawn.

### Actual behavior

The marker is way off, but the blue line still keeps drawing whe

[2016-07-29 20:54] HolgerJeromin opened #2136 "Do not start a new sequence on GPS problems"
### Basic information
- Platform:  `Android`
- Version: `237`
### Steps to reproduce behavior
1. Walk with weak GPS status (I had manual shooting)
2. Make images
3. loose GPS fix for a second or so
### Expected behavior

After recover from the GPS problem the next images should be in the same sequence
### Actual behavior

The jumping or invalid GPS fix started a new sequence

[2016-07-30 00:16] pbb72 commented on #2109
:scream:

[2016-07-30 01:01] pbb72 commented on #2119
Hmmm I see what you did there, but sadly the situation didn't become better, because of ambiguity and bad use of unit indicators.

You know what it says now? "Meters mapped: 3.8m" Suddenly I look like an absolute beginner!

I know the meaning is to say "3.8 million". However:

(1) In the case of distances, "m" is too easily understood as meaning "meters". Don't use any other "m" abbreviations when

[2016-07-30 06:31] richmondas opened #2137 "Aotopause on android in auto timebased mode does not work with new app versions"
Hi,

Autopause when speed is less than 2 km/h  does not work. This issue started with big upgrade mapillary version 2.32 or 2.33
Phone - Samsung S7

[2016-07-30 06:48] #2137 closed

[2016-07-30 09:17] pbb72 commented on #2118
Thanks!

[2016-07-30 11:15] bhousel opened #2138 "Strange interpolation between photos"
### Basic information
- Platform: `Web`
- System/Browser: `Chrome 52`

Not sure what is going on between these photos in this sequence:
[m0HzGu7enI4CTh8TGaYKJw](https://www.mapillary.com/app/index/bhousel?lat=40.74087638888889&lng=-74.38330305555554&z=17&pKey=m0HzGu7enI4CTh8TGaYKJw&focus=map)
[tXRsCy51bmw4YWFDw1PHww](https://www.mapillary.com/app/index/bhousel?lat=40.74086805555556&lng=-74.3831763

[2016-07-30 11:56] Skippern opened #2139 "Sequence Editor not loading in browser"
### Basic information
- Platform:  `Web`
- System/Browser: `Mac OS X El Capitan 10.11.6 tested in Safari, Chrome, Firefox and Opera`
### Steps to reproduce behavior
1. Log into Mapillary account
2. open https://www.mapillary.com/app/index/skippern?lat=-20.93870214199997&lng=-41.08283129500212&z=17&pKey=DUxTvfkH0snZ4YjYgV9a-w
3. Edit sequence
### Expected behavior

Sequence editor loads
### Actual

[2016-07-30 12:07] rausk opened #2140 "Compatibility with MS Edge browser"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: MS Edge

### Steps to reproduce behavior

 1.  Go to Leaderboard
 2. Eg. Italy
 3.

### Expected behavior

All 50 top contributors are shown

### Actual behavior

WithMS Edge browser only few or no contributors are shown. Sometimes the map is loading endlessly.

### Additional information

Behavior with Firefox browser is O

[2016-07-30 12:13] rausk opened #2141 "Back button in Leaderboard not working"
### Basic information
* Platform:  `Web`
* Version: `...`
* System/Browser: `Win10, Firefox`

### Steps to reproduce behavior

 1. Go to Leaderboard
 2. Select a Country, wait for display of contributors
 3. push BACK button

### Expected behavior

Go back to last window

### Actual behavior

Nothing happens

### Additional information

BACK button on top Level is working

[2016-07-30 13:37] pbb72 commented on #2047
Thanks for the update!

(I'm no expert, but I think "copy" is a more specific form of "text", applying to considerable amounts of text. An article is copy, but not a label.)

[2016-07-30 20:03] HolgerJeromin commented on #1537
I think this can be closed.

[2016-07-30 20:03] #1537 closed

[2016-07-30 21:21] andrewpmk commented on #1943
This bug still exists in version 2.37. However, it seems to be fixed if I select "Take low resolution pictures" and produces a more reasonable file size, but the picture quality is low. If "Take low resolution" pictures is not enabled Mapillary still generates 17MB files. I can't believe that it makes sense to produce pictures this large by default. JPEG compressed images at fairly high resolution

[2016-07-31 04:18] ToeBee commented on #2091
Pretty sure I just ran into the same bug.

I just uploaded several sequences from a bicycle tour I did in Seattle after SOTM-US. These were GoPro images that I geotagged externally. My Garmin was in my pocket and drifted more than usual (probably also due to the urban canyon effect) so I manually adjusted the position of a lot of the pictures in the new "Review" screen on the manual upload page.

[2016-07-31 10:26] knikel commented on #2119
@pbb72 really good points, we took inspirations from Twitter, but in their case tweets have no units below/above them, 1 is 1. I agree, _Distance mapped_ as a field label makes the most sense with units as you described. It should also fit with the amount of space we have there.

Ping @angelday.

[2016-07-31 10:35] de-vries commented on #2079
I found something that makes this extra annoying; the panning and zooming happens twice, once when a new photo is selected and then again when that photo is loaded.
Whatever you do with the rest of this issue, that second panning and zooming has to go. Like @pbb72 said, any panning and zooming that you deem necessary as fast as possible after selecting a new photo.

[2016-07-31 11:00] richlv commented on #2096
seems to work as expected - thank you :)

[2016-07-31 12:39] blobgo commented on #1892
Please rotate http://mapillary.com/map/im/S1yj-bxVtJ3lpMIVRBRVEg

[2016-07-31 12:41] blobgo opened #2142 "Let users rotate images"
### Basic information
- Platform: `Web`
### Steps to reproduce behavior

See https://github.com/mapillary/mapillary_issues/issues/1892
### Suggestion

Please let users rotate images (the same way it is done with blurring images) in the browser, so users can fix this issue by themself.

[2016-07-31 13:18] rugk opened #2143 "Use HTTPS everywhere"
Please redirect to https://www.mapillary.com/ by default and use HSTS. Do the same for all (other) subdomains.

Also share HTTPS links when using the share feature of the images.

Related to https://github.com/mapillary/mapillary_issues/issues/2104

[2016-07-31 14:38] pbb72 commented on #2119
Sadly enough, above km (kilometer), we don't have any factors that make sense to the average Joe. Mm, Gm, Pm (or megameter, gigameter, petameter) just are not very clear.

You could start with "x.x times around the earth" (but that takes a lot more space.

[2016-07-31 16:13] pbb72 commented on #2119
Another place where number formatting is required (and where you can't abbreviate numbers): the leaderboard.

[2016-07-31 16:15] pbb72 commented on #2129
Duplicate of #2067

[2016-07-31 16:57] talllguy commented on #2129
Thanks @pbb72 closing

[2016-07-31 16:57] #2129 closed

[2016-07-31 18:03] talllguy commented on #2038
@gyllen @angelday Looks like someone fixed this. It looks  good now!

[2016-07-31 18:03] talllguy commented on #2135
Similar to #1989

[2016-07-31 20:53] dthgeek commented on #2034
Things are working now thank you

[2016-07-31 20:53] #2034 closed

[2016-08-01 06:39] mikini commented on #1892
@ybkuang

Could your please specify further instructions on how to properly request a manual rotation of sequences? Only the first two sequences mentioned here have actually been rotated while all others are still upside down.

Should we file a separate issue for each sequence? Or email somebody?

[2016-08-01 07:03] ybkuang commented on #1892
@mikini Sorry about the delay. We will rotate the sequences for you now.

[2016-08-01 07:35] pbb72 opened #2144 "Photos uploaded, not published"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Open the uploader.
 2. Select, review, upload and publish a sequence of photos.
 3. Wait indefinitely for the confirmation email.
 4. Open the uploader again.
 5. Notice a message at the bottom of the screen, "Publish xx uploaded".
 6. Press the button and get confirmation that files have been published.
 7. Exit the upl

[2016-08-01 07:36] shroomeater commented on #2041
On Firefox

GET
https://www.mapillary.com/app/ [HTTP/1.1 304 Not Modified 241ms]
GET
https://d3tvtfb6518e3e.cloudfront.net/3/opbeat.min.js [HTTP/1.1 200 OK 0ms]
GET
https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css [HTTP/1.1 200 OK 0ms]
GET
https://d3qcvm3y0ublwr.cloudfront.net/css/shared-fdbc6681975d7a94cff8c09699b0e343.css [HTTP/1.1 304 Not Modified 255ms]
GET
https://npmcdn.com/co

[2016-08-01 07:39] shroomeater commented on #2041
On Chrome

Navigated to https://www.mapillary.com/app/?lat=20&lng=0&z=1.5
2Navigated to https://www.mapillary.com/app/?lat=19.99999999999997&lng=0&z=1.5
main-ecdafa4….js:11 EXCEPTION: [object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object

[2016-08-01 07:41] shroomeater commented on #2041
On chrome, capture display
![captura_mapillary2](https://cloud.githubusercontent.com/assets/3661588/17286808/0ef2c366-57cc-11e6-9c00-8381e52a0e2c.JPG)

[2016-08-01 08:03] echeloni2p commented on #2136
HI

sounds a bit like "start a new tack after 300m" in the settings, try to change that one.

echelon

[2016-08-01 08:49] shroomeater commented on #2041
I there again
It must be a problem with my computer at job, because in another one beside it I can see the map.
I thought I tried at home (Osgeo Live 9.5 with ubuntu) but I will do today and inform about it.

Sorry

[2016-08-01 08:55] rausk commented on #1892
Thank you for rotating the following sequences, too:
8ymcapwQTMG8uDsyTXqndA (open action since June 3)
YObV3vLdhMhxTcbbkqRbnA
gBOQ08QHvDs-YjmQOtIFDw

[2016-08-01 08:56] ybkuang commented on #1892
@rausk will do. Sorry about the delay!

[2016-08-01 10:10] angelday commented on #2076
@rausk

Do you mean the compass angle (where photos are looking at) or the image data (what is displayed on the photo)? You can do the former in the sequence editor.

[2016-08-01 11:03] rausk commented on #2076
See also issue #1892
As you perhaps know, a lot of sequences are shown completely upside down. My request was, that a user may flip not only single photos  but the whole sequence with one click because normally ALL pictures in a sequence are wrong.
It were even better, if Mapillary could fix this bug.

[2016-08-01 12:55] HolgerJeromin commented on #2136
My walk was 600 meters in total and were split into three sequences. I pushed the camera button every 5 to 10 meters

[2016-08-01 20:07] thoschu96 commented on #2040
hey

just removed our version we was testing and recocnized that the main screen shows more infos.
it showes me my last captures

[image1.PNG]

but when i check it on my ipad ( newest appstore release , its empty )

but zhats not the bad news.
the error is back on my iphone with the latest appstore app.
launched it snd it crashed.

there are stiff diffents between the regular app and the testapp.

[2016-08-01 20:12] thoschu96 commented on #2040
aehm
ok
strange

let me explain that u ubderstand what happend

i removed the app
searched it over appstore
installed it
launched it
chrashed

after my mail i checked for updates
and there was an uppdate

so i installed the mapillary update
( confused me . as i thought thru the download it would get the newest version)

and its working and showing the latest updates from my uploads too.

sooo
its

[2016-08-01 20:30] gyllen commented on #2144
@pbb72 Is this still an issue? When you press the publish button can you observe the console in the browser and see if you get any error messages? For me it looks like you are not beeing able to publish.

[2016-08-01 20:31] gyllen commented on #2041
@shroomeater So this works for you now?

[2016-08-01 21:05] gyllen commented on #2142
Our idea here is to use vision to automatically detect if an image is rotated and then do rotation for you without you having todo anything.

[2016-08-01 21:06] gyllen commented on #2141
This is now fixed.

[2016-08-01 21:06] #2141 closed

[2016-08-01 21:21] paulinus commented on #1908
Hi @Stefal, we have added Yi Action Cam calibration, and rerun the train station sequence. Navigation is better now, although it still jumps between some images.
Did you try your rig again since then? There should be many less jumps if you upload each camera on a different sequence.

[2016-08-01 21:28] paulinus commented on #1333
Compass angles got fixed after the rerun letting them to the original values.

[2016-08-01 21:28] #1333 closed

[2016-08-01 21:44] gyllen commented on #2133
@angelday Thoughts on blur

[2016-08-01 22:24] gyllen commented on #2091
This is now fixed. Thanks for reporting. If you want us to remove sequences so you can upload please paste them here, otherwise the solution would be to use edit to correct the positions. Once agaion extremly sorry for this bug we were not rounding coordinates correctly in uploader :/

[2016-08-01 22:24] #2091 closed

[2016-08-01 22:42] ToeBee commented on #2091
I just tried editing the sequences but there are so many pictures on top of each other that it seems to get the editor all confused after I move 10-15 of them and it just stops working. Plus I can't really tell which picture goes in which order. So yeah... I'm going to need these sequences to be hidden/deleted:

`UcaW05Qkspa90tc1rwFjng`
`ByFb_IfwiXrs2NGmC8-g4w`
`hOIY5b8Ijr9n7r7CB9siOw`
`smMmQZqRnO

[2016-08-01 23:25] gyllen commented on #2091
@ToeBee Only uploader, all edits are fine, we have a backlog of about 3000 edits so we are going through them one by one

[2016-08-01 23:27] gyllen commented on #2091
@ToeBee Also terribly sorry about this bug, Im deleting your sequences now

NOTE: We are working on delete directly from the editor

[2016-08-02 00:05] Hjart commented on #1782
I generally experience the morphing of my sequences as horrible. See for example sequence d8C0_Hx9gsSerVRNi6xZeg. I would very much appreciate the option to say "no, do not under any circumstances morph anything in this sequence/my sequences". Again... it's a horrible experience.

[2016-08-02 00:47] gyllen commented on #1782
@Hjart Thanks for your feedback. In general when there is a lot of trees and an overexposed sky it is hard to merge images. If you look at where you have more structure in the image I think (in my opinion) that it looks pretty good https://www.mapillary.com/app/user/hjart?pKey=ugfYUqWoERF65eBMP4ckcQ&lat=55.14875277777778&lng=8.95986111111111&z=17&focus=photo

Having that said we are working with s

[2016-08-02 00:54] gyllen commented on #1782
Also as a general rule of thumb the denser you can get the images the better (I looked at your imagery and I think its very impressing) the better reconstruction. Here you can see that a "denser" sequence looks better https://www.mapillary.com/app/index/hjart?pKey=2y7fNAUlaK9acLkt9rzmKQ&lat=55.28897222222222&lng=9.045361111111111&z=17&focus=photo

[2016-08-02 00:56] gyllen commented on #1782
Here you can see a problem where the coulds are to prominent https://www.mapillary.com/app/index/hjart?pKey=7YnTm5Jz9rSMt3bTU2KWZQ&lat=55.28975833333333&lng=9.042375&z=17&focus=photo (we are working on fixing this)

[2016-08-02 01:46] descilla opened #2145 "Sequence-changeset seems not to be committed properly - 500 Internal Server Error"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `ubuntu/chrome v52`, `ubuntu/firefox v47.0`

### Steps to reproduce behavior

 1. Klick on "edit sequence"
 2. Do some changes
 3. Commit changeset

### Expected behavior

Apply changeset.

### Actual behavior
After my recently commited changesets weren't on the map after 2 weeks I tried to commit them again. This time I ha

[2016-08-02 01:52] gyllen commented on #2145
@descilla We are still working through a huge backlog of changesets the reason that it does not appear on the map yet is probably that we have not yet approved it. you will be notified when we have approved. Opening this as a bug though since the 500 looks strange.

[2016-08-02 03:56] ToeBee opened #2146 "Editing picture position during upload resets direction to 0"
I just noticed that pictures that I edited the position of while reviewing before upload are all pointing straight north instead of maintaining their original direction information. I don't see any way of specifying direction during.

Example: https://www.mapillary.com/app/user/toebee?pKey=Wkyi4kzVB-qb4jkNEhPG_Q

The next picture in the sequence is unedited and correctly faces west.

[2016-08-02 04:52] gyllen commented on #2146
@ToeBee Thanks for reporting, we are fixing this as fast as we can

[2016-08-02 07:24] pbb72 commented on #2144
I will check the console with my next upload. It seems that now, after a long wait, the publish button does disappear.

If this button is supposed to be an indicator that the site is still processing my upload, then the interface should be changed, because now it just looks like it's telling that I forgot to press Upload the last time.

[2016-08-02 07:25] PaulColinSimpson opened #2147 "Sequence Missing On Mapillary Browser But Viewable in OSM ID Editor"
I submitted some time ago a sequence that covers a stretch of road that passes through map location: https://www.mapillary.com/app/?lat=51.64273368030783&lng=0.034643390178388245&z=20

It is not viewable on Mapillary browser but is on the OSM ID Editor.
### Basic information
- Platform: `iOS`
- Version: 9.3.3
### Steps to reproduce behavior
1. Go to location https://www.mapillary.com/app/?lat=51.6

[2016-08-02 08:19] shroomeater commented on #2041
Hi there,
Well not at my job computer but yes in others ones: at job the next besides mine, and at home.
So it must be my job computer, but it's strange that the three web browser don't run, maybe java?

So it's ok for me

Thanks a lot

[2016-08-02 10:32] ghsamme opened #2148 "Image trimmed at bottom when browser window is to wide"
### Viewing images with browser window in a lanscape format will make the lower parts of the image trimmed/
* Platform: `Mac ` `Windows`
* Version: `MacOS10.11.6` `Windows 7`
* System/Browser: `Chrome` `Safari` `Firefox` `Internet Explorer`

### Steps to reproduce behavior

 1. Resize browser window
 2. Watch image.

### Expected behavior

Blank area to left/right of the image when browser window

[2016-08-02 10:36] rausk commented on #1892
Thank you so far, but it seems you have missed some photos from the sequence key 8ymcapwQTMG8uDsyTXqndA
(sorry):

U1MWKW9rxdlME2CkioAT0w
NDJeIfTkgot3UMErvSKS0g
eB_TZhQShxVRrCF7nhiHXA
GaKRIDF_3AQ1XkDSLflG9g
eYZBUtYoPTM_tl9EdkbqKQ
IJasHuSBbJH847ZBrHyLvg
f-MkK499i8E3kYtkiheYzw
wJ-d5WCVF0iuXBIv8Mtorg
ZWYm_8qFQ96neneWavZzJg
EpLcdt7haqPJEBgj37iiKg
IihtG4VuWboEx-AUfC7Ikg

I will check the other sequences

[2016-08-02 11:51] de-vries commented on #2148
That's a feature not a bug. There was a whole blog post about the design choices in the new website: http://blog.mapillary.com/update/2016/07/21/mapillary-design-principles.html

In your example it looks bad because the camera was pointing up a bit. It would be nice if Mapillary did recognize this and cropped the image how it looked best, in this case only the top of the image. And, for example, o

[2016-08-02 12:46] stevenvandervalk opened #2149 "https://opendata.mapillary.com/ invalid HTTPS cert as of 02.08.2016 2200 +1000 UTC"
### Basic information
- Platform: `iOS` | `Android` |`Web`
- System/Browser: `OS X 10.11.6/Chrome Canary`
### Steps to reproduce behavior
1. Open https://opendata.mapillary.com/
2.  See big scary cert warning

I assume you know the rest.

[2016-08-02 14:03] gyllen commented on #2147
@PaulColinSimpson Sometimes the green layer takes a little longer to update. Meanwhile can you give me an image key of one of the images in the sequence so I can check why its taking so damn long.

Thanks for reporting on this.

[2016-08-02 14:11] gyllen commented on #2149
@octanebaby Should we try to move this guy to static pages?

[2016-08-02 14:12] octanebaby commented on #2149
we should try to move this AND edu.mapillary.com to static pages.

[2016-08-02 14:13] gyllen commented on #2148
@ghsamme @de-vries If you enter blur-mode you can see that we there have `letterbox` formatting. We should probably have a setting so images can always be shown in `letterbox`.

What do you guys think about that idea?

[2016-08-02 14:14] gyllen commented on #2148
@angelday Thoughts on settings

[2016-08-02 14:14] gyllen commented on #1892
@ybkuang Some rotation requests

[2016-08-02 14:15] gyllen commented on #2041
@shroomeater Hmm would like to solve this. What version of FF are you using.

(Thanks for taking your time to report on this)

[2016-08-02 14:16] gyllen commented on #2041
@shroomeater Oh I can see now, its on all browsers, sorry for that question

[2016-08-02 14:19] de-vries commented on #2148
that would be another one for in the [advanced settings menu](https://github.com/mapillary/mapillary_issues/issues/2079#issuecomment-236225424)

[2016-08-02 14:20] gyllen commented on #2144
@pbb72 Im trying to figure out what the problem can be. You say this is when you press publish, that API call SHOULD return within milliseconds. There should be no heavy stuff going on.

To get some more info:
How big is the sequence?
Have you moved any images before you uploaded them?

[2016-08-02 14:21] angelday commented on #2148
Yes, this is something I'd expect to be in the Settings.

[2016-08-02 14:23] gyllen commented on #2149
@octanebaby Adding issues

[2016-08-02 17:27] ToeBee opened #2150 "Low zoom coverage doesn't match actual coverage"
When using the new "Show my coverage only" option in my user profile, there is a break at zoom 6. Some of my traces are not displayed at zoom levels 1-5 but start showing up at zoom 6. I know low zoom stuff is often cached but I noticed this on traces from a trip down to Florida missing between St. Louis and Nashville. I uploaded these pictures over a year ago.

Here is a screenshot at zoom level

[2016-08-02 17:35] ToeBee opened #2151 "Hiding profile panel causes "Show my traces only" toggle to forget state"
### Basic information
* Platform: `Web`
* System/Browser: `Chromium 51`

### Steps to reproduce behavior

 1. Enable `Show my traces only` option in the profile panel
 2. Collapse the profile panel
 3. Re-open the profile panel and navigate back to the `Uploads` tab

### Expected behavior
What is showing on the map should match the toggle state.

### Actual behavior
The `Show my traces only` toggl

[2016-08-02 18:35] gyllen commented on #2150
@ToeBee Higher zoom levels are not updated as frequently as lower ones. It usually takes a couple of hours to update. Report back in a day or so to see if it has started to appear.

[2016-08-02 18:36] gyllen commented on #2150
High = 0-6
Low = 6-INFINITY

[2016-08-02 18:37] pbb72 commented on #2148
Instead of toggling letterbox mode, I would prefer the possibility to pan and zoom the image. Default would be as it is now, and the user can choose to zoom in further, or zoom out to see the whole photo, in addition to panning around.

The pan/zoom setting could then be retained when going from one photo to another in the same sequence.

Maybe this is how 360-degree photos are handled at the mome

[2016-08-02 18:41] pbb72 commented on #2144
There are no console messages, and now the button disappears after returning several minutes later.

Maybe initially the servers were under so heavy load that it never seemed to disappear (even for 10-photo sequences).

I'll close this issue, but open another one that a button to indicate that the upload is still being processed, is a bad design choice. :-)

[2016-08-02 18:41] #2144 closed

[2016-08-02 18:42] gyllen commented on #2144
Please do, thanks for the feedback!

[2016-08-02 18:54] pbb72 opened #2152 "Confusing button to indicate upload is still being processed"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Open the web uploader.
 2. Select, review, upload and publish a (large) sequence of photos.
 3. Exit the uploader.
 4. Open the uploader again.

### Expected behavior

A clean uploader page, nothing special should be there.

### Actual behavior

 5. See a button on the bottom of the page, "Publish xx uploaded".
 6. Scrat

[2016-08-02 18:58] ToeBee commented on #2150
Well like I said, these are traces that were uploaded over a year ago. Example picture that isn't showing up in z0-5: https://www.mapillary.com/app/?pKey=mHgz4Td0f6MGmZ6Ee_50Xg&focus=photo

[2016-08-02 19:00] gyllen commented on #2150
@ToeBee Aha! I did not read the last part of the sentence :/, I will submit this as a bug to the tiler.

[2016-08-02 19:12] gyllen commented on #2148
@pbb72 Thats actually a better solution. @oscarlorentzon should be working on this for `mapillary-js` as we speak.

[2016-08-02 19:58] ptpt commented on #2150
Hi @ToeBee thanks for the input.

At high levels from 0 to 5, we use the dot layers (we also call it overview layer) to present sequences. Each dot (a 16x16 pixel area) is covered by the latest captured sequence in that area. All older sequences are evicted.

In this case, your sequence was covered by a newer one by allen (See https://www.mapillary.com/app/user/allen?pKey=Ydexroe2OL2WPd5oGIw_cg&fo

[2016-08-02 20:48] Andblue opened #2153 "Sequence showing in a broken way"
Here is a sequence, but some picture dots are not showing and navigation is not working. But the pictures are there and when using the step by step navigation at the top it works.

Is this just a new twist of things taking time to show up on the map or is there  something else going on?

https://www.mapillary.com/app/?focus=photo&pKey=szyy6qON-7mGfMqxfjdK1g&lat=59.34122&lng=18.084051&z=17

[2016-08-02 20:53] ToeBee commented on #2150
Ah, I was kind of wondering how you were doing those zoomed out views with decent performance. I guess this explains it. This might take more processing than is worth it but for long sequences along the same road you could maybe interleave dots so more than just one person along the route gets dots "assigned" to them.

I guess it's time to go visit my brother in Florida again.

[2016-08-02 21:26] pbb72 commented on #2148
The issue @gyllen is referring to is mapillary/mapillary-js#112

[2016-08-02 21:36] ptpt commented on #2153
Hi @Andblue I'm sorry about this. It is an issue with our tiler. I just rendered the broken sequence; it will show up soon hopefully (when it delivers to CDN).

At the time (Sunday) this sequence got uploaded, the tiler was not working properly. So these tiles were missing.

[2016-08-02 22:24] Andblue commented on #2153
Great!

[2016-08-03 06:13] PaulColinSimpson commented on #2147
Im afraid I cannot provide the image key for this sequence. It used to be on the previous browser version of Mapillary that you could still see the images on sequences that were not displayed in green.....but with this new browser this is not possible. I tried to get the key off of OSM....but for some reason in ID editor all Mapillary images are nt being displayed (only the location of the images)

[2016-08-03 18:47] gyllen commented on #2152
@pbb72 I actually do think that this is a matter of that the publich actually does not publish. I have heard reports of something similar during the day. A small code refactoring of the uploader component is on the way. This will probably solve this issue. I will report back.

[2016-08-03 18:51] gyllen commented on #2150
Im gonna close this for now. Thanks for explaining this @ptpt , we will do some `deep thinking` on how todo tiles more performant.

[2016-08-03 18:51] #2150 closed

[2016-08-03 18:53] gyllen commented on #2153
Looks to me that the sequences are now showing up. Closing. Thanks for debugging this @ptpt

[2016-08-03 18:53] #2153 closed

[2016-08-03 18:55] gyllen commented on #2147
@PaulColinSimpson No problem we will investigate the tile.

@ptpt Can you take a look at this

[2016-08-03 20:17] pbb72 commented on #2152
I've tried it several times now recently, the publish button is always there when I re-open the uploader immediately after an upload. And when I open the uploader again after several minutes, the button is gone, and I receive an email that the upload was successful.

[2016-08-03 21:06] ptpt commented on #2147
@PaulColinSimpson Thanks for reporting this issue. This is related to #1858.

@gyllen Another issue with DB. This is one of the missing sequence across this area https://www.mapillary.com/app/?focus=map&pKey=PAzA2CSi37GJFCi0jHST0Q&lat=51.55708058065477&lng=-0.010873258071001146&z=11.237846173260557 which has only 160 coordinates found, but it has thousands of photos.

[2016-08-03 21:43] pbb72 commented on #2152
OK, there is more to this. Now I haven't uploaded anything in a few hours, I open the uploader, and there is a button "Publish 1 uploaded". I did not upload any single-image sequence. No comments in the console, except for geometry exceeding allowed extent (which I assume has nothing to do with uploading).

[2016-08-03 22:40] gyllen commented on #2147
@ptpt We are gonna have to look into caching of this sequence. I will reassign to @peterneubauer

[2016-08-03 22:41] gyllen commented on #2147
@peterneubauer Can you take a look at the caching of this sequence?

[2016-08-04 11:36] talllguy commented on #2114
@millenbop I tried uploading just a few from the beta but they're also showing up in China: http://mapillary.com/map/im/o9BwLWNIge1y7SbelOQGqg

[2016-08-04 14:28] PTMaper commented on #1931
Still the same problem in 2.37. Seems to be a Camera 2 API issue. It works with the old API.

[2016-08-04 16:00] rausk commented on #2147
Here is another sequence shown with no green line (just a green dot):
lqAfF2i2Ij3o9C4t7RBEmw

The following sequence is not shown in one instance of the browser (not_shown 1.JPG)
mREFtwKLiz2UxarBQ_ZegQ
In JOSM you can see the sequence with the Mapillary add-on (Version 32639) and you can change from the Mapillary window inside JOSM to a look on the corresponding website and ...uups... now another

[2016-08-04 17:10] jfburke3 commented on #2147
I just want to add a comment that I'm experiencing this, too.

[2016-08-04 18:51] gyllen commented on #2128
Is GMT really interesting in this case? Isn't it really the local timezone thats interesting?

[2016-08-04 18:53] gyllen commented on #2112
Redesing is now done, @voschix reopen this ticket if you can not find the sequence editor.

[2016-08-04 18:53] #2112 closed

[2016-08-04 18:54] gyllen commented on #2093
This should now be fixed in redesing, ig not please reopen @travel193

[2016-08-04 18:54] #2093 closed

[2016-08-04 18:54] gyllen commented on #2029
We have now made this more consistent. Let us know what you think @nicolas17

[2016-08-04 18:54] #2029 closed

[2016-08-04 19:01] gyllen commented on #2152
@pbb72 Uploader is now refactored. Try it out and open new ticket for any errors you find and lets do this loop again ;)

A question do you ever use scripts to upload images?

[2016-08-04 19:01] #2152 closed

[2016-08-04 19:02] gyllen commented on #2114
@talllguy Ouch, @millenbop is out on vacation for a couple of weeks, so it might take some time for him to get back to you.

[2016-08-04 19:03] gyllen commented on #1931
Looks to me that the whitebalance is of. Maybe we have it in some fixed mode. Can you upload example pictures again @PTMaper

[2016-08-04 19:05] gyllen commented on #2147
@rausk I think your problem is caching, if you do a hard reload of the page (shift+update) this will probably solve it. However we should probably limit the cache time for all of our tiles so sequences gets viewed faster/

@jfburke3 Do you have an image key/ sequence key for the missing sequence I want to investigate.

[2016-08-04 19:40] rausk commented on #2147
"Here is another sequence shown with no green line (just a green dot):
 lqAfF2i2Ij3o9C4t7RBEmw
"
This is definitely not a caching problem...

What is
"hard reload of the page (shift+update)"
F5?

[2016-08-04 19:43] gyllen commented on #2147
@rausk Yeah seems like all images got the same coordinates. To do some debugging can you help me with providing what method you used to upload these images.

[2016-08-04 19:56] talllguy commented on #2114
No problem, thanks for the heads up.

On Thu, Aug 4, 2016 at 3:02 PM Johan Gyllenspetz <notifications@github.com>
wrote:

--
Elliott Plack
http://elliottplack.me

[2016-08-04 23:28] jfburke3 commented on #2147
@gyllen It is definitely not a browser cache problem.  I use Chrome almost exclusively, but can reproduce the problem in IE and Firefox, which I rarely use, and can't think of a time when I've ever used them for Mapillary (other than when I was just getting started and had problems with the website when logging in from work).

Here are a couple of sequences of mine that have the problem:
alI_YsP8Y

[2016-08-04 23:29] jfburke3 commented on #2147
@rausk If you press Shift while clicking reload, then in most browsers, it's supposed to re-pull everything from the website instead of relying on locally cached data.

[2016-08-05 00:43] talllguy commented on #2138
I've noticed this as well. It is especially an issue for me, because it prevents the navigation arrows that hover over the ground from operating properly. [Example](http://mapillary.com/map/im/5w7NsdxpjBJoS4WrH0BcvA):
![image](https://cloud.githubusercontent.com/assets/1827881/17422871/0e47b290-5a84-11e6-9aee-81935d2fb512.png)

[2016-08-05 01:08] gyllen commented on #2138
So in both these cases notice how the clouds look in the sky, problem here is that our backend things that its the sky thats the most important part. Right now we are performing full semantic segmentation on all our images. Notice how we detect the sky here (image below). Next step will then be to filter out the sky, this will solve this problem. Don't ask me how it works but its pretty rad ;), @p

[2016-08-05 06:33] pbb72 commented on #2128
Yeah, I think so too, though it might be confusing for sequences that cross a timezone.

[2016-08-05 07:38] travel193 commented on #2093
Sweet! Fixed and looking good.

[2016-08-05 07:48] rausk commented on #2147
@gyllen:

I used the Mapillary App which was up-to-date in Feb 2016 on my mobile with Android 4.4.2 for uploading the photos.
Please note: you can see the photos of that sequence in JOSM at the correct locations!

[2016-08-05 08:07] millenbop commented on #2114
Oh that sucks! I'll have a look tomorrow if we have any Garmins in the office, Might have inverted an `if` :/

[2016-08-05 09:00] ptpt commented on #2147
@rausk @gyllen The DB shows that this sequence `lqAfF2i2Ij3o9C4t7RBEmw` has all same points, though from photos they were obviously not taken at the same place. It is probably a problem with the mobile app.

`mREFtwKLiz2UxarBQ_ZegQ` has on any backend data issue, and all points shown on my Chrome 52 and Firefox 48/Linux. Which browser doesn't this sequence show in? It is probably a frontend issue.

[2016-08-05 09:47] travel193 commented on #1965
Going to hold off updating the [capturing guides](https://github.com/mapillary/UserGuide/wiki/Capturing) on the wiki for the time being. Process/UI for iOS and Android needs to be unified for capturing so will update when this is complete.

[2016-08-05 14:08] jfburke3 commented on #2147
@rausk @ptpt Does sequence lqAfF2i2Ij3o9C4t7RBEmw show up in the correct location in the OSM ID or JOSM editors?

[2016-08-05 14:25] jfburke3 commented on #2120
I vote for the TARDIS icon!  :+1:

[2016-08-05 14:26] jfburke3 commented on #2120
Bonus points for the Mapillary team if they can generate a wheezy-grindy sound when you click on it.

[2016-08-05 15:00] ptpt commented on #2147
@jfburke3 Yes it is showing correctly here in both OSM iD and Mapillary.

https://www.openstreetmap.org/edit?editor=id#map=15/48.9127/8.5317
![2016-08-05 16-56-24](https://cloud.githubusercontent.com/assets/87357/17440632/bce83e56-5b2d-11e6-8980-fdfd82d4107d.png)

https://www.mapillary.com/app/?lat=48.9133270920172&lng=8.533421976014523&z=14.216579167022221&pKey=9fvSXALUk2UVhF4nl0zpLw
![2016-08-05

[2016-08-05 15:05] ptpt commented on #2147
Ah sorry @jfburke3 the screenshots above are showing another sequence `mREFtwKLiz2UxarBQ_ZegQ`.

The sequence `lqAfF2i2Ij3o9C4t7RBEmw` you are asking about is correctly shown as well in both sides:

https://www.mapillary.com/app/?lat=48.90214499999999&lng=8.580497400000013&z=17&pKey=Nu3YOTHxBf6RcYJPiijJnw

https://www.openstreetmap.org/edit?editor=id#map=19/48.90207/8.58067

[2016-08-05 15:34] oscarlorentzon commented on #2148
It is now possible to pan/tilt/zoom for any photo on mapillary.com. You can therefor see all parts of the image when that is desired by looking around by dragging.

@gyllen Should this issue be closed or do you want to have a letterbox setting and therefor keep this issue open?

[2016-08-05 15:36] oscarlorentzon commented on #2123
This should now be fixed.

Happy for a confirmation that the behavior is improved for you @eugensim .

[2016-08-05 15:36] #2123 closed

[2016-08-05 15:43] oscarlorentzon commented on #2090
@floscher You can now pan/tilt/zoom in all photos so this should have resolved the third task in your list. It is possible to look around and zoom in all three of your cropped pano examples above.

Reassigning to the front end team for the last unfixed task about `Access-Control-Allow-Origin` problems with preview images.

[2016-08-05 15:48] oscarlorentzon commented on #2059
@de-vries This should be fixed in the `1.6.0` release of `MapillaryJS`.

Can you confirm that this works for you in FF and Chromium now?

[2016-08-05 15:48] #2059 closed

[2016-08-05 15:53] oscarlorentzon commented on #2035
Cropped panos are now shown with higher resolution thumbnails and they are draggable and zoomable.

[2016-08-05 15:53] #2035 closed

[2016-08-05 15:57] oscarlorentzon commented on #2026
@simonmikkelsen Are you still experiencing problems on [mapillary.com](https://www.mapillary.com)? The MapillaryJS viewer have been updated and the whole image fetching method has been rewritten to handle every fetch equally. There should no longer be any difference between loading a photo sphere or a regular photo.

If not, can you provide example links to photos that you can view and photos that

[2016-08-05 16:58] talllguy opened #2154 "Some images do not show preview popup on hover event on minimap"
### Basic information
* Platform: `Web`
* Version: `Chrome Version 51.0.2704.106 m (64-bit)`
* System/Browser: `Win 10 Enterprise`

### Steps to reproduce behavior

 1. Hover over photos on the minimap
 2. Some do not show pop-up (could be those around the center)

### Expected behavior

Hover over any dot shows pop-up

### Actual behavior

Pop up not working for some.

### Additional information

[2016-08-05 16:59] oscarlorentzon commented on #960
With the pan/tilt/zoom functionality for all photos I consider this issue to be resolved.

[2016-08-05 16:59] #960 closed

[2016-08-05 17:02] oscarlorentzon commented on #2030
It is now possible to pan/tilt/zoom in all photos so even small blur rectangles in zoomed out mode should be editable in an easy way when zoomed in.

Regarding the actual design of the blur rectangles and their appearance when shown I'm going to reassign to @angelday .

[2016-08-05 17:30] de-vries commented on #2059
Yes it works in both browsers, thank you!

[2016-08-05 17:48] oscarlorentzon commented on #2059
Perfect, thanks!

[2016-08-05 18:19] de-vries opened #2155 "I can't load any photos atm"
The little thumbs work and `thumb-320.jpg` files are being downloaded. In the window in the left bottom and in the photo view I only see a dark background and a spinner and nothing is downloaded.

[2016-08-05 18:39] ybkuang commented on #2155
@de-vries We have a database issue. Working on it.

[2016-08-05 19:05] pbb72 commented on #2155
Seems like everything is fine again now :)

[2016-08-05 19:07] gyllen commented on #2155
Yeah data is flowing in the system again, thanks for reporting. We made an extremly large query to our database which caused instabillity.

Closing

[2016-08-05 19:07] #2155 closed

[2016-08-05 19:09] pbb72 opened #2156 "Bottom half of mini-map doesn't react to mouse"
### Basic information
* Platform: `Web`
* System/Browser: `Firefox, Chrome`

### Steps to reproduce behavior

 1. Open a photo view, with the small map in the bottom left corner.
 2. Move the mouse cursor to the bottom half of the map.
 3. Try to zoom in/out by using the scroll wheel.
 4. Try to drag the map around.
 5. Try to active a photo by clicking on it.

### Expected behavior

This should w

[2016-08-05 19:58] ToeBee commented on #1452
Seems like this is all fixed. I'll go ahead and close this issue.

[2016-08-05 19:58] #1452 closed

[2016-08-05 20:10] nicolas17 commented on #2030
This works and it's useful. But it's weird that panning on normal photos works as if it was a spherical pano.

![Panning normal photo](https://cloud.githubusercontent.com/assets/101955/17449160/21a45478-5b2f-11e6-8bfe-2eb628b8b013.png)

[2016-08-05 20:18] jdferrara commented on #339
Please rotate sequence WE9_9uUKh4r-ZKxNOwEnIg 180 degrees

[2016-08-05 20:28] ybkuang commented on #339
@Caboosey @jdferrara sorry about the wrong rotation. It is a known issue we are tracking it here as well https://github.com/mapillary/mapillary_issues/issues/1925. I will manually reprocess your sequence Monday next week @jdferrara.

In the mean time, we are working on a project to detect photos with wrong rotation automatically and we hope this will also reduce the manual work from your side in t

[2016-08-05 20:45] mrbrown8 commented on #2142
If there are photos that need obvious correcting, what's the SOP for this?

Example:  http://mapillary.com/map/im/UBbDkeYrPwDBfqojlKX3sg

[2016-08-05 21:07] ybkuang commented on #2142
@mrbrown8 The automatic detection of wrong rotations will serve as a helper for this task, so that you don't need to go through all your uploads.

And sure, we will have errors in the automatic detections. Therefore, on the side of this, we will also have the editor for users to manually rotate the images for those cases (as in blurs cc @blobgo). And we will use feedback from users to make the det

[2016-08-06 07:16] simonmikkelsen commented on #2026
@oscarlorentzon It is stille the same :-( In general I have no trouble viewing any spherical image and cannot view no normal image.

This is black: https://www.mapillary.com/app/user/tryl?lat=56.127738&lng=10.0178014&z=17&pKey=YGUVE-DQl5KnrblajGxQOA&focus=photo
This is shown: https://www.mapillary.com/app/user/tryl?lat=56.12558333333333&lng=10.135163888888888&z=17&pKey=6gGnqz1zHfb73U7gwgw5ag&focus

[2016-08-06 07:54] pbb72 opened #2157 ""Publish xx uploaded""
### Basic information
* Platform: `Web`
* System/Browser: `Chrome, Firefox`

### Steps to reproduce behavior

 1. Upload a long sequence (843 photos).
 2. Go to bed while the photos are being uploaded.
 3. Return the next morning to see the upload was successful, click the publish button.
 4. Exit the uploader, and open it again.
 5. Find a button on the bottom of the screen "Publish 843 uploaded"

[2016-08-06 07:59] pbb72 commented on #2152
Here you go: #2157

No, I am not using the upload scripts. I am using the interpolate_direction script because the online editor has been non-functional for almost a year. (And edit requests are currently still not executed.)

[2016-08-06 15:46] floscher commented on #2090
@oscarlorentzon Thank you, everything works now as expected.

[2016-08-06 15:46] #2090 closed

[2016-08-07 07:59] eugensim commented on #2123
@oscarlorentzon it's ok now thanks

[2016-08-07 17:17] pbb72 opened #2158 "Local leaderboards don't scroll"
### Basic information
* Platform: `Web`
* System/Browser: `Chrome`

### Steps to reproduce behavior

 1. Open the global leaderboard (Left menu > Leaderboard).
 2. Notice how you can scroll through the list.
 3. Enter a location name in the search box.
 4. Notice how you can't scroll the list anymore.

### Expected behavior

Scrolling shows the lower parts of the leaderboard list.

### Actual beha

[2016-08-07 19:31] richlv commented on #2148
trying the current site, i cannot zoom out enough to see the whole picture.
can we add some more zoomlevels for that ?

[2016-08-07 20:52] richlv opened #2159 "add a "fit to screen" button for the image viewer"
in the new website, it is possible to zoom in the images - which is great. but the images can also be panned, and to get the image back to "normal view", it is not enough to zoom out as much as possible.
it would be great to have a button for that (and maybe a keyboard shortcut, too ?)

the operation would fit the image to the display area and centre it perfectly.

[2016-08-07 20:54] richlv opened #2160 "add image zoom buttons"
images can be zoomed in/out now, which is great. it would be also nice to have some buttons for that.

[2016-08-07 20:55] richlv opened #2161 "add 'backwards' mode for blurring"
the 'clear all and submit' button now advances to the next image in the sequence. it would be nice to allow moving backwards, too - sometimes i start reviewing sequences from the middle or so.
this could be either a control that could be flipped and the buttons would change their operation, or the buttons could have different operation performed on the left/right side

[2016-08-08 00:57] nicolas17 commented on #2122
The site doesn't actually work on my iPhone 6. It runs out of memory, crashes the Safari web content process, and reloads. This repeats a few times until Safari gives up and shows an error message.

[2016-08-08 00:59] nicolas17 commented on #2100
Could this use a background NSURLSession? I think that would allow unlimited-time uploads, since they are handled by a different process altogether. iOS can suspend or even kill the Mapillary app and keep uploading.

[2016-08-08 01:05] nicolas17 commented on #1994
I think at this point we can't debug why this happened unless it happens again.

Could someone just delete the extra sequences?

[2016-08-08 01:07] nicolas17 commented on #1775
Is this page gone in the new website?

[2016-08-08 01:09] nicolas17 commented on #1542
I think this isn't relevant anymore in the Elva blur editor; if there was a similar problem, it would still be different enough to justify a separate issue.

[2016-08-08 01:09] #1542 closed

[2016-08-08 06:04] ghsamme commented on #2148
As I said when I started this; the only way to see the whole picture when browser window is i in landscape (16:9) format is to add blank area to the left and right of the image when zooming out. You really want to be able to see the whole image without scaling the browser window to a letterbox format. Not many that use a 4:3 sized screen nowadays... ;)

[2016-08-08 07:13] rsahlin commented on #1931
Another example is here:
https://www.mapillary.com/app/?focus=photo&pKey=cb3FbYZ7Dgya5y03l4-Csw&lat=47.20748027705426&lng=18.33117089860222&z=17

Camera information:
  Manufacturer: samsung
  Model:        SM-G930F

[2016-08-08 12:52] #1982 closed

[2016-08-08 12:52] #1864 closed

[2016-08-08 14:46] rsahlin opened #2162 "Compass autocapture angle setting not working"
Regardless of compass autocapture angle setting the used value is always 45.
The used value should be taken from settings.

[2016-08-08 16:37] gyllen commented on #2154
Thanks for resporting, this issue is tracked and will be solved in upcoming deploys.

[2016-08-08 16:39] gyllen commented on #2156
Thanks for reporting issue is tracked and will be fixed in upcoming release.

[2016-08-08 16:40] gyllen commented on #2030
@nickplesha Its the solution we went for since it the most consistent one, most people seem to like it

[2016-08-08 16:41] gyllen commented on #339
@ybkuang @Caboosey @jdferrara Yeah that feature is going to be awesome `computer vision FTW!`

[2016-08-08 16:43] gyllen commented on #2026
@simonmikkelsen @oscarlorentzon is working really hard to fix this issue, he will be gone on vacation for two weeks now, so expect some delay before he gets back to you

[2016-08-08 16:45] gyllen commented on #2157
@pbb72 Im trying to wrap my head around the issues that you have with the uploader. So in addition to web upload do you also use scripts?

[2016-08-08 16:47] gyllen commented on #2157
Ok just saw your answer in #2152, will foward this for further investigation.

Concerning changesets we are starting to approve but working us slowly through a giant backlag (and finding some issues along the way). So expect your changesets to be approved very soon.

[2016-08-08 16:51] gyllen commented on #2159
@angelday Can you explain our thoughts on this.

[2016-08-08 16:53] gyllen commented on #2160
@angelday Is this something that we might want to have. Im not sure, but we have on the other hand seen that it is needed on the map.

[2016-08-08 16:54] gyllen commented on #2161
@angelday  I think what we probably want is a set of keyboard shortcuts for `power users` such as @richlv

[2016-08-08 16:56] gyllen commented on #2122
@nicolas17 Yeah what we want todo is if possible just redirect you to the photo in the app. See my comments above about making it mobile friendly. Its not the highest prio right now.

[2016-08-08 16:57] gyllen commented on #1994
@peterneubauer Can you help @nicolas17 out with this?

[2016-08-08 16:57] gyllen commented on #1775
@nicolas17 Yeah it was outdated information anyway. Closing

[2016-08-08 16:57] #1775 closed

[2016-08-08 16:58] angelday commented on #2161
I'd like to support such use case (submit + forward/back) for more advanced users and simplify the UI for the common use case. Today we have a mix from both worlds.

[2016-08-08 16:58] gyllen commented on #2148
@oscarlorentzon This is a good point, we might wanna fix so you can zoom so you can see the whole image.

[2016-08-08 17:00] gyllen commented on #2161
Yeah I would say simplicity in the buttons and then a bunch of nice keyboard short cuts.

@richlv Any suggestions other than backwards and blur?

[2016-08-08 17:18] kertase opened #2163 "Missing documentation on needed Photo Sphere XMP Metadata"
Hello,

I am trying to upload spherical photos but I am missing the XMP Metadata.

I would like to know what xmp tags Mapillary needs to recognize and display Photospheres correctly but I cannot find anything about it in the documentation.

It would be nice to document the needed data for this.

Thanks

[2016-08-08 17:35] gyllen commented on #2163
@ybkuang  Do we have a somewhere were this is documented?

[2016-08-08 17:50] ybkuang commented on #2163
@kertase We are following this https://developers.google.com/streetview/spherical-metadata

[2016-08-08 19:39] kertase commented on #2163
Thanks for your swift reply.

There are a lot of possible fields in the specification are the , if I may reformulate my question which fields are required by mapillarý?

[2016-08-08 20:27] ybkuang commented on #2163
There are the field we are parsing

`CroppedAreaImageHeightPixels`
`CroppedAreaImageWidthPixels`
`FullPanoHeightPixels`
`FullPanoWidthPixels`
`CroppedAreaLeftPixels`
`CroppedAreaTopPixels`

Additionally, it will be good to have `PoseHeadingDegrees` (compass direction).

Unfortunately though, we are not currently using the `GPano` information for partial panorama (not 180x360 field of view) in the

[2016-08-09 06:39] rsahlin commented on #1933
This is a low prio issue - has not been reported since this.

[2016-08-09 06:55] rsahlin commented on #1892
Hi, back from vacation with renewed energy to tackle this issue.

I have a feeling that this problem happens due to a change that I did in the phone rotation check.

As it is now the phone needs to be rotated at least 180 degrees in order for the UI to rotate.
I suspect that there are sequences captured where the UI is actually upside down, the only visible difference will be that the 'Start' text

[2016-08-09 07:29] rsahlin opened #2164 "Disable thumbnail creation"
Do not generate thumbnails at runtime (when pictures are captures) as this will consume CPU resources leading to battery consumption and overheating.

[2016-08-09 08:11] mikini commented on #1892
Hi @rsahlin. Welcome back, hope to see this fixed soon too.

To add my experiences to your rotated UI hypothesis, I am fairly certain that most rotated sequences I have captured has not had the UI rotated. I see routinely when fixing my phone to the windshield mount and controlling the current settings that it takes a few seconds to get the orientation and align the UI correctly, so I guess I woul

[2016-08-09 10:55] Akaveeti opened #2165 "App and portal side issues"
Version : 2.37
App side

1) After uploading profile picture on the web, can't see profile pic in the app . It showing empty.

2) In case we take more than 3500+ pics.it's take to more than 1 minute  time to open that pictures.

3) In case by mistake deleted one good pic,want again that picture now it is not possible to restore so please provide undo option.

4) I start one place to take pics in ca

[2016-08-09 12:01] kertase commented on #2163
Thanks this clears things up. Would be nice to add in the doc like in https://github.com/mapillary/UserGuide/wiki/Uploading but I don’t know which page fits best…

[2016-08-09 12:01] #2163 closed

[2016-08-09 12:20] kertase opened #2166 "Bulk uploading images Taken less than a second apart"
Hello,

So I have been trying to upload pictures in bulk by adding missing tags with: https://github.com/mapillary/mapillary_tools/blob/18e7c953bad4a6b615f499b5e177df9c120e52ef/python/add_mapillary_tag_from_exif.py .

I have the following issue, the pictures have been taken about half a second apart but the script requires the DateTimeOriginal (even thought the doc says otherwise) which is then us

[2016-08-09 12:31] angelday commented on #2023
@de-vries we improved the HUD which improves displaying photo author. Your example looks fine now. I'm closing the issue.

[2016-08-09 12:31] #2023 closed

[2016-08-09 13:57] angelday commented on #2159
If I understand you correctly, you would like to see some kind of a mechanism to reset the view. If that's the case, we'll have a solution for you.

[2016-08-09 14:17] richlv commented on #2159
yes, pretty much - just getting full image in view, perfectly centred :)

[2016-08-09 14:21] richlv commented on #2161
whether it is a switch for fwd/back or two sides of the button, that doesn't seem to matter that much. unless the keyboard shortcut is very easy to use, buttons would be more preferred.
jumping to the next image with blur would be great, but that's a separate request :)

[2016-08-09 14:58] angelday commented on #2161
I like the idea.

[2016-08-09 16:56] kertase commented on #2166
So after more analysis the problem seems to come from the upload script that does not load the milliseconds from the GPSTime Tag. So I copied those to the SubSecTimeOriginal tag which does not seem to be read correctly either since it does not get add to "MAPCaptureTime": "2016_05_04_13_11_11_000"

So basically I am having the following issues in add_mapillary_tag_from_exif.py
1. When Not having D

[2016-08-09 16:56] rsahlin opened #2167 "Auto mode is not saved to preferences when switching in camera UI"
When the auto mode (distance or timer) is changed using the camera UI the current selection is not reflected in settings.

[2016-08-09 16:57] rsahlin opened #2168 "It shall be possible to change distance and timer settings regardless of current mode"
Using Settings it shall be possible to adjust both distance and timer interval, regardless of the currently selected mode.

[2016-08-09 16:58] HolgerJeromin commented on #652
Only hiding images had always had a smell in my view.
"OK, you don't want that image on the map. Good, but we only hide it, for us it is still usable for what ever we want." So +1 for deletion.

[2016-08-09 18:41] de-vries commented on #2161
I want to share my ideas about the controls I need for an optimal work-flow for the use-case of reviewing all photos in a sequence.

_In almost all photos  I need one of this three controls:_
**move to next photo**
When no modifications are needed I need to go to the next photo in the sequence. Now this can only be done with the arrows in the top. The up/down arrow keys often take you to another s

[2016-08-09 20:20] kertase commented on #2166
In line [166 of exif.py](https://github.com/mapillary/mapillary_tools/blob/18e7c953bad4a6b615f499b5e177df9c120e52ef/python/lib/exif.py#L166)  `capture_time = capture_time + datetime.timedelta(seconds=float(sub_sec)/1e6)` the sub_sec gets divided by 1⁶.

 I am not sure but as I understood it it does not indicate microseconds (see http://www.imagekit.com/IK9Help/source/controlreference/imagekitcontr

[2016-08-10 03:43] gyllen commented on #1667
@echeloni2p @yopaseopor Im looking into some inconsistencies for some sequences, I would be happy if you could go through your images and see if it looks better.

For http://www.mapillary.com/map/im/ql5KYUyqNz_F_qFs8hz_lg/photo it seems like its on null island though.

[2016-08-10 06:07] pbb72 opened #2169 ""Discard" and "Review" in editor lead to same result"
### Basic information
- Platform: `Web`
### Steps to reproduce behavior
1. Open the sequence editor.
2. Make some changes.
3. Click the "Discard xx changes" button.
4. Note the "You made xx changes to a sequence" dialog.
5. Click the "X" to close the dialog.
6. Now click the "Review xx changes as a new changeset" button.
7. Notice that you get the same dialog.
### Additional information

It seems

[2016-08-10 06:28] pbb72 opened #2170 "Can't change direction of multiple images individually"
### Basic information
- Platform: `Web`
### Steps to reproduce behavior
1. Open the editor.
2. Notice all photos in the sequence have a blue icon, and the "current" photo an orange one.
3. Select another photo, and notice how this one gets an orange icon.
4. Enter a new compass angle, and click "Set".
5. Notice how not the currently selected (orange) icon rotates, but the one that was originally s

[2016-08-10 08:21] rsahlin opened #2171 "MAPCaptureTime shall be UTC"
The time stored in MAPCaptureTime is local time - it shall be UTC instead.

[2016-08-10 09:45] RobyRemzy opened #2172 "Simple script Using MapillaryJS CORS error"
Hi, i was testing the example from `https://github.com/mapillary/mapillary-js`

[code]
On a Jekyll HTML template:
when open on localhost or on [GitHub pages](http://robyremzy.github.io/2016/mapillary-post-view/) i've got the dynamic picture, but when i click on the button Explore, it's doing nothing: "on FF and Chrome" see there from this live example hosted on [GitHub](http://robyremzy.github.io/

[2016-08-10 10:03] MPW1412 opened #2173 "Android: Auto Brightness is bad"
Dear Mapillary Developers,

I think the auto brightness calibration of your app for Android could do much better. I have a Samsung Galaxy S4, and most of the pictures I take for Mapillary are way too bright.

### Basic information
* Platform: `Android`
* Version: `2.37`
* System/Browser: `Android APK`

### Steps to reproduce behavior

 1. Take pictures with very bright sky
 2.
 3.

### Expected be

[2016-08-10 10:12] MPW1412 opened #2174 "Android: Keep taking pictures with display off"
Dear Mapillary Developers,

unfortunately Mapillary stops taking pictures, when you switch of the display of the phone. This wastes energy. I'm quite short on energy, when using Mapillary, as my phone consumes it faster than it can be charged. If it was possible, to switch the display off a lot of energy would be saved.

And the flickering display might be distracting too, while driving. So for sa

[2016-08-10 13:19] drkludge commented on #2173
One of the problems that I noticed at various times in the day is "burn-out".  I used to think that the issue was just in the desert--Arizona.  However, I experienced the same problems up north in Idaho, Wyoming, and Montana.  I can compensate for some of the problems by attempting to drive north and south verses east and west when I may be driving into the sun but that only works in a few cases.

[2016-08-10 14:02] rsahlin opened #2175 "Hard to tell why sequence capture has stopped"
If capture sequence is stopped due to disk threshold or battery (and perhaps other reason) it is hard to tell why.
A message is flashed on the screen but if the user does not look at screen within that timeframe it is impossible to know that capture is aborted.

Possible solution:
Make the message stay on screen.

[2016-08-10 14:16] GITNE commented on #2041
I was very happy when I read about Mapillary's release of the new web client. Unfortunately, I get a similar experience to what is described by others here, so it does not work for me. I am using ```Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:42.0) Gecko/20100101 Firefox/42.0```. Navigating the map works just fine. However, photos do not load and I can not do much when logged in either. :worried:

[2016-08-10 14:33] mxa commented on #1982
Is this related to that issue? ![tmp_21985-screenshot_20160810-1622071152657027](https://cloud.githubusercontent.com/assets/1220707/17557609/cc3ca1f2-5f52-11e6-82ca-8043db8b1ddc.png)

[2016-08-10 14:52] GITNE commented on #2161
Yeah, generally speaking the blurring editor needs shortcut support and arrow key navigation. I am all for @de-vries suggestions as long as they are transparent to the user.

[2016-08-10 15:11] ybkuang commented on #2166
@kertase Thanks for pointing this out. I think it is a bug there. Your fix look good. Would you like to do a pull request on this?

[2016-08-10 16:52] jfburke3 commented on #2014
I never noticed this before, but I have experienced it in 2.37 (Android).

[2016-08-10 17:03] jfburke3 opened #2176 "Power usage significantly higher in Android app version 2.37 in camera mode (even when not taking pics)"
### Basic information
- Platform: Android
- Version: 2.37-jakkooh
- System/Browser: 6.0.1
- Phone:  Samsung Galaxy S7 Edge
### Steps to reproduce behavior
1.  (optional)  Run your phone battery down pretty low for fun.
2.  Plug phone into a good car charger (cigarette lighter port).  I use Anker.
3.  Reboot your phone
4.  Use the phone's switcher feature to ensure that all apps are closed.
5.  Dis

[2016-08-10 17:22] jfburke3 commented on #1982
I don't think so.

--
Typos courtesy of fancy auto spell technology

On August 10, 2016 10:33:31 AM EDT, mxa <notifications@github.com> wrote:

[2016-08-10 17:42] kertase commented on #2166
Made a pull request for this

[2016-08-10 18:32] gyllen commented on #2169
@angelday I know this is by choice, feel free to argue for your case and close this issue if no action will be taken.

[2016-08-10 18:36] gyllen commented on #2172
@RobyRemzy It looks to me that you do not have a valid client_id. Have you created one in settings?

[2016-08-10 18:39] gyllen commented on #2041
@GITNE It looks like https://npmcdn.com/mapillary-js@1.6.0/dist/mapillary-js.min.js is not loading for you. Can you confirm that?

[2016-08-10 18:40] gyllen commented on #2161
@de-vries I like it

[2016-08-10 20:35] GITNE commented on #2041
Correct. When I surf to this link I get a captcha to solve. After solving it and then surfing to https://www.mapillary.com the web client works fine.

@gyllen Can you move the captcha in front of https://www.mapillary.com and make solving it *valid* for all subsequent requests made from Mapillary web pages, at least for those who are or have to be affected by the captcha?

[2016-08-10 20:43] gyllen commented on #2041
@GITNE Is this the cookie banner?

[2016-08-10 22:10] GITNE commented on #2041
@gyllen I am not sure what you mean by *cookie* *banner* but this is what I get when I go to https://npmcdn.com:
![captcha](https://cloud.githubusercontent.com/assets/15823872/17573028/fb9a9044-5f57-11e6-922d-db6b1108263a.png)

[2016-08-10 22:35] GITNE commented on #2161
Hmm, apparently the blur editor does have arrow key navigation, however this refers to navigation in space, not in the sequence. I think having both would be great. Perhaps ```Page-Up```/```Page-Down``` would be nice for navigating the sequence?

[2016-08-10 22:48] GITNE commented on #2161
@gyllen Anyhow, the new blur editor has become much more ergonomic and agile than in the previous version. Latency has reduced dramatically too. :+1: for that! :smiley: There are still some quirks (like keyboard support) but you're on a good path. Keep it up! :smile:

[2016-08-10 23:02] gyllen commented on #2041
Wow I never seen this before. It looks like npmcdn thinks that you are a robot and will not let you access its content.

Have you done any scanning against their network or are you using some kind of tool to reduce your headers from the browser?

Trying to figure out why they would trigger against you. Also have you noticed problems on any other site, `npmcdn` is pretty commonly used.

[2016-08-10 23:05] gyllen commented on #2161
@GITNE Hey, thanks! Nice to hear. We have been a small team a long time but finally managed to hire some new (super skilled) people to help us keep up on all areas.

So keep on filing issues and keep pushing us. Your feedback are always appreciated!

[2016-08-10 23:30] descilla opened #2177 "naviation buttons are disappearing in sequence view in portrait view"
### Basic information
* Platform: `iOS`
* Version: `4.4.8`
* System/Browser: `iPhone 6s`

### Steps to reproduce behavior

 1. Tap on sequence on map or select sequence from "profile"
 2. (after "view" is updated) Rotate phone from portrait to landscape.
 3. Tap on arrows at the top (left or right).

### Expected behavior

Arrow controls should be still available/visible.

### Actual behavior

The

[2016-08-10 23:33] GITNE commented on #2041
No, I am not scanning anybody's network. I am using a *public* proxy. npmcdn.com is not the only domain that I am getting this annoying captcha by CloudFlare. To be honest, CloudFlare is actually very bad at heuristically distinguishing true bots from humans or flooding attacks. The main problem with CloudFlare's algorithm is that it does not learn nor does it remove IPs or domains from their *bla

[2016-08-10 23:51] gyllen commented on #2041
@GITNE Yeah I agree its horrible. We use cloudfront for most of our assets, have you had any problems with them?

If this is standard CloudFlare behavior then we might consider just hosting that asset ourselves.

[2016-08-10 23:53] gyllen commented on #2041
If you are using a public proxy though that other people use, then you will be punished for other peoples wrong doings.

[2016-08-11 01:15] RobyRemzy commented on #2172
ow indeed! i was using a client_id for an other github page! i was confused about the purpose of the client_id but in fact it's better to do like this, very well thank you @gyllen to point out this to me, my problem is solved, see the working example (probably delete in a few days tho) at http://robyremzy.github.io/2016/mapillary-post-view/

[2016-08-11 01:15] #2172 closed

[2016-08-11 06:19] richlv commented on #2161
@GITNE, there are rumours that alt+up/down might move in sequence, but that doesn't seem to be documented, so not that sure about it :)

[2016-08-11 06:21] richlv opened #2178 "make blur work left/up, too"
the previous blur editor allowed drawing the rectangle in all directions, the new one only right & down.
please make it possible to draw it in all directions.
i'm sorry if this is a duplicate, but i searched and searched and could not find an existing issue.

[2016-08-11 06:24] richlv opened #2179 "provide "basic zoom" for blur editing"
the new interface has zoom - which is great. but the zoom now is sort of putting even single photos on a sphere. this is fine in the viewer, but in the blur editor it makes things more difficult - the image portion that is visible becomes sort of rotated, thus one can never be sure how the blur rectangle will come out.

for example, if there's a licence plate that is displayed horizontally aligned

[2016-08-11 06:24] richlv commented on #2047
the instruction have been updated and the mode is unlikely to be changed (as dragging now pans the image) - should this issue be closed ?

[2016-08-11 06:25] richlv commented on #2043
wait, it actually submits all blurs on the last image ?
i have submitted some crappy requests then...

[2016-08-11 07:24] de-vries commented on #2043
No, you have to submit before moving or you lose all changes, so this has been fixed.

[2016-08-11 07:24] #2043 closed

[2016-08-11 07:46] de-vries commented on #2178
It's a bit hard to find but here it is: https://github.com/mapillary/mapillary-js/issues/163

[2016-08-11 08:02] de-vries commented on #2047
There is still the possibility to move panning to `right-click` or `shift-click`

[2016-08-11 08:10] richlv commented on #2178
oh, so that's a different project now... will have to keep that in mind :)
thanks, closing this one.

[2016-08-11 08:10] #2178 closed

[2016-08-11 08:58] rsahlin commented on #2176
Thanks for reporting @jfburke3

My current focus is battery usage and performance, I am working on a first version that does not generate thumbnails at runtime.
This should lessen battery usage somewhat, after this release I will rewrite the Camera UI to make it more optmized.

Is there a github issue for the crash-out-of-camera-mode?
If not could you please create one with attached logs, I would

[2016-08-11 09:05] rsahlin commented on #2174
Hi @MPW1412 and thanks for your comments!

I am currently working on optimizing the app to reduce battery consumption, there are a couple of things I will do before working on taking picture with the display off.
Please look out for enhancements in the coming releases.

Also, changing this to enhancement rather than bug.

Best regards
/Richard

[2016-08-11 09:13] rsahlin commented on #2173
Hi @MPW1412 and thanks for reporting!

Yes, I agree - I would like to work on improving support for settings in the app.
It would be great if we could have a consistent testcase for comparison, so that we know if a specific release improves picture quality.

Best regards
/Richard

[2016-08-11 09:18] rsahlin opened #2180 "Generated thumbnail is always 4:3"
Thumbnails created with call to Thumb.getThumb() will always have size 400 * 300 and thus ignoring the aspect of the original picture.
The aspect of the original picture shall be preserved.

[2016-08-11 09:19] pbb72 commented on #2047
...or just to disable panning while drawing a rectangle.

[2016-08-11 09:21] richlv commented on #2047
@pbb72, but how would one determine when panning is intended, and when the rectangle operation is intended ? the dragging would be the same.

[2016-08-11 09:23] pbb72 commented on #2047
@richlv True, didn't think this properly through.

Actually, many interfaces that allow both dragging a background and drawing rectangles on top of it, use Shift+Drag to draw. See for example the zoom to area functionality on OSM's slippy map.

[2016-08-11 09:23] rsahlin opened #2181 "Logout from Facebook not working"
In logout - click on logout app will be close automatically this is a BUG.correct way is after click on logout app want to go login to the page without any credentials.

After log out open that app it's connected and log in to the recent user automatically.we have no choice to log in another new user .

[2016-08-11 10:30] MPW1412 commented on #2174
Hello Richard,

great to hear, that this is on your least. Feel free to push the priority up ;).

Looking forward for new features.

Regards,
Matthias

[2016-08-11 10:46] MPW1412 commented on #2173
Hello Richard,

thanks for looking into this. Some typical situations are those:

http://mapillary.com/map/im/Yebx8kdtZbAFJyKXWFvdjQ
Highway, sky is perfect but the landscape is too dark.

Or this:
http://mapillary.com/map/im/l8ruv4RNqa4ywNPXF68d3g

Sky is perfect, you can see each and every single cloud, but the landscape looks kind of dark and grey.

The second picture is the idea for the algori

[2016-08-11 12:00] millenbop commented on #2114
I had indeed inverted the IF :/ Submitting a new build today.

[2016-08-11 17:29] gyllen commented on #2172
@RobyRemzy This looks great. Would you be up for making a guest blogpost on our blog about this?

[2016-08-11 17:31] gyllen commented on #2161
@GITNE Not to my knowledge. We are right now discussing short cuts though. Do you have any suggestions?

[2016-08-11 17:32] gyllen commented on #2179
@richlv I see your point. Im not sure if this is something @oscarlorentzon can think about implementing in MapillaryJS.

[2016-08-11 17:35] gyllen commented on #2047
@richlv Your right on point ux problem is that we have two different things we want to do with drag.

I do like the modifier key and I think that it will probably be used by power users. But we probably need some kind of mode buttons for new users. So they can clearly see if they are in dragging or blur mode.

[2016-08-11 17:40] gyllen commented on #2145
This should now be fixed (no more 500s), also we are still working through the changesets. Exepct approve emails very soon.

[2016-08-11 17:40] #2145 closed

[2016-08-11 17:41] gyllen commented on #2134
@angelday What about this idea as you go through the images with play we pause if there are blurs in the image.

[2016-08-11 17:43] gyllen commented on #2110
@angelday Keyboard shortcuts for the viewer.

[2016-08-11 18:16] rausk opened #2182 "Pause on stop does not work in Time based Automatic mode"
### Basic information
* Platform:  `Android`
* Version: `4.4.2`
* System/Browser: `...`

### Steps to reproduce behavior

 1. check box Pause on stop
 2. select Automatic mode, Time based
 3. Start sequence while driving, then stop car

### Expected behavior
no further photos are taken
...

### Actual behavior
more photos are taken
...

### Additional information
Because of the bad colour scheme i

[2016-08-11 19:45] echeloni2p commented on #1892
Hi

got a few rotated tracks today out of nothing, too.
Username: aceini
https://www.mapillary.com/app/user/aceini?lat=52.13261517168452&lng=10.057396337356778&z=17&pKey=wUDYI11BFNfGAim1WMoxdg&focus=photo
https://www.mapillary.com/app/user/aceini?lat=52.15011181339808&lng=9.972387336426062&z=17&pKey=GkdJ6DSWJm0SwdCNUtK7BA&focus=photo
https://www.mapillary.com/app/user/aceini?lat=52.1349257606041&l

[2016-08-11 19:47] richlv commented on #2047
one way would be having modes with buttons like josm does - although it would slightly clutter the interface

[2016-08-11 19:55] richlv commented on #2161
in general, i'd prefer buttons for most things except maybe fwd/back/clear-all/submit. and a toggle (a button) for "lock to sequence". all other things would be better as ui buttons.
so arrows for fwd/back, maybe 'enter' for submit and smth for clear all - with the last two being less important.

if you really, really think about creating a power user tool, do it as a josm plugin. that will be eas

[2016-08-11 20:45] jfburke3 commented on #2176
Yes, the crash-out-of-camera-mode is github issue 2108. [https://github.com/mapillary/mapillary_issues/issues/2108](url)

[2016-08-11 20:46] jfburke3 commented on #2108
Just a note that this is happening in 2.37, too.  I haven't sent in any fresh logs recently for it, but I can if you want them.

[2016-08-11 21:00] kaitu opened #2183 "Please allow low max tilt setting"
### Basic information
* Platform: `Android`
* Version: `2.37`

### Steps to reproduce behavior
 1. Go to settings
 2. Select "Max tilt in degrees" setting
 3. Move the slider to the left

### Expected behavior
The slider can be moved to value 0

### Actual behavior
The slider cannot be moved to values lower than 20

### Additional information
Regression from previoius version

[2016-08-11 21:11] jfburke3 commented on #2014
@kaitu If you set the battery threshold to (for example) 15%, does it stop when your battery reaches that level?  I've just noticed that the battery limit seems to be ignored altogether....

[2016-08-11 22:29] pbb72 commented on #2047
A new thought -- In the current situation, it's possible to pan while drawing a rectangle. This is valuable functionality. In solutions with modifier keys or toggle buttons, that will no longer be possible.

I'm moving more towards that the current solution might actually be the best.

[2016-08-11 22:42] richlv commented on #2047
i'm not a huge fan of the modifier keys at this time - but why wouldn't it be possible to have panning on normal drag + rectangle on shift+drag (or vice versa) ?

[2016-08-12 00:10] iav opened #2184 "Need a space photo view instead map option for photo review location screen"
In web uploader after image uploaded is an option to precise image location.
Need a photo view option for photo review location screen.
Sometime map have no landmarks to precise location, but photo have.

[2016-08-12 06:11] pbb72 commented on #2047
@richlv because you start drawing a rectangle by holding down Shift and dragging. Then, when you want to start panning while drawing the rectangle, you release Shift. At that moment, an end of the Shift+Drag action is observed, and the rectangle is finished, which makes it impossible to pan while drawing a rectangle.

This is normally how modifiers behave in my experience, but maybe it's possible

[2016-08-12 08:17] rsahlin commented on #2176
Hi @jfburke3

But #2108 is Pause on stop not working :-)

Best regards
/Richard

[2016-08-12 08:20] rsahlin commented on #2108
Aha, this is a mistake on my part.

The option 'Pause on stop' will be removed.
Timer base capture shall be used when you want to have a specific number of pictures per second, regardless of your movement.
Distance based capture shall be used to get evenly distributed pictures, based on distance - for instance driving in a car and stopping.

Best regards
/Richard

[2016-08-12 08:49] #2108 closed

[2016-08-12 10:45] pbb72 opened #2185 "Ambiguous photo direction"
What is wrong with sequence `EV-qA0EByvsPGZEf68l4qA`? On initial inspection, the direction arrows are correct, but when hovering one of the icons it is shown facing north (0 degrees), the same is true for the "preview" icons when using the direction arrows, and using the JOSM plugin all are shown facing north. In iD and in the sequence editor, they are correct.
![mapillary](https://cloud.githubuse

[2016-08-12 11:41] retro commented on #2157
This was fixed in one of the recent releases. Please reopen this issue if you encounter this bug again.

[2016-08-12 11:41] #2157 closed

[2016-08-12 11:41] retro commented on #2146
This was fixed in one of the recent releases. Please reopen this issue if you encounter this bug again.

[2016-08-12 11:41] #2146 closed

[2016-08-12 11:42] retro commented on #2092
@peterneubauer I believe this shouldn't happen anymore. Can you please confirm that this is fixed?

[2016-08-12 11:42] retro commented on #2085
This was fixed in one of the recent releases. Please reopen this issue if you encounter this bug again.

[2016-08-12 11:42] #2085 closed

[2016-08-12 11:43] retro commented on #2069
This was fixed in one of the recent releases. Please reopen this issue if you encounter this bug again.

[2016-08-12 11:43] #2069 closed

[2016-08-12 11:44] retro commented on #2064
This was fixed in one of the recent releases. Please reopen this issue if you encounter this bug again.

[2016-08-12 11:44] #2064 closed

[2016-08-12 12:05] GITNE commented on #2161
Indeed, this key combination does traverse the sequence. :laughing: Unfortunately, this is not transparent to the user. Personally, I would prefer ```Page‑Up```/```Page‑Down``` because it is not a key combo, easier and faster to grab than a key combo, and the blur editor is not designed to have scrolling pages anyway. So, this makes a natural choice IMHO.

Besides, I have found a bug while using t

[2016-08-12 15:39] jdferrara commented on #339
@ybkuang @gyllen still looking like sequence WE9_9uUKh4r-ZKxNOwEnIg is upside down. If its easier, you can delete this one and I can take another bike cruise through my neighborhood with the camera pointed in the right direction this time :)

[2016-08-12 15:58] ybkuang commented on #339
@jdferrara ah, I missed that one probably. Will do the rotation for you soon (no need to delete)

[2016-08-12 17:12] gyllen commented on #1892
@echeloni2p Good news is that we have started to detect all of these with computer vision. We are going to need an interface though where people will approve if its a rotation or now.

Results looks promising though right @ybkuang @paulinus ?

[2016-08-12 17:15] gyllen commented on #2184
@iav At the moment you can see the photo (a preview) before you upload the images. Have you seen that.

Its actually preferred to fix location before upload. We need to better explain that.

[2016-08-12 17:16] gyllen commented on #2047
I think modifier key is the only way to go. Thats is how its solved in most editors today.

[2016-08-12 17:18] gyllen commented on #2185
@ptpt Can you check the tile for this sequence?

@pbb72 The basic problem here is that the information comes from two sources (the tile and the API). In this case the API is right but the tile information is wrong.

[2016-08-12 17:24] gyllen commented on #2161
@GITNE I agree with everything above. We have users from many different categories and having them install JOSM can be.... quite a challenge. I love JOSM but its the mother of all power tools.

We should focus on making web experience great but also put more focus on clearly document the main three things in the mapillary platform `MapillaryJS`, `Vector Tiles` and `API`. This way we can encourage

[2016-08-12 17:56] pbb72 commented on #2185
Does the JOSM plugin not get the information form the API?

[2016-08-12 18:01] iav commented on #2184
Not a fix - I writing about upload photo via web browser on a desktop.
And ask kind of a google satellite to make more accurate position of a photo I want to upload. It means when gps in city between bug houses make a big errors.
And map often not have enough orienteers.

[2016-08-12 18:15] de-vries commented on #2047
@gyllen If you go with `Shift-drag` then I think you should also keep the current method. It's easier for noobs and touch screens.

[2016-08-12 19:27] jfburke3 commented on #2108
That's fine, but please be sure that distance mode works (currently it takes pics even when stopped--I have a case open for that).

[2016-08-12 19:30] jfburke3 commented on #2176
Ugh.  I confused myself with too many tabs open.

It's #1934  https://github.com/mapillary/mapillary_issues/issues/1934

[2016-08-12 21:35] pbb72 commented on #2157
Confirmed, I don't see the button anymore :-)

[2016-08-12 23:07] kaitu commented on #2014
Uhm, I tested it in 2.37-jaakkoh and appears to be fixed: capturing stops when the battery limit is reached, and it doesn't stop anymore at 5% when the limit is lower.

[2016-08-13 02:58] iav commented on #1892
I found one completely rotated up-down panorama sequence https://www.mapillary.com/app/?lat=56.9493822&lng=24.1262171&z=17&pKey=5vfaySh709N8kVNDnctMZw&focus=photo
I am sure I perform a review before upload, and photos was showed normal on phone (Galaxy Note 4).

[2016-08-13 03:23] iav commented on #2044
For a sequence reviewing also can be usable buttons for moving to first and last photos. Maybe, for really large sequences - for 100x - some kind of number (or datetime, or track length) navigation. Just to have a way to continue long review process after day pause.
And option for disable all transition effects.

[2016-08-13 09:00] rsahlin commented on #2014
Hi @kaitu and thanks for reporting

I will look into this in the coming week.

Best regards
/Richard

[2016-08-13 10:39] ptpt commented on #2185
All directions of this sequence are found to be unknown (-1) in the sequence database (the data source for generating tiles). We should fix the database first.

Thanks for reporting.

[2016-08-13 21:09] yopaseopor opened #2186 "Editor hungs up when I edit a sequence"
I try to edit the position of some pics in a sequence to be more accurate (e.g. I'm going by left lane but the GPS said right lane so I zoom map and try to move the pic to the left side of the road. Well, I have done it with 10 pics because...editor hungs up. When I retry to do it, exit Mapillary, reenter, I can move one and then editor rehang up it. I run Windows 7, latest Firefox 48. Chrome is n

[2016-08-13 21:30] danbjoseph commented on #1502
I am interested in being able to delete images because the first couple in a sequence I uploaded had the incorrect GPS coordinates. I was using a Garmin Virb Elite and I guess I didn't wait long enough for a location fix. See those off to the right in the screenshot.

![screen shot 2016-08-13 at 4 56 30 pm](https://cloud.githubusercontent.com/assets/4806884/17645707/53c6720e-617b-11e6-9e5b-37791c2

[2016-08-14 08:21] smsm1 commented on #2186
I often get similar issues on Mac OS X Firefox and Safari.

[2016-08-14 08:50] smsm1 opened #2187 "Delete photo icon in new uploader is hidden with white background"
### Basic information
- Platform: `Web`
- System/Browser: `Firefox 47 on macOS Sierra public beta`
### Steps to reproduce behavior
1. Select a photo with a white (or close to) colour on the top right of the image and upload
2. Select the image in the review screen
### Expected behavior

To be able to see the delete button.
### Actual behavior

Unable to see the delete button. Screenshot.

![mapill

[2016-08-14 09:12] smsm1 commented on #2161
I'd really like to have keyboard shortcuts to save my hands from RSI with repetitive moves of the trackball. Also note that the compact Apple keyboards (which I use) required require `fn`+`down arrow`/`up arrow` to get page down/up, so letter keys like in vim command mode would be preferred.

[2016-08-14 09:16] smsm1 commented on #2161
Oh there is also #360 that I started ages ago about keyboard shortcuts. The new uploader would be useful to have keyboard shortcuts too, particularly for deleting image, and also selecting the next image in the sequence after a delete.

On the choosing previous or next photo to select after deleting, you could follow the Apple Mail approach where it remembers the direction you have be going over t

[2016-08-14 09:39] smsm1 opened #2188 "Mass editing of image locations"
### Basic information
- Platform: `Web`
- Version: `image uploader/track editor`
- System/Browser: `all`
### Steps to reproduce behavior

Sometimes images are offset from the road that they need to be be on, and it's better to adjust them all, however it's currently time consuming to manually edit large number of images.

It would be rather interesting to be able to mass edit the image, potentiall

[2016-08-14 09:53] smsm1 opened #2189 "Show bus stops/cycle parking on the map editor/uploader"
Bus stops and cycle parking are rather useful for helping to improve the positioning of photos, could these be added to the high zoom maps in the uploader and map editor please?

[2016-08-14 10:39] smsm1 opened #2190 "Uploading through the new uploader stalls with EXCEPTION: 'pack' error"
### Basic information
- Platform: `Web`
- System/Browser: `Firefox 47 macOS Sierra public beta`
### Steps to reproduce behavior
1.  Select a bunch of photos for upload
2. Position the photos correctly (several were out due to the urban canyon effect and tunnels/bridges)
3. Hit upload
### Expected behavior

All photos to upload successfully, and if there is an error on upload to allow the use to re

[2016-08-14 10:56] smsm1 commented on #2190
I should note that this has happened at least twice now. As most of them have uploaded, I'm leaving gaps as it's too much effort to find the files to fill those smallish gaps.

[2016-08-14 12:04] richlv commented on #2161
@GITNE, at least on my systems, blur editor often gets vertical scrolling, thus up/down is annoying sometimes already.
regarding the JOSM usage, i didn't suggest that the web interface shouldn't be made better - just that investing a lot of time in it to recreate what josm has to support advanced users might not be the best course right now :)

@gyllen, note that i only suggested leveraging josm f

[2016-08-14 13:34] pkoby opened #2191 "Some Sequences Never Load Images"
### Basic information
* Platform: Web
* System/Browser: Ubuntu 14.04, Chrome and Firefox, Windows 10 Firefox

### Steps to reproduce behavior

 1. Visit https://www.mapillary.com/app/?lat=42.33547975000002&lng=-71.17741092&z=17&pKey=_NEEJkl9UD7j57xKdprlpQ&focus=map
 2. Wait

### Expected behavior

I would assume that this sequence would load, show images, at least show some sequence info.

### Act

[2016-08-14 13:39] GITNE commented on #2161
@smsm1 If you are using a non-standard keyboard then it is **your** **personal** **choice**. You can not expect others to adhere to or to support non-standard hardware. So, you do not have an argument here. However, what everybody can and should expect from any vendor is to comply with standards.
AFAIK, no web browser currently exposes any JavaScript API to query for attached keyboards. In Apple's

[2016-08-14 13:50] GITNE opened #2192 "Blur editor does not load blurs"
Please see https://www.mapillary.com/app/blur?pKey=yG2Dw4erq_sjw-hX3x-eQA&focus=photo.

Also, after navigating the blur editor on this photo breaks loading blurs on any subsequent photos.

[2016-08-14 14:01] richlv commented on #2161
@gitne, let me clraify. mapillary image viewer in general is slow even on the bare, non-virtualised hw. i was just adding a comparison that josm runs perfectly fine even in a limited vm (a different setup) while mapillary website becomes completely unusable there.

[2016-08-14 14:02] GITNE commented on #2192
The same happens with these photos:
https://www.mapillary.com/app/blur?pKey=C9oB--diaMNWYjSpqeQI8g&focus=photo
https://www.mapillary.com/app/blur?pKey=RFMBDapoNH2kInknb28sIA&focus=photo
https://www.mapillary.com/app/blur?pKey=fZ9zuln85X9mwaDjgvqTiA&focus=photo

[2016-08-14 14:05] GITNE commented on #2161
@richlv Thank you for the clarification. However, your comparison is flawed. It is like comparing apples and oranges.

[2016-08-14 15:13] de-vries commented on #2192
I'm able to reproduce this by going in the blur editor and hitting refresh. Also when you follow a link to mapillary.com/app/blur* you get the blur editor with no blurs.
This behavior started after updates to the blur editor saturday evening (Europe).
Refreshing is how I can reproduce it, however it also happens on seemingly random moments.

@GITNE you can 'fix' this by closing and reopening the b

[2016-08-14 15:40] GITNE commented on #2192
No, closing and reopening the blur editor does nothing (for me). Refreshing/reloading the web page does seem to *fix* this issue. However, when loading the page for the first time this behavior is **always** reproducible, so it should not happen in the first place. I am assuming that either there is a problem with data stored in the database or the web client is processing data incorrectly.

[2016-08-14 17:29] pkoby commented on #2192
I have noticed that after editing some blurs, if I go back to the images which I submitted, they show the lock overlay. However, I revisited a sequence that I had edited, and those images that I had un-blurred still showed the blurred portion, but without the blue boxes and without the lock overlay. Perhaps this is related to your issue? Maybe someone edited the images but they haven't been approv

[2016-08-14 17:42] GITNE commented on #2192
@pkoby No, this is unrelated. The backend simply takes some time to actually generate/render a *new* *photo* without or newly added blurs. This kind of delay works as intended/designed.

[2016-08-14 18:46] smsm1 commented on #2161
@GITNE I'm using a standard keyboard that comes with pretty much all Macs, and the mention of it was simply to have the option of single key presses taking account of the fact there is no page up/down key on these and other keyboards. Taking a quick look online there are several other brands of keyboard which don't have a dedicated page up and down key, requiring you to also use the fn modifier ke

[2016-08-14 18:59] smsm1 commented on #2161
Also the fn+page up/down sends the normal page up/down command, thus no keyboard specific info is required. It is the keyboard itself that converts the extra keyboard press to the standard command.

[2016-08-14 19:14] iav commented on #2161
Better not use two-handed combinations. fn+arrows not just 2-keys, but 2 hand.

[2016-08-14 20:20] kaitu opened #2193 "Android app: please reintroduce delay on first shot after pause"
### Basic information
* Platform: `Android`
* Version: `v 2.38`

### Steps to reproduce behavior

 1. pause sequence by rotating the phone (pause on tilt or pause on face-down)
 2. straighten the phone to restart sequence

### Expected behavior
A post pause resume delay can be set, to allow for aiming the phone and focus the target before first photo is shot.

### Actual behavior
A photo is shot i

[2016-08-14 20:27] kaitu commented on #2183
Just checked Version 2.38; the issue is still there.

This problem, combined with #2193, resulted in a photo session producing way more unwanted shots than useful ones.

[2016-08-14 20:46] kaitu commented on #2014
@rsahlin thanks for looking into this.
The unwanted stop at 5% happened again today.  More precisely, every time I have seen it happen, was while trying to resume after pause: the sequence was stopped instead, with the 5% battery message. Subsequent attemps to start a new sequence, also resulted in an immediate stop with 5% battery message.

[2016-08-14 22:10] smsm1 commented on #2190
I've come across this error again with images with edited locations.

[2016-08-14 23:40] GITNE commented on #2161
@smsm1 Obviously you have a problem understanding what *the* or *a* standard is. Just because your non‑standard keyboard comes with every Mac does not mean it is a standard keyboard. Again, it has been **your** **personal** **choice** to choose a non-standard keyboard from Apple, so your complain is inadmissible as an argument. Trying to avoid key combinations for ergonomic reasons where possible

[2016-08-14 23:43] richlv commented on #2161
@gitne, this is getting a bit too aggressive. i'm not a fan of apple by far, but the point @smsm1 raised was quite valid, and a bit more civil argument would be appreciated, thanks :)

[2016-08-15 07:41] #2083 closed

[2016-08-15 07:41] #2171 closed

[2016-08-15 07:41] #2167 closed

[2016-08-15 07:41] #2168 closed

[2016-08-15 07:41] #2164 closed

[2016-08-15 07:41] #2162 closed

[2016-08-15 07:41] #1954 closed

[2016-08-15 07:43] rsahlin commented on #1820
Hi @iav

I am contemplating 'fixing' this by locking the orientation of the review activity to portrait - what do you think?

Best regards
/Richard

[2016-08-15 08:35] filipca opened #2194 "M stands for Mega"
### Basic information
 `Web`

### Steps to reproduce behavior

 1. Click on your username
 2. Click on "Uploads"
 3. With more than a million pictures, you get an m instead of M.

### Expected behavior

... M

### Actual behavior

...m

### Additional information
https://en.wikipedia.org/wiki/Names_of_large_numbers
https://en.wikipedia.org/wiki/Names_of_small_numbers

...

[2016-08-15 08:35] rsahlin commented on #2014
@kaitu Are you charging when this happens, ie is the mobile connected to USB?

There is a check that sets the level to 5% if the phone is charging, however this does not seem correct.
I think the limit should be the same regardless if phone is charging or not.

Best regards
/Richard

[2016-08-15 08:42] rsahlin commented on #2183
Hi @kaitu and thanks for reporting

Why do you want the value to be able to be less than 20 degrees?
Is it due to images captured being tilted - if so could you please point me to such an image?

Best regards
/Richard

[2016-08-15 08:52] rsahlin commented on #2182
Hi @rausk and thanks for reporting

The setting 'Pause on stop' was connected to driving mode - this mode has been removed and is now replaced by distance based capture mode.
Please use this mode instead while driving.

We will be looking into the UI design in the future.

Best regards
/Richard

[2016-08-15 08:52] #2182 closed

[2016-08-15 08:59] rsahlin commented on #2193
Hi @kaitu

The delay after pause affects all captured images, if a capture is skipped due to for instance tilt we want to try to take the next picture as soon as possible.

Could you please try out the distance based capture mode?
In this mode pictures will be captured by distance to previous capture (and compass angle rotation) - if you want an additional picture taken, just press the preview tex

[2016-08-15 09:03] rsahlin commented on #1992
Hi @wegavision

Could you please test with latest 2.38 release and verify if the problem is still there?
I will close this issue - please reopen if needed.

Best regards
/Richard

[2016-08-15 09:03] #1992 closed

[2016-08-15 09:15] rsahlin opened #2195 "Left align camera preview texture"
The preview should always be left aligned in the preview window, this is currently only done if the aspect diff is larger than 0.29%

[2016-08-15 10:48] rsahlin opened #2196 "Localize text strings"
Move all text strings that are shown to user to strings.xml so that the app can be localized.

[2016-08-15 12:55] kaitu commented on #2014
@rsahlin Ah, that explains the different behavoiurs I was getting. Indeed the phone was connected to a charger every time the 5% level was triggered. As the phone drains the battery faster than it's recharged, I consistently hit on the 5% problem.

[2016-08-15 13:04] iav commented on #1820
It will be a little too much: u usr landscape view during review photos, because photos made in landscape mode, and takes enough screen space in that mode.

Maybe, you can add a checkbox "sequence ready for upload" to upper right menu when see a list of photos inside sequence?

-----Original Message-----
From: Richard Sahlin <notifications@github.com>
To: mapillary/mapillary_issues <mapillary_issu

[2016-08-15 13:45] kaitu commented on #2193
Well, I guess most users want that. I definitely don't. What harm could a post pause delay setting cause, as long it also still allows a 0 value?

TL;DR : no

I take all pictures manually, in that for each shot I want to decide when to take it and where to aim the camera. I know there's a manual mode exactly for this. Unfortunately, it doesn't fit my needs too well.  Fact is, I've got wabbly feet,

[2016-08-15 14:02] rsahlin commented on #2014
Good - an update is on it's way and will be out within a week.

Best regards
/Richard

[2016-08-15 14:07] kaitu commented on #2183
Main reason, a pretty personal, I provided in #2193. Furthermore, I often shot in environments without clear horizontal or vertical reference. At times, with the camera held at odd angles away from my body, I therefore find it difficult to understand when the camera is levelled. The debug information offers tilt angle reading on the screen, but the character is so small that I cannot read it. Not

[2016-08-15 15:36] rsahlin commented on #2193
Hi @kaitu and thanks for explaining

I do not think you made the request on a whim - I want to understand how to best solve this issue :-)
I will look into the logic behind this, please be patient.

Best regards
/Richard

[2016-08-15 17:23] rsahlin commented on #2183
Hi @kaitu and thanks for the explanation

Now I understand the problem at hand and will keep it in mind when looking into #2193
Please be patient.

Best regards
/Richard

[2016-08-15 21:51] gyllen commented on #2184
@iav Aha yes I understand now. We will add the ability to switch to satellite maps for the editor, viewer and uploader. Will that help?

[2016-08-15 21:52] gyllen commented on #2044
@iav I agree in this. In some cases transitions is just in the way and you want to load a sequence super fast.

@oscarlorentzon How hard would it be to implement sequence mode in `MapillaryJS`?

[2016-08-15 21:53] gyllen commented on #1502
@danbjoseph We will very soon roll out this functionality, sorry for the delay.

[2016-08-15 21:57] gyllen commented on #2188
@smsm1 I agree on this. We do need to consider way to make the editor experience more smooth.

[2016-08-15 21:58] gyllen commented on #2189
@smsm1 This are all information that is availble in OSM right. So ti would only be a matter for us to have another base map?

[2016-08-15 22:02] gyllen commented on #2191
@pkoby Thanks for reporting on this. The images seems to be consistent but the do not load for some reason. I will elevate this to the backend team. If you have any more sequences like this, please report.

[2016-08-15 22:03] gyllen commented on #2192
@GITNE @pkoby Yes its a matter of our CDN clearing its caches. I used to to it manually to get instant blur but it turned out its super expensive todo in the order of us getting blurs in. So current delay can be up to 24h.

[2016-08-15 22:04] gyllen commented on #2192
Noticed that my above answer did not answer original ticket reopening. And filing bug. Thanks for reporting.

[2016-08-15 22:27] iav commented on #2184
Yes, it will, thank you.

[2016-08-15 22:27] #2184 closed

[2016-08-15 22:36] gyllen commented on #2191
@ptpt Can you investigate why this sequence is showing on the map. It should be hidden.

https://www.mapillary.com/app/?lat=42.33547975000002&lng=-71.17741092&z=17&pKey=_NEEJkl9UD7j57xKdprlpQ&focus=map

[2016-08-15 22:41] gyllen commented on #2191
@pkoby As it turns out these images are a part of a testing set. They should not be visible on the map. They were first added then removed and the tiles did not update. Thanks for finding this.

[2016-08-15 23:07] smsm1 commented on #2189
Yes, all available in OSM.

Bus stops: highway=bus_stop and public_transport=platform https://wiki.openstreetmap.org/wiki/Tag:highway%3Dbus_stop

Cycle parking amenity=bicycle_parking https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbicycle_parking

There may be other on street furniture that could be added, that may also help such as traffic signals and pedestrian crossing. It would also aid ens

[2016-08-15 23:15] gyllen commented on #2189
Awesome, do you know of any basemap that has all of these attributes?

[2016-08-15 23:19] smsm1 commented on #2189
The main osm.org one? Though you'd possibly need to host the style yourself, if demand gets too high on the community resource. Source is available and designed to be customised https://github.com/gravitystorm/openstreetmap-carto

[2016-08-16 07:18] rsahlin opened #2197 "Capture stops due to ERROR_DROPPED"
Capture stops and flashing ERROR_DROPPED on the screen, this happens due to too many images being queued.

Samsung Galaxy S7 Edge
Device hero2qlteatt
Model SAMSUNG-SM-G935A

[2016-08-16 07:19] rsahlin commented on #2197
[error_dropped_log.txt.txt](https://github.com/mapillary/mapillary_issues/files/419707/error_dropped_log.txt.txt)

[2016-08-16 07:35] angelday commented on #780
@yopaseopor with the release of our new viewer and changeset editor, which we're constantly improving, there is a similar functionality now. Can we close this?

[2016-08-16 08:37] angelday commented on #304
In our new changeset editor this is now possible – although not visually. But we have plans for that also, closing.

[2016-08-16 08:37] #304 closed

[2016-08-16 08:44] #306 closed

[2016-08-16 08:45] angelday commented on #306
With the release of the new changeset editor the original issue with this ticket is answered, closing.

[2016-08-16 08:51] angelday commented on #489
This is partly done for blurs and we will bring flagging image back, closing. @pyrog let me know if you want to reopen it.

[2016-08-16 08:51] #489 closed

[2016-08-16 08:52] angelday commented on #638
With the new editor, this is actually now possible to correct and get visual feedback. We even have plans to further improve the experience. @de-vries let me know if it doesn't address your question, in the mean time, I'm closing this.

[2016-08-16 08:55] angelday commented on #776
The new changeset editor allows you to offset all photos in a sequence with a number (1), also normalize the sequence (eg. point all marker to the next, 2), and last, but not least, change individual markers to an arbitrary angle (3). This should address @Nakaner 's original issue, I'm closing, let me know if you have other concerns.

[2016-08-16 08:55] #776 closed

[2016-08-16 08:58] angelday commented on #818
We are currently finishing up / piloting the changeset editor approve functionality within Mapillary. This will exactly do this:

- allows to look through all changesets in a feed-like format
- allows to navigate on the map, see your favorite areas and make approvals in-line

@DaCor1 it will answer your original question, in the mean time I'll leave this ticket open until we release it to the gene

[2016-08-16 09:00] angelday commented on #825
@stevage since we released the new profile pages (this is yours: https://www.mapillary.com/app/user/stevage ), this has gotten an overhaul and I think it answers your concerns. I'm closing this, let me know if you have more concerns.

[2016-08-16 09:00] #825 closed

[2016-08-16 09:01] angelday commented on #942
This is addressed in the new uploader ( https://www.mapillary.com/app/uploader ), closing. @de-vries let me know if this doesn't answer your question.

[2016-08-16 09:01] #942 closed

[2016-08-16 09:02] angelday commented on #971
@gyllen thoughts?

[2016-08-16 09:03] angelday commented on #1053
@polarbearing to delete or to report? We actually will have both, soon. In the mean time I'll leave this ticket open.

[2016-08-16 09:10] angelday commented on #1110
With the release of the new changeset editor, this is actually possible to do, although we do not support multiselect yet. I'm closing this, @rmikke let me know if you have further comments regarding this.

[2016-08-16 09:10] #1110 closed

[2016-08-16 09:12] angelday commented on #637
We do want to improve the experience both with usability and visual display. Pinging @retro about moving markers and connecting them.

[2016-08-16 09:13] angelday commented on #805
It is out, closing.

[2016-08-16 09:13] #805 closed

[2016-08-16 09:13] angelday commented on #869
@gyllen @joakimfors let me know what problems are we solving with this

[2016-08-16 09:16] angelday commented on #1749
@gyllen with the new filtering options especially for traffic signs, do you think this will be solved?

[2016-08-16 09:24] angelday commented on #2070
@de-vries do you mean that your edits, eg. moves, deletions are not getting saved?

[2016-08-16 09:27] angelday commented on #2101
@echeloni2p thanks, we have plans to make the changeset diffs more understandable. Can you in the mean time provide us with links to sequences or screenshots? Most curious.

pinging @retro, too.

[2016-08-16 09:28] angelday commented on #2103
@echeloni2p could you please provide me more details where you're "getting mad with curves"?

[2016-08-16 09:32] angelday commented on #1184
@echeloni2p is this the problem you'd like to have us solved:

[2016-08-16 09:39] angelday commented on #2169
@gyllen if we're not afraid that users are experimenting and submitting false changes by accident we might as well just remove it

[2016-08-16 09:40] angelday commented on #2134
We could have the play button in blur mode automatically stop when it detects a blur. Does not require design and makes sense there.

[2016-08-16 09:42] angelday commented on #2187
I'll work on this.

[2016-08-16 09:49] de-vries commented on #2070
It's expected that nothing is saved or uploaded when closing the uploader, But when you're preparing a upload and spend some time correcting the locations of photos, it's not nice when you loose it all with one accidental click and no warning.
My proposal is that when you click exit uploader or close the tab, you get a warning that "By closing the uploader all changes will be lost and no photos ge

[2016-08-16 09:52] rsahlin commented on #2197
Probably happens due to AsyncTask.THREAD_POOL_EXECUTOR not executing filesave task immediately.
Will replace with vanillay Thread since the behavior added by AsyncTask is not needed.

[2016-08-16 09:56] de-vries opened #2198 "In uploader trash icon is invisible when on white background"
### Basic information
* Platform:  `Web`

### Steps to reproduce behavior

 1. put photos in uploader
 2. try to delete a photo with a white right-top-corner

### Expected behavior

finding a button somewhere that let me delete the photo

### Actual behavior

the delete button is invisible when it's on a white background

[2016-08-16 10:05] angelday commented on #2198
Duplicate of https://github.com/mapillary/mapillary_issues/issues/2187 closing.

[2016-08-16 10:05] #2198 closed

[2016-08-16 10:11] rsahlin commented on #2175
Duplicate to #1515

[2016-08-16 10:13] de-vries commented on #638
My issue wasn't with the GUI around this function, but with the way the new angles are calculated.
It's not a huge issue, but in sharp turns it can make the calculated angle much more accurate.

[2016-08-16 10:20] angelday commented on #638
pinging @gyllen regarding calculations

[2016-08-16 10:24] yopaseopor commented on #780
Well, I now you are doing  a good work improving all the editor and I know
there's a similar option (I have tried to used to move some pics - the
editor had frozen then - ...but Can I edit the lat and lon manually (typing
numbers...) ? I think be able to do that will be an interesting option.
Also I'm waiting for traffic signs layout ^_^
Thanks.

[2016-08-16 10:52] RobyRemzy commented on #2172
@gyllen yes i would be glad to do that, how can we work on that? thanks

[2016-08-16 11:15] pbb72 commented on #776
@angelday, just a quick note that your point 3 only works for the initially selected photo. (See #2170.)

[2016-08-16 11:28] kaitu commented on #869
I second @joakimfors. Typical use case is when I spot a sequence needing review, and want to quickly jump at the beginning to review all pictures.

[2016-08-16 11:40] HolgerJeromin commented on #2122
IMO the main page is not usable on mobile (tested mobile opera) at all.
Double click into the map zooms the page and i cannot reach the controls because of the map panning.

But i was really surprised that the android app has a quite nice and really usable minimal version of the new website.
IMO this version should be used on mobile right now.

[2016-08-16 11:47] pbb72 commented on #869
An easy way to jump to the beginning of a given sequence, is to zoom out until individual dots are no longer displayed for each photo. Then when you click on the sequence, the first image is opened.

[2016-08-16 13:11] angelday commented on #869
@pbb72 spot on! But this is not by design, AFAIK this is a technical limitation, but you can work around it like that.

[2016-08-16 13:13] kaitu commented on #869
@pbb72 I suspect this is not so easy, when plenty of sequences overlap in the same area. I would love a button in blur edit mode to jump to first image in sequence.

[2016-08-16 14:00] de-vries commented on #1516
in issue #1974 there is the idea to add a separate page with a sortable table with all details of all sequences.
I really like the design and simplicity of the current upload list, but sometimes I would like to have more options.

[2016-08-16 14:13] echeloni2p commented on #1184
Hi!
This is the main issue. Also the date of them.

echelon

[2016-08-16 14:15] echeloni2p commented on #2101
Hi!

Sure, e.g. https://www.mapillary.com/app/user/aceini?lat=47.34404702727375&lng=15.400155131924365&z=17&focus=map&pKey=mBNRsEmXpfaYOi8tTwcL7w - a gorge in the moutains with bad GPS receivement...
Hard to edit this to get the real picture order in one go.

echelon

[2016-08-16 14:19] echeloni2p commented on #2103
Hi!

Sorry, I got a bit mixed up with features and wishes.
I wanted some kind of edit function like bezier curves,to move more than 1 picture at a time onto a track, also good with curves.
E.g. this track https://www.mapillary.com/app/user/aceini?lat=52.09655529777879&lng=10.129724137384985&z=17&focus=map&pKey=uAJbEZ5_kMeApSSo7vyStg was made on the treet below, but it winds right/left of the road.

[2016-08-16 19:38] ptpt commented on #2191
@pkoby Thanks for reporting on this. All hidden sequences should be removed now. @gyllen can close this issue.

[2016-08-16 20:39] smsm1 opened #2199 "Drag and drop image on the published screen loads first image"
### Basic information
- Platform: `Web`
- System/Browser: `macOS Sierra / Firefox 48`
### Steps to reproduce behavior
1. On https://www.mapillary.com/app/uploader upload some images
2. At the end of the upload the following screen is shown with the message "132 files have been published for processing. You will get an email when the photos are live on Mapillary.

Meanwhile, you can upload more if

[2016-08-16 22:44] gyllen commented on #2199
@smsm1 Would it help if we just had a button that said `upload more` and then we will go to the original state?

[2016-08-16 22:45] gyllen commented on #2191
@ptpt Thanks for fixing!

[2016-08-16 22:45] #2191 closed

[2016-08-16 22:47] gyllen commented on #869
@angelday There is not tech limitation on jumping to the first image in a sequence. We do have that data availble (or at least easily requestable).

[2016-08-16 22:47] gyllen commented on #2122
@HolgerJeromin Spot on! I think thats the path we want to take. Show a degraded experience in the phones browser but add a link to open in app instead.

[2016-08-16 22:48] gyllen commented on #2172
Awesome @katrinhumal can we set something up here.

[2016-08-16 22:50] gyllen commented on #638
@ybkuang Your the smart one ;), would this be better for us? It sounds like it to me.

[2016-08-16 22:52] gyllen commented on #2134
@angelday Im not sure its the expected behavior though, should this be a pro setting?

[2016-08-16 22:53] gyllen commented on #2169
@angelday I think maybe the list is a bit TMI?

[2016-08-16 22:53] gyllen commented on #1749
@angelday Yes that will solve this.

[2016-08-16 22:54] gyllen commented on #971
I say this is a case for desktop uploader.

[2016-08-16 22:59] gyllen commented on #2194
Fixed, thanks for reporting

[2016-08-16 22:59] #2194 closed

[2016-08-16 23:20] HolgerJeromin commented on #2122
I do not see why you need/want the app for this small version.

[2016-08-16 23:23] gyllen commented on #2122
I think we are misunderstanding each other. I  mean that we should steer you towards opening the image in the App, when you are on the phone.

[2016-08-17 04:31] angelday commented on #2169
Could be.

[2016-08-17 04:32] angelday commented on #2134
In that case, yes. Let's add this when we start designing the "pro" stuff for blurs.

[2016-08-17 04:34] angelday commented on #869
I think jumping to beginning and end of sequences will be part of our "pro" feature set, made note of that. We'll come back to this issue later on.

[2016-08-17 07:28] pbb72 commented on #869
Pro tip, an alternative to jump to the beginning of a sequence as follows:

- Open the photo details window (by clicking on the tree dots).
- Copy the sequence key that is displayed there.
- Open the URL http://www.mapillary.com/map/s/(sequence-key).

[2016-08-17 09:34] rsahlin opened #2200 "Android app should not require camera autofocus"
The app should not require camera autofocus, it should be possible to download from Play store to devices that has a camera that does not support autofocus.

[2016-08-17 13:00] smsm1 commented on #2199
Yes an upload more, with original state meaning that you can drag and drop photos on the page to upload would work, and would save the click that's tipped me up a few times.

[2016-08-17 13:32] blaueente opened #2201 "Feature Request: using SFM for GPX/OSM matching"
**Problem:**
I have an action cam and track the GPS with my phone. It is quite tiresome to align both afterwards exactly, e.g. because of time drifts due to battery changes. I use JOSM for that, and I need to try&error a lot
**Idea 1:**  (enhancement to #1303)
I would like to upload the images and the GPX unmodified as they come from the camera and phone.
Using SFM you apparently can extract a bas

[2016-08-17 17:46] pbb72 commented on #638
If you decide for this change, could you update interpolate_direction.py to do the same? :smile:

[2016-08-17 20:11] gyllen commented on #2201
@blaueente I have seen other people doing matching against OSM data but for me the license is unclear. If we match against OSM data I _think_ the whole database would need to go ODBL. Looping in @jesolem

[2016-08-18 01:55] gyllen commented on #2199
I do think we need to keep the click though...

@retro is there something we can do about this?

[2016-08-18 01:56] gyllen commented on #638
Agree @ybkuang your in charge of that too ;)

[2016-08-18 06:18] katrinhumal commented on #2172
Sure! @RobyRemzy I will put together a few guidelines to help get you started. Can you meanwhile send me your email contact to katrin@mapillary.com?

[2016-08-18 07:06] #2200 closed

[2016-08-18 07:06] #2197 closed

[2016-08-18 07:06] #2195 closed

[2016-08-18 07:06] #2014 closed

[2016-08-18 07:06] #2183 closed

[2016-08-18 07:09] rsahlin opened #2202 "New UX and UI for the Android app"
New UX and UI for the Android app following Googles guidelines for Material design and usability patterns.

[2016-08-18 07:34] #1924 closed

[2016-08-18 07:49] angelday commented on #2101
Yes, also you need to zoom at least further in.

@retro I think we have that one in a different issue, if not, we should.

[2016-08-18 07:55] angelday commented on #2103
Snapping markers to streets is also a planned feature and it'll be part of a bigger editor improvement set. We hear you guys!

[2016-08-18 08:18] peterneubauer commented on #2045
This is working now right?

[2016-08-18 08:18] #2045 closed

[2016-08-18 09:05] katrinhumal opened #2203 "Android app closes abruptly before being able to do anything"
### Basic information
- Platform: `Android KitKat 4.4`
- Version: `...`
### Steps to reproduce behavior
1. Open the app
### Expected behavior

Be able to start using Mapillary
### Actual behavior

App closes abruptly.
### Additional information

Tried restarting the phone, doesn't help.

[2016-08-18 09:06] katrinhumal commented on #2203
Trying to find out the app version as well.

[2016-08-18 09:12] seb-1204 opened #2204 "Edit Blurs screen needs 'no change, next +1' button"
Feature request:
When editing blurs it would be nice (work flow, less mouse movement) to have a third button next to the two buttons:

[code]

The button could be something like
`No change + >`
clicking it would move to the next image without making changes to existing blurs.

This would reduce mouse movement. The only time mouse movement is require then if blurs need to be modified, removed and a

[2016-08-18 09:50] rsahlin commented on #2203
It would be great to know what device it is on.

Best regards
/Richard

[2016-08-18 10:39] nickplesha commented on #2158
Thanks for catching this @pbb72! Scrolling should now work in all tabs and sidebars.

[2016-08-18 10:39] #2158 closed

[2016-08-18 10:43] nickplesha commented on #2156
@pbb72 This issue appeared when we added the map controls to the bottom-right corner of the map (so it was noticeable in the corner of the large map as well) due to a bug with how Mapbox Gl handles this. Luckily, it was easy to add a fix on our side while we wait for the next Mapbox Gl release so the map should work as expected now.

[2016-08-18 10:43] #2156 closed

[2016-08-18 10:44] #2038 closed

[2016-08-18 11:44] blaueente commented on #2166
I also agree this is a bug. cf. comment on https://github.com/mapillary/mapillary_tools/commit/508ec70fd0b4fc8eb33fdeb3aefbd728dc40028a
I should better file a bug next time ;-)

[2016-08-18 18:10] gyllen commented on #2166
@ybkuang Can we close?

[2016-08-18 18:13] gyllen commented on #2204
@seb-1204 We are thinking about adding keyboard shortcuts to blur for power users.

[2016-08-18 18:50] HolgerJeromin commented on #2204
Cursor up for next image is already working in blur mode right now :-)

[2016-08-18 18:58] gyllen commented on #2204
@HolgerJeromin If you made blurs and stepped we should give you a warning right? Seems like the most reasonable thing todo.

[2016-08-18 19:03] HolgerJeromin commented on #2204
Or remember the state when coming back again. But i think this much more complicated and not always desirable.

On "cursor up" the best / fastest could be a [confirm](https://developer.mozilla.org/en-US/docs/Web/API/Window/confirm) with "OK" submits the blur and cancel the edit. I have the hands at the keyboard anyway and the Enter/Return Key is easy to hit.

[2016-08-18 20:55] kertase commented on #2166
I suppose so…

[2016-08-18 20:55] #2166 closed

[2016-08-19 15:04] stonor commented on #1935
I see this behavior as well with my latest uploaded sequences:

https://www.mapillary.com/app?pKey=gg5U58MnC-LK4Q9Sxs80Kw&focus=map
https://www.mapillary.com/app?pKey=tJB01MykvPrN33-RTNkLmg&focus=map
https://www.mapillary.com/app?pKey=ufipVdglB86QsYSPV1tDcw&focus=map
https://www.mapillary.com/app?pKey=ND84q7gs1JrdQDn0SZi7PQ&focus=map
https://www.mapillary.com/app?pKey=TPtDYIx57-aNcNX-7iPtKQ&focus=

[2016-08-19 15:33] gyllen commented on #1935
@stonor We had an error of some of the updating of the tiles the 16th and 17th of August. It will very soon be updated. Sorry for the inconvenience.

@ptpt Can we rerun these tiles today?

[2016-08-19 20:22] AllenGraetz opened #2205 "The Show Me State Ain't Showing"
### Basic information
- Platform: Web
- System/Browser: `Chrome 51.0N`
### Steps to reproduce behavior
1. Click on the hamburger menu thing
2. Select Leaderboards
3. Type "Missouri"
   1. As you type, results will return for you to choose from
### Expected behavior

It should show "Missouri" under Regions
### Actual behavior

No Regions are displayed.
### Additional information

![image](https://c

[2016-08-20 07:11] Stefal commented on #1908
Hi @paulinus !
Did you detect automaticaly is "lens correction" is enabled or not ?

I still have many pictures not uploaded. I will try to upload them separately and check if the navigation is better.

[2016-08-20 12:16] krzyk opened #2206 "Use lepton jpeg compression for transferring files from mobile"
I usually end up with > 100 (or even >1000) photos for upload after a ride and my broadband has a limit of 5Mbs, so uploading takes some time.

It would be great to use lepton jpeg compression developed and open sourced by Dropbox (https://github.com/dropbox/lepton), this would allow to reduce the amount of bandwidth by about 22% on average.

[2016-08-20 13:01] Fossdal commented on #2204
I would like to get a button to move to next picture in the sequense that has a blure. skipping all the images witout blurs,the reason for this is that there are a lot of pictures that have invalid blurs, specialy windows and signes on houses

[2016-08-20 17:41] HolgerJeromin opened #2207 "Android Review shows too few images"
### Basic information
* Platform:  `Android`
* Version: `239`

### Steps to reproduce behavior

 1. Make a lot images
 2. try to review
 3. With the newest version I see 5 images and a lot of uninteresting timestamps

In the old version I could see 15, making review three times faster

[2016-08-20 23:10] pbb72 commented on #2156
Confirmed as fixed, thank you very much!

[2016-08-20 23:19] pbb72 commented on #2158
Confirmed, thank you!

[2016-08-21 12:41] HolgerJeromin commented on #2206
Impressive library. Even storage should be considered when you have some experience with it.

[2016-08-21 17:54] wegavision opened #2208 "compass do not work"
Samsung S4, 5.01, 237+239
I didn't change anything, but since last week it points in only one direction. Changing in the settings doesn't matter.

Here is the sequence:

JC9-kDuWrs1ceRX6tR8DbA

[2016-08-21 18:13] wegavision opened #2209 "only 16:9"
Samsung S4, 5.01, 237+239

Since a few days mapillary took pictures only in 16:9. Is this a innovation, can't read about it. I use to upload 16:9 pictures cropping them from 4:3 by deleting the worst part of the picture: the front of my car etc.
But now they are already in this format, and I can not crop them. the result isn't quite good: houses are cut in the upper part of the images etc. Havn't

[2016-08-22 02:43] jfburke3 commented on #2176
Just a note to say that power drain is still high enough in 2.39 to bring my battery down while plugged in to power.  (Not expecting a reply, just reporting.)

[2016-08-22 02:52] jfburke3 opened #2210 "Distance Mode with Distance Autocapture set to 0 meters does not pause when not in motion"
### Basic information

* Platform: Android
* Version: 2.39 (but probably also existed in 2.37)
* System/Browser: Samsung Galaxy S7 Edge, Android 6.0.1

### Steps to reproduce behavior

 1.  Enable Distance Mode
 2.  Set Distance Autocapture value to 0 meters
 3.  Begin driving and start taking pictures.
 4.  Come to a complete stop for as long as you need to, in order to verify function.

### Expe

[2016-08-22 03:20] jfburke3 opened #2211 "UI allows enabling mutually exclusive resolution settings (Android)"
### Basic information
- Platform: Android
- Version: 2.37 through 2.39
- System/Browser: Samsung Galaxy S7 Edge, Android 6.0.1
### Steps to reproduce behavior
1. Enter Settings.
2. Enable Take Low Resolution Pictures.
3. Enable Take High Resolution Pictures.
4. (Optional) Exit out of Settings, then go back in.
### Expected behavior

When enabling High, Low should either:  be grayed out, OR automat

[2016-08-22 03:28] jfburke3 commented on #2209
Check the settings in the app--do you have Low resolution or High resolution enabled?

I have a Samsung S4 (but still on Android 4.2something), so I can test it with my old Android and see what results I get.

[2016-08-22 03:39] jfburke3 commented on #2211
BTW, I would consider this low priority.  I would hope that your user base is intelligent enough not to destroy the universe.

[2016-08-22 03:41] jfburke3 commented on #2204
@Fossdal The problem with that is you could skip over images that DO need blurs but don't have them....

[2016-08-22 05:22] peterneubauer commented on #2210
Yes, with the distance mode, the is no pause on stop. If you set it to 0 meters, you want to take as fast as possible? The GPS is always drifting a bit so we can't know that you really are standing still and not driving very slowly if you set the distance that low.

How do you propose it should work?

[2016-08-22 05:27] peterneubauer commented on #2209
So, since a few versions back, we are no longer requiring 4:3,since the backend and view has gotten better. That's why the app now takes whatever the native aspect ratio of the camera is.

Sorry for the inconvenience,yiu want manually to choose another format?

[2016-08-22 05:54] wegavision commented on #2209
With high resolution it takes 4:3, thanks Usually I enable it, but perhaps I disable it by scrolling down. This is a problem with the settings. Using the right side of the menue to go down you can hit the square and change something.

[2016-08-22 05:54] #2209 closed

[2016-08-22 08:31] jfburke3 commented on #2210
If set to zero, shouldn't it work as the old pause on stop did? Otherwise, why allow the setting  (which is explicitly described as valid in the settings screen) if it is going to result in extraneous images when stationary.

More specifically, no matter what the value, if the device isn't moving, it should work as the old pause-on-stop setting did, in my opinion. Up for discussion. Just saying th

[2016-08-22 09:18] trolleway opened #2212 "Force direction to left/right/backward in driving mode"
It would be useful to lock direction of photos also to backward and sides (may be with 45 deg step) in mobile app.
It needed to photos from buses and trams, now such sequences need to manual correction, like here:
https://www.mapillary.com/app/user/trolleway?lat=55.75937859042858&lng=37.89864759542303&z=16.003281264924755&pKey=3XWSlJCcv6VkzV4U4oPQVw

This feature may be named as "bus mode" in mobi

[2016-08-22 09:20] peterneubauer commented on #2210
Why do you need to set it to zero and not like 3m or so? To me setting the tolerance to 0m means "take picture always, as fast as you can"?

You can always tap on the screen to take extra photos between captures instead so you can "fill in" pictures if the app stops too early with a tolerance of say 5m?

[2016-08-22 09:52] millenbop commented on #2212
We currently only have this for multi-cam setup in iOS, but is needed for any type of camera.

[2016-08-22 10:02] millenbop commented on #2206
Interesting, and since it's C++ it should work fine in the apps.

[2016-08-22 10:05] millenbop commented on #2208
Does the compass work in other apps, i.e. in a traditional compass app?

[2016-08-22 11:05] angelday commented on #2119
@pbb72 here is the version we rolled out:

## For uploaded photos:

less than a thousand = as is, eg. 984
less than 9999 = 9.8 K
above 999 999 = millions, eg. 1.1 M

## For meters mapped:

less than a thousand meters = as is, eg. 984 m
more than 999 meters = 1 km
between 1 km and 999 km = 274.8 km
above 1 000 km = 17 842 km (we omit the decimal mark and do English SI style space separators between

[2016-08-22 12:06] Fossdal commented on #2204
@jfburke3
True. But i am more interested in deleting stupid blurs than applying new ones
like this one
https://www.mapillary.com/app/?lat=62.00988342&lng=-6.76796976&z=17&pKey=F_6MGfUeRmrhHqVGm2M_CA&focus=photo

[2016-08-22 12:12] utack commented on #1167
Does not seem to work in Android 6
Should this be reported as a general "use storage access framework" or reopened OTG-specifically?

[2016-08-22 12:20] HolgerJeromin commented on #2119
Thanks for not showing a dot or comma in kilometers mapped!

[2016-08-22 12:39] katrinhumal commented on #2204
@Fossdal, may I ask - is this even to the extent that if a photo has both "stupid blurs" and missing blurs, then you would remove the false blurs and submit for approval without adding the missing blurs on the same photo?

[2016-08-22 12:41] domdomegg commented on #1731
Not iOS but on Android 6.0.1 (Samsung Galaxy S6), after connecting to GoPro Wi-Fi (GoPro app works fine with it), mapillary does not recognise camera at all (including restarting with force closing the app). I can get logs if needed

[2016-08-22 12:50] millenbop commented on #1731
The Android app doesn't support action cameras yet.

[2016-08-22 12:52] domdomegg commented on #1731
Ah ok :(

[2016-08-22 12:54] domdomegg commented on #1731
Are there plans to bring GoPro support to Android? Or at least to release the Android version's source so people could add it?

[2016-08-22 12:54] domdomegg commented on #1731
Code from here may help too: https://github.com/KonradIT/goprohero

[2016-08-22 12:56] millenbop commented on #1731
Action camera support for Android IS coming, I just don't know when, sorry.

There are now official SDKs available for GoPro over at https://developer.gopro.com/

[2016-08-22 14:18] peterneubauer commented on #1167
Let me check to set a custom directory once I get into the office with an android 6 phone

[2016-08-22 14:20] utack commented on #1167
Custom directory works fine, but unfortunately all OTG drives are no more mounted in storage, they are only accessible through the storage access framework starting with Android 6

[2016-08-22 15:09] kertase opened #2213 "add_mapillary_tag_from_exif.py does not allow to define sequence_uuid to continue upload of a sequence"
Hello,

The doc and the script itself tells me that it is possible to set a costume sequence_uuid I presume in order to be able to continue the upload of an image sequence:

Use from command line as: python add_mapillary_tag_from_exif.py root_path [sequence_uuid]

Well when I do try it obviously does not work since the script only accepts 1 values and as far as I can see does not grab the second v

[2016-08-22 15:33] ybkuang commented on #2213
@kertase Sorry. It should be fixed now https://github.com/mapillary/mapillary_tools/commit/3e121336609e976cb9014d5fe0a2b4c811e9d446

[2016-08-22 17:16] Fossdal commented on #2204
@katrinhumal No i would also add missing blurs

[2016-08-22 22:50] jfburke3 commented on #2210
Because I can?

Seriously, though, if you don't want people using a setting of 0, then a low-threshold value should be set in the code.  Conversely, if you do want people to be able to take pictures as fast as they can, then either some sort of GPS or motion filter (what did the old Pause on Stop use, the accelerometers?) needs to be added to the code for those times the vehicle is motionless, or

[2016-08-23 06:36] rsahlin commented on #2210
Hi @jfburke3 and thanks for reporting!

Yes, it is  somewhat ambiguous with a 0 distance threshold - perhaps we should increase the lower limit to 1.

I think it is best if we could avoid having speed calculations as we had in the driving mode, since these will only work for specific usecases - is there any other solution that you can see?
(or is it best solved by setting min valule to 1?)

Best r

[2016-08-23 06:38] rsahlin opened #2214 "Add UI feedback when shutter sound can not be disabled"
Inform users when shutter sound cannot be disabled, so that they are aware that there may be an audible shutter sound when taking pictures.

[2016-08-23 06:40] rsahlin opened #2215 "Investigate how to disable shutter sound on (chinese) devices that always play sound during capture"
Feedback from user - proposal is to investigate using a null ShutterCallback function.

I've dived into your search results and my search specific to my OS and model, about workarounds for this, but found that it can be hardly done without a root previlege of the phone system. It doesn't seem worthwhile doing so since acquiring root previlege can cause security risk and loss of manufacturer's warr

[2016-08-23 09:02] peterneubauer commented on #2210
I think a sane stop-calculator would be: "if 3 consecutive images are taken within the 1st images accuracy limit - we are stopping". So, with a setting of 0 or 1, and an accuracy o say 5m, if image 1,2,3 are taken within image 1 accuracy (5m), we are stopping even if the consecutive distance was more than 1m between the images. We then assume that this was due to GPS drift.

Makes sense?

[2016-08-23 09:05] kertase commented on #2213
Line 66: still needs a fix to accept more than 2 arguments…  :
if len(args) != 2:
         print("Usage: python add_mapillary_tag_from_exif.py root_path")
         raise IOError("Bad input parameters.")

[2016-08-23 09:11] ybkuang commented on #2213
@kertase Ouch, missed that one. Should be good now.

[2016-08-23 09:45] wegavision commented on #2208
I did a new calibration, perhaps it works.

[2016-08-23 09:45] rsahlin commented on #2210
I don't think we shall factor in GPS drift, there is no consistent way of measuring it as far as I know.
From what I can tell the location is usually, ie more often than not, in the same position as the accuracy shifts.
Maybe we should make it easier to adjust later on in the changeset, possibly by going through uploaded photos and check for inconsistensies?

Anyway, this issue is regarding a dist

[2016-08-23 10:09] gyllen commented on #2205
@AllenGraetz thanks for reporting we are looking into it

PS: Best issue name ever :)

[2016-08-23 11:32] retro commented on #2190
@smsm1 Hi, I tried to reproduce this error locally but wasn't able to. Can you attach the image that you had problems with? It would help me very much.

Thanks,
Mihael

[2016-08-23 11:34] retro commented on #2186
@yopaseopor @smsm1 Can you send me the links to sequences that caused these problems? I did some internal cleanup and I want to make sure that it's not happening.

Thanks,
Mihael

[2016-08-23 16:58] yopaseopor commented on #2186
https://www.mapillary.com/app/edit/2fWTWVXd2Zxq4FySSFugtF?lat=41.23629567&lng=1.73339883&z=17&focus=map&pKey=nxza0BChbKY7Wkaje38ZZA << the sequence was that. I have tried to "order all the sequences" I have got in this motorway.

[2016-08-23 18:16] jfburke3 commented on #2210
I just reread my last reply.  :-\  I really shouldn't be allowed to get on the interwebs when I'm tired.  What I meant to say in one sentence is, most of the time when I'm shooting sequences, I'm not driving with Mapillary in mind--you're just getting a free ride to wherever I'm going when I'm driving around town :-) and so I'm often thinking about other things at the time and not keeping an eye o

[2016-08-23 18:23] jfburke3 opened #2216 "Android users cannot change their Mapillary account avatar"
### Basic information
* Platform: Web
* Version: current website
* System/Browser: Every

### Steps to reproduce behavior

 1.  Log in to your Mapillary account.
 2.  Click on the gear icon to go into settings.
 3.  Go to Profile Settings.
 4.  See the tiny text at the bottom "If you would like to change your avatar, please use the iOS app."
 5.  Stare at your Android phone wondering how to instal

[2016-08-23 19:07] rsahlin commented on #2212
Hi @trolleway  and thanks for your suggestion.

My name is Richard Sahlin, I am the lead engineer on Android.
On Android we will be looking into this in the future as we are revising the UI.

Best regards
/Richard

[2016-08-23 19:20] rsahlin commented on #2210
Hi @jfburke3

Hehe, I think that goes for all of us :-)
I will check the sequence and see what I can make of it!

In the meantime, could you please try with 1 or 2 meter setting?

Best regards
/Richard

[2016-08-23 19:30] pbb72 commented on #2119
Very cool!

But a few remarks:

- It still says "Meters mapped" on profile pages, it think "Distance mapped" would be better.
- Distances above 1 000 km are displayed with one decimal, my distance is "4 366.1 km". (Wow. Did I map over 500 km in the last month?)
- Could you do the number formatting also for the leaderboard? Allen now has "4456195" photos, which is difficult to read.

[2016-08-23 20:42] wegavision commented on #2208
Ok, this was the fault.

[2016-08-23 20:42] #2208 closed

[2016-08-24 06:09] rsahlin commented on #2211
Hi @jfburke3 and thanks for reporting

You are correct, these settings do not make sense :-)
We are in the process of creating a new UI - settings such as this will be looked into.

Best regards
/Richard

[2016-08-24 07:37] millenbop commented on #2114
If you have an image to upload to see if it works now, please give it a go :)

[2016-08-24 07:38] millenbop commented on #2063
Update is out, closing.

[2016-08-24 07:38] #2063 closed

[2016-08-24 07:38] millenbop commented on #2040
Fixed a few releases back, closing.

[2016-08-24 07:38] #2040 closed

[2016-08-24 07:52] peterneubauer commented on #2210
https://www.mapillary.com/map/s/f4eAK2X0V8M1VFouznC93g

[2016-08-24 08:04] rsahlin commented on #2210
Hello again @jfburke3

I'm looking through the photos in the sequence and I am having a hard time finding duplicates that have the same position.
Could you please let me know if you have found such pictures and send a link?

Best regards
/Richard

[2016-08-24 08:45] angelday commented on #2119
Thanks for the feedback, good points @nickplesha could you take it from here, please?

1. good point, needs to be changed
2. above 1 000 km we shouldn't display decimals, needs to be changed
3. leaderboard needs to be changed as well

[2016-08-24 15:06] Fossdal opened #2217 "bad UI in Camera"
### Basic information
- Platform:  `Android`
- Version: '2.39`
### Steps to reproduce behavior
1. start mapillary
2. start camera mode
### Expected behavior

Camera picture to fill all of the screen
### Actual behavior

black bar on left side
looks like background of settings drawer
### Additional information

Android 4.4.2
Samsung Galaxy Mini 4

![screenshot_2016-08-24-16-03-05](https://cloud.git

[2016-08-24 15:59] jfburke3 commented on #2210
Here ya go:
https://www.mapillary.com/app/?focus=map&lat=33.9032597&lng=-84.4592802&z=17&menu=false&pKey=RkiTnO-LFa6J2oak8e_c2w

If you move forward starting there, it looks like I'm drunk standing in the middle of the road.

Finishing an upload of a sequence with distance set at 1 meter, I'll give you a link to it in a bit.

[2016-08-24 21:20] jfburke3 commented on #2210
Here's a sequence at 1 meter, just before where my drunken wandering on the road begins:
https://www.mapillary.com/app/user/jackdripper?focus=photo&pKey=CADeE6avtYYV4TFqjZmDEw&lat=33.9025775&lng=-84.455401&z=17

(Apologies for the sun.  It was the only time I had available to get that sequence, and the changing traffic signal made it the perfect opportunity.)

[2016-08-24 21:29] rsahlin commented on #2210
Hi and thanks for the sequences :-)

I think I see what is happening, in the pictures in the first sequence that I investigated the GPS did not move an inch - BUT the compass was all over the place.
This also seems true for sequence 2.

What are your compass autocapture settings?
Could you please try and up the angle as much as possible?

Best regards
/Richard

[2016-08-24 21:57] jfburke3 commented on #2210
The compass autocapture value is at the default 45 degrees.  How high should I take it?

Are we looking at the same sequence?  When I look at it, not only does the direction vary, but the little blue dots meander all over the place.

![meandering blue dots](https://cloud.githubusercontent.com/assets/11140831/17949608/24867c9e-6a24-11e6-91d8-9594425ce310.JPG)

[2016-08-25 07:09] rsahlin commented on #2210
Hi

Aha - now I see what you mean, no I was not looking at that particular segment :-)
These photos seems to have been auto-corrected by the backend, when viewing them the viewpoint is still.
In the viewer it seems that the original GPS location is shown - I'll ask a member of the backend team to have a look.

Regarding the compass autocapture, I cannot be dead certain that they where captured due

[2016-08-25 07:30] rsahlin commented on #2079
Hi

I was reviewing a sequence where I needed to increase zoom in order to see the location with higher precision.
As I navigate forward or back in this sequence the zoom resets, I would prefer if the zoom level stays between pictures.
To me this would be the expected default behavior.

Best regards
/Richard

[2016-08-25 07:56] rsahlin opened #2218 "Web viewer displays original GPS location"
### Basic information

 `Web`
### Steps to reproduce behavior

Open the sequence, and navigate forward - back
https://www.mapillary.com/app/user/jackdripper?focus=photo&pKey=8Xd5bWSHAvrzQBI3Nx2qoQ&lat=33.902578600000254&lng=-84.45542709999997&z=19.996217059156088
### Expected behavior

Since the backend has auto-corrected the gps position of the original pictures, which is evident by the viewpoint

[2016-08-25 07:59] rsahlin commented on #2210
I have created an issue for display of GPS location in the map:
https://github.com/mapillary/mapillary_issues/issues/2218

I'll close this issue for now as I feel it is working as inteded.
Please re-open if you disagree or would like to add additional information.

Best regards
/Richard

[2016-08-25 07:59] #2210 closed

[2016-08-25 09:37] #2119 closed

[2016-08-25 09:40] knikel commented on #2119
This has been fixed, as described by @pbb72 and @angelday. Visible after the next deploy. Thanks!

[2016-08-25 09:48] knikel commented on #2205
@AllenGraetz thanks for reporting, it seems we don't have Missouri (region) in our WOF shapes. We're in the process of updating ElasticSearch to latest version (tech that handles our search) and will update the shapes after that. I'm assigning this to @peterneubauer who's working on the update and will handle the shapes update too.

[2016-08-25 11:17] de-vries commented on #2205
Related:
I can't find the leader-board for the Netherlands via the search bar. This is the page I'm looking for: https://www.mapillary.com/app/stats/85633337

[2016-08-25 12:23] filipca opened #2219 "A picture without Mapillary"
### Basic information
* Platform:  `Web`
* Version: `...`
* System/Browser: `...`

In OSM I click on the mapillary tag and have to wait 10 seconds for a picture.
The same waiting period for the next picture.

Now the Mapillary pictures are much better.
There could be a link (OSM tag) to show them without all the hassle and overload.  On that page there should be a button to load Mapillary if desir

[2016-08-25 12:33] filipca opened #2220 "Long url"
### Basic information
-  | `Web`
- Version: `...`
- System/Browser: `...`

Could there not be a short url
as
http://overpass-turbo.eu/s/i1v
instead of
https://www.mapillary.com/app/user/filipc?lat=51.025127709732544&lng=4.481580856484507&z=17&pKey=xD1HxoBFjJJ6Hi_wg0w2zQ&focus=photo

The key itself is useless.

By the way, I do not understand how they do it.

[2016-08-25 20:35] HolgerJeromin commented on #2201
Cc @simonpoole as he is a license expert

[2016-08-26 06:35] simonpoole commented on #2201
The improved positions would in principle create plus whatever key you require to reference the photograph would likely be considered to be a Deriviative Database, but could be used together with other data as per Collective Database guideline http://wiki.osmfoundation.org/wiki/Licence/Community_Guidelines/Collective_Database_Guideline_Guideline .

[2016-08-26 07:09] jesolem commented on #2201
@blaueente Thanks for your suggestions.

*Re idea 1:*
We have thought about this and I _think_ it could work. There are many ways it can fail though so you need to set it up so that the result can be reviewed by a human before accepted. Ideally do this client side before upload but I think that will be hard. We'll keep thinking about how to do this.

*Re idea 2:*
I'm interpreting this as "map matc

[2016-08-26 07:25] jesolem commented on #2201
@simonpoole Thanks for the link and great to see that guideline adopted! I think I get how this would work.

**Sanity check**
What we're planning on doing is to create a database containing Mapillary sequences (lat, lon, image, and relevant metadata), call this SDB. Then we map match that data in SDB to OSM road segments using the Meili Valhalla module. This will enable us to do routing, stats and

[2016-08-26 13:26] simonpoole commented on #2201
@jesolem yes.

[2016-08-26 13:43] jesolem commented on #2201
@simonpoole Excellent. Thanks for your help.

[2016-08-26 15:01] gyllen commented on #2220
Its a URL shortner. Will keep this open as a discussion, its something we have though about for a while

[2016-08-26 20:30] AllenGraetz commented on #2205
@de-vries  I'm sorry if I'm misunderstanding you, is this what you're going for?  I'm seeing it now, at least.

![image](https://cloud.githubusercontent.com/assets/11722025/18019509/6cfcce38-6baa-11e6-9813-651c4d854137.png)

[2016-08-26 20:36] HolgerJeromin commented on #2047
Josm has right mouse to pan and left mouse for drag.

[2016-08-26 20:47] AllenGraetz commented on #2205
@gyllen , hah!  Thanks!  I could've passed up the opportunity but it was too much fun to miss out on.  :)

BTW - For those of you not understanding the silliness, Missouri is one of the 50 states in the USA.   It's state motto, and they even have it on their license plates, is the show me state.

@knikel , thank you

[2016-08-27 04:16] de-vries commented on #2205
@AllenGraetz Thanx, but no, that one is Caribbean Netherlands.

[2016-08-27 07:37] peterneubauer commented on #2205
@de-vries I can see it? https://www.mapillary.com/app/stats/85633337?lat=52.180508766907195&lng=5.270171249999976&z=6.822541462319065
<img width="1070" alt="mapillary_-_crowdsourced_street_photos" src="https://cloud.githubusercontent.com/assets/11977/18025978/df26a38c-6c39-11e6-860d-695d854c83d4.png">

[2016-08-27 08:26] shlublu commented on #1941
Hi!

A few more data: I thoroughly used the app during the past three weeks.

Each time I had GPS fix issues with the Mapillary app I compared with "GPS Data" (free version, v 3.3.6, publisher: "Propane App"). My cellphone was always in flight mode to save battery: no wifi, no 3G.

The outcomes follow:

- Typically, I used to get a decent GPS fix  (accuracy << 25m) with "GPS data" within 1 to 5 mi

[2016-08-27 08:39] shlublu commented on #1367
(preparing the cake for this ticket's birthday... :p )

[2016-08-27 09:16] pbb72 commented on #2047
@HolgerJeromin that is correct. But in JOSM, drawing is a primary functionality, and padding is secondary (only a necessity to aid in drawing). In the main Mapillary interface there is no drawing functionality, and panning is the most logical function to put under the left mouse button (especially for 360 degree photos).

In this situation, I think it would be confusing if the panning is moved to

[2016-08-27 09:19] HolgerJeromin commented on #2047
Good point!

[2016-08-27 11:29] HolgerJeromin commented on #1729
Right now on upload even the upload buttons do not have any effect. It would be natural if this would append the new sequences to the queue.

[2016-08-27 12:26] de-vries commented on #2205
@peterneubauer Yes the page exists, but it's impossible to reach it via the leaderboard searchbar.
To find the page I had to construct the url with the country code from the legacy site.

[2016-08-27 15:41] pkoby opened #2221 "Filter by user sorts weirdly"
### Basic information
- Platform: Web
### Steps to reproduce behavior
1. Open filter in web app.
2. Search for "allen".
3. Fail to find "allen".
### Additional information

I don't know how the names of users are sorted in the filter dialog, but it's sometimes difficult to find a user if their name starts with a common string. In order to sort by "allen", I actually used "allee", at which point he

[2016-08-27 22:19] pbb72 opened #2222 "You meant "unprocessed", not "uncompressed""
Thank you so much for allowing people to access their own original, unprocessed images!

But the link to the image (in the context menu, the three dots), says "Download uncompressed original".

An uncompressed truecolor photo file (commonly, a "raw" file) contains one byte for the red channel, one byte for the green channel, and one byte for the blue channel, for each pixel in the photo. For a 10M

[2016-08-28 04:19] GITNE commented on #2041
@gyllen Can you pull the CloudFlare *human* test in front of ```www.mapillty.com```? Having to go to ```npmcdn.com``` just to solve the captcha is error prone and really annoying in the long run.

Besides, I have also noticed that the Mapillary website does not work unless you accept cookies from other domains (```npmcdn.com``` in this case). Doing so may pose a significant security risk to the us

[2016-08-28 11:05] mxa commented on #1758
This is still an issue even on the new website.

[2016-08-28 12:20] Andblue commented on #2057
When the new Mapillary web site launched the WebGL on my browser (Chrome on Windows) started to crash, not only when visiting the Mapillary site. That no longer happens. But today I got a flashback after editing (and the edititing coming to a halt) and visiting another site, the web browser window went black, before getting normal again. But no message about WebGL.

Not sure if it is related.

[2016-08-28 17:47] de-vries commented on #1758
This happened yesterday to me with the sequence split script.
My camera also puts 999 photos per folder and uses the same numbers for the filename in all folders. Normally I rename all files to prevent problems, but I forgot this time. I used `sequence_split.py` and all sequences got jumbled up and ~800 photos went missing.

I don't know what exactly went wrong but after I used `sequence_split.py`

[2016-08-28 19:19] iav opened #2223 "How to publish panoramas made with DMD panorama app in full quality?"
How to publish panoramas made with DMD panorama app in full quality? Currently images availablr from dmd android app have a quality much, much lower than accessible via http://www.dermandar.com/ site.
Just try to zoom http://mapillary.com/map/im/1jzA6QBCi6-y7lCN9JtFxg and http://pnr.ma/eDWHKM

[2016-08-28 20:23] nicolas17 commented on #1758
If running the script deleted or overwrote files locally, that seems like a different issue.

[2016-08-28 22:08] nicolas17 opened #2224 "Photo timestamps change after 'Add Mapillary data'"
When I use "Add Mapillary data", the modification time of the photos is changed to the time the EXIF data was added. The Upload tab then shows that timestamp in the list of sequences, instead of the actual time the photo was captured.

### Basic information
* Platform: `iOS`
* Version: `4.4.10`
* System: `iPhone 6`

### Steps to reproduce behavior

 1. Take pictures!
 2. Go to the Upload tab and n

[2016-08-28 23:15] pbb72 opened #2225 "Broken links in "Changeset approved" email"
The emails that are send out when a changeset has been approved (subject "xxx commented on your photo"), contain many broken links.
- The link "photo!" seems to contain an invalid photo id. (One mail leads to http://www.mapillary.com/map/im/OmXmLn419lT0X83yUXLQiQ, another to http://www.mapillary.com/map/im/BfkjgMXtI7GazUZgBSI91M, both are invalid.)
- The URL to the photo that is embedded in the em

[2016-08-28 23:23] pbb72 opened #2226 "Approval message for multiple changesets links to only one of them"
On the website, in the right-hand menu, under the "Feed" tab, there are messages about (among others) approved changesets, labeled "Your edit request was approved". These messages are sometimes about one changeset, and sometimes about several.

When the message is about one changeset that has been approved, there is a link "view" that links to the changes sequence.

When the message is about sever

[2016-08-29 07:29] millenbop commented on #2224
Thanks for reporting, I'll fix! Dod you use an external camera by the way?

[2016-08-29 07:56] mxa opened #2227 "Manual uplader: It's possible to upload the same or overlapping sequences."
### Basic information
- Platform:  `Web`
### Steps to reproduce behavior
1. upload sequence
2. upload another sequence that is the same or contains images of the previous sequence
### Expected behavior

I expect a message that the file already exists.
### Actual behavior

let's you upload and add the file to the database.
### Additional information

On the one hand you can't upload different image

[2016-08-29 08:01] ybkuang commented on #1758
@de-vries I opened an issue for your problem here https://github.com/mapillary/mapillary_tools/issues/136. Sorry for the issue. We will look into it.

[2016-08-29 08:07] mxa commented on #2028
This is a regression in the website. Was fixed but is back now.

[2016-08-29 08:31] echeloni2p commented on #2223
Hi!

You can upload images up to 20 MB in size and those are stored in full quality internal, but the viewer on the page may not show the original full quality.

echelon

[2016-08-29 13:00] talllguy commented on #2114
@millenbop is the fix on the App Store or Beta?

[2016-08-29 13:03] nicolas17 commented on #2224
No, this was all with the iPhone's built-in camera.

[2016-08-29 13:50] millenbop commented on #2114
It's out on the App Store.

[2016-08-29 15:01] millenbop commented on #2135
Duplicate, closing. Tracked in #1989 instead.

[2016-08-29 15:01] #2135 closed

[2016-08-29 16:17] talllguy commented on #2114
- [ ] OK, I will try it out and let you know when I do

[2016-08-29 20:29] blaueente opened #2228 "Placement of images in web uploader is practically unusable."
### Basic information
- Platform: `Web`
- System/Browser: Ubuntu with firefox _and_ chrome
### Steps to reproduce behavior
1. upload images without location
2. move location of small orange rings to actual location
3. drag and drop ring again
### Expected behavior
1. The selection and drag&drop react instantly
2. Other already placed rings should stay fixed when place a new ring.
3. If I click on

[2016-08-29 20:30] blaueente commented on #2228
Here it is, zipped seems to be ok:
[mapillary_screencast_upload_location.mkv.zip](https://github.com/mapillary/mapillary_issues/files/443413/mapillary_screencast_upload_location.mkv.zip)

[2016-08-30 00:59] nicolas17 commented on #1917
This is irrelevant now that the new website is released, closing.

[2016-08-30 00:59] #1917 closed

[2016-08-30 01:05] nicolas17 commented on #2223
There are plans to make higher-resolution panoramas work in the viewer. You will not need to do anything when this is done, since the server keeps the original file you downloaded.

[2016-08-30 01:12] nicolas17 commented on #2204
You can already skip the current image without making any changes by clicking the right arrow on top (in the sequence navigator with :arrow_left::arrow_forward::arrow_right:).

However, it would be much more convenient to have another button to do the same, next to the "clear all" and "submit" buttons.

[2016-08-30 01:17] iav commented on #2223
This is the question!
Generaly not clean (at least to me) how to  get a highes possible quality panorama from app. I found only option "save to gallery" - it makes jpeg. But not so big jpeg, and panorama on site can provide much better small details then exported jpeg.
Maybe, I just miss button "export with all available quality"?

Or, maybe, there are another app, that can do a panoramas with ver

[2016-08-30 01:19] nicolas17 commented on #2204
Or... Maybe we don't need an extra button.

Currently, if no blur changes were made yet, the Submit button is disabled. Maybe the same button can be reused as "go to next picture" instead of disabling it. If there are no changes yet, the button would say "Next" and go to the next picture when clicked. When the user makes an edit, change the button to say "Submit", and submit and go to the next pic

[2016-08-30 01:20] nicolas17 commented on #2223
I meant the Mapillary server keeps the original file you upload (oops did I say download? I meant upload...)

But you seem to be asking a question about DMD, not about Mapillary...

[2016-08-30 01:47] iav commented on #2223
I don't know. Mapillary once declared they accept panoramas from DMD. And I newer find - how. Possible they can use kind of API provided by DMD?

[2016-08-30 06:35] knikel opened #2229 "Add exclusive filters"
From [this](https://forum.mapillary.com/t/where-are-the-filters-in-the-new-mapillary/632/8) forum thread,
e.g. searching for `not:username` (or a toggle somewhere, as I'm not sure whether we want to build a query language in the search box) will display all the coverage from the given area from all, but the given user.

[2016-08-30 07:57] voschix opened #2230 "Feed and Uploads scroll bar missing in Chrome"
- Platform:  `Web`
- System/Browser: `Windows 10 / Chrome version  Version 52.0.2743.116 m`
### Steps to reproduce behavior
1. Open Mapillary.com and log in
2. Open the user side bar
3. Select "Feed" or "Uploads"
### Expected behavior

There should be a scrolling bar, when there are more feeds/uploads than can be displayed
### Actual behavior

No scroll bar
### Additional information

The site beh

[2016-08-30 08:37] millenbop commented on #1970
This is now pretty much implemented, at least for OSC v2, just need to do some more testing this week. We only have the LG 360 in the office at the moment, so only tested it with that one so far. Would like to test more OSC v2 cameras.

Also wand to get hold of an OSC v1 camera so I can implement and test support for v1 as well. Any suggestions?

[2016-08-30 08:42] katrinhumal commented on #1892
This is still a recurring problem. Feedback from voschix:
amongst the sequences being uploaded, there are a high number of rotated ones (all photos upside down). They were all taken with the same settings and the same mechanical arrangement as the upright ones. These are all from a new phone (Sony Z5 compact) and the ratio of upside-down sequences vs normal ones is about 1:1, i.e. much higher than

[2016-08-30 16:13] rausk commented on #2193
"Could you please try out the distance based capture mode?
 In this mode pictures will be captured by distance to previous capture (and compass angle rotation) ."

The distance based capture mode seems not to work correctly,
if you start a new sequence,, nearly always 2 or 3 pictures are taken at the same starting position.