[2017-05-17 19:09] floscher commented on #2565
@majkaz I believe you are referring to the traffic signs with the orange boxes around them that are painted on top of the image display in JOSM. These are on by default, but you can easily turn them off:
* open the image info panel using the ![mapillary-info svg](https://cloud.githubusercontent.com/assets/3904348/26169603/ac01bb98-3b3e-11e7-981a-015cee019202.png) icon in the left sidebar of JOSM
*

[2017-05-17 22:02] kudarisenmon commented on #2416
Version 3.56 works fine! Thank you.

[2017-05-18 03:35] #2416 closed

[2017-05-18 05:43] jrcarlsen commented on #2568
It usually happens after a little while. But stopping captures for 5 mins
doesn't solve it either.

I stopped capturing to let the phone storage catch up, if it was getting
behind. I also tried to keep the phone cool, in case it was a overheating
problem. Neither helped. 2 second interval didn't help either.

This is the same hardware I've used to capture most of my photos.

On May 17, 2017 19:24,

[2017-05-18 06:18] HolgerJeromin commented on #2415
I have v3.56 installed (playstore beta) and will try to report back when i have more to upload.

[2017-05-18 06:29] jfburke3 commented on #2571
@ovivoda  Yes, they're all in that CAMERA2_0 directory. New sequences that I just took are also in that directory.

@peterneubauer Sure, but I'm not sure if I can do that using my phone. Might have to wait a day or so when I'll be at a real computer.

[2017-05-18 07:02] echeloni2p commented on #2573
Hi,
it seems not to use it, but those inforamtion are far too far off. Mapillary needs to be +/- 10m to be accurate. WiFi and Cell information are mostly +/- 100 m.

[2017-05-18 09:55] aligitor commented on #2573
@echeloni2p I think it also depends where you use it: in a crowded inner city wifi information can add a lot to accuracy, as there are lot of wifi access points around, but GPS signal isn't good in itself because of high builidings.

[2017-05-18 10:33] ramapongithub commented on #1858
@gyllen  See the sequences in my first post. I can access them on the legacy webpage with the same key, for instance for the first sequence
[http://legacy.mapillary.com/map/s/_WSVoaE_GA_avDO58Lzzvg](http://legacy.mapillary.com/map/s/_WSVoaE_GA_avDO58Lzzvg)
So the pictures are there, but the tracks are not shown on the map.

On the new webpage things are much more complicated. The tracks/dots are a

[2017-05-18 10:40] jaakkoh commented on #2567
I've also noticed the Finland shape issues. Just haven't been sure if the shape shown represents exactly what the stats count.

See e.g.
[Helsinki area](https://www.mapillary.com/app/stats/85633143?lat=60.17232294926961&lng=24.97178836132062&z=10.363370514484286): You can see rather clearly how there are already areas that have quite dense photo coverage. /Hmm. that link zooms out to national leve

[2017-05-18 11:26] ramapongithub commented on #1858
Short update: I can not find this sequences under my uploads on the newer webpage.

[2017-05-18 12:25] ulikoehler commented on #2415
It seems to me like this issue is fixed in 3.56. I have tested with a one-photo sequence and everything works as expected. I will continue to test with other sequences.

[2017-05-18 14:00] ulikoehler commented on #2415
I've now tested with a longer sequence and there doesnt seem to be a problem any more (so far, at least). However, I've noticed that when you start the upload and then turn your smartphone off (i.e. display) and on again, it only displays `... ...`:

http://i.imgur.com/okwNjgV.png

Maybe someone else can confirm that?

[2017-05-18 14:29] ovivoda commented on #2415
@ulikoehler That is displayed while waiting for a notification from upload. When a new image is uploaded the progress should be updated with correct data. Do you see it as confusing? Maybe we should add "waiting for progress..." ?

[2017-05-18 19:51] ulikoehler commented on #2415
@ovivoda It's a little bit confusing, but I believe it's not confusing enough for you to waste your time for trivialities like this :-) Now that I know it's not an issue for me.

@HolgerJeromin  What do you think?

[2017-05-18 20:23] gyllen commented on #2573
@peterneubauer You know all about this

[2017-05-18 20:28] gyllen commented on #1858
@peterneubauer We need to add this to the inconsistency issue.

@ramapongithub Thanks for pinging us on this one.

[2017-05-18 21:00] peterneubauer commented on #2573
That is true, we actually can investigate the possibility to use other fused location providers if gms is not available and GPS only is not desirable.

[2017-05-19 06:03] ramapongithub commented on #1858
Another short update: I can see the sequences on my profile page on the Iphone, but cn not access them. When i tap them, the view changes to the split screen for playing the sequence, but the map view stays on world overview and the picture view stays black.

[2017-05-19 06:04] peterneubauer commented on #1858
Is that even happening on the web, do you have a link?

On May 19, 2017 8:03 AM, "ramapongithub" <notifications@github.com> wrote:

[2017-05-19 06:23] ramapongithub commented on #1858
@peterneubauer I tried yesterday to find the sequences in my upload overview on the web, but could not find them. I will try again, but at the moment the web page is a bit unresponsive.

[2017-05-19 06:51] richardbrinkman commented on #2519
The weird behaviour only shows on the layer "Mapbox Streets". The layers "Mapbox Satellite", "Openstreetmap" and "ESRI Streets". The latter 3 do appear blurred. Probably because the tile images are stretched.

[2017-05-19 08:11] richlv commented on #1844
@paulinus, you said :
"Some cameras, like the Virb, offer the possibility of unbending the images on the camera, but we do not recommend using that option. It is easier for us to work with the unmodified image."

https://github.com/mapillary/UserGuide/wiki/Equipment says :
"Turn on automatic straightening so you get less "fisheye effect"."

which is the suggested method currently ?

[2017-05-19 09:05] millenbop commented on #1844
That page is seriously outdated. We should update it or get rid of it since we now have https://help.mapillary.com

What @paulinus said is correct, let us do the image correction.

Pinging @katrinhumal

[2017-05-19 09:59] ramapongithub commented on #1858
@peterneubauer I picked the fifth sequence from my first post as example.
[legacy.mapillary.com/map/s/fGT_2BMyCoN14TdiPFluQA](legacy.mapillary.com/map/s/fGT_2BMyCoN14TdiPFluQA)
The sequence key links to the first picture in this sequence
[http://legacy.mapillary.com/map/im/_yD8MBA4ECpJWx3hq8MTjA/photo](http://legacy.mapillary.com/map/im/_yD8MBA4ECpJWx3hq8MTjA/photo)
and shows on my computer as
[ht

[2017-05-19 12:09] habi opened #2574 "Selecting 'Mapbox Streets' shows 'Basemap: (null)'"
### Basic information
* Platform: `iOS`
* Version: `4.6.15`
* System/Browser: `iOS 10.3.1 (14E304)`

### Steps to reproduce behavior

 1. Switch map provider
 2. Select 'Mapbox Streets'

### Expected behavior
Basemap: Mapbox Street

### Actual behavior
Basemap: (null)

[2017-05-19 12:43] katrinhumal commented on #2574
@habi Thanks for reporting! We actually already caught and fixed this so it should be updated in the app very soon.

[2017-05-19 12:43] #2574 closed

[2017-05-19 13:06] katrinhumal commented on #1844
@millenbop good point, I will see to it!

[2017-05-19 13:15] GITNE commented on #388
Is this still online? I'm getting a 502 HTTP error.

[2017-05-19 17:03] mxa commented on #2415
Confirming what @ulikoehler wrote. Main problem is fixed, but now the progress is shown as in the screenshot in imgur.

[2017-05-19 21:53] habi commented on #2546
I hoped that the newest version (Version: 4.6.15) fixed the problem, but it doesn't.
I've stumbled over a detail that might be important (maybe there's a 'off-by-one'-error somewhere).

This morning I recoded three sequences, a very short and two longer ones.
The first one was 13 images, where I was testing if a 90° angle is picked up.
The second one around 300 images until I had to wait at a red

[2017-05-21 07:53] PaulColinSimpson opened #2575 "Missing Sequence Which Appears On OpenStreetMap iD Editor But Not Mapillary"
### Basic information
* Platform: Web
* System/Browser: Firefox
* Version: 53.0.3

### Steps to reproduce behavior

 1. Go to link in OSM: https://www.openstreetmap.org/edit?editor=id#map=19/51.76670/0.08216
 2. Go to link in Mapillary: https://www.mapillary.com/app/user/essexboy?lat=51.7666641757765&lng=0.08214453360028529&z=18.977023634811154
 3. You will notice that a sequence that was uploded

[2017-05-21 16:19] ovivoda commented on #2415
@ulikoehler @mxa Thanks a lot for the feedback.

Changed the dialog to show "Checking progress from background sync service ..." while the updates are available to the UI thread.

This is already available in http://android-releases.mapillary.io/Mapillary_Android_3.57-SNAPSHOT3.apk

[2017-05-21 16:22] ovivoda commented on #1350
New upload process should be much smoother in the next app release. Please open this if you still have problems with the upload.

[2017-05-21 16:22] #1350 closed

[2017-05-21 16:23] ovivoda commented on #1653
This should be fixed in the new release

[2017-05-21 16:23] #1653 closed

[2017-05-21 16:26] ovivoda commented on #2536
Closing this. Please reopen it if you still have issues with upload.

[2017-05-21 16:26] #2536 closed

[2017-05-21 16:26] ovivoda commented on #2572
New release will have this issue fixed

[2017-05-21 16:27] ovivoda commented on #2530
@jfburke3 Pease try http://android-releases.mapillary.io/Mapillary_Android_3.57-SNAPSHOT3.apk and let me know if the upload works better.

[2017-05-21 16:29] ovivoda commented on #1892
fix for this coming out in the next release.

[2017-05-21 16:36] ovivoda commented on #2562
@ArAge67 From logs it seems that there are some corrupted JPG files in the sequence.
Please try http://android-releases.mapillary.io/Mapillary_Android_3.57-SNAPSHOT3.apk .
This version will just skip corrupted JPG files and upload the all others. You will see a detailed report in the sequence card when the upload is complete.

Let me know if it works better. Tx!

[2017-05-21 16:38] ovivoda commented on #2569
@jaakkoh This is pushed to beta channel. Can you confirm that it works for you as well?

Thanks!

[2017-05-21 19:12] jaakkoh commented on #2569
 @ovivoda : It does work also with me (when tested with Huawei P10 and Samsung S5).
Thanks!

[2017-05-21 19:19] jaakkoh opened #2576 "Android app crashes on Samsung Galaxy S8, or freezes the phone."
### Basic information
* Platform: `Android`
* Device: `Samsung Galaxy S8`
* Version: `3.56`

### Steps to reproduce behavior

 1. Capture photos (with pretty much any combination of configuration parameters)
 2. Take a few dozen to about 100-200 photos
 3. The app crashes or totally freezes the phone

### Expected behavior

Smooth capturing for hours.

### Actual behavior

Crash of app or app free

[2017-05-21 22:02] HolgerJeromin commented on #2415
Even Beta 3.56 from play store is much better. Thanks for your work

[2017-05-21 22:02] #2415 closed

[2017-05-22 07:49] pbb72 commented on #2569
Seems to work fine now in 3.56 :-)

[2017-05-22 07:49] #2569 closed

[2017-05-22 08:39] ovivoda commented on #2571
@jfburke3 I cannot reproduce this issue here.

[2017-05-22 10:26] nickplesha commented on #2528
Thanks for reporting this! `°` is now visible. :)

[2017-05-22 10:26] #2528 closed

[2017-05-22 16:14] ray66 commented on #2545
@nickplesha Sorry for my late response but I was AFK for two weeks ;) Id upgraded to FF 52.02, cleared the cache, deleted cookies from Mapillary. The icons in the traffic sign filter dialogue are ok now but the issue when clicking on a cloud of signs still persists.

[2017-05-23 05:26] katrinhumal commented on #2576
@jaakkoh Thanks! We have 3.58 out in beta now with upload fixes among other improvements - would you like to try that out and let us know?

[2017-05-23 14:30] nighto opened #2577 "Empty areas on image (write error?)"
### Basic information
* Platform: `Android`
* Version: `3.55`
* System/Browser: `Samsung Galaxy S5 running Android 6.0.1, stock ROM`

### Steps to reproduce behavior

 1. Open Mapillary and record sequence
 2. Settings: Distance based capture, distance autocapture: 5m

### Actual behavior

Shooting a sequence with the phone attached to bicycle, apart from the eventual blurred photos (normal due to

[2017-05-23 14:32] nighto commented on #2577
Looks like what's shown as gray on Windows Explorer shows as white on browser. Here's a screen capture of what the sequence files looks like on computer. Also notice that the write errors started from a certain point on sequence.

![print mapillary](https://cloud.githubusercontent.com/assets/397851/26359293/75a40e36-3fab-11e7-8683-cbae4a3338c2.png)

[2017-05-23 14:36] nighto commented on #2577
Interesting to notice as well that the later pictures on the sequence, even though have no visible errors, have no EXIF data:

![print mapillary 2](https://cloud.githubusercontent.com/assets/397851/26359538/1f01c784-3fac-11e7-92da-f32bf6c70e28.png)

[2017-05-23 17:27] katrinhumal commented on #2577
Hi @nighto - thanks for reporting! We have version 3.58 out in beta now with a lot of fixes. Would you like to give it a try and see how it works for you?

[2017-05-23 17:28] nighto commented on #2577
Enrolled on beta on Play Store again, will try when it shows the update available.

[2017-05-23 17:31] katrinhumal commented on #2577
Sounds great! Keep us posted & good luck ;)

[2017-05-23 19:53] ArAge67 commented on #2562
@ovivoda Much better! Discovered three issues though:

1. Mapillary_Android_3.57-SNAPSHOT3.apk uploaded almost all my photos except one. This photo seems to be corrupted according to the standard Android picture viewer. Should Mapillary delete this photo automatically? Mapillary now keeps showing this:
![screenshot_2017-05-23-21-04-10](https://cloud.githubusercontent.com/assets/12451224/26373172/c

[2017-05-24 11:33] millenbop commented on #2546
No changes for the GoPro in the last update. I plan on submitting it on Friday.

You can see full release notes here: https://docs.google.com/document/d/15eexyVvjIgNvhuNTiuYBxuYWn6dGJduAHXQA311ypU0/edit?pref=2&pli=1#

[2017-05-24 20:59] jfburke3 opened #2578 "Request for consideration: a Mapillary screen saver for Amazon's Fire TV"
Just an idea that came to mind:  a screensaver for Amazon's Fire TV that pulled random (or semirandom?) sequences from Mapillary to play.  I imagine that it would be more interesting if it selected an entire sequence (with a min/max number of images?  say, >25 and < 200?) to play through.

Not sure what the bandwidth hit on Mapillary's servers would be....might not be practical.

Not an Android de

[2017-05-25 00:06] gyllen commented on #2575
@PaulColinSimpson They should be the same, Im trying to find exactly what sequence though, pulled up the areas next to each other and looks equal to me
![screenshot 2017-05-24 17 05 46](https://cloud.githubusercontent.com/assets/268859/26430588/58a1feda-40a3-11e7-89ac-fa22fd329302.png)
![screenshot 2017-05-24 17 05 40](https://cloud.githubusercontent.com/assets/268859/26430591/5e11ca26-40a3-11e7-9

[2017-05-25 03:53] jaakkoh commented on #2576
Things are much worse with 3.58. The app freezes or the photo count just stops after a few dozen photos at max. As a new problem half of the photos are half corrupted.

The unfortunate thing is that I'm currently traveling and don't have a device that I can capture with.

I hope you get the capture (and preferably upload) issues resolved by the last week of June as I'll be driving through Europe t

[2017-05-25 16:49] ovivoda commented on #2562
@ArAge67 Thanks for your feedback.

Please see my comments:

1. Mapillary will not delete the image but it should mark it as a stray image. Can you please send the image to us so we can check why it does not see it as a stray image? So instead of "one more photo to upload" it should say "one stray photo, ignored"
I will work on the dialog UX as it seems that CANCEL button is cut off.

2. I fixed t

[2017-05-25 17:48] HolgerJeromin commented on #2532
I just rechecked with latest beta app from store. Everything worked as normal. Leaving Wifi stopped uploading in all tests.

[2017-05-25 17:48] #2532 closed

[2017-05-25 18:41] ArAge67 commented on #2562
@ovivoda Thanks for your support.

This is the jpg file you were asking for:
![2017_05_05_13_06_28_846](https://cloud.githubusercontent.com/assets/12451224/26463462/abd0b48e-4184-11e7-8514-6d356427b201.jpg)
Do I have to delete this file manually or should I leave it there to test future Mapillary versions?

FYI I installed Mapillary_Android_v3.58-SNAPSHOT2.apk but noticed a different software vers

[2017-05-26 03:02] jfburke3 commented on #2571
Here are 3 pics, the gpx file, and the json file, from one of the sequences I took that day.  Apologies that it took so long.

[support_files.zip](https://github.com/mapillary/mapillary_issues/files/1030707/support_files.zip)

![2017_05_14_17_15_42_911](https://cloud.githubusercontent.com/assets/11140831/26478836/0ace654a-419d-11e7-9034-a650fc14370a.jpg)
![2017_05_14_17_15_44_842](https://cloud.gi

[2017-05-26 03:42] jfburke3 opened #2579 "Camera pointing direction doesn't work"
### Basic information
* Platform: Android 6.0.1
* Version: recent Mapillary 3.5.x (including 3.58)
* System/Browser: Samsung Galaxy S7 Edge

### Steps to reproduce behavior

 1.  Enter camera mode
 2.  Select the direction button.  Select pointing forward.
 3.  Take images!
 4.  Upload said images.
 5.  When published, note that the direction cone points everywhere except forward most of the time.

[2017-05-26 05:20] katrinhumal commented on #2578
Interesting idea! I'll mention this to the team.

[2017-05-26 05:41] katrinhumal commented on #2576
@jaakkoh Passing this on to our Android "department"!

PS. For action cam captures, do them anyway if you can - if the upload is cumbersome then we'll find a way to help you with that. Can't miss a drive across Europe! :)

[2017-05-26 14:34] peterneubauer commented on #2571
Thanks, will look at this ASAP

On May 26, 2017 5:02 AM, "jfburke3" <notifications@github.com> wrote:

[2017-05-26 17:32] jfburke3 commented on #2576
Just a note that I'm not experiencing any unusual crashy behavior on my Galaxy S7 Edge, Android 6.0.1.

@jaakkoh are you running Android 7.x on your S8?

[2017-05-29 06:56] mprins opened #2580 "notifications as result of `@sequence_cut` action contain bogus link to "View on Mapillary""
### Basic information
* Platform:  `Web` and `Mail`
* Version: `N/A`
* System/Browser: `N/A`

### Steps to reproduce behavior

 1. none, notifications nor sequence cuts are user-controlled

### Expected behavior

The link provided in the notifications (both in the "feed" as well as the link in the mail should go somewhere. I would expect the link to load both new sequences or sequence parts and/or

[2017-05-29 08:29] mxa opened #2581 "UX: Create account button on website even when already logged in"
### Basic information
* Platform: `Web`
* System/Browser: `any`

This is an user experience nuisance.
The current (and the previous) version of the website shows a button "create account" even when the user is already logged in an obviously has an account already. I'd only show this button, if the user is logged out.

[2017-05-29 12:36] voschix commented on #2580
I was about to signal the same problem.

[2017-05-29 20:37] ArAge67 opened #2582 "Capture sequence can't be stopped in Android v3.58-SNAPSHOT2"
### Basic information
* Platform: `Android`
* Version: `4.1.2`

### Steps to reproduce behavior

 1. Start capturing in automatic mode
 2. After a few hundred photos press the stop button.
 3. Mapillary doesn't stop capturing

### Expected behavior

Stop capturing

### Actual behavior

When the stop button is pressed Mapillary shows this:

![screenshot_2017-05-27-12-48-10](https://cloud.githubuser

[2017-05-29 21:04] ArAge67 opened #2583 "Random time order in upload tab"
### Basic information
* Platform: `Android`
* Version: `4.1.2`

### Steps to reproduce behavior

 1. Capture a sequence
 2. Browse the upload tab and review your captured photos
 3. Captured photos are not always in time based order

### Expected behavior

Captured images should be in the correct time order.

### Actual behavior

See this screenshot:
![screenshot_2017-05-27-13-28-06](https://cloud

[2017-05-30 07:31] ramapongithub opened #2584 "iOS - picture direction indicator shows strange/false direction"
### Basic information
* Platform: iOS 10.1.1
* Version: Mapillary App 4.6.16

### Expected behavior

Picture direction indicator shows same direction as in the web broser

### Actual behavior

Sometimes the direction indicator shows strange directions.

### Additional information

Not always, but sometimes the direction indicator in the sequence view schows directions not matching the direction sh

[2017-05-30 09:15] millenbop commented on #2584
Hi, thanks for reporting!

I take it you mean this one:

<img width="159" alt="screen shot 2017-05-30 at 11 04 58" src="https://cloud.githubusercontent.com/assets/12835674/26576085/e4133122-4527-11e7-89d2-582f8c4a5405.png">

Everything displayed in the viewer is calculated using our technology called Structure from Motion (SfM). It has flaws but we are constantly improving it. You can also see tha

[2017-05-30 09:15] #2584 closed

[2017-05-30 11:41] frafra commented on #2431
It would be very nice to be able to use it in Android :) Any progress/beta version we could test?

[2017-05-30 19:16] jfburke3 commented on #2583
I've noticed the same thing.  Android 6.0.1, Samsung Galaxy S7 Edge.

[2017-05-30 19:17] jfburke3 commented on #2582
Just additional data for the developers:  I have not encountered this problem.  Samsung Galaxy S7 Edge, Android 6.0.1.  I took several thousand images this weekend and was able to stop/start them just fine.

[2017-05-30 19:18] jfburke3 commented on #2572
Version 3.58 seems to remember me know.  :-)

[2017-05-30 19:18] #2572 closed

[2017-05-30 19:19] jfburke3 commented on #2566
Is this related to the direction problem I reported in #2579 ?

[2017-05-30 19:52] gyllen commented on #2580
@peterneubauer Where are we on this issue?

[2017-05-30 19:53] gyllen commented on #2581
@mxa Is this on the front page?

[2017-05-30 20:05] mxa commented on #2581
Yes. It is probably intentional, but i find it irritating.

Am 30. Mai 2017 21:53:23 MESZ schrieb Johan Gyllenspetz <notifications@github.com>:

--
Max Neupert

[2017-05-30 20:14] gyllen commented on #2581
@amahon Thoughts on this?

[2017-05-30 21:45] ToeBee opened #2585 "Latitude flipped to negative on single picture in sequence"
### Basic information
* Platform: `Android`
* Version: `3.58`
* System/Browser: `Samsung Galaxy S 7`

I took a 288 image sequence this weekend using the Mapillary app. A single image in the middle of the sequence got transported into the middle of an ocean. The sequence splitter came through and split the sequence into 3 parts. I assumed the phone glitched and somehow the GPS coordinate got set to

[2017-05-30 22:48] polarbearing opened #2586 "Website: upload count invisible depending on sat-imagery background"
When uploading, the current/total count is invisible depending on the contrast to the satellite imagery background. As usual, eye candy intended but lack of functionality.
![upload_progress](https://cloud.githubusercontent.com/assets/8266355/26608219/b8e19aac-459a-11e7-835a-435734ed708a.png)

[2017-05-31 13:54] katrinhumal commented on #1931
@pbb72 can you please try if this helps? If not, let's reopen the issue.

[2017-05-31 14:03] voschix opened #2587 "Picture resolution settings have no effect"
### Basic information
* Platform: `Android`
* Version: `3.56 snapshot`
* Phone: 'Sony Xperia Z5 compact'
* System/Browser: `not applicable'

### Steps to reproduce behavior

 1. Produce a series of sequences with different settings of the four possible combinations of the settings of the two toggle switches labelled "Take low resolution pictures" and "Take high resolution pictures", i.e. off-off,

[2017-05-31 18:15] pbb72 commented on #1931
@katrinhumal I'm not getting these horrible artifacts anymore, though it still seems the quality is much lower than what I get from my LG. I will need to do a comparison with both camera's, but the weather is not very good at the moment.

However, I don't think this issues is solved at all by saying "Go into Developer Settings and enable Force Use of Legacy API". That is not a solution, that's a w

[2017-06-01 10:02] peterneubauer commented on #2551
These sequences should now be corrected on the map, can you please test? We are going to re-send all sequence location changes in order refresh the tiles if needed.

[2017-06-01 10:02] #2551 closed

[2017-06-01 13:54] katrinhumal commented on #2586
@polarbearing thanks! I will pass this feedback on for future developments of the uploader.

[2017-06-01 20:20] ArAge67 commented on #2562
@ovivoda Today I noticed that the traces shot with Mapillary_Android_v3.58-SNAPSHOT2.apk show a lot of jumps or cutoff sequences. All my photos/sequences taken on May 27th have these problems. And I'm sorry to say but I don't have a log file of the 27th available but only of May 29th:
[mapillary.log.txt](https://github.com/mapillary/mapillary_issues/files/1045885/mapillary.log.txt) but maybe it's

[2017-06-02 05:09] peterneubauer commented on #2562
Hi there,
This can be a backend issue, since the generated tiles lag currently some
day - we are regenerating a lot of them. Yiu should be able just to wait a
few days until we catch up. Otherwise, please let me know.

On Jun 1, 2017 10:20 PM, "ArAge67" <notifications@github.com> wrote:

@ovivoda <https://github.com/ovivoda> Today I noticed that the traces shot
with Mapillary_Android_v3.58-SNAPSHO

[2017-06-02 11:30] millenbop commented on #2465
Finally got hold of a 5C. It has problems with the compass, it's always stuck at 0 degrees. I also checked the compass app, and it's also stuck at 0 degrees. It's running the latest version of iOS.

[2017-06-02 11:33] millenbop commented on #2465
Also checked the map application, doesn't work there either. I don't think there is much we can do about it unfortunately. I think the phone needs to be serviced or there is a bug in iOS.

[2017-06-02 11:34] millenbop commented on #2465
I managed to get it working a short while after toggling location services on/off a few times in different places, but then it stopped working again after a short while.

[2017-06-02 14:22] katrinhumal commented on #2587
@voschix We just released 3.59 with a fix for the resolution settings to work again. Please try and let us know! There is also only one option for low-res setting in that version. @ovivoda has more information on this change.

[2017-06-02 19:11] ulikoehler commented on #122
I'm currently running into this issue as I'm uploading tons of High-res images (2.0 MB / img) using a Raspberry-Pi based setup 24/7 on my ADSL line.  Due to the DSL reconnecting once every night and due to bugs in the upload-without-tags script, I tend to end up with a lot of split sequences after following the *if the upload fails mid-sequence* procedure.

This doesnt't mean "a sequence split at

[2017-06-02 19:54] ulikoehler commented on #2105
I think this could be closed since a delete feature exists for both sequences and for photos and IMO it works really well

[2017-06-02 19:55] ulikoehler commented on #2579
I think this has been fixed in the meantime (I was experiencing the same issue up until ~5 days ago). Now the directions seem to work well, at least for forward-facing cameras and when moving at non-zero speed.

[2017-06-02 21:11] #2105 closed

[2017-06-03 03:12] Stalfur opened #2588 "Website thinks WebGL isn't enabled in Chrome"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: Windows 10 Chrome

### Steps to reproduce behavior

 1. Open Chrome
 2. Go to Mapillary website
 3. Click on Explore places
 4. Be greeted by error message

### Expected behavior
See map like usually

### Actual behavior
Error message appears:
Your browser does not support WebGL or it’s not enabled. To experience Mapillary,

[2017-06-03 08:27] ovivoda commented on #2579
@ulikoehler tx for the feedback. Was this solved in v3.59?

@jfburke3 please check out latest released version 3.59 on google play and let me know if this issue is still there

[2017-06-04 09:30] voschix opened #2589 "Pause on face-down not working"
### Basic information
* Platform: `Android`
* Version: `3.59`
* System/Browser: not applicable
* phone: Sony Xperia Z5 compact

### Steps to reproduce behavior
In Settings > Capture > Pausing,  enable "pause on face-down"

### Expected behavior
Capture stops when the smartphone is pointing to my shoes

### Actual behavior
Shooting continues (in distance-based and in timed capture modes)

### Addit

[2017-06-04 10:22] voschix commented on #2290
This problem is back for me in Firefox 53.0.3 (32-bit) on Windows 10. It worked in the past, The scrollbar is present, but the lower arrow (to go back in time) is missing. hence I cannot go back further than May 2017 in my Uploads.
The scrollbar in Edge is not working.
The scrollbar in Chrome (Version 58.0.3029.110 (64-bit)) is missing completely

[2017-06-04 10:52] voschix commented on #2290
Update for Firefox on Windows:
I am operating a vertical dual monitor layout on my laptop with the external monitor "above" the laptop monitor. When the Firefox window is on the upper monitor in full-scren mode, I can scroll down further in the "past" by dragging the bar on a virtual extension of the scroll bar on the lower screen, and beyond that screen, as long as I stay with the mouse inside a

[2017-06-04 12:21] voschix opened #2590 "Please bring back "area notifications""
### Basic information
* Platform: `iOS` | `Android` | `Web`
* Version: `...`
* System/Browser: `...`

I cannot find any more the Area Notifications feature in the "new" Mapillary (web and app)
Would be nice to have it back.

[2017-06-05 06:43] voschix commented on #2362
For me Time Travel is still not working on Windows 10 and Firefox  (up-to-date and javascript enabled).

[2017-06-05 08:06] mishari commented on #2549
In which case, I would like to have Geofencing from Geojson feeds. One example is that country specific community can update json files on Github and Mapillary can use that to auto-hide images from contributors.

[2017-06-05 12:12] oscarlorentzon commented on #2362
@voschix Let's try to figure out why.

1. Can you share the examples where it does not work?
2. Do those particular examples work in any other browsers or operating systems?
3. What behavior are you expecting?
4. What behavior are you experiencing?

[2017-06-05 15:03] katrinhumal commented on #2590
@voschix Do I understand correctly that you mean the function where you could follow new comments and uploads in a specific area?

[2017-06-05 15:50] gyllen commented on #122
@ulikoehler An example would greatly help

[2017-06-05 15:51] gyllen commented on #2588
@Stalfur Thanks for reporting, elevating

[2017-06-05 16:50] ulikoehler commented on #122
@gyllen
One example would be
https://www.mapillary.com/app/?lat=47.869614678604364&lng=10.177116260517266&z=17.647011480849454&pKey=qZSg-YFIk2VWiiSYeZDSEw&focus=map

At the bridge, you can see multiple sequences, although I walked over it only once. If they would be merged, the sequence would be OK.

Another example is directly to the east/southeast of the bridge where you can see multiple sequenc

[2017-06-05 17:17] voschix commented on #2590
Yes.
I am referring to the feature that you can set in legacy.mapillary.com:

http://legacy.mapillary.com/map/settings/notifications
(lower part of the window)

Volker

On 5 June 2017 at 17:03, katrinhumal <notifications@github.com> wrote:

[2017-06-05 22:22] gyllen commented on #122
Were these images uploaded in the same sequence https://www.mapillary.com/app/?lat=47.874744722222204&lng=10.177490000000034&z=17&pKey=WM0SvpFG_bVAiRHxtjs3zg&focus=photo ?

[2017-06-05 23:23] ulikoehler commented on #122
@gyllen If you mean the two sequences that are visible (at your link) in the lower left corner, these were actually different sequences (i.e. I stopped recording in the app manually and started again after stopping for a few seconds).

As for many other sequences, I uploaded them using my BeagleBoard (like a Raspberry Pi) overnight using mapillary_tools `upload_with_authentication.py`, so while th

[2017-06-06 06:53] nickplesha commented on #2588
@Stalfur Thanks for reporting this. Can you please visit https://get.webgl.org/ and https://www.mapbox.com/mapbox-gl-js/example/check-for-support/ and  check what it says? It might help us pinpoint where the issue is occurring.

[2017-06-06 07:52] katrinhumal commented on #2590
@voschix Check! I will investigate what the plan is with these and make sure your request is heard by the product team.

[2017-06-06 10:34] voschix commented on #2362
I have to rectract my statement. It works in many places. I was unlucky, I had tried it in about 10 random locations with multiple tracks of mine . Looking closer into it, I seem to have a number of sequences that are not normalized. These seem to be the problem. Those seem not to take parte in the Time <travel comparisons. Can you confirm that?
This opens another question: Why do I produce so man

[2017-06-06 14:31] nickplesha commented on #2362
@voschix If you're talking about the time-travel options being available: these images are chosen based on the similarity of position (lat/long and compass angle) to the image you are on.

If all sequences on a location are "normalized" then there could be more overlapping images and these would show up in time-travel mode.

We don't have a way of detecting if a sequence is not normalized, unfortu

[2017-06-06 15:30] voschix commented on #2362
@nickplesha As I said, its the missing normalization in many of my sequences that interferes with time travel (when I first tested I did it in places where I had taken photos many times).
It's difficult to keep all one's sequences checked (normalization, removing bad photos, pixellation, position correction), when your are taking many photos. Not only is there no way to check for normalization, th

[2017-06-06 15:38] gyllen commented on #2374
@simonmikkelsen So sorry for the delay of this issue, we are now activly looking into solving it

[2017-06-06 16:27] gyllen commented on #2374
@simonmikkelsen Its seems like you removed that `client_id`, can you create a new app and post the public properties here so I can do proper debug

[2017-06-06 16:58] jfburke3 commented on #2579
@ovivoda
I *think* I took this sequence with 3.59.  (Not 100% sure.)  Seems to be 180 degrees off.
https://www.mapillary.com/map/im/yi2mjuW1mSbOzb0y-FtiVQ

Sequences I took yesterday--definitely with 3.59--also don't have the direction embedded correctly.  Not 180 degrees like the other--it seems to vary.  See this sequence, and start playing from here:
https://www.mapillary.com/map/im/jCs_0xzm5or

[2017-06-06 19:15] Stalfur commented on #2588
This turned out to be a Chrome issue.

I was doing things with OBS and a new version of it didn't work with Chrome, had to disable hardware acceleration. To be able to view WebGL I had to enable hardware acceleration again.

False alarm.

[2017-06-06 19:15] #2588 closed

[2017-06-07 06:46] simonmikkelsen commented on #2374
Hi @gyllen
Thanks. I have created a gist with my whole test app at https://gist.github.com/simonmikkelsen/2daa44690b1d92640b8df48aa3cb2d8d
The client id is in line 19 and test redirect uri I have registered at Mapillary is in line 22.
The app runs as a wsgi app. Secret keys are redacted.

I have run it again, and still gets the response
`{"error":"invalid_request","error_description":"No authoriza

[2017-06-07 19:41] gyllen commented on #122
That sequence actually looks more like an error in the uploader. Did you upload them to the same directory and _then_ applied the done command?

[2017-06-07 19:58] ulikoehler commented on #122
I don't have records for the specific sequences, but in general it seems like `upload_with_authentication.py` is related to the issue.

I have to separate DSL connections (at different places). At one of them, I've placed my BeagleBoard to upload basically 24/7. I use it with `auto_done` This *mostly* works really well, except for it sometimes being stuck at "0 images left" forever, in which case

[2017-06-07 20:39] gyllen commented on #122
Have you tried `upload_with_preprocessing.py`, its a more stable script. Could you try to change and then we can see if the error still exists.

ALSO this beagleboard setup sounds really cool. Do you have anything to share around that project?

[2017-06-07 20:59] gyllen commented on #2374
Can you try creating a new Application and use this exact structure

https://www.mapillary.com/connect?client_id=NlRpbEg1aVRrbGNmcGhCZGhHSFpGdzo0YTBhYTIwZjk3Mzg5NGJh&scope=user:read+public:upload+public:write+private:read+private:write+private:upload&response_type=token&redirect_uri=http://localhost:3087

You can try above link to and see if that works and then just replace the client_id with your

[2017-06-08 01:29] gappleto97 opened #2591 "Mapillary Android never relinquishes location"
* Platform: Android
* Version: 7.1
* System/Browser: Android 7.1 (Nexus 6P, LineageOS)

### Steps to reproduce behavior

 1. Go to any tab other than Explore and Capture, OR
 2. Minimize the app in any tab other than Explore and Capture, OR
 3. Exit the app using the back button and confirming exit

### Expected behavior

Mapillary should stop requesting location services

### Actual behavior

You

[2017-06-08 01:32] gappleto97 commented on #2579
I'm on 3.59, and mine are consistently incorrect with similar issues to those described here. I've had to edit pretty much every sequence I've uploaded, with the sole exception of when I was walking. Even then I had to to reduce direction jitter.

[2017-06-08 17:57] HolgerJeromin commented on #2591
You can kill mapillary on upload as the uploading is done on a background service. But yes, this kills my battery.
The app "[GPS Status](https://play.google.com/store/apps/details?id=com.eclipsim.gpsstatus2)" can show an Icon in the notification bar when an application uses GPS.

[2017-06-09 06:31] simonmikkelsen commented on #2374
Hi
In my first attempt I used your exact URL with just client_id and redirect_uri replaced. I edited the scope to match the url, which is enable all but user:email and user:write. When I click the Authorize button in Mapillary, I get the message:

I also created a brand new application in Mapillary and got the exact same result.

I posted a gist with my app for the last attempt in https://gist.git

[2017-06-09 17:59] icemagno opened #2592 "Please consider give us more information about how to register a client ID"
Please consider give us more information about how to register a client ID.

I came from here:

https://www.mapillary.com/developer/api-documentation/#client-id

and them here:

https://www.mapillary.com/app/settings/developers

and the "Register an application" form give me a few options I don't know how to fill. After a lot of tests I'm still reciving errors when using the v3 API.

IMPORTANT: I'

[2017-06-09 20:29] bitboy85 opened #2593 "Signs unrecognisable"
I've just found mapillary and want to use it for editing open street map. But sadly in many pictures road signs are unrecognisable.
I fully agree that this is nessessary for license plates on cars but is there a way to keep other signs clearly visible?

[2017-06-09 22:09] simonpoole commented on #2562
3.59 app refuses to upload 2/3 of a sequence, nothing obviously wrong with the images. Wit:
![screenshot_2017-06-09-23-58-38](https://user-images.githubusercontent.com/1011860/26996151-057c14fe-4d71-11e7-9ee4-3520e0ccbe57.png)
![screenshot_2017-06-09-23-59-00](https://user-images.githubusercontent.com/1011860/26996161-10c2a1a2-4d71-11e7-9b47-11af999a364d.png)

Log files sent.

[2017-06-10 09:40] habi commented on #2546
Thanks for releasing a new version.
Looking forward to test it ASAP.
I'm marking the 'wrong ' sequences for deletion and will try to record them anew.

[2017-06-10 19:57] gyllen commented on #2374
Thanks for diving deeper into this. But the exact none modified URL works for you?

[2017-06-12 06:59] simonmikkelsen commented on #2374
I got `{"error":"invalid_request","error_description":"No authorization header passed"}` again.

I have attached the exact file I used as https://gist.github.com/simonmikkelsen/5feb1aac7d622e60a3f7c67b90a2c80b

I used the exact url as you provided, changed the port of my server and put the script in the location corresponding to the redirect_uri. In the step that fails I have to give a client_secr

[2017-06-12 07:56] voschix commented on #1175
I second this motion.

[2017-06-12 08:04] voschix opened #2594 "Blurring/unblurring not possible in top part of picture"
### Basic information
* Platform: `Web`
* Version: `latest`
* System/Browser: `Windows10/Firefox`

### Steps to reproduce behaviour

 1. draw a blurring rectangle anywhere in the photo aparto from the top 15% strip
 2. move it in the top strip
 3. try to cancel or move it

### Expected behaviour
A blurring rectangle in the top part of the picture should behave as in any other part of the picture

[2017-06-12 10:41] ramapongithub opened #2595 "Images "diconnecting" from sequence/track"
### Basic information
* Platform: `Web`
* System/Browser: Windows10 / Chrome

### Steps to reproduce behavior

 1. Go to [https://www.mapillary.com/app/?lat=50.72764711009168&lng=10.945988745111407&z=12.040109096004379&focus=map&menu=false&mapStyle=mapbox_streets](https://www.mapillary.com/app/?lat=50.72764711009168&lng=10.945988745111407&z=12.040109096004379&focus=map&menu=false&mapStyle=mapbox_s

[2017-06-12 12:18] millenbop commented on #2546
Fingers crossed!

[2017-06-12 12:28] millenbop commented on #2447
This was released last week, closing.

[2017-06-12 12:28] #2447 closed

[2017-06-12 12:29] millenbop commented on #2212
This was released on iOS last week, removing iOS tag.

[2017-06-12 12:29] millenbop commented on #1984
New UI/UX released, closing.

[2017-06-12 12:29] #1984 closed

[2017-06-12 12:30] millenbop commented on #1731
iOS now has support for Session cameras, removing tag.

[2017-06-12 12:31] millenbop commented on #1679
This was released last week, closing.

[2017-06-12 12:31] #1679 closed

[2017-06-12 12:32] millenbop commented on #1963
This was released last week, closing.

[2017-06-12 12:32] #1963 closed

[2017-06-12 12:32] millenbop commented on #2281
This was released a few versions ago, closing.

[2017-06-12 12:32] #2281 closed

[2017-06-12 12:33] millenbop commented on #2359
This was fixed/released last week, closing.

[2017-06-12 12:33] #2359 closed

[2017-06-12 12:34] millenbop commented on #2563
This was released last week. We now always use local time and also the official SDK, so this shouldn't be an issue anymore. Closing.

[2017-06-12 12:34] #2563 closed

[2017-06-12 12:36] millenbop commented on #1515
This has been added to iOS now, removing tag. We now use big coloured areas to indicate warnings and errors (orange and red).

[2017-06-12 12:44] millenbop commented on #2465
I don't think there's anything we can do apart from waiting for a fix from Apple. Closing.

[2017-06-12 12:44] #2465 closed

[2017-06-12 15:49] katrinhumal commented on #2593
Hi @bitboy85! Great that you have joined us to use Mapillary for editing OSM. :)

Some signs are falsely blurred because our algorithm is not 100% accurate. We are working to improve it, and meanwhile, anyone can go and edit the blurs. Please find more details here: https://help.mapillary.com/hc/en-us/articles/115001663705-Blurring-images

[2017-06-12 18:43] geowOSM commented on #2465
Hi Anders, as I'm currently on a hiking trip with limited resources I would to ask for a favor. Could you or someone else normalize all my (geow) sequences I uploaded since June, 1? That would be great!

Thanks
Klaus

[2017-06-12 18:58] richlv commented on #2359
setting exposure while taking pics is now possible, thank you :)
what about taking a pic manually in the automatic mode, how is that possible ?

[2017-06-12 23:31] kudarisenmon opened #2596 "Mapillary 3.59 doesn't upload"
### Basic information
* Platform: `Android`
* Version: `3.59`
* System/Browser: `Android 4.2.2` same model as [issue 2416](https://github.com/mapillary/mapillary_issues/issues/2416)

### Steps to reproduce behavior

 1. Start upload

### Expected behavior

Upload images and sequences

### Actual behavior

shows "Upload in Progress" but nothing happens,
written "E/ Exception while preparing file" a

[2017-06-13 08:32] katrinhumal commented on #2594
@voschix thanks for reporting! We changed mouse handling in the MJS update last week and this is, unfortunately, causing the problems you have with blurring. Will be working on a fix!

[2017-06-13 09:01] millenbop commented on #2465
Hey!

Yes, no problem, I fix!

[2017-06-13 12:29] millenbop commented on #2359
You use the white button when you have started the capture. I noticed that I forgot to add it to some devices, sorry, so I have fixed it today and submitted an update. So if you don't currently have it, it will be available soon.

[2017-06-13 13:12] millenbop commented on #2359
![img_6126](https://user-images.githubusercontent.com/12835674/27083992-a40b1ef4-504a-11e7-88b4-f1ddc13ec801.PNG)

[2017-06-13 15:49] gyllen commented on #2374
The access token you get in the redirect URL is the access_token you can use for authentication.

Try `https://a.mapillary.com/v3/me?client_id=XXX&token={ACCESS_TOKEN}`

[2017-06-13 15:53] gyllen commented on #2374
Sorry for not looking into this issue more though. I see that you are trying todo this server side now though. Is there anyway you can make the flow happen on the front-end side?

[2017-06-13 15:55] gyllen commented on #2592
Hi @icemagno

We are thinking about how to make this easier to understand. To start with you can just fill in dummie values on those two settings. As long as you are not planning to use any oauth they do not matter.

For using our API `v1` and `v2` are deprecated. What errors are you receiving from the `V3` API?

[2017-06-13 15:58] gyllen commented on #2595
@peterneubauer Can you take a look at the data above?

[2017-06-13 16:23] matclab commented on #2568
Similar problem here with 3.59.

Mappilary stop registering photos after a certain time.  Starting a new sequence works for some time, then the counter stop to increment. Sometimes after only 3 shots.

[2017-06-14 05:42] bitboy85 opened #2597 "GPS Fix issue"
Hi,

i tried mapillary but i noticed it seems to have problems getting a GPS fix when driving faster than 80-100kmh.
So i end up with lots lots of 1 picture sequences. Is there a way to delete them all? Removing all of them one by one would be a bit annoying.

[2017-06-14 06:53] echeloni2p commented on #2597
HI!
it is a issue with your mobile gps, mapillary just uses the mobile GPS system.
You can delete all the folders in mapillary folder on your mobile with a file manager (or with a PC connected to it).
Usually under data/android/mapillary/files or alike...

echelon

[2017-06-14 07:17] almostserena commented on #388
@elopio where exactly you can download the GPX data?
What profile page? on Mapillary or OSM? I cannot find any GPX box.
I need the gpx file to import in Mapbox for doing some visualizations.

Moreover the Advanced feature Download data allows to have an unstructured file of locations...

@Stalfur You can download GPX files for every sequence on your profile page. (Tick the GPX box top right)
The p

[2017-06-14 09:34] millenbop commented on #2465
I think I've fixed all of them now, might have missed one or two.

Anyway, in the app you can normalize while you capture. Instead of using the compass, select the forward pointing arrow. Each photo will then look at the next photo.

BUT! It doesn't seem to work as it should. I'll file a bug report and fix as soon as possible.

[2017-06-14 09:55] bitboy85 commented on #2597
Hi thanks for reply. I use the same device with osmand and never had issues with gps.
As a suggestion it might be possible to build a "session" container around the sequences. A session is defined as the time between the user presses start and stop. So afterwards you can choose to upload (or delete) the whole session, or single sequences within. There should be an info how many Pictures are taken

[2017-06-14 10:15] simonpoole commented on #2562
I now have 2 further sequences (with > 1000 images) that are showing issues, https://github.com/mapillary/mapillary_issues/issues/2596 would seem to indicate that currently the android app cannot be used. Or does have mapillary have a work around or other suggestion?

[2017-06-14 10:45] ovivoda commented on #2562
Hi Simon

Please try this APK and let me know if it works:
Mapillary_Android_3.60-SNAPSHOT2_orig_images.apk
<http://android-releases.mapillary.io/Mapillary_Android_3.60-SNAPSHOT2_orig_images.apk>

We fixed some upload issues related to stray images.

Thanks!

Ovidiu

On Wed, Jun 14, 2017 at 1:15 PM, Simon Poole <notifications@github.com>
wrote:

[2017-06-14 11:04] simonmikkelsen commented on #2374
What I am trying to do is, to get the users unique Mapillary identifier (and username, which can change) in a way so I can be sure that the user is a Mapillary user. Right now I am basically just using Mapillary as an authentication provider, but with the bonus that everything users can do in my app is related to Mapillary. For that reason it is logical to me that they are tightly coupled to Mapil

[2017-06-14 14:41] simonpoole commented on #2562
@ovivoda looks good, I was even able to upload a few stuck images from two three weeks back, besides those that currently weren't uploading.

[2017-06-14 16:36] jfburke3 commented on #2596
Just a comment for the developers that I am not encountering this problem on Samsung Galaxy S7 Edge, Android 6.0.1.

[2017-06-14 16:38] gyllen commented on #2374
@simonmikkelsen you should be able todo that by doing

[code]

By the way let me know if you want to get on a Skype call about this. Im happy to get it working for you. Im also availble in the `Mapillary`slack channel on "The Spatial Community"

[2017-06-14 19:36] jfburke3 commented on #2571
This might be fixed....  I installed the 3.60 snapshot from #2562 because I was also having the latest issue described there, and was using it to clean up some of my incompletely uploaded sequences.  In the process of doing that, I realized that some of the sequences I was cleaning up were from  May 14, which is when I took the sequence that the above pics are from.

So I scrolled down through the

[2017-06-14 19:54] peterneubauer commented on #2571
Great,
Let us know how it goes, 3.60 should be MUCH better in uploading.

On Jun 14, 2017 9:36 PM, "jfburke3" <notifications@github.com> wrote:

[2017-06-14 20:33] gappleto97 commented on #2051
I'm definitely going to add in here. It's gotten to the point where I can barely use the app unless this feature is implemented. The screen on my phone ends up putting off heat, and your app definitely would make my phone overheat if I use it for too long. I know that because it's caused my phone to shutdown from overheating multiple times.

[2017-06-14 20:36] gappleto97 commented on #2597
OpenStreetCam also does not have this problem. And when I load up SatStat, the error never gets more than ~10m. Whereas in your app it frequently reports (on the same route, same speed) that the error is >15m, and then splits the sequence.

[2017-06-14 21:38] geowOSM commented on #2465
Anders, thanks for your support!

I actually checked out the new manual selection of shooting angle, but find there was actually no difference compared to magnetic heading.

Another bug I noticed was the red gps flag didn't disappear, albeit there was a valid fix. Will try tomorow with 4.7.1 Thanks for the quick fix.

Bye
Klaus

[2017-06-14 22:41] jfburke3 commented on #2051
I run my a/c in defrost mode to avoid overheating my phone. Works like a charm.

[2017-06-14 22:42] gappleto97 commented on #2051
I would do that, except then the vents reflect off my windshield and get in the picture. I haven't found a good compromise yet.

[2017-06-15 03:58] jrcarlsen commented on #2568
I found that photos was still taken, but they were only partial. Have you noticed partial photos in your sequences?

Also, I replaced my SD Card and haven't had this specific issue since. I have not had time to verify whether the card was broken or if it was a filesystem problem.

[2017-06-15 03:58] jfburke3 commented on #2051
As do mine. I just live with it. The majority of my pics aren't affected. Some people have found good results by laying a black cloth over the dash.

[2017-06-15 05:52] matclab commented on #2568
Neither partial photo here, nor SD card.
Just the counter stopping, and no more photo being taken without apparent
reason.

Le jeu. 15 juin 2017 à 05:58, Johnny Rose Carlsen <notifications@github.com>
a écrit :

[2017-06-15 05:53] gappleto97 commented on #2051
That's what I'm currently doing, but if I move it to get the cold air, the vents pretty much always show. It'd really be much better if  they'd just implement this.

I can't use OpenStreetCam because they keep putting me on the wrong part of the map, and I can barely use Mapillary because it kills my phone every 20 minutes, or it takes bad pictures.

[2017-06-15 08:55] millenbop commented on #2465
Yes, those two are known issues and will be fixed as soon as possible. 4.7.1 doesn't fix those though.

[2017-06-15 16:01] utack commented on #2326
any progress on this?
I still have to capture blindly while navigating, it is far from ideal

[2017-06-15 16:52] jfburke3 commented on #2571
I can agree that it appears to be doing a much better job so far.

Only a handful of the sequences in question are showing up as "published" right now, but I was able to find the one that the above pics are from:

https://www.mapillary.com/map/im/xgWuodWGfwom0CGYWiDqYw

[2017-06-15 17:22] jfburke3 opened #2598 "Black images"
### Basic information
* Platform: Web
* Version:
* System/Browser: Windows 7 / Chrome

I came across a recent sequence of mine that is both stationary and completely black.  Not sure what happened, but thought I'd report it in case it's fixable.

Start playing the sequence from here:
https://www.mapillary.com/map/im/gGQClA0yZDvyZ2giFTR_Pg

[2017-06-15 20:42] HolgerJeromin opened #2599 "stray images and negative image count are confusing"
Android app 360 from app store

I have no idea what stray photos are. I also have negative count of images to upload.
After upload and no more images i want an empty upload tab.

![rps20170615_224437_242](https://user-images.githubusercontent.com/2410353/27201002-434a4526-521c-11e7-9312-221fed51ba90.jpg)

[2017-06-15 20:53] voschix commented on #2599
On June 10 I had twice the same problem. Android 359.

[2017-06-17 20:04] gappleto97 commented on #2599
Also having this issue

[2017-06-17 21:36] richlv commented on #2359
thanks, the button was missing for me before - got it now after the latest updates :)

[2017-06-19 08:05] millenbop commented on #2359
Great!

[2017-06-19 12:17] aligitor commented on #2573
@peterneubauer Is there any news about this? I'd gladly go out with phones, but all of them lacks gms. Why can't the Mapillary app simply use the location information which the OS provides, regardless the source of this location information. Seems an easy issue to me, although I'm not a coder.

Or if there is an older version of the app which could work in my situation, that'd be great too.

Thank

[2017-06-19 12:20] aligitor commented on #2597
Isn't this issue related to #2573 ?

[2017-06-19 15:23] gyllen commented on #2598
@jfburke3 Did you use the web uploader or any of our apps to capture these images?

[2017-06-19 15:26] gyllen commented on #2597
What platform are we seeing this problem on guys, both iOS and Android?

[2017-06-19 15:57] gappleto97 commented on #2597
I'm on Android. Given that he mentioned OsmAnd, I'm guessing the other user is as well.

[2017-06-19 16:01] voschix commented on #2597
Just to be sure: you are not trying to get a GPS fix at 80km/h. GPS devices normally have problems getting a fix when moving at any significant speed. You need to have a GPS fix and then start moving.

[2017-06-19 16:08] gappleto97 commented on #2597
No. I'm getting a fix beforehand, then when I move with any significant speed (even as low as 30mph/50kph) it will flash that the GPS accuracy is low.

Doesn't happen all the time, though, so its difficult to reproduce.

[2017-06-19 16:22] gyllen commented on #2597
@peterneubauer Seems like this is on Android, Im reassigns this to you.

[2017-06-19 16:28] richlv commented on #2514
missing this more and more.
when travelling in a region with some traces, should i take photos or not ? if i don't spent the time to plan my route beforehand (and memorise which segments to take photos on), i have no idea. so i have a choice between taking photos where there are recent sequences, or missing photos with no recent or any sequences.

[2017-06-19 16:30] richlv opened #2600 "erratic behaviour on the main map"
using the main map on the webpage, the behaviour is quite erratic.
using this in firefox on a laptop, both usb mouse and the trackpad.

zomming in, it sometimes zooms out, either the same amount or a little bit. same with zooming out.
panning, it sometimes "glides" back in the direction i came from.

happens pretty much constantly.

[2017-06-19 16:45] voschix commented on #2600
Same for me on Windows 10 with Firefox, Chrome, and Edge.

[2017-06-19 18:05] eugensim commented on #2600
same for me as above.

[2017-06-19 19:14] ToeBee commented on #2600
I have seen this too. Chrome on windows, Firefox on Linux Mint.

[2017-06-19 19:39] ToeBee commented on #2600
Screen cap of it in action. I was trying to zoom in on New York. It took 3 tries to successfully zoom in without the page deciding to unzoom me against my wishes.
![mapillary_yoyo](https://user-images.githubusercontent.com/348948/27302491-e03a41fa-54fc-11e7-9acb-b48726af1080.gif)

[2017-06-20 05:46] katrinhumal commented on #2600
Thanks for reporting, all! We're aware of the issue and working on a solution. Hope to get this fixed soon.

[2017-06-20 09:35] bitboy85 commented on #2597
I'm on android and i had a fix beforehand. it just looses often Position during driving, than it comes back, takes one picture and loose fix again.

[2017-06-20 10:33] nickplesha commented on #2594
@voschix This issue is fixed now, blurring should work properly near the top of the image.

[2017-06-20 10:33] #2594 closed

[2017-06-20 11:05] PRBS35 opened #2601 "Leaderbord "stats not available at this time""
### Basic information
* Platform: `Web`
* System/Browser: `last version of Chrome, Firefox on Windows`

### Steps to reproduce behavior

 1. Go to "Leaderbord"
 2. Search for your area (country, region, locality, etc.)

Since a few days I always get a "Stats not available at this time".

![screen shot 06-20-17 at 12 59 pm](https://user-images.githubusercontent.com/21849601/27330082-47570d08-55b8-1

[2017-06-20 15:41] gyllen commented on #2597
@ovivoda ^^^

[2017-06-20 16:14] ovivoda commented on #2597
@bitboy85 Can you please send us some logs when this happens again?

[2017-06-20 20:13] jfburke3 commented on #2598
I used your app to both capture and upload.  I'm not sure which version it was, though.  You can probably figure that out from the dates of the images.

[2017-06-20 20:32] mprins opened #2602 "In seqence view image direction does not rotate with map"
### Basic information
* Platform:  `Android`
* Version: `3.60`
* System/Browser: `...`

### Steps to reproduce behavior

 1. On the upload tab open a sequence
 2. Switch on and wait for map to show
 3. Rotate the map

### Expected behavior

Direction of image on map should keep pointing in correct direction wrt. map

### Actual behavior

Direction of image is static wrt. to screen

### Additional

[2017-06-21 00:02] ulikoehler commented on #122
@gyllen  Sorry for the delay in responding.

I've now tested `upload_with_preprocessing.py`, which indeed seems to fix the issue that multiple sequences are generated. Based on the CLI output and the result (as seen on the webinterface), I don't think there should be any issue with that behaviour any more.

I have no practical idea yet on how to deal with existing sequences, but it's not an urgent

[2017-06-21 06:01] katrinhumal commented on #2600
A fix is out for that now so hopefully, no more bouncy map. :)

[2017-06-21 08:13] peterneubauer opened #2603 "Brazil stats not working"
https://ww.mapillary.com/app/stats/85633009 is not working.

[2017-06-21 09:51] floscher commented on #2349
This has been reported as https://josm.openstreetmap.de/ticket/11594 for the JOSM plugin.

Are you aware of the new EXIF fields `OffsetTime`, `OffsetTimeOriginal` and `OffsetTimeDigitized`, that were added to the EXIF specification 2.31 last year?  These contain the offset to UTC time for the corresponding EXIF field.
Sure, probably not many cameras/applications will write these as of now, but thi

[2017-06-21 11:27] richlv commented on #2600
yey, working much better now - thank you a lot :)

[2017-06-21 11:27] #2600 closed

[2017-06-21 12:08] GITNE commented on #2349
Sure. :wink:

Indeed, adoption is a problem, and since most camera and smartphone vendors are very reluctant or sloppy updating firmwares we won't see any significant adoption rates before people start buying new devices. I wish the EU would push software and hardware vendors a lot more for shorter update cycles and higher quality updates. Updates (or plain *updateability*) or serviceability, even

[2017-06-21 13:00] katrinhumal commented on #2600
Thanks go to @nickplesha here! 🏆

[2017-06-21 13:12] simonmikkelsen commented on #2374
Hi

Now I have something that works! Thank you @gyllen !

I did as you suggested, just get https://a.mapillary.com/v3/me

I still had issues: I could not get it to work with a long redirect_uri like http://localhost:7788/browser/api/index4.py  but http://localhost:7788/api did it.
Now I will integrate it into my solution (https://github.com/simonmikkelsen/mapillary-browser) and post the url when r

[2017-06-21 13:12] #2374 closed

[2017-06-21 13:35] ptpt commented on #2374
Awesome. Thanks @gyllen for taking this issue!

[2017-06-21 15:02] GITNE commented on #2349
@peterneubauer Since I am a web uploader user only, this brings up the question; when do you plan to support (or already support) these EXIF fields at the back-end side of things (and of course, web front-end perhaps later)? If the `Offset*` fields see proper support by Mapillary I could stop resorting to the `GPSDateStamp` and `GPSTimeStamp` fields and would also need not to drop the `DateTime`,

[2017-06-21 17:16] gyllen commented on #2598
@jfburke3 Was it Android or iOS?

[2017-06-21 17:17] gyllen commented on #2601
@knikel I fixed some part of this issue yesterday, but we still need to remove this text from areas where the stats are actually working. Can you elevate this issue?

[2017-06-21 17:19] gyllen commented on #2374
@simonmikkelsen Awesome, thanks for your patience, I think what we lack for oauth right now is proper documentation.

[2017-06-21 17:38] jfburke3 commented on #2598
Sorry, Android 6.0.1, Samsung Galaxy S7 Edge.

I didn't mention all of that at the beginning because I assumed it was a website problem.

[2017-06-22 17:42] gyllen commented on #2598
@jfburke3 Thanks for info

@ovivoda Can you check this out?

[2017-06-23 01:27] DenisCarriere commented on #1323
Having the same issue, `GPSImgDirection` is missing from the Garmin Virb XE camera.

Anyway include `GPSTrack` as the image direction, or at least a custom rule for the Garmin Virb XE.

[2017-06-24 18:55] ArAge67 commented on #2562
@peterneubauer Waited a few weeks but regeneration didn't fix the sequence see attached picture:
![239_photos](https://user-images.githubusercontent.com/12451224/27511183-1a629f8c-591f-11e7-9e69-016786084d7b.PNG)

[2017-06-25 12:01] simonmikkelsen commented on #2009
I just discovered several free software/open source solutions to the problem. I just tested https://github.com/khufkens/theta_rectify with great result. It is just a bash script creating a script for POVRay and running that.
It also links to a more popular Python script at http://www.regentechlog.com/2014/06/26/python-thetaexif/ which I have not tested yet. It require more libraries installed, but

[2017-06-26 06:56] knikel commented on #2507
We had an issue with relative style paths in some map styles this should be fixed by now.

[2017-06-26 20:49] HolgerJeromin commented on #2599
Version 361 uploaded some mb and cleaned up the list. Thanks.

[2017-06-26 20:49] #2599 closed

[2017-06-26 22:26] kudarisenmon commented on #2596
debug log on version 3.61
[Uploading mapillary_trace.txt…]()

[2017-06-26 22:27] kudarisenmon commented on #2596
debug log on version 3.61
[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/1103660/mapillary_trace.txt)

[2017-06-28 12:51] avataryt opened #2604 "Mapillary App 4.7.5 crashing after camera is selected"
### Basic information
* Platform: `iOS` (iOS 10.3.1/iPhone 6 as well as 10.3.2/iPhone 7)
* Version: `4.7.4`
* System/Browser: `iPhone 6`

### Steps to reproduce behavior

 1. Starting app
 2. Using the app: everything works fine, besides...
 3. Clicking on the camera button: The camera screen shows up without a camera image (screenshot attached). It does show the overlay graphics and the GPS arrow

[2017-06-28 22:19] utack commented on #515
Does this work now. Automatically by the sequence bot, or manually triggered somehow?

[2017-06-29 09:53] wladich opened #2605 "No CORS headers in vector tile response for zoom=0"
### Basic information
* Platform: `Web`
* System/Browser: `Chrome 59`

### Steps to reproduce behavior

Make a XMLHTTPRequest for tile with url https://d25uarhxywzl1j.cloudfront.net/v0.1/0/0/0.mvt

### Expected behavior
xhr.onreadystatechange is called upon completion

### Actual behavior
Error message in console:

### Additional information
To reproduce in console:
`curl 'https://d25uarhxywzl1j.c

[2017-06-29 10:34] millenbop commented on #2604
I found your crash report. For some reason your userUUID is missing and it crashes when it tries to do something with it.

We have had some problems with the backend the past few days. Could you try to logout and login again? That should set the userUUID correctly.

I just tried with email and Facebook and both work to login with.

[2017-06-29 11:24] avataryt commented on #2604
Thanks for the quick response and help. I logged out, wasn't able to re-login via Facebook (haven't looked further into this), but I was able to re-login with my mailaddress/password combination. This did fix the problem, the app is now working as intended.

[2017-06-29 11:24] #2604 closed

[2017-06-29 11:34] millenbop commented on #2604
Cool, great to hear!

But I should look into the Facebook problem. Can you log in on the web using Facebook?

[2017-06-29 11:49] avataryt commented on #2604
I was not able to login via Facebook via the web. After logging in via email/password I (re)connected Facebook and verified that Facebook login is now working for me as well via web as via the app.

I can't say with 100% certainty that I had used Facebook login before - so it simply might have been the case that my FB account was not connected. But it does work now. Thanks again for your help, thu

[2017-06-29 11:53] millenbop commented on #2604
Ah yes, could be that. We will revamp the login thing, it's on the roadmap.

Thanks for testing! Much appreciated.

[2017-06-29 16:06] voschix commented on #2076
Could I remind you of the single image rotation feature.
It is much less work to rotate them on the fly when you check the image pixellation then to work off a list.

I keep a list of image to be rotated. At present it contains more than 100 photos. 98% require 180° rotation. 2% require 90# or 270° rotation.

[2017-06-29 16:11] ybkuang commented on #2076
@gyllen things to thinking about on the rotation UI. cc @voschix

[2017-06-29 16:47] Stalfur opened #2606 "Web uploader not counting right, feedback on uploads is non-sensical"
### Basic information
* Platform: `Web`
* System/Browser: `Windows, Chrome`

### Steps to reproduce behavior

 1. Pick 1000 images and do review
 2. Click Plus button
 3. Pick another 1000 images and do review
 4. Uploader now says "upload 1000 images" instead of 2000
 5. Start upload - counter will not count while first batch is being uploaded (I'm presuming - no idea since no feedback)
 6. Perio

[2017-06-29 18:09] ianatkin80 commented on #2431
I would like to add my support to this issue, is there an ETA for implementation?

[2017-06-29 19:23] peterneubauer commented on #2431
Yes, this is the next thing we are working on. Also, the GPX file support is now in, so in principle, you can record a sequence, and then drop into thatt sequence any external (time-synched) image files, even LG 360, and upload them like normal (you can delete the original ones if you like). Try it out and let us know!

[2017-06-29 23:03] gappleto97 commented on #2579
Also, it never remembers the orientation you set, so we have to manually set it to compass mode

[2017-06-30 17:37] SanderH opened #2607 "Certificate expired on https://legacy.mapillary.com/map/login"
### Basic information
* Platform: `Web`
* System/Browser: `Chrome`

### Steps to reproduce behavior

 1. Access https://legacy.mapillary.com/map/login
 2. Browser indicates the page is insecure
 3. View the properties of the certificate and see it was only valid until 2017-06-27

### Expected behavior

Valid certificate

### Actual behavior

Expired certificate

### Additional information

![image

[2017-07-01 00:17] kudarisenmon commented on #2596
debug log on version 3.64
[mapillary.log.txt](https://github.com/mapillary/mapillary_issues/files/1116737/mapillary.log.txt)

[2017-07-02 21:48] gyllen commented on #2605
@wladich Im trying to see the difference between the 2 calls. Copy and paste for both do return the correct `Access-Control-Allow-Origin` header for me though

[2017-07-02 21:49] gyllen commented on #515
@utack It should work no, however we do not allow users to create these changesets (so no manual, merging or splitting).

[2017-07-02 21:58] wladich commented on #2605
There was error in second curl -- it was  for zoom 0 also. Fixed.

[2017-07-02 21:58] wladich commented on #2605
I checked request for zoom 0 again -- still no Access-Control-Allow-Origin when I request from home (Russia). If I make same request from server in Lithuana (Eastern Europe) then headers are ok.

[2017-07-02 22:08] gyllen commented on #2605
This is super strange, Im trying from west coast us and I get the header for both 0 and 1. Could it have anything todo with cache in your browser?

[2017-07-02 22:29] wladich commented on #2605
No, as far as I know curl does not use any cache.
I rechecked ajax request in browser with cache disabled in devtools -- still same error.

And I get good headers for other zoom levels, both for ajax and curl requests.

I guess it's related to CDN serving wrong headers for my area.

[2017-07-02 22:44] yopaseopor commented on #1103
You can do a not_logging mode: a mode with the only option to capture sequences. I use now a noSIM cellphone to make the captures. So I can only have logging in when I have WIFI. With this mobile I have only need to take pics but when I touch some options and then I want to go back to the capture mode app logged me out ,and without WIFI I can't logging in. If I can't do it with Mapillary then I wi

[2017-07-03 06:55] voschix opened #2608 "Not all "place=suburb" are found"
### Basic information
* Platform:  `Web`
* Version: `...`
* System/Browser: `any`

### Steps to reproduce behavior

 1. search for location "Voltabarozzo"

### Expected behavior
I expect that the suburb "Voltabarozzo" in Padova , Italy is among the search results

...

### Actual behavior
 the suburb "Voltabarozzo" in Padova , Italy is not among the search results

...

### Additional information

[2017-07-03 12:30] gmng opened #2609 "Annoying shutter sound"
Please remove the annoying shutter sound from the android app.
I can't use the android application just because of this terrible sound.

ALL mobile phone has the ability to turn the shutter sound OFF. Why Mappillary force this stupid thing in the app... Please!

[2017-07-03 14:39] polarbearing commented on #2609
Well there used to be a Camera setting in the app to switch it on/off, which however requires a min android version to work.
What annoys me extremely is that when I switch it on to get an audible confirmation, it comes with that terrible metal-mechanical-shutter imitation, instead of a decent short nice technical 'beep' or 'bing'

[2017-07-03 14:42] voschix commented on #2609
@gmng:
You can turn it of in Settings of the app, at least on Android (from version 4.2 onwards)

@Mapillary:
Please do not remove it. It is ok that it is  optional. For me it is essential on the bicycle to know that the picture taking is still working. And please do not change the sound to some other pling or beep or whatever. It's fine that a camera makes a shutter sound.

[2017-07-03 15:06] gmng commented on #2609
@voschix
I already switched it to OFF (greyed out the switch in Settings > Camera > Make shutter sound) but the sound is still ON!
Is it a bug?
I have android 6.0 based stock ROM.
I tried to plug in a 3.5mm jack, and also with the volume keys to zero sound but it is just still making this terrible sound.
I do not want them to remove this option but it is not working - at least for me.
It is OK tha

[2017-07-03 15:59] voschix commented on #2609
@gmng: this looks like a "feature" of your phone-OS-app combination. Do you have any sound problems on other apps on the phone?

[2017-07-03 16:09] gmng commented on #2609
No, everything working ok afaik.
LETV the manuf. of the phone and OS.

[2017-07-03 18:39] polarbearing commented on #2609
Well there could be a choice of sounds, or the selection of a sound file. A piercing metal-shutter for you, and a decent bing for me. :-)

[2017-07-04 05:35] gmng commented on #2609
@polarbearing
It would be the best solution, and I could select a muted sound.

[2017-07-04 07:25] echeloni2p commented on #2609
Hi
some mobiles just do NOT allow to mute shutter sounds, e.g. Honor are those. You just cannot mute them with any settings, except a complete new rom.
Thats because of some countries do force the mobiles to make a shutter sound to porevent upskirt pictures.

echelon

[2017-07-04 07:37] habi opened #2610 "GPS data not transferred to GoPro Hero Session 4 images"
### Basic information
* Platform: `iOS`
* Version: `4.7.5`

### Steps to reproduce behavior

 1. Connect the GoPro Hero Session 4 to the Mapillary app
 2. Start biking and record images in two different sessions
 3. Look at the map while recording, everything seems fine
![img_3685](https://user-images.githubusercontent.com/1651235/27819634-6e0b6a14-609b-11e7-9df1-556c21b2a1e1.PNG)
4. Stop biking,

[2017-07-04 08:34] voschix commented on #2527
# Update with Android 363:

I ran some tests today (with "skip location check" disabled) and pictures taken at 3 sec interval on Sony Xperia Z5 compact.

The test confirms that the problem is still present. It also seems to support my initial suspicion that it has to do with GPS. I have to add that it seems that the Z5 (or at least my Z5) has a mediocre GPS reception.

- The app, when started, tak

[2017-07-04 08:59] gmng commented on #2609
@echeloni2p

Ok, thanks for the info.
I use a chinese stock ROM in Europe.

[2017-07-04 12:00] habi opened #2611 "'Add Camera UI' cut off on iPhone 5S"
### Basic information
* Platform: `iOS`, iPhone 5S
* Version: `4.7.5`

### Steps to reproduce behavior
 1. Add Camera
 2. Try to look at the preview in the 'Add Camera UI', try to refresh preview or go back to the map view.

### Expected behavior
I can see and refresh the preview.

### Actual behavior
Sidebar overlays part of the UI, as shown in the (marked up) screenshot.

![img_3692](https://use

[2017-07-04 12:59] habi commented on #2610
For kicks I tried again, after formatting the SD card and resetting time and date with the GoPro Capture app.
Same (wrong) result: [SSSsOFVHbfRMqRbW_yMfZA](https://www.mapillary.com/app/user/habi?lat=46.95182519529004&lng=7.429945489104966&z=17&pKey=kLdYdH8TewZPo45Q0NRa6A&focus=map)

[2017-07-04 14:19] gyllen commented on #2608
@voschix Thanks for reporting, unfortunately there is nothing we can do about this since we are using an external service (Mapzen search) for the search.

I recommend that you file a bug in this project https://mapzen.com/products/search/

[2017-07-04 14:19] #2608 closed

[2017-07-04 14:19] gyllen commented on #2607
@martinskans We need to update cert on legacy too

[2017-07-04 14:22] gyllen commented on #2606
@nickplesha This counting bug should be easy to fix.

@Stalfur In general we do not recommend you uploading more than 1000 image per upload in the webuploader though. Have you tried out our scripts?

[2017-07-04 14:24] gyllen commented on #2605
@wladich Its interesting though that its only one tile /0/0/0, I might need to get a russian proxy to try this out.

[2017-07-04 14:44] wladich commented on #2605
Checked again from two hosts in Russia -- today it works, headers Access-Control-Allow-* are present in response.

[2017-07-05 07:52] katrinhumal commented on #2610
@habi thanks for reporting this! @millenbop is currently on holiday but he will take a look as soon as he gets back.

[2017-07-05 07:53] katrinhumal commented on #2611
@habi and thanks for this one as well - assigning to @millenbop for when he gets back from holiday.

[2017-07-05 11:45] gmng commented on #2609
I tried the latest Mappilary android version, and I also installed a new stock ROM (latest for my phone) but the issue is still there.
That would be a solution to this issue if the user can choose a custom sound file as @polarbearing suggested.

[2017-07-05 14:12] dr2okevin opened #2612 "Serval Video Upload problems"
I have serval video upload issuse which prevents me from uploading a lot of fotage.

- Very often uploaded videos are not processed.
- Very often the upload tool warns me about not syncronised gps (but gps is correct)
- Very often I cannot move the map marker in the upload form
- Sometimes videos are uploaded with wrong geo Informationen, sometimes combined with only one picture.

I use a dashcam

[2017-07-05 14:30] ulikoehler commented on #2595
I think this might be related to my issue in https://github.com/mapillary/mapillary_issues/issues/122 . The single images might be due to the sequence cutter cutting them by distance.

The cause of the issue seems to be mainly that `upload_with_authentication.py` might effectively generate multiple sequences, with images randomly (?) being assigned to one of the sequences.

@ramapongithub If it is

[2017-07-05 15:14] martinskans commented on #2607
It doesn't enforce https either so, http://legacy.mapillary.com works.

[2017-07-05 15:19] martinskans commented on #2607
I have updated the certificate but I think it gets cached somewhere so it still says cert error. I will check in a little while again.

[2017-07-05 15:27] ramapongithub commented on #2595
@ulikoehler  I am not sure this is related. I do the "preprocessing" manually, put the images in folders and run `upload_with_preprocessing.py` by script for each folder. And i am a little lost in time: my version of `upload_with_preprocessing.py` is from around September 2015.
But normally it works fine.
In this special case it looks more like a glitch in the database or the database-script commu

[2017-07-05 17:09] Andblue commented on #1310
So this just keeps happening. Many edits are simply not being approved. Some edits are approved within minutes, others are just stuck. I don't feel that you are giving any good answers. It feels like you assign edits randomly to people at the office and some people simply have no time to approve edits. It really takes the fun out of it.

Maybe you should add some kind of trust level to users, so t

[2017-07-05 19:17] gyllen commented on #1310
@Andblue I hear you. Basically we have an algorithm that let some (if you are a trusted user) edits go through directly. While others needs to be approved by our team (thats why you see some edits go through fast and some edits beeing stuck for a while).

What I have been thinking about is upgrading some user to have the power to approve other users edits, what do you think about that idea?

[2017-07-06 06:49] echeloni2p commented on #2609
Hi!

on some mobiles you would need a modified rom which includes "removed sound", using a stock rom does NOT help. As regulatory forces to create a shutter sound on taking pictures. Even the type of sound is forced. Nothing mapillry can do in this cases.
echelon

[2017-07-06 09:51] gmng commented on #2609
@echeloni2p

That's sad. Thanks for the clarification.

[2017-07-06 13:44] martinskans commented on #2607
It didn't replace the certificate outwards until I restarted the services for some reason, but now it's fixed.

[2017-07-06 13:44] #2607 closed

[2017-07-06 15:47] Andblue commented on #1310
@gyllen That could be a solution worth trying. I guess checking blur edits is much easier than other edits, as other edits requires one to understand the context.

I mostly edit my own uploads. But if there are other uploads in the same place or area I sometimes edit those as well. Its easier to edit those as then I know the area. Not sure if that should play a role.

(By the way, how about upping

[2017-07-07 02:37] iandees commented on #2401
Thanks to @ToeBee for pointing this out on Slack. I let the Mapzen team know about this and they let me know they are in fact working on fixing this in the Mapzen Search API (by improving the data in Who's On First).

If stuff like this comes up, please don't hesitate to let Mapzen know!

[2017-07-07 03:16] ulikoehler opened #2613 "First image of photo sequence is placed at end of sequence with correct GPS"
### Basic information
* Platform: `Android` | `Web`
* Version: `3.65`
* System/Browser: `LG G2`

### Steps to reproduce behavior

 1. Create sequence of 600 images (not sure if it happens with shorter sequences)
 2. Upload via the app
 3. Wait until published
 4. View sequence in web UI

### Expected behavior

The sequence should start at one point, trace your way and then end at some other point.

[2017-07-07 04:40] voschix commented on #2613
Are you sure that the positions are not shifted by one picture? That's what I had at least in one case.

[2017-07-07 04:47] ToeBee commented on #2401
Yeah, it has gotten worse since I originally opened this issue. I can't find: Washington, Oregon, California, Texas, Minnesota, Ohio, Florida, Virginia and Maryland.

[2017-07-07 12:21] polarbearing opened #2614 "Shutter sound options"
(Android)
As recently discussed in #2609, for devices that can adjust the shutter sound, there are different needs. Cyclists want the historic metallic-shutter sound, which on the other hand is extremely annoying while driving a car. So a decent "bing" or "beep" is better.

In my current BQ phone, the stock camera has a "bing", while Mapillary comes with the loud metal-shutter. So that must be adj

[2017-07-07 13:10] ulikoehler commented on #2613
@voschix Good idea, but I don't think so, because the last picture is (judging from the optical similarity) clearly in approximately the same location as the last picture (I created these sequences on a bike with 2 seconds capture interval, so there is not a lot of distance between them). If the positions were only shifted, I'd expect pictures to appear at slightly offset locations, not a picture

[2017-07-07 13:15] ulikoehler commented on #2613
Apparently the link from yesterday doesnt work any more. Here's a new sequence which is even stranger as it contains multiple lines across it:
https://www.mapillary.com/app/user/umap?lat=48.10273783811698&lng=11.713979229456214&z=17.872320304711412&pKey=OZ67X0inATbUIjlAQaia-Q

And here's the updated sequence from yesterday. Apparently the App added more images to it. Still, the straight line (basi

[2017-07-07 13:17] ulikoehler commented on #2613
Here's another one:
https://www.mapillary.com/app/user/umap?lat=48.1098222502238&lng=11.718388490345205&z=13.530260546107305&pKey=uTX01He4CAVCgaR3Y_eoHw

I'm still uploading ~100 images from yesterday, so I'm not sure how long the link will work.

[2017-07-07 14:58] katrinhumal commented on #2614
@polarbearing thanks for creating a separate issue for this suggestion. I'll make sure it gets discussed.

[2017-07-07 17:16] danbjoseph opened #2615 "calculating contributions?"
I'm trying to calculate totals for some work the Red Cross did in Leyte, Philippines.
I went through and added up the numbers for the uploads listed in my feed. But they don't seem to match my numbers in the leaderboard. Is there an easy way to get the totals for a time range and area? It would be awesome if it could also be a breakdown of 360 vs standard images.

Also is the leaderboard calculate

[2017-07-07 19:12] gyllen commented on #1310
@Andblue I think that might be a good first candidate, let me think about how I could do this.

Also another question, do you have many pending edits at the moment?

[2017-07-07 19:12] gyllen commented on #2612
@amahon Assigning this to you as for supporting video upload on regular webpage.

[2017-07-08 00:43] ToeBee opened #2616 "Memory leak in web viewer"
### Basic information
* Platform: `Web`
* System/Browser: `Chrome 59/Windows 10`

### Steps to reproduce behavior

 1. Go to https://www.mapillary.com/app/
 2. Let browser tab sit for a few hours (over night or while at work)
 3. Come back to a crashed tab

### Additional information
This has been happening for a while. Last night I decided to leave a Mapillary tab open with the Chrome developer c

[2017-07-08 02:33] ToeBee commented on #2616
After a fresh load, the page takes about 170 MB of memory. Over the course of about an hour of just letting it sit there, it crept up to over 1 GB.

[2017-07-08 19:48] drkludge commented on #2616
I have experienced the same issue. Toby has performed the research. All I
know to do is close Mapillary tabs after I am done. Otherwise I can expect
that a crash is forthcoming.

On Jul 7, 2017 7:33 PM, "Toby Murray" <notifications@github.com> wrote:

After a fresh load, the page takes about 170 MB of memory. Over the course
of about an hour of just letting it sit there, it crept up to over 1 GB.

[2017-07-09 22:32] Andblue commented on #1310
@gyllen Not sure how many edits are pending, but there are a few. I kind of loose track of them in my head when time passes.

This one got approved very fast https://www.mapillary.com/app/user/andreas.p?lat=59.291002710577345&lng=17.9873340655802&z=17&pKey=Xz_VcA4eoJKBG4Qlo_lCfA&focus=map

But this one that was edited earlier is still pending https://www.mapillary.com/app/user/andreas.p?lat=59.291

[2017-07-09 22:40] kudarisenmon commented on #2596
debug log on version 3.65
[mapillary-3.65.log.txt](https://github.com/mapillary/mapillary_issues/files/1134131/mapillary-3.65.log.txt)

[2017-07-10 13:18] katrinhumal commented on #2615
@danbjoseph thanks for raising this issue! Leaderboards with custom dates and for 360 imagery separately are a great idea and I hope we can offer them at some point in the future. As for now, there are only the pre-set timespans (all time, last month, last week - if applicable). The shapes we use are Mapzen's WOF-s (https://whosonfirst.mapzen.com/) and unfortunately, you are right that they do not

[2017-07-10 15:02] danbjoseph commented on #2615
I'm looking at the month of May 2017 for user `danbjoseph`. All pictures were taken in May, some uploads may have occurred in the first 2 weeks of June.
- Looking (somewhat quickly) through my uploads feed on the website I counted 168 sequences and 99,021 images.
- I've done some other uploads in the past (before May). The Philippines leaderboard for 'All time' has me at 80.3k.
- Somewhat unrelate

[2017-07-10 18:28] gyllen commented on #1310
@Andblue I don't think we lost edits actually, but we did implement a much more robust system and moved the old ones to the new system. You should have some stats in your profile on the web that says how many pending edits you have.

It actually looks to me that the second edit also got through. However the tiles are not updated correctly (if you press edit you can see that everything is in the co

[2017-07-10 18:28] gyllen commented on #2616
@nickplesha ^^^^

[2017-07-10 18:59] descilla commented on #2514
Alternatively a color gradient layer could be used for the sequence data. Where the gradient is defined by the sequence age. From very recent captured sequences would be displayed as green lines to very old sequences would be displayed as red lines. This would be more flexible than defining a fixed age to filter out and there is no configuration required.

[2017-07-10 19:16] descilla opened #2617 "ios: "direction lock when moving fast" threshold is far too low"
### Basic information
* Platform: `iOS 10.3`
* Version: `4.7.5`

### Steps to reproduce behavior

 1. enable compass mode
 2. start capturing
 3. walk a few steps
 4. "*direction mode*" will switch from compass to GPS
### Actual behavior
iOS-App version 4.7.2 introduced a new feature that will use the GPS direction rather than the compass direction when moving fast. However the definition of movin

[2017-07-10 19:20] descilla opened #2618 "ios: basemap settings seems to be ignored in capture mode"
### Basic information
* Platform: `iOS 10.3`
* Version: `4.7.5`

I've set basemap to "OpenStreetMap". This seems to work in all views except in capture mode. The capture mode seems to ignore the configured basemap option and uses the default.

[2017-07-10 19:23] descilla opened #2619 "ios: sequences are not displayed in higher zoom levels / when driving slow"
### Basic information
* Platform: `iOS 10.3`
* Version: `4.7.5`

When I'm zooming in too far the green lines of the (already/old) captured sequences will disappear. Since the zoom level in capture mode is based on how fast I'm moving the sequences are disappearing there too when I'm moving slow.

[2017-07-10 19:24] voschix commented on #2617
I presume this feature is optional (I do not have access at IOS device). If it were mandatory I would see a problem with all those situations where people take photos by hand and not with a camera on a mount.

[2017-07-10 19:49] frodrigo opened #2620 "Very bad traffic signs location detection"
* Detect traffic signs location is far away from photo location: 478m in this case.
* Traffic sign location is rear the photo scene

![](https://user-images.githubusercontent.com/1785486/28036739-73eac844-65b9-11e7-9bc6-a4885792be43.png)

https://www.mapillary.com/app/?lat=48.10194621168628&lng=-1.714222926176319&z=15.139508929944766&focus=map&pKey=D5RxiNqL4dawrGZGe2h5fg&x=0.5054887896925598&y=0.5

[2017-07-10 20:11] richlv commented on #2100
any news on the background upload ?
the current need to keep the phone unlocked eats more battery, is easy to forget to keep open and has some security implications, too :)

[2017-07-10 20:14] richlv commented on #2514
i like the gradient idea, but would prefer it as a choice alongside hard cutoff - especially when driving, gradients will be harder to read. basic, well visible yes/no would be often safer.

planning to visit a few countries during the next few weeks, i'll face a hard choice between risking to take images on top of fresh images, or not taking images where needed :)

[2017-07-10 20:19] descilla commented on #2617
@voschix
The release notes says:

However I've not found a button to disable automatic usage of GPS direction.

[2017-07-11 07:27] katrinhumal commented on #2615
@danbjoseph from 1 May until now in the Philippines, I get:
danbjoseph 79672
arc_ttl 6796

And all-time:
danbjoseph 80276
arc_ttl 7614

One more thing we can check - if you give me your capture dates for when you were in the Philippines now, I can just look at totals for that instead of limiting it with the shape. You probably couldn't capture in two places at the same time anyway. :)

[2017-07-11 16:47] danbjoseph commented on #2615
If going off the photo metadata (when the picture was taken), then it would be any photos for the month of May.

[2017-07-11 22:12] ulikoehler commented on #2613
It seems like it's not *always* the first / last image, I've found a sequence (created 4 days ago, not sure when it was uploaded) which appears to have multiple issues.

https://www.mapillary.com/app/user/umap?lat=48.10521924810496&lng=11.729951583846542&z=13.70473585920739&pKey=8iU7nl58O8Eue2Qvveki9A

Here's a screenshot: http://i.imgur.com/4LGXJPb.png

To some extent all the issues seem to be fi

[2017-07-11 22:40] jfburke3 commented on #2616
Just a comment that I've also experienced this, but hadn't done the necessary work to report it, so thanks to @ToeBee for his effort.

The problem also exists in Firefox and MSIE, but Chrome provides better a better tool for monitoring the state of the browser.

[2017-07-12 06:34] gappleto97 opened #2621 "Nearly 5000 "stray photos" in one day"
What is a stray photo?

How can I recover these sequences? Can I provide logs of some sort to help?

Android 7.1.1, Nexus 6P

[2017-07-12 06:55] echeloni2p commented on #2621
Which version?
tracelog available?
GPS did work?

[2017-07-12 06:57] katrinhumal commented on #2615
@danbjoseph bingo! Your contributions in May come out as 99,023. Good job calculating from your profile. :) And also, we can draw the conclusion that the cause of the leaderboard difference is indeed the WOF shape... Good in the sense that everything is there and gets counted; bad in the sense that we can't improve this since we can't do anything about the shape.

[2017-07-12 06:58] katrinhumal commented on #2618
Thanks for reporting! @millenbop is on holiday right now but will take a look as soon as he's back.

[2017-07-12 06:59] katrinhumal commented on #2619
@descilla Likewise here - thanks for notifying and @millenbop will take a look after his holiday.

[2017-07-12 07:06] gappleto97 commented on #2621
GPS did work

Version 3.65

Log here: http://www62.zippyshare.com/v/x0PyLxXv/file.html

Looks like it only covered the most recent opening of the app though. I would point out that the camera was operating continuously, and that these were mixed in with ~3000 non-stray images.

[2017-07-12 07:26] katrinhumal commented on #2621
Hi @gappleto97 - thanks for reporting. We discovered a bug due to which GPS was missing after the first sequence. A fix has been released with version 3.67, please test if possible and let us know if this has resolved your issue?

For those photos already taken, I'm afraid there is no way to recover since the GPS was not recorded. It sounds like way too many images to fix manually...

[2017-07-12 11:06] voschix commented on #2619
Also on Android 365 in high zoom level. (Haven't tried while moving)

On 12 Jul 2017 08:59, "katrinhumal" <notifications@github.com> wrote:

[2017-07-12 13:44] katrinhumal commented on #2619
@voschix indeed! The lines disappear on Android both in capture and explore mode when zooming in to the last levels. @gyllen what should we suspect here?

[2017-07-12 15:19] voschix commented on #2613
here is another one:
https://www.mapillary.com/app/?lat=45.372923263234725&lng=11.915300506725771&z=17&pKey=Bt6HtBo34uWiSfxDgxgSqA&focus=map&username%5B%5D=voschix&dateFrom=2017-07-09&dateTo=2017-07-09&menu=false

[2017-07-12 15:58] danbjoseph commented on #2615
great. thanks! feel free to close this issue.

[2017-07-13 05:52] #2615 closed

[2017-07-13 05:52] ptpt commented on #2550
@floscher It should be fixed. Thanks!

[2017-07-13 05:52] #2550 closed

[2017-07-13 06:05] ptpt commented on #2503
@spatialhast the leaderboard APIs have been added to API v3. The corresponding call in API v3 should be `https://a.mapillary.com/v3/leaderboard/images?iso_countries=UA&client_id=XXX` which responds as follows
[code]

See http://www.mapillary.com/developer/api-documentation/#leaderboard

[2017-07-13 06:05] #2503 closed

[2017-07-13 09:07] wladich commented on #2605
Not working again: no headers line in curl output and error in browser console (checked in Chrome and Firefox).
BTW I see the same error in browser console on mapillary map page at https://www.mapillary.com/app/ when zooming to minimum level
`
XMLHttpRequest cannot load https://d25uarhxywzl1j.cloudfront.net/v0.1/0/0/0.mvt. No 'Access-Control-Allow-Origin' header is present on the requested resourc

[2017-07-13 12:20] ancho85 commented on #2326
I'm looking forward to see the feature fully supported. Any progress?

[2017-07-13 14:17] zagor commented on #1612
This is now fixed since a while back. Sorry for not updating the ticket earlier.

[2017-07-13 18:44] pmoulon commented on #1945
Last comment seems to be in contradiction with the help there: https://help.mapillary.com/hc/en-us/articles/115001661465-Improving-the-GPS-fix-on-Android

[2017-07-13 20:00] katrinhumal commented on #1612
@zagor thanks! Closing then :)

[2017-07-13 20:00] #1612 closed

[2017-07-14 01:41] andrewharvey commented on #2513
I've noticed this as well, on the Android app. Upload speed will sit at 0 for a few seconds, then spike to 2MB/s for a second then rest back at 0 for a few seconds. I'd expect the upload to be saturated.

Parallel uploads was set to 2 threads, bumped it up to 4 threads, but I'm not sure if it's making a difference, either that or it only takes affect for the next upload, not the one in progress.

[2017-07-14 06:02] randoogle commented on #2327
Any progress on this? I'm getting pretty discouraged when about _half_ my sequences end up upside down. They're practically useless for mapping. Got a new phone recently, and was hopeful that I might see an improvement, but it's still the same. I have noticed that they are more often upside down when I don't have a chance to move the phone around before putting it in the mount. The capture interfa

[2017-07-14 08:33] katrinhumal commented on #2513
@ovivoda do you have any insights into why this may be?

[2017-07-14 09:52] voschix commented on #2613
Here are five more in two days:
[https://www.mapillary.com/app/?lat=45.48794436965784&lng=11.62413135622927&z=11.733744568509376&menu=false&mapStyle=mapbox_satellite&username%5B%5D=voschix&dateTo=2017-07-12&dateFrom=2017-07-11](url)
One of them has the misplaced picture in the middle: [https://www.mapillary.com/map/s/ju5S6e-jN2x1JbZDYWCPWg](url)
What's going on? The only thing I noticed during upl

[2017-07-14 15:06] wladich opened #2622 "Compass not working"
### Basic information
* Platform: `Android`
* Version: 3.67
* System: Xiaomi 4X 4Gb/64Gb

## Case 1. Distance based capture not working
### Steps to reproduce behavior

 1. In settings enable `distance based capture`, leave `compass based autocapture` at  default value (40)
 2. on `capture` screen tap arrow and enable `Use device compass`
 3. switch to auto capture mode
 4. tap record button
 5. S

[2017-07-14 20:18] drkludge commented on #2513
I am on 3.44 now. I took 17,000 pictures on 7/4/2017. It took all night to upload the pictures. I was still on a current 3.x release when I posted this. My point was that the 1.x release is faster than the current 3.x releases including the use of threading. Moreover the picture size has remained constant.

[2017-07-15 00:36] andrewharvey commented on #2513
For me, I think it's when you have a lot of small images uploading over a high bandwidth uplink which results in long pauses between each image upload. When I tried on a lower bandwidth uplink it seemed to max out the upload constantly.

[2017-07-15 01:09] hughdavenport commented on #2327
I wouldn't hold your breath with these devs

[2017-07-16 23:01] wladich commented on #2622
Also checked in time based capture mode (1 second interval, "use device compass" turned on, auto capture): made several pictures while standing in one place and turning  around -- all photos on upload page are pointing north.

[2017-07-16 23:58] ulikoehler commented on #2613
This one has not been fixed by @sequence_cut since July 1

https://www.mapillary.com/app/user/umap?lat=48.073994818040774&lng=11.682853592661331&z=11.786498419893697&pKey=xbvD_59VX9oLVe3cbdmgmg

@voschix Regarding stray images, I encountered the same behaviour. Re-starting the upload from the app seems to work, and apparently the server also accepts them (not absolutely sure though).

[2017-07-17 05:16] ovivoda commented on #1892
this issue should be fixed now

[2017-07-17 05:16] #1892 closed

[2017-07-17 05:23] #2558 closed

[2017-07-17 05:23] #2521 closed

[2017-07-17 05:27] #911 closed

[2017-07-17 05:29] ovivoda commented on #2564
This should be fixed in the latest release

[2017-07-17 05:29] #2564 closed

[2017-07-17 09:32] nickplesha commented on #2616
Thanks for reporting this, we'll investigate this issue. @drkludge @jfburke3 are you also running Windows 10?

[2017-07-17 13:42] jfburke3 commented on #2616
I dual boot between Windows 7 and Fedora at home, and have Windows 7 at work, but i have access to a Windows 10 if you need something tested.

[2017-07-17 18:59] pbb72 opened #2623 "OpenStreetMap basemap on website doesn't use zoom 19 tiles."
For quite a few years now, the default tileset for OpenStreetMap (at https://abc.tile.openstreetmap.org/zoom/x/y.png) offers tiles up until zoom level 19.

However, the map on the Mapillary site, when choosing OpenStreetMap as the basemap, doesn't load beyond level 18. The result is a needlessly coarse OSM basemap.

[2017-07-17 22:00] richlv commented on #342
isn't this covered by now (the python scripts) ?

[2017-07-17 22:04] richlv opened #2624 "allow simultaneous exif tag writing & upload"
looks like currently the (ios) app allows either upload, or exif tag writing.

when attempting to speed up the uploads by moving images to the computer for an upload when the phone cannot do that, the images need the tags added.

if there are a lot of pictures, adding tags to them takes a very long time, during which time no uploading can happen.

it would be great if both tag adding & upload coul

[2017-07-18 06:01] katrinhumal commented on #2623
@pbb72 thanks for pointing that out. I'll take this to the team to discuss.

[2017-07-18 06:03] katrinhumal commented on #2624
@richlv thanks for your request! Taking it to the team for consideration. :)

[2017-07-18 12:14] habi commented on #2619
I'm also seeing that, while recording a sequence on the bike (tIjnUvsgF_4G3ZGelB8biQ, this morning).
The firts image is a screenshot of my phone, the second image is a screenshot from approximately the same location from the Mapillary website.

![img_3760](https://user-images.githubusercontent.com/1651235/28316411-12b5c0b4-6bc3-11e7-96b4-5b1b1244b71b.JPG)

![clipboard01](https://user-images.github

[2017-07-18 17:56] gappleto97 commented on #2591
This is still a problem in the latest version. Every time the map shows up, it demands location, and never releases.

[2017-07-18 20:07] danbjoseph opened #2625 "difference between coordinates in vector tile vs viewer node?"
I'm confused by the following:

- using mapbox-gl (0.38.0) and mapillary-js (2.6.0)
- i've loaded a map w mapillary vector tiles and display the mapillary-images source-layer
- the coordinates retrieved from the vector tile geometry after a click of a mapillary-images circle doesn't match the coordinate information retrieved from the viewer when changed to that key

[code]
[code]

[2017-07-18 20:36] jfburke3 commented on #2449
This might have been fixed by 3.67.  This strongly resembles the problem I was having when I e-mailed in logs when @peterneubauer was on vacation a couple of weeks ago.  I went on a long drive Sunday afternoon through the mountains, and used distance-capture mode the entire time.  I did not experience the problem.  (Not prepared to say I'm certain it's fixed, because it was generally intermittent,

[2017-07-18 20:38] jfburke3 commented on #2511
This might have been fixed by 3.67. This strongly resembles the problem I was having when I e-mailed in logs when @peterneubauer was on vacation a couple of weeks ago. I went on a long drive Sunday afternoon through the mountains, and used distance-capture mode the entire time. I did not experience the problem. (Not prepared to say I'm certain it's fixed, because it was generally intermittent, but

[2017-07-18 21:39] frodrigo opened #2626 "Multiple traffic signs detection in the same photo merged as only one traffic sign"
Where there is many traffics signs detected in many places in a photo they should not be merged as only one object. If there is many traffic signs on one photo, there is obliviously many different object on the field.

I uncounted this multiple times. But I found a new one very bad case of many merges (in addition of course of bad positive recognition).

https://www.mapillary.com/app/?lat=48.11245

[2017-07-18 21:43] #2626 closed

[2017-07-19 18:31] descilla commented on #2514
Ok, I haven't these problems in my usecases however I'll totally agree that these usecases will exist. So I'd also be totally satisfied if there would be a filter like suggested by you.

[2017-07-19 18:47] descilla opened #2627 "ios: don't "reset" center of map view after viewing an image"
### Basic information
* Platform: `iOS 10.3`
* Version: `4.7.5`

### Steps to reproduce behavior

1. Switch to discover/map-pane (not sure about the name in the English version. In the German version it's named "Entdecken")
2. Swipe a bit around
3. Tap on a sequence to switch to view a specific image
4. Go back to previous pane by tapping to the left top corner (discover/map-pane)

### Actual beha

[2017-07-19 18:55] descilla opened #2628 "web: unexpected zoom behavior in "time travel" mode"
### Basic information
* Platform: `web`
* Browser: `Chrome v59`

### Steps to reproduce behavior

 1. select an image
 2. zoom in
 3. enable "time travel" mode

### Actual behavior
When I use the zoom feature in the image view and then enable time travel mode the image stays zoomed in. However the time travel mode doesn't provide any zoom capabilities. So I can't zoom out or scroll the image. This

[2017-07-19 19:29] descilla opened #2629 "openstreetmap ("mapnik") basemap layer seems to be diffuse"
### Basic information
* Platform: `iOS` | `Web`
* System/Browser: `4.7.5 (iOS), Chrome 59 (web)`

### Steps to reproduce behavior

 1. Set basemap layer to *OpenStreetMap*

### Actual behavior
The OpenStreetMap basemap layer seems to be blurry/unsharp. It looks like the (raster) tiles would be upscaled.

### Expected behavior
Display the OSM tiles as sharp as on openstreetmap.org

### Additional i

[2017-07-20 06:11] gappleto97 commented on #2621
Did not resolve. Every sequence not started manually was entirely stray images. This is while OsmAnd was still able to get location in the background. Definitely not the device.

[2017-07-20 06:55] katrinhumal commented on #2621
@gappleto97 thank you for testing and letting us know! Handing this over to our developers.

[2017-07-20 10:16] mxa opened #2630 "web uploader issues"
The web uploader is doing funky stuff when trying to place some images manually.
1. it completely ignores mouse interaction the first time one of the red dots is dragged.
2. the picture gets placed somewhere else, not where the mouse was released
3. now i somehow got into this (see screenshot) where I can only put the image in one of the corners...

this is with Google Chrome, in Firefox it is eve

[2017-07-20 20:27] jfburke3 commented on #2598
Just a note that I haven't seen a recurrence of this.

[2017-07-21 11:56] katrinhumal commented on #2627
@descilla Thanks for raising this! @millenbop is on holiday until the end of next week but once he's back, he can explain the behaviour and verify how things should really work.

[2017-07-21 12:10] katrinhumal commented on #2514
@richlv Just to note that I've resurfaced this discussion on our product team. Your reasoning for having this option is good, but as always, this feature request has to compete with lots of others. (Personally, I'm keeping my fingers extra crossed for this one ;) )

[2017-07-21 13:30] ovivoda commented on #2571
@jfburke3 please try v3.67 or v3.70-BETA from google play and let us know if you're still having issues with it

[2017-07-21 13:33] ovivoda commented on #2562
Please try v3.67 or v3.70-BETA from GooglePlay and let us know if you can still see same behavior

[2017-07-21 19:38] ulikoehler commented on #2620
It seems to me like under certain circumstances the location is not re-calculated when the image orientation has changed.

See e.g. the two stop signs in the center of the image here:

https://www.mapillary.com/app/user/umap?lat=48.1090655408492&lng=11.73979327859945&z=19.672468879605614&pKey=IIKf_TGpJbDuTe_kNUV03g&focus=map&menu=false&mapStyle=mapbox_streets&signs=true

I know for a fact there ar

[2017-07-21 20:15] diovon opened #2631 "Traffic signs get blurred"
### Basic information
* Platform: `Android` | `Web`

I noticed when working with the blur editor, that many signs from my capturing are getting blurred.
e.g. https://is.gd/K1R4Uv (I just shorted the link for better reading ;-) )
e.g. https://is.gd/5FZ71J

I don't know if that has an effect of your traffic sign recognition algorithm, but I thought you should know this issue. I'll try to find this t

[2017-07-21 20:19] eugensim opened #2632 "Edit or remove comments"
I want to have possibility to edit or delete a message that I've have send to a photo.

[2017-07-22 12:43] kudarisenmon commented on #2596
debug log on version 3.71
[mapillary_trace (1).txt](https://github.com/mapillary/mapillary_issues/files/1167347/mapillary_trace.1.txt)

[2017-07-22 19:44] gubuntu commented on #2621
Same thing with me, I have hundreds of stray images from many sequences over the past few weeks. An upload will start but then there will be network or I/o error that interrupts it, then when I restart the upload, all remaining images are stray. When they were taken the GPS was good.

[2017-07-24 08:13] ovivoda commented on #1130
@s-tikhomirov @pbb72 @ToeBee Is this still a problem with latest app version in GooglePlay?

If not I would like to close this issue down.

[2017-07-24 08:22] ovivoda commented on #1167
SAF support was added but SAF itself is still very slow, almost unusable for the application use cases

[2017-07-24 09:17] ybkuang commented on #2620
@frodrigo @ulikoehler We've looked at the examples you share. The reason is that there are errors in the 3D reconstruction for those areas. Specifically, we notice that the locations of the images after 3D reconstruction are wrong which cause errors when estimating the locations of the signs. We will need to investigate further what lead to the errors in 3D reconstruction.

[2017-07-24 10:58] dmbreaker commented on #2621
Still have stray photos. It's a bug in the app. I uploaded small part of images, everything gone ok, then cancelled further upload (expected lost of WiFi).
Just tried to continue but all images became strayed.
It's a waste of time.
Have to stop making new photos until the issue fixed.

[2017-07-24 11:12] ovivoda commented on #2621
@gappleto97 @gubuntu @dmbreaker Can you please send us the sequences with stray images over?

[2017-07-24 12:27] katrinhumal commented on #2631
Hi @diovon! Thanks for pointing this out. We are continuously working to improve the algorithm, but as you are seeing, it's not 100% there yet. So it's not unusual to see falsely blurred parts of images - most often they would be road and street signs, which the algorithm has confused with license plates.

The good news is that you (and everyone else) can fix this by using our blur editor. The man

[2017-07-24 12:27] #2631 closed

[2017-07-24 12:33] katrinhumal commented on #2632
Hi @eugensim! Thanks for your request. This is definitely something we should consider. I'm forwarding this to our product team for discussion.

[2017-07-24 12:34] peterneubauer opened #2633 "Comment view multiline is chopped"
![image](https://user-images.githubusercontent.com/11977/28523528-2cea9798-707d-11e7-973e-48e54a4a0496.png)

[2017-07-24 12:53] peterneubauer commented on #2596
@kudarisenmon do you have a lot of these files? Will test with the one you uploaded. Is that one taken with the Mapillary App?

[2017-07-24 15:50] Robot8A commented on #2621
Same, 8600 photos in 33 sequences, all strayed. When I try to upload them, it skips them.

[2017-07-24 16:35] gappleto97 commented on #2621
I already deleted, as I was told to above

[2017-07-24 18:39] cbeddow commented on #2625
Elvir in Sarajevo having similar issue, trying to place a "pegman" marker for `you are here`:

`seems that sometimes coordinate of pegman and street view point is not 100% correct since pegman is little (up,down,left,right)`

[2017-07-24 19:49] gubuntu commented on #2621
Hi @ovivoda what's the path to the sequences (Android) and how or where should I send them?

[2017-07-24 19:52] ulikoehler commented on #2613
Here's a particularly extreme one with a lot of "detached" photos:
https://www.mapillary.com/app/user/umap?lat=48.09284751114345&lng=11.716117482556456&z=13.472546969532129&pKey=_SQi5WM7MjsDYE9bwyIzTw&focus=map&feedItem=user-pyQrwn2chXv57on5L40ZbA-affected_indirect_object-user-LJi1H04PTQCkgAYlCmFWCA-approved-changeset-image%3A1500896764837

[2017-07-24 20:04] ulikoehler opened #2634 "Image uploaded with date 6 months off (correct date in EXIF)"
I've just noticed that an image sequence take using the Android App on saturday (July 22nd):
https://www.mapillary.com/app/user/umap?lat=48.066333083167194&lng=11.7392856435888&z=12.218355812216307&pKey=_SQi5WM7MjsDYE9bwyIzTw&focus=map
by me has been incorrectly labeled as **January 22nd**. I'm pretty sure my smartphone's time wasn't off by 6 months straight and also the EXIF data suggests that th

[2017-07-24 20:29] ulikoehler commented on #2616
On Chrome/Linux I've also noticed Mapillary getting slower over time.

Here's a chrome heap profile taken at https://www.mapillary.com/app/ in ~15 minutes:
https://pastebin.com/4mF9NQqU

[2017-07-24 21:28] ptpt commented on #2625
Two possibilities:

1. Image locations in vector tiles always use the original latlon, which is read from image EXIF or GPS directly, while MJS uses the computed latlon when it is available.
2. The coordinates in vector tiles are not 100% precise, i.e. 100% same as the original latlon. The precision depends on the tile's zoom level, and the location of the tile, and the extent (the number of cells

[2017-07-24 21:31] ptpt commented on #2625
`40075016` is the circumference of the earth. In level 14, you have `2^14` tiles in a row, so each tile has the width `40075016/(2^14)`. A tile has 4096 cells, so you get the precision `(40075016/(2^14)) / 4096`.

[2017-07-24 21:32] #2625 closed

[2017-07-25 03:07] kudarisenmon commented on #2596
@peterneubauer
I have deleted the photos on my SD card.
(I uploaded them by mapillary_tools python script)
I am going to take photos with version 3.72 at this weekend.

[2017-07-25 07:55] gyllen commented on #2605
@martinskans Can you help investigate, seems to be something CDN related.

[2017-07-25 07:58] gyllen commented on #2616
@nickplesha New information ^^^

[2017-07-25 07:58] gyllen commented on #2629
@knikel Please investigate

[2017-07-25 08:16] peterneubauer commented on #2596
Ok, was it a lot of photos that didn't upload via the app or just this one?

[2017-07-25 08:36] peterneubauer commented on #2327
@hughdavenport I rotated https://www.mapillary.com/app/?lat=-41.23420390000001&lng=174.90374405&z=17&pKey=0u2O9jQQEEMpqYYNWcS_EQ&focus=photo, should take some hours to get through.

@randoogle what phone, can you maybe enable settings->Developer->trace, and send the logs after one of these upside down sequences? Are you biking and shaking the phone?

[2017-07-25 08:38] peterneubauer commented on #2511
So, this should be fixed (the app is starting new sequences after 600 images, but that's intended), so I'm closing this, feel free to reopen if you experience stops with the current app versions.

[2017-07-25 08:38] #2511 closed

[2017-07-25 08:40] peterneubauer commented on #2527
With the latest updates, this should be gone. The problem was that the interface reported the fix as reported by the phone with aid of Google service, while the actual capture process was insisting on a pure GPS fix. Now fixed and should be working.

[2017-07-25 08:40] #2527 closed

[2017-07-25 08:44] peterneubauer commented on #2573
The bad fix problems should be much better with the latest versions, so I'm closing this, please reopen if you experience this again with the beta releases (join the beta program to get them). Current there is 3.72-BETA

[2017-07-25 08:44] #2573 closed

[2017-07-25 09:30] voschix commented on #2629
Seems to be the same issue as #2623

[2017-07-25 10:09] ovivoda commented on #2621
@gubuntu You can check in the left hamburger navigation menu and go to Settings->Storage->See location under "Picture storage location".

You can just grab the images using Android File Transfer and upload them somewhere and just send the link to me.

Another thing that you can try first is to set your device time zone to the time zone used when you took the pictures. This is the main cause for st

[2017-07-25 11:28] descilla commented on #2629
It looks like OSM tile levels are zero-based numbered while mapillarys zoom index begins at 1.

[2017-07-25 12:30] dmbreaker commented on #2621
https://yadi.sk/d/KrS4SoN-3LPU9a
Example of strayed images

[2017-07-25 13:53] peterneubauer commented on #2622
@wladich the compass issue should be fixed in recent beta builds, you can join the beta program in the side drawer to get it (soon coming out in general). The compass angle tracking is disabled right now since the compass is not working reliably enough, best to just press manually, we will think about how to make this better.

[2017-07-25 14:14] peterneubauer commented on #2634
Is this happening consistently always even with new sequences @ulikoehler ?

[2017-07-25 14:19] ulikoehler commented on #2634
@peterneubauer Definitely not. It seems to happen randomly with only a few sequences with no apparent connection between them. For me it happened for four sequences out of more than 100 (estimated) uploaded sequences.

It might be possible that its related to issues with stray images in the app. When the app detects stray images, I will just click on the upload button again. Most of the time the i

[2017-07-25 14:22] knikel commented on #2623
This has been now fixed, thanks! The tiles should look better now too, since the library we're using defaulted to 512 size, while OSM provides 256 sized tiles. This will be visible after the next deploy.

[2017-07-25 14:28] wladich commented on #2605
How can I help?

[2017-07-25 14:28] knikel commented on #2629
Unfortunately, this is not related to #2623 (fixed). For some reason `mapbox-gl-js` renders different extent of the map at given zoom level compared to Leaflet. Still investigating.

[2017-07-25 14:33] ulikoehler commented on #2634
Also note that I didnt get a "images published" notification for that sequence.

[2017-07-25 14:54] peterneubauer opened #2635 "Images not appearing after upload"
reference: https://twitter.com/muramototomoya/status/889796502222028800

[2017-07-25 14:58] peterneubauer commented on #2634
The notification is most probably missing due to a backend bug I did in the notification code. Should be fixed now :)

Can you try http://android-releases.mapillary.io/Mapillary_Android_3.73-SNAPSHOT1.apk and see if you get less stray images, to start with?

[2017-07-25 14:59] ulikoehler commented on #2634
Thanks, I will try the new snapshot ASAP!

[2017-07-25 17:26] gappleto97 commented on #2621
Can we assume this is high priority for you guys? I feel like I can't use your service until its fixed. Especially since I already lost 6 hours of driving to this bug.

[2017-07-25 18:34] jfburke3 commented on #2622
@peterneubauer I'm not sure I follow what you mean by "best to just press manually."  Do you mean deselect the "Use device compass" knob and use the directional arrows instead?

[2017-07-25 22:07] tankaru commented on #2635
Hello, my mapillary username is "tankaru".

My uploaded photos were not published, just disappeared.

1. I uploaded about 800 photos via python uploader at around 16 July. They were on "pending" status.
2. At 20 July "pending" status were disappeared. But photos were not published.
3. I uploaded another 70 photos via web uploader at around 22 July.  They were on "pending" status.
4. At 25 July "pe

[2017-07-25 22:46] ulikoehler commented on #2634
I was able to test taking a very short sequence of images (~200 overall) with the 3.73 Snapshot 1 version - it did not produce any stray images. I will continue testing this with longer sequences.

[2017-07-25 22:48] ulikoehler commented on #2621
Maybe related to the conversion at  https://github.com/mapillary/mapillary_issues/issues/2634 ? (probably not related to the bug itself).

I was able to test with the 3.73 Snapshot today, albeit only with ~200 images, and no stray images were produced.

Maybe you guys can check the snapshot, too? http://android-releases.mapillary.io/Mapillary_Android_3.73-SNAPSHOT1.apk

[2017-07-26 02:57] stev391 commented on #2598
I have the same issue.  See sequence: HZYnE4XtI01fRzV5TV1XcQ

Not sure what version that one was, but just returned from a drive and noticed that a sequence that is set to upload contains a mix of good and black images.  Once it is uploaded I will post the sequence number.
Mapillary Version 3.72-BETA
Device: Samsung S7  (SM-G930F), Android 7.0
I just sent the logs via the app, so hopefully they ca

[2017-07-26 03:03] stev391 commented on #2597
I have a the same issue.  It even reports at time that no GPS available, takes a photo with good fix then complains no GPS available.
I submitted a log to the mapillary log email address about 5 mins ago, referencing ticket 2598.  You may also find relevant information in there.  It is quite fustrating to be driving in quite open areas and then find that the Android App (3.72-BETA) has stopped tak

[2017-07-26 03:09] stev391 commented on #2577
This might be related to GitHub Issue #2598 as similar symptons, just different default colour for the background in the jpeg.

[2017-07-26 03:29] stev391 opened #2636 "Android: Explore map during capture offset so not shown in correct location"
### Basic information
* Platform: `Android`
* Version: `3.72-BETA`
* System/Browser: `Samsung Galaxy S7 GM-930F`

### Steps to reproduce behavior

 1. Open up Mapillary App,
 2. Goto to capture
 3. tap the map button on the left

### Expected behavior

White dot on screen shown on map in correct position

### Actual behavior

White dot is off to the left of actual position on the map.

### Additio

[2017-07-26 06:18] dmbreaker commented on #2634
Could it be different time zones issue?
I made photos in one timezone and uploading was fine. When moved to another one (with flight mode in the middle) all images became "stray".
Last time I got the issue conditions were similar.

[2017-07-26 06:23] katrinhumal commented on #2633
@peterneubauer should we assign you or @ovivoda to this? :)

[2017-07-26 06:29] ulikoehler commented on #2634
@dmbreaker TZ issues could explain max 24h offset but not 6 months.

If you mean secondary issues due to timezone change, thats possible in principle but not for my specific issues. I haven't been in another timezone since Signing up for mapillary. Also i have not changed by smartphone TZ settings.

Still, the issue might be related to flight mode. However, I took pretty much all my sequences in f

[2017-07-26 06:39] peterneubauer commented on #2633
ovi

On Jul 26, 2017 8:23 AM, "katrinhumal" <notifications@github.com> wrote:

[2017-07-26 07:59] knikel commented on #2601
This has been fixed. There are few shapes in the system with invalid shapes, so these will display the message. Existing shapes should not display this.

[2017-07-26 07:59] #2601 closed

[2017-07-26 08:00] #2623 closed

[2017-07-26 20:14] jfburke3 commented on #2571
I think this is fixed.  I haven't had this problem in the last few releases (including the latest beta).

[2017-07-26 20:19] #2571 closed

[2017-07-26 22:14] hughdavenport commented on #2327
Still very much upside down, but did see that a bot did something on some of my feeds. Pity I don't use this project anymore

[2017-07-27 05:24] gubuntu commented on #2621
I set time zones for my stray sequences and they've all uploaded successfully!

[2017-07-27 08:22] katrinhumal commented on #2621
@gappleto97 Yes, you can assume that. We're actively working on this.

[2017-07-27 08:57] voschix commented on #2621
I have regularly stray photos, often more than 200 in a 600-image sequence. Time zones are not involved. All local photos. They normally upload OK on the second go. Would be nice to get rid of this problem, as this require additional manual work.
Android App 3.67 on a Sony Xperia Z5 compact.

[2017-07-27 12:44] tankaru commented on #2635
My disappeared photos are published today.
Is the bug fixed?

[2017-07-27 12:54] dmbreaker commented on #2621
I confirm workaround with temporary timezone change.

[2017-07-27 18:56] habi commented on #2611
It seems that this has to do with the rotation of the iPhone.

Here's a screenshot when starting to capture.
![start](https://user-images.githubusercontent.com/1651235/28687024-7cb82122-730d-11e7-9cd3-86fb2809bcb0.JPG)

Here's a screenshot when the phone is rotated to the left (home button to the right).
![home button right](https://user-images.githubusercontent.com/1651235/28687086-a4966fbe-730d-

[2017-07-27 19:37] peterneubauer commented on #2635
So, the sequences uploaded by you the 16th are

[code]

you can see them by doing e.g. https://www.mapillary.com/map/s/wEx78jJ1SZY2uBInZOWZmw, and there I'm seeing the first image of that first sequence under https://www.mapillary.com/app/?pKey=QCV6EQrj2wrFq9U4wHAdkA&lat=35.34986666666667&lng=139.56543333333332&z=17 ?

[2017-07-27 21:14] yopaseopor commented on #2565
The problem is to miss the possibility to edit via JOSM or web the mapillary wrong detection and turn back thant information to Mapillary. Also it would be interesting to merge the same traffic sign, detected in 2 or three sequences but there are the same traffic sign in the reality. Also it would be interesting to "stick some tracks in the same street and direction " to an existent way in OSM. Th

[2017-07-27 22:29] tankaru commented on #2635
Those sequences are already published before this issue.

The newly published photo is here, for example.
https://www.mapillary.com/app/?pKey=5pK0XWr-QUPfwwMfJ0mlKw

And I'm sorry maybe I'm not getting the point of your comment well,
I just want to know whether "the bug is fixed" or "I should change my upload manner".

[2017-07-28 06:05] gappleto97 commented on #2621
Oh man, what if this is because of a time zone change while recording? I crossed from Eastern to Central and back while recording the traces I got stales in. If adding a time zone fixed things, that makes me think this might be relevant.

[2017-07-28 15:39] ovivoda commented on #2633
@peterneubauer @katrinhumal This seems to me like a web bug and not an app bug.

[2017-07-28 15:48] ovivoda commented on #2621
@voschix Please try the beta version on GooglePlay and let me know if that one works better.

[2017-07-28 16:01] ovivoda commented on #2587
@voschix Does this work now?

[2017-07-28 16:04] ovivoda commented on #2582
@ArAge67 Can you still reproduce this issue on the latest app version?

[2017-07-28 16:06] ovivoda commented on #2579
@jfburke3 @gappleto97 Do you still have this issue on the latest app version from GooglePlay?

[2017-07-28 16:08] ovivoda commented on #2576
@jaakkoh Are you still experiencing this issue with the latest release on GooglePlay?

[2017-07-28 16:15] peterneubauer commented on #2633
Yes

On Jul 28, 2017 5:39 PM, "ovivoda" <notifications@github.com> wrote:

[2017-07-28 16:19] voschix commented on #2587
Sorry, I forgot to answer.: I now can get two different sizes of pictures.  And the duplicated setting possibility has been removed. Looks OK now. Thanks

[2017-07-28 16:22] ovivoda commented on #2587
Thanks @voschix Closing it down now.

[2017-07-28 16:22] #2587 closed

[2017-07-28 17:13] gappleto97 commented on #2579
Yes.

[2017-07-28 19:56] pbb72 commented on #2623
Perfect, thanks!

[2017-07-29 01:29] kudarisenmon commented on #2596
I take photos with version 3.75-BETA
A lot of photos are not uploaded after app throws exception.
Here is that photo.

https://drive.google.com/file/d/0B9OL2ctJGhoUM3Z0MXpIRW5aMTA/view?usp=sharing

[mapillary_trace.txt](https://github.com/mapillary/mapillary_issues/files/1184543/mapillary_trace.txt)

[2017-07-30 15:10] richlv commented on #2434
probably a duplicate of #2100

[2017-07-30 15:11] richlv commented on #2100
@millenbop, in january you suggested that the background upload might be ready soon - any news ? :)

[2017-07-30 15:21] richlv opened #2637 "screen locked while recording with the ios app"
iphone 6, latest mapillary app version (unable to find the exact version).

take some images. start upload, hit "stop upload" a moment later and switch to the capture mode immediately, start a new sequence. phone locks screen after the normal timeout, stopping the capture.

[2017-07-30 15:22] richlv opened #2638 "unable to find the app version in the ios app"
sorry if i have overlooked this, but totally unable to find the app version in the iphone app. "about" in settings only opens some webpage with general info.

[2017-07-30 15:23] richlv opened #2639 ""about" & "terms and conditions" in the iphone app blank at first"
in the iphone app, opening "about" and "terms and conditions" at first shows blank screen only. if left open long enough, webpages are loaded. this is quite confusing, as there's no progress indicator or anything else.

[2017-07-31 07:41] millenbop commented on #2100
Yes, sorry about that.

It is about 90% done on a separate branch, but ran into some problems and then we decided there where some more important things that needed to be done first.

I'll bring it up with our project manager again.

Thanks for pinging!

[2017-07-31 08:27] millenbop commented on #2639
Thanks, I'll improve that.

[2017-07-31 08:29] millenbop commented on #2637
Thanks for reporting! I'll fix.

[2017-07-31 08:42] millenbop commented on #2611
I'm back from vacation now! Thanks for reporting, I'll fix!

[2017-07-31 09:01] richlv commented on #2100
if there's an incomplete, but safe solution that makes it slightly-more-backgroundish, i think your users would appreciate that for now - although 100% solution would require a mini-party ;)

[2017-07-31 09:04] richlv opened #2640 "ios app - auto-mode button can become inversed"
open the ios app, switch to the capture mode and hit the start button before the gps signal has been received. the app will go in the capture mode, but will only start capturing when the gps signal will be available. unfortunately, the button shows that there's no active capture.
tapping the button again stops capture, but the button now shows that the capture is active.

[2017-07-31 11:15] katrinhumal commented on #2638
@richlv as for now, you can't check the version number in the app itself. You need to go to your phone settings and scroll down to Mapillary. We'll take note of this.

[2017-07-31 11:33] richlv commented on #2638
ah, thanks - that makes sense, although i expected that to be in the app menus somewhere :)

[2017-07-31 12:25] katrinhumal commented on #2638
That's a pretty normal expectation :) We'll try and see if we can find a nice place for it.

[2017-07-31 12:27] katrinhumal commented on #2633
Woops my bad, I failed to look at the screenshot properly. Let's ask @nickplesha to help then :)

[2017-07-31 12:45] katrinhumal commented on #2624
@richlv I learnt that the capture+upload process on iOS will undergo some changes which should solve this problem. So no immediate fix but a solution is in sight! :)

[2017-07-31 14:09] millenbop commented on #2100
I just don't like pushing out stuff that I know is broken :) It wasn't 100%, often a few photos weren't uploaded. No other errors though.

[2017-07-31 15:36] richlv commented on #2100
if the photos were not lost, that's an improvement already. but i appreciate your attention to quality a lot, thank you :)

[2017-07-31 15:45] richlv commented on #2624
thanks a lot for the info. any info on what changes are being worked on ? would that eliminate the double-writing of he images ?

[2017-07-31 19:27] jfburke3 commented on #2579
@ovivoda Yes.  Took a lot of sequences yesterday with 3.75-BETA, and the ones I've uploaded so far, still show random directions.

[2017-07-31 19:48] ulikoehler commented on #2579
I'm using the latest beta (from Google play) and the issue still seems to be the same issue. *Note*: I have not set it to compass mode.

Example sequence: https://www.mapillary.com/app/user/umap?lat=48.15277689953015&lng=11.613950903400394&z=13.812309346476585&pKey=2M_IC49_rFc3qFel1fGnFQ

[2017-07-31 19:49] gappleto97 commented on #2579
For me it all points at 0, not randomly

[2017-07-31 19:55] ulikoehler commented on #2579
It's not like every image in the affected sequences points at totally random directions. But the images do not point forward, if you set the app to the forward direction. Also it seems to me like its not a constant offset. If you drive constantly in one direction, the cone stays approximately in the same (but wrong) direction. But if you change direction,  the cone goes to another (also incorrect)

[2017-08-01 00:09] randoogle commented on #2327
It's a Moto G5 Plus (old phone was a Moto E 2nd Gen). And, no, I'm not biking or shaking the phone (at least not very often). In fact, it seems less likely to happen if I shake the phone a bit before starting a new sequence. I'll see about sending a stack trace next time it happens.

[2017-08-01 06:32] jrcarlsen commented on #2568
@ovivoda I have not seen this issue since replacing my SDCard

[2017-08-01 10:00] peterneubauer commented on #2568
So, we close it until your SDCard stops working again ;)

[2017-08-01 10:05] peterneubauer commented on #2327
Thanks!

@hughdavenport investigating your image rotation issue.

[2017-08-01 13:26] peterneubauer commented on #2596
@kudarisenmon have youo been taking these images in another timezone? They seem 7h offset to teh GPX track?

[2017-08-01 15:32] millenbop commented on #2611
It has been fixed now and will be out in the next release.

[2017-08-01 15:32] #2611 closed

[2017-08-01 15:43] jfburke3 opened #2641 "Website "edit tags" feature doesn't have a way to exit"
### Basic information
* Platform: Web
* Version:
* System/Browser: Windows 7, Chrome

### Steps to reproduce behavior

 1.  Select an image from a sequence
 2.  Click the 3-dot menu button at the lower right
 3.  Click Edit Tags on this photo
 4.  No options available to do....
 5.  Can't exit because there's no Exit button.

### Expected behavior

An exit button to click

### Actual behavior

Not

[2017-08-01 18:46] peterneubauer commented on #2565
That is true. The APIs for feedback and correction of detections are coming soon, so they will be able to integrate with JOSM.

[2017-08-01 18:51] peterneubauer commented on #2634
The first source for the timestamp for an image is the filename parsed as a timestamp for performance reasons. We now inserted the filename into the EXIF JSON tag, so we afterwards can see what it was. Will be out in the next version so we can debug this.

[2017-08-01 18:52] peterneubauer commented on #2622
No, just use device compass, and select manual mode in the switcher above the shutter button (an image is taken only when you press the button). That way you control when to take an image.

[2017-08-01 18:53] ulikoehler commented on #2634
@peterneubauer Thanks, I'll check regularly if there are any new sequences with this issue. If there are new ones, I'll inform you via this thread.

[2017-08-02 01:00] kudarisenmon commented on #2596
@peterneubauer
I took photos in Japan at around 28th July 14:09.
The timezone is "Asia/Tokyo (+9:00)".
The first trkpt's timestamp in GPX file is 2017-07-28T05:08:25.358Z and it's added for 9 hours, it'll be 14:08:25.
Is something wrong?

[2017-08-02 02:06] ulikoehler opened #2642 "Android app only shows free space in 1.0 GB instead of 100 MB increments"
### Basic information
* Platform: `Android`
* Version: every version at least up to 3.75 beta
* System/Browser: LG G2

### Steps to reproduce behavior

 1. Open app
 2. Start sequence capture
 3. Observe that free space (on the capture screen) only decreases in 1.0GB increments (`2.0 GB`, `1.0 GB`, `0.0 GB`)

### Expected behavior

The free space should decrease in 100 MB increments (`2.0 GB`, `1.

[2017-08-02 05:51] peterneubauer commented on #2642
Thanks, we will try to work on it, but not high prio.

[2017-08-02 05:53] peterneubauer commented on #2596
No, nothing wrong. However, in order to upload the images, please set your phone timezone back to Japan so the images time gets back to the GPX track and can be matched and uploaded. We are fixing the issue with the images times being in localtime right now.

[2017-08-02 07:55] katrinhumal commented on #2641
@jfburke3 Can't accidentally push anything these days without our attentive users noticing! 😉 ❤️ The `Edit tags` button is actually not supposed to be there - yet. But it will be soon, together with lots of stuff to click on. Stay tuned!
Meanwhile, I've notified the dev team of this slip so the button will disappear until it's time for it to make a comeback.

[2017-08-02 07:55] #2641 closed

[2017-08-02 10:10] katrinhumal commented on #2585
@ToeBee have you seen any more of this since?

[2017-08-02 16:23] GITNE opened #2643 "Detections map displays deleted photos"
The new detections map displays the position and thumbnail of deleted photos.
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Any`
### Steps to reproduce behavior
For example:
1. Go to Any location where photos have been deleted
2. Click `AI detections`
3. Click `Turn on detections`
4. Select to highlight photos with the `Terrain` or `Fence` detection type, or any other

[2017-08-02 23:56] GITNE opened #2644 "Detections layer visible when in Satellite or OSM map style (base map)"
Since the introduction of detections, yellow dots appear on green sequence dots when viewing the `Mapbox Satellite` or `OpenStreetMap` base map (map style), even when detections have not been turned on.
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`, possibly others too
### Steps to reproduce behavior
1. Zoom-in to level `10` or greater anywhere on the map
2.

[2017-08-03 01:36] GITNE opened #2645 "Unfied terminology"
Please unify your terminology. Some irritating and/or ambiguous terms exist throughout Mapillary. This can be observed more or less depending on the platform.

For example, the UI refers to the *background* *map* as `Basemap` whereas the URL parameter name is `mapStyle`.  Besides, the proper wording or spelling for `Basemap` would be `Base map`.

Similar is true for detections. Sometimes they are

[2017-08-03 06:42] katrinhumal commented on #2645
Hi @GITNE - thank you for a thorough review of what you think is wrong. You definitely have a good point about consistency and it is something we are striving for. While we'll keep on working on it, here are a few notes.

- We have actually chosen to `images` over `photos`. It might be that we have still missed this in some places (especially in previously existing documentation, whether technical

[2017-08-03 08:58] millenbop commented on #2640
Thanks for reporting, I'll look into it!

[2017-08-03 09:34] millenbop commented on #2627
This is fixed now, will be out in the next release.

[2017-08-03 09:34] #2627 closed

[2017-08-03 09:38] millenbop commented on #2618
This has been fixed now, will be out in the next release.

[2017-08-03 09:38] #2618 closed

[2017-08-03 11:17] millenbop commented on #2639
This is done now, will be out in the next release.

[2017-08-03 11:17] #2639 closed

[2017-08-03 11:40] millenbop commented on #2619
It is a bug with the Mapbox SDK. I have filed a bug for them over a year ago but it still hasn't been fixed (yeah I realise we have old bugs too lol).

What we can do is to limit the zoom level to 14.9 (it breaks at 15). I have done that on iOS but apparently I at least one place.

[2017-08-03 12:00] millenbop commented on #2619
It has now been limited to zoom level 14.99, will out in the next release.

[2017-08-03 12:00] #2619 closed

[2017-08-03 12:32] damjang opened #2646 "Android app localization?"
I read previous issue with localization and find that the "mapillary_localization"  is closed. What is the project of localization for the future? I specially think of android app: pass the translations to Transifex or Crowdin or something similar would be a big add. If nothing of this can be done, maybe also share the resource locale file of mapillary app could be a chance...

[2017-08-03 12:46] peterneubauer commented on #2579
@ulikoehler can you try http://android-releases.mapillary.io/Mapillary_Android_3.79-SNAPSHOT1_dedup_gpx.apk ? This one dedupes duplicate GPX trakpoints, which can have a positive effect on the pointing direction of the image.

[2017-08-03 15:41] GITNE commented on #2645
@katrin Thank you for your extensive answer and taking this matter seriously.

I did not mean to insinuate that Mapillary is reinventing the wheel. What I was trying to hint at was that it is often easier and rewarding to build on the experiences of others (do not confuse this with traditions), even if they might seem to look like conventions initially. Certainly, the mentioned corporations do tra

[2017-08-03 20:22] gyllen commented on #2644
@nickplesha Elevate to internal issue

[2017-08-03 20:23] gyllen commented on #2643
@peterneubauer ^^^

[2017-08-03 21:33] ToeBee commented on #2585
I have not... although I don't think I have used the Mapillary app very much since I opened this issue. I do most of my capturing with an action camera.

[2017-08-04 09:01] nickplesha commented on #2644
@GITNE Thanks for reporting! Should be fixed now.

[2017-08-04 09:01] #2644 closed

[2017-08-04 09:12] katrinhumal commented on #2645
Thanks for your kind words @gitne! There's definitely lots that we can learn from others, and rely on the research that has already been made. We'll keep pushing forward - I'm closing this issue now, with taking several points from here to help us improve. :)

[2017-08-04 09:12] #2645 closed

[2017-08-04 09:26] katrinhumal commented on #2585
@ToeBee hehe that's nice :) Do you want to do a little test run? It should be fixed now but would be nice to get more evidence for that.

[2017-08-04 09:29] katrinhumal commented on #2646
@damjang Thanks for your question! Localising the Android app is not off our agenda, despite the repo being closed. But I must warn it's also not one of the next items on the list for the near future. In any case, when we get to that, we will set up a system and give anyone interested the chance to help - like we have with iOS localisation today.

[2017-08-04 09:48] damjang commented on #2646
Ok, thank you for the answer!

[2017-08-04 09:48] #2646 closed

[2017-08-04 10:46] nickplesha commented on #2628
@descilla Thanks for reporting this.
@oscarlorentzon Are there any restrictions on zooming in/out in MapillaryJS when slider is active?

[2017-08-04 10:47] nickplesha commented on #2630
@mxa Thanks for reporting this, we' re looking into this issue. Can you share what OS are you using?
There were reports of similar behaviour sometimes happening when browsers interpret drag-and-drop in UI as drag-and-dropping files on top of the tab which causes this.
Also, if you see any error messages in the console when this happens, please add them here.

[2017-08-04 10:49] nickplesha commented on #2482
@ArtificialTruth Switching map layer is working in uploader now, thanks for reporting.

[2017-08-04 10:49] #2482 closed

[2017-08-04 11:01] oscarlorentzon commented on #2628
@nickplesha Zoom will be reset to 0 automatically in MJS when activating slider/time travel mode in next release (`2.7.0`).

[2017-08-04 11:46] peterneubauer commented on #2643
Yup, this means we need to remove deleted images from the detections from the backend.

[2017-08-04 13:22] mxa commented on #2630
That's on Linux Mint 18.2 cinnamon 64bit.

[2017-08-04 13:39] jotpe commented on #2250
I know I updated the image positions of this bicycle sequence with the web editor some months ago, because there was a hugh gps difference. Now the image positions are correct, but the arrows are still showing to the old positions whichs leads to two wrong animations.
https://www.mapillary.com/app/index/ifjj1ref?lat=50.91340996978502&lng=6.997288478702728&z=17&pKey=mpQdI9Q2u4yFw6QN-koU-A&focus=map

[2017-08-04 13:55] jotpe opened #2647 "time travel does not work - manual upload"
The sequence was uploaded with the web form: 5gnGytyX5DzJbFNEwRjFrQ
https://www.mapillary.com/app/?lat=52.509840752956364&lng=13.377655618239459&z=18.806149649946747&pKey=GnxTiQMWIsBc3_-YOxUl_w&focus=map&comments=true

This is the nearly the same position, but time travel from night to day does not work.

### Basic information
* Platform: `Web`
* Version: `last?`
* System/Browser: `59.0.3071.109 (

[2017-08-04 15:33] talllguy opened #2648 "Green vector tiles not loading due to No 'Access-Control-Allow-Origin' header"
### Basic information
* Platform: `Web`
* Version: `production`
* System/Browser: `Chrome 59.0.3071.115 (Official Build) (64-bit)`, `Firefox 54.0.1 (32-bit)`

### Steps to reproduce behavior

 1. Open developer console
 2. Navigate to [this area](https://www.mapillary.com/app/user/talllguy?lat=39.28951194693863&lng=-76.57294440667512&z=14.29632512827815&focus=map) of the map
 3. Pan around, look f

[2017-08-04 15:57] ArtificialTruth commented on #2482
My pleasure!

[2017-08-05 14:43] ulikoehler commented on #2579
@peterneubauer I'll try it today

[2017-08-06 15:28] ulikoehler commented on #2579
@peterneubauer It seems to me like using the dedup GPX fix also fixed the issue. At least 2 sequences from yesterday which were uploaded using this version have correct directions. However, they are not visible on the map yet, so I'm not absolutely sure so far.

Example:
https://www.mapillary.com/app/user/umap?lat=47.935824999483884&lng=10.092416831096784&z=17&pKey=tXlA0cLnW9bqP9GHw5Y1eA

[2017-08-06 15:45] trigpoint opened #2649 "The map is not obvious when visiting mapillary.com"
When visiting http://mapillary.com the map is not obvious. I had to ask on the irc channel where it is these days.

The choice of 'explore places' is very unintuitive as a place to put the most important feature of mapillary, maybe the words 'view map' would make the map easier to find?

[2017-08-06 19:51] pbb72 opened #2650 "Multi-set upload doesn't upload all images"
Using the web-uploader, it is possible to upload multiple image sets as one:

1. Visit https://www.mapillary.com/app/uploader
2. Drag a set of images onto the browser window.
3. All of the images are being parsed.
4. Click "Review".
5. Drag another set of images onto the browser window.
6. Most (between 50-90%) of the images are being parsed, not all images are there!
7. Repeat 4. and 5. to upload

[2017-08-07 07:06] thoschu96 opened #2651 "Unable to login or reset password"
### Basic information
* Platform: `Web`
* Version: `...`
* System/Browser: `...`

### Steps to reproduce behavior

 1. Try to login over the "Sign in" Window
 2. Get errormessage : Wrong email or passord
 3. Try to reset the password over "Forgotten password"
 4. After providing the email and hitting the "Send instructions" the message "Invalid e-mail address" comes up

### Expected behavior

Shou

[2017-08-07 08:01] thoschu96 commented on #2647
Hey ,
just checked your link, i see that u took a picture on 16th and 17th, but on the map you see it on different positions. so i guess, the Timetravel only work's when it's on the same "location"..

[2017-08-07 08:29] katrinhumal commented on #2250
@jotpe I think something has updated now - this is what I see when I click on your link:

<img width="1275" alt="screenshot 2017-08-07 10 28 27" src="https://user-images.githubusercontent.com/16334352/29018421-4427dd10-7b5b-11e7-91c6-1de52571614b.png">

[2017-08-07 08:40] jotpe commented on #2250
Thanks. I can see it now, too.
This seems to be a long and strange delay. Did somebody triggered a sequence reprocessing? I have even other sequences in same manner, which were corrected by me months ago and have still incorrect arrow directions.
https://www.mapillary.com/app/index/ifjj1ref?lat=50.878905&lng=7.122221&z=17&pKey=PRlky7Qmybx_hzpAMPIoRQ&focus=map&mapStyle=mapbox_streets
![bildschirmfo

[2017-08-07 08:43] katrinhumal commented on #2648
@talllguy thanks for reporting! We had a database error and are currently re-rendering all the tiles. I believe your indicated area looks better already. ;)

[2017-08-07 09:12] katrinhumal commented on #2250
@oscarlorentzon can probably give better insights on this one, referring to him.

[2017-08-07 09:15] katrinhumal commented on #2651
@thoschu96 thanks for reporting, I can confirm this issue (on Chrome Version 59.0.3071.115 (Official Build) (64-bit)). We'll look into it asap!

[2017-08-07 09:28] katrinhumal commented on #2647
Thanks for raising this. Time Travel will work for images that have more or less the same location and compass angle (_slight_ deviations allowed), have matching points in them (detected by the Structure from Motion (SfM) technology we use for 3D reconstructions - the same thing that creates smooth sliding between overlapping images), and are not in the same sequence.

In your case, the latter con

[2017-08-07 09:32] katrinhumal commented on #2649
@trigpoint Thank you for your insights! Very useful to know that this is how you experience the website. We'll take this into consideration when we think further about our web, with the aim to make it clear and easy for everyone to find what they're looking for.

[2017-08-07 10:05] millenbop commented on #2640
I have simplified the button behaviour a bit which fixes this issue, will be out in the next release.

[2017-08-07 10:05] #2640 closed

[2017-08-07 10:14] richlv commented on #2640
great, thank you :)

[2017-08-07 10:55] jotpe commented on #2268
Is this no strong need?

[2017-08-07 13:47] ulikoehler commented on #2579
@peterneubauer It certainly seems like the directions are much better with the GPX dedup version and they seem to be correct for almost all images. There are a couple images in between that are offset, but I think this is no big issue

Example (link goes to an image which is offset):
https://www.mapillary.com/app/user/umap?lat=47.990463178616324&lng=10.177083214675122&z=17&feedItem=user-pyQrwn2chX

[2017-08-07 15:32] jotpe opened #2652 "wrong blurs"
I always correct the blurs of my sequences. The blur matches were improved some time ago, but after that step there was no noticeable improvement anymore.
I see a lot of false positives... Faces which are not blurred or license plate which are not or one letter is uncovered. Half faces or half license plates are never blurred.

Are corrections part of learning material? It is frustration to correc

[2017-08-07 15:37] jotpe opened #2653 "different levels"
This to images are connected, but there are on different levels. Is this wanted :

https://www.mapillary.com/app/index/ifjj1ref?pKey=63ppvHLjR4-Pf0r2DawBYg&lat=50.877923&lng=7.118663&z=17&mapStyle=mapbox_streets&focus=photo&menu=false
https://www.mapillary.com/app/index/ifjj1ref?pKey=iAgNfXM0sS3X6HcBSqd-bA&lat=50.877827&lng=7.118763&z=17&mapStyle=mapbox_streets&focus=photo&menu=false
![bildschirmf

[2017-08-07 15:43] s-tikhomirov commented on #1130
@ovivoda I no longer experience the issue.

[2017-08-07 16:01] ovivoda commented on #1130
thanks @s-tikhomirov

@pbb72 @ToeBee Any updates on this? Is this one still an issue for you?

[2017-08-07 16:39] jotpe commented on #2652
This one f.e. has no blur, but I don't know why.
![bildschirmfoto von 2017-08-07 18-37-47](https://user-images.githubusercontent.com/3539168/29036439-b31ecf0a-7b9f-11e7-90fb-80ca6a15d437.png)

[2017-08-07 16:46] jotpe opened #2654 "cut sequences"
How can I cut sequences?

[2017-08-07 17:00] voschix commented on #2652
I also intended o report on this subject, thanks @jotpe for bringing this
up.
I produce more photos than I can check for blurring. The process is not
easy and fast enough.
Also, I would have asked the same question: why do I not see an improvement
in the accuracy of the blurring?
I am less worried about the the false positives, than about the false
negatives. Some are really strange; both faces an

[2017-08-07 17:16] gyllen commented on #2650
@pbb72 I think this is solely based on image name, can you confirm this?

[2017-08-07 17:16] gyllen commented on #2651
Critical issue now resolved

@thoschu96 Thanks for reporting

[2017-08-07 17:16] #2651 closed

[2017-08-08 06:10] ovivoda commented on #2543
@nunogand Please check the latest snapshot and let us know if this is still a problem:

http://android-releases.mapillary.io/Mapillary_Android_v3.82-SNAPSHOT1.apk

Thanks!

[2017-08-08 06:21] ovivoda commented on #1995
This should be fixed now in the latest app version and beta versions.

@HolgerJeromin Would you like to have a feature for preferred wifi?

[2017-08-08 06:26] ovivoda commented on #2277
@paulb20 Is this still an issue?

[2017-08-08 09:55] daniel-j-h opened #2655 "Internal server error when retrieving detections for image key"
I just hit an internal server error querying the `/images/{key}/detections` endpoint:

    curl "https://a.mapillary.com/v3/images/Hb2S0nTmcqbwf2iDp3axSQ/detections?client_id=XXX" | jq "."

[code]

(please send me a mail if you need the client id)

---

My use-case was making a query looking at an intersection:

    curl "https://a.mapillary.com/v3/images?client_id=XXX&closeto=13.41919,52.50116&lo

[2017-08-08 10:19] martinskans commented on #2605
So looking at the cloudfront url above it seemed to be for tiles3 so I looked into the configuration for that one and found that headers were cached. That might be what is causing it to work for some regions and not for others so I have white-listed the `Origin` field which they suggest should solve the problem.

Possibly there may be more cloudfront urls involved so maybe if you see it again I wi

[2017-08-08 11:49] ybkuang commented on #2652
@jotpe @voschix We are currently working improving the face/license plate detection. The corrections you've have made are essential to improve our algorithm.

In this new version of the detection algorithm, we're taking into account of context information e.g. locations of the pedestrians/vehicles (same as @jotpe suggested). In this way, we will ensure low false positive and low false negatives. W

[2017-08-08 12:38] HolgerJeromin commented on #1995
As i like to have control it would be nice. But #2337 is bothering me much more.

[2017-08-08 13:42] jotpe commented on #2652
I think it can be a good idea for technical freaks, to see blurring statics in the weekly digest, too.

And I believe it would help the motivation of your blur correctors, to tell regularly about your work and status about the blurring algorithm. This allows the user to derive a relationship between his work and the algorithm quality.

[2017-08-08 15:15] katrinhumal commented on #2653
@jotpe Thanks for pointing this out! As for now, we don't have a way to separate between levels on Mapillary. Everything counts as "street level" (this, besides the lack of GPS, is also one of the biggest obstacles between Mapillary and indoor mapping). So right now, I'm afraid there is not much we can do about that...

[2017-08-08 15:17] katrinhumal commented on #2654
Hi @jotpe - it's not possible for you to cut sequences post-upload. If capturing with the mobile apps, you can choose when you start a new sequence. If uploading with the web uploader, you can publish in batches and each batch will form one sequence. We do have a bot that automatically cuts sequences where the photos are too far apart. This should happen within a few days from the upload.

[2017-08-08 15:34] jotpe commented on #2654
I would like be able to do that too, *feature request*

[2017-08-08 16:50] paulb20 commented on #2277
Not at the moment, though I expect that continuing to support ancient hardware will produce problems in the future.

[2017-08-08 16:50] #2277 closed

[2017-08-09 05:04] jfburke3 commented on #2622
Erm...  That's...kinda not fun when driving a few hundred miles (having to press the button to take a picture).  I'm going to have to pass on testing that, except for maybe a short sequence one day.

[2017-08-09 07:21] katrinhumal commented on #2622
I think @peterneubauer meant the manual mode for if you're capturing a panorama view around you when standing in one spot. This is of course not feasible for driving, as you point out @jfburke3.

[2017-08-09 07:23] katrinhumal commented on #2654
Thanks - we've heard that from people a couple of times before, but since it's competing with lots of other stuff to develop, it's not been taken into the near-term plan yet. On the positive side, it's not off the table either, so let's see how this goes. :)
Closing this issue since no immediate resolve.

[2017-08-09 07:23] #2654 closed

[2017-08-09 07:45] pbb72 opened #2656 "Too many notifications"
Both the (Android) app and the email are giving too many notifications about photos being published.

I'm currently getting a new notification every few hours, sometimes about just a handful of images.

Please, only send ONE notification for each sequence that has been published.

[2017-08-09 07:50] pbb72 commented on #2650
I doubt that very much, since all my sequences have the same image names (00000000.JPG, 00000001.JPG, etc). If conflicting file names would have been the problem, far more images would have been skipped.

[2017-08-09 07:51] pbb72 commented on #1130
I'm not using the Mapillary app anymore (since having the screen always on causes numerous problems), so I can't say.

[2017-08-09 07:54] HolgerJeromin commented on #2449
For me this seems to be fixed

[2017-08-09 10:52] raymondde opened #2657 "Sequence stucks at the same coordinate"
Another user added a comment to https://www.mapillary.com/app/?pKey=LZIwnsYe902ThqLFvd4e5A&lat=50.913485149999985&lng=7.031052369999998&z=17

All (?) images of this sequence seems to have the same coordinate. It was recorded was an iPhone 4. I do not know if this is a malfunction of the iPhone or an issue with Mapillary.

To repair the sequence I can offer to upload the GPX track of this track, re

[2017-08-09 15:03] millenbop commented on #2637
This has been fixed now, will be out in the next release.

[2017-08-09 15:03] #2637 closed

[2017-08-09 15:52] gyllen commented on #2655
@ptpt Please elevate to internal issue

[2017-08-09 15:53] gyllen commented on #2650
@nickplesha Can you take a peak at this?

[2017-08-09 16:48] #2655 closed

[2017-08-09 16:59] ptpt commented on #2655
@daniel-j-h Thanks for reporting. The backend should actually return 401 instead of 500 if the client ID is not permitted to access image detections. Now it should be fixed. Feel free to contact sales for editing OSM for free. See https://www.mapillary.com/developer/api-documentation/#image-detections

[2017-08-09 20:33] ptpt commented on #2648
@talllguy Thanks for reporting. The CORS is enabled for all origins for sure, but sometimes I suspect some glitches happen in the caching side (cloudfront), so for some tiles, CORS headers are not updated or cached and therefore not loaded.

As I checked just now, all tiles showed without any error in Chrome console. Could you try to refresh again?

[2017-08-09 22:38] richlv commented on #2637
great, thank you :)

[2017-08-10 06:34] katrinhumal commented on #2650
@pbb72 just a heads-up - @nickplesha is on holiday just now but will surely take a look once he's back.

[2017-08-10 08:37] millenbop commented on #2610
Perhaps the SDK will fix this issue in the future. I have reverted the time/date setting to use the old method (i.e. not using the SDK) for now so it should behave as before.

Will be out in the next release.

[2017-08-10 08:37] #2610 closed

[2017-08-10 13:58] ulikoehler commented on #2657
That certainly doesnt look right, but is it correct that the sequence was taken in 2015? Maybe it was an issue with an old version of the app?

[2017-08-10 14:00] raymondde commented on #2657
Yes, 2015 is correct. I cross-checked with my separate recorded GPX tracks.

[2017-08-10 15:00] katrinhumal commented on #2656
@pbb72 Thanks for raising this point. In general, you should be getting only one notification per sequence. The catch is that a sequence that you capture might not always overlap 100% with a sequence that has been processed and reaches the map. That is because actually, in the eyes of our system, there is not really the concept of a sequence before the images get processed on the map.

When you st

[2017-08-10 15:02] katrinhumal commented on #2657
@raymondde Thanks for reporting! If this was taken a long time ago and the current app version doesn't give you trouble, then we just need to fix your existing sequence. Would it work for you if I get you the image originals (I don't suppose you have those still) and you use either our scripts or some program like Geosetter to combine that with the GPS track, then reupload? And we can delete the o

[2017-08-10 17:47] pbb72 commented on #2656
I think I understand what you are saying, but that means the only interruption that is happening must be on the server, because all my uploads are easily finished within an hour, and I haven't pressed pause.

I am doing all my uploads through the web interface. The only place where there often is a multi-hour gap, is between the uploading and pressing the "publish" button. (I still don't understan

[2017-08-10 19:19] ulikoehler commented on #2621
Since at least the last beta version from Google Play I've not encountered the stray image issue any more on Android. It would be great it someone could cross-check this.

[2017-08-10 19:19] raymondde commented on #2657
@katrinhumal Right, I do not have the original images. As always deleted after uploadiing to Mapillary. Getting these images would be great. Matching the images with my GPX track should work with GeoSetter (already installed on my laptop. Thank you for your help.

[2017-08-10 19:23] ulikoehler commented on #2657
@raymondde I think @katrinhumal meant they can provide you with the original images. I think using the python script `upload_with_preprocessing.py` would work (maybe the GeoSetter approach will work as well, I haven't worked with it) but I'm not sure how exactly it works internally.

[2017-08-10 19:38] raymondde commented on #2657
@ulikoehler Yes, that is what I understood from @katrinhumal 's answer. Maybe my reply was misleading. Sorry. Waiting for the original images now..

[2017-08-10 19:54] nunogand commented on #2543
So far seems to be working well. But next week I'll try it again for more
time.

Nuno

Em 08/08/2017 07:10, "ovivoda" <notifications@github.com> escreveu:

[2017-08-10 19:57] ulikoehler commented on #2657
@raymondde Sorry, I must have misunderstood you previously. In case you have no experience with the scripts, I can try to help if you want. Please feel free to ask :-)

[2017-08-10 20:05] ovivoda commented on #2543
Thanks Nuno,

We have even more fixes in the latest beta app launched on GooglePlay
3.83-BETA

Ovidiu

On Thu, Aug 10, 2017 at 10:54 PM, nunogand <notifications@github.com> wrote:

[2017-08-11 08:23] thoschu96 opened #2658 "wrong name of Location"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Search for a City over https://www.mapillary.com/app/
 2. Provide "64546"

and

 1. Search for a City over https://www.mapillary.com/app/
 2. Provide "Walldorf"

### Expected behavior

Should list 64546 Moerfelden-Walldorf (and others that are have postalcode 64546)

### Actual behavior

Its showing FKK, Wilds-, Walldorf

[2017-08-11 11:56] katrinhumal commented on #2657
@raymondde Sounds great, I'll be getting you the images soon - meanwhile, do you want to give me your email address so I can share them with you then? Please send it to support@mapillary.com if you don't want to wave it around here in public. :)

[2017-08-11 11:59] raymondde commented on #2657
@katrinhumal Email address sent per mail.

[2017-08-11 12:14] kudarisenmon commented on #2596
Version 3.83-BETA works fine.
Thank you.

[2017-08-11 12:14] #2596 closed

[2017-08-11 13:45] katrinhumal commented on #2658
@thoschu96 Thanks for bringing this up! We are actually using Mapzen's search so it's not built by us. But @gyllen or @peterneubauer might have more insights into if and what we could do here from our side.

[2017-08-11 14:35] katrinhumal commented on #2656
@pbb good input! Yes, in this case, it's surely our fault that your sequences ended up interrupted. We had some quite big disturbances yesterday. The gap between uploading via the web and pressing "Publish" should not make a difference though, since it's only the publishing that sends the images off for processing. The part before that is the one where we're still able to detect if you're trying t

[2017-08-11 14:42] katrinhumal commented on #2624
@richlv Sorry for ignoring you for so long!! Here's how it's going to work (according to @millenbop who is working on this as we speak):

There are two threads running in parallell:

Thread 1:

for every file
  if EXIF is missing
    add missing EXIF
    add file to upload queue
  else
    add file to upload queue
Thread 2:

for every file in upload queue
  upload
  delete
Processing files is a lo

[2017-08-12 00:16] jfburke3 opened #2659 "Distance and Time based capture not working in Android 3.68 beta"
Both distance and time capture appear broken in 3.68.  I was parked with distance move enabled and the app was taking pictures as fast as possible. If i disable distance mode and St the time interval to 10 seconds, it still took pictures every half second of one second.

[2017-08-12 00:23] jfburke3 commented on #2659
Or maybe not.  Went into developer settings to enable trace logs and saw skip location check was enabled. Not sure how that happened. Disabled it and things seem normal.

And version is 3.83 not 3.68.

[2017-08-12 00:23] #2659 closed

[2017-08-12 09:37] kudarisenmon opened #2660 "The frame of the preview and taken picture are different"
### Basic information
* Platform: `Android`
* Version: `3.83-BETA`
* System/Browser: `Android 4.2.2`

### Steps to reproduce behavior

 1. Preview and Capture

### Expected behavior

The box of the preview and taken picture are same.

### Actual behavior

The box of the preview and taken picture are different.
Look at a position of the bicycle mark on the road.
The aspect ratio of the preview seem

[2017-08-12 14:37] Klumbumbus commented on #1366
it seems 403 error was fixed :)

[2017-08-13 05:23] HolgerJeromin commented on #2660
Same as #2259 ?

[2017-08-14 01:15] ulikoehler commented on #2579
@peterneubauer
After many test sequences with the new beta release on Google Play, I can safely say it worked without any issues so far.

@jfburke3 Could you cross-check this? If it works for you as well, I think we can close this issue.

[2017-08-14 08:05] peterneubauer commented on #2660
@kudarisenmon this is most likely an issue of matching the closest preview aspect ratio to the image ratio Can you please attach a log when you have started the app and just taken an image, so we can see the model, and the aspect ratios of image/preview?

[2017-08-14 08:14] katrinhumal commented on #2659
@jfburke3 self-resolving issues, we love those! Thanks for reporting and let's keep an eye on this anyway. It doesn't sound completely right even for the case where location skip is checked, but I think for now this is not a priority to sort out, we still have lots to do to get the standard capture stable first.

[2017-08-14 08:28] peterneubauer commented on #2622
While driving, it is highly unlikely that you will get any usable compass info from the phone anyway because of the metal-distortion. Better to set it into fixed-direction offset when driving.

However - the images pointing north when using the device compass in auto mode is a bug, looking into it.

[2017-08-14 11:17] kudarisenmon commented on #2660
Here is the startup debug log.
[mapillary_trace (2).txt](https://github.com/mapillary/mapillary_issues/files/1222030/mapillary_trace.2.txt)

[2017-08-14 12:28] thoschu96 opened #2661 "ESRI showing wrong map"
### Basic information
* Platform: `Web`

### Steps to reproduce behavior

 1. Check Mapping in Roedelsheim (Frankfurt) - Roedelheimer Landstrasse

### Expected behavior

We should see an S-Bend on the ESRI Map Layer, but it's a straight street.

### Actual behavior

...
![image](https://user-images.githubusercontent.com/10342344/29271628-b1ca5ae0-80fc-11e7-9383-b4a02e9ca28b.png)

![image](https://

[2017-08-14 15:27] gyllen commented on #2658
@katrinhumal Unfortunately there is nothing we can do about this because as you stated the search is powered by Mapzen.

[2017-08-14 15:28] gyllen commented on #1366
@Klumbumbus Correct we do have a working raster tile overlay now :)

[2017-08-14 15:29] gyllen commented on #2661
@knikel Please look at this and elevate if needed.

[2017-08-14 16:40] JamesKingdom opened #2662 "Cancelling upload causes all images to be uploaded"
### Basic information
* Platform: `Android`
* Version: `3.61`

### Steps to reproduce behavior

 1. Start uploading one sequence
 2. Click `Cancel`
 3. Click `Resume`

### Expected behavior

It will resume uploading just that one sequence

### Actual behavior

It uploads every sequence on your phone

[2017-08-15 07:12] katrinhumal commented on #2662
Hi @JamesKingdom - thanks for reporting! Would it be possible for you to send us some logs of this? Please go to Settings > Developer and check "Save debug logs to file". Then try to reproduce the problem, and send the logs from the left-hand menu.

A second thing you could do is to join the beta programme (from the same menu or from Google Play) and see if that version gives you the same problem.

[2017-08-15 07:51] zagor opened #2663 "Very slow "upload" tab"
### Basic information
* Platform: Android
* Version: 3.83
* Phone: Xiaomi Redmi 4X

### Steps to reproduce behavior

 1. Capture many thousands of photos during your holiday
 2. Click "Upload" tab
 3. Wait a very long time

### Expected behavior

Reasonably responsive behaviour even with lots of photos

### Actual behavior

Mapillary is spending so much time enumerating photos that Android thinks

[2017-08-15 09:08] katrinhumal opened #2664 "Mass blur edits for advanced users"
Mapsydaisy... wrong repo :)

[2017-08-15 09:13] #2664 closed

[2017-08-15 09:50] richlv commented on #2624
no worries about the delays at all.
thank you, that seems very reasonable and nice. i hope the ability to add tags without an upload won't go away :)

[2017-08-15 09:55] katrinhumal commented on #2624
Nope, the plan is to keep that option so that you can retain copies of your images (or just transfer and upload them with some other method).

[2017-08-15 10:59] #2624 closed

[2017-08-16 22:49] grinapo opened #2665 "bad resolution"
### Basic information
* Platform: `Android`
* Version: beta
* System/Browser: oneplus1, lineage os latest

### Actual behavior
bad image:
https://www.mapillary.com/app/user/grin?lat=47.52897987643618&lng=21.721103381012654&z=15.499809234371524&pKey=O4IOYU31-O4RvTXr5BzAJQ&focus=photo&feedItem=user-z0MYuvsI0U-carCVexI55Q-activity-user-z0MYuvsI0U-carCVexI55Q-publishing_done-image%3A1502830481976

goo

[2017-08-17 08:40] knikel commented on #2661
@thoschu96: It looks to me that these are two different vector styles of the basemap. Do you happen to know which ESRI style is the one you posted a screenshot of? AFAIK we're using the style for ESRI basemap _as is_ without any modifications and it's one of the _simpler_ ones they provide (less details).

[2017-08-17 12:51] GITNE commented on #2660
Btw, the device's camera auto mode chooses really poor photometric settings, if one is to believe the EXIF data.
[code]
ISO speed of `8000` :astonished: with an aperture at `F2.2` (which I assume is fixed anyway) in merely cloudy daylight! Wow, something is really wrong with the auto mode on that device. This clearly indicates that the auto mode outlandishly favors short exposure times over pictur

[2017-08-17 13:27] GITNE opened #2666 "Images and sequences from the future"
The repository accepts images and creates sequences with time stamps in the future.

### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Any`

### Steps to reproduce behavior
 1. For example, goto [`https://a.mapillary.com/v3/images/?client_id=MkJKbDA0bnZuZlcxeTJHTmFqN3g1dzo1YTM0NjRkM2EyZGU5MzBh&end_time=2020-12-31`](https://a.mapillary.com/v3/images/?client_id=MkJKbDA0bnZu

[2017-08-17 13:43] GITNE commented on #2666
I have just discovered that many of the sequences *from* the future have been created from video processing. Take these images/sequences for example: [`https://www.mapillary.com/app/time-travel?pKey=IvTn1vmfh9Oe9S-7RzGS_A&focus=photo&cKey=YxzHqsXfPF8sMqXi7qpd7g`](https://www.mapillary.com/app/time-travel?pKey=IvTn1vmfh9Oe9S-7RzGS_A&focus=photo&cKey=YxzHqsXfPF8sMqXi7qpd7g).

[2017-08-17 18:33] pbb72 commented on #2656
It looks like it indeed was a temporary problem. I am not getting notifications for partial sequences anymore.

[2017-08-17 18:33] #2656 closed

[2017-08-17 18:44] katrinhumal commented on #2656
That's nice. We'll work on making the system more stable, i.e. try to avoid the underlying problem so that you wouldn't be flooded like this again.

[2017-08-17 19:13] HolgerJeromin commented on #2665
I have the same since a few weeks every now and than on my Fairphone 2 (android 6, legacy cam api). Some sequences are very ugly and buggy funny colors, too.
The sequence after that has normal quality.
I do not upload these.

[2017-08-17 19:14] zagor commented on #2663
Issue remains in v3.86.

[2017-08-17 21:43] gyllen commented on #2666
@GITNE Thanks for this information

@peterneubauer reassigning

[2017-08-18 07:45] thoschu96 commented on #2661
hey @knikel : the first picture is from Mapbox Streets and the Second is from ESRI Streets.
But i can't see , which Version is taken..  i guess, thats need to get checked from internal
My Opinion is, that all BaseMap that can be choosen, showing detailed level with correct Streets.
Or make a Flag, that the Enduser who choose the BaseMap Adjustment, see that it has less details (for speeding up the

[2017-08-18 08:34] richlv commented on #2649
i was also confused about that at first, but having used website before i managed to guess which is the right button. new users might give up before finding it.

[2017-08-18 08:35] richlv opened #2667 "ios app might be losing images"
mapillary ios app 4.8.2, iphone 6.

took 1100+ images. started the upload. in less than a minute it told me all images were uploaded. although my connection isn't bad, i'm quite sure it is not possible to upload that many images in that short time, this i suspect the images might be lost.

this is a rushed report, i haven't done full testing yet or verified that the images are gone.

[2017-08-18 08:55] arvdk opened #2668 "User Filter and Time Filter gives incomplete result"
### Basic information
* Platform: `Web`
* Version: `current`
* System/Browser: `Tested on chrome & IE11`

### Steps to reproduce behavior
1. Check the west part of the [city center of Gouda](https://www.mapillary.com/app/?lat=52.011212408654984&lng=4.712442244530649&z=15.452896331166848),The Netherlands (most sequences are mine)
2. Filter by date or by [user = arvdk](https://www.mapillary.com/app/

[2017-08-18 09:24] katrinhumal commented on #2668
@arvdk Thanks for bringing the report here! Handing this over to the developer team.

[2017-08-18 09:44] GITNE commented on #2649
Yes, this has been my impression since the *relaunch* too. The map should be like almost right into your face because it is what Mapillary is all about. And, the second thing that should be as obvious as the map itself is the fact that anyone can/should contribute images to the map. These two basic principles should be equally immediately recognizable and comprehensible.

Btw, I kept silent about

[2017-08-18 10:03] GITNE commented on #2649
`Create account` gives no reason why anyone should do this. It should rather say `Contribute photos` or the like. Generally speaking, the button labels on the front page should sound engaging and inviting do something or to join Mapillary but should also be comprehensible. The other stuff on the page should give reasons to why should one click those buttons.

`Explore places` sounds engaging but t

[2017-08-18 11:28] millenbop commented on #2667
Thanks for reporting, I'll look into it!

[2017-08-18 12:06] millenbop commented on #2667
Ok fixed now. So sorry about this! Uploading update to Apple now.

[2017-08-18 12:06] #2667 closed

[2017-08-18 12:12] richlv commented on #2667
thank you for the quick fix

[2017-08-18 19:47] gyllen commented on #2668
@arvdk Thanks for reporting

@ptpt This looks like a bug in tiler to me, there should be no reason why that sequence should not be filtered in since it should have `arvdk`s key. Can you look at this and elevate if necessary.

[2017-08-19 10:07] mxa commented on #2630
Btw, above happens when you accidentally drag a file (image) into the upload window while uploading.
![screenshot from 2017-08-19 12-07-04](https://user-images.githubusercontent.com/1220707/29485726-03722b74-84d7-11e7-9181-853c4179745f.png)

[2017-08-20 01:24] yopaseopor opened #2669 "Force landscape mode in Android TV Sony Bravia with some setting"
When I put your app in my new Android TV Sony Bravia I have a problem: app insist in being in portrait mode so Mapillary app is rotated 90 degrees to the left. Is it possible to add some option or setting to "force" landscape mode? If not I have to install other app to do so, but for now Mapillary is the only app does not respect the layout of my Android TV.

[2017-08-20 05:16] zzptichka opened #2670 "Order of photos in sequence is incorrect"
### Basic information
* Platform: Android 7.1.2 on Google Pixel
* Version: 3.86

### Actual behavior

Photos in my recent sequences come out rearranged. If you go to next photo in sequence it sometimes it jumps forward, sometimes it jumps back. Not a GPS issue. Photos are mapped correctly, it's the order that is messed up. As if timestamps are assigned incorrectly by the app/phone.
I'm shooting wi

[2017-08-20 06:42] mr-j0nes commented on #1625
I see there is no more talks about this, but this is a feature that could be really make a huge difference.

Makes no sense to keep the display on once the app is configured to take pics automatically. Sort of when I setup my MP3 player I can just turn off the screen and the music keeps playing, if I want to access the player, I just turn on the screen and handle that from the notifications area,

[2017-08-20 06:50] mr-j0nes opened #2671 "Re-login after settings ?"
I have noticed when I exit from settings the APP tries to login again.
This is a huge drawback when I have no internet, the APP gets stuck trying to load the login page..

[2017-08-20 06:59] mr-j0nes opened #2672 "Login should be required only at the moment of upload"
The Mapillary APP is mainly an off-line tool, I am able to take as many pics as I want without actually needing any Internet access, except when I want to upload them or show them on the map..

But currently the login request appears when opening the APP, which gives little possibilities if one has no Internet access or was not logged in before losing the access..

So it would be good to either re

[2017-08-20 18:20] chk1 commented on #2670
Mapillary 3.86
Xiaomi Redmi 4X Global
Android 6.0.1 based MIUI 8.2.18
64GB SD Card configured for Mapillary storage

I have the same issue with basically all longer sequences I took. Some images are already wrongly ordered when I review images from the app's Upload tab. File names (shown in the app title area above the image) and GPS locations are correct and in order, but when I switch between im

[2017-08-20 21:33] damjang opened #2673 "Android new version 3.86 issues"
I have tested the last android version and find that on my Samsung Galaxy S7 the Distance base capture don't work anymore. It take near 2 photo per second and also if I'm stopped take non stop photos. And also the "Use device compass" don't save the correct rotation.

PS: now I see that there are 2 new build in beta repository (android-releases.mapillary.io/index.html). Can someone explain what th

[2017-08-20 22:52] hakuchi commented on #2670
I also have this issue.
Something have changed in the last update, because on version 3.85(or was this 3.84) the photos are uploaded correct

[2017-08-21 00:47] yopaseopor opened #2674 "Give some ID to every IA recognized item"
Now as you have new types of automatic recognition of different things it would be interesting to give every element an unique ID. This would be so useful to solve, for example traffic sign recognition duplicates as the community would mark the meaning of every item and this would never be repeated again, because an item could be watched in more than one pic. Also this would enable the possibility

[2017-08-21 04:03] arky commented on #1625
@peterneubauer  Guess we now have enough feedback on this feature request. Perhaps it's time consider  adding this feature?

[2017-08-21 07:35] echeloni2p commented on #2665
Hi

looks like the API of the mobile does some bad things. In these cases: kill mapillary app and restart.
Or use the old style API, not APIv2. I got this with my onePlus3, to. Use old style API (in the settings) prevents mapillary do have bigger issues.
It is a API issue, as the mobile phone companies do not really support the case of doing hundreds of pictures one after another. They simply do n

[2017-08-21 07:38] HolgerJeromin commented on #2665
As i wrote: i do use the legacy cam api....

[2017-08-21 07:53] echeloni2p commented on #2663
I just had >8k pictures in 60 sequences on my honor 7, no issues so far. It took a few moments, but thats fine, just click on upload and it runs.
Looks like the storage of the redmi 4i is really really slow. Where is the limit for you?
You can e.g. move the sequences one by one to another directory?

echelon

[2017-08-21 08:02] zagor commented on #2663
Sure it may be a little slow, but not drastically so. I ran "A1 SD Bench" and it shows 150 MB/s read speed and 95 MB/s write speed. That doesn't sound super slow.

[2017-08-21 11:00] GITNE opened #2675 "Web uploader causes double uploads"
### Basic information
* Platform: `Web`
* Version: `Any`
* System/Browser: `Firefox`

### Steps to reproduce behavior
1. Choose files to upload
2. Wait for a few files to complete uploading
3. Cancel upload by clicking `Exit Uploader`
4. Return to uploader
5. Click `Delete all`
6. Choose the same files to upload as in step 1
7. Click `Upload`

Note that although the counter does not move and stays

[2017-08-21 13:39] GITNE opened #2676 "Authentication vulnerable to leaking login credentials"
### Basic information
* Platform: `iOS`, `Android`, `Web`
* Version: `Any`
* System/Browser: `Any`

The current authentication scheme via `https://a.mapillary.com/v1/u/login?email=<email>&password=<password>&client_id=<client id>` is vulnerable to leaking credentials to URL history lists (like browser history, proxy logs, or server logs) and cache hash maps (like in browsers and on HTTP(S) proxies

[2017-08-21 17:47] grinapo commented on #2665
@echeloni2p also it used to work, and it works randomly, and it's almost impossible to detect it within the app. I have full debug logs around, at least I intend to. :)

[2017-08-22 08:35] peterneubauer commented on #2666
So, some of the videos actually have a future date, we are looking into that. Also, there are some images that are on future dates, I will check that out and try to correct it.

[2017-08-22 11:49] richlv opened #2677 "latest ios app version frequently becomes unreponsive"
ios 9, mapillary 4.8.3.

since the latest upgrade (or two), the app frequently becomes unresponsive. while the pic is update normally, no controls react to tapping. at the same time, whole phone becomes slow - even after force-killing mapillary, phone can be unresponsive for ~5 seconds.

there are times when the app works ok for hours, and times when it hangs every 10 seconds - it hangs, kill it.

[2017-08-22 20:14] frodrigo commented on #2670
Same problem
Android App : 3.86
LineageOS, Android 6.0.1, Galaxy Nexus
https://www.mapillary.com/app/?lat=44.825941252036046&lng=-0.5342307391028669&z=18.928371813780153&pKey=4HzBqthJG5BSamg0dH9osA&focus=map&menu=false

[2017-08-23 09:36] millenbop commented on #2270
Finally got around to fixing this one. Was gonna do it when I did the move to GPX but since it hasn't happened yet I fixed this in the meantime.

Will be out in the next release.

[2017-08-23 09:36] #2270 closed

[2017-08-23 10:03] gthrepwood commented on #1892
Not fixed

[2017-08-23 14:26] habi opened #2678 "Give some love to the 'mapillary_tools' repo"
There's a ton of pull requests over at https://github.com/mapillary/mapillary_tools/pulls

Could someone from Mapillary look at them and accept or reject some?

[2017-08-23 16:11] heatshear opened #2679 "@sequence_cut not working"
### Basic information
* Platform:  `Web`
* Version: `60.0.3112`
* System/Browser: `Chrome`

### Steps to reproduce behavior

 1. Upload images with a long gap in the sequence
 2. Wait patiently for @sequence_cut to do its thing
 3. Keep waiting

### Expected behavior

@sequence_cut will cut the sequence (used to work fine)

### Actual behavior

Nothing happens - I have a few sequences that never g

[2017-08-23 18:28] HolgerJeromin commented on #2672
The login data is saved into the images itself. Thats why it is not possible to capture without having a stored login.
At least it was the case a few years ago.

[2017-08-24 07:25] eneerhut commented on #2670
Hi all,

Thanks for reporting this issue. It has been fixed so make sure you're on 3.89.

I'll check with the team to see if previously uploaded sequences can be corrected. Sorry for the inconvenience.

[2017-08-24 08:03] millenbop commented on #1657
Mapbox don't wanna fix it, see https://github.com/mapbox/mapbox-gl-native/issues/9828

[2017-08-24 08:03] #1657 closed

[2017-08-24 08:08] peterneubauer commented on #2670
Yes, it might be possible to rearrange the sequences - the timestamp in the EXIF has been written wrong in some versions of the app. We are tracking this. Thanks!

[2017-08-24 10:26] oscarlorentzon commented on #2504
No tiling problems reported or experienced recently. Please reopen or create a new issue if a similar problem occurs.

[2017-08-24 10:26] #2504 closed

[2017-08-24 10:32] oscarlorentzon commented on #2026
Closing this because the corresponding issue in the MJS repo has been closed.

[2017-08-24 10:32] #2026 closed

[2017-08-24 10:36] oscarlorentzon commented on #1480
We have improved our 3D reconstruction algorithms (http://blog.mapillary.com/tech/2017/07/26/improving-3d-reconstruction-with-semantic-understanding.html) and the time travel links for these sequences now look very good even though the original GPS positions for the respective tracks have large drift with respect to each other.

[2017-08-24 10:36] #1480 closed

[2017-08-24 10:50] jaakkoh commented on #2621
Hmm. I took about 76 thousand photos driving 8000+ km across Europe in July and first had problems with my first batch (SD card full) of 21k or so photos. I think I had some stray photos but didn't pay attention that much as (I think that) they eventually uploaded ok.

I then copied back to the SD card another batch of around 30k photos and these are all failing to upload due to the stray photo er

[2017-08-24 11:21] HolgerJeromin commented on #2672
I never lost my auth in the app.

[2017-08-24 11:25] mr-j0nes commented on #2672
Maybe it depends on which authorization type you use. I use openstreetmap's one, and the Auth keeps getting lost..

[2017-08-24 13:55] nickplesha commented on #2650
@pbb72 Can you attach the files you're trying to upload so we can pinpoint what's causing the issue?

[2017-08-24 14:54] drkludge commented on #2672
My phone died the other day.  It seems that I forgot to charge it overnight and continued to used it the next morning until its death.  Later in the day after a good charge I was ready to start the app only to be greeted by a login requirement.  I was at a stop light when I discovered the problem.  The login requirement of the newer application versions baffles me.

A long time ago I believe the a

[2017-08-24 17:00] arvdk commented on #2577
## Basic information
* Platform: "Android 5.0.1"
* Device: "Samsung Galaxy S4"
* Mapillary app Version: "3.89" (enrolled for beta)

## Steps to reproduce behavior
Open Mapillary and record sequence
Settings: Time based capture, 1.5s

## Actual behavior
Shooting a sequence with the phone in hand. I sometimes (not always) see the phone having a hard time processing a picture (picture is shown longer

[2017-08-24 17:05] nighto commented on #2577
Tried yesterday the new beta version (3.89) while walking on foot, and the problem didn't happen again.

[2017-08-25 04:55] ovivoda commented on #1892
@gthrepwood Have you used v3.89 and still have upside down images? How many are them? an entire sequence? Was that a bumpy road you were capturing on?

[2017-08-25 10:29] gthrepwood commented on #1892
@3.89 yes
Entire sequence
No bumpy road. Other apps do not have (ever) issue detecting 90 or 180
degree turn.

On Fri, Aug 25, 2017, 06:55 ovivoda <notifications@github.com> wrote:

[2017-08-25 11:56] pbb72 commented on #2650
Trying to build a test set of images, I think now there is two unrelated issues that I though were the same, and which made me discard the previous comment by @gyllen.

It is correct that photos with the same filename can not be uploaded in one sequence, **if** they are dragged as selections of files into the browser. However, if the **directories** containing the files are dragged into the browse

[2017-08-25 16:11] floscher commented on #2670
Maybe [`YBBJPQajH1mI4aadmJCUXA`](https://mapillary.com/map/s/YBBJPQajH1mI4aadmJCUXA) is another example of this issue. Additionally to the incorrect order, the images are also upside down.
It could be that it's a separate issue, because the images have been taken with a GoPro according to the Mapillary API, but I first wanted to comment here in case it's the same issue.

[2017-08-27 15:56] de-vries commented on #1480
nice job!

[2017-08-28 03:57] andrewharvey commented on #2665
I'm running into this as well when capturing on Android. It looks like it only has the thumbnail size, seem to be random per sequence.

[2017-08-28 04:02] andrewharvey commented on #2660
I ran into this too on the OnePlus One. In a car looking at the preview in the Mapillary app it looked like there was a clear view, but later seeing the photos it actually captured part of the dash. Easy workaround is to check through the camera app first, but new users won't know that and will run into this issue.

[2017-08-28 04:07] andrewharvey commented on #2652
I agree, before reading this thread it's wasn't clear if manual blurs (both deleting false positives and adding false negatives) were actually fed back as training data.

[2017-08-28 05:23] jfburke3 opened #2680 "Frequent crashes since Android patches (Samsung Galaxy S7 Edge, Android 6.0.1)"
Special note:  Up until now, my phone has been running AT&T baseband version G935AUCS2APC2 (aka "PC2").  All of my previous Github issues were related to that version.  Not sure how the new release I have installed will affect those yet.  It might be a good idea for you to add "Android baseband version" to the information you request from people.

### Basic information
* Platform: Android 6.0.1
*

[2017-08-28 05:25] jfburke3 commented on #2662
I've encountered the same thing.  This has persisted across several versions.  Not sure exactly when it bega, but it does happen in the current 3.89 release.

[2017-08-28 06:22] drkludge commented on #2680
I am on Platform: Android 6.0.1 also.  My answer to peace and harmony in the universe is as follows:

0. Find version 3.44 of the application and download it to your phone.
1.  Turn off automatic updates for all applications.
2. Update all other applications except Mapillary.  Update daily as the security updates come in.
3. Uninstall your current version of Mapillary.
4. Allow your phone to insta

[2017-08-28 09:21] andrewharvey opened #2681 "Stop sign when traffic lights are flashing or broken"
For example at https://www.mapillary.com/map/im/XcMyajXjUtlh7pDfQSAgww this appears to be detected as a regular stop sign. But those three black circles mean its different. It means stop when the traffic lights are flashing or broken.

![selection_001](https://user-images.githubusercontent.com/117278/29767429-beca2fa2-8c25-11e7-92a2-827427e803a1.png)

[2017-08-28 14:04] grinapo commented on #2665
As a constructive-feeling comment I would - sadly - advise to check the image resolution (or even its general and known jpeg parameters) coming from the API and scream loudly if it differs from what's expected; I mean if you expect imagery sized 4321x1234 you should not happily accept 320x200 sized results. Possibly as a user-switchable safety-debug feature. Surveying a large area in thumbnails is

[2017-08-28 15:01] blobgo opened #2682 "Street sign recognition miscategorizes seamark signs"
Mapiilary does not seem to know different [seamark](https://wiki.openstreetmap.org/wiki/Seamarks/Seamark_Objects) [signs](https://wiki.openstreetmap.org/wiki/Tag:seamark:type=notice) as rendered in iD on OSM.org.

E.g. [here](https://www.openstreetmap.org/edit#map=17/52.40941/13.08744)

[2017-08-28 16:04] jfburke3 commented on #2680
@drkludge Except I want some of the fixes in the newer releases.....

[2017-08-28 16:06] jfburke3 commented on #2680
Annnnd.... there's another Android patch waiting for me this morning.  I'll probably go ahead and install it today (sorry Mapillarians, I know that complicates troubleshooting the problem).  Maybe it'll actually fix the issue.....

For reference, here's AT&T's release notes on the updates.  You'll need to open the "Previous updates" section:

https://www.att.com/devicehowto/tutorial.html#!/stepbys

[2017-08-28 16:08] jfburke3 commented on #2680
I should note that after a while, I gave up on trying to run Mapillary on the S7, and switched to the S5 (Android 5.0), where it ran fine, except that the camera isn't as good.  I also ran OSC on the S7, and it didn't have any problems.  But....OSC doesn't use the Camera2 API.  I didn't try running Mapillary with Camera2 switched off, so if I get some time, I'll try that and see what happens.

[2017-08-28 16:44] jfburke3 commented on #2681
Where is this?  I've never seen a stop sign like that before.

[2017-08-28 17:23] gyllen commented on #2650
@pbb72 @nickplesha

For the issue about allowing upload with same filename I actually think its a feature not a bug. The idea is

1. User uploads images
2. For somehow the upload crashes
3. User reloads page
4. User add complete folder again
5. Previously uploaded files are ignored

[2017-08-28 17:36] jfburke3 commented on #2680
I installed the pending update and jumped from PG1 to PJ4.

[2017-08-28 18:47] jfburke3 commented on #2680
Same issue after update to PJ4.  It takes a random number of pictures before dropping out of camera mode.  I e-mailed in a fresh log (subject line begins with "Github # 2680").

[2017-08-28 19:38] blobgo opened #2683 "Cannot add blurs as image is tilted"
### Basic information
* Platform: `Web`
* Version: ???
* System/Browser: Firefox 55 on Linux

### Steps to reproduce behavior

 1. Edit blurs.
 2. Now, as the instructions show, try to add a blur by drag and dropping.

### Expected behavior

Drag and drop should draw a rectangle, at least when the cursor is a cross.

### Actual behavior

The image is tilted in this 3d area, similar to when viewing

[2017-08-28 20:25] pbb72 commented on #2650
@gyllen The feature you describe is important. However, it should not be done by filename. This should be done by CRC or another check that is less likely to report false positives.

[2017-08-28 21:08] zzptichka opened #2684 ""Suggest Map edit" feature in Web Uploader"
Often when uploading photos through web uploader I come across an error in OSM, like missing path or building or newly constructed road for example.
Would be useful to have a simple button "Suggest Map edit" that would create a note in OSM so you or others can edit this feature later.
Why not jump to OSM and fix it right away? Several reasons:
- No time
- You need this sequence to properly map thi

[2017-08-28 23:46] andrewharvey commented on #2681
You can see the location in the link, it's common in NSW, Australia.

[2017-08-29 02:24] eneerhut commented on #2597
Update 3.89 should have faster GPS fix. Has anyone been able to test and see if the issues are still occurring. Thanks!

[2017-08-29 07:55] eneerhut opened #2685 "_"

[2017-08-29 09:41] AliAdam opened #2686 "Vector Tiles with Esri iOS sdk"
Esri ArcGIS API for JS

i tried to add Vector Tiles with Esri iOS SDK  i follow this tutorial https://www.mapillary.com/developer/tiles-documentation/#esri-arcgis-api-for-js
i  use swift   i add it like this
[code]

but i didn't get any result and no thing added to the map
 is this vector tiles work only for web or any help how can  i add it with ESRI iOS SDK

[2017-08-29 11:05] millenbop commented on #1097
Since we now have vector tiles, this is no longer an issue. Closing.

[2017-08-29 11:05] #1097 closed

[2017-08-29 14:59] gyllen commented on #2650
@pbb72 I tend to agree, Im not sure that the browser will be happy by that though. It would need to read a lot of images into memory. I think in general for an upload files are generally named with different names (please correct me if I am wrong)

[2017-08-29 15:51] pbb72 commented on #2650
It depends on the source of the photos. I'm currently using Time & Tide for taking all photos (since it allows to turn the screen off while taking photos), and that app always names the photos 00000000.jpg, 00000001.jpg, etc.

Would checking the date or size be an option?